﻿@using Kendo.Mvc.UI;


<link href="~/Content/Text-Highlight-Plugin/jquery.marker.css" rel="stylesheet" />
<link href="~/Content/Text-Highlight-Plugin/extensions/spectrum.css" rel="stylesheet" />

<script src="~/Content/Text-Highlight-Plugin/jquery.marker1.js"></script>
<script src="~/Content/Text-Highlight-Plugin/extensions/spectrum.js"></script>


@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>*@
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    #gridAgendaItemSearch .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

    #gridAgendaItemSearch .k-grid td {
        line-height: 1.5em;
    }

    #gridComments .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

    td.noWhiteSpace {
        white-space: initial;
    }
</style>


<div id="divAgendaPreview">

  
    <table>
        <tr>
          
            <td>
                @*style="background-color:#dedddd;"*@
                        <div style="max-height:480px;overflow-y :auto;">
                            <div id="main-content-agenda-preview" class="mycollapse myAgendaComment">




                                @*@foreach (var item in Model.Count)
                        {*@

                                <div id="blogs" class="widget">
                                    <div id="" class="widget-item">
                                        <div class="my-agenda-tool-box">

                                            @*<a role="button" onclick="showAgendaDocumentsNew(@item.MeetingAgendaMappingID)" href="#" style="min-width: 37px; min-height: 36px; font-size: 13px; padding: 0px; margin-left: 5px;"><span class=""><img class="interested" style="width:20px;" src="../../Areas/BM_Management/img/edit.png"></span></a>*@



                                        </div>
                                        <h1 class="w3-tooltip">
                                            Agenda   Heading   <span class="w3-text w3-tag"><b>Heading 1</b></span>
                                        </h1>
                                        <p class="blog-info w3-tooltip">
                                            <span class="w3-text w3-tag"><b>Paragraph</b></span>     Recommendation of PRASHANT PAWAR, as the Company Secretary and Key Managerial
                                            Personnel (KMP) of the Company. <span class="w3-text w3-tag"><b>Paragraph</b></span>
                                        </p>
                                        <br />

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td style="vertical-align: top;"><h4> </h4></td>
                                                    <td>
                                                        <h2 style="text-align:justify;" class="w3-tooltip">
                                                            <span>
                                                                Agenda   Subheading <span class="w3-text w3-tag"><b>Heading 2</b></span>
                                                            </span>
                                                        </h2>
                                                        <p class="blog-info w3-tooltip">
                                                            <span class="w3-text w3-tag"><b>Paragraph</b></span>     Recommendation of Prashant Pawar
                                                            , as the Company Secretary and Key Managerial
                                                            Personnel (KMP) of the Company. <span class="w3-text w3-tag"><b>Paragraph</b></span>
                                                        </p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="vertical-align: top;"><h4> </h4></td>
                                                    <td>
                                                        <h2 style="text-align:justify;" class="w3-tooltip">
                                                            <span>
                                                                Agenda   Body <span class="w3-text w3-tag"><b>Heading 2</b></span>
                                                            </span>
                                                        </h2>
                                                        <p class="blog-info w3-tooltip">
                                                            <span class="w3-text w3-tag"><b>Paragraph</b></span>      pursuant section 2(24) and the provisions of Sections 203 and any other applicable
                                                            provisions of  the  Companies  Act, 2013  & the  rules  made  there  under  (including
                                                            any  statutory modification(s) or re-enactment  thereof for the time being in force)
                                                            subject to the recommendation of the Committee be and is hereby accorded to​ appoint
                                                            PRASHANT  PAWAR as a Company Secretary (CS) w.e.f.
                                                            1 Nov 2020 at a monthly REMUNERATION  of Rs.000000.
                                                            PRASHANT PAWAR had provided his/her consent to act as the Company
                                                            Secretary (CS) and Key Managerial Personnel (KMP) of the Company.

                                                            In view of the foregoing, if the Committee deems fit, following resolution may be
                                                            passed:<span class="w3-text w3-tag"><b>Paragraph</b></span>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                @*}*@
                            </div>
                        </div>
                    </td>

        </tr>
    </table>



</div>

<script>
    debugger
    $(document).ready(function () {
        var FormatData = 1185;
        $.ajax({
            type: "POST",
            url: "@Url.Action("TemplatePreviewShow", "DocumentFormat")",
            data: "{ CustomerId: '" + FormatData + "' }",
            contentType: "application/json; charset=utf-8",
            //data: {
            //    CustomerId: FormatData},
            //data: '{Data: ' + JSON.stringify(FormatData) + '}',
            dataType: "json",
            success: function (result) {
                debugger
               
                //$.each(result, function (i, data) {
                var objData = result[0];
                ChangeValue(objData);

                var objData = result[1];
                ChangeValue(objData);

                var objData = result[2];
                ChangeValue(objData);

                //});


            },
            error: function (result) {
                alert('Failed To Save Format!');
            }
        });

    });

</script>
<script>

    //$(document).ready(function () {
    //    debugger
      
    //             ChangeValue(Model);
          
             
      
    //});

    

  





    function ChangeValue(data) {

        debugger

        var Tag = "p";
        if (data.TemplateFormate == "Paragraph") {
            Tag = "p";
            $("p").css("font-size", data.FontSize);
            $("p").css("color",data.FontColor);
            $("p").css("font-family", data.FontName);
            if (data.IsBold == true)
                $("p").contents().wrap("<b></b>");
            if (data.IsItalic == true)
                $("p").contents().wrap("<em></em>");
            if (data.IsUnderline == true)
                $("p").contents().wrap("<U></U>");

        }
        else if (data.TemplateFormate == "Heading1") {
            Tag = "h1";
            $("h1").css("font-size", data.FontSize);
            $("h1").css("color", data.FontColor);
            $("h1").css("font-family", data.FontName);
            if (data.IsBold == true)
                $("h1").contents().wrap("<b></b>");
            if (data.IsItalic == true)
                $("h1").contents().wrap("<em></em>");
            if (data.IsUnderline == true)
                $("h1").contents().wrap("<U></U>");
         
        }
        else if (data.TemplateFormate == "Heading2") {
            Tag = "h2";
            $("h2").css("font-size", data.FontSize);
            $("h2").css("color", data.FontColor);
            $("h2").css("font-family", data.FontName);
            if (data.IsBold == true)
                $("h2").contents().wrap("<b></b>");
            if (data.IsItalic == true)
                $("h2").contents().wrap("<em></em>");
            if (data.IsUnderline == true)
                $("h2").contents().wrap("<U></U>");
         
        }
       
       

        //$("#p").contents().wrap("<em><b><U></U></b></em>");
    }

</script>



