﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Compliance Documents :: My Documents";
}

<style>
    .k-grid-content .k-state-selected {
        color: #fff;
        background-color: transparent;
        border-color: transparent;
    }

    .k-grid-content {
        min-height: 100px;
        max-height: 450px;
    }
</style>

<!-- Filter Script-->
<script>
    function getFilters() {

        var filter = { logic: "and", filters: [] };

        var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");

        if(ddlMappingType!=null && ddlMappingType!=undefined){
            var mappingType = ddlMappingType.value();

            if (mappingType > 0) {
                if (mappingType == 1) {
                    var filterMapping = { logic: "or", filters: [] };

                    filterMapping.filters.push({ field: "MappingType", operator: "eq", value: "M" });
                    filterMapping.filters.push({ field: "MappingType", operator: "eq", value: "A" });

                    filter.filters.push(filterMapping);
                } else if (mappingType == 2) {
                    filter.filters.push({ field: "MappingType", operator: "eq", value: "S" });
                }
                else if(mappingType == 3) {
                    filter.filters.push({ field: "MappingType", operator: "eq", value: "D" });
                }
            }
        }

        //Company/Entity
        var ddlEntityId = $("#ddlEntity").data("kendoDropDownTree");
        if(ddlEntityId!=null && ddlEntityId!=undefined){
            var selectedCompanies = ddlEntityId._values;;

            var filterEntity = { logic: 'or', filters: [] };
            if (selectedCompanies.length > 0) {
                for (var i = 0; i < selectedCompanies.length; i++) {
                    filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedCompanies[i]) });
                }
                filter.filters.push(filterEntity);
            }
        }

        //FY
        var ddlFY = $("#ddlFY").data("kendoDropDownTree");
        if(ddlFY!=null && ddlFY!=undefined){
            var selectedFYs = ddlFY._values;;

            var filterFY = { logic: 'or', filters: [] };
            if (selectedFYs.length > 0) {
                for (var i = 0; i < selectedFYs.length; i++) {
                    filterFY.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedFYs[i]) });
                }
                filter.filters.push(filterFY);
            }
        }

        //Meeting
        var ddlMeetings = $("#ddlMeetings").data("kendoMultiSelect");
        if(ddlMeetings!=null && ddlMeetings!=undefined){
            var selectedMeetings = ddlMeetings._values;

            var filterMeetings = { logic: 'or', filters: [] };
            if (selectedMeetings.length > 0) {
                for (var i = 0; i < selectedMeetings.length; i++) {
                    filterMeetings.filters.push({ field: "MeetingID", operator: "eq", value: parseInt(selectedMeetings[i]) });
                }
                filter.filters.push(filterMeetings);
            }
        }

        //Agenda
        var ddlAgendas = $("#ddlAgendas").data("kendoDropDownTree");
        if(ddlAgendas!=null && ddlAgendas!=undefined){
            var selectedAgendas = ddlAgendas._values;;

            var filterAgenda = { logic: 'or', filters: [] };
            if (selectedAgendas.length > 0) {
                for (var i = 0; i < selectedAgendas.length; i++) {
                    filterAgenda.filters.push({ field: "AgendaID", operator: "eq", value: parseInt(selectedAgendas[i]) });
                }
                filter.filters.push(filterAgenda);
            }
        }

        //Act
        var ddlAct = $("#ddlAct").data("kendoDropDownTree");
        if(ddlAct!=null && ddlAct!=undefined){
            var selectedActs = ddlAct._values;;

            var filterAct = { logic: 'or', filters: [] };
            if (selectedActs.length > 0) {
                for (var i = 0; i < selectedActs.length; i++) {
                    filterAct.filters.push({ field: "ActID", operator: "eq", value: parseInt(selectedActs[i]) });
                }
                filter.filters.push(filterAct);
            }
        }

        //Director
        var ddlDirector = $("#ddlDirector").data("kendoDropDownTree");
        if(ddlDirector!=null && ddlDirector!=undefined){
            var selectedDirectors = ddlDirector._values;;

            var filterDirector = { logic: 'or', filters: [] };
            if (selectedDirectors.length > 0) {
                for (var i = 0; i < selectedDirectors.length; i++) {
                    filterDirector.filters.push({ field: "DirectorId", operator: "eq", value: parseInt(selectedDirectors[i]) });
                }
                filter.filters.push(filterDirector);
            }
        }

        return filter;
    }

    function filterChange() {
        var filter = getFilters();
        grid = $("#gridMyDocuments").data("kendoGrid");
        grid.dataSource.filter(filter);

        if(grid.selectedKeyNames().length>0)
            grid.clearSelection();
        var filter = { logic: 'and', filters: [] };



        var ddlEntityType = $("#ddlEntityTypeFilter").data("kendoDropDownList");
        var d = ddlEntityType.value();

        var ddlMeetingType = $("#ddlMeetingTypeFilter").data("kendoDropDownList");
        var m = ddlMeetingType.value();

        var ddlStagesFilter = $("#ddlStagesFilter").data("kendoDropDownList");
        var s = ddlStagesFilter.value();

        if (d > 0) {
            filter.filters.push({ logic: "and", field: "EntityType", operator: "eq", value: parseInt(d) });
        }

        if (m > 0) {
            filter.filters.push({ logic: "and", field: "MeetingTypeId", operator: "eq", value: parseInt(m) });
        }

        if (s != "") {
            if (s == "0") {
                filter.filters.push({ logic: "and", field: "IsMultiStageAgenda", operator: "eq", value: false });
            } else {
                filter.filters.push({ logic: "and", field: "IsMultiStageAgenda", operator: "eq", value: true });
            }
        }

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "AgendaHeading", operator: "contains", value: t.val() });
        }

        if (filter.filters.length > 0) {
            $("#clearFilter").show();
        }
        else {
            $("#clearFilter").hide();
        }

        grid = $("#gridKendo2").data("kendoGrid");
        grid.dataSource.filter(filter);
    }

    function ShowHideGridColumns() {

        var grid = $("#gridMyDocuments").data("kendoGrid");

        if(grid!=null && grid !=undefined){
            //Company/Entity Selection
            var ddlEntityId = $("#ddlEntity").data("kendoDropDownTree");
            var selectedCompanies = ddlEntityId._values;;

            if (selectedCompanies.length== 1) {
                grid.hideColumn("CompanyName");
            }else{

            }

            //Meeting Selection
            var ddlMeetings = $("#ddlMeetings").data("kendoDropDownTree");
            if(ddlMeetings!=null && ddlMeetings!=undefined){
                var selectedMeetings = ddlMeetings._values;;

                if (selectedMeetings.length == 1) {
                    grid.hideColumn("MeetingTitle");
                }else{

                }
            }

            //Agenda Selection
            var ddlAgendas = $("#ddlAgendas").data("kendoDropDownTree");
            if(ddlAgendas!=null && ddlAgendas!=undefined){
                var selectedAgendas = ddlAgendas._values;;

                if (selectedAgendas.length == 1) {
                    grid.hideColumn("AgendaItemTextNew");
                }else{

                }
            }

            var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");

            if(ddlMappingType!=null && ddlMappingType!=undefined){

                var selectedValue = ddlMappingType.value();

                //1-Meeting
                if (selectedValue == "1") {
                    grid.showColumn("MeetingTitle");
                    grid.showColumn("AgendaItemTextNew");

                    grid.hideColumn("DirectorName");
                    grid.hideColumn("ActName");
                    grid.hideColumn("Frequency");
                    grid.hideColumn("ForMonth");
                }

                //2-Statutory
                if (selectedValue == "2") {
                    grid.hideColumn("MeetingTitle");
                    grid.hideColumn("AgendaItemTextNew");
                    grid.hideColumn("DirectorName");

                    grid.showColumn("ActName");
                    grid.showColumn("Frequency");
                    grid.showColumn("ForMonth");
                }

                //3-Director
                if (selectedValue == "3") {
                    grid.hideColumn("MeetingTitle");
                    grid.hideColumn("AgendaItemTextNew");
                    grid.hideColumn("ActName");

                    grid.showColumn("DirectorName");
                    grid.showColumn("Frequency");
                    grid.showColumn("ForMonth");
                }
            }
        }
    }

    function ddlMappingType_SelectedIndexChanged() {

        var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");

        if(ddlMappingType!=null && ddlMappingType!=undefined){

            var selectedValue = ddlMappingType.value();

            //1-Meeting
            if (selectedValue == "1") {
                //Clear and Fill Meeting Dropdown
                var ddlMeetings=$("#ddlMeetings").data("kendoDropDownTree");
                if(ddlMeetings!=null && ddlMeetings!=undefined){
                    $("#ddlMeetings").data("kendoDropDownTree").value([]);
                }

                $("#divMeetingList").removeClass('hidden');
                fillMeetings();

                //Clear and Fill Agenda Dropdown
                var ddlAgenda=$("#ddlAgenda").data("kendoDropDownTree");
                if(ddlAgenda!=null && ddlAgenda!=undefined){
                    $("#ddlAgenda").data("kendoDropDownTree").value([]);
                }

                $("#divAgenda").removeClass('hidden');
                fillAgenda();

                //Clear and Fill Act Dropdown
                var ddlAct=$("#ddlAct").data("kendoDropDownTree");
                if(ddlAct!=null && ddlAct!=undefined){
                    $("#ddlAct").data("kendoDropDownTree").value([]);
                }

                $("#divAct").addClass('hidden');

                //Clear and Fill Director Dropdown
                var ddlDirector=$("#ddlDirector").data("kendoDropDownTree");
                if(ddlDirector!=null && ddlDirector!=undefined){
                    $("#ddlDirector").data("kendoDropDownTree").value([]);
                }
                $("#divDirector").addClass('hidden');

            } else if (selectedValue == "2") {
                //2-Statutory, 3-Self

                $("#ddlEntity").data("kendoDropDownTree").value([]);

                //Clear Meeting Dropdown
                var ddlMeetings=$("#ddlMeetings").data("kendoDropDownTree");
                if(ddlMeetings!=null && ddlMeetings!=undefined){
                    $("#ddlMeetings").data("kendoDropDownTree").value([]);
                }
                $("#divMeetingList").addClass('hidden');

                //Clear Agenda Dropdown
                var ddlAgenda=$("#ddlAgenda").data("kendoDropDownTree");
                if(ddlAgenda!=null && ddlAgenda!=undefined){
                    $("#ddlAgenda").data("kendoDropDownTree").value([]);
                }
                $("#divAgenda").addClass('hidden');

                //Clear and Fill Director Dropdown
                var ddlDirector=$("#ddlDirector").data("kendoDropDownTree");
                if(ddlDirector!=null && ddlDirector!=undefined){
                    $("#ddlDirector").data("kendoDropDownTree").value([]);
                }
                $("#divDirector").addClass('hidden');

                //Clear and Fill Act Dropdown
                var ddlAct=$("#ddlAct").data("kendoDropDownTree");
                if(ddlAct!=null && ddlAct!=undefined){
                    $("#ddlAct").data("kendoDropDownTree").value([]);
                }
                $("#divAct").removeClass('hidden');
                fillAct();
            }else if (selectedValue == "3") {
                //2-Statutory, 3-Self

                $("#ddlEntity").data("kendoDropDownTree").value([]);

                //Clear Meeting Dropdown
                var ddlMeetings=$("#ddlMeetings").data("kendoDropDownTree");
                if(ddlMeetings!=null && ddlMeetings!=undefined){
                    $("#ddlMeetings").data("kendoDropDownTree").value([]);
                }
                $("#divMeetingList").addClass('hidden');

                //Clear Agenda Dropdown
                var ddlAgenda=$("#ddlAgenda").data("kendoDropDownTree");
                if(ddlAgenda!=null && ddlAgenda!=undefined){
                    $("#ddlAgenda").data("kendoDropDownTree").value([]);
                }
                $("#divAgenda").addClass('hidden');

                //Clear and Fill Director Dropdown
                var ddlDirector=$("#ddlDirector").data("kendoDropDownTree");
                if(ddlDirector!=null && ddlDirector!=undefined){
                    $("#ddlDirector").data("kendoDropDownTree").value([]);
                }
                $("#divDirector").removeClass('hidden');
                fillDirector();

                //Clear and Fill Act Dropdown
                var ddlAct=$("#ddlAct").data("kendoDropDownTree");
                if(ddlAct!=null && ddlAct!=undefined){
                    $("#ddlAct").data("kendoDropDownTree").value([]);
                }
                $("#divAct").addClass('hidden');

            }  else  {
                $("#divMeetingList").addClass('hidden');
                $("#divAgenda").addClass('hidden');
                $("#divAct").addClass('hidden');
            }

            ShowHideGridColumns();
            filterChange();
        }
    }

    function ddlFY_SelectedIndexChanged(){
        ddlMappingType_SelectedIndexChanged();
    }

    function ddlEntity_SelectChanged() {
        ddlMappingType_SelectedIndexChanged();
        //filterChange();
    }

    function ddlMeetings_SelectedIndexChanged() {
        fillAgenda();
        //filterChange();
    }

    function GetAll_MyDocuments(){

        kendo.ui.progress($("#divGridParent"), true);

         var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID = @AuthenticationHelper.CustomerID;
        var userRole = '@AuthenticationHelper.Role';

        var sharedDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '/api/ComplianceAPI/GetMyDocuments?userID='+loggedInUserID+'&customerID='+customerID+'&statusID=-1&roleID=4&userRole='+userRole,
                    dataType: "json",
                },
                complete: function () {
                    alert("Read Complete");
                    fillFinancialYear();
                }
            },
            schema: {
                model: { id: "ScheduleOnID" },
                data: function (response) {
                    if (response != null && response != undefined) {
                        return response;
                    }
                },
                total: function (response) {
                    if (response != null && response != undefined) {
                        if (response.length > 0) {

                        }
                        return response.length;
                    }
                }
            },

            pageSize: 10
        });

        sharedDataSource.read();

        BindGrid_MyDocuments(sharedDataSource);
        fillGrid_MyDocuments_Hidden(sharedDataSource);
        fillFinancialYear();

        RemoveAlternateRowColor('gridMyDocuments');

        kendo.ui.progress($("#divGridParent"), false);
    }

    function onRowSelect(arg) {

        console.log("The selected ids are: [" + this.selectedKeyNames().join(", ") + "]");

        var selectedCount=this.selectedKeyNames().length;

        if(selectedCount>0){
            $("#divDownloadAll").removeClass('hidden');
            $('#lblSelectedText').text(selectedCount+"-item(s) Selected");
        }else{
            $("#divDownloadAll").addClass('hidden');
        }
    }

    function DownloadSelectedDocument(e) {
        debugger;

        kendo.ui.progress($("#gridMyDocuments"), true);
        var grid = $("#gridMyDocuments").data("kendoGrid");

        if (grid != null && grid != undefined) {
            var selectedCount = grid.selectedKeyNames().length;
            if (selectedCount > 0) {
                $('#OverViews').attr('src', "/Areas_Secretarial/DownloadDocs.aspx?ComplianceScheduleID=" + grid.selectedKeyNames().join(", "));
            }
        }

        kendo.ui.progress($("#gridMyDocuments"), false);
        return false;
    }

    function BindGrid_MyDocuments(dsMyDocuments){

        $("#gridMyDocuments").kendoGrid({
            dataSource: dsMyDocuments,
            autoBind:false,
            columnMenu: {
                columns:false,
            },
            filterable:true,
            sortable: true,
            scrollable: true,
            persistSelection: true,
            //noRecords: {
            //    template: function(e){
            //        var page = $("#gridMyDocuments").getKendoGrid().dataSource.page();
            //        return "<div>No data available on current page. Current page is: " + page + "</div>";
            //    }
            //},
            noRecords: {
                template: "No Record to Display. Either No Records Found or all documents are filtered out"
            },
            pageable: {
                pageSizes: true
            },
            change: onRowSelect,
            dataBound: gridMyDocuments_RowDataBound,
            columns: [
                { selectable: true, width: "3%"},
                //{ field: "RoleID", title: "RoleID" },
                { field: "EntityId", title: "EntityId", hidden: true, },
                { field: "CompanyName", title: "Company", width: "15%", attributes: {"class": "showTooltip", style: 'white-space: nowrap;' }, sortable:true, filterable: { extra: false,multi: true, search: true, } },

                { field: "DirectorId", title: "DirectorId", hidden: true, },
                { field: "DirectorName", title: "Director", width: "15%",
                     attributes: {"class": "showTooltip", style: 'white-space: nowrap;' }, sortable:true, filterable: { multi: true, search: true, }, hidden: true, },

                { field: "FY", title: "FY", hidden: true, },
                { field: "FYText", title: "Financial Year", width: "15%", attributes: { style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "MeetingID", title: "MeetingID", hidden: true, },
                { field: "MeetingTitle", title: "Meeting", width: "15%", attributes: {"class": "showTooltip", style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "AgendaID", title: "AgendaID", hidden: true, },
                { field: "AgendaItemTextNew", title: "Agenda", width: "15%", attributes: {"class": "showTooltip", style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "ActID", title: "ActID", hidden: true, },
                { field: "ActName", title: "Act", width: "15%", attributes: {"class": "showTooltip", style: 'white-space: nowrap;' },hidden: true, filterable: { multi: true, search: true, } },

                { field: "ComplianceInstanceID", title: "ComplianceInstanceID", hidden: true, },
                { field: "ScheduleOnID", title: "ScheduleOnID", hidden: true, },
                { field: "ShortDescription", title: "Compliance", width: "35%", attributes: { "class": "ComplianceTooltip", title: "#:Description#", style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "Frequency", title: "Frequency", hidden: true, filterable: { multi: true, search: true, } },
                { field: "ForMonth", title: "Period", hidden: true, filterable: { multi: true, search: true, } },

                //{ field: "Description", title: "Description", width: "300px;", attributes: { title: "#:Description#" } },
                { field: "ScheduleOn", title: "Due Date", width: "10%", template: "#= ScheduleOn == null ? '' : kendo.toString(kendo.parseDate(ScheduleOn), \"dd-MMM-yyyy\")#", attributes: { "class": "showTooltip", style: 'white-space: nowrap;' } , filterable: false, },

                //{ field: "ComplianceStatus", title: "Status", width: "10%", attributes: { style: 'white-space: nowrap;' } },
                {
                    title: "Action", lock: true, width: "10%;",
                    command:[
                             { name: "download", text: "", imageClass:"hoverCircle", iconClass: "k-grid-download", click: DownloadComplianceDocument, },
                             { name: "view", text: "", imageClass:"hoverCircle", iconClass: "k-grid-view", click: ViewComplianceDocument }
                    ],
                }
            ],
            editable: false,
        });
    }

    var initialLoad=true;
    function gridMyDocuments_RowDataBound(e) {

        var grid = $("#gridMyDocuments").data("kendoGrid");
        GetICons();

        $("#gridMyDocuments tr.k-alt").removeClass("k-alt");

        if(initialLoad){
            fillFinancialYear();
            initialLoad=false;
        }

        $("#gridMyDocuments").kendoTooltip({
            filter: ".ComplianceTooltip", //this filter selects the second column's cells
            position: "right",
            content: function (e) {
                var dataItem = $("#gridMyDocuments").data("kendoGrid").dataItem(e.target.closest("tr"));
                var content = dataItem.Description;
                return content;
            }
        }).data("kendoTooltip");
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }

    function fillMeetings() {

        // Gets the data source from the grid.
        var grid = $("#gridMyDocuments_Hidden").data("kendoGrid");

        if(grid!=null && grid!=undefined){
            var meetingData = grid.dataSource;
            meetingData.filter({});

            var ddlEntityId = $("#ddlEntity").data("kendoDropDownTree");
            var selectedCompanies = ddlEntityId._values;

            var filter = { logic: "and", filters: [] };

            var filterEntity = { logic: 'or', filters: [] };
            if (selectedCompanies.length > 0) {
                for (var i = 0; i < selectedCompanies.length; i++) {
                    filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedCompanies[i]) });
                }
                filter.filters.push(filterEntity);
            }

            meetingData.filter(filter);

            var dataFiltered = meetingData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function (index, item) {
                if (!map.has(item.MeetingID) && (item.MeetingID != null && item.MeetingID != undefined && item.MeetingID != 0)){
                    map.set(item.MeetingID, true);    // set any value to Map
                    result.push({
                        MeetingID: item.MeetingID,
                        MeetingTitle: item.MeetingTitle
                    });
                }
            });

            BindMeetings(result);

            //var ddlMeetings = $("#ddlMeetings").data("kendoMultiSelect");
            //ddlMeetings.setDataSource(result);
        }
    }

    function fillGrid_MyDocuments_Hidden(dataSource) {
        $("#gridMyDocuments_Hidden").kendoGrid({
            columns: [
                        { field: "EntityId" },
                        { field: "CompanyName" },
                        { field: "FY" },
                        { field: "FYText" },
                        { field: "MeetingID" },
                        { field: "MeetingTitle" },
                        { field: "AgendaID" },
                        { field: "AgendaItemTextNew" },
                        { field: "DirectorId" },
                        { field: "DirectorName" },
            ],
            editable: false,
            dataSource: dataSource,
            autoBind:false,
        });


    }

    function fillAgenda() {


        // Gets the data source from the grid.
        var grid = $("#gridMyDocuments_Hidden").data("kendoGrid");

        if(grid!=null && grid!=undefined){
            var meetingData = grid.dataSource;
            meetingData.filter({});


            var ddlEntityId = $("#ddlEntity").data("kendoDropDownTree");
            if(ddlEntityId!=null && ddlEntityId!=undefined){
                var selectedCompanies = ddlEntityId._values;

                var filter = { logic: "and", filters: [] };

                //Entity Filters
                var filterEntity = { logic: 'or', filters: [] };
                if (selectedCompanies.length > 0) {
                    for (var i = 0; i < selectedCompanies.length; i++) {
                        filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedCompanies[i]) });
                    }
                    filter.filters.push(filterEntity);
                }else{

                }
            }

            //Meeting Filters
            var ddlMeetings = $("#ddlMeetings").data("kendoDropDownTree");
            if(ddlMeetings!=null && ddlMeetings!=undefined){
                var selectedMeetings = ddlMeetings._values;

                var filterMeetings = { logic: 'or', filters: [] };
                if (selectedMeetings.length > 0) {
                    $("#divAgenda").removeClass('hidden');
                    for (var i = 0; i < selectedMeetings.length; i++) {
                        filterMeetings.filters.push({ field: "MeetingID", operator: "eq", value: parseInt(selectedMeetings[i]) });
                    }
                    filter.filters.push(filterMeetings);
                }else{
                    $("#divAgenda").addClass('hidden');
                }
            }

            meetingData.filter(filter);

            var dataFiltered = meetingData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function(index, item){
                if(!map.has(item.AgendaID)&& item.AgendaID!=null && item.AgendaItemTextNew!=null){
                    map.set(item.AgendaID, true);    // set any value to Map
                    result.push({
                        AgendaID: item.AgendaID,
                        AgendaItemTextNew: item.AgendaItemTextNew
                    });
                }
            });

            BindAgendas(result);
        }
    }

    function fillFinancialYear() {

        // Gets the data source from the grid.
        var grid = $("#gridMyDocuments_Hidden").data("kendoGrid");

        if(grid!=null && grid!=undefined){
            var meetingData = grid.dataSource;
            //meetingData.filter({});

            var dataFiltered = meetingData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function (index, item) {
                if (!map.has(item.FY) && (item.FY != null && item.FY != undefined && item.FY != '' && item.FY != 0)) {
                    map.set(item.FY, true);    // set any value to Map
                    result.push({
                        FY: item.FY,
                        FYText: item.FYText
                    });
                }
            });

            BindFinancialYear(result);
        }
    }

    function fillAct() {


        // Gets the data source from the grid.
        var grid = $("#gridMyDocuments_Hidden").data("kendoGrid");

        if(grid!=null && grid!=undefined){
            var gridMasterData = grid.dataSource;
            gridMasterData.filter({});

            var ddlEntityId = $("#ddlEntity").data("kendoDropDownTree");
            if(ddlEntityId!=null && ddlEntityId!=undefined){
                var selectedCompanies = ddlEntityId._values;

                var filter = { logic: "and", filters: [] };

                //Entity Filters
                var filterEntity = { logic: 'or', filters: [] };
                if (selectedCompanies.length > 0) {
                    for (var i = 0; i < selectedCompanies.length; i++) {
                        filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedCompanies[i]) });
                    }
                    filter.filters.push(filterEntity);
                }else{

                }
            }

            gridMasterData.filter(filter);

            var dataFiltered = gridMasterData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function(index, item){
                if(!map.has(item.ActID)&& item.ActID!=null){
                    map.set(item.ActID, true);    // set any value to Map
                    result.push({
                        ActID: item.ActID,
                        ActName: item.ActName
                    });
                }
            });

            BindAct(result);
        }
    }

    function fillDirector() {


        // Gets the data source from the grid.
        var grid = $("#gridMyDocuments_Hidden").data("kendoGrid");

        if(grid!=null && grid!=undefined){
            var gridMasterData = grid.dataSource;
            gridMasterData.filter({});

            var ddlEntityId = $("#ddlEntity").data("kendoDropDownTree");
            if(ddlEntityId!=null && ddlEntityId!=undefined){
                var selectedCompanies = ddlEntityId._values;

                var filter = { logic: "and", filters: [] };

                //Entity Filters
                var filterEntity = { logic: 'or', filters: [] };
                if (selectedCompanies.length > 0) {
                    for (var i = 0; i < selectedCompanies.length; i++) {
                        filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedCompanies[i]) });
                    }
                    filter.filters.push(filterEntity);
                }else{

                }
            }

            gridMasterData.filter(filter);

            var dataFiltered = gridMasterData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function(index, item){                
                if (!map.has(item.FY) && (item.FY != null && item.DirectorId != undefined && item.DirectorId != '' && item.DirectorId != 0)) {
                    map.set(item.DirectorId, true);    // set any value to Map
                    result.push({
                        DirectorId: item.DirectorId,
                        DirectorName: item.DirectorName
                    });
                }
            });

            BindDirector(result);
        }
    }
</script>

<!--popup schedule details-->
<script>
    function BindEntity() {

        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;
        var userRole='@AuthenticationHelper.Role';

        $("#ddlEntity").kendoDropDownTree({
            placeholder: "Company - All",
            filter: "contains",
            autoClose: false,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "EntityName",
            dataValueField: "Id",
            autoWidth: true,
            //autoBind:false,
            change: function (e) {
                ddlEntity_SelectChanged();
            },
            dataSource: {
                transport: {
                    read: {
                        url: '/api/EntityMasterAPI/GetEntitiesDropDown?custID=' + customerID + '&userID=' + loggedInUserID + '&userRole=' + userRole,
                        //url: '/api/EntityMasterAPI/MyAssignedEntities?custID=' + customerID + '&userID=' + loggedInUserID + '&userRole=' + userRole,
                    }
                },
                schema: {
                    model: {
                        id: "Id",
                        hasChildren: false
                    },

                },
            },
        });
    }

    function BindMeetings(dataSourceMeetings) {

        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        if ($('#ddlMeetings').data('kendoDropDownTree')) {
            $('#ddlMeetings').data('kendoDropDownTree').destroy();
            $('#divMeetingList').empty();
            $('#divMeetingList').append('<input id="ddlMeetings" data-placeholder="Meetings" style="width: 95%;" />');
        }

        $("#ddlMeetings").kendoDropDownTree({
            placeholder: "Meeting - All",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "MeetingTitle",
            dataValueField: "MeetingID",
            autoBind: true,
            autoWidth: true,
            change: function (e) {
                ddlMeetings_SelectedIndexChanged();
            },
            dataSource: dataSourceMeetings
        });
    }

    function BindAgendas(dataSourceAgendas) {


        if ($('#ddlAgendas').data('kendoDropDownTree')) {
            $('#ddlAgendas').data('kendoDropDownTree').destroy();
            $('#divAgenda').empty();
            $('#divAgenda').append('<input id="ddlAgendas" data-placeholder="Agendas" style="width: 95%;" />');
        }

        $("#ddlAgendas").kendoDropDownTree({
            placeholder: "Agenda - All",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "AgendaItemTextNew",
            dataValueField: "AgendaID",
            autoBind: false,
            //autoWidth: true,
            change: function (e) {
                ddlMeetings_SelectedIndexChanged();
            },
            dataSource: dataSourceAgendas
        });
    }

    function BindFinancialYear(dataSource) {


        if ($('#ddlFY').data('kendoDropDownTree')) {
            $('#ddlFY').data('kendoDropDownTree').destroy();
            $('#divDDLFY').empty();
            $('#divDDLFY').append('<input id="ddlFY" data-placeholder="Financial Year" style="width: 95%;" />');
        }

        $("#ddlFY").kendoDropDownTree({
            placeholder: "Financial Year-All",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "FYText",
            dataValueField: "FY",
            autoBind: false,
            autoWidth: true,
            change: function (e) {
                ddlFY_SelectedIndexChanged();
            },
            dataSource: dataSource
        });
    }

    function BindAct(dataSourceActs) {


        if ($('#ddlAct').data('kendoDropDownTree')) {
            $('#ddlAct').data('kendoDropDownTree').destroy();
            $('#divAct').empty();
            $('#divAct').append('<input id="ddlAct" data-placeholder="Act" style="width: 95%;" />');
        }

        $("#ddlAct").kendoDropDownTree({
            placeholder: "Act - All",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "ActName",
            dataValueField: "ActID",
            autoBind: false,
            autoWidth: true,
            change: function (e) {

            },
            dataSource: dataSourceActs
        });
    }

    function BindDirector(dataSourceDirectors) {


        if ($('#ddlDirector').data('kendoDropDownTree')) {
            $('#ddlDirector').data('kendoDropDownTree').destroy();
            $('#divDirector').empty();
            $('#divDirector').append('<input id="ddlDirector" data-placeholder="Director" style="width: 95%;" />');
        }

        $("#ddlDirector").kendoDropDownTree({
            placeholder: "Director - All",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "DirectorName",
            dataValueField: "DirectorId",
            autoBind:false,
            change: function (e) {

            },
            dataSource: dataSourceDirectors
        });
    }

    function ViewComplianceDocument (e) {

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
        OpenDocumentOverviewpup(dataItem.ScheduleOnID, dataItem.ComplianceInstanceID);
        return true;
    };

    function OpenDocumentOverviewpup(scheduledonid, transactionid) {
        $('#OverViews').attr('width', '100%');
        $('#OverViews').attr('height', '550px');
        $('.modal-dialog').css('width', '70%');
        $('#OverViews').attr('src', "/Common/DocumentOverview.aspx?ComplianceScheduleID=" + scheduledonid + "&ComplainceTransactionID=" + transactionid + "&ISStatutoryflag=-1");
        $('#divOverView').modal('show');
    }

    function DownloadComplianceDocument (e) {

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
        OpenDownloadOverviewpup(dataItem.ScheduleOnID, dataItem.ComplianceInstanceID);
        return true;
    };

    function OpenDownloadOverviewpup(scheduledonid, transactionid) {

        $('#OverViews').attr('width', '400px');
        $('#OverViews').attr('height', '200px');
        $('.modal-dialog').css('width', '466px');
        $('#OverViews').attr('src', "/Common/DownloadOverview.aspx?ComplianceScheduleID=" + scheduledonid + "&ComplainceTransactionID=" + transactionid + "&ISStatutoryflag=-1");
        $('#divOverView').modal('show');

        if($('.modal-body')!=null)
            $('.modal-body').css('height', '250px');
    }
</script>

<div class="Dashboard-white-widget">
    <div class="dashboard">

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="form-group">
                    <div class="col-md-1 colpadding0">
                        @(Html.Kendo().DropDownList()
                        .Name("ddlMappingType")
                        .BindTo(new SelectList(new List<object> {
                                    new {id=0,text="Type-All"},
                                    new {id=1,text="Meeting"},
                                    new {id=2,text="Statutory"},
                                    new {id=3,text="Director"}
                        }, "id", "text"))
                        .Events(e => e.Change("ddlMappingType_SelectedIndexChanged"))
                        .HtmlAttributes(new { style = "width: 95%;" }))
                    </div>

                    <div id="divddlEntityId" class="col-md-3 colpadding0">
                        <input id="ddlEntity" data-placeholder="Company" style="width: 95%;" />
                    </div>

                    <div id="divDDLFY" class="col-md-2 colpadding0">
                        <input id="ddlFY" class="form-control" data-placeholder="Financial Year" style="width: 95%;" />
                    </div>

                    <div id="divMeetingList" class="col-md-2 colpadding0 hidden">
                        <input id="ddlMeetings" data-placeholder="Meetings" style="width: 95%;" />
                    </div>

                    <div id="divAgenda" class="col-md-3 colpadding0 hidden">
                        <input id="ddlAgendas" data-placeholder="Agenda" style="width: 95%;" />
                    </div>

                    <div id="divDirector" class="col-md-2 colpadding0 hidden">
                        <input id="ddlDirector" data-placeholder="Director" style="width: 95%;" />
                    </div>

                    <div id="divAct" class="col-md-2 colpadding0 hidden">
                        <input id="ddlAct" data-placeholder="Act" style="width: 95%;" />
                    </div>

                    <div class="col-md-1 colpadding0">
                        <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearFilter">
                            <img src="~/Areas/BM_Management/img/Vector.png" />Clear
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt10">
            <div class="col-md-12 colpadding0">
                <div id="divGridParent">
                    <div id="gridMyDocuments"></div>
                </div>

                <div id="divHiddenGridParent" class="hidden">
                    <div id="gridMyDocuments_Hidden"></div>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt10">
            <div id="divDownloadAll" class="col-md-12 colpadding0 hidden">
                <label id="lblSelectedText"></label>
                <button id="btnDownloadAll" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Download Selected" onclick="DownloadSelectedDocument();"><span class="k-icon k-i-excel"></span>Download</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divOverView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" style="width: 1150px;">
        <div class="modal-content" style="width: 100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <iframe id="OverViews" src="about:blank" width="80%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var breadCrumbData = [
            {
                displayText: "My Documents",
                navigateUrl: "#",
            },
            {
                displayText: "Compliance Documents",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);

        BindEntity();
        //BindGrid_MyDocuments();
        GetAll_MyDocuments();

        $("#gridMyDocuments").kendoTooltip({
            filter: ".k-grid-view",
            content: function (e) {
                return "View";
            },
            show: PositionTooltip
        });

        $("#gridMyDocuments").kendoTooltip({
            filter: ".k-grid-download",
            content: function (e) {
                return "Download";
            },
            show: PositionTooltip
        });

        $("#gridMyDocuments").kendoTooltip({
            filter: ".k-grid-download",
            content: function (e) {
                return "Download";
            },
            show: PositionTooltip
        });

        $("#gridMyDocuments").kendoTooltip({
            filter: ".showTooltip",
            content: toolTipContent,
            show: PositionTooltip
        });
    });

    function AutoComplete_onChange() {
        filterChange();
    }

    function clearfilter(e) {

        var dropdownlist = $("#ddlMappingType").data("kendoDropDownList");
        if (dropdownlist != null && dropdownlist != undefined) {
            dropdownlist.value("0");
        }

        var dropdowntree = $("#ddlEntity").data("kendoDropDownTree");
        if (dropdowntree != null && dropdowntree != undefined) {
            dropdowntree.value("")
        }
        var dropdowntree = $("#ddlFY").data("kendoDropDownTree");
        if (dropdowntree != null && dropdowntree != undefined) {
            dropdowntree.value("")
        }
        var dropdowntree = $("#ddlMeetings").data("kendoDropDownTree");
        if (dropdowntree != null && dropdowntree != undefined) {
            dropdowntree.value("")
        }
        var dropdowntree = $("#ddlAgendas").data("kendoDropDownTree");
        if (dropdowntree != null && dropdowntree != undefined) {
            dropdowntree.value("")
        }
        var dropdowntree = $("#ddlDirector").data("kendoDropDownTree");
        if (dropdowntree != null && dropdowntree != undefined) {
            dropdowntree.value("")
        }
        var dropdowntree = $("#ddlAct").data("kendoDropDownTree");
        if (dropdowntree != null && dropdowntree != undefined) {
            dropdowntree.value("")
        }

        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");
        }

        //$('#clearFilter').css('display', 'none');

        $("#gridMyDocuments").data("kendoGrid").dataSource.filter({});
    }

    
</script>