﻿@using Kendo.Mvc.UI;
@model dynamic
<!-- Script for Kendo Grid-->

<style>
    #gridMeetingComplianceSchedule2 k-grid table {
        table-layout: fixed;
    }
</style>


<script type="text/javascript">

    function error_handlerT2(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

    function GetDueString(dataItem) {

        var result = "";
        if ($.trim(dataItem.BeforeAfter) == "A") {
            result += "After";
        } else {
            result += "Before";
        }

        result += " " + dataItem.Numbers + " ";
        if ($.trim(dataItem.DaysOrHours) == "D") {
            if (dataItem.Numbers > 1) {
                result += "Days.";
            } else {
                result += "Day.";
            }

        } else {
            if (dataItem.Numbers > 1) {
                result += "Hours.";
            } else {
                result += "Hour.";
            }

        }

        return result;
    }

    function onRowBoundEventCalendarNew(e) {
        resetRowNumber();
        GetICons();

        $("#gridMeetingComplianceSchedule2 tr.k-alt").removeClass("k-alt");

        var grid = $("#gridMeetingComplianceSchedule2").data("kendoGrid");
        var gridData = grid.dataSource.data();

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            if (gridData[i].HasFormMapped != true) {
                $(currenRow).find(".k-grid-f").addClass("k-state-disabled hidden");
            }

            if (gridData[i].AllowDelete != true) {
                $(currenRow).find(".k-grid-delete").addClass("k-state-disabled hidden");
            }
        }

        var wnd = $("#wndMeetingComplianceEventCalendar").data("kendoWindow");
        //kendo.ui.progress(wnd.element, true);
        wnd.center();

        var grid = this;
        $(".templateCells").each(function () {
            eval($(this).children("script").last().html());
            var a = $(this);
            var tr = $(this).closest('tr');
            var item = grid.dataItem(tr);
            kendo.bind($(this), item);
            debugger;
            var datepicker = $("#FDendDate_" + item.uid).data("kendoDatePicker");
            if (item.StatusId == 4 || item.StatusId == 5) {
                datepicker.enable(false);
            }
        });
    }

    function saveEventCalendar() {
        var grid = $("#gridMeetingComplianceSchedule2").data("kendoGrid");
        grid.saveChanges();
    }
</script>

<script type="text/javascript">

    function Request_EndEventCalendarNew(e) {
        if (e.type == "create" || e.type == "update") {
            if(e.response.Errors == null)
            {
                var divgridNewMessageEventCalendar = $("#divgridNewMessageEventCalendar");
                divgridNewMessageEventCalendar[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
            }
        }
    }

    function closeEventCalendar() {
        $("#wndMeetingComplianceEventCalendar").data("kendoWindow").close();
    };
</script>

<!--popup schedule details-->
<script>
    function showMeetingAgendaFormsList1(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        showMeetingFormsList(dataItem.MeetingID, dataItem.MeetingAgendaMappingID, dataItem.ComplianceID);
    }

    function deleteEventCalendarNew(){
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var result = confirm("Are you sure you want to delete this data?");
        if (result) {
            var dataRow = $('#grid').data("kendoGrid").dataSource.getByUid(dataItem.uid);
            $('#gridMeetingComplianceSchedule2').data("kendoGrid").dataSource.remove(dataRow);
        }
    }
    function showScheduleDetails1(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var direction = "@Url.Action("ScheduleDetails","Meeting_Compliances")" + "?id=" + dataItem.ScheduleOnID + " &entityID=" + dataItem.Entity_ID;
        var direction = "@Url.Action("ScheduleDetails","MyCompliances")" + "?id=" + dataItem.ScheduleOnID + " &entityID=" + dataItem.Entity_ID;

        $("#wndScheduleDetails").attr("style", "min-height:100px;");

            var wnd = $("#wndScheduleDetails").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndScheduleDetails").kendoWindow({
                actions: ["Close"],
                content: direction,
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { onOpenWindow("wndScheduleDetails") },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    GetICons();
                }
            }).data("kendoWindow");

            opts.width = "85%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();

            $('#wndScheduleDetails').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');
    }

    function editEventCalendarDate(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("ScheduleDetails","Meeting_Compliances")" + "?id=" + dataItem.ScheduleOnID + " &entityID=" + dataItem.Entity_ID;

        $("#wndScheduleDetails").attr("style", "min-height:100px;");

            var wnd = $("#wndScheduleDetails").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndScheduleDetails").kendoWindow({
                actions: ["Close"],
                content: direction,
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { onOpenWindow("wndScheduleDetails") },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    GetICons();
                }
            }).data("kendoWindow");

            opts.width = "85%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();

            $('#wndScheduleDetails').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');
    }

    function OnendDateChange(item) {
        debugger;
        var grid = $("#gridMeetingComplianceSchedule2").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);

        if ($(item).val() != "") {
            dataItem.ScheduleOn = $(item).val();
        }

        dataItem.dirty = true;
    }
</script>

<!-- Filter-->
<script>
    function ddlComplianceStatusFilterChanged() {

        var filter = { logic: 'and', filters: [] };

        var ddlComplianceStatusFilter = $("#ddlComplianceStatusFilter").data("kendoDropDownList");
        var d = ddlComplianceStatusFilter.value();

        if (d != "") {
            filter.filters.push({ logic: "and", field: "Status", operator: "eq", value: d });
        }

        var t = $('#txtComplianceFilter');
        if (t.val() != "") {
            filter.filters.push({ logic: "and", field: "ShortDescription", operator: "contains", value: t.val() });
        }

        var grid = $("#gridMeetingComplianceSchedule2").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<script>
    function exportEventCalendarToExcel() {

        var color = "#b5bbbb";
        var _fontSize = 12;
        var _borderBottom = { color: "#b0b3b3", size: 1 };
        var _borderRight = { color: "#b0b3b3", size: 1 };

        var rows = [
                    // The first row (header).
                    {
                        cells: [
                          // The first cell.
                          { value: "Event Calendar", hAlign: "center", colSpan: 4, fontSize: 16 },
                        ]
                    }];

        rows.push({
            cells: [
                          // The first cell.
                          { value: "SrNo", width: 55, background: color, fontSize: _fontSize, borderRight: _borderRight, borderBottom: _borderBottom },
                          { value: "Compliance", background: color, fontSize: _fontSize, borderRight: _borderRight, borderBottom: _borderBottom },
                          { value: "Due Date", width: 45, background: color, fontSize: _fontSize, borderRight: _borderRight, borderBottom: _borderBottom },
                          { value: "Status", width: 45, background: color, fontSize: _fontSize, borderRight: _borderRight, borderBottom: _borderBottom }
            ]
        });


        var grid = $('#gridMeetingComplianceSchedule2').data().kendoGrid;
        var gridData = grid.dataSource.data();

        for (var i = 0; i < gridData.length; i++) {

            rows.push({
                cells: [
                  { value: (i + 1), hAlign: "left", borderRight: _borderRight, borderBottom: _borderBottom },
                  { value: gridData[i].ShortDescription, hAlign: "left", borderRight: _borderRight, borderBottom: _borderBottom },
                  { value: gridData[i].ScheduleOn, hAlign: "left", borderRight: _borderRight, borderBottom: _borderBottom },
                  { value: gridData[i].Status, hAlign: "left", borderRight: _borderRight, borderBottom: _borderBottom },
                ]
            });
        }

        var workbook = new kendo.ooxml.Workbook({
            sheets: [
              {
                  // The column settings (width).
                  columns: [
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true }
                  ],
                  // Th title of the sheet.
                  title: "Event Calendar",
                  // The rows of the sheet.
                  rows: rows
              }
            ]
        });

        kendo.saveAs({
            dataURI: workbook.toDataURL(),
            fileName: "EventCalendar.xlsx"
        });
    }
</script>

<div>
    @(Html.Kendo().Tooltip()
                .For("#gridMeetingComplianceSchedule2")
                .Filter(".k-grid-view")
                .Position(TooltipPosition.Top)
                .AutoHide(true)
                .Content("Compliance Details"))

    @(Html.Kendo().Tooltip()
                .For("#gridMeetingComplianceSchedule2")
                .Filter(".k-grid-f")
                .Position(TooltipPosition.Top)
                .AutoHide(true)
                .Content("Generate Document/Form"))

    @(Html.Kendo().Tooltip()
        .For("#gridMeetingComplianceSchedule2")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Not Applicable")
        .Events(e => e.Show("PositionTooltip"))
    )
</div>

<div id="divgridNewMessageEventCalendar">

</div>

<div class="row master-Headre">
    <div class="col-md-12 colpadding0 vertical-center">
        <div class="col-md-11 colpadding0 text-right">
            <button class="btn btn-primary" id="btnExportEventCalendar"onclick="exportEventCalendarToExcel()"><span class="k-icon k-i-excel"></span>Export</button>
        </div>
    </div>
</div>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div style="max-height:450px;overflow-y:auto;">

            @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingComplianceScheduleDetails_ResultVM>()
                                            .Name("gridMeetingComplianceSchedule2")
                                            .Columns(columns =>
                                            {
                                                //columns.Bound(p => p.AgendaItemHeading).HeaderTemplate("Compliance").ClientGroupHeaderTemplate("#= value == '' ? 'Meeting' : 'Agenda : '+ value  #").ClientTemplate("##").Hidden();
                                                columns.Bound(p => p.ShortDescription).HeaderTemplate("Particulars").ClientTemplate("#=data.ShortDescription #").Width("45%");
                                                //columns.Bound(p => p.ScheduleOn).ClientTemplate("#= ScheduleOn == null ? '' : kendo.toString(ScheduleOn, \"dd-MMM-yyyy\")# #= data.ScheduleOnTime == '12:00 AM' ? '' : data.ScheduleOnTime #").HeaderTemplate("Due Date").Sortable(false).Width("15%");
                                                columns.Bound(c => c.ScheduleOn).Title("Due Date").Width("10%").HtmlAttributes(new
                                                {
                                                    @class = "templateCells",
                                                }).ClientTemplate(
                                                              Html.Kendo().DatePicker()
                                                              .Name("FDendDate_#=uid#")
                                                              .Format("{0:dd/MM/yyyy}")
                                                              .HtmlAttributes(new { @onchange = "OnendDateChange(this)", data_bind = "value:ScheduleOn", enable = "#= data.ComplianceId == 2611 ? true: false #" })
                                                              .ToClientTemplate().ToString()).Format("{0:dd/MM/yyyy}");
                                                columns.Bound(p => p.Status).HeaderTemplate("Status").Sortable(false).Width("10%");
                                                columns.Bound(p => p.ClosedDate).ClientTemplate("#= ClosedDate == null ? '' : kendo.toString(ClosedDate, \"dd-MMM-yyyy\")# #= (data.ClosedDateTime == '12:00 AM' || data.ClosedDateTime == null) ? '' : data.ClosedDateTime #").HeaderTemplate("Close Date").Sortable(false).Width("15%");
                                                columns.Command(command =>
                                                {
                                                    command.Custom("F").Click("showMeetingAgendaFormsList1").HtmlAttributes(new { @class = "k-grid-f" });
                                                })
                                               .Title("").Width("5%");
                                                columns.Command(command =>
                                                {
                                                    //command.Custom("Edit").Click("editEventCalendarDate").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                                                    command.Custom("Edit").Click("showScheduleDetails1").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                                                    command.Custom("DeleteEvent").Click("deleteEventCalendarNew").HtmlAttributes(new { @class = "k-grid-delete" });
                                                })
                                               .Title("Action").Width("10%");
                                            })
                                            .Editable(editable => editable.Mode(GridEditMode.InCell))
                                            .Events(e => e.DataBound("onRowBoundEventCalendarNew"))
                                            .Navigatable()
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Batch(true)
                                            .ServerOperation(false)
                                            .Events(events => events.RequestEnd("Request_EndEventCalendarNew"))
                                            .Model(model =>
                                            {
                                                model.Id(p => p.ScheduleOnID);
                                                model.Field(p => p.ShortDescription).Editable(false);
                                                model.Field(p => p.Role).Editable(false);
                                                model.Field(p => p.ScheduleOn).Editable(false);
                                                model.Field(p => p.Entity_ID).Editable(false);
                                                model.Field(p => p.MeetingID).Editable(false);
                                                model.Field(p => p.MeetingAgendaMappingID).Editable(false);
                                                model.Field(p => p.ComplianceID).Editable(false);
                                                model.Field(p => p.HasFormMapped).Editable(false);
                                                model.Field(p => p.Status).Editable(false);
                                                model.Field(p => p.ClosedDate).Editable(false);
                                                model.Field(p => p.AllowDelete).Editable(false);
                                            })
                                            //.Group(groups => groups.Add(p => p.AgendaItemHeading))
                                            .Read(read => read.Action("ComplianceSchedule_Read_MeetingLevel", "Meeting_Compliances", new { meetingId = Model.MeetingID, mappingType = "M", showCalendarEvent = true }))
                                            .Update(update => update.Action("UpdateEventCalendarDates", "Meeting_Compliances"))
                                            .Destroy(destory => destory.Action("DeleteShceduleOn", "Meeting_Compliances"))
                                        ))
        </div>
    </div>
</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0" style="text-align:center">
        <button type="button" id="btnSaveCompliancemappingdetails" class="btn btn-primary" onclick="saveEventCalendar()">Save</button>
        <button type="button" id="btnCloseEventCalendar" class="btn btn-primary" onclick="closeEventCalendar()">Close</button>
    </div>
</div>