﻿@using Kendo.Mvc.UI;
@model long
<!-- Script for Kendo Grid-->

<style>
    .k-grid table {
        table-layout: fixed;
    }
</style>


<script type="text/javascript">

    function error_handlerT(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

    function GetDueString(dataItem) {
        
        var result = "";
        if ($.trim(dataItem.BeforeAfter) == "A") {
            result += "After";
        } else {
            result += "Before";
        }

        result += " " + dataItem.Numbers + " ";
        if ($.trim(dataItem.DaysOrHours) == "D") {
            if (dataItem.Numbers > 1) {
                result += "Days.";
            } else {
                result += "Day.";
            }

        } else {
            if (dataItem.Numbers > 1) {
                result += "Hours.";
            } else {
                result += "Hour.";
            }

        }

        return result;
    }

    function onRowBoundComplianceMapping(e) {
        resetRowNumber();
        GetICons();

        $("#gridMeetingComplianceSchedule tr.k-alt").removeClass("k-alt");

        var grid = $("#gridMeetingComplianceSchedule").data("kendoGrid");
        var gridData = grid.dataSource.data();

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            if (gridData[i].HasFormMapped != true) {
                $(currenRow).find(".k-grid-documents").addClass("k-state-disabled hidden");
            }
        }

    }

</script>

<script type="text/javascript">

    function Request_EndT(e) {
        
        if (e.type == "create" || e.type == "update") {
            if(e.response.Errors == null)
            {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
            }
        }
    }

    $("#btnSaveTemplate").kendoButton({
        click: function (e) {
            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = '';

            var grid = $("#gridMeetingComplianceAssign").data("kendoGrid");

            grid.saveChanges();
            //var gridData = grid.dataSource.data();

            //var lookup = {};
            //var isExists = false;
            //
            //for (var i = 0; i < gridData.length; i++){
            //    var templateName = gridData[i].TemplateName.toUpperCase();
            //    if (!(templateName in lookup)){
            //        lookup[templateName] = 1;
            //    }
            //    else {
            //        isExists = true;
            //    }
            //   }

            //if (isExists == false) {
            //    grid.saveChanges();
            //}
            //else {
            //    var strValidation = "Duplicate Template Name.";
            //    divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + strValidation + "</lable></div></div></div>";
            //}

        }
    })


    $("#btncloseTemplate").kendoButton({
        click: function (e) {
            $("#wndMeetingComplianceAssign").data("kendoWindow").close();
        }
    })

</script>

<!--popup schedule details-->
<script>
    function showMeetingAgendaFormsList(e) {
        e.preventDefault();
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        showMeetingFormsList(dataItem.MeetingID, dataItem.MeetingAgendaMappingID, dataItem.ComplianceID);
    }

    function showScheduleDetails(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var direction = "@Url.Action("ScheduleDetails","Meeting_Compliances")" + "?id=" + dataItem.ScheduleOnID + " &entityID=" + dataItem.Entity_ID;
        var direction = "@Url.Action("ScheduleDetails","MyCompliances")" + "?id=" + dataItem.ScheduleOnID + " &entityID=" + dataItem.Entity_ID;

        $("#wndScheduleDetails").attr("style", "min-height:100px;");

            var wnd = $("#wndScheduleDetails").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndScheduleDetails").kendoWindow({
                actions: ["Close"],
                content: direction,
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { onOpenWindow("wndScheduleDetails") },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    GetICons();
                }
            }).data("kendoWindow");

            opts.width = "85%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();

            $('#wndScheduleDetails').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');
    }
</script>

<!-- Filter-->
<script>
    function ddlComplianceStatusFilterChanged() {

        var filter = { logic: 'and', filters: [] };

        var ddlComplianceStatusFilter = $("#ddlComplianceStatusFilter").data("kendoDropDownList");
        var d = ddlComplianceStatusFilter.value();

        if (d != "") {
            filter.filters.push({ logic: "and", field: "Status", operator: "eq", value: d });
        }

        var t = $('#txtComplianceFilter');
        if (t.val() != "") {
            filter.filters.push({ logic: "and", field: "ShortDescription", operator: "contains", value: t.val() });
        }

        var grid = $("#gridMeetingComplianceSchedule").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<div>
    @(Html.Kendo().Tooltip()
        .For("#gridMeetingComplianceSchedule")
        .Filter(".k-grid-view")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Compliance Details"))

    @(Html.Kendo().Tooltip()
        .For("#gridMeetingComplianceSchedule")
        .Filter(".k-grid-f")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Generate Document/Form"))
</div>

<div>

    @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingComplianceScheduleDetails_ResultVM>()
                    .Name("gridMeetingComplianceSchedule")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.AgendaItemHeading).HeaderTemplate("Compliance").ClientGroupHeaderTemplate("#= value == '' ? 'Meeting' : 'Agenda : '+ value  #").ClientTemplate("##").Hidden();
                        //columns.Template(t => { }).Title("Sr").ClientTemplate("#= renderNumber() #").Width("3%");
                        columns.Bound(p => p.ShortDescription).HeaderTemplate("Compliance").ClientTemplate("#=data.ShortDescription #").Width("45%");
                        //columns.Bound(p => p.ScheduleOn).Format("{0:dd/MM/yyyy}").HeaderTemplate("Due Date").Sortable(false).Width(110);
                        columns.Bound(p => p.ScheduleOn).ClientTemplate("#= ScheduleOn == null ? '' : kendo.toString(ScheduleOn, \"dd-MMM-yyyy\")# #= data.ScheduleOnTime == '12:00 AM' ? '' : data.ScheduleOnTime #").HeaderTemplate("Due Date").Sortable(false).Width("15%");
                        columns.Bound(p => p.Status).HeaderTemplate("Status").Sortable(false).Width("10%");
                        columns.Bound(p => p.ClosedDate).ClientTemplate("#= ClosedDate == null ? '' : kendo.toString(ClosedDate, \"dd-MMM-yyyy\")# #= data.ClosedDateTime == '12:00 AM' ? '' : data.ClosedDateTime #").HeaderTemplate("Closed Date").Sortable(false).Width("15%");
                        columns.Command(command =>
                        {
                            command.Custom("F").Click("showMeetingAgendaFormsList").HtmlAttributes(new { @class = "k-grid-documents" });
                        })
                       .Title("").Width("5%"); ;
                        columns.Command(command =>
                        {
                            command.Custom("edit").Click("showScheduleDetails").HtmlAttributes(new { @class = "hoverCircle" });
                        })
                       .Title("Action").Width("6%"); 
                    })
                    .ToolBar(toolbar =>
                    {
                        toolbar.Template(@<text>
                        <div>                            
                            <input id='txtComplianceFilter' class='k-textbox' style="width: 45%;" onchange="ddlComplianceStatusFilterChanged();" autocomplete="off" placeholder="Type to Filter : Compliance" />

                            @(Html.Kendo().DropDownList()
                                    .Name("ddlComplianceStatusFilter")
                                    .BindTo(new SelectList(new List<object> {
                                                new {id="",text="Status"},
                                                new {id="Upcoming",text="Upcoming"},
                                                new {id="Overdue",text="Overdue"},
                                                new {id="Pending For Review",text="Pending For Review"},
                                                new {id="Not Complied",text="Not Complied"},
                                                new {id="Approved",text="Approved"},
                                                new {id="Rejected",text="Rejected"},
                                                new {id="Closed-Timely",text="Closed-Timely"},
                                                new {id="Closed-Delayed",text="Closed-Delayed"},
                                    }, "id", "text"))
                                    .Events(e => e.Change("ddlComplianceStatusFilterChanged"))
                                    .HtmlAttributes(new { style = "width: 20%;" }))
                        </div>
                        </text>);
                    })
                    //.Editable(editable => editable.Mode(GridEditMode.InCell))
                    //.HtmlAttributes(new { style = "height:470px;" })
                    .Events(e => e.DataBound("onRowBoundComplianceMapping"))
                    .Navigatable()
                    //.Scrollable()
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(true)
                    .ServerOperation(false)
                    .Events(events => events.Error("error_handlerT")
                    //.RequestEnd("Request_EndT")
                    )
                    .Model(model =>
                    {
                        model.Id(p => p.ScheduleOnID);
                        model.Field(p => p.ShortDescription).Editable(false);
                        model.Field(p => p.Role).Editable(false);
                        model.Field(p => p.Entity_ID).Editable(false);
                        model.Field(p => p.MeetingID).Editable(false);
                        model.Field(p => p.MeetingAgendaMappingID).Editable(false);
                        model.Field(p => p.ComplianceID).Editable(false);
                        model.Field(p => p.HasFormMapped).Editable(false);
                    })
                    .Group(groups => groups.Add(p => p.AgendaItemHeading))
                    .Read(read => read.Action("ComplianceSchedule_Read", "Meeting_Compliances", new { meetingId = Model }))
                // .Events(events => events.Error("error_handlerT"))
                ))


</div>