﻿@using Kendo.Mvc.UI;
@model int
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<style>

  .title-logo-committee {
  /*width: 19px;*/
  height: 24px;
  /*margin: 0 8px 0 0;*/
  object-fit: contain;
}

    .chairperson-label {
  width: 120px;
  height: 18px;
  margin: 3px 0 3px 2px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
</style>
<style>
.chairman {
  width: 29.8px;
  height: 36px;
  /*margin: 26px 71.2px 8px 21px;*/
  object-fit: contain;
  text-align: center;
}

.chairperson {
  width: 28.5px;
  height: 36px;
  /*margin: 13px 112.5px 1px 21px;*/
  object-fit: contain;
  text-align: center;
}

.member {
  width: 36px;
  height: 36px;
  /*margin: 0 9.4px 7px 9.6px;*/
  object-fit: contain;
  text-align: center;
}

.director-name {
  height: 18px;
  margin: 20px 5px 6px 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.directorship {
  height: 15px;
  margin: 6px 2px 21.5px 10px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.member-date-of-appointment{
  /*width: 55px;*/
  height: 13px;
  /*margin: 5px 99px 26px 8px;*/
  font-family: Montserrat;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.no-records-committee-matrix {
    height: 65px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    vertical-align: middle;
    margin-top: 30px;
}
</style>

<style>
    #dvTable .k-grid-header th.k-header {
    vertical-align: !important;
    background: #125bab;
}


    #dvTable .k-grid-header th.k-header {
        white-space: initial;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        vertical-align: middle;
        width: 20%;
        text-align: center;
        padding: 1em;
    }

/*#tblCommitteeMatrix.k-grid-header th.k-header {
    background: #125bab;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}*/

</style>

<style>
    /* Page Template for the exported PDF */
        .page-template {
          font-family: "DejaVu Sans", "Arial", sans-serif;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        .page-template .header {
          position: absolute;
          top: 30px;
          left: 30px;
          right: 30px;
          border-bottom: 1px solid #888;
          color: #888;
        }
        .page-template .footer {
          position: absolute;
          bottom: 30px;
          left: 30px;
          right: 30px;
          border-top: 1px solid #888;
          text-align: center;
          color: #888;
        }
        .page-template .watermark {
          font-weight: bold;
          font-size: 400%;
          text-align: center;
          margin-top: 30%;
          color: #aaaaaa;
          opacity: 0.1;
          transform: rotate(-35deg) scale(1.7, 1.5);
        }
</style>

<div>
    <div class="row colpadding0">
        <div class="col-md-7 colpadding0">
            <div style="margin-bottom:7px;">
                <table>
                    <tr>
                        <td>
                            <img src="../../Areas/BM_Management/img/Dashboard/committee_chairperson.svg" class="title-logo-committee">
                        </td>
                        <td>
                            <div class="chairperson-label">Chairperson</div>
                        </td>
                        <td>
                            <img src="../../Areas/BM_Management/img/Dashboard/committee_chairperman.svg" class="title-logo-committee">
                        </td>
                        <td>
                            <div class="chairperson-label">Chairman</div>
                        </td>
                        <td>
                            <img src="../../Areas/BM_Management/img/Dashboard/committee_member.svg" class="title-logo-committee">
                        </td>
                        <td>
                            <div class="chairperson-label">Members</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-5 colpadding0">
           
            <a role="button" class="btn btn-primary k-grid-pdf pull-right hidden" href="#" onclick="exportMatrix()"><span class="k-icon k-i-file-pdf"></span>Export to PDF</a>
        </div>
    </div>
    
    <div id="dvTable" style="max-height:480px;">
    </div>
</div>


<script type="x/kendo-template" id="page-template">
    <div class="page-template">
        <div class="header">
            <div style="float: right">Page #: pageNum # of #: totalPages #</div>
            Committee Matrix
        </div>
        <div class="footer">
            Page #: pageNum # of #: totalPages #
        </div>
    </div>
</script>

<script>
    $(document).ready(function () {
        loadCommitteeMatrix();
    });
    function loadCommitteeMatrix() {
        $.ajax({
            url: "/api/CommitteeMasterNewAPIController/GetCommitteeMatrix",
            type: "Get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { "entityId" : '@Model'},
            success: function (result) {
                processMatrixData(result);
            }
        });
    }

    function processMatrixData(d) {
        var lookupData = {};
        //var lookupCommittees = {};
        var lookupCommittees = { items: [] };
        var lookupDirectors = {};
        var result = { items: [] };

        debugger;
        for (var i = 0; i < d.length; i++) {
            var committeeId = d[i].CommitteeId;
            if (!(committeeId in lookupData)) {
                if (committeeId != 10) {
                    lookupData[committeeId] = 1;
                    lookupCommittees.items.push({ "Id": d[i].CommitteeId, "CommitteeName": d[i].CommitteeName });
                }
            }

            var directorId = d[i].DirectorId;
            if (!(directorId in lookupDirectors)) {
                lookupDirectors[directorId] = 1;
                result.items.push({ "DirectorId": d[i].DirectorId, "DirectorName": d[i].FullName, "DirectorShip": d[i].DirectorShip });
            }
        }

        
        var table = $("<table />");
        table[0].id = "tblCommitteeMatrix";
        var columnCount = lookupCommittees.items.length;
        var row = $(table[0].insertRow(-1));

        var headerCellDefault = $("<th/>");
        headerCellDefault.html("Position");
        row.append(headerCellDefault);

        for (var i = 0; i < columnCount; i++) {
            var headerCell = $("<th data-title='"+ lookupCommittees.items[i].CommitteeName +"' data-class='test1'/>");
                headerCell.html(lookupCommittees.items[i].CommitteeName);
                row.append(headerCell);
        }

        if (columnCount > 0) {
            //Add the data rows.
            for (var i = 0; i < result.items.length; i++) {
                row = $(table[0].insertRow(-1));

                var cellDefault = $("<td />");
                cellDefault.html('<div class="director-name">' + result.items[i].DirectorName + '</div><div class="directorship">' + result.items[i].DirectorShip + '</div>');
                row.append(cellDefault);
                var directorId = result.items[i].DirectorId;

                for (var j = 0; j < columnCount; j++) {
                    var committeeId = lookupCommittees.items[j].Id;
                    var cell = $("<td />");

                    for (var k = 0; k < d.length; k++) {
                        if (d[k].CommitteeId == committeeId && d[k].DirectorId == directorId) {
                            cell.html(getMatrixTemplate(d[k].Gender, d[k].PositionId, d[k].DateOfAppointment));
                        }
                    }
                    row.append(cell);
                }
            }

        }
        
        var dvTable = $("#dvTable");
        dvTable.html("");
        dvTable.append(table);

        $('#tblCommitteeMatrix').kendoGrid({
            //toolbar: ["pdf"],
            pdf: {
                allPages: true,
                avoidLinks: true,
                date: new Date(),
                fileName: "CommitteeMatrix.pdf",
                paperSize: "A4",
                margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
                landscape: true,
                repeatHeaders: true,
                //template: $("#page-template").html(),
                scale: 0.8
            },
            scrollable: false,
            pageable: false,
            noRecords: {
                template: "<div class='no-records-committee-matrix'>No Committee Matrix to Show!</div>"
            },
        });

        //var grid = $("#tblCommitteeMatrix").kendoGrid({}).data('kendoGrid');
        var grid = $("#tblCommitteeMatrix").data('kendoGrid');
        var newOptions = $.extend({}, grid.getOptions());
        newOptions.columns[0].width = "250px";
        //for (var i = 0; i < newOptions.columns.length; i++) {
        //    newOptions.columns[i].height = "250px";
        //}
        grid.setOptions(newOptions);

        getGridborder(grid);
    }

    function getMatrixTemplate(g,p,d) {
        var str = "";
        if (p == 1) {
            if (g == 1) {
                str = "Chairman";
                str = '<img src="../../Areas/BM_Management/img/Dashboard/committee_chairperman.svg" class="chairman">';
            } else {
                str = "Chairperson";
                str = '<img src="../../Areas/BM_Management/img/Dashboard/committee_chairperson.svg" class="chairperson">';
            }
        }
        else {
            str = '<img src="../../Areas/BM_Management/img/Dashboard/committee_member.svg" class="member">';
        }
        debugger;
        var dateOfAppointmentStr = '';
        if (d != null) {
            dateOfAppointmentStr = moment(d).format('DD-MM-YYYY');
        }

        //return "<div>" + p + " - " + g + str + "</div><div class='member-date-of-appointment'> " + dateOfAppointmentStr + "</div>";
        return "<div style='text-align:center;'>" + str + "</div><div class='member-date-of-appointment'> " + dateOfAppointmentStr + "</div>";
    }

    function exportMatrix() {
        $("#tblCommitteeMatrix").data("kendoGrid").saveAsPDF();
    }
</script>