﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaVotingNotingMeetingDetailsVM

<script>
    function setDataItemforAGM(item) {
        debugger;
        var grid = $("#gridAGMVoting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);

        if ($(item).val() == "A") {
            dataItem.VotingResponse = "A";
        } else if ($(item).val() == "D") {
            dataItem.VotingResponse = "D";
        }

        dataItem.dirty = true;

        var AGMVoting = { MeetingId: dataItem.MeetingID, AgendaId: dataItem.AgendaId, VotingResponse: dataItem.VotingResponse }
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateAGMAgendaResponse", "MainMeeting")',
            data: AGMVoting,
            dataType: "json",
            cache: false,
            success: function (data) {
                alert(data.VotingResponse);
            }
        });
    }


   
</script>

<style>
    #gridAGMVoting .k-header {
        /* width: 1423px; */
        /*height: 33px;
        background-color: #1fd9e1;
        color: white;*/
    }
</style>
<script>
    function dataBoundGridAGMVoting(e) {
        debugger;
        var grid = $("#gridAGMVoting").data("kendoGrid");
        //var data = grid.dataSource.data();
        //$.each(data, function (i, row) {
        //    $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 2px 6px 0 #bdc3c7");
        //})
        getGridborder(grid);
    };

    function setDataItemforvoting(item) {
        debugger;
        var grid = $("#gridAGMVoting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);

        if ($(item).val() == "A") {
            dataItem.VotingResponse = "A";
        } else if ($(item).val() == "D") {
            dataItem.VotingResponse = "D";
        }
        else if ($(item).val() == "-") {
            dataItem.VotingResponse = "-";
        }
        else if ($(item).val() == "AB") {
            dataItem.VotingResponse = "AB";
        }
        else if ($(item).val() == "N") {
            dataItem.VotingResponse = "N";
        }
        dataItem.dirty = true;
    }

    function getNotingVotingdetails(data) {
        var str = "";
        var disable = "";

        if (data.AllowUpdate == false) {
            disable = "disabled='disabled'";
        }
        debugger
        if (data.IsVoting == true) {
            str += "<label class='container1' for='rdbApproved" + data.uid + "'>Approve<input id='rdbApproved" + data.uid + "' name=" + data.uid + "' " + disable +" onclick='setDataItemforvoting(this);'  style='margin-left:0.5em;' type='radio' value='A' " + (data.VotingResponse == 'A' ? 'checked=checked' : '') + "><span class='checkmark1 checkmark1-new'></span></label>" + "&nbsp; &nbsp;" +
                "<label class='container1' for='rdbDisapprove" + data.uid + "'>Disapprove<input id ='rdbDisapprove" + data.uid + "' name = " + data.uid + "' " + disable +" onclick = 'setDataItemforvoting(this);' style='margin-left:0.5em;' type='radio' value='D'" + (data.VotingResponse == 'D' ? 'checked=checked' : '') + "><span class='checkmark1 checkmark1-new'></span></label>" + "&nbsp; &nbsp;" +
                "<label class='container1' for='rdbDiffered" + data.uid + "'>Defer<input id = 'rdbDiffered" + data.uid + "' name=" + data.uid + "' " + disable +" onclick='setDataItemforvoting(this);' style='margin-left:0.5em;' type='radio' value='-' " + (data.VotingResponse == '-' ? 'checked=checked' : '') + "><span class='checkmark1 checkmark1-new'></span></label>" + "&nbsp; &nbsp;";//+
                //"<label class='container1' for='rdbAbstain" + data.uid + "'>Abstain<input id = 'rdbAbstain" + data.uid + "'' name=" + data.uid + "' onclick='setDataItemforvoting(this);' style='margin-left:0.5em;' type='radio' value='AB'><span class='checkmark1'></span></label>";
        }
        else if (data.IsVoting == false) {
            str += "<label class='container' style='padding-left:0px;' for='chkNoting" + data.uid + "'><input type='checkbox' " + disable +" id= 'chkNoting" + data.uid + "' onchange='setDataItemforvoting(this);' value='N' " + (data.VotingResponse == 'N' ? 'checked=checked' : '') + "><span class='checkmark'></span> &nbsp;Noted</label>";
        }
        return str;
    }

    function getPreCommitteeDetails(data) {
        var str = "";
        debugger
        if (data.HasPreCommittee == true) {
            str = "<span class='k-grid-ainfo' title = '" + data.PreCommitteResult +"'>i</span>";
        }

        return str;
    }

    function saveAgendaResponse() {
        var meetingData = { id : '@Model' };
        $.ajax({
            type: "GET",
            url: '@Url.Action("CheckAgendaItemNumberIsValid", "Meetings", new { id = Model.Meeting_Id })',
            //data: meetingData,
            dataType: "json",
            cache: false,
            success: function (data) {
                debugger;
                if (data.Result.Success == true) {
                    var grid = $("#gridAGMVoting").data("kendoGrid");
                    grid.saveChanges();
                } else {
                    alert('Please finalize agenda sequence before Voting/Noting.');
                }
            }
        });

    }

    function requestEndAgendaResponse(e) {
        
        if (e.type == "create" || e.type == "update") {
            var aa = e.response;
            if (e.response != undefined && e.response != null) {    
                if (e.response.IsComplianceReopen == true) {
                    var grid = $("#gridMeetingComplianceSchedule1").data("kendoGrid");
                    grid.dataSource.read();

                    var divgridNewMessage = $("#DivVotingMessage");
                    divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>Please close meeting level compliance.</lable></div></div></div>";
                }
                else if (e.response.Message == "Saved Successfully.") {
                    var divgridNewMessage = $("#DivVotingMessage");
                    divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
                }

            }
            
        }

    }
</script>

<div class="row colpadding0 hidden">
    <div class="col-md-12 colpadding0">
        <button type="button" id="btnPrevMeetingAttendenceagm" onclick="openAttendenceTab()" class="k-primary k-button k-grid-update k-button-icontext" style="float: right;">Back</button>
    </div>
</div>

<div id="DivVotingMessage">
</div>

@(Html.Kendo().Tooltip()
.For("#gridAGMVoting")
.Filter(".k-grid-ainfo")
.Position(TooltipPosition.Bottom)
.AutoHide(true)
)
<div id="DIVVoting" class="">
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.AGMVoting>()
                    .Name("gridAGMVoting")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.MeetingID).Visible(false);
                        columns.Bound(p => p.AgendaId).Visible(false);
                    //columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderGridRowNumber() #").Width(65);
                    columns.Bound(p => p.Agenda).ClientTemplate("#=Agenda#").Title("Agenda").Width("72%");
                    columns.Bound(c => c.HasPreCommittee).Title("").ClientTemplate("#= getPreCommitteeDetails(data)#").Width("3%");
                    columns.Bound(c => c.VotingResponse).Title("Response").ClientTemplate("#= getNotingVotingdetails(data)#").Width("25%");
                        
                    //columns.Bound(c => c.VotingResponse).Title("Response").ClientTemplate(
                    //"<label class='container1' for='rdbApproved#=data.uid#'>Approve<input id='rdbApproved#=data.uid#' onclick = 'setDataItemforAGM(this);' name='#=data.uid#' onclick='setDataItemforAGM(this);' #= VotingResponse == 'A' ? 'checked=checked' : '' #  style='margin-left:0.5em;' type='radio' value='A'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                    //"<label class='container1' for='rdbDisapprove#=data.uid#'>Disapprove<input id ='rdbDisapprove#=data.uid#' onclick = 'setDataItemforAGM(this);' name = '#=data.uid#' onclick = 'setDataItemforAGM(this);' #= VotingResponse == 'D' ? 'checked=checked' : '' #  style='margin-left:0.5em;' type='radio' value='D'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;").HtmlAttributes(new { @style = "width:20%" });
                })
                    .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                    .Events(e => e.DataBound("dataBoundGridAGMVoting"))
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(true)
                    .Events(e => e.RequestEnd("requestEndAgendaResponse"))
                    .ServerOperation(false)
                    .Read(read => read.Action("AGMVotingAgendaResponse", "MainMeeting", new { MeetingID = Model.Meeting_Id }).Type(HttpVerbs.Get))
                    .Update(update => update.Action("UpdateAgendaResponse", "MainMeeting"))
                    .Create(update => update.Action("UpdateAgendaResponse", "MainMeeting"))
                    .Model(model =>
                    {
                        model.Id(p => p.VotingResponseId);
                        model.Field(m => m.VotingResponse).Editable(false);
                        model.Field(m => m.Agenda).Editable(false);
                        model.Field(m => m.AllowUpdate).Editable(false);
                        model.Field(m => m.HasPreCommittee).Editable(false);
                        model.Field(m => m.PreCommitteResult).Editable(false);
                    })
                    ))
        </div>
    </div>
</div>

@if (Model.MeetingType_Id == 7)
{
    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            <div>Note :- LLP</div>
        </div>
    </div>
}
<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0" style="text-align:center">
        <button type="button" id="btnSaveAgendaResponse" class="btn btn-primary" onclick="saveAgendaResponse()">Submit</button>
    </div>
</div>


