﻿@using Kendo.Mvc.UI
@model BM_ManegmentServices.VM.MeetingAttendance_VM

@using (Ajax.BeginForm("MeetingAttendanceNew", "MainMeeting", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divMeetingAttendance" }, new { id = "frmMeetingAttendance" }))
{
    <style>
        .sizeofquorum {
            height: 49px;
            border-radius: 25px;
            text-align: center;
        }
    </style>
    <style>
        .rect {
            border-radius: 20px;
            height: 34px;
            width: 54%;
        }
    </style>
    <style>
        .checkmark1-new{
            top : 10px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#btnAttendencePrev").kendoTooltip({
                position: "top",

                autoHide: true,
                content: function () {
                    return "Attendance Register";
                },

            });
        });
    </script>

    <script>
        function dataBoundGridMeetingAttendance(e) {
            debugger;
            var grid = $("#gridMeetingAttendance").data("kendoGrid");
            grid.thead.css("background-color", "green")
            var data = grid.dataSource.data();
            $.each(data, function (i, row) {
                $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 2px 6px 0 #bdc3c7");
            })

            getGridborder(grid);
        };

        function dataBoundAuditor(e) {
            debugger;
            var grid = $("#gridMeetingAttendanceForAuditor").data("kendoGrid");
            grid.thead.css("background-color", "green")
            var data = grid.dataSource.data();
            $.each(data, function (i, row) {
                $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 2px 6px 0 #bdc3c7");
            })
        };

        function savetotalAgmMemberpresent()
        {
            debugger;
            var TotalMemberPresentInAgm = $("#txtTotalMemberPresentForAgm").val();
            var TotalProxyPresentInAgm = $("#txtTotalProxyPresentForAgm").val();
            var TotalMemberInAgm = $("#txtTotalMemberForAgm").val();
            var MeetingAttendance_VM = { MeetingId: '@Model.MeetingId', TotalMemberPresentForAgm: TotalMemberPresentInAgm, TotalproxyPresentForAgm: TotalProxyPresentInAgm, TotalMemberForAgm: TotalMemberInAgm }

            $.ajax({
                type: "POST",
                url: '@Url.Action("TotalMemberPresentInAgm", "MainMeeting")',
                data: MeetingAttendance_VM,
                dataType: "json",
                cache: false,
                success: function (data) {
                    alert(data);
                }
            });
        };

    </script>

    <script>
        function GetImage(did, file) {
            if (did == 0) {
                return "/Images/User-Profile-pic.png";
            }
            else {
                return "/Areas/BM_Management/Documents/Director/" + did + "/" + file;
            }
        }

        function setDataItemforAttendance(item) {
            var grid = $("#gridMeetingAttendance").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() == "A") {
                dataItem.Attendance = "A";
                row.find(".txt-remark").removeClass('hidden');
            } else if ($(item).val() == "P") {
                dataItem.Attendance = "P";
                row.find(".txt-remark").addClass('hidden');
            }
            dataItem.dirty = true;
        };

        function setDataItemforAttendanceAGMResponses(item) {
            debugger;
            var grid = $("#gridMeetingAttendanceForAuditor").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() == "A") {
                dataItem.Attendance = "A";
            } else if ($(item).val() == "P") {
                dataItem.Attendance = "P";
            }
            dataItem.dirty = true;
        };

        function setDataItemforAttendanceInvitee(item) {
            debugger;
            var grid = $("#gridMeetingAttendanceForInvitee").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() == "A") {
                dataItem.Attendance = "A";
            } else if ($(item).val() == "P") {
                dataItem.Attendance = "P";
            }
            dataItem.dirty = true;
        };

        //Remark For Invitee
        function setDataItemforAttendanceInvitee(item) {
            debugger;
            var grid = $("#gridMeetingAttendanceForInvitee").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() != "") {
                dataItem.Remark = $(item).val();
            }

            dataItem.dirty = true;
        };

        //Remark For Agm Partner
        function setDataItemforAttendanceAuditor(item) {
            debugger;
            var grid = $("#gridMeetingAttendanceForAuditor").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() != "") {
                dataItem.PartnerName = $(item).val();
            }

            dataItem.dirty = true;
        };
        //Remark For BordMember
        function setDataItemforRemark(item) {
            var grid = $("#gridMeetingAttendance").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() != "") {
                dataItem.Remark = $(item).val();
            }

            dataItem.dirty = true;
        };

        function setDataItemforRemarkCircular(item) {
            var grid = $("#gridMeetingAttendance").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);
            dataItem.Remark = $(item).val();
            dataItem.dirty = true;
        }
    </script>

    <script>
        function attendenceRequestend(e) {
        debugger;
        if (e.type == "create" || e.type == "update") {
            //$('#gridMeetingAttendance').data('kendoGrid').dataSource.read();
            //$('#gridMeetingAttendance').data('kendoGrid').refresh();

            //$('#gridMeetingAttendanceForAuditor').data('kendoGrid').dataSource.read();
            //$('#gridMeetingAttendanceForAuditor').data('kendoGrid').refresh();

            //$('#gridMeetingAttendanceForInvitee').data('kendoGrid').dataSource.read();
            //$('#gridMeetingAttendanceForInvitee').data('kendoGrid').refresh();

            //alert("Attendance save successfully")
            // location.reload();
            $("#frmMeetingAttendance").attr("action","@Url.Action("MeetingAttendanceNew", "MainMeeting", new { MeetingId = Model.MeetingId })").submit();
        }
        }

        $("#btnSave_MeetingAttendance").kendoButton({
            click: function (e) {

                var divGridMeetingAttendanceMsg = $("#divGridMeetingAttendanceMsg");
                divGridMeetingAttendanceMsg[0].innerHTML = "";
                var grid1 = $("#gridMeetingAttendance").data("kendoGrid");

                var gridData = grid1.dataSource.data();
                var flag = false;
                for (var i = 0; i < gridData.length; i++) {
                    if (gridData[i].Attendance == 'A' && (gridData[i].Remark == '' || gridData[i].Remark == null)) {
                        flag = true;
                        break;
                    }
                }

                if(flag == false){
                    grid1.saveChanges();
                    grid1.refresh();

                    //var grid2 = $("#gridMeetingAttendanceForAuditor").data("kendoGrid");
                    //grid2.saveChanges();
                    //grid2.refresh();

                    //var grid2 = $("#gridMeetingAttendanceForInvitee").data("kendoGrid");
                    //grid2.saveChanges();
                    //grid2.refresh();
                }
                else{
                    divGridMeetingAttendanceMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>Please enter leave of absence remark.</lable></div></div></div>";
                }
            }
        });
    </script>

    if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "HDCS" || @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "CS")
    {
        if (Model.IsAttendenceDone)
        {
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-10">
                        @if (Model.Success && Model.ShowAttendenceMessage)
                        {
                            <div class="alert alert-success">
                                <lable class="">@Model.Message</lable>
                            </div>
                        }
                        else if (Model.Error)
                        {
                            <div class="alert alert-danger">
                                <lable class="">@Model.Message</lable>
                            </div>
                        }
                    </div>
                    @if (Model.startstopeDateVM.MeetingTypeId == 10)
                    {
                        
                    }
                </div>
            </div>
        }
    }

    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            <div style="text-align:right;margin-bottom: 5px;">
                <button type="button" id="btnAttendencePrev" class="k-primary k-button k-grid-update k-button-icontext" onclick="showAttandanceDetails(@Model.MeetingId)">Attendance</button>
            </div>
        </div>
    </div>

    <div id="divGridMeetingAttendanceMsg"></div>

    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">

            <div id="DIVAttendenceMeeting">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAttendance_VM>()
                                                            .Name("gridMeetingAttendance")
                                                            .Columns(columns =>
                                                            {
                                                    @*columns.Template(@<text></text>).ClientTemplate("#= renderNumber(data) #").Title("Sr.No.").HtmlAttributes(new { @style = "width:5%" }); ;*@
                                                                columns.Bound(c => c.Director_Id).Title("Participant")
                                                               .ClientTemplate(@"<div class='customer-photo'
             style='background-image: url(#= GetImage(data.Director_Id,data.ImagePath) #);'></div>").Width("10%");
                                                                columns.Bound(p => p.MeetingParticipant_Name).Title("Name").Width("20%");
                                                                columns.Bound(p => p.Designation).Title("Designation").Width("20%");
                                                                columns.Bound(c => c.Attendance).ClientTemplate("<label class='container1' for='rdbAttendancepresent#=data.uid#'>Present<input id = 'rdbAttendancepresent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendance(this);' #= Attendance== 'P' ? 'checked=checked' : '' #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='P' class='k-radio'><span class='checkmark1 checkmark1-new'></span></label>" + "&nbsp; &nbsp;" +
                                                                                                                "<label class='container1' for='rdbabsent#=data.uid#'>Leave of Absence<input id = 'rdbabsent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendance(this);' #= Attendance== 'A' ? 'checked=checked' : '' #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='A' class='k-radio'><span class='checkmark1 checkmark1-new'></span></label>" + "&nbsp; &nbsp;" +
                                                               "&nbsp; &nbsp;").Width("30%");
                                                                columns.Bound(c => c.Remark).ClientTemplate("<input id = 'rdbRemark'  onchange='setDataItemforRemark(this);' #= Remark #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='width:100%' class='k-input k-textbox txt-remark #= data.Attendance== 'P' ? 'hidden' : '' #' type='textbox' value='#=Remark !=null?Remark:''#'>").Width("20%");
                                                            })
                                                            .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                                                            .Events(e => e.DataBound("dataBoundGridMeetingAttendance"))
                                                                  .DataSource(dataSource => dataSource
                                                            .Ajax()
                                                            .Events(e => e.RequestEnd("attendenceRequestend"))
                                                            .Batch(true)
                                                            .ServerOperation(false)
                                                            .Read(read => read.Action("GetMeetingAttendance", "MainMeeting", new { MeetingID = Model.MeetingId }).Type(HttpVerbs.Get))
                                                            .Update(update => update.Action("UpdateAttendenceResponse", "MainMeeting"))
                                                            .Create(update => update.Action("UpdateAttendenceResponse", "MainMeeting"))
                                                            .Model(model =>
                                                            {
                                                                model.Id(p => p.MeetingId);
                                                                model.Field(p => p.MeetingParticipant_Name).Editable(false);
                                                                model.Field(p => p.Attendance).Editable(false);
                                                                model.Field(p => p.Director_Id).Editable(false);
                                                                model.Field(p => p.Remark).Editable(false);
                                                                model.Field(p => p.Designation).Editable(false);
                                                            })
                                                            ))

                @if (Model.startstopeDateVM.MeetingTypeId == 11)
                {
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            <h4><b>Auditor</b></h4>
                        </div>
                    </div>
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAttendance_VM>()
                                                        .Name("gridMeetingAttendanceForAuditor")
                                                        .Columns(columns =>
                                                        {
                                                        // columns.Bound(c => c.AuditorId).Title("Participant")
                                                        //.ClientTemplate(@"<div class='customer-photo'
                                                        //              style='background-image: url(#= GetImage(data.Director_Id,data.ImagePath) #);'></div>").HtmlAttributes(new { @style = "width:5%" });
                                                        columns.Bound(p => p.MeetingParticipant_Name).Title("Name").HtmlAttributes(new { @style = "width:15%" });
                                                            columns.Bound(p => p.Designation).Title("Designation").HtmlAttributes(new { @style = "width:15%" });
                                                            columns.Bound(c => c.PartnerName).ClientTemplate("<input id = 'rdbPartnerName'  onchange='setDataItemforAttendanceAuditor(this);' #= PartnerName #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='width:100%' class='k-input k-textbox' type='textbox' value='#=PartnerName !=null?PartnerName:''#'>").HtmlAttributes(new { @style = "width:30%" });

                                                            columns.Bound(c => c.Attendance).ClientTemplate("<label class='container1' for='rdbAttendancepresent#=data.uid#'>Present<input id = 'rdbAttendancepresent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendanceAGMResponses(this);' #= Attendance== 'P' ? 'checked=checked' : '' #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='P' class='k-radio'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                                                                                                            "<label class='container1' for='rdbabsent#=data.uid#'>Not Present <input id = 'rdbabsent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendanceAGMResponses(this);' #= Attendance== 'A' ? 'checked=checked' : '' #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='A' class='k-radio'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                                                           "&nbsp; &nbsp;").HtmlAttributes(new { @style = "width:30%" });
                                                        //columns.Bound(c => c.Remark).ClientTemplate("<input id = 'rdbRemark'  onchange='setDataItemforRemark(this);' #= Remark #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='width:100%' class='k-input k-textbox' type='textbox' value='#=Remark !=null?Remark:''#'>").HtmlAttributes(new { @style = "width:30%" });
                                                    })
                                                        .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                                                        .Events(e => e.DataBound("dataBoundAuditor"))
                                                              .DataSource(dataSource => dataSource
                                                        .Ajax()
                                                        .Events(e => e.RequestEnd("attendenceRequestend"))
                                                        .Batch(true)
                                                        .ServerOperation(false)
                                                        .Read(read => read.Action("GetAuditorAttendance", "MainMeeting", new { MeetingID = Model.MeetingId }).Type(HttpVerbs.Get))
                                                        .Update(update => update.Action("UpdateAttendenceResponseForAuditor", "MainMeeting"))
                                                        .Create(update => update.Action("UpdateAttendenceResponseForAuditor", "MainMeeting"))
                                                        .Model(model =>
                                                        {
                                                            model.Id(p => p.MeetingId);
                                                            model.Field(p => p.MeetingParticipant_Name).Editable(false);
                                                            model.Field(p => p.Attendance).Editable(false);
                                                            model.Field(p => p.AuditorId).Editable(false);
                                                            model.Field(p => p.Remark).Editable(false);
                                                            model.Field(p => p.Designation).Editable(false);
                                                        })
                                                        ))
                        </div>
                    </div>

                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            <h4><b>Invitee</b></h4>
                        </div>
                    </div>
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAttendance_VM>()
                                                        .Name("gridMeetingAttendanceForInvitee")
                                                        .Columns(columns =>
                                                        {
                                                            columns.Bound(p => p.MeetingParticipant_Name).Title("Name").HtmlAttributes(new { @style = "width:15%" });
                                                            columns.Bound(p => p.Designation).Title("Designation").HtmlAttributes(new { @style = "width:15%" });
                                                            columns.Bound(c => c.Attendance).ClientTemplate("<label class='container1' for='rdbAttendancepresent#=data.uid#'>Present<input id = 'rdbAttendancepresent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendanceInvitee(this);' #= Attendance== 'P' ? 'checked=checked' : '' #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='P' class='k-radio'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                                                                                                            "<label class='container1' for='rdbabsent#=data.uid#'>Not Present<input id = 'rdbabsent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendanceInvitee(this);' #= Attendance== 'A' ? 'checked=checked' : '' #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='A' class='k-radio'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                                                           "&nbsp; &nbsp;").HtmlAttributes(new { @style = "width:30%" });
                                                            columns.Bound(c => c.Remark).ClientTemplate("<input id = 'rdbRemark'  onchange='setDataItemforAttendanceInvitee(this);' #= Remark #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='width:100%' class='k-input k-textbox' type='textbox' value='#=Remark !=null?Remark:''#'>").HtmlAttributes(new { @style = "width:30%" });
                                                        })
                                                        .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                                                        .Events(e => e.DataBound("dataBoundAuditor"))
                                                              .DataSource(dataSource => dataSource
                                                        .Ajax()
                                                        .Events(e => e.RequestEnd("attendenceRequestend"))
                                                        .Batch(true)
                                                        .ServerOperation(false)
                                                        .Read(read => read.Action("GetInviteeAttendance", "MainMeeting", new { MeetingID = Model.MeetingId }).Type(HttpVerbs.Get))
                                                        .Update(update => update.Action("UpdateAttendenceResponseforInvitee", "MainMeeting"))
                                                        .Create(update => update.Action("UpdateAttendenceResponseforInvitee", "MainMeeting"))
                                                        .Model(model =>
                                                        {
                                                            model.Id(p => p.MeetingId);
                                                            model.Field(p => p.MeetingParticipant_Name).Editable(false);
                                                            model.Field(p => p.Attendance).Editable(false);
                                                            model.Field(p => p.AuditorId).Editable(false);
                                                            model.Field(p => p.Remark).Editable(false);
                                                            model.Field(p => p.Designation).Editable(false);
                                                        })
                                                        ))
                        </div>
                    </div>
                }

                @if (Model.startstopeDateVM.MeetingTypeId == 11)
                {
                    <div class="row colpadding0 mt30" style="border-bottom:2px solid #ccc;border-left:2px solid #ccc;border-right:2px solid #ccc;border-top:2px solid #ccc;height: 62px;">
                        <div class="col-md-12 colpadding0" style="margin-top:1%;margin-left:1%">
                            <div class="col-md-2 colpadding0"><b style="color:black">Total Member:</b></div>
                            <div class="col-md-2 colpadding0">
                                @(Html.Kendo().TextBoxFor(m => m.startstopeDateVM.TotalMemberForAgm).HtmlAttributes(new { @style = "width:80%", @onchange = "savetotalAgmMemberpresent()", @Id = "txtTotalMemberForAgm" }))
                            </div>
                            <div class="col-md-2 colpadding0"><b style="color:black">Total Member Present:</b></div>
                            <div class="col-md-2 colpadding0">
                                @(Html.Kendo().TextBoxFor(m => m.startstopeDateVM.TotalMemberPresentForAgm).HtmlAttributes(new { @style = "width:80%", @onchange = "savetotalAgmMemberpresent()", @Id = "txtTotalMemberPresentForAgm" }))
                            </div>

                            <div class="col-md-2 colpadding0"><b style="color:black">Total Proxy Present:</b></div>
                            <div class="col-md-2 colpadding0">
                                @(Html.Kendo().TextBoxFor(m => m.startstopeDateVM.TotalProxyPresentforAgm).HtmlAttributes(new { @style = "width:80%", @onchange = "savetotalAgmMemberpresent()", @Id = "txtTotalProxyPresentForAgm" }))
                            </div>
                        </div>
                    </div>
                }

                <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;text-align:center;">
                    <button type="button" id="btnSave_MeetingAttendance" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                    @if (Model.IsAttendenceDone)
                    {
                        <button type="button" id="btnNextMeetingAttendence" onclick="openAgendaTab()" class="k-primary k-button k-grid-update k-button-icontext" @((Model.Success != true) ? "disabled" : "")>Next</button>
                    }
                </div>
            </div>

        </div>
    </div>

    

    @(Html.Kendo().Window().Name("PopupMeetingChairmanelection").Width(25).Draggable().Modal(true).Visible(false).Resizable().Title("Chairman Election").Actions(actions => actions.Close()))

    @(Html.Kendo().Window().Name("PopupAttendencePriview").Width(25).Height(150).Draggable().Modal(true).Visible(false).Resizable().Title("PRIVIEW").Actions(actions => actions.Close()))

}
<script>
    $(document).ready(function(){
        if ("@Model.IsAttendenceDone" == "True") {
            //$('#liAgendaResponses').removeClass("hidden");
        }
        else {
            //AgendaResponses
        }
    });

    function openAgendaTab(e) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CheckforChairmanMeeting", "MainMeeting")',
                data: {MeetingId:@Model.MeetingId},
                dataType: "json",
                cache: false,
                success: function (data) {

                    if(data=="Chairman not Present !! Please Elect Chairman for this meeting")
                    {
                        alert(data);
                        direction = "@Url.Action("OpenChairmanElection", "MainMeeting")"+"?MeetingId=" + "@Model.MeetingId"+"&ParticipantId="+@Model.ParticipantId;
                        var wnd = $("#PopupMeetingChairmanelection").data("kendoWindow");
                        var opts = wnd.options;
                        wnd = $("#PopupMeetingChairmanelection").kendoWindow({
                            content: direction,
                            visible: false,
                            modal: true,
                            close: function (e) {
                                $(this.element).empty();

                                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                            },
                            open: function (e) {

                                $(this.element).closest(".k-window").css("position", "fixed")
                                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                                kendo.ui.progress(this.element, true);
                            },
                            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                        }).data("kendoWindow");
                        opts.width = "30%";
                        wnd.setOptions(opts);
                        wnd.center();
                        //wnd.refresh(direction);
                        wnd.open();
                    }
                    else
                    {
                        //$("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                        //$("div.bhoechie-tab>div.bhoechie-tab-content").next('.bhoechie-tab-content').addClass("active");
                        //$("#attendencetab").removeClass("active");
                        //$("#agendatab").addClass("active");

                        $('#liAgendaResponses').removeClass("hidden");
                        $("#liAttendance").removeClass("active");
                        $("#Attendance").removeClass("active");

                        $("#liAgendaResponses").addClass("active");
                        $("#AgendaResponses").addClass("active");
                        
                    }

                }
            })
        }
</script>