﻿@model BM_ManegmentServices.VM.Response

@if (Model.Success)
{
    <div class="alert alert-success alert-dismissible" style="margin-bottom:0px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <lable>@Model.Message</lable>
        }
        else if (Model.message.Count > 0)
        {
            <ul>
                @foreach (var item in Model.message)
                {
                    <li>
                        <label>@item</label>
                    </li>
                }
            </ul>
        }
    </div>
}
else if (Model.Error)
{
    <div class="alert alert-danger alert-dismissible" style="margin-bottom:0px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <lable>@Model.Message</lable>
    </div>
}

