﻿@using Kendo.Mvc.UI;
@model int


<style>
  .k-grid td {
    line-height: 2.5em;
    white-space: normal;
}
</style>
<script>
    function downloadrecording(e) {
        //debugger;
        //e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.FileID;
        window.location.href = "@Url.Action("DownloadFilefromCloude", "Meetings")?FileId=" + id;

        @*$.ajax({
            type: "POST",
            url: '@Url.Action("DownloadFilefromCloude", "Meetings")?FileId=' + id,
            method: "GET",
            dataType: "json",
            cache: false,
            success: function (data) {
                debugger;
            }
        });*@
    }

    function onRowBound(e) {
        var grid = $("#FiledataGrid").data("kendoGrid");
        var gridData = grid.dataSource.view();
        GetICons();
        getGridborder(grid);
    }

    function GetFilefromProvidertocloud()
    {
        debugger;
        @*//window.location.href = "@Url.Action("DownloadWebexRecordingToLocalFile", "Meetings")?MeetingId=" + "@Model";*@
        var wnd = $("#FiledataGrid").data("kendoGrid");

        kendo.ui.progress(wnd.element, true);

        $.ajax({
            type: "POST",
            url: '@Url.Action("DownloadRecordingToLocalFile", "Meetings")',
            data: { MeetingId: "@Model" },
            dataType: "json",
            method:"GET",
            cache: false,
            success: function (data)
            {
                debugger;
                $('#FiledataGrid').data('kendoGrid').dataSource.read();

                $('#FiledataGrid').data('kendoGrid').refresh();
                var wnd = $("#FiledataGrid").data("kendoGrid");

                kendo.ui.progress(wnd.element, false);
                if (data.result != "") {
                $("#divsuccess").show();
               
                    $("#lblsuccess").text(data.result)
                }
            },
            
            
        });
    }
</script>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-8">
                    <div class="alert alert-success alert-dismissible" id="divsuccess" style="display:none">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                       <label id="lblsuccess"></label>
                    </div>
                </div>
                <div class="col-md-2 colpadding0 text-right">
                <input type="button" class="btn btn-primary" id="btnFiledownload"  title="Refresh" value="Refresh" onclick="GetFilefromProvidertocloud()" />
                    </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.FileDataVM>()
                    .Name("FiledataGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.FileID).Visible(false);
                        columns.Bound(o => o.FileName).Width("90%").Title("Name").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));


                        columns.Command(commnd =>
                        {
                            commnd.Custom("Download").Click("downloadrecording").HtmlAttributes(new { @class = "k-grid-download" });

                        }).Title("Action").Width("5%").HeaderHtmlAttributes(new { style = "text-align:center; border-width: 0px 0px 0px 0px;" }).HtmlAttributes(new { style = "text-align: center;" });
                    }).EnableCustomBinding(true)
                    .Events(e => e.DataBound("onRowBound"))
                    .Navigatable()
                    .Pageable(pageable => pageable
                    .Refresh(false)
                    .PageSizes(true)
                    .ButtonCount(5))
                    .Filterable()
                    .Sortable()
                    .Reorderable(reorderable => reorderable.Columns(true))
                    .Resizable(resizable => resizable.Columns(true))
                    .ColumnMenu(col => col.Columns(false))
                    .DataSource(
                            dataSource => dataSource
                            .WebApi()
                            .PageSize(10)
                            .ServerOperation(false)
                            .Model(model =>
                            {
                                model.Id(o => o.FileID);
                            })
                            .Read(read => read.Url("/api/VideoMeeting/VCRecordingDetails?MeetingId=" + Model).Type(HttpVerbs.Get))
                            ).HtmlAttributes(new { @style = "width:100%" }))
            </div>
        </div>
    </div>
</div>
