﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMHolidayMaster

<div id="example">
    <div id="window" style="overflow-y:hidden;overflow-x:hidden">
        <!-- this will be the content of the popup -->
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="row colpadding0"><div class="col-md-12 colpadding0">
        @Html.Partial("_PartialviewHoliday", Model)
        </div></div>
    </div>
</div>



