﻿@model com.VirtuosoITech.ComplianceManagement.Portal.AppCode.Models.BasicSetupModel
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/NewCSS/3.3.7/bootstrap.min.css" rel="stylesheet" />
<link href="~/NewCSS/bootstrap-datepicker.min.css" rel="stylesheet" />
<!----Letest Jquery---->>
<script src="~/Newjs/3.3.1/jquery.min.js"></script>
<script src="~/Newjs/3.3.7/bootstrap.min.js"></script>


<script src="~/Newjs/bootstrap-datepicker.min.js"></script>

<link href="~/NewCSS/bootstrap-datepicker.css" rel="stylesheet" />

<script src="~/Newjs/jquery.validate.min.js"></script>
<script src="~/Newjs/jquery.validate.unobtrusive.js"></script>

<style>
    .form-control {
        margin-bottom: 8px;
        height: 31px;
        font-family:sans-serif;
    }
    .text-danger{
        color:#ef2723;
        font-family:sans-serif;
            font-size: small;
    }
    .control-label {
         font-family:sans-serif;
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left;
    }
    .pl-50{
            padding-left: 51px;
    }
</style>
<script>

    $(document).ready(function () {
        debugger;
        $('k-loading-mask', window.parent.document.body).css('display', 'none');
    });
    </script>

<div class="wrapper">
    <div class="container-fluid">
        @using (Html.BeginForm())
        {          <br />

            if (Model.Exception == true)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                                <strong></strong> Server Error Occured.Please try later.
                            </div>
                        </div>
                    </div>
                }
            if (Model.Message == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Details saved successfully.
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 col-xs-2 control-label">Entity/Client<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-10 col-xs-10 pl-50">
                            @Html.HiddenFor(m => m.AVACOM_BranchID)
                            @Html.HiddenFor(m => m.CM_ClientID)
                            @Html.HiddenFor(m => m.CO_CorporateID)
                            @Html.TextBoxFor(m => m.CM_ClientName, null, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.CM_ClientName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
                    
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">State<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7 ">
                            @Html.HiddenFor(x => x.StateModel.AVACOM_StateID)
                            @Html.DropDownListFor(m => m.StateModel.AVACOM_StateID, new SelectList(Model.States, "AVACOM_StateID", "SM_Name"), "Select", new { @class = "form-control", @disabled="disabled" })
                            @Html.ValidationMessageFor(m => m.StateModel.AVACOM_StateID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">City<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7 ">
                           
                            @Html.DropDownListFor(m => m.CM_City, new SelectList(Model.Locations, "LM_Code", "LM_Name"), "Select", new { @class = "form-control", @disabled = "disabled" })
                           @Html.HiddenFor(x => x.CM_City)
                             @Html.ValidationMessageFor(m => m.CM_City, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>            

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Service Start Date<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7 " id="divserviceD">
                            @Html.TextBoxFor(m => m.CM_ServiceStartDate, "{0:dd/MM/yyyy}", new { @class = "form-control",@readonly="readonly" })
                            @Html.ValidationMessageFor(m => m.CM_ServiceStartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Address<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7 ">
                            @Html.TextAreaFor(m => m.CM_Address, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.CM_Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Establishment Type<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7">
                            @Html.DropDownListFor(m => m.CM_EstablishmentType, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Shop & Establishment",Value="SEA"},
                                    new SelectListItem { Text="Factory",Value="FACT"},
                                    new SelectListItem { Text="Both",Value="SF"} }, "Value", "Text"), "Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CM_EstablishmentType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Act Applicability<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7">
                            @Html.DropDownListFor(m => m.ActApplicablity, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Central",Value="CEN"},
                                    new SelectListItem { Text="State",Value="STATE"} }, "Value", "Text"), "Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ActApplicablity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Wage Period (From)<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7 ">
                            @Html.DropDownListFor(m => m.ClientDetailsVModel.CB_WagePeriodFrom, new SelectList(new List<SelectListItem> {
                    new SelectListItem { Text="1",Value="1"},
                    new SelectListItem { Text="2",Value="2"},new SelectListItem { Text="3",Value="3"},
                    new SelectListItem { Text="4",Value="4"},new SelectListItem { Text="5",Value="5"},new SelectListItem { Text="6",Value="6"},
                    new SelectListItem { Text="7",Value="7"},new SelectListItem { Text="8",Value="8"},new SelectListItem { Text="9",Value="9"},
                    new SelectListItem { Text="10",Value="10"},new SelectListItem { Text="11",Value="11"},new SelectListItem { Text="12",Value="12"},
                    new SelectListItem { Text="13",Value="13"},new SelectListItem { Text="14",Value="14"},new SelectListItem { Text="15",Value="15"},
                    new SelectListItem { Text="16",Value="16"},new SelectListItem { Text="17",Value="17"},new SelectListItem { Text="18",Value="18"},
                    new SelectListItem { Text="19",Value="19"},new SelectListItem { Text="20",Value="20"},new SelectListItem { Text="21",Value="21"},
                    new SelectListItem { Text="22",Value="22"},new SelectListItem { Text="23",Value="23"},new SelectListItem { Text="24",Value="24"},
                    new SelectListItem { Text="25",Value="25"},new SelectListItem { Text="26",Value="26"},new SelectListItem { Text="27",Value="27"},
                    new SelectListItem { Text="28",Value="28"},new SelectListItem { Text="29",Value="29"},new SelectListItem { Text="30",Value="30"},new SelectListItem { Text="31",Value="31"}
                    }, "Value", "Text"), "Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ClientDetailsVModel.CB_WagePeriodFrom, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Wage Period (To)<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7 ">
                            @Html.DropDownListFor(m => m.ClientDetailsVModel.CB_WagePeriodTo, new SelectList(new List<SelectListItem> {
                    new SelectListItem { Text="1",Value="1"},
                    new SelectListItem { Text="2",Value="2"},new SelectListItem { Text="3",Value="3"},
                    new SelectListItem { Text="4",Value="4"},new SelectListItem { Text="5",Value="5"},new SelectListItem { Text="6",Value="6"},
                    new SelectListItem { Text="7",Value="7"},new SelectListItem { Text="8",Value="8"},new SelectListItem { Text="9",Value="9"},
                    new SelectListItem { Text="10",Value="10"},new SelectListItem { Text="11",Value="11"},new SelectListItem { Text="12",Value="12"},
                    new SelectListItem { Text="13",Value="13"},new SelectListItem { Text="14",Value="14"},new SelectListItem { Text="15",Value="15"},
                    new SelectListItem { Text="16",Value="16"},new SelectListItem { Text="17",Value="17"},new SelectListItem { Text="18",Value="18"},
                    new SelectListItem { Text="19",Value="19"},new SelectListItem { Text="20",Value="20"},new SelectListItem { Text="21",Value="21"},
                    new SelectListItem { Text="22",Value="22"},new SelectListItem { Text="23",Value="23"},new SelectListItem { Text="24",Value="24"},
                    new SelectListItem { Text="25",Value="25"},new SelectListItem { Text="26",Value="26"},new SelectListItem { Text="27",Value="27"},
                    new SelectListItem { Text="28",Value="28"},new SelectListItem { Text="29",Value="29"},new SelectListItem { Text="30",Value="30"},new SelectListItem { Text="31",Value="31"}
                    }, "Value", "Text"), "Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ClientDetailsVModel.CB_WagePeriodTo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Payment Day<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7 ">
                            @Html.DropDownListFor(m => m.ClientDetailsVModel.CB_PaymentDate, new SelectList(new List<SelectListItem> {
                    new SelectListItem { Text="1",Value="1"},
                    new SelectListItem { Text="2",Value="2"},new SelectListItem { Text="3",Value="3"},
                    new SelectListItem { Text="4",Value="4"},new SelectListItem { Text="5",Value="5"},new SelectListItem { Text="6",Value="6"},
                    new SelectListItem { Text="7",Value="7"},new SelectListItem { Text="8",Value="8"},new SelectListItem { Text="9",Value="9"},
                    new SelectListItem { Text="10",Value="10"},new SelectListItem { Text="11",Value="11"},new SelectListItem { Text="12",Value="12"},
                    new SelectListItem { Text="13",Value="13"},new SelectListItem { Text="14",Value="14"},new SelectListItem { Text="15",Value="15"},
                    new SelectListItem { Text="16",Value="16"},new SelectListItem { Text="17",Value="17"},new SelectListItem { Text="18",Value="18"},
                    new SelectListItem { Text="19",Value="19"},new SelectListItem { Text="20",Value="20"},new SelectListItem { Text="21",Value="21"},
                    new SelectListItem { Text="22",Value="22"},new SelectListItem { Text="23",Value="23"},new SelectListItem { Text="24",Value="24"},
                    new SelectListItem { Text="25",Value="25"},new SelectListItem { Text="26",Value="26"},new SelectListItem { Text="27",Value="27"},
                    new SelectListItem { Text="28",Value="28"},new SelectListItem { Text="29",Value="29"},new SelectListItem { Text="30",Value="30"},
                           new SelectListItem { Text="31",Value="31"}
                    }, "Value", "Text"), "Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ClientDetailsVModel.CB_PaymentDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Service Tax Exempted<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7 ">
                            @Html.DropDownListFor(m => m.ClientDetailsVModel.CB_ServiceTaxExmpted, new SelectList(new List<SelectListItem> {
                    new SelectListItem { Text="Yes",Value="Y"},
                    new SelectListItem { Text="No",Value="N"} }, "Value", "Text"), "Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ClientDetailsVModel.CB_ServiceTaxExmpted, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Commencement Date<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7 " id="divCommcmntDate">
                            @Html.TextBoxFor(m => m.ClientDetailsVModel.CB_DateOfCommencement, "{0:dd/MM/yyyy}", new { @class = "form-control",@readonly="readonly" })
                            @Html.ValidationMessageFor(m => m.ClientDetailsVModel.CB_DateOfCommencement, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">EDLI Exemption</label>
                        <div class="col-md-7 col-xs-7 ">
                            @Html.DropDownListFor(m => m.ClientDetailsVModel.CB_EDLIExcemption, new SelectList(new List<SelectListItem> {
                                new SelectListItem { Text="Yes",Value="Y"},
                                new SelectListItem { Text="No",Value="N"}}, "Value", "Text"), "--Select--", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Bonus Percentage<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7 ">
                            @Html.TextBoxFor(m => m.CM_BonusPercentage, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CM_BonusPercentage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">Excemption</label>
                        <div class="col-md-7 col-xs-7 ">
                            @Html.CheckBoxFor(m => m.CM_Excemption)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5 col-xs-5 control-label">PF Code<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7 ">
                            @Html.TextBoxFor(m => m.ClientDetailsVModel.PFCode, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ClientDetailsVModel.PFCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="display:none">
                    <div class="form-group">
                        <label class="col-xs-5 control-label">Status<span id="spCM_ClientID" style="color: red;">*</span></label>
                        <div class="col-md-7 col-xs-7 ">
                            @Html.DropDownListFor(m => m.CM_Status, new SelectList(new List<SelectListItem> {
                                    new SelectListItem { Text="Active", Value="A"},
                                    new SelectListItem { Text="InActive", Value="I"} }, "Value", "Text"), "--Select--", new { @class = "form-control" })

                            @Html.ValidationMessageFor(m => m.CM_Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
                <div class="row" style="margin-top:20px; margin-bottom:10px;">
                    <div class="col-md-12 text-center">
                        @if (ViewData["ButtonType"].ToString() == "Edit")
                        {
                            <button type="submit" id="btnsave" value="Save" name="Save" class="btn btn-primary">Save</button>
                        }
                    </div>
                </div>
                }
            </div>

                </div>
                <script>
                    $('#divCommcmntDate input').datepicker({
                        autoclose: true,
                        format: 'dd/mm/yyyy'
                    });

                    $('#divserviceD input').datepicker({
                        autoclose: true,
                        format: 'dd/mm/yyyy'
                    });


                    $('#divTrainingD input').datepicker({
                        autoclose: true,
                        format: 'dd/mm/yyyy'
                    });

                    $('#StateModel_AVACOM_StateID').on("change", function () {
                        var State = $('#StateModel_AVACOM_StateID option:selected').val();
                        var city = $('#CM_City option:selected').val();
                        LoadCities(State,city);
                    });
                    //$('#StateModel_AVACOM_StateID').on("change", function () {
                       
                    //    var city = $('#CM_City option:selected').val();
                    //    LoadCities(State,city);
                    //});
                    function LoadCities(state,city) {

                        $.ajax({
                            url: "/Setup/GetCities",
                            data: { state },
                            type: "GET",
                            content: 'application/json;charset=utf-8',
                            dataType: 'json',
                            success: function (data) {
                                var dset = [];
                                dset = data;
                                $("#CM_City").empty();
                                $.each(dset, function (data, value) {
                                    $("#CM_City").append($("<option></option>").val(value.ID).html(value.Name));

                                });
                                if(city !=undefined && city !=null)
                                    $("#CM_City").val(city);
                                else
                                {
                                    var optionhtml1 = '<option value="' + 0 + '">' + "Select City" + '</option>';
                                    $("#CM_City").prepend(optionhtml1);
                                }
                                $("#CM_City").append(city);
                               
                            }
                        });
                    }
                    $('#btnsave').click(function(){
                        var city= $('#CM_City').val();
                        $('#CM_City').val(city);

                        return true;
                    });

                    $(document).ready(function () {

                      var city= @Html.Raw(Json.Encode(Model.CM_City));
                            var State = $('#StateModel_AVACOM_StateID').val();
                            var CM_city = $('#CM_City').val();
                            if (State != undefined && State != null)
                                LoadCities(State,city);
                            $('#CM_City').val(city);

                        });



</script>
