﻿
@model com.VirtuosoITech.ComplianceManagement.Portal.AppCode.Models.UploadDocumentVModel
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Latest compiled JavaScript -->

<link href="~/NewCSS/3.3.7/bootstrap.min.css" rel="stylesheet" />
<link href="~/NewCSS/bootstrap-datepicker.min.css" rel="stylesheet" />
<!-- jQuery library -->
<script src="~/Newjs/3.3.1/jquery.min.js"></script>
<script src="~/Newjs/3.3.7/bootstrap.min.js"></script>

<script src="~/Newjs/bootstrap-datepicker.min.js"></script>
<link href="~/NewCSS/font-awesome.min.css" rel="stylesheet" />
<style>
    .form-control {
        margin-bottom: 8px;
        height: 31px;
        font-family: 'sans-serif';
    }

    .text-danger {
        color: #ef2723;
        font-family: sans-serif;
        font-size: small;
    }

    .control-label {
        font-family: sans-serif;
        margin-bottom: 0;
        text-align: right;
    }
</style>
<div class="wrapper">
    <div class="chart-loading" id="loader"></div>
    <div class="container-fluid">
        @using (Html.BeginForm("UploadLocationFiles", "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {          <br />
            if (Model.Setup.SheetNameError == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Sheet name must be Entity
                        </div>
                    </div>
                </div>
            }
            if (Model.ClientLocationVModel.SheetNameError == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Sheet name must be Branch
                        </div>
                    </div>
                </div>
            }
            if (Model.Setup.Message == true || Model.ClientLocationVModel.Message==true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> File Uploaded Successfully.
                        </div>
                    </div>
                </div>
            }
            if (Model.ServerError == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Something went wrong, Please try again.
                        </div>
                    </div>
                </div>
            }
            if (Model.ExtensionError == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Upload only excelsheet with extension .xls and .xlsx.
                        </div>
                    </div>
                </div>
            }
            

            <div class="row" style="margin-top:10px;margin-bottom:20px;">
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <div class="col-xs-1">
                            @Html.CheckBoxFor(m => m.ClientCheck)
                        </div>
                        <label class="col-xs-7 control-label pl0 colpadding0">Client/Entity</label>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="form-group">
                        <div class="col-xs-1 pl0 colpadding0">
                            @Html.CheckBoxFor(m => m.LocationCheck)
                        </div>
                        <label class="col-xs-9 control-label">Branch/Location</label>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                   @if (Model.ClientLocationVModel.ServiceProviderID == 94)
                   {
                    <a href="/Setup/DownloadAttachment?Name=@Model.Setup.FileName&Sample=RLCSDownloadSampleLocation&Emp=false" class="fa fa-file-excel-o" id="btnSample">Sample Document</a>
                   }
                   else
                   {
                    <a href="/Setup/DownloadAttachment?Name=@Model.Setup.FileName&Sample=DownloadSampleLocation&Emp=false" class="fa fa-file-excel-o" id="btnSample">Sample Document</a>
                   }
                    
                    @*<a href="/Setup/DownloadAttachment?FName=@Model.Setup.FileName&Name=DownloadErrorsLocation" class="fa fa-file-excel-o" id="btnSample">Sample Document</a>*@
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                    <div class="col-md-9 col-xs-9">
                        <input type="file" name="fileUpload" /><br />
                        @if (Model.Error == true)
                        {
                            <span id="lblfileerror" style="color:red">Please upload file</span>
                        }
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <button type="submit" id="btnUpload" class="btn btn-primary">Upload</button>
                        <br />
                    </div>
                </div>
            </div>

            if (Model.Setup.ExcelErrors == true || Model.ClientLocationVModel.ExcelErrors == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <span id="errors" style="color:red">
                            Uploaded document contains errors. Please download file to correct errors.
                            @if (Model.Setup.FileName != null)
                            {
                                <a href="/Setup/DownloadAttachment?Name=@Model.Setup.FileName&Sample=DownloadErrorsLocation&Emp=false" class="btn btn-danger">Download Errors</a>
                            }
                            else
                            {
                                <a href="/Setup/DownloadAttachment?Name=@Model.ClientLocationVModel.FileName&Sample=DownloadErrorsLocation&Emp=false" class="btn btn-danger">Download Errors</a>
                            }                                
                        </span>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script>
  
    $(document).ready(function () {
        debugger;
        $('.k-loading-mask', window.parent.document.body).css('display', 'none');
    });
    $('#btnUpload').click(function () {
        $('#btnUpload').html('<span class="fa fa-refresh fa-spin" role="status" aria-hidden="true"></span>Loading...').addClass('disabled');
    });
    $(function () {

        $('form').attr("action", "/Setup/UploadLocationFiles");

        //$("#btnSample").click(function () {
        //    $.ajax({
        //        url: '/Setup/DownloadAttachment',
        //        contentType: 'application/json; charset=utf-8',
        //        datatype: 'json',
        //        type: "GET",
        //        success: function () {
        //            window.location = '/Setup/DownloadAttachment';
        //        }
        //    });
        //});


        $('#ClientCheck').change(function () {
            debugger;
            //  $('#divDownload').toggle();
            document.getElementById('LocationCheck').checked = false;
            document.getElementById('ClientCheck').Update = true;
        });

        $('#LocationCheck').change(function () {
            debugger;
            // $('#divDownload').toggle();
            document.getElementById('ClientCheck').checked = false;
            document.getElementById('LocationCheck').Update = true;
        });
    });
</script>