﻿@model com.VirtuosoITech.ComplianceManagement.Portal.AppCode.Models.UploadEmployeeDocumentVModel
@{
    ViewBag.Title = "UploadEmployeeFiles";
}


<link href="~/NewCSS/3.3.7/bootstrap.min.css" rel="stylesheet" />

<link href="~/NewCSS/bootstrap-datepicker.min.css" rel="stylesheet" />
<!-- jQuery library -->
<script src="~/Newjs/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<link href="~/NewCSS/chosen.css" rel="stylesheet" />
<script src="~/Newjs/3.3.7/bootstrap.min.js"></script>
<script src="~/Newjs/bootstrap-datepicker.min.js"></script>
<script src="~/Newjs/jquery.validate.min.js"></script>
<script src="~/Newjs/jquery.validate.unobtrusive.js"></script>
<link href="~/NewCSS/font-awesome.css" rel="stylesheet" />

<style>
    .form-control {
        margin-bottom: 8px;
        height: 31px;
        font-family: 'sans-serif';
    }

    .text-danger {
        color: #ef2723;
        font-family: sans-serif;
        font-size: small;
    }

    .control-label {
        font-family: sans-serif;
        margin-bottom: 0;
        text-align: left;
    }

    .ml-20 {
        margin-left: 50px;
    }

    .pl-10 {
        padding-top: 5px;
    }
</style>
<div class="wrapper">
    <div class="container-fluid">
        @using (Html.BeginForm("UploadEmployeeFiles", "Setup", FormMethod.Post, new { enctype = "multipart/form-data", id = "UploadEmployeeMaster" }))
        {          <br />
            if (Model.Error == true)
            {
                <div class="col-md-11">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;<strong></strong> Select File to Upload
                    </div>
                </div>
            }

            if (Model.Message == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> File Uploaded Successfully
                        </div>
                    </div>
                </div>
            }

            if (Model.ServerError == true)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                            <strong></strong> Something went wrong, Please try again...!!!
                        </div>
                    </div>
                </div>
            }

            <div class="row" style="margin-top:10px;">
                <div class="col-md-11" id="divExcelRequired">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
                        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;<strong></strong> 
                        EmployeeID, ClientID, Employee Name are compulsory. Please Upload excel sheet with required fields.
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px;margin-bottom:20px;">
                <div class="col-xs-12">
                    <div class="form-group">
                        @Html.HiddenFor(m => m.CustomerID)
                        <div class="col-xs-4 col-md-4">
                            @Html.CheckBoxFor(m => m.ISAdd, new { id = "Add" }) Add New Employee
                         
                           
                        </div>
                        <div class="col-xs-4 col-md-4">
                            @Html.CheckBoxFor(m => m.ISUpdate, new { id = "Update" }) Update Employee Details
                        </div>

                        <div class="col-xs-4 col-md-4" id="divDownload" style="cursor:pointer;">
                            <a  id="btndownload"><i class="fa fa-file-excel-o"></i>Sample Document</a>
                            @*<a href="/Setup/DownloadAttachment('','DownloadSampleEmployee')" id="btndownload"><i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="col-xs-10 col-md-10">
                    <input type="file" name="fileUpload" />
                    @*<br />*@
                </div>
                <div class="col-xs-2 col-md-2">
                    <button type="submit" id="btnUpload" class="btn btn-primary" name="New">Upload</button>
                    @*<br />*@
                </div>
            </div>

            if (Model.ExcelErrors == true)
            {
                <div class="row" style="margin-top:10px">
                    <div class="col-md-5">
                        <span id="errors" style="color:red">Uploaded File Contains Some Errors. Click to Download Error File <a href="/Setup/DownloadAttachment?Name=@Model.FileName&Sample=DownloadErrorsLocation&Emp=true" class="btn btn-danger">Download</a></span>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script>
    $(function () {
        $('#divExcelRequired').hide();
        //$(".chosen").chosen();
        $('#UploadEmployeeMaster').attr("action", "/Setup/UploadEmployeeFiles");
        $('#form0').attr("action", "/Setup/CreateUpdateClientMapping");
        $("#btnSample").click(function () {
            $.ajax({
                url: '/Setup/DownloadAttachment',
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                type: "GET",
                success: function () {
                    window.location = '/Setup/DownloadAttachment';
                }
            });
        });

        $("#btnSave").click(function () {

            //debugger;
            //if ($('#EM_EmpID').length > 0) {

            //}
            //else {
            //    $('#divExcelRequired').show();
            //    $('#form0').hide();
            //    alert("Employee ID is complusory...");
            //    return false;
            //}
            //if ($('#EM_EmpName').length > 0) {

            //}
            //else {
            //    $('#divExcelRequired').show();
            //    $('#form0').hide();
            //    alert("Employee ID is complusory...");
            //    return false;
            //}
            //if ($('#EM_ClientID').length > 0) {

            //}
            //else {
            //    $('#divExcelRequired').show();
            //    $('#form0').hide();
            //    alert("Employee ID is complusory...");
            //    return false;
            //}
            ClientColumnMappinglist = {};
            $('#form0').attr("action", "/Setup/CreateUpdateClientMapping");

            //$.ajax({
            //    url: '/Setup/UploadEmployeeFiles',
            //    contentType: 'application/json; charset=utf-8',
            //    datatype: 'json',
            //    type: "POST",
            //    success: function () {
            //        window.location = '/Setup/DownloadAttachment';
            //    }
            //});
        });


        $('#Add').change(function () {
           
            $('#divDownload').show();
            document.getElementById('Update').checked = false;
            document.getElementById('Add').Update = true;
        });

        $('#Update').change(function () {
           
            $('#divDownload').show();
            document.getElementById('Add').checked = false;
            document.getElementById('Update').Update = true;
        });
    });

    $("#btndownload").click(function () {
        var a = document.createElement('a');
        var ChkEmp = "";
        var add = document.getElementById('Add').checked;
        var Update = document.getElementById('Update').checked;
        var CustID = $('#CustomerID').val();
       // alert(CustID);
        if (add == true) {
            a.href = "/Setup/DownloadAttachment?Name=&Sample=DownloadSampleEmployee&Emp=true";
        }
        else if (Update == true && CustID!="") {
            a.href = "/Setup/DownloadAttachmentNEW?Name=&Sample=DownloadSampleEmployeeUpdate&Emp=true&CustomerID=" + CustID;
        }
       // a.download = 'myfile.pdf';
        document.body.append(a);
        a.click();
        a.remove();
        //window.URL.revokeObjectURL(url);
    });
   
</script>


<script type="text/javascript">
    function OnSuccess(response) {
        alert(response);
    }

    function OnFailure(response) {
        alert("Whoops! That didn't go so well did it?");
    }
    $('#btnUpload').click(function () {
        $('#btnUpload').html('<span class="fa fa-refresh fa-spin" role="status" aria-hidden="true"></span>Loading...').addClass('disabled');
    });
</script>
