﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.EntityDocumentVM
<style>
    .k-upload .k-clear-selected, .k-upload .k-upload-selected {
        display: inline-block;
        width: 50%;
        margin: 0;
        line-height: 1em;
        padding: 1.214em 0;
        border: 0;
        display: none;
    }
</style>

<script>
    function OnOpen() {

    }
    function OnRefresh() {

    }
    function OnSuccess() {

    }
    function OnFailure() {

    }
</script>
<script id="fileTemplate" type="text/x-kendo-template">
    <span class='k-progress'></span>
    <div class='file-wrapper'>
        <span class='file-icon #=addExtensionClass(files[0].extension)#'></span>
        <h4 class='file-heading file-name-heading'>Name: #=name#<\br></h4>
        <h4 class='file-heading file-size-heading'>Size: #=size# bytes</h4>
        <strong class="k-upload-status">
            <button type='button' class='k-upload-action'></button>
            @*<button type='button' class='k-upload-action'></button>*@
        </strong>
    </div>
</script>

<div id="DivEntityDocumentsDetails" style="overflow-x:hidden">

    @using (Ajax.BeginForm("CreateEntityDocument", "EntityMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivEntityDocumentsDetails", OnBegin = "OnOpen", OnComplete = "OnRefresh", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "frmEntityDocumentsTypes", enctype = "multipart/form-data" }))
    {
        <div class="row">
            @if (Model.Success)
                {
                <div class="col-md-12">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>

            <div class="row">
                @if (Model.Error)
                {
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @if (!(string.IsNullOrEmpty(@Model.Message)))
                            {
                                <lable>@Model.Message</lable>
                            }
                        </div>
                    </div>
                }
            </div>
        @Html.HiddenFor(m=>m.EntityId)
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2"><span></span><label class="control-label">Type</label></div>
                        <div class="col-md-8 colpadding0">
                          @(Html.Kendo().DropDownListFor(m => m.DocumentType)
                            .DataTextField("Type")
                            .DataValueField("DocCode")
                          .Filter(FilterType.Contains)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Url("/api/EntityMasterAPI/EntityDocumentType?EntityType="+@Model.EntityType).Type(HttpVerbs.Get);
                                })
                                .ServerFiltering(false);
                            })

                              .HtmlAttributes(new { @style = "width:58%", @onchange = "ChangeTypeDoc()" }))
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30" id="divLicenceNo" style="display:none">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2">
                            <span></span><label id="lblLicenceNo" class="control-label">License/Registration No</label>
                        </div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.LicenceNo).HtmlAttributes(new { @style = "width:25%" }))
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30" id="divBMDate" style="display:none">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2"><span></span><label id="lblBMDate" class="control-label">BM Date</label></div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().DatePicker()
.Name("BMDate") // The name of the DatePicker is mandatory. It specifies the "id" attribute of the widget.
.Format("dd/MM/yyyy").Enable(true).ParseFormats(new[] { "dd/MM/yyyy" }).Culture("en-GB")
                            )
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30" id="divGMDate" style="display:none">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2">
                            <span></span><label id="lblGMdate" class="control-label">GM Date</label>
                        </div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().DatePicker()
.Name("GMDate") // The name of the DatePicker is mandatory. It specifies the "id" attribute of the widget.
.Format("dd/MM/yyyy").Enable(true).ParseFormats(new[] { "dd/MM/yyyy" }).Culture("en-GB")
                            )

                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30" id="divFY" style="display:none">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2"><span></span><label class="control-label">FY</label></div>
                        <div class="col-md-8 colpadding0">
                          @(Html.Kendo().DropDownListFor(model => model.FYID)
                             .DataValueField("FYID")
                             .DataTextField("FYText")
                             .OptionLabel("--Select FY--")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {

                                    read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityID?EntityId="+Model.EntityId).Type(HttpVerbs.Get);
                                })
                                .ServerFiltering(true);
                            })
                             //.Enable(false)
                             //  .AutoBind(false)
                             //  .CascadeFrom("EntityId")
                             .HtmlAttributes(new { style = "width: 58%;" }))
                        </div>
                    </div>
                </div>

             

                <div class="row colpadding0 mt30" id="divdiscription">
                    <div class="colpadding0 col-md-12">
                        <div class="col-md-2"><span></span><label id="lblDiscription" class="control-label">Discription</label></div>
                        <div class="col-md-8 colpadding0">
                            @(Html.TextAreaFor(x => x.Discription, new { @style = "width:58%" ,@class="k-textbox"}))
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30" id="divStartTime" style="display:none">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2"><span></span><label class="control-label">Start Time</label></div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().TimePicker()
          .Name("startTiming")
          .Value("8:00 AM")
          .Min("8:00 AM")
          .Max("6:00 PM")
          //.Events(e => e.Change("startChange"))
          .HtmlAttributes(new { style = "width: 25%" })
                            )
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30" id="divEndTime" style="display:none">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2"><span></span><label class="control-label">End Time</label></div>
                        <div class="col-md-8 colpadding0">
                           @(Html.Kendo().TimePicker()
          .Name("EndTiming")
          .Value("8:30 AM")
          .Min("8:00 AM")
          .Max("7:30 AM")
          .HtmlAttributes(new { style = "width: 25%" })
                            )
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30" id="divAlterdate" style="display:none">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2">
                            <span></span><label id="lblaltereddoc" class="control-label">Altered documents</label>
                        </div>
                        <div class="col-md-8 colpadding0">
                            @(Html.Kendo().TextBoxFor(m => m.AlteredDoc).HtmlAttributes(new {@style="width:58%" }))
                        </div>
                    </div>
                </div>


                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2">
                            <span></span><label class="control-label">Upload</label>
                        </div>
                        <div class="col-md-8 colpadding0">
                            <input type="file" name="files" id="files1" />
                         
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row col-md-12 colpadding0 text-center mt30">
            <button type="submit" id="saveppcom" class="btn btn-primary">Save</button>
            @*<button type="button" id="btnclosedoc" class="btn btn-primary">Close</button>*@
        </div>
    }

</div>

<script>
    //$("#btnclosedoc").click(function (z)
    //{
    //    debugger;
    //    z.preventDefault();
    //    z.stopPropagation();
    //    $('#wndDocuments').data("kendoWindow").close();
    //    $('#AnnualKendoGrid').data('kendoGrid').dataSource.read();
    //    $('#AnnualKendoGrid').data('kendoGrid').refresh();
    //    $('#IncorporateKendoGrid').data('kendoGrid').dataSource.read();
    //    $('#IncorporateKendoGrid').data('kendoGrid').refresh();
    //    $('#LicenceandregisKendoGrid').data('kendoGrid').dataSource.read();
    //    $('#LicenceandregisKendoGrid').data('kendoGrid').refresh();
    //    $('#PlicesgridKendo').data('kendoGrid').dataSource.read();
    //    $('#PlicesgridKendo').data('kendoGrid').refresh();
    //});
    $(document).ready(function()
    {
        ChangeTypeDoc();
    })
    function ChangeTypeDoc()
    {
        debugger;
        var DocType = $("#DocumentType").data("kendoDropDownList");
        if (DocType.value() == "PO") //Polices
        {
            $("#divBMDate").hide();
            $("#divGMDate").hide();
            $("#divAlterdate").hide();
            $("#lblDiscription").text("Policy’s Name");
            $("#divLicenceNo").hide();
            $("#divEndTime").hide();
            $("#divStartTime").hide();
            $("#divFY").hide();
        }
        else if(DocType.value() == "LR")//License and Register
        {
            $("#divBMDate").show();
            $("#divGMDate").show();
            $("#divAlterdate").hide();
            $("#lblBMDate").text("Last Renew Date");
            $("#lblGMdate").text("Upcoming Renew Date");
        
            $("#lblDiscription").text("License/Registration");
            $("#divLicenceNo").show();
            $("#divEndTime").hide();
            $("#divStartTime").hide();
            $("#divFY").hide();
        }
        else if (DocType.value() == "MOA" || DocType.value() == "AOA" || DocType.value() == "COI")
        {
            $("#divBMDate").hide();
            $("#divGMDate").hide();
            $("#divAlterdate").hide();
            $("#lblBMDate").text("BM Date");
            $("#lblGMdate").text("GM Date");
            $("#lblaltereddoc").text("Altered Document");
            $("#lblDiscription").text("Description");
            $("#divLicenceNo").hide();
            $("#divEndTime").hide();
            $("#divStartTime").hide();
            $("#divFY").hide();
        }
        else if (DocType.value() == "AR") {
            $("#divBMDate").show();
            $("#divGMDate").hide();
            $("#divAlterdate").hide();
            $("#divEndTime").show();
            $("#divStartTime").show();
            $("#divFY").show();
            $("#lblBMDate").text("Date of AGM");
            $("#lblGMdate").text("GM Date");
            $("#lblaltereddoc").text("Altered Document");
            $("#lblDiscription").text("Venue of AGM");
            $("#divLicenceNo").show();
            $("#lblLicenceNo").text("Serial no. of AGM");
        }
    }
</script>