﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMEntityFileUpload

<script>
    function begin() {
        var wnd = $("#wndFileUpload").data("kendoWindow");

        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }
    function Complite() {
        var wnd = $("#wndFileUpload").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
    }
</script>



<script>
    $(document).ready(function () {
        $("#divform11").kendoTooltip({ content: "Sample Document For Form LLP-11" });
    });
</script>


<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="DivUploadEntity">
            @using (Ajax.BeginForm("UploadEXcelorEForm", "EntityMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivUploadEntity", OnBegin = "begin", OnComplete = "Complite" }, new { id = "frmUpdateUploadEntity", enctype = "multipart/form-data" }))
            {
                //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

            @*if (ViewData.ModelState != null)
            {
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @Html.ValidationSummary(true, "Errors: ")
                </div>
            }*@

            if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
            {
                <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @Html.ValidationSummary(false, "Errors: ")
                </div>
            }

            if (Model.Response != null)
            {
                <div class="row">
                    <div class="col-md-2 colpadding0">
                    </div>
                    <div class="col-md-8 colpadding0">
                        @Html.Partial("_Response", Model.Response)
                    </div>
                    <div class="col-md-2 colpadding0">
                        <div class="col-md-12 colpadding0" style="display:none">
                            <div class="col-md-2 pull-right" id="DIVLLP111Excel">
                                <img src="/Images/Excel _icon.png" class="theexcelexport cursur" onclick="Downloadform11()">
                            </div>

                        </div>
                    </div>
                </div>

                }
                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0" style="display:none" id="DIVLLP111Excel">
                        <div class="col-md-2 pull-right" id="divform11">
                            <img src="/Images/Excel _icon.png" class="theexcelexport cursur" onclick="Downloadform11()">
                        </div>
                        <div class="col-md-pull-2"><p><b>Note:Form LLp 11 , please upload excel file.</b></p></div>
                    </div>
                    </div>
                    <div class="row colpadding0 mt30">

                        <div class="col-md-2">
                            <label class="control-label">Select Type</label><span style="color:red">*</span>
                        </div>

                        <div class="col-md-8">
                            @(Html.Kendo().RadioButtonFor(m => m.fromType).Label("MGT-7").Value("MGT7").HtmlAttributes(new { }))
                            &nbsp; &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.fromType).Label("LLP-11").Value("LLp11").HtmlAttributes(new { }))
                            &nbsp; &nbsp;
                            @*@(Html.Kendo().RadioButtonFor(m => m.fromType).Label("LLP-FILLIP").Value("LLpFILLIP").HtmlAttributes(new { }))*@

                            @*@Html.ValidationMessageFor(model => model.fromType, "", new { @class = "text-danger", id = "rdbFormType" })*@
                        </div>

                    </div>

                    <div class="row colpadding0 mt30">
                        <div class="col-md-2">
                            <label class="control-label">Select Form</label><span style="color:red">*</span>
                        </div>

                        <div class="col-md-8">

                            @*@Html.TextBox("File", "", new { type = "file" })*@
                            @*<label>Upload Form</label><span style="color:red">*</span>*@
                            <input type="file" name="File" id="File" />
                        </div>
                    </div>

                    <div class="row col-md-12 colpadding0 text-center mt30">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>

                    }
                </div>
    </div>
</div>
