﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.EntityDocumentVM

<div class="row colpadding0" style="overflow-x:hidden;height:400px!important">
    <div class="col-md-12 colpadding0">

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1 colpadding0">
                   
                </div>

                <div class="col-md-3 colpadding0">
                   
                </div>

                <div class="col-md-2 colpadding0 ">
                   
                </div>

                <div class="col-md-4 colpadding0">
                </div>

                <div class="col-md-1 colpadding0">
                   
                </div>

                <div class="col-md-1 colpadding0">
                    <button class="btn btn-primary" id="customCommand1" onclick="OpenDocumentDetails()" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                </div>
            </div>
        </div>

        <div class="row colpadding0">
            <div class="col-md-12">
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="tab" role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" id="Incorporation" class="active"><a href="#Incorporate" aria-controls="home" role="tab" data-toggle="tab">Incorporation</a></li>
                                <li role="presentation" id="PolicesDocument"><a href="#Police" aria-controls="profile" role="tab" data-toggle="tab">Policies</a></li>
                                <li role="presentation" id="LICENSE_REGISTRATION"><a href="#Licence" aria-controls="licence" role="tab" data-toggle="tab">License/Registration</a></li>
                                <li role="presentation" id="Annual"><a href="#AnnualReport" aria-controls="licence" role="tab" data-toggle="tab">Annual Report</a></li>
                            </ul>

                            <div class="tab-content tabs" style="margin-right: 4%;">
                                <div role="tabpanel" class="tab-pane fade in active" id="Incorporate">
                                  @(Html.Partial("_IncorporateDocument", @Model.EntityId))
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Police">
                                 @(Html.Partial("_PolicesDocuments", @Model.EntityId))
                                                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="Licence">
                                @(Html.Partial("_LicenseandRegisterDocument", @Model.EntityId))
                                   
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="AnnualReport">
                                 @(Html.Partial("_AnnualReportDocuments", @Model.EntityId))

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

</div>
</div>

@(Html.Kendo().Window()
    .Name("wndDocuments")
    .Title("AddEntity")
    .Visible(false)
    .Modal(true)
   // .Events(e => e.Refresh("OnRefresheupload"))
)

<script type="text/javascript">
    function OpenDocumentDetails()
    {
        debugger;
        OnOpenupload('a');
        $("#wndDocuments").attr("style", "min-height:100px;");
        var direction = "AddEditDocuments?EntityId="+'@Model.EntityId'+"&EntityType="+@Model.EntityType;

        $("#wndDocuments").kendoWindow({
            title: "Documents",
        });
        $("#wndDocuments").attr("style", "min-height:100px;");
        direction = "AddEditDocuments?EntityId="+'@Model.EntityId'+"&EntityType="+@Model.EntityType;
        var wnd = $("#wndDocuments").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndDocuments").kendoWindow({

            content: direction,
            width: "50%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresheupload(); },
            close: function (e) {
                debugger
                $(this.element).empty();
              
                $('#AnnualKendoGrid').data('kendoGrid').dataSource.read();
                $('#AnnualKendoGrid').data('kendoGrid').refresh();
                $('#IncorporateKendoGrid').data('kendoGrid').dataSource.read();
                $('#IncorporateKendoGrid').data('kendoGrid').refresh();
                $('#LicenceandregisKendoGrid').data('kendoGrid').dataSource.read();
                $('#LicenceandregisKendoGrid').data('kendoGrid').refresh();
                $('#PlicesgridKendo').data('kendoGrid').dataSource.read();
                $('#PlicesgridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "50%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

        function OnOpenupload() {
            var wnd = $("#wndDocuments").data("kendoWindow");
            kendo.ui.progress(wnd.element, true);
        }
        function OnRefresheupload() {
            var wnd = $("#wndDocuments").data("kendoWindow");
            kendo.ui.progress(wnd.element, false);
        }
    }

</script>
