﻿@using Kendo.Mvc.UI;
@model int

<script>
    $(document).ready(function()
    {
        //CheckIsValidCommittee();
    });
    function CheckIsValidCommittee(){
        debugger;
        var entityId = @Model;

        $.ajax({
            url: "@Url.Action("GetBoardofDirectorRule", "BoardOF_Director")",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: '{EntityId: '+entityId+'}',
            success: function (result) {
                ProcessData(result);
            }
        });
    }

    function ProcessData(result){
        if (result.length > 0) {
            var str = "";
            for (var i = 0; i < result.length; i++) {
                str += "<li>" +(i +1) +'. '+ result[i].Rules + "</li>";
            }
            $("#DivCommitteeValidation").show();

            $('#lblcommitteeerrormsg')[0].innerHTML = "<ul> " + str + " </ul>";
        } else {
            $("#DivCommitteeValidation").hide();
            //$('#lblcommitteeerrormsg').text('');
        }
    }

    function onRowBound(e) {
        GetICons();

        var grid = $("#grid").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })

        DisplayNoResultsFound( $("#grid"),'No recrods found, Please fill data in director/KMP master.');
    }


    function getImage(data) {
        var Colors = {};

        var html;

        if (data.ID > 0 && data.Photo_Doc_Name != null) {
            html = "<img class='customer-photo' src='/Areas/BM_Management/Documents/Director/" + data.ID + "/" + data.Photo_Doc_Name + "'/>";
        }
        else {
            Colors = [
           "#42A5F5",
           "#008391",
           "#846600",
          "#CC0060",
          "#330099", ];
            var result;
            var count = 0;
            //for (var prop in Colors)
            //    if (Math.random() < 1 / ++count) {
            //        result = prop;
            result = Colors[Math.floor(Math.random() * Colors.length)];
            var firstName = data.FirstName;
            var lastName = data.LastName;
            var intials = firstName.charAt(0) + lastName.charAt(0);

            html = "<span class='customer-photo textimage' style='text-align: center;color:white;background-color:" + result + "'><b>" + intials + "</b></span>"

            //}
        }
        return html;
    }
</script>

<script>
    $("#btnclose2").click(function (e) {
        $("#wndAdd1").data("kendoWindow").close();
    });
</script>

<div class="row colpadding0 col-md-12" style="display:none" id="DivCommitteeValidation">
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div id="lblcommitteeerrormsg"> <br /></div>
    </div>
</div>

<div id="divfrmApplicability1" style="overflow-y:auto; height:480px;">
    <div class="row col-md-12 colpadding0">
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-6 colpadding0">
                    <div class="input-group">
                        <a role="button" class="btn btn-primary k-grid-pdf pull-right" href="#" onclick="exportMatrix()"><span class="k-icon k-i-file-pdf"></span>Export to PDF</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.DirectorList_ForEntity>()
                        .Name("grid")
                        .Pdf(pdf => pdf
                            .AllPages()
                            .AvoidLinks()
                            .PaperSize("A4")
                            .Scale(0.47)
                            .Date(DateTime.Now)
                            .Margin("2cm", "1cm", "1cm", "1cm")
                            .Landscape()
                            .RepeatHeaders()
                            .FileName("Management Personnel.pdf")
                            .ProxyURL(Url.Action("Pdf_Export_Save", "Grid"))
                        )
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.interestType).ClientGroupHeaderTemplate("#: value #").Hidden();
                            columns.Bound(c => c.FullName).Title("Name").Width("50%")
                            .ClientTemplate(@"<div style='float:left;'>#= getImage(data)#</div><div class='customer-name'>#:data.FullName#</div>").Filterable(ftb => ftb.Multi(true).Search(true));
                            //.ClientTemplate(@"<div style='float:left;'>#= getImage(data)#</div><div class='customer-name'>#:data.Salutation# #:FirstName# #:MiddleName==null?'':MiddleName# #:data.LastName#</div>").Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(c => c.DIN).Title("DIN/PAN").Width("10%");
                            columns.Bound(c => c.DesignationName).Title("Designation").Width("30%");
                            //columns.Bound(c => c.Designation).Title("Date of Appointment").ClientTemplate("");
                            //columns.Bound(c => c.DSC_ExpiryDate).Format("{0:dd/MM/yyyy}").Title("DSC Expiry Date");
                            columns.Bound(c => c.DateofAppointment).Format("{0:dd-MMM-yyyy}").Title("Date of Appointment").Width("10%");
                        })
                        .HtmlAttributes(new { })
                        .Sortable()
                        .Groupable(g => g.Enabled(false))
                        .NoRecords()
                        .DataSource(dataSource => dataSource
                            .WebApi()
                            //.Read(read => read.Url("/api/DirectorMasterAPI/DirectorList_ForEntity?EntityId=" + @Model).Type(HttpVerbs.Get))
                            .Read(read => read.Url("/api/DirectorMasterAPI/BODforEntity?EntityId=" + @Model).Type(HttpVerbs.Get))
                            .PageSize(20)
                            //.Group(groups => groups.Add(p => p.interestType))                            
                        ).Events(e => e.DataBound("onRowBound")))
        </div>
    </div>
</div>
<script>
    function exportMatrix() {
        $("#grid").data("kendoGrid").saveAsPDF();
    }
</script>
