﻿@using Kendo.Mvc.UI;
@model int

<div id="divfrmApplicability">
    @using (Ajax.BeginForm("SaveApplicability", "EnityMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divfrmApplicability", OnBegin = "OnOpen1", OnComplete = "OnRefresh1" }, new { id = "frmApplicability" }))
    {
        if (ViewBag.MandatoryCommittee != null)
        {
            if (((List<string>)ViewBag.MandatoryCommittee).Count > 0)
            {
                <div class="row col-md-12 colpadding0">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <div>
                            Committee Required<br />
                            @foreach (var item in ViewBag.MandatoryCommittee)
                            {
                                <b>@item</b><br />
                            }
                        </div>
                    </div>
                </div>
            }
        }

        <div id="divfrmApplicability1" style="overflow-y:auto; height:480px;">
            <div class="row col-md-12 colpadding0">
                <div>
                    @(Html.Kendo().Grid<BM_ManegmentServices.VM.CommitteeMasterVM>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.CommitteeName).ClientGroupHeaderTemplate(" #= value # (Members: #= count#)").Title("").ClientTemplate(" ").Hidden();
                            columns.Bound(c => c.FirstName).Title("Name of Member/Chairperson")
                                                .ClientTemplate(@"<div style='float:left;'>#= getImage(data)#</div><div class='customer-name'>#: DirectorName #</div>").Filterable(ftb => ftb.Multi(true).Search(true)).Width("40%");
                            columns.Bound(c => c.Position).Title("Position").Width("30%");
                            columns.Bound(o => o.AppointmentFrom).ClientTemplate("#= AppointmentFrom == null ? '' : kendo.toString(AppointmentFrom, \"dd-MMM-yyyy\")#").Title("Date of Appointment").Width("20%");
                        })
                        .HtmlAttributes(new { style = "height: 470px;" })
                        .Scrollable()
                        //.Groupable()
                        .Sortable()
                        .Events(e => e.DataBound("onRowBound"))
                        .DataSource(dataSource => dataSource
                            .WebApi()
                            .ServerOperation(false)
                            .Aggregates(aggregates =>
                            {
                                aggregates.Add(p => p.CommitteeName).Count();
                            })
                            .Group(groups => groups.Add( c => c.CommitteeName))
                            .Sort(sort => sort.Add("PositionId").Ascending())
                            //.Read(read => read.Url("/api/DirectorMasterAPI/GetCommitteeForEntity?EntityId=" + @Model).Type(HttpVerbs.Get))
                            .Read(read => read.Url("/api/CommitteeMasterNewAPIController/GetCommitteeMembersNew?EntityId=" + @Model+ "&CommitteeId=0&shoAllCommittees=true").Type(HttpVerbs.Get))
                            .PageSize(20)
                        ))
                </div>
            </div>
        </div>

        <div class="k-edit-buttons k-state-default text-center" style="background:!important; background:none; width:100%;">
            <button type="button" id="btnclose2" class="btn btn-primary">Close</button>
        </div>
    }
</div>

<style>
    .k-grid td {
        border-width: 0;
    }

    .customer-photo {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .customer-name {
        line-height: 50px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#btnclose2").click(function (e) {
            $("#wndAdd1").data("kendoWindow").close();
        });
    });

    $("#btnclose2").click(function (e) {
        $("#wndAdd").data("kendoWindow").close();
    });

    function GetDesignation(value) {
        if (value == "1") {
            return "Chairperson";
        } else if (value == "2") {
            return "Member";
        } else {
            return "";
        }
    }

    function getImage(data) {

        var Colors = {};
        var html;
        if (data.ID > 0 && data.Photo_Doc_Name != null) {
            html = "<img class='customer-photo' src='/Areas/BM_Management/Documents/Director/" + data.ID + "/" + data.Photo_Doc_Name + "'/>";
        } else {
            Colors = [
                "#42A5F5",
                "#008391",
                "#846600",
                "#CC0060",
                "#330099",];
            var result;
            var count = 0;
            //for (var prop in Colors)
            //    if (Math.random() < 1 / ++count) {
            //        result = prop;
            result = Colors[Math.floor(Math.random() * Colors.length)];
            var firstName = data.FirstName;
            var lastName = data.LastName;
            var intials = firstName.charAt(0);//+ lastName.charAt(0);

            html = "<span class='customer-photo textimage' style='text-align: center;color:white;background-color:" + result + "'><b>" + intials + "</b></span>"

            //}
        }
        return html;
    }

    function onRowBound(e) {
        RemoveAlternateRowColor('grid');
    }
</script>