﻿@using Kendo.Mvc.UI;
@model int

<script>
    function additionalIncorporate() {
     return {
         EntityId: '@Model',
         Doctype:"M"
     };
    }

  
</script>


<script>

    function DownloadIncordata(e)
    {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        window.location.href = "@Url.Action("DownloadHistoricalData", "EntityMaster")?Id=" + id;
    }
    function ViewIncordata(e)
    {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        @*window.location.href = "@Url.Action("ViewRecords", "CompanyProfile")?Id=" + id;*@
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewHistoricalData", "EntityMaster")',
            data: {Id:id},
            dataType: "json",
            cache: false,
            success: function (data) {


                var direction="@Url.Content("~/docviewer.aspx")" + "?docurl=" + data ;


                $("#wndDocViewer").attr("style", "min-height:100px;");

                var wnd = $("#wndDocViewer").data("kendoWindow");
                var opts = wnd.options;

                wnd = $("#wndDocViewer").kendoWindow({
                    actions: ["Close"],
                    content: direction,
                    visible: false,
                    modal: true,
                    iFrame :true,
                    refresh: function () { this.center(); },
                    open: function () { onOpenWindow("wndDocViewer") },
                    close: function (e) {
                        $(this.element).empty();
                        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    }
                }).data("kendoWindow");

                opts.width = "95%";
                wnd.setOptions(opts);
                wnd.center();
                wnd.open();


                $('#wndDocViewer').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');
                }
        });
    }
    //function onRowBound()
    //{
    //    var grid = $("#gridKendo").data("kendoGrid");
    //    var gridData = grid.dataSource.view();


    //    GetICons();
    //    getGridborder(grid);
    //}
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
    function DeleteFile(id) {
        $.ajax({
            //url: "/api/HistoricalDataAPI/DeleteHistoricalData?ID=" + id,
            url: "@Url.Action("DeleteDocdata", "EntityMaster")?ID=" + id,
            method: "DELETE",
        success: function (data) {
            //alert("Deleted Successfully");
            $('#IncorporateKendoGrid').data('kendoGrid').dataSource.read();
            $('#IncorporateKendoGrid').data('kendoGrid').refresh();
        }
    });
    }
    function DeleteIncordata(e)
    {
        debugger;
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.DocumentID;
        wnd.center().open();
        $("#yes").click(function () {
            DeleteFile(id)
            grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
</script>
@(Html.Kendo().Window().Name("wndDocViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))
<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Grid<BM_ManegmentServices.Data.BM_SP_GetEntityDocuments_Result>()
                    .Name("IncorporateKendoGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.DocumentID).Visible(false);
                        columns.Bound(o => o.Id).Visible(false);
                        columns.Bound(o => o.EntitydocType).Width("20%").Title("Type").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.Description).Width("20%").Title("Description").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));


                        columns.Command(commnd =>
                        {

                            commnd.Custom("Download").Click("DownloadIncordata").HtmlAttributes(new { @class = "k-grid-download" });
                            commnd.Custom("View").Click("ViewIncordata").HtmlAttributes(new { @class = "k-grid-view" });
                            commnd.Custom("Delete").Click("DeleteIncordata").HtmlAttributes(new { @class = "k-grid-delete" });

                        }).Title("Action").Width("5%").HeaderHtmlAttributes(new { style = "text-align:center; border-width: 0px 0px 0px 0px;" }).HtmlAttributes(new { style = "text-align: center;" });

                    }).EnableCustomBinding(true)
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu(col => col.Columns(false))
        .DataSource(
                dataSource => dataSource
                .WebApi()
                .PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(o => o.DocumentID);
                })
                .Read(read => read.Action("GetEntityDocuments", "EntityMaster").Data("additionalIncorporate").Type(HttpVerbs.Get))
                ).HtmlAttributes(new { @style = "width:100%" })
        )
    </div>
</div>
