﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Pravate_PublicVM

<script>
    $('[id^="panelbar"]').kendoPanelBar({
        expandMode: "single",
        //collapse: cancelExpandCollapse,
    });
</script>
@*<div style="height:450px!important;overflow-x:hidden">*@
<div style="overflow-x:hidden;height:400px!important">
    <div id="DivEntityMaster">
        @Html.AntiForgeryToken()
        @using (Ajax.BeginForm("Create", "EntityMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivEntityMaster", OnBegin = "OnOpene", OnComplete = "OnRefreshppc", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "frmUpdatePublicprivatelisted", enctype = "multipart/form-data" }))
        {
            <div class="row">
                @if (Model.Message)
                {
                    <div class="col-md-12">

                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @if (!(string.IsNullOrEmpty(@Model.successErrorMessage)))
                            {
                                <lable>@Model.successErrorMessage</lable>
                            }
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                @if (Model.errorMessage)
                {
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @if (!(string.IsNullOrEmpty(@Model.successErrorMessage)))
                            {
                                <lable>@Model.successErrorMessage</lable>
                            }
                        </div>
                    </div>
                }
            </div>
            @Html.AntiForgeryToken()
            <input type="hidden" value="@Model.Entity_Type" />
            @Html.HiddenFor(m => m.Entity_Type)
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.CustomerBranchId)

            <script>
                $(document).ready(function () {
                    loadEntity("@Model.EntityName");
                });

                function loadEntity(Companyname) {
                    debugger;
                    if (Companyname != "" && Companyname != null) {
                        Colors = [
                          "#42A5F5",
                          "#008391",
                          "#846600",
                         "#CC0060",
                         "#330099", ];
                        var result1 = Colors[Math.floor(Math.random() * Colors.length)];
                        var firstName = Companyname;

                        var intials = Companyname.charAt(0);
                        $(".spancompanylogo").text(intials);
                        $(".spancompanylogo").css("background-color", result1)
                        $(".spancompanylogo").css("color", "white")
                        $(".spancompanylogo").css("text-align", "center")
                    }
                }
            </script>

            <div class="demo-section k-content">
                <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_DetailsPrivatepublicCompany" data-role="panelbar" tabindex="0" role="menu" style="margin-bottom: 20px;border-radius: 4px">
                    <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                        <span class="k-link k-header k-state-selected">
                            Details <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span>
                            @if ((Model.EntityName != null))
                            {
                                <div class="col-md-1 colpadding0 pull-right imgright">

                                    @if (Model.EntityLogoname != null)
                                    {

                                        <img class="customer-photo1" src="@Url.Content(String.Format(Model.logopath+"/"+Model.EntityLogoname))" />

                                    }
                                    else
                                    {
                                        <span class='customer-photo1 spancompanylogo' onload="loadEntity(@Model.EntityName)"></span>
                                    }

                                </div>
                            }
                        </span>
                        <span id='notification'></span>

                        <div class="row" style="display: block; margin-left: 1%;margin-right: 2%;margin-bottom:1%">
                            <div class="row col-md-12 colpadding0 mt30">
                                <div class="col-md-4 colpadding0">
                                    <label for="txtEntityName" class="control-label">Name</label><span style="color:red">*</span>
                                    @(Html.Kendo().TextBoxFor(m => m.EntityName).HtmlAttributes(new { @class = "k-textbox", @Id = "txtEntityName", style = "width: 95%; text-transform: uppercase;", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.EntityName, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <label for="txtCIN" class="control-label">CIN</label><span style="color:red">*</span>
                                    @(Html.Kendo().TextBoxFor(m => m.CIN).HtmlAttributes(new { @class = "k-textbox", @Id = "txtCIN", style = "width: 90%", @onchange = "CinChange()", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.CIN, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <span></span><label for="txtRegNo" class="control-label">Registration Number</label>
                                    @(Html.Kendo().TextBoxFor(m => m.Registration_No).HtmlAttributes(new { @class = "k-textbox", @Id = "txtRegNo", style = "width: 90%", @readonly = "readonly", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.Registration_No, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <label class="control-label">Date of Incorporation</label><span style="color:red">*</span>
                                    @(Html.Kendo().DatePicker().Name("IncorporationDate").Max(DateTime.Today).Format("dd/MM/yyyy").Enable(true).ParseFormats(new[] { "dd/MM/yyyy" }).Culture("en-GB").HtmlAttributes(new { style = "width:90%", @Id = "dpIncdate", placeholder = "DD/MM/YYYY", autocomplete = "off" })
                                    )
                                    @Html.ValidationMessageFor(model => model.IncorporationDate, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-1 colpadding0">
                                    <label for="txtPan" class="control-label">PAN</label><span style="color:red">*</span>
                                    @(Html.Kendo().TextBoxFor(m => m.PAN).HtmlAttributes(new { @class = "k-textbox", @Id = "txtPan", style = "width: 100%; text-transform: uppercase;", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row colpadding0 mt30">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-1 colpadding0">
                                        <label for="ddlRocJuris" class="control-label">RoC</label><span style="color:red">*</span>

                                        @(Html.Kendo().DropDownListFor(m => m.ROC_Code)
                            .DataTextField("Name")
                            .DataValueField("Id")
                          .Filter(FilterType.Contains)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Url("/api/EntityMasterAPI/GetDropDownforROCCode").Type(HttpVerbs.Get);
                                })
                                .ServerFiltering(false);
                            })

                             .HtmlAttributes(new { style = "width:90%", @Id = "ddlRocJuris", autocomplete = "off" })
                                        )
                                        @Html.ValidationMessageFor(model => model.ROC_Code, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3 colpadding0">
                                        <label class="control-label">Company Category</label><span style="color:red">*</span>
                                        @(Html.Kendo().DropDownListFor(m => m.CompanyCategory_Id)
                        .DataTextField("Category")
                        .DataValueField("Id")
                        .Filter(FilterType.Contains)

                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/EntityMasterAPI/GetDropDownforCompanyCategory").Type(HttpVerbs.Get);
                            })
                            .ServerFiltering(false);
                        })
                         .HtmlAttributes(new { style = "width:93%", @Id = "ddlComCategary", autocomplete = "off" })
                                        )
                                        @Html.ValidationMessageFor(model => model.CompanyCategory_Id, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-3 colpadding0">
                                        <label class="control-label">Company Sub-Category</label><span style="color:red">*</span>
                                        @(Html.Kendo().DropDownListFor(m => m.CompanyCategorySub_Id)
                        .DataTextField("SubCategoryName")
                        .DataValueField("Id")
                        .Filter(FilterType.Contains)

                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/EntityMasterAPI/GetDropDownforCompanySubCategory").Type(HttpVerbs.Get);
                            })
                            .ServerFiltering(false);
                        })
                         .HtmlAttributes(new { style = "width:93%", @Id = "ddlComsubCategary", autocomplete = "off" })
                                        )
                                        @Html.ValidationMessageFor(model => model.CompanyCategorySub_Id, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label for="txtEmailId" class="control-label">Email [As per RoC Records]</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.Email_Id).HtmlAttributes(new { @class = "k-textbox", @Id = "txtEmailId", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Email_Id, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label for="txtGSTN" class="control-label">GSTIN</label><span style="color:red"></span>
                                        @(Html.Kendo().TextBoxFor(m => m.GST).HtmlAttributes(new { @class = "k-textbox", @Id = "txtGSTN", style = "width: 90%", autocomplete = "off", @onchange = "GstnChange()" }))
                                        @Html.ValidationMessageFor(model => model.GST, "", new { @class = "text-danger" })
                                    </div>


                                </div>
                            </div>

                            <div class="row colpadding0 mt30">
                                <div class="colpadding0 col-md-12">
                                    <div class="col-md-1 colpadding0" style="width: 15%">
                                        <label class="control-label">NIC Code</label><span></span>
                                        @(Html.Kendo().TextBoxFor(m => m.NICCode).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNicCode", style = "width:90%", autocomplete = "off", @type = "number", @maxlength = "10" }))
                                        @Html.ValidationMessageFor(model => model.NICCode, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1 colpadding0" style="width: 18.5%">
                                        <label class="control-label">Description of Product or Services</label><span></span>
                                        @(Html.Kendo().TextBoxFor(m => m.Description).HtmlAttributes(new { @class = "k-textbox", @Id = "txtDescription", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3 colpadding0">
                                        <label for="txtWebsite" class="control-label">Website</label><span></span>
                                        @(Html.Kendo().TextBoxFor(m => m.WebSite).HtmlAttributes(new { @class = "k-textbox", @Id = "txtWebsite", style = "width:95%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.WebSite, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label for="txtWebsite" class="control-label">Financial Year</label><span style="color:red">*</span>
                                        @(Html.Kendo().DropDownList()
          .Name("FY")
          .DataTextField("Text")
          .DataValueField("Value")

          .BindTo(new List<SelectListItem>() {
               new SelectListItem() {
                  Text = "Select",
                  Value = ""
              },
              new SelectListItem() {
                  Text = "1 Jan - 31 Dec",
                  Value = "CY"
              },
              new SelectListItem() {
                  Text = "1 Apr - 31 Mar",
                  Value = "FY"
              },
          })

          .HtmlAttributes(new { style = "width: 90%" })
                                        )
                                        @Html.ValidationMessageFor(model => model.FY, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label for="txtGLN" class="control-label">Global Location Number (GLN)</label><span></span>
                                        @(Html.Kendo().TextBoxFor(m => m.GLN).HtmlAttributes(new { @class = "k-textbox", @Id = "txtGLN", style = "width: 90%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.GLN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row mt30">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-3 colpadding0">
                                        <label class="control-label required">Sub Industry</label><span style="color:red"></span>

                                        @(Html.Kendo().MultiSelectFor(m => m.RegulatoryAuthorityId)
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                     .TagMode(TagMode.Single)
                                     .ItemTemplate("<input type='checkbox'/>  #:data.Name#")
                                        //     .Checkboxes(checkboxes => checkboxes
                                        //     .Name("checkedFiles")
                                        //     .CheckChildren(true)

                                        //)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/api/EntityMasterAPI/RegulatoryAuthority").Type(HttpVerbs.Get);
                                            })
                                            .ServerFiltering(false);

                                        }).Events(e => e.Change("ddlEntityIdChanged"))
                                        .Events(e => e.DataBound("ddlEntityIdDataBound")).HtmlAttributes(new { style = "width:93%", @Id = "ddlRegulatoryAuthority", autocomplete = "off" }))

                                    </div>

                                    <div class="col-md-3 colpadding0">
                                        <label class="control-label">Whether Company is having any Branch Office ?</label><span style="color:red">*</span>
                                    </div>
                                    <div class="col-md-3 colpadding0">
                                        @(Html.Kendo().RadioButtonFor(m => m.IsanyBranch).Label("Yes").Value(true).HtmlAttributes(new { }))
                                        &nbsp; &nbsp;
                                        @(Html.Kendo().RadioButtonFor(m => m.IsanyBranch).Label("No").Value(false).HtmlAttributes(new { }))

                                        @Html.ValidationMessageFor(model => model.IsanyBranch, "", new { @class = "text-danger", id = "rdbisanybranch" })
                                    </div>


                                </div>
                            </div>

                            <div class="row mt30">
                                <div class="col-md-12 colpadding0">
                                    <label class="control-label required">Others Details</label><span style="color:red"></span>

                                    @Html.TextAreaFor(m => m.OthersDetails, new { @class = "form-control" })

                                </div>
                            </div>

                            <div class="row mt30">
                                
                            </div>

                            @if (Model.IS_Listed || Model.Entity_Type == 10)
                            {
                                <div class="row mt30 colpadding0">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-1 colpadding0" style="width: 15%">
                                            <label class="control-label">Whether Listed or not ?</label><span style="color:red">*</span>
                                        </div>
                                        <div class="col-md-5 colpadding0">
                                            @(Html.Kendo().RadioButtonFor(m => m.IS_Listed).Enable(Model.IS_Listed == true ? false : true).Label("Yes").Value(true).HtmlAttributes(new { }))
                                            &nbsp; &nbsp;
                                            @(Html.Kendo().RadioButtonFor(m => m.IS_Listed).Enable(Model.IS_Listed == true ? false : true).Label("No").Value(false).HtmlAttributes(new { }))

                                            @Html.ValidationMessageFor(model => model.IS_Listed, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row colpadding0 mt30">
                                    <div class="col-md-12 colpadding0">
                                        <div id="listedornotDiv" style="display:none">

                                            <div class="row colpadding0">
                                                <div class="col-md-2 colpadding0">
                                                    <label class="control-label required">ISIN</label><span style="color:red">*</span>
                                                    @(Html.Kendo().TextBoxFor(m => m.ISIN).HtmlAttributes(new { Id = "txtISIN", @style = "width:100%" }))
                                                </div>
                                            </div>

                                            <label class="control-label mt30">Registrar and Transfer Agent Details</label>

                                            <div class="row colpadding0 mt30">
                                                <div class="col-md-4 colpadding0">
                                                    <span style="color:red"></span><label for="txtRTAName" class="control-label">Name of RTA</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.RTA_Name).HtmlAttributes(new { Id = "txtRTAName", @style = "width:95%" }))
                                                </div>

                                                <div class="col-md-2 colpadding0">
                                                    <span style="color:red"></span><label for="txtRTACIN" class="control-label">CIN</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.RTA_CIN).HtmlAttributes(new { Id = "txtRTACIN", @style = "width:90%" }))
                                                </div>

                                                <div class="col-md-2 colpadding0">
                                                    <span style="color:red"></span><label for="txtRTACIN" class="control-label">Email</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.RTA_EmailId).HtmlAttributes(new { Id = "txtRTAEmailId", @style = "width:90%" }))
                                                </div>

                                                <div class="col-md-2 colpadding0">
                                                    <span style="color:red"></span><label for="txtSEBI_RegNo" class="control-label">SEBI Reg. No</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.SEBI_RegNo).HtmlAttributes(new { Id = "txtSEBI_RegNo", @style = "width:90%" }))
                                                </div>

                                                <div class="col-md-2 colpadding0">
                                                    <span style="color:red"></span><label for="txtPhoneNo" class="control-label">Tel No.</label>
                                                    @(Html.Kendo().TextBoxFor(m => m.PhoneNo).HtmlAttributes(new { Id = "txtPhoneNo", @style = "width:98%" }))
                                                </div>
                                            </div>

                                            <div class="row colpadding0 mt30">
                                                <div class="col-md-12 colpadding0">
                                                    <span style="color:red"></span><label for="txtRTAAddress" class="control-label">Address of RTA</label>
                                                    @(Html.TextAreaFor(m => m.RTA_Address, new { Id = "txtRTAAddress", @style = "width:98%", @class = "form-control" }))
                                                    @*.HtmlAttributes(new { Id = "txtRTAAddress", @style = "width:98%" })*@
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row colpadding0 mt30">
                                <div class="colpadding0 col-md-12">
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Logo Upload</label><span></span>
                                        <input type="file" name="files" id="files1" accept="image/x-png,image/gif,image/jpeg" />

                                    </div>
                                    <div class="col-md-2 colpadding0" style="top:16px;">
                                        @if (!string.IsNullOrEmpty(Model.EntityLogoname))
                                        {
                                            <a href='@Url.Action("Download", "EntityMaster",new { id = Model.Id, ImageName = Model.EntityLogoname } )' target="_blank">
                                                <img src='@Url.Content("~/Images/icon-download.png")' />
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_AddressPrivatepublicCompany" data-role="panelbar" tabindex="0" role="menu" style="margin-bottom: 20px;border-radius: 4px">
                    <li class="k-item k-state-default k-last k-state-highlight k-state-active" aria-expanded="true" role="menuitem">
                        <span class="k-link k-header " id="spanAgendaItemB">Address<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                        <div id="step1Content" style="display: block; margin-left: 1%;margin-right: 1%;margin-top:1%;margin-bottom:1%">

                            <div class="col-md-12 colpadding0 mt30">

                                <div class="row colpadding0">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-3 colpadding0">
                                            <label for="txtRegAddress1" class="control-label">Registered Address Line 1</label><span style="color:red">*</span>
                                            @(Html.Kendo().TextBoxFor(m => m.Regi_Address_Line1).HtmlAttributes(new { @class = "k-textbox", @Id = "txtRegAddress1", style = "width: 90%;text-transform: uppercase;", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.Regi_Address_Line1, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-3 colpadding0">
                                            <label for="txtRegAddress2" class="control-label">Registered Address Line 2</label><span></span>
                                            @(Html.Kendo().TextBoxFor(m => m.Regi_Address_Line2).HtmlAttributes(new { @class = "k-textbox", @Id = "txtRegAddress2", style = "width: 90%;text-transform: uppercase;", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.Regi_Address_Line2, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-2 colpadding0">
                                            <label for="stateId" class="control-label">State:</label><span style="color:red">*</span>
                                            @(Html.Kendo().DropDownListFor(m => m.Regi_StateId)
                        .DataTextField("Name")
                        .DataValueField("SIdPublic")
                       .Filter(FilterType.Contains)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                            })
                          .ServerFiltering(false);
                        })

                         .HtmlAttributes(new { style = "width:90%", @Id = "stateId", autocomplete = "off" })
                                            )
                                            @Html.ValidationMessageFor(model => model.Regi_StateId, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-2 colpadding0">
                                            <label for="ddlreg_cityId" class="control-label">City</label><span style="color:red">*</span>
                                            @(Html.Kendo().DropDownListFor(m => m.Regi_CityId)
                                              .DataTextField("Name")
                        .DataValueField("Reg_cityId")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterProducts").Type(HttpVerbs.Get);
                            })
                            .ServerFiltering(true);
                        })
                         .Enable(false)
                         .AutoBind(false)
                         .CascadeFrom("stateId")
                         .HtmlAttributes(new { style = "width:90%", @Id = "ddlreg_cityId", autocomplete = "off" })
                                            )
                                            @Html.ValidationMessageFor(model => model.Regi_CityId, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-1 colpadding0">
                                            <label for="txtReg_Pincode" class="control-label">PIN</label><span style="color:red"></span>
                                            @(Html.Kendo().TextBoxFor(m => m.Regi_PINCode).HtmlAttributes(new { @class = "k-textbox", @Id = "txtReg_Pincode", style = "width: 100%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.Regi_PINCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt30">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-3 colpadding0">
                                            <label class="control-label">Whether the Company has Corporate Office ?</label><span style="color:red">*</span>
                                        </div>
                                        <div class="col-md-3 colpadding0">
                                            @(Html.Kendo().RadioButtonFor(m => m.IsCorp_Office).Label("Yes").Value(true).HtmlAttributes(new { }))
                                            &nbsp; &nbsp;
                                            @(Html.Kendo().RadioButtonFor(m => m.IsCorp_Office).Label("No").Value(false).HtmlAttributes(new { }))

                                            @Html.ValidationMessageFor(model => model.IsCorp_Office, "", new { @class = "text-danger", id = "rdbtniscorposte" })
                                        </div>
                                    </div>
                                </div>
                                <div id="Corporatediv" style="display:none">
                                    <div class="col-md-12 colpadding0 row mt30">
                                        <div class="col-md-3 colpadding0">
                                            <label class="control-label">Whether the corporate office is same as registered office ?</label><span style="color:red"></span>
                                        </div>
                                        <div class="col-md-3 colpadding0">
                                            @(Html.Kendo().RadioButtonFor(m => m.Is_SameAddress).Label("Yes").Value(true).HtmlAttributes(new { }))
                                            &nbsp; &nbsp;
                                            @(Html.Kendo().RadioButtonFor(m => m.Is_SameAddress).Label("No").Value(false).HtmlAttributes(new { }))

                                            @Html.ValidationMessageFor(model => model.Is_SameAddress, "", new { @class = "text-danger", id = "rdbIs_SameAddress" })
                                        </div>
                                    </div>

                                    <div class="row mt30">
                                        <div class="colpadding0 col-md-12">
                                            <div class="col-md-3 colpadding0">
                                                <label for="txtCorAddress" class="control-label">Corporate Office Address Line 1</label><span style="color:red">*</span>
                                                @(Html.Kendo().TextBoxFor(m => m.Corp_Address_Line1).HtmlAttributes(new { @class = "k-textbox", @Id = "txtCorAddress", style = "width:90%", autocomplete = "off" }))
                                                @Html.ValidationMessageFor(model => model.Corp_Address_Line1, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-3 colpadding0">
                                                <label for="txtCorpAddress2" class="control-label">Corporate Office Address Line 2</label><span></span>
                                                @(Html.Kendo().TextBoxFor(m => m.Corp_Address_Line2).HtmlAttributes(new { @class = "k-textbox", @Id = "txtCorpAddress2", style = "width: 90%", autocomplete = "off" }))
                                                @Html.ValidationMessageFor(model => model.Corp_Address_Line2, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-2 colpadding0">
                                                <label for="" class="control-label">State</label><span style="color:red">*</span>
                                                <div class="demo-section k-content">
                                                    @(Html.Kendo().DropDownListFor(m => m.Corp_StateId)
               .DataTextField("Name")
                .DataValueField("SIdPublic")
                 .Filter(FilterType.Contains)

                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                    })
                    .ServerFiltering(false);
                })
                 .HtmlAttributes(new { style = "width: 90%", @Id = "ddlState1", autocomplete = "off" })
                                                    )
                                                    @Html.ValidationMessageFor(model => model.Corp_StateId, "", new { @class = "text-danger" })

                                                </div>
                                            </div>

                                            <div class="col-md-2 colpadding0">
                                                <label class="control-label">City</label><span style="color:red">*</span>
                                                @(Html.Kendo().DropDownListFor(m => m.Corp_CityId)
                    .DataTextField("Name")
                    .DataValueField("Reg_cityId")

                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterProducts1").Type(HttpVerbs.Get);
                        })
                        .ServerFiltering(true);
                    })
                     .Enable(false)
                     .AutoBind(false)
                     .CascadeFrom("ddlState1")
                    .HtmlAttributes(new { style = "width: 90%", @Id = "ddlcorpCity2", autocomplete = "off" })
                                                )
                                                @Html.ValidationMessageFor(model => model.Corp_CityId, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-1 colpadding0">
                                                <span></span><label class="control-label">PIN</label>
                                                @(Html.Kendo().TextBoxFor(m => m.Corp_PINCode).HtmlAttributes(new { @class = "k-textbox", @Id = "txtCorpPINCode", style = "width: 100%", autocomplete = "off" }))
                                                @Html.ValidationMessageFor(model => model.Corp_PINCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </ul>
            </div>

            <div class="row col-md-12 colpadding0 text-center mt30">
                <button type="submit" id="saveppcom" class="btn btn-primary">Save</button>
                <button type="button" id="btnclose2" class="btn btn-primary">Close</button>
            </div>

        }
        @if (Model.IS_Listed && Model.Id > 0)
        {
            @Html.Partial("_Stockexchangedetails", Model)
        }
    </div>
</div>




@if (Model.IS_Listed)
{

    //listedornotDiv
    <script>
        // document.getElementById('listedornotDiv').style.display = 'block';
        $("#listedornotDiv").show();
    </script>
}
else
{
    <script>
        $("#listedornotDiv").hide();
    </script>
}

@if (Model.IsCorp_Office)
{

    //listedornotDiv
    <script>
        document.getElementById('Corporatediv').style.display = 'block';
    </script>
}
else
{
    <script>
        document.getElementById('Corporatediv').style.display = 'none';
    </script>
}




@if (Model.Is_SameAddress)
{
    <script>
        $('#txtCorAddress').val($('#txtRegAddress1').val());
        $('#txtCorpAddress2').val($('#txtRegAddress2').val());
        $('#txtCorpPINCode').val($('#txtReg_Pincode').val());

        var ddlReg_StateId = $("#stateId").data("kendoDropDownList");
        var ddlCor_StateId = $("#ddlState1").data("kendoDropDownList");
        var Reg_StateId = ddlReg_StateId.value();
        var Corp_StateId = ddlCor_StateId.value();
        ddlCor_StateId.value(Reg_StateId);

        var ddlCorp_CityId = $("#ddlcorpCity2").data("kendoDropDownList");
        if (Reg_StateId == Corp_StateId) {
            var ddlReg_CityId = $("#ddlreg_cityId").data("kendoDropDownList");
            var ddlCorp_CityId = $("#ddlcorpCity2").data("kendoDropDownList");
            var cityId = ddlCorp_CityId.value();
            ddlCorp_CityId.value(cityId);
        }
        else {

            ddlCorp_CityId.bind("dataBound", dropdownlist_dataBound);
        }

        function dropdownlist_dataBound() {

            var ddlReg_CityId = $("#ddlreg_cityId").data("kendoDropDownList");
            var ddlCorp_CityId = $("#ddlcorpCity2").data("kendoDropDownList");
            var cityId = ddlReg_CityId.value();
            ddlCorp_CityId.value(cityId);
        }
    </script>
}
else
{
    <script>

        $('#txtCorAddress').val("");
        $('#txtCorpAddress2').val("");
        $('#txtCorpPINCode').val("");
        $("#ddlState1").data("kendoDropDownList").value("");
        $("#ddlcorpCity2").data("kendoDropDownList").value("");

    </script>
}

<script>
    var validator1 = $("#frmUpdatePublicprivatelisted").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $("#btnclose1").click(function (z) {

        z.preventDefault();
        z.stopPropagation();
        $('#wndAddEntity').data("kendoWindow").close();
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    })

    function OnSuccess(data) {
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    }

    function OnFailure(data) {
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    }



    //$(document).ready(function () {
    //
    //    var Iscorpoval = document.getElementById("rdbIsCorporate");
    //    var IscompanyListed = document.getElementById("rdbIslisted");
    //    var IslistedMultiselector = document.getElementById("txtISIN");
    //    if (Iscorpoval.checked) {
    //        document.getElementById('Corporatediv').style.display = 'block';
    //    }
    //    else {
    //        document.getElementById('Corporatediv').style.display = 'none';
    //    }
    //    if (IscompanyListed.checked) {
    //        document.getElementById('listedornotDiv').style.display = 'block';
    //        IslistedMultiselector.setAttribute("data-val-required", "Please Enter ISIN");



    //    }
    //    else {
    //        document.getElementById('listedornotDiv').style.display = 'none';
    //        IslistedMultiselector.removeAttribute("required");

    //    }
    //})


    //var mimeTypes = document.getElementById("dpDOB_minor");
    //if (this.value == "True") {
    //    mimeType.setAttribute("required", "required");
    //    mimeTypes.setAttribute("required", "required");
    //    document.getElementById('MemberinMinor').style.display = 'block';
    //}
    //else {
    //    mimeType.removeAttribute("required");
    //    mimeTypes.removeAttribute("required");
    //    document.getElementById('MemberinMinor').style.display = 'none';
    //}
    $(document).ready(function () {
        $("#DivEntityMaster").scrollTop();
    })
</script>
