﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Pravate_PublicVM

<script>
    function AddShareHoldingDetails() {
        var grid = $("#Grid").data("kendoGrid");
     
        grid.addRow();
    }
    function onRowBoundstockexchange() {
        GetICons();
        var grid = $("#Grid").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })
    }
    function Request_EndT(e) {

        if (e.type == "create" || e.type == "update") {
            if (e.response.Errors == null) {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>" + e.response.Data[0].Message + "</lable></div></div></div>";
                var grid = $("#Grid").data("kendoGrid");
                grid.dataSource.read();
            }
        }
        else if (e.type == "destroy") {
            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>" + e.response.Data[0].Message + "</lable></div></div></div>";
            var grid = $("#Grid").data("kendoGrid");
            grid.dataSource.read();
        }

           
        }
    

    function error_handlerT() {

    }
    function onRowBound() {
        GetICons();
    }
</script>
<style>
    .mt-1{
        margin-top:1%;
    }
</style>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div class="demo-section k-content">
            <ul class="k-widget k-panelbar k-reset k-header" id="PanelbarEditPrivatepublicCompany" data-role="panelbar" tabindex="0" role="menu">
                <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                    <span class="k-link k-header">
                        Stock Exchange Details <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span>
                    </span>
                    <span id='notification'></span>
                    <div class="row ">
                     
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-9"><div id="divgridNewMessage"></div></div>
                                <div class="col-md-2  mt-1">
                                    <button class="btn btn-primary pull-right" title="Add New" onclick="AddShareHoldingDetails()">
                                        <span class="AddNewspan1"><i class="fa fa-plus"></i></span>New
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row colpadding0">
                            <div class="row col-md-12 colpadding0 mt10">
                                @(Html.Kendo().Grid<BM_ManegmentServices.VM.ListofstockExchange>()
.Name("Grid").TableHtmlAttributes(new { @style = "width:100%" })
.Columns(columns =>
{
    columns.Bound(p => p.EntityId).Visible(false);
    columns.Bound(p => p.Id).Visible(false);
    columns.Bound(p => p.staockExchange).EditorTemplateName("_StockExchange").ClientTemplate("#:stockExchangeName#").Title("Stock Exchange").HtmlAttributes(new { @style = "width:40%" });
    columns.Bound(p => p.scriptCode).Title("Scrip Code").HtmlAttributes(new { @style = "width:20%; height:40px;", @class = "form-Control" });
    columns.Bound(p => p.scriptSymbol).Title("Scrip Symbol").HtmlAttributes(new { @style = "width:20%; height:40px;", @class = "form-Control" });
    columns.Command(command =>
    {
        command.Edit();
        command.Destroy();
    }).Title("Action").HtmlAttributes(new { @style = "width:10%" });
})
 //.ToolBar(toolbar => toolbar.Create().Text("New"))
 .Editable(editable => editable.Mode(GridEditMode.InLine))
@*.RequestEnd("Request_EndT"))*@
 .Events(e => e.DataBound("onRowBound"))
 .Pageable(p => p
      .Refresh(false)
         )

    .DataSource(dataSource => dataSource
    .Ajax()
     .Events(events => events.Error("error_handlerT")
     .RequestEnd("Request_EndT"))
    .Model(model =>
    {
        model.Id(o => o.Id);
        model.Field(o => o.EntityId).DefaultValue(Model.Id);

    })

        .Create(update => update.Action("EditingInline_Create", "EntityMaster"))
        .Read(read => read.Action("EditingInline_Read", "EntityMaster", new { EntityID = Model.Id }))
        .Update(update => update.Action("EditingInline_Update", "EntityMaster"))
        .Destroy(update => update.Action("EditingInline_Destroy", "EntityMaster"))
       ).HtmlAttributes(new { @style = "width:100%" })
       .Events(e => e.DataBound("onRowBoundstockexchange"))
                                )
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

