﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.TrustVM

<script>
    $(document).ready(function () {

        $('[id^="panelbar"]').kendoPanelBar({
            expandMode: "single",
            collapse: cancelExpandCollapse,
        });
    });
</script>
<script>
                $(document).ready(function () {
                    loadEntity("@Model.trustEntityName");
                });

                function loadEntity(Companyname) {
                    debugger;
                    if (Companyname != "" && Companyname != null) {
                        Colors = [
                          "#42A5F5",
                          "#008391",
                          "#846600",
                         "#CC0060",
                         "#330099", ];
                        var result1 = Colors[Math.floor(Math.random() * Colors.length)];
                        var firstName = Companyname;

                        var intials = Companyname.charAt(0);
                        $(".spancompanylogo").text(intials);
                        $(".spancompanylogo").css("background-color", result1)
                        $(".spancompanylogo").css("color", "white")
                        $(".spancompanylogo").css("text-align", "center")
                    }
                }
</script>

<div id="DivEntityMasterTrust" style="height:450px;overflow-x:hidden">
    @using (Ajax.BeginForm("CreateTrust", "EntityMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivEntityMasterTrust", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateEntityTrust" ,enctype = "multipart/form-data" }))
    {
        <div class="row">
            @if (Model.Message)
            {
                <div class="col-md-12">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.successErrorMessage)))
                        {
                            <lable>@Model.successErrorMessage</lable>
                        }
                    </div>

                </div>
            }
        </div>

        <div class="row">
            @if (Model.errorMessage)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.successErrorMessage)))
                        {
                            <lable>@Model.successErrorMessage</lable>
                        }
                    </div>

                </div>
            }
        </div>

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Entity_Type)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CustomerBranchId)
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="demo-section k-content">
                    <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_TrustDetails" data-role="panelbar" tabindex="0" role="menu" style="margin-bottom: 20px;border-radius: 4px">
                        <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                            <span class="k-link k-header k-state-selected">
                                Details <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span>
                                @if ((Model.trustEntityName != null))
                                {
                                    <div class="col-md-1 colpadding0 pull-right imgright">

                                        @if (Model.EntityLogoname != null)
                                        {

                                            <img class="customer-photo1" src="@Url.Content(String.Format(Model.logopath+"/"+Model.EntityLogoname))" />

                                        }
                                        else
                                        {
                                            <span class='customer-photo1 spancompanylogo' onload="loadEntity(@Model.trustEntityName)"></span>
                                        }

                                    </div>
                                }
                            </span>
                            <span id='notification'></span>
                            <div id="step1Content" style="display: block; margin-left: 1%;margin-right: 1%;margin-top:1%;margin-bottom:1%">
                                <div class="row colpadding0 mt30">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-4 colpadding0">
                                            <label for="txtEntityName" class="control-label">Name</label><span style="color:red">*</span>
                                            @(Html.Kendo().TextBoxFor(m => m.trustEntityName).HtmlAttributes(new { @class = "k-textbox", @Id = "txtbodycorporateEntityName", style = "width: 95%; text-transform: uppercase;", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.trustEntityName, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-2 colpadding0">
                                            <label class="control-label">Trust Type</label><span style="color:red">*</span>
                                            @(Html.Kendo().DropDownListFor(model => model.trusttType).BindTo(new SelectList(new List<object> {
                        new {id="-1",text="Select"},
                        new {id="1",text="Public Trust"},
                        new {id="2",text="Private Trust"},
                    }, "id", "text"))
                                    //.Events(m => m.Change("getgoverningval"))

                                    .HtmlAttributes(new { style = "width: 90%" }))
                                            @Html.ValidationMessageFor(model => model.trusttType, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-2 colpadding0">
                                            <label class="control-label">Registration Number</label><span></span>
                                            @(Html.Kendo().TextBoxFor(m => m.trustRegistration_No).HtmlAttributes(new { @class = "k-textbox", @Id = "txttrustregistration", style = "width:90%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.trustRegistration_No, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-2 colpadding0">
                                            <label class="control-label">GSTIN</label><span></span>
                                            @(Html.Kendo().TextBoxFor(m => m.trustGST).HtmlAttributes(new { @class = "k-textbox", @Id = "txtGstntrust", style = "width: 90%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.trustGST, "", new { @class = "text-danger" })


                                        </div>

                                        <div class="col-md-2 colpadding0">

                                            <label class="control-label">PAN:</label><span style="color:red">*</span>
                                            @(Html.Kendo().TextBoxFor(m => m.trustPAN).HtmlAttributes(new { @class = "k-textbox", @Id = "txttrustPan", style = "width: 100%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.trustPAN, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>

                                <div class="row colpadding0 mt30">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-2 colpadding0">

                                            <label class="control-label">Registration Date</label><span style="color:red">*</span>
                                            @(Html.Kendo().DatePicker()
                            .Name("trustRegistrationDate")
                            .Max(DateTime.Today).Format("dd/MM/yyyy").Enable(true)
                            .HtmlAttributes(new { style = "width: 90%", @Id = "dateofIncorporationtrust", placeholder = "DD/MM/YYYY", autocomplete = "off" })
                                            )
                                            @Html.ValidationMessageFor(model => model.trustRegistrationDate, "", new { @class = "text-danger" })


                                        </div>
                                        <div class="col-md-2 colpadding0">
                                            <span style="color:red"></span><label class="control-label">Number of Trustees:</label>
                                            @(Html.Kendo().TextBoxFor(m => m.trustNo_Of_Trustees).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNoofTrustees", style = "width: 80%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.trustNo_Of_Trustees, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-2 colpadding0">

                                            <label class="control-label">Email ID:</label><span style="color:red">*</span>

                                            @(Html.Kendo().TextBoxFor(m => m.trustEmail_Id).HtmlAttributes(new { @class = "k-textbox", @Id = "txttrustEmailId", style = "width:92%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.trustEmail_Id, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-4 colpadding0">

                                            <span></span><label class="control-label">Website:</label>

                                            @(Html.Kendo().TextBoxFor(m => m.trustWebSite).HtmlAttributes(new { @class = "k-textbox", @Id = "txttrustWebsite", style = "width: 95%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.trustWebSite, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-2 colpadding0">

                                            <label for="txtWebsite" class="control-label">FY</label><span style="color:red">*</span>
                                            @(Html.Kendo().DropDownList()
          .Name("TrustFY")
          .DataTextField("Text")
          .DataValueField("Value")

          .BindTo(new List<SelectListItem>() {
               new SelectListItem() {
                  Text = "Select",
                  Value = ""
              },
              new SelectListItem() {
                  Text = "1 Jan - 31 Dec",
                  Value = "1 Jan - 31 Dec"
              },
              new SelectListItem() {
                  Text = "1 Apr - 31 Mar",
                  Value = "1 Apr - 31 Mar"
              },
          })

          .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                            @Html.ValidationMessageFor(m => m.TrustFY)
                                        </div>


                                    </div>
                                </div>

                                <div class="row mt30">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-3 colpadding0">
                                            <label class="control-label">Whether Company is having any Branch Office ?</label><span style="color:red">*</span>
                                        </div>
                                        <div class="col-md-3 colpadding0">
                                            @(Html.Kendo().RadioButtonFor(m => m.TIsanyBranch).Label("Yes").Value(true).HtmlAttributes(new { }))
                                            &nbsp; &nbsp;
                                            @(Html.Kendo().RadioButtonFor(m => m.TIsanyBranch).Label("No").Value(false).HtmlAttributes(new { }))

                                            @Html.ValidationMessageFor(model => model.TIsanyBranch, "", new { @class = "text-danger", id = "rdbTisanybranch" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt30">
                                    <div class="col-md-12 colpadding0">
                                        <label class="control-label required">Others Details</label><span style="color:red"></span>

                                        @Html.TextAreaFor(m => m.TOthersDetails, new { @class = "form-control" })

                                    </div>
                                </div>


                                <div class="row colpadding0 mt30">
                                    <div class="colpadding0 col-md-12">
                                        <div class="col-md-1 colpadding0" style="width: 15%">
                                            <label class="control-label">Logo Upload</label><span></span>
                                            <input type="file" name="files" id="files1" accept="image/x-png,image/gif,image/jpeg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_TrustAddress" data-role="panelbar" tabindex="0" role="menu" style="margin-bottom: 20px;border-radius: 4px">
                        <li class="k-item k-state-default k-last k-state-highlight k-state-active" aria-expanded="true" role="menuitem">
                            <span class="k-link k-header" id="spanAgendaItemB">Address<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                            <div id="step1Content" style="display: block; margin-left: 1%;margin-right: 1%;margin-top:1%;margin-bottom:1%">
                                <div class="row colpadding0">
                                    <div class="col-md-12 colpadding0">
                                        <div class="col-md-3 colpadding0">
                                            <label class="control-label">Registered Address Line 1</label><span style="color:red">*</span>

                                            @(Html.Kendo().TextBoxFor(m => m.trustRegi_Address_Line1).HtmlAttributes(new { @class = "k-textbox", @Id = "txtRegAddresstrust", style = "width: 90%;text-transform: uppercase;", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.trustRegi_Address_Line1, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-3 colpadding0">
                                            <label class="control-label">Registered Address Line 2</label><span style="color:red">*</span>
                                            @(Html.Kendo().TextBoxFor(m => m.trustRegi_Address_Line2).HtmlAttributes(new { @class = "k-textbox", @Id = "txtRegAddress2trust", style = "width: 90%;text-transform: uppercase;", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.trustRegi_Address_Line2, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-2 colpadding0">
                                            <label class="control-label">State</label><span style="color:red">*</span>
                                            @(Html.Kendo().DropDownListFor(m => m.trustRegi_StateId)
                                .DataTextField("Name")
                                .DataValueField("SIdPublic")
                                .OptionLabel("Select State")
                                .Filter("contains")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                })

                                .HtmlAttributes(new { style = "width: 90%", @Id = "stateId", autocomplete = "off" })
                                            )
                                            @Html.ValidationMessageFor(model => model.trustRegi_StateId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-2 colpadding0">
                                            <label class="control-label">City</label><span style="color:red">*</span>
                                            @(Html.Kendo().DropDownListFor(m => m.trustRegi_CityId)
                                //.Name("ddlNationality")
                                .DataTextField("Name")
                                .DataValueField("Reg_cityId")
                                .OptionLabel("Select City")
                                //.Filter("contains")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterProducts").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(true);
                                })
                                .Enable(false)
                                .AutoBind(false)
                                .CascadeFrom("stateId")
                                .HtmlAttributes(new { style = "width:90%", @Id = "ddlreg_cityId", autocomplete = "off" })
                                            )
                                            @Html.ValidationMessageFor(model => model.trustRegi_CityId, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-md-1 colpadding0">
                                            <span></span><label class="control-label">PIN</label>
                                            @(Html.Kendo().TextBoxFor(m => m.trustRegi_PINCode).HtmlAttributes(new { @class = "k-textbox", @Id = "txtEntityPINTrust", style = "width: 100%", autocomplete = "off" }))
                                            @Html.ValidationMessageFor(model => model.trustRegi_PINCode, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0" style="text-align:center">
                        <button type="submit" id="btnTrust" class="btn btn-primary">Save</button>
                        <button type="button" id="btnclose3" class="btn btn-primary">Close</button>
                    </div>
                </div>

            </div>
        </div>
    }
</div>
<script>
    var validator1 = $("#frmUpdateEntityTrust").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $("#btnclose3").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
        $('#wndAddEntity').data("kendoWindow").close();
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
    })


    //$(document).ready(function () {
    @*if(@Model.Id>0)
        {
            var dataSource = $("#ddlEntityType").data("kendoDropDownList");
            dataSource.readonly();
            $("#txtbodycorporateEntityName").attr("readonly", true);
            //var dataSource = $("#ddlEntityType").data("kendoDropDownList");
            //dataSource.readonly();
            $("#txttrustregistration").attr("readonly", true);
            $("#txtGstntrust").attr("readonly", true);
            $("#txttrustPan").attr("readonly", true);
            $('#dateofIncorporationtrust').data('kendoDatePicker').enable(false);

            $("#txtNoofTrustees").attr("readonly", true);

            $("#txttrustEmailId").attr("readonly", true);
            $("#txtRegAddresstrust").attr("readonly", true);

            $("#txtRegAddress2trust").attr("readonly", true);

            var dataSource = $("#stateId").data("kendoDropDownList");
            dataSource.readonly();
            var dataSource = $("#ddlreg_cityId").data("kendoDropDownList");
            dataSource.readonly();

            $("#txtEntityPINTrust").attr("readonly", true);

            $("#txttrustWebsite").attr("readonly", true);
            $("#btnTrust").kendoButton({
                enable: false
            });
        }
    })*@
</script>
