﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.EntityMasterVM
@{
    ViewBag.Title = "Entity :: Masters";
}
<title></title>
<script type="text/javascript" src="/js/telerikReportViewer-12.1.18.620.js"></script>
@*<script type="text/javascript" src="/js/telerikReportViewer-14.2.20.916.js"></script>*@

<script>
    $(document).ready(function () {

        var breadCrumbData = [
            {
                displayText: "Masters",
                navigateUrl: "#",
            }, {
                displayText: "Entity",
                navigateUrl: "/BM_Management/EntityMaster/GetEntityDtls",
            }
        ];

        setBreadCrumb(breadCrumbData);

        $("#customCommand").kendoTooltip({ content: "Add New" });
        $("#btnImport").kendoTooltip({ content: "Import Entity/Company Created in other Products" });
        $("#btnUpload").kendoTooltip({ content: "Upload Forms" });
    });

    function MoreActions_onChange(e) {

        //var value = $("#griDDLActionMenu").val();
        var value = e.sender.value();

        if (e.sender.value() == 'AC') {
            openCompanySubType(e);
        }
        else if (e.sender.value() == 'CAP') {
            openCapitalMasterpage(e);
        }
        else if (e.sender.value() == 'APP') {
            OpenApplicability(e);
        }
        else if (e.sender.value() == 'SH') {
            OpenShareholdingPage(e);
        }
        else if (e.sender.value() == 'BOD') {
            OpenDirectorMaster(e);
        }
        else if (e.sender.value() == 'CM') {
            OpenCommitteeMaster(e);
        }
        else if (e.sender.value() == 'AM') {
            OpenAuditMaster(e);
        }
        else if (e.sender.value() == 'MATRIX') {
            e.preventDefault();
            var grid = e.sender.element.closest(".k-grid").data("kendoGrid");
            var row = e.sender.element.closest("tr");
            var dataItem = grid.dataItem(row);
            viewCommitteeMatrix(dataItem.Id, dataItem.EntityName);
        }
    };

    var initialLoad = true;
    function onRowBound(e) {

        var data = [
            { text: "Related Companies", value: "AC" },
            { text: "Capital", value: "CAP" },
            { text: "Applicability", value: "APP" },
            { text: "Shareholding", value: "SH" },
            { text: "Management Personnel", value: "BOD" },
            { text: "Committees", value: "CM" },
            { text: "Committee Matrix", value: "MATRIX" },
            { text: "Auditors", value: "AM" },
        ];

        var data1 = [
           { text: "Associated Companies", value: "AC" },
           { text: "Capital", value: "CAP" },
           { text: "Applicability", value: "APP" },
           { text: "Partner", value: "SH" },
           { text: "Management Personnel", value: "BOD" },
           { text: "Committees", value: "CM" },
           { text: "Committee Matrix", value: "MATRIX" },
           { text: "Auditors", value: "AM" },
        ];

        //$("#griDDLActionMenu").kendoDropDownList({
        //    dataTextField: "text",
        //    dataValueField: "value",
        //    dataSource: data,
        //    change: MoreActions_onChange,
        //    optionLabel:"More Actions.."
        //});

        GetICons();
        var grid = $("#gridKendo").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            //if (gridData[i].Entity_Type == 3)
            //    debugger;
            //{
            //    if (data.length > 0) {
            //        for (var k = 0; k == data.length; k++)
            //        {
            //            if(data[k]==3)
            //            {
            //                data[k].text.replace("Shareholding", "Partner");
            //            }
            //        }
                                     
            //    }

            //}
            debugger;
            if (gridData[i].Entity_Type == 3) {
                $(currenRow).find("#griDDLActionMenu").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: data1,
                    change: MoreActions_onChange,
                    optionLabel: "More Actions.."
                });
            }
            else {
                $(currenRow).find("#griDDLActionMenu").kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: data,
                    change: MoreActions_onChange,
                    optionLabel: "More Actions.."
                });
            }

        }

        getGridborder(grid);

        for (var i = 0; i < gridData.length; i++) {

            var currentUid = gridData[i].uid;
            if (gridData[i].Entity_Type != null) {

                if (gridData[i].Entity_Type == 1 || gridData[i].Entity_Type == 2 || gridData[i].Entity_Type == 9 || gridData[i].Entity_Type == 10) {

                }
                else if (gridData[i].Entity_Type == 3 || gridData[i].Entity_Type == 4 || gridData[i].Entity_Type == 5) {
                    var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    //var editButton = $(currenRow).find(".k-grid-S").addClass("k-state-disabled");;
                    // editButton.hide();
                    var ddlMoreActions = $(currenRow).find("#griDDLActionMenu").data("kendoDropDownList");

                    if (ddlMoreActions != null && ddlMoreActions != undefined) {
                        var ddlData = ddlMoreActions.options.dataSource;
                        for (var j = 0; j < ddlData.length; j++) {
                            var dataitem = ddlData[j];
                            ddlMoreActions.dataSource.remove(ddlData[j]);
                        }

                        if (gridData[i].Entity_Type == 4) {
                            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                            var editButton = $(currenRow).find(".k-grid-C").addClass("k-state-disabled");
                            // editButton.hide();
                        }


                        if (gridData[i].Entity_Type == 4 || gridData[i].Entity_Type == 5) {
                            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                            var editButton = $(currenRow).find(".k-grid-A").addClass("k-state-disabled");
                            // editButton.hide();
                        }
                       
                    }
                }
               
            }
        }

        if (initialLoad) {
            BindAutoComplete();
            initialLoad = false;
        }

        //grid.thead.find("[data-title=Action]>.k-header-column-menu").remove();
    }

    function ddlEntityIdChanged() {
        var items = this.ul.find("li");
        checkInputs(items);

        //    ddlMappingTypeChanged();
        //filterChange();
    }
    function ddlEntityIdDataBound() {
        var items = this.ul.find("li");
        setTimeout(function () {
            checkInputs(items);
        });
    }

    function checkInputs(elements) {
        elements.each(function () {
            var element = $(this);
            var input = element.children("input");

            input.prop("checked", element.hasClass("k-state-selected"));
        });
    }
</script>

<!-- Filter Script-->
<script>
    $(document).ready(function () {
        settracknew('Entity Master', 'PageVisit', 'PageVisit', '');
    })

    function filterChange() {


        var filter = { logic: 'or', filters: [] };

        //var t = $('#filter');
        //if (t.val() != "") {
        //    filter.filters.push({ logic: "or", field: "EntityName", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "Type", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "LLPI_CIN", operator: "contains", value: t.val() });
        //}

        var txtSearch = $('#filterSearch');
        if (txtSearch.val() != "") {
            var splittedData = txtSearch.val().trim().split(",");

            for (var i = 0; i < splittedData.length; i++) {
                if (splittedData[i].trim() != "") {
                    filter.filters.push({ logic: "or", field: "EntityName", operator: "contains", value: splittedData[i].trim() });
                    filter.filters.push({ logic: "or", field: "Type", operator: "contains", value: splittedData[i].trim() });
                    filter.filters.push({ logic: "or", field: "LLPI_CIN", operator: "contains", value: splittedData[i].trim() });
                }
            }
        }

        if (filter != null) {
            $("#clearfillter").show();
        }
        else {
            $("#clearfillter").hide();
        }

        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.filter(filter);

    };

    function clearfilter(e) {

        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");
        }

        $('#clearfillter').css('display', 'none');

        $("#gridKendo").data("kendoGrid").dataSource.filter({});
    }

</script>
<script>
    function openPopupforFileupload() {

        OnOpen('a');
        $("#wndFileUpload").attr("style", "min-height:100px;");
        var direction = "UploadFileopenPopUP";

        $("#wndFileUpload").kendoWindow({
            title: "Upload Forms",
        });
        $("#wndFileUpload").attr("style", "min-height:100px;");
        direction = "UploadFileopenPopUP";
        var wnd = $("#wndFileUpload").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndFileUpload").kendoWindow({

            content: direction,
            width: "45%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresheupload(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpenupload();
                //$(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "45%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

        function OnOpenupload() {

        }
        function OnRefresheupload() {

        }
    }

    function OpenReportViewer(e) {
        debugger;

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        if (dataItem != null || dataItem != undefined) {

            var entityID = dataItem.Id;
            var entityName = dataItem.EntityName;
            var custID = dataItem.CustomerId;

            //alert("entityID-" + entityID + "-entityName-" + entityName + "-custID-" + custID);

            $('#windowReportViewer').show();
            var wndRptViewer = $("#windowReportViewer");

            wndRptViewer.kendoWindow({
                width: "80%",
                height: "87%",
                title: "Entity Details",
                visible: false,
                modal:true,
                actions: [                    
                    "Close"
                ],
                close: function (e) {
                    var wnd = $("#windowReportViewer").data("kendoWindow");
                    kendo.ui.progress(wnd.element, false);
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                },
                open: function (e) {
                    var wnd = $("#windowReportViewer").data("kendoWindow");
                    kendo.ui.progress(wnd.element, true);
                    $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                }
            });

            Summaryreport(custID, entityID, entityName);

            wndRptViewer.data("kendoWindow").center().open();
        }

        return false;
    }

    function Summaryreport(custID, EntityID, EntityName) {

        $("#windowReportViewer").telerik_ReportViewer({
            serviceUrl: "https://reports.avantis.co.in",

            reportServer: {
                url: "https://reports.avantis.co.in",
                username: "AvantisReporter",
                password: "admin@123"
            },

            reportSource: {
                report: "Samples/SeceratialReport",
                parameters: { EntityID: EntityID, CustomerId: custID, CustomerName: EntityName, }
            },

            viewMode: telerikReportViewer.ViewModes.INTERACTIVE,
            scaleMode: telerikReportViewer.ScaleModes.SPECIFIC,
            scale: 1.5,
            enableAccessibility: true,
            ready: function () {
                //this.refreshReport();
            },
        });
    }

</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">

        @Html.AntiForgeryToken()

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-6 colpadding0">
                    <div class="input-group">
                        <input id='filterSearch' type="text" class="form-control" placeholder="Search by Name/CIN/LLPIN/Registration" autocomplete="off">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" style="height:36px">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

                @*<div class="col-md-6 colpadding0">
                        <input id='filter' placeholder="Search by Name/CIN/LLPIN/Registration" class='k-textbox' style="width:90%" autocomplete="off" onchange="filterChange(this)" />
                    </div>*@

                <div class="col-md-1 colpadding0">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearfillter" style="display:none">
                        <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
                    </button>
                </div>

                <div class="col-md-5 colpadding0 text-right">
                    @if (Model.CanAdd)
                    {
                        <button class="btn btn-primary add-button" href="/#" id="customCommand" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                        <input type="button" class="btn btn-primary add-button" id="btnUpload" href="/#" title="Upload" value="Upload" onclick="openPopupforFileupload()" />
                        <input type="button" class="btn btn-primary add-button" id="btnImport" href="/#" title="Upload" value="Import" onclick="openPopupImportFromAVACOM()" />
                    }
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.EntityMasterVM>()
                    .Name("gridKendo")
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.CustomerId).Visible(false);
                        columns.Bound(o => o.Id).Visible(false);
                        columns.Bound(o => o.EntityName).Width("40%").Title("Name").HtmlAttributes(new {  }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.Type).Width("20%").HtmlAttributes(new {  }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.LLPI_CIN).Width("10%").Title("CIN/LLPIN/Registration Number").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        if (Model.CanEdit)
                        {
                            columns.Command(commnd =>
                            {
                                commnd.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                                commnd.Custom("View").Click("OpenReportViewer").HtmlAttributes(new { @class = "k-grid-view hoverCircle" });

                                //commnd.Custom("CS").Click("openCompanySubType");
                                //commnd.Custom("C").Click("openCapitalMasterpage");
                                //commnd.Custom("A").Click("OpenApplicability"); ;
                                //commnd.Custom("S").Click("OpenShareholdingPage");
                                //commnd.Custom("D").Click("OpenDirectorMaster");
                                //commnd.Custom("CM").Click("OpenCommitteeMaster");
                                //commnd.Custom("AU").Click("OpenAuditMaster");
                            }).Title("Edit").Width("5%").HeaderHtmlAttributes(new { style = "text-align:center; border-width: 0px 0px 0px 0px;" }).HtmlAttributes(new { style = "text-align: center;" });
                        }
                        columns.Bound(p => p.Id).Title("Action").Sortable(false).Filterable(false)
                        .ClientTemplate("<input id='griDDLActionMenu' style='width:100%'></input>")
                        //.ClientTemplate("<span id='menuTarget' class='k-icon k-i-more-vertical'></span><a class='k-link' href='#'></a>")
                        //.ClientTemplate("<span id='gridMoreActionMenu' class='k-widget k-dropdown k-header'><span class='k-dropdown-wrap k-state-default'><span class='k-input'>More Actions</span><span class='k-select'><span class='k-icon k-i-arrow-60-down'></span></span></span></span>")
                        .Width("15%").HeaderHtmlAttributes(new { style = "text-align:center; border-width: 0px 0px 0px 0px;" }).HtmlAttributes(new { style = "text-align: center;" });
                    }).EnableCustomBinding(true)
                    .Events(e => e.DataBound("onRowBound"))
                    .Navigatable()
                    .Pageable(pageable => pageable
                    .Refresh(false)
                    .PageSizes(true)
                    .ButtonCount(5))
                    .Filterable()
                    .Sortable()
                    .Reorderable(reorderable => reorderable.Columns(true))
                    .Resizable(resizable => resizable.Columns(true))
                    .ColumnMenu(col => col.Columns(false))
                    .DataSource(
                            dataSource => dataSource
                            .WebApi()
                            .PageSize(10)
                            .ServerOperation(false)
                            .Model(model =>
                            {
                                model.Id(o => o.Id);
                            })
                            .Read(read => read.Url("/api/EntityMasterAPI/GetEntity").Type(HttpVerbs.Get))
                            ).HtmlAttributes(new { @style = "width:100%" }))
            </div>
        </div>
        <div id="modalWindow">
            <h5>Are you sure you want to delete this data?</h5>
            <div class="text-center">
                <button id="yes" class="btn btn-primary">Yes</button>
                <button id="no" class="btn btn-primary">No</button>
            </div>
        </div>

        <div id="windowReportViewer"></div>

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-C")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Capital Master")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-S")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Shareholding Master")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-D")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Management Personnel")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-A")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
         .Content("Applicability")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-AU")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
         .Content("Auditors")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-CM")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Committees")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-CS")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Related Companies")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-Edit")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
         .Content("Edit")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Delete")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .ContentHandler("getTooltipContent")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-view")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
         .Content("View")
        )
    <script>
            function toolTipContent(e) {
                return e.target.context.innerText;
            }

            function getTooltipContent(e) {

                if (e.target.context.innerText == 'C') {
                    return "Capital Master";
                }
                else if (e.target.context.innerText == 'S') {
                    return "Shareholding Master";
                }
                else if (e.target.context.innerText == 'D') {
                    return "Management Personnel";
                }
                else if (e.target.context.innerText == 'CM') {
                    return "Committees";
                }
                else if (e.target.context.innerText == 'CS') {
                    return "Assosiated Company";
                }
                else if (e.target.context.innerText == '') {
                    return "Edit";
                }
                else if (e.target.context.innerText == 'Delete') {
                    return "Delete";
                }
                else if (e.target.context.innerText == 'CM') {
                    return "Committees";
                }
                else if (e.target.context.innerText == 'New') {
                    return "Add New";
                }
                else if (e.target.context.innerText == 'A') {
                    return "Applicability";
                }
                else if (e.target.context.innerText == 'AU') {
                    return "Auditors";
                }
            }

            function openCompanySubType(e) {

                //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                var grid = e.sender.element.closest(".k-grid").data("kendoGrid");
                var row = e.sender.element.closest("tr");
                var dataItem = grid.dataItem(row);

                e.preventDefault();
                $("#wndCompanySubTpe").kendoWindow({
                    title: "[" + dataItem.EntityName + "] - " + "Related Companies",
                    modal: true
                });

                direction = "OpenEntitySubType?EntityID=" + dataItem.Id + "&CustomerId=" + dataItem.CustomerId + "&CIN=" + dataItem.LLPI_CIN;

                var wnd = $("#wndCompanySubTpe").data("kendoWindow");
                var opts = wnd.options;

                wnd = $("#wndCompanySubTpe").kendoWindow({
                    pinned: true,
                    content: direction,
                    width: "75%",

                    visible: false,
                    modal: true,
                    refresh: function () { this.center(); OnRefresh(); },
                    close: function (e) {
                        $(this.element).empty();
                        $('#gridKendo').data('kendoGrid').refresh();
                        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    },
                    open: function (e) {
                        OnOpen();
                        $(this.element).closest(".k-window").css("position", "fixed")
                        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                    }
                }).data("kendoWindow");

                opts.width = "75%";

                wnd.setOptions(opts);
                wnd.center();
                wnd.refresh(direction);
                wnd.open();
            }

            function OpenShareholdingPage(e) {

                e.preventDefault();
                //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                var grid = e.sender.element.closest(".k-grid").data("kendoGrid");
                var row = e.sender.element.closest("tr");
                var dataItem = grid.dataItem(row);

                var id = dataItem.Id;

                var islisted = dataItem.Islisted;
                var EntityType = dataItem.Entity_Type;

                if (EntityType == 1 || EntityType == 2 || EntityType == 9 || EntityType == 10) {

                    if (!islisted) {
                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: "/api/ShareholdingMasterAPI/GetShareHoldingdtlsbyID?EntityId=" + id,
                            success: function (data) {


                                if (data.Id > 0 && data.isDemate == null && data.IsPartialorComplited == null) {
                                    var direction = "openradiobutton?EntityId=" + id;
                                    wnd = $("#wndAdd").kendoWindow({
                                        title: "Shareholding Master",
                                        actions: ["Close"],
                                        content: direction,
                                        width: "100%",
                                        visible: false,
                                        actions: [
                          "Pin",
                          "Minimize",
                          "Maximize",
                          "Close"
                                        ],
                                        modal: true,

                                        refresh: function () { this.center(); },
                                        close: function (e) {
                                            $(this.element).empty();
                                            $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                                        },
                                        open: function () {
                                            OnOpen();
                                            $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                                        }
                                    }).data("kendoWindow");
                                    // }

                                    //opts.width = "95%";
                                    //wnd.setOptions(opts);
                                    wnd.refresh(direction);
                                    wnd.center();
                                    wnd.open();
                                }

                                else if (data.Id > 0 && data.isDemate == false && data.IsPartialorComplited == null) {
                                    window.location.href = "@Url.Action("GetShareholdingMaster", "ShareholdingMaster")?entity_Id=" + id;
                                }
                                else if (data.Id > 0 && data.isDemate == true && data.IsPartialorComplited == null) {
                                    window.location.href = "@Url.Action("GetDematShare", "ShareholdingMaster")?entity_Id=" + id;
                                }
                                else if (data.Id > 0 && data.isDemate == true && data.IsPartialorComplited == true) {
                                    window.location.href = "@Url.Action("GetDematShare", "ShareholdingMaster")?entity_Id=" + id;
                                }
                                else if (data.Id > 0 && data.isDemate == true && data.IsPartialorComplited == false) {
                                    window.location.href = "@Url.Action("GetShareholdingMaster", "ShareholdingMaster")?entity_Id=" + id;
                                }
                                else if (data.Id > 0 && data.isDemate == false && data.IsPartialorComplited == false) {
                                    window.location.href = "@Url.Action("GetShareholdingMaster", "ShareholdingMaster")?entity_Id=" + id;
                                }
                                else if (data.Id > 0 && data.isDemate == false) {
                                    window.location.href = "@Url.Action("GetShareholdingMaster", "ShareholdingMaster")?entity_Id=" + id;
                                }

                            },
                            error: function (xhr, param) {
                                console.log(xhr);
                                console.log(param);
                            }
                        });

                    }
                    else {
                        window.location.href = "@Url.Action("GetPrivatepublicShare", "ShareholdingMaster")?entity_Id=" + id;
                        @*window.location.href="@Url.Action("ShareholdingDetails")?entity_Id=" + id;*@
                    }
                }
                else if(EntityType == 3)
                {
                    window.location.href = "@Url.Action("PartnerSharesDetails", "ShareholdingMaster")?entity_Id=" + id;
                }

            }

            function openCapitalMasterpage(e) {

                e.preventDefault();

                //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                var grid = e.sender.element.closest(".k-grid").data("kendoGrid");
                var row = e.sender.element.closest("tr");
                var dataItem = grid.dataItem(row);

                var id = dataItem.Id;
                var entitytype = dataItem.Entity_Type;
                if (entitytype == "1" || entitytype == "2" || entitytype == "9" || entitytype == "10") {
                    window.location.href = "@Url.Action("GetCapitalMasterDtls", "CapitalMaster")?EntityId=" + id;
                }
                else if (entitytype == "3") {
                    window.location.href = "@Url.Action("GetLLpCapitalMaster", "CapitalMaster")?EntityId=" + id;
                }
                else if (entitytype == "5") {
                    window.location.href = "@Url.Action("GetBodyCorporateCapitalMaster", "CapitalMaster")?EntityId=" + id;
                }
            }

            var wnd;
            $(document).ready(function () {
                wnd = $("#modalWindow").kendoWindow({
                    title: "Delete confirmation",
                    modal: true,
                    visible: false,
                    resizable: false,
                    width: 300
                }).data("kendoWindow");
            });

    </script>
    </div>
</div>
@(Html.Kendo().Window()
    .Name("wndAdd")
    .Title("ShareHolding")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false)
    .Width(1000)
    .Height(180)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))
)
@(Html.Kendo().Window()
    .Name("wndCompanySubTpe")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Pinned(true)
    .Title("Assosiated Company")
)
@(Html.Kendo().Window()
    .Name("wndAdd1")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))
)
@(Html.Kendo().Window()
    .Name("wndAddEntity")
    .Title("AddEntity")
    .Visible(false)
    .Modal(true)
    .Scrollable(true)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefreshe"))
)
@(Html.Kendo().Window()
    .Name("wndFileUpload")
    .Title("AddEntity")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false)
    .Width(700)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefreshe"))
)
@(Html.Kendo().Window()
    .Name("KendoPopupAditorDetailsMaster")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))
)
@(Html.Kendo().Window()
        .Name("openPopupImportFromAVACOM")
        .Visible(false)
        .Modal(true)
        .Draggable(false)
        .Scrollable(false)
)

<script>
    $(document).ready(function () {
        if ("@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role" == "CS") {
            $("#customCommand").addClass('k-state-disabled');
        } else {
            $("#customCommand").removeClass('k-state-disabled');
        }
    });

    $("#customCommand").click(function (e) {
        e.preventDefault();
        if ("@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role" == "CS") {
        }
        else {
            CreateNew(e);
        }
    });

    function CreateNew(e) {
        e.preventDefault();
        OnOpen('a');
        //$("#wndAddEntity").attr("style", "min-height:100px;");
        var direction = "Edit?id=" + 0;
        if (e.currentTarget.innerText != "New") {
            $("#wndAddEntity").kendoWindow({
                title: "Edit - Entity Master",
            });
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "Edit?id=" + dataItem.Id + "&EntityId=" + dataItem.Entity_Type;
            var wnd = $("#wndAddEntity").data("kendoWindow");
            var opts = wnd.options;
            settracknew('Entity Master', 'Action', 'Edit', '');
        } else {
            $("#wndAddEntity").kendoWindow({
                title: "Add - Entity Master",
            });
            //$("#wndAddEntity").attr("style", "min-height:100px;");
            direction = "Edit?id=" + 0 + "&EntityId=" + 0;
            var wnd = $("#wndAddEntity").data("kendoWindow");
            var opts = wnd.options;
            settracknew('Entity Master', 'Action', 'AddNew', '');
        }

        wnd = $("#wndAddEntity").kendoWindow({
            title: "Edit - Entity Master",
            pinned: true,
            content: direction,
            width: "90%",
            //height:"90%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            resizable: false,
            modal: true,
            refresh: function () { this.center(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpen();
                //$(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");

        opts.width = "90%";
        //opts.height = "90%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    function DeleteEntity(id) {
        $.ajax({
            url: "/api/EntityMasterAPI/DeleteEntity?Id=" + id,
            method: "DELETE",
            success: function () {
                alert("Deleted Successfully");
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
            }
        });
    }

    function openWindow(e) {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        wnd.center().open();
        $("#yes").click(function () {
            DeleteEntity(id)
            grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }

    function OpenApplicability(e) {
        e.preventDefault();
        //$("#wndAdd1").attr("style", "min-height:100px;");

        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var grid = e.sender.element.closest(".k-grid").data("kendoGrid");
        var row = e.sender.element.closest("tr");
        var dataItem = grid.dataItem(row);

        var EntityType = dataItem.Entity_Type;

        if (EntityType == 1 || EntityType == 2 || EntityType == 3 || EntityType == 9 || EntityType == 10) {

            $("#wndAdd1").kendoWindow({
                title: "Applicability of Compliances",
            });
            var direction = "Applicability?id=" + dataItem.Id;
            direction = "Applicability?Entity_Id=" + dataItem.Id + "&Entity_Type=2&aa=" + dataItem.Entity_Type;
            var wnd = $("#wndAdd1").data("kendoWindow");
            var opts = wnd.options;
            wnd = $("#wndAdd1").kendoWindow({
                title: "Applicability of Compliances",
                actions: ["Close"],
                content: direction,
                width: "80%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { OnOpen1(); },
                close: function (e) {
                    $(this.element).empty();
                    $('#gridKendo').data('kendoGrid').refresh();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    OnRefresh();
                }
            }).data("kendoWindow");
            opts.width = "80%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }

    function OpenDirectorMaster(e) {
        e.preventDefault();
        //$("#wndAdd1").attr("style", "min-height:100px;");

        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var grid = e.sender.element.closest(".k-grid").data("kendoGrid");
        var row = e.sender.element.closest("tr");
        var dataItem = grid.dataItem(row);

        $("#wndAdd1").kendoWindow({
            title: "Management Personnel",
        });
        var direction = "GetDirectorForEntity?Entity_Id=" + dataItem.Id;
        var wnd = $("#wndAdd1").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAdd1").kendoWindow({
            title: "Management Personnel",
            actions: ["Close"],
            content: direction,
            width: "60%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { OnOpen1(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                OnRefresh1();
            }
        }).data("kendoWindow");
        opts.width = "60%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function OpenCommitteeMaster(e) {
        e.preventDefault();
        //$("#wndAdd1").attr("style", "min-height:100px;");

        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var grid = e.sender.element.closest(".k-grid").data("kendoGrid");
        var row = e.sender.element.closest("tr");
        var dataItem = grid.dataItem(row);

        $("#wndAdd1").kendoWindow({
            title: "Committee Details",
        });
        var direction = "GetCommitteeForEntity?Entity_Id=" + dataItem.Id;
        var wnd = $("#wndAdd1").data("kendoWindow");
        var opts = wnd.options;
        wnd = $("#wndAdd1").kendoWindow({
            title: "Committee Details",
            actions: ["Close"],
            content: direction,
            width: "80%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { OnOpen1(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                OnRefresh1();
            }
        }).data("kendoWindow");
        opts.width = "80%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnOpen1(e) {
        var wnd = $("#wndAdd1").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnRefresh1() {
        var wnd = $("#wndAdd1").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnOpene(e) {

        var wnd = $("#wndAddEntity").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }
    function OnRefreshppc() {
        var wnd = $("#wndAddEntity").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnRefreshe() {
        var wnd = $("#wndAddEntity").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function filterProducts() {
        return {
            stateId: $("#stateId").val()
        };
    }

    function filterProducts1() {
        return {
            stateId: $("#ddlState1").val()
        };
    }

    function filterProductllp() {
        return {
            stateId: $("#llpRegstateId").val()
        };
    }

    function filterProductllpcor() {
        return {
            stateId: $("#ddlcorStatellp").val()
        };
    }

    function filterProducttrust() {

        return {
            stateId: $("#trustRegi_StateId").val()
        };
    }

    function filterProductbodyCorporate() {

        return
        {
            CountryId: $("#ddlbodyCountyId").val();
        };
    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

    }

    function onchangeListed() {
        var IsListedTypetype = $("#ddlIsListedCompany").data("kendoDropDownList").value();

        if (IsListedTypetype == "1") {
            $('#listedornotDiv').hidden = false;
        } else {
            $('#listedornotDiv').hidden = true;

        }
    }

    function BusinessCode() {
        return {
            BusinessId: $("#ddlllpbusinessActivity").val()
        };
    }

    function Corporateoff() {
        var Corporatetype = $("#ddlCorpOffice").data("kendoDropDownList").value();

        if (Corporatetype == "1") {
            $('#Corporatediv').hidden = false;
        } else {
            $('#Corporatediv').hidden = true;

        }
    }

    function Corporateoffllp() {
        var Corporatetype = $("#ddlCorpOfficellp").data("kendoDropDownList").value();

        if (Corporatetype == "1") {
            $('#Corporatedivllp')[0].hidden = false;
        } else {
            $('#Corporatedivllp')[0].hidden = true;

        }
    }

    function onCategoryChange() {

        var Entity_Type = $("#ddlEntityType").data("kendoDropDownList").value();
        if (Entity_Type == "1") {
            $('#DivEntityLLP')[0].hidden = true;
            $('#DivEntityDetails')[0].hidden = false;
            $('#DivEntityTrust')[0].hidden = true;
            $('#DivEntityBodyCorporate')[0].hidden = true;
        } else if (Entity_Type == "2") {
            $('#DivEntityLLP')[0].hidden = true;
            $('#DivEntityDetails')[0].hidden = false;
            $('#DivEntityTrust')[0].hidden = true;
            $('#DivEntityBodyCorporate')[0].hidden = true;
        } else if (Entity_Type == "3") {
            $('#DivEntityLLP')[0].hidden = false;
            $('#DivEntityDetails')[0].hidden = true;
            $('#DivEntityTrust')[0].hidden = true;
            $('#DivEntityBodyCorporate')[0].hidden = true;
        }
        else if (Entity_Type == "4") {
            $('#DivEntityTrust')[0].hidden = false;
            $('#DivEntityLLP')[0].hidden = true;
            $('#DivEntityDetails')[0].hidden = true;
            $('#DivEntityBodyCorporate')[0].hidden = true;
        }
        else if (Entity_Type == "5") {
            $('#DivEntityBodyCorporate')[0].hidden = false;
            $('#DivEntityTrust')[0].hidden = true;
            $('#DivEntityLLP')[0].hidden = true;
            $('#DivEntityDetails')[0].hidden = true;
        }
        else {
            $('#DivEntityBodyCorporate')[0].hidden = true;
            $('#DivEntityTrust')[0].hidden = true;
            $('#DivEntityLLP')[0].hidden = true;
            $('#DivEntityDetails')[0].hidden = false;
        }
    }

    $(document).on("change", "input[name='IsCorp_Office']", function () {

        if (this.value == "True" || this.value == "true") {
            document.getElementById('Corporatediv').style.display = 'block';
        }
        else {
            document.getElementById('Corporatediv').style.display = 'none';
        }
    })

    $(document).on("change", "input[name='IS_Listed']", function () {

        var IslistedMultiselector = document.getElementById("txtISIN");
        if (this.value == "True" || this.value == "true") {
            document.getElementById('listedornotDiv').style.display = 'block';

            //IslistedMultiselector.setAttribute("data-val-required", "Please Enter ISIN");


        }
        else {
            document.getElementById('listedornotDiv').style.display = 'none';
            //IslistedMultiselector.removeAttribute("required", "required");

        }
    })

    $(document).on("change", "input[name='Iscorporateforllp']", function () {

        if (this.value == "True" || this.value == "true") {
            document.getElementById('Corporatedivllp').style.display = 'block';
        }
        else {
            document.getElementById('Corporatedivllp').style.display = 'none';
        }
    })

    $(document).on("change", "input[name='rdDematerialised']", function () {
        var entity_Id = $("#txtEntityId").val();

        if (this.value == "True" || this.value == "true") {
            document.getElementById('Isdemat').style.display = 'block';
        }
        else {
            document.getElementById('Isdemat').style.display = 'none';
            //window.location.href = "@Url.Action("GetShareholdingMaster", "ShareholdingMaster")?entity_Id=" + entity_Id;
        }
    })

    function dropdownlist_dataBound() {

        var ddlReg_CityId = $("#ddlreg_cityId").data("kendoDropDownList");
        var ddlCorp_CityId = $("#ddlcorpCity2").data("kendoDropDownList");
        var cityId = ddlReg_CityId.value();
        ddlCorp_CityId.value(cityId);
    }

    $(document).on("change", "input[name='Is_SameAddress']", function () {

        if (this.value == "True" || this.value == "true") {
            $('#txtCorAddress').val($('#txtRegAddress1').val());
            $('#txtCorpAddress2').val($('#txtRegAddress2').val());
            $('#txtCorpPINCode').val($('#txtReg_Pincode').val());

            var ddlReg_StateId = $("#stateId").data("kendoDropDownList");
            var ddlCor_StateId = $("#ddlState1").data("kendoDropDownList");
            var Reg_StateId = ddlReg_StateId.value();
            var Corp_StateId = ddlCor_StateId.value();
            ddlCor_StateId.value(Reg_StateId);

            var ddlCorp_CityId = $("#ddlcorpCity2").data("kendoDropDownList");
            if (Reg_StateId == Corp_StateId) {
                var ddlReg_CityId = $("#ddlreg_cityId").data("kendoDropDownList");
                var ddlCorp_CityId = $("#ddlcorpCity2").data("kendoDropDownList");
                var cityId = ddlCorp_CityId.value();
                ddlCorp_CityId.value(cityId);
            }
            else {

                ddlCorp_CityId.bind("dataBound", dropdownlist_dataBound);
            }
        }

        else {
            $('#txtCorAddress').val("");
            $('#txtCorpAddress2').val("");
            $('#txtCorpPINCode').val("");
            $("#ddlState1").data("kendoDropDownList").value("");
            $("#ddlcorpCity2").data("kendoDropDownList").value("");
        }
    })

    $(document).on("change", "input[name='fromType']", function () {
        debugger;

        if (this.value == "LLp11" || this.value == "LLp11")
        {
            $("#DIVLLP111Excel").show();
        }

        else
        {
            $("#DIVLLP111Excel").hide();
        }
    })
    function Downloadform11() {
        window.location.href = "@Url.Action("DownloadSampleFormateforForm11", "EntityMaster")";
    }

    function entity_Change() {
        var id = 0;
        var Entity_Type = $("#ddlEntityType").data("kendoDropDownList").value();

        $("#viewPlaceHolder").load("../EntityMaster/Getview",
               { Entity_Id: Entity_Type, viewName: "OrderDetails" });
    }

    function CinChange() {
        var str = $("#txtCIN").val();

        var res = str.substring(15);
        $("#txtRegNo").val(res);

    }

    function GstnChange() {
        var str = $("#txtGSTN").val();

        var res = str.substring(2, 12);
        $("#txtPan").val(res);
    }

    function getgoverningval(e) {

        var ddlbodyCorporate = $("#GoverningBody").data("kendoDropDownList");
        if (ddlbodyCorporate.selectedIndex == 1) {
            $("#txtGov_Body_Members").val(1);
        }
        else if (ddlbodyCorporate.selectedIndex == 2) {
            $("#txtGov_Body_Members").val(2);
        }

    }

    function GetFileExtType(e) {

    }

    function OpenAuditMaster(e) {
        e.preventDefault();

        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var grid = e.sender.element.closest(".k-grid").data("kendoGrid");
        var row = e.sender.element.closest("tr");
        var dataItem = grid.dataItem(row);

        window.location.href = "@Url.Action("AuditDetails", "AuditorMaster")?Entity_ID=" + dataItem.Id;
    }

</script>

<script>
    function InputToUpper(obj) {
        if (obj.value != "") {
            obj.value = obj.value.toUpperCase();
        }
    }

    function BindAutoComplete() {
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'EntityName'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'LLPI_CIN'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'Type'));

        if (autoCompleteData != null && autoCompleteData != undefined) {
            $("#filterSearch").kendoAutoComplete({
                dataSource: autoCompleteData,
                filter: "contains",
                placeholder: "Search by Name/CIN/LLPIN/Registration",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        filterChange();
    }


</script>

<!-- import from avacom-->
<script>
    function openPopupImportFromAVACOM() {

        $("#openPopupImportFromAVACOM").kendoWindow({
            title: "Import",
        });
        $("#openPopupImportFromAVACOM").attr("style", "min-height:100px;");

        var direction = "ImportFromAVACOM";
        var wnd = $("#openPopupImportFromAVACOM").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#openPopupImportFromAVACOM").kendoWindow({
            content: direction,
            width: "70%",
            position: {
                top: 100, // or "100px"
            },
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
            },
            open: function (e) {
                kendo.ui.progress(this.element, true);
            }
        }).data("kendoWindow");
        opts.width = "70%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function PreviewEntityMaster() {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

    }
</script>