﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.SubCompanyType

<script>
    @*<!-- Filter Script-->*@


    function filterChange() {
        var filter = { logic: 'or', filters: [] };

        var t = $('#filterassosiate');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "SubCompanyName", operator: "contains", value: t.val() });

            filter.filters.push({ logic: "or", field: "CIN", operator: "contains", value: t.val() });
        }
        if (filter != null) {
            $("#clearfillterassosiate").show();
                }
                else {
            $("#clearfillterassosiate").hide();
                }

        var grid = $("#KendoGridEntitySubType").data("kendoGrid");
        grid.dataSource.filter(filter);

    };

    function clearfilter(e) {
        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filterassosiate").val("");

        }
        $('#clearfillterassosiate').css('display', 'none');

        $("#KendoGridEntitySubType").data("kendoGrid").dataSource.filter({});
    }

    function addAssociatecompanyrow() {
        var grid = $("#KendoGridEntitySubType").data("kendoGrid");
        //grid.dataSource.filter({});
        //grid.dataSource.sort({});
        //add record using Grid API
        grid.addRow();
    }

    function onRowBoundassociatecompany() {
        GetICons();
        var grid = $("#KendoGridEntitySubType").data("kendoGrid");
        getGridborder(grid);
        }
    function Request_EndT(e) {

        if (e.type == "create" || e.type == "update") {
            if (e.response.Errors == null) {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Saved Successfully.</lable></div></div></div>";
            }

            var grid = $("#KendoGridEntitySubType").data("kendoGrid");
            grid.dataSource.read();
        }
        else if (e.type == "destroy") {
            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Delete successfully.</lable></div></div></div>";
            var grid = $("#KendoGridEntitySubType").data("kendoGrid");
            grid.dataSource.read();
        }
        //else if (e.response.Errors != null) {
        //    var divgridNewMessage = $("#divgridNewMessage");
        //    divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Somthing wents wrong.</lable></div></div></div>";
        //    var grid = $("#KendoGridEntitySubType").data("kendoGrid");
        //    grid.dataSource.read();
        //}
    }

    //$("#btnSaveCompanySubType").kendoButton({
    //    click: function (e) {


    //        var grid = $("#KendoGridEntitySubType").data("kendoGrid");
    //        grid.saveChanges();

    //    }
    //})

    $("#btnSaveCompanySubType").click(function () {
        var grid = $("#KendoGridEntitySubType").data("kendoGrid");
        grid.saveChanges();
    })

    function onchnageCin(e) {
        
        var grid = $("#KendoGridEntitySubType").data("kendoGrid");
        var row = e.closest("tr");
        var dataItem = grid.dataItem(row);
        var CIN = e.children.CIN.value;

        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/api/EntityMasterAPI/GetEntityDetails?EntityId=" + '@Model.EntityID' + "&CIN=" + CIN,
            success: function (data) {
                
                if (data != null) {
                    e.nextElementSibling.innerText = data.SubCompanyName;
                    if (data.SubCompanyName != null && data.SubCompanyName != '') {
                        dataItem.SubCompanyName = data.SubCompanyName;
                    }
                    else {
                        dataItem.SubCompanyName = "";
                    }
                    dataItem.dirty = true;
                }
                else
                {
                    e.nextElementSibling.innerText = "";
                    dataItem.SubCompanyName = "";
                    dataItem.dirty = true;
                }
            }
        })
    }

    function error_handlerT(e) {

    }

</script>

<div class="row colpadding0 windassociate" style="overflow-x:hidden">
    <div class="col-md-12 colpadding0">
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div id="divgridNewMessage"></div>
            </div>
        </div>

        <div class="row colpadding0 master-Headre">
            <div class="col-md-12 vertical-center ">
                <div class="col-md-6 colpadding0">
                    <input id='filterassosiate' placeholder="Search by Name/CIN/Type" class='k-textbox' style="width:95%" autocomplete="off" onchange="filterChange(this)" />
                </div>

                <div class="col-md-2 colpadding0">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearfillterassosiate" style="display:none">
                        <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
                    </button>
                </div>

                <div class="col-md-3 colpadding0 text-right ">
                    <button class="btn btn-primary" href="/#" title="Add New" onclick="addAssociatecompanyrow()"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                </div>

                <div class="col-md-1 colpadding0 ">
                </div>
            </div>
        </div>
        
        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.SubCompanyType>()
    .Name("KendoGridEntitySubType")
    .Columns(columns =>
    {
        columns.Bound(o => o.SubcompanyId).Visible(false);
        columns.Bound(o => o.CIN).Title("CIN").Title("CIN/FCRN").Width("20%").HtmlAttributes(new {@onchange = "onchnageCin(this)",@class="textbox" });
        columns.Bound(o => o.SubCompanyName).Title("Name of the Company").Width("30%").HtmlAttributes(new { });
        columns.Bound(o => o.AssociateCompany).Title("Association Type").Width("25%")
        //.EditorTemplateName("_SubEntityType")
        .Sortable(false)
        .ClientTemplate("#=AssociateCompany.Name#")
        .HtmlAttributes(new { });
        columns.Bound(o => o.PersentageofShareholding)
        // .EditorTemplateName("_SubEntityType")
        //.ClientTemplate("<input type=\"decimal\" value=#= PersentageofShareholding # min=\"0\" max=\"100\"  style ='width:100 %'></input>")
        .Title("Shares Held(%)").Width("15%").HtmlAttributes(new { });
        columns.Command(command => command.Destroy()).Width("10%").HtmlAttributes(new { }).Title("Action");
    })
    //.ToolBar(toolbar =>
    //{
    //    toolbar.Create();
    //    //toolbar.Save();
    //})
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Sortable()

    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
       .Events(events => events.Error("error_handlerT")
                        .RequestEnd("Request_EndT"))
         //.Events(events => events.Error("error_handler"))
         //.Events(events => events.Error("error_handler"))
         //.Model(model => model.Id(p => p.SubcompanyId))
         //.Model(mode => mode.Field(p => p.CustomerId).DefaultValue(Model.CustomerId))
         // .Model(mode => mode.Field(p => p.ParentCIN).DefaultValue(Model.ParentCIN))
         //  .Model(mode => mode.Field(p => p.EntityID).DefaultValue(Model.EntityID))
         //  .Model(mode => mode.Field(p => p.AssociateCompany).DefaultValue(ViewData["AssosiateType"] as BM_ManegmentServices.VM.AssosiateType))
         .Model(model =>
         {
             model.Id(p => p.SubcompanyId);
             model.Field(p => p.CustomerId).DefaultValue(Model.CustomerId);
             model.Field(p => p.ParentCIN).DefaultValue(Model.ParentCIN);
             model.Field(p => p.EntityID).DefaultValue(Model.EntityID);
             model.Field(p => p.AssociateCompany).
             DefaultValue(ViewData["defaultAssosiateType"] as BM_ManegmentServices.VM.AssosiateType);
         })
          .PageSize(20)
        //.Read(read => read.Action("EditingCustom_Read", "EntityMaster",new {EntityID=Model.EntityID, CustomerID=Model.CustomerId }))
        .Read(read => read.Url("/api/EntityMasterAPI/SubEntityDetails?EntityID=" + Model.EntityID + "&CustomerID=" + Model.CustomerId).Type(HttpVerbs.Get))
        .Create(create => create.Action("CreateSubEntityDetails", "EntityMaster"))
        .Update(update => update.Action("CreateSubEntityDetails", "EntityMaster"))
        .Destroy(destroy => destroy.Action("DeleteSubEntityDetails", "EntityMaster"))
    ).HtmlAttributes(new { @style = "width:100%" })
       .Events(e => e.DataBound("onRowBoundassociatecompany"))
          .Scrollable(ev => ev.Enabled(true))
                )

            </div>
        </div>

        <div class="row col-md-12 colpadding0 text-center">
            <button type="submit" id="btnSaveCompanySubType" class="btn btn-primary">Save</button>
            <button type="button" id="btncloseCompanySubType" onclick="btnclosesubentity()" class="btn btn-primary">Close</button>
        </div>
    </div>
</div>

<script>
    function btnclosesubentity()
    {
        $("#wndCompanySubTpe").data("kendoWindow").close();
    }
</script>