﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaComplianceVM


<div id="divAddEditComplianceMapping">

    @using (Ajax.BeginForm("Save", "AgendaMasterCompliances", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAddEditComplianceMapping" }, new { id = "frmAddEditComplianceMapping" }))
    {
        <div style="width:720px; max-height:250px;overflow-y:auto;overflow-x:hidden">

          @Html.HiddenFor(m => m.Agenda_ComplianceId)
            @Html.HiddenFor(m => m.AgendaMasterId)

            @if (Model.Success)
            {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI">@Model.Message</lable>
                    </div>
                </div>
            </div>
            }
            else if (Model.Error)
            {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblerrormsgI">@Model.Message</lable>
                    </div>
                </div>
            </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <span style="color:red">*</span><lable class="control-label">Compliance</lable>
                    </div>
                    <div class="col-md-8 colpadding0">
                        @(Html.Kendo().DropDownListFor(model => model.ComplianceId)
                                    .DataValueField("ComplianceId")
                                    .DataTextField("Description")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/ComplianceMasterAPI/GetSecretarialCompliancesDropdown").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;" })
                        )
                    </div>
                </div>
            </div>

            
            <div class="row mt30">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <span style="color:red">*</span><lable class="control-label">Due</lable>
                    </div>
                    <div class="col-md-8 colpadding0">

                        @Html.Kendo().DropDownListFor(model => model.BeforeAfter).BindTo(new SelectList(new List<object> {
                        new {id="A",text="After"},
                        new {id="B",text="Before"}
                        }, "id", "text")).Value(Model.BeforeAfter.Trim()).HtmlAttributes(new { style = "width: 81px;" })

                        @Html.Kendo().TextBoxFor(model => model.Numbers).HtmlAttributes(new { style = "width: 60px;" , autocomplete = "off" })

                       @Html.Kendo().DropDownListFor(model => model.DaysOrHours).BindTo(new SelectList(new List<object> {
                        new {id="D",text="Day(s)"},
                        new {id="H",text="Hour(s)"},
                        new {id="M",text="Minute(s)"}
                        }, "id", "text")).Value(Model.DaysOrHours.Trim()).HtmlAttributes(new { style = "width: 88px;" })
                    </div>
                </div>
            </div>


            <div class="row mt30">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <lable class="control-label">Day(s)</lable>
                    </div>
                    <div class="col-md-8 colpadding0">

                        @Html.Kendo().DropDownListFor(model => model.DayType).BindTo(new SelectList(new List<object> {
                        new {id="W",text="Working Day(s)"},
                        new {id="C",text="Calendar Day(s)"}
                        }, "id", "text")).Value(Model.DayType.Trim()).HtmlAttributes(new { style = "width: 140px;" })
                    </div>
                </div>
            </div>

        </div>

        <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
            <button type="Submit" id="command_name" name="command_name" value="save" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
        </div>

        <script>
            $(document).ready(function () {
                var validator1 = $("#frmAddEditComplianceMapping").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
            });
        </script>
    }
</div>