﻿@using Kendo.Mvc.UI;
@*@model BM_ManegmentServices.VM.VMCompliences*@
@model long
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

<script>
    function filterChangeCompliance() {
        
        var gridListFilter = { filters: [] };
        var gridDataSource = $("#gridComplianceSelect").data("kendoGrid").dataSource;
        var selectedDropDownValue = $("#ddlActName").data("kendoMultiSelect").value();


        gridListFilter.logic = "or";   // a different logic 'or' can be selected
        if ($.trim(selectedDropDownValue).length > 0) {
            $.each(selectedDropDownValue, function (i, v) {
                gridListFilter.filters.push({ field: "ActID", operator: "eq", value: v });
            });
        }

        gridDataSource.filter(gridListFilter);

    }

</script>

<script type="text/javascript">

    function error_handlerA(e) {
        
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }

    }
    var arr = [];
    $(function () {
        $('#gridComplianceSelect').on('click', '.chkbx', function () {
            
            var checked = $(this).is(':checked');
            var grid = $('#gridComplianceSelect').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            dataItem.set('IsCheked', checked);
            if ($(this).is(":checked")) {
                arr.push(checked);
            }
            else {
                var removeItem =
              arr = jQuery.grep(arr, function (value) {
                  return value != checked;
              });
            }
        })
    })

    function checkAll(ele) {
        
        var state = $(ele).is(':checked');
        var grid = $('#gridComplianceSelect').data().kendoGrid;
        $.each(grid.dataSource.view(), function () {
            if (this['IsCheked'] != state)
                this.dirty = true;
            this['IsCheked'] = state;
            if ($(ele).is(':checked')) {
                arr.push(state);
            }
            else {
                var removeItem =
              arr = jQuery.grep(arr, function (value) {
                  return value != state;
              });
            }
        });
        grid.refresh();
    }


    $("#btnSaveAgendaItemSelected").click(function () {
        if (arr.length > 0) {
            var grid = $("#gridComplianceSelect").data("kendoGrid");
            grid.saveChanges();
        }
        else {
            alert("Please select Compliance");
        }
    })


    function getDataForAgendaItemSelect() {
        var result = {
            @*MeetingId: "@Model.MeetingId",
            Part: "@Model.Part",
            MeetingCircular: "@Model.MeetingCircular",
            showPendingAgenda: "@Model.showPendingAgenda"*@
        };
        return result;
    }

    function onRowBoundHistory(e) {

        //var grid = $("#gridComplianceSelect").data("kendoGrid");
        //var gridData = grid.dataSource.view();
        var grid = $("#gridComplianceSelect").data("kendoGrid");
        var gridData = grid.dataSource.view();

        //getGridborder(grid);

    }

    function Request_End(e) {

        if (e.type == "create" || e.type == "update") {
            kendo.ui.progress($("#gridAgendaComplianceMappingDetails"), true);
            var grid = $('#gridAgendaComplianceMappingDetails').data('kendoGrid');
           grid.dataSource.read();
            grid.refresh();
            $('.nav-tabs > .active').next('li').find('a').trigger('click');
        }
    }
</script>

<script>
    function getRatingTooltip(e) {
        var dataItem = $("#gridComplianceSelect").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = dataItem.ActName;
        return content;
    }

    function getRatingTooltipforshordes(e) {
        var dataItem = $("#gridComplianceSelect").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = dataItem.Description;
        return content;
    }
</script>

<script>
    function getAgendaId() {
        var AgendaId = "@Model";
        return {
            AgendaId: AgendaId
        };
    }
</script>
<!-- Filter Script-->
<script>

    function filterChange() {
        

        var gridListFilter = { logic: "and", filters: [] };
        var Actvalue = $("#ddlActName").data("kendoMultiSelect").value();
      
        var t = $('#filterCompliance');
        if (t.val() != "") {
            var valfilter = { logic: "or", filters: [] };
            valfilter.filters.push({ field: "ID", operator: "contains", value: t.val() });
            valfilter.filters.push({ field: "ActName", operator: "contains", value: t.val() });
            valfilter.filters.push({ field: "ShortDescription", operator: "contains", value: t.val() });
            valfilter.filters.push({ field: "Sections", operator: "contains", value: t.val() });
            gridListFilter.filters.push(valfilter);
        }
        if ($.trim(Actvalue).length > 0) {
            var Actfilter = { logic: "or", filters: [] };

            //gridListFilter.logic = "or";   // a different logic 'or' can be selected
            $.each(Actvalue, function (i, v) {
                Actfilter.filters.push({ field: "ActID", operator: "eq", value: v });
            });
            gridListFilter.filters.push(Actfilter);

        }
        if ((filter != null) || Actvalue!=null) {
            $("#clearfillter").show();
        }
        else {
            $("#clearfillter").hide();
        }

        var grid = $("#gridComplianceSelect").data("kendoGrid");
        grid.dataSource.filter(gridListFilter);

    };

    function clearfilter(e) {
        

        var txtStartPeriod = $("#filterCompliance").val();
        var Actvalue = $("#ddlActName").data("kendoMultiSelect").value();
        if ((txtStartPeriod != null && txtStartPeriod != undefined) || (Actvalue != null && Actvalue != undefined)) {
            $("#filterCompliance").val("");
            var Actvalue = $("#ddlActName").data("kendoMultiSelect");
            Actvalue.value([]);
        }
        $('#clearfillter').css('display', 'none');

        $("#gridComplianceSelect").data("kendoGrid").dataSource.filter({});
    }

</script>
<style>
    .Apply {
        width: 50%;
        height: 25px;
    }
</style>
<div class="row colpadding0" style="overflow:hidden">
    <div class="col-md-12 colpadding0">
        <div class="row master-Headre mt30">
            <div class="col-md-12">
                <div class="col-md-4 colpadding0 btnUpload">


                    @(Html.Kendo().MultiSelect()
                                .Name("ddlActName")
                                .ValuePrimitive(true)
                                .DataValueField("ID")
                                .DataTextField("Name")
                                .TagMode(TagMode.Single)
                                .Placeholder("Select Act")
                                //.OptionLabel("Act Name")
                                //.Events(e => e.Change("filterChangeCompliance"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/ComplianceAPI/GetActName").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width:99%;height:33px" }))

                </div>
                <div class="col-md-4 colpadding0 btnUpload">
                    <input id='filterCompliance' placeholder="Search by ComplianceID/Act/Compliance/Sections" class='k-textbox' style="width:98%;" autocomplete="off" />
                </div>
                <div class="col-md-1 colpadding0 btnUpload">

                    <button type="button" class="btn btn-primary button1 Apply" onclick="filterChange()">Apply</button>

                </div>
                <div class="col-md-2 colpadding0 btnUpload" id="clearfillter" style="display:none">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()">

                        <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
                    </button>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>

        @*<div style="min-height:400px; max-height:400px;overflow-y:auto;overflow-x:hidden">*@
        <div id="divgridComplianceSelectMessage">

        </div>

        <div class="row mt30 form-group">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMCompliences>()
            .Name("gridComplianceSelect")
            .Columns(columns =>
            {
                columns.Template(@<text></text>).Title("Select").ClientTemplate("<input type='checkbox' #= IsCheked ? checked='checked':'' # class='chkbx' />").HtmlAttributes(new { @style = "width:5%" }).HeaderHtmlAttributes(new { @style = "width:5%" });
                columns.Bound(o => o.ID).Title("Compliance ID").HtmlAttributes(new { @style = "width:10%" }).Filterable(false).Sortable(false).IncludeInMenu(false).HeaderHtmlAttributes(new { @style = "width:10%" });
                columns.Bound(o => o.ActName).Title("Act").ClientTemplate("<div  class=\"forTooltips\">#:getTheSubstring(data.ActName,80)#</div>").HtmlAttributes(new { @style = "width:30%" }).HeaderHtmlAttributes(new { @style = "width:29%" });
                columns.Bound(o => o.ShortDescription).Title("Compliance").ClientTemplate("<div  class=\"forTooltipssortdis\">#:getTheSubstringofsubcom(data.ShortDescription,80)#</div>").HtmlAttributes(new { @style = "width:35%" }).HeaderHtmlAttributes(new { @style = "width:35%" });
                columns.Bound(o => o.Sections).Title("Section").HtmlAttributes(new { @style = "width:20%" }).HeaderHtmlAttributes(new { @style = "width:21%" });
                columns.Bound(o => o.AgendaId).Visible(false);
                columns.Bound(o => o.Description).Visible(false);
            })
            .Events(e => e.DataBound("onRowBoundHistory"))
            .Scrollable(sc => sc.Enabled(true))
            .Reorderable(reorderable => reorderable.Columns(true))
              .Sortable()
    .Editable(editable => editable.Mode(GridEditMode.InLine))
            //.Pageable(p => p.Numeric(false).PreviousNext(false))
             .Pageable(pageable => pageable
           
            .PageSizes(true)
            .ButtonCount(5))
            
            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .DataSource(dataSource => dataSource
            //.ServerSorting(true)
            //.ServerPaging(true)
            .WebApi()
            .Batch(true)
            .ServerOperation(false)
            .Events(events => events.Error("error_handlerA")
                            .RequestEnd("Request_End"))
                .Model(model =>
                {
                    model.Id(o => o.ID);
                    model.Field(o => o.AgendaId).DefaultValue(Model);

                })
                .Read(read => read.Url("/api/ComplianceAPI/GetCompliance").Data("getAgendaId").Type(HttpVerbs.Get))
                .Create(create => create.Action("save_checkedAgendaComplianceApping", "AgendaMasterCompliances").Type(HttpVerbs.Post))
                .Update(update => update.Action("save_checkedAgendaComplianceApping", "AgendaMasterCompliances").Type(HttpVerbs.Post))

            ).HtmlAttributes(new { @style = "width:98%;height:300px;" })


                )

            </div>
        </div>
        @*</div>*@
@if (AuthenticationHelper.Role == "CSIMP")
{
        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0" style="text-align:right">

                <button type="button" id="btnSaveAgendaItemSelected" class="btn btn-primary button1" style="float:right;width:7%">Next</button>
            </div>
        </div>
}
        </div>
</div>
@(Html.Kendo().Tooltip()
      .For("#gridComplianceSelect")
      .Filter(".forTooltips")
      .ContentHandler("getRatingTooltip")
      .Position(TooltipPosition.Top)
      .AutoHide(true)
)

@(Html.Kendo().Tooltip()
      .For("#gridComplianceSelect")
      .Filter(".forTooltipssortdis")
      .ContentHandler("getRatingTooltipforshordes")
      .Position(TooltipPosition.Top)
      .AutoHide(true)
)

<script>
    $(".btnNext").kendoButton({
        click: function (e) {
            var grid = $("#gridComplianceSelect").data("kendoGrid");
            grid.saveChanges();
        }
    })

</script>
<!-- Filter script functions-->
<script>
    function isNumeric(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }

    function getBoolean(str) {
        if ("true".startsWith(str)) {
            return true;
        } else if ("false".startsWith(str)) {
            return false;
        } else {
            return null;
        }
    }


</script>

<script type="text/javascript">
    function getTheSubstring(value, length) {

        if (value.length > length)
            return kendo.toString(value.substring(0, length)) + "...";
        else return kendo.toString(value);
    }

    function getTheSubstringofsubcom(value, length) {
        if (value.length > length)
            return kendo.toString(value.substring(0, length)) + "...";
        else return kendo.toString(value);
    }
</script>


