﻿@using Kendo.Mvc.UI;
@model long
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;


<script>
    function saveComplianceMapping() {
        
        //var i = 0;
        //var arrr = [];
        //var checkgrid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid").dataSource.view();
        //for (i; i < checkgrid.length; i++) {
        //    if (checkgrid[0].BeforeAfterNames != null) {
        //        if (checkgrid[0].BeforeAfterNames.BeforeAfterName == "" || checkgrid[0].Numbers == null) {
        //            arrr.push(i);
        //        }
        //    }
        //}
        //if (arrr.length == 0) {
            var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
            grid.saveChanges();
        //}
        //else {
        //    var divgridNewMessage = $("#divgridNewMessage");
        //    divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Please Mapped all Compliances.</lable></div></div></div>";
        //}
    }

</script>

<script type="text/javascript">
    function error_handlerT(e) {
     
    }

    function Request_EndT(e) {
        
        if (e.type == "create" || e.type == "update") {
            //if (e.response.Errors == null) {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Save successfully.</lable></div></div></div>";
            //}

            var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
            grid.dataSource.read();
        }
        else if (e.type == "destroy") {
            
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Deleted successfully.</lable></div></div></div>";
           
        }
    }

    $("#btncloseTemplate").click(function(){
       
            $("#wndAddTemplate").data("kendoWindow").close();
      
    })

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

    function setDataItemIsAutoclose(item) {
        
        var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        var ID;

        if ($(item).val() == "true") {
            dataItem.Autoclose = false;
        }
        else if ($(item).val() == "false") {
            dataItem.Autoclose = true;
        }
        dataItem.dirty = true;
    };

</script>

<script>
    var noHint = $.noop;
    function placeholder(element) {
        return element.clone().addClass("k-state-hover").css("opacity", 0.2);
    }

    function onChanges(e) {
        
        var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid"),
      skip = grid.dataSource.skip(),

      oldIndex = e.oldIndex,
      newIndex = e.newIndex,
      data = grid.dataSource.data(),
      dataItem = grid.dataSource.getByUid(e.item.data("uid"));

        grid.dataSource.pushDestroy(dataItem);
        grid.dataSource.insert(newIndex, dataItem);

        //Set Dirty
        var gridData = grid.dataSource.view();
        for (var i = 0; i < gridData.length; i++) {
            gridData[i].dirty = true;
        }

    }

    function onChange(e) {
        
        if (e.action == "itemchange") {
            if (e.field == "DaysOrHoursNames") {
                var model = e.items[0];
                if (model.DaysOrHoursNames.DaysOrHours != "D") {
                    var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
                    var currentUid = model.uid;
                    var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    currenRow[0].cells[4].innerText = "";
                    model.set("DayTypeNames.DayType", "");
                }
            }

        }
    }

    function getCurrentEditedModel() {
        
        var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
        var editRow = grid.tbody.find("tr:has(.k-edit-cell)");
        return grid.dataItem(editRow);
    }

    function filterdayhouresminutes() {
        var model = getCurrentEditedModel();
        
        return {
            DayTypeNames: model.DaysOrHoursNames.DaysOrHours
        };
    }
    function getRatingTooltip(e) {
        var dataItem = $("#gridAgendaComplianceMappingDetails").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = dataItem.ComplianceShortDesc;
        return content;
    }
    function getTooltipContent(e) {
        return "Delete"
    }

    function db(e) {
        var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
        var gridData = grid.dataSource.view();
        GetICons();
        var data = grid.dataSource.data();
      
        
        var grid = this;
        $(".templateCell").each(function () {
            eval($(this).children("script").last().html());
            var tr = $(this).closest('tr');
            var item = grid.dataItem(tr);
            kendo.bind($(this), item);
        });


        $(".templateCells").each(function () {
            eval($(this).children("script").last().html());
            var tr = $(this).closest('tr');
            var item = grid.dataItem(tr);
            kendo.bind($(this), item);
        });

        $("#gridAgendaComplianceMappingDetails tr.k-alt").removeClass("k-alt");
    }

    function OnstartDateChange(item) {
        

        var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);

        if ($(item).val() != "") {
            dataItem.startDate = $(item).val();
        }

        dataItem.dirty = true;
    }

    function OnendDateChange(item) {
        

        var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);

        if ($(item).val() != "") {
            dataItem.endDate = $(item).val();
        }

        dataItem.dirty = true;
    }
    function getTheSubstringofsuortdisciption(value, length) {
        debugger;
        if (value != null && value != "") {
            if (value.length > length)
                return kendo.toString(value.substring(0, length)) + "...";
            else return kendo.toString(value);
        }
        else
        {
            return kendo.toString("");
        }
    }

    function setDataItemforIndustry(item) {
        
        var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        var ID;

        if ($(item).is(":checked") == true) {
            dataItem.IssubindustrySpecific = true;
        }
        else if ($(item).is(":checked") == false)
        {
            dataItem.IssubindustrySpecific = false;
        }
        dataItem.dirty = true;

       
                }
</script>

<style>
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        /*cursor: pointer;*/
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: elements;
        -ms-user-select: text;
        user-select: text;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    .k-window-title {
        color: dimgrey;
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 14px;
        width: 14px;
        background-color: white;
        border: solid 2px #1976d2;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #fff;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 4px;
        top: 0px;
        width: 6px;
        height: 13px;
        border: solid #1976d2;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>

<style>
    #gridAgendaComplianceMappingDetails.k-grid tbody tr {
        cursor: -webkit-grabbing;
    }
</style>

<div id="divgridNewMessage">

</div>

@(Html.Kendo().Tooltip()
      .For("#gridAgendaComplianceMappingDetails")
      .Filter(".forTooltipscomsortdis")
      .ContentHandler("getRatingTooltip")
      .Position(TooltipPosition.Bottom)
      .AutoHide(true))

@(Html.Kendo().Tooltip()
        .For("#gridAgendaComplianceMappingDetails")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Bottom)        
        .AutoHide(true)
        .ContentHandler("getTooltipContent"))

<div class="row col-md-12 colpadding0 mt30" style="overflow:hidden;height:490px!important;">
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaComplianceEditorVM>()
    .Name("gridAgendaComplianceMappingDetails")
    .Columns(columns =>
    {

        //columns.Bound(p => p.Regulatory).EditorTemplateName("_Regulatory").ClientTemplate("#:Regulatory.Name#").Title("Regulatory Authority").Width("8%").HtmlAttributes(new { @class = "editableFiled" });
        columns.Bound(p => p.ComplianceId).Title("ID").HtmlAttributes(new {  }).Width(100).Locked(true).Lockable(true);
        columns.Bound(p => p.ComplianceShortDesc).ClientTemplate("<div  class=\"forTooltipscomsortdis\">#:getTheSubstringofsuortdisciption(data.ComplianceShortDesc,40)#</div>").Title("Compliance").Width(250).HtmlAttributes(new { @style = "text-overflow:ellipsis", @class = "editableFiled" }).Locked(true);
        columns.Bound(c => c.IssubindustrySpecific).Width(100).HeaderTemplate("Industry specific ").ClientTemplate(" <label class='container'><input type='checkbox' id= 'chksubindustry#=data.uid#' onchange='setDataItemforIndustry(this);' 'value=#=IssubindustrySpecific#   #= IssubindustrySpecific==true ? 'checked=checked' : '' # ><span class='checkmark'></span></label>").HtmlAttributes(new { });
        columns.Bound(p => p.TriggerOn).EditorTemplateName("TriggerOn").ClientTemplate("#:TriggerOn.TriggerOnName#").Title("Trigger On").Width(150).HtmlAttributes(new { @class = "editableFiled" }).Lockable(false); ;
        columns.Bound(p => p.BeforeAfterNames).EditorTemplateName("_BeforeAfter").ClientTemplate("#:BeforeAfterNames.BeforeAfterName#").Title("B/A").Width(150).HtmlAttributes(new { @class = "editableFiled" });
        columns.Bound(p => p.Numbers).Title("No of D/H/M").HtmlAttributes(new { }).Width(150);
        columns.ForeignKey(e => e.DaysOrHoursNames, (System.Collections.IEnumerable)ViewData["listDayorHoureData"], "DaysOrHoursName", "DaysOrHours").ClientTemplate("#:DaysOrHoursNames.DaysOrHoursName#").Title("D/H/M").Width(150).HtmlAttributes(new {  @class = "editableFiled" });//.EditorTemplateName("MaterialCategoryID");
        columns.ForeignKey(e => e.DayTypeNames, (System.Collections.IEnumerable)ViewData["listDayType"], "DayTypeName", "DayType").ClientTemplate("#:DayTypeNames.DayTypeName#").Title("Day Type").Width(150).HtmlAttributes(new { @class = "editableFiled" });
        columns.Bound(c => c.startDate).Title("Start Date").Width(150).HtmlAttributes(new
        {
            @class = "templateCell",
        }).ClientTemplate(
         Html.Kendo().DatePicker()
          .Name("FDPicker_#=uid#")
          .Format("{0:dd/MM/yyyy}")
           .HtmlAttributes(new { @onchange = "OnstartDateChange(this)", data_bind = "value:startDate" })
           .ToClientTemplate().ToString()).Format("{0:dd/MM/yyyy}");
        columns.Bound(c => c.endDate).Title("End Date").Width(150).HtmlAttributes(new
        {
            @class = "templateCells",
        }).ClientTemplate(
         Html.Kendo().DatePicker()
          .Name("FDendDate_#=uid#")
          .Format("{0:dd/MM/yyyy}")
          .HtmlAttributes(new { @onchange = "OnendDateChange(this)", data_bind = "value:endDate" })
          .ToClientTemplate().ToString()).Format("{0:dd/MM/yyyy}");
        columns.Bound(p => p.Type).EditorTemplateName("Type").ClientTemplate("#:Type.TypeName#").Width(150).Title("Type").HtmlAttributes(new { @class = "editableFiled" }).Lockable(false); ;
        if (AuthenticationHelper.Role == "CSIMP")
        {
            columns.Command(command => command.Destroy()).Title("Action").Width(70).HtmlAttributes(new { });
        }
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    //.Navigatable()
    //.Resizable(e => e.Columns(true))
    .Events(ev => ev.DataBound("db"))
    //.Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        // .PageSize(30)
        .Batch(true)
        .ServerOperation(false)
        .Events(events => events.Error("error_handlerT")
        .RequestEnd("Request_EndT"))
        .Events(e => e.Change("onChange"))
        .Model(model =>
        {
            model.Id(p => p.Agenda_ComplianceId);
            model.Field(p => p.Agenda_ComplianceId).Editable(false);
            model.Field(p => p.ComplianceShortDesc).Editable(false);
            model.Field(p => p.ComplianceId).Editable(false);
            model.Field(p => p.Autoclose).Editable(false);
            model.Field(p => p.startDate).Editable(false);
            model.Field(p => p.endDate).Editable(false);
            model.Field(p => p.IssubindustrySpecific).Editable(false);
        })
        //.PageSize(1000)
        .Read(read => read.Action("AgendaMappingDetails", "AgendaMasterCompliances", new { AgendaMasterId = Model }))
        .Create(create => create.Action("ComplianceDetails_Create", "AgendaMasterCompliances"))
        .Update(update => update.Action("ComplianceDetails_Create", "AgendaMasterCompliances"))
        .Destroy(destroy => destroy.Action("DeleteComplianceAgendaMapping", "AgendaMasterCompliances"))

       ).HtmlAttributes(new { style = "width:100%" })
       .Scrollable(scrollable => scrollable.Height(340))
       .Reorderable(reorderable => reorderable.Columns(true))
       .Resizable(resizable => resizable.Columns(true))
       )

            @(Html.Kendo().Sortable()
                        .For("#gridAgendaComplianceMappingDetails")
                        .Filter("table > tbody > tr")
                        .Cursor("move")
                        .HintHandler("noHint")
                        .PlaceholderHandler("placeholder")
                        .ContainerSelector("#gridAgendaComplianceMappingDetails tbody")
                        .Events(events => events.Change("onChanges")))
        </div>
    </div>

    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            <p><b>Note-1.</b> Drag and Drop Compliance to make them in sequence. <b>2.</b> Make sure compliances are in proper sequence before save.</p>
            <p><b>B/A: </b>Before/After, <b>D/H/M: </b>Days/Hours/Minutes </p>
            <p></p>
        </div>
    </div>
@if (AuthenticationHelper.Role == "CSIMP")
        {
    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0" style="text-align:center">
            <button class="btn btn-primary btnPrevious" style="float:left">Previous</button>
            <button type="button" id="btnSaveCompliancemappingdetails" class="btn btn-primary" onclick="saveComplianceMapping()">Save</button>
            <button type="button" id="btncloseTemplate" class="btn btn-primary">Close</button>
        </div>
    </div>
}
    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0" style="text-align:left">

        </div>
    </div>
</div>


