﻿@using Kendo.Mvc.UI;
@model long


<script>
    $("#btnSaveCompliancemappingdetails").kendoButton({
        click: function (e) {
            
                var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
                grid.saveChanges();

        }
    })
</script>

<script type="text/javascript">
    function error_handlerT(e) {
        //if (e.errors) {
        //    var message = "Errors:\n";
        //    $.each(e.errors, function (key, value) {
        //        if ('errors' in value) {
        //            $.each(value.errors, function() {
        //                message += this + "<br>";
        //            });
        //        }
        //    });
        //    //alert(message);
        //    var divgridNewMessage = $("#divgridNewMessage");
        //    divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> " + message + "</div></div></div>";

        //}
        //else {
        //    //alert('Save Successfully.');
        //}
    }

    function Request_Endmapping(e) {
        debugger;
        if (e.type == "create" || e.type == "update") {
            if (e.response.Errors == null) {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Save successfully.</lable></div></div></div>";
            }

            var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
            grid.dataSource.read();
        }
        else if(e.type=="destroy")
        {
            if (e.response.Errors == null) {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Deleted successfully.</lable></div></div></div>";
            }
        }
    }



    $("#btncloseTemplate").kendoButton({
        click: function (e) {
            $("#wndAddTemplate").data("kendoWindow").close();
        }
    })

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

</script>

<script>
    var noHint = $.noop;
    function placeholder(element) {
        return element.clone().addClass("k-state-hover").css("opacity", 0.2);
    }


        function onChange(e) {
            
        if (e.action == "itemchange") {
            if (e.field == "DaysOrHoursNames") {
                var model = e.items[0];
                if (model.DaysOrHoursNames.DaysOrHours != "D") {
                    var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
                    var currentUid = model.uid;
                    var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    currenRow[0].cells[4].innerText = "";
                    model.set("DayTypeNames.DayType", "");
                  
                }
            }

        }
    }

    function getCurrentEditedModel() {
        
        var grid = $("#gridAgendaComplianceMappingDetails").data("kendoGrid");
        var editRow = grid.tbody.find("tr:has(.k-edit-cell)");
        return grid.dataItem(editRow);
    }

    function filterdayhouresminutes() {
        var model = getCurrentEditedModel();
        
        return {
            DayTypeNames: model.DaysOrHoursNames.DaysOrHours
        };
    }
    function getRatingTooltip(e)
    {
        var dataItem = $("#gridAgendaComplianceMappingDetails").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = dataItem.ComplianceShortDesc;
        return content;
    }
    function getTooltipContent(e) {
        return "Delete"
    }

    function db(e) {
        
        var grid = this;
        $(".templateCell").each(function () {
            eval($(this).children("script").last().html());
            var tr = $(this).closest('tr');
            var item = grid.dataItem(tr);
            kendo.bind($(this), item);
        });

      
        $(".templateCells").each(function () {
            eval($(this).children("script").last().html());
            var tr = $(this).closest('tr');
            var item = grid.dataItem(tr);
            kendo.bind($(this), item);
        });
    }

</script>

<style>
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        /*cursor: pointer;*/
        font-size: 18px;
        -webkit-user-select: none;
        -moz-user-select: elements;
        -ms-user-select: text;
        user-select: text;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    .k-window-title {
        color: dimgrey;
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 14px;
        width: 14px;
        background-color: white;
        border: solid 2px #1976d2;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #fff;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
       left: 4px;
    top: 0px;
    width: 6px;
    height: 13px;
    border: solid #1976d2;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    }
</style>

<style>
    #gridAgendaComplianceMappingDetails.k-grid tbody tr {
        cursor: -webkit-grabbing;
    }
</style>

<div id="divgridNewMessage">

</div>

@(Html.Kendo().Tooltip()
      .For("#gridAgendaComplianceMappingDetails")
      .Filter(".forTooltips")
      .ContentHandler("getRatingTooltip")
      .Position(TooltipPosition.Top)
      .AutoHide(true)
)
@(Html.Kendo().Tooltip()
        .For("#gridAgendaComplianceMappingDetails")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent")
)
<div>
    @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaComplianceEditorVM>()
    .Name("gridAgendaComplianceMappingDetails")
    .Columns(columns =>
    {
        columns.Bound(p => p.ComplianceId).Title("Compliance ID").HtmlAttributes(new {@style="width:5%" });
        columns.Bound(p => p.ComplianceShortDesc).ClientTemplate("<div class=\"forTooltips\">#=ComplianceShortDesc#</div>").Title("Compliance").HtmlAttributes(new { @style = "width:60%" }).Sortable(false);
        columns.Command(command => command.Destroy()).Title("Action").HtmlAttributes(new { @style = "width:5%" });
    })

    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Events(ev => ev.DataBound("db"))
    .Pageable(pageable => pageable
       .Refresh(true)
       .PageSizes(false)
       .ButtonCount(5))

    .Sortable()

    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .Events(events => events.Error("error_handlerT")
        .RequestEnd("Request_Endmapping"))
        .Events(e => e.Change("onChange"))
        .Model(model =>
        {
            model.Id(p => p.Agenda_ComplianceId);
            model.Field(p => p.Agenda_ComplianceId).Editable(false);
            model.Field(p => p.ComplianceShortDesc).Editable(false);
            model.Field(p => p.Autoclose).Editable(false);
            model.Field(p => p.startDate).Editable(false);
            model.Field(p => p.endDate).Editable(false);
        })
        .PageSize(10)
        .Read(read => read.Action("AgendaMappingDetails", "AgendaMasterCompliances", new { AgendaMasterId = Model }))
        .Create(create => create.Action("ComplianceDetails_Create", "AgendaMasterCompliances"))
        .Update(update => update.Action("ComplianceDetails_Create", "AgendaMasterCompliances"))
        .Destroy(destroy => destroy.Action("DeleteComplianceAgendaMapping", "AgendaMasterCompliances"))

       ).HtmlAttributes(new { style = "width:100%" }))
</div>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <p><b>Note: </b>1. Drag and Drop Compliance to make them in sequence 2. Make sure compliances are in proper sequence before save</p>
       
    </div>
</div>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
            <button type="button" id="btnSaveCompliancemappingdetails" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
            <button type="button" id="btncloseTemplate" class="k-button">Close</button>
        </div>
    </div>
</div>



