﻿@using Kendo.Mvc.UI;
@model long
<!-- Script for Kendo Grid-->
<script type="text/javascript">

    //function onRowBound(e) {
    //    $(".k-grid-edit").find("span").addClass("k-icon k-edit");
    //    $(".k-grid-delete").find("span").addClass("k-icon k-delete");
    //    $(".k-grid-add").find("span").addClass("k-icon k-add k-i-plus-outline");
    //}

    function error_handlerT(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }

</script>

<!-- Script for Show PopUp window-->
<script>
    $(document).ready(function () {
        $("#customCommandCompliance").click(function (e) {
            e.preventDefault();
            CreateMapping();
        });
    });

    function CreateMapping(e) {
        $("#wndComplianceMapping").kendoWindow({
            title: "Compliance Mapping",
            modal: true
        });

        var direction = "@Url.Action("Create", "AgendaMasterCompliances", new { id = Model})";
        showComplianceMappingPopup(direction);
    }

    function EditMapping(e) {
        e.preventDefault();
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("GetMapping", "AgendaMasterCompliances")" + "?agendaMasterId=@Model&id=" + dataItem.Agenda_ComplianceId;

        showComplianceMappingPopup(direction);
    }

    function showComplianceMappingPopup(direction) {
        $("#wndComplianceMapping").attr("style", "min-height:100px;");

        var wnd = $("#wndComplianceMapping").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndComplianceMapping").kendoWindow({
            pinned: true,
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                OnOpenComplianceMapping();

            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                $('#gridNewAgendaCompliance').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");

        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function OnOpenComplianceMapping(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
        $(".k-overlay").attr('style', "top:9px;");
    }

    function OnRefreshComplianceMapping() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }


    function GetDueString(dataItem) {
        
        var result = "";
        if ($.trim(dataItem.BeforeAfter) == "A") {
            result += "After";
        } else {
            result += "Before";
        }

        result += " " + dataItem.Numbers + " ";
        if ($.trim(dataItem.DaysOrHours) == "D") {
            if (dataItem.Numbers > 1) {
                result += "Days.";
            } else {
                result += "Day.";
            }

        } else {
            if (dataItem.Numbers > 1) {
                result += "Hours.";
            } else {
                result += "Hour.";
            }

        }

        return result;
    }

</script>

<div>
    @(Html.Kendo().Tooltip()
        .For("#gridNewAgendaCompliance")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Add - Template Field")
        .Width(100)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridNewAgendaCompliance")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Delete")
        .Width(100)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridNewAgendaCompliance")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(200)
        .AutoHide(true) )

    @(Html.Kendo().Tooltip()
        .For("#gridNewAgendaCompliance")
        .Filter("td:nth-child(2)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true) )

    @(Html.Kendo().Tooltip()
        .For("#gridNewAgendaCompliance")
        .Filter("td:nth-child(3)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true) )
</div>

<div>
  

    @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaComplianceVM>()
    .Name("gridNewAgendaCompliance")
    .Columns(columns =>
    {
        columns.Bound(p => p.ComplianceShortDesc).HeaderTemplate("Compliance").ClientTemplate("#=ComplianceShortDesc#").HtmlAttributes(new { title = "#= ComplianceShortDesc #" ,@style="width:70%"}).Sortable(false);
        columns.Bound(p => p.BeforeAfter).HeaderTemplate("Due").ClientTemplate("#= GetDueString(data) #").HtmlAttributes(new { title = "#= ComplianceShortDesc #" ,@style="width:20%"}).Sortable(false);
        columns.Command(command =>
        {
            command.Custom("Edit").Click("EditMapping").HtmlAttributes(new { @class = "k-grid-edit",@style="width:10%" });
        });
    })
    .EnableCustomBinding(true)
    .ToolBar(
    toolbar => toolbar.Custom().Text("New").HtmlAttributes(new { id = "customCommandCompliance", @class = "k-grid-add", title = "Create New" })
    )
    .Events(e => e.DataBound("onRowBound"))
    .Navigatable()
    .Pageable(pageable => pageable
    .Refresh(true)
    .PageSizes(true)
    .ButtonCount(5))
    .Filterable()
    .Sortable()
    .HtmlAttributes(new { style = "height:510px;" })
    .Reorderable(reorderable => reorderable.Columns(true))
    .Resizable(resizable => resizable.Columns(true))
    .ColumnMenu()
    .DataSource(dataSource => dataSource
    .WebApi()
    .PageSize(5)
    .ServerOperation(false)
    .Model(model =>
    {
        model.Id(p => p.Agenda_ComplianceId);
        model.Field(p => p.AgendaMasterId).Editable(false).DefaultValue(Model);
    })
    //.Events(events => events.RequestEnd("req_EndAgenda"))
    .Read(read => read.Action("EditingCustom_Read", "AgendaMasterCompliances", new { AgendaMasterId = Model }))
    //.Read(read => read.Url("/api/AgendaMasterAPI/GetAllAgenda").Type(HttpVerbs.Get))
    //.Create(create => create.Url("/api/AgendaMasterAPI/CreateAgenda").Type(HttpVerbs.Post))
    //.Update(update => update.Url("/api/AgendaMasterAPI/UpdateAgenda").Type(HttpVerbs.Put))
    //.Destroy(destroy => destroy.Url("/api/AgendaMasterAPI/DeleteAgenda").Type(HttpVerbs.Delete))
    .Events(events => events.Error("error_handlerT"))
    ).HtmlAttributes(new { @style="width:100%"}))
</div>