﻿body {
}
.m0 {
    margin-top: 0;
    margin-bottom: 0;
}

.m10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.m40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.m50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.m60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.m70 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.m80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.m90 {
    margin-top: 90px;
    margin-bottom: 90px;
}

.m100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.mt0 {
    margin-top: 0;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mb0 {
    margin-bottom: 0;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mlr0 {
    margin-right: 0;
    margin-left: 0;
}

.mlr5 {
    margin-right: 5px;
    margin-left: 5px;
}

.mlr10 {
    margin-right: 10px;
    margin-left: 10px;
}

.mlr15 {
    margin-right: 15px;
    margin-left: 15px;
}

.mlr20 {
    margin-right: 20px;
    margin-left: 20px;
}

.mlr25 {
    margin-right: 25px;
    margin-left: 25px;
}

.mlr30 {
    margin-right: 30px;
    margin-left: 30px;
}

.mlr35 {
    margin-right: 35px;
    margin-left: 35px;
}

.mlr40 {
    margin-right: 40px;
    margin-left: 40px;
}

.mlr45 {
    margin-right: 45px;
    margin-left: 45px;
}

.mlr50 {
    margin-right: 50px;
    margin-left: 50px;
}

.ml0 {
    margin-left: 0;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.mr0 {
    margin-right: 0;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

