/*
 ***********************************
 * Jquery Windows 8 Style          *
 * Author: Pedro Laxe              *
 * http://www.phpsec.com.br        *
 * GNU General Public License (GPL)*
 ***********************************
*/
.metro-roxo { background:#5234AC;}
.metro-verde {background:#008B17;}
.metro-azul { background:#2573EB;}
.metro-vermelho {background:#B21A41;}
.metro-laranja { background:#D64D29;}
.metro-info {background:#686868;}

.metro {
	position:relative;
    height:128px;
    margin-right:10px;
    margin-top:10px;
    cursor:pointer;
    float:left;
    font-family: 'Roboto', sans-serif;
}

.metro:hover {
filter: alpha(opacity=80);
opacity: 0.8;
}

.metro-panel {
    clear:both;
    width:auto;
	height:138px;
	margin:0px auto;
}

.metro .imgsimple {
    height:64px;
    width:64px;
    padding:22px 0 13px 75px;
    border:0px;
    text-align:center;
    float:left;
    position:relative;
}

.metro .imgdouble {
    float:left;
    width:100%;
    padding:15px 0px 5px;
    text-align:center;
}

.metro .imglabeled {
    float:left;
    padding:30px 0px 0px 10px;
    text-align:left;
}

.metro span {
    position:relative;
    height:20px;
    text-decoration:none;
    color:rgba(255, 255, 255, 1.0);
    float:left;
    text-align:center;
    clear:both;
    width:100%;
    bottom:0px;
}

.metro .metrolabel {
    text-decoration:none;
    color:rgba(255, 255, 255, 1.0);
    float:left;
    text-align:center;
    font-size:28px;
    margin:40px 0 0 20px;
}

.metro span:hover {
}

.metrosingle {
    width:235px;
}

.metrodouble {
    width:480px;
}

.metro-destaque-rodape {
	/*position:absolute;*/
	bottom:0px;
	left:0px;
	width:100%;
	height:26px;
	padding-top:4px;
}
