﻿.clsRiskCategory
 {
    display: inline-block;
    position:relative;
    width:160px;
    height: 34px;
    padding: 1px 11px;
    font-size: 14px;
    line-height: 1.428571429;
    vertical-align: middle;
    background-color: #ffffff;
    border-radius: 4px;
    display: block;    
}