﻿body {
}
.rulebuttond
{
     width: 100%;
     height: 30px;
    left: 1399px;
    top: 122px;
    background: #0090D6;
    border-radius: 5px;
}
.btndownload
{
left: 1399px;
    top: 122px;
    background: #0090D6;
    border-radius: 5px;
}
.rulebutton
{
     width: 100%;
     height: 23px;
    left: 1399px;
    top: 122px;
    background: #0090D6;
    border-radius: 5px;
}
.templetbutton{
    width: 7%;
        height:37px;
        left: 1399px;
    top: 122px;
    background: #0090D6;
    border-radius: 5px;
    }
    .editorbutton{
        width: 90%;
    height: 23px;
    left: 1399px;
    top: 122px;
    background: #0090D6;
    border-radius: 5px;
    }

    .formeditorbutton{
        width: 68%;
    height: 23px;
    left: 1399px;
    top: 122px;
    background: #0090D6;
    border-radius: 5px;
    }
 .mt-9 {
        margin-top: 9px;
    }

    .subcompany {
        float: right;
        width: 96%;
        background: #0090D6;
        border-radius: 5px;
        height: 31px;
        margin-right: 23%;
    }
    

.uploadbtn
{
    width:90%;
}
 .ClearFilterbtn {
        color: #2e2e2e;
        /* background-color: #9e9e9e; */
        border-color: #9e9e9e;
        font-size: 14px;
        font-style: normal;
    }

  .btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover, .open .dropdown-toggle.btn-default {
    color: #666;
  
    border-color: #9e9e9e;
  
}
a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

.lowerbutton {
    width: 8%;
    height: 38px;
    left: 1399px;
    top: 122px;
    background: #0090D6;
    border-radius: 5px;
}

.imgright {
    text-align: right;
    margin-right: 1%;
}

.tab .nav-tabs {
    border-bottom: 0px solid #e8e8e8;
}

.tab .nav-tabs li a {
    display: block;
    padding: 10px 20px;
    margin: 0 5px 1px 0;
    /*background: #fff;*/
    background: transparent;
    border: none;
    border-radius: 0;
    z-index: 2;
    position: relative;
    transition: all 0.3s ease 0s;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;   
    text-align: justify;
    color: #767676;
}

.tab .nav-tabs li.active a:after,  .tab .nav-tabs li a:hover::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;    
    background: #066999;
    border-radius: 4px;
}

.tab .nav-tabs li a:hover{
    color: #066999;
}

.tab .nav-tabs li.active a {
    border: none;
    text-align: justify;
    color: #066999;
    background: transparent;
}

.tab .tab-content h3 {
    font-size: 24px;
    margin-top: 0;
}

@@media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
    }

        .tab .nav-tabs li.active a:before {
            content: "\f105";
            bottom: 15%;
            left: 0;
            right: auto;
        }
}

html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.field-validation-error {
    color: #ff0000;
}

.k-current-page {
    display: none;
}

html .k-upload-empty {
    border-width: 1px;
}

.k-edit-form-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}


.add-button {    
    background: #0090D6;
    border-radius: 5px;
    height: 35px;
}

.add-button2 {
    float: right;
    width: 83%;
    height: 35px;
    left: 1399px;
    top: 122px;
    background: #0090D6;
    border-radius: 5px;
}

.button1 {
    width: 7%;
    height: 28px;
    left: 1399px;
    top: 122px;
    background: #0090D6;
    border-radius: 5px;
}
/*.k-add
        {
            background-image:url("'../../../../Images/Add_new_icon.png'")
        }*/
/*.k-edit-buttons {
           height: 43px;
            text-align: center;
        }*/

label {
    color: black;
}

.ml-mr {
    margin-left: 2%;
}





.content-box {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.master-Headrepopup1 {
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100%;
}

.k-window div.k-window-content {
    /*// overflow: hidden;*/
    /*overflow-y: scroll*/
}


.amp-mb5 {
    margin-bottom: 5px;
}

.amp-h25 {
    height: 25px;
}

.amp-h26 {
    height: 26px;
}

.amp-h27 {
    height: 27px;
}

.amp-h28 {
    height: 28px;
}

.amp-h29 {
    height: 29px;
}

.amp-h30 {
    height: 30px;
}

.amp-mt7 {
    margin-top: 7px;
}

.amp-mt8 {
    margin-top: 8px;
}

.amp-mt9 {
    margin-top: 9px;
}

.amp-mt10 {
}

.mt8 {
    margin-top: 7%;
}

#filter {
    border: 1px solid #DDDDDD;
    box-sizing: border-box; 
    width: 100%;
}

.AddNewspan1 {
    padding: 0px 0px 0px 0px;
    /* border: 2px solid #f4f0f0; */
    border-radius: 51px;
    display: inline-block;
    height: 26px;
    width: 26px;
}

.refreshBtnContainer {
    top: 12px;
}

.btnUpload {
    top: 12px;
}

.Dashboard-white-widget {
    background: #F8F9FA;
    padding: 13px 10px 10px;
    margin-bottom: 20px;
    border-radius: 0px;
}

#panelbar {
    max-width: 400px;
    margin: 0 auto;
}

.teamMate:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.teamMate h2 {
    font-size: 1.4em;
    font-weight: normal;
    padding-top: 20px;
}

.teamMate p {
    margin: 0;
}

.teamMate img {
    float: left;
    margin: 5px 15px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
}



.bivspacing {
    display: block;
    margin-left: 1%;
    margin-right: 1%;
}

.add-button1 {
    float: right;
    width: 93%;
    height: 27px;
    left: 1399px;
    top: 122px;
    background: #0090D6;
    border-radius: 5px;
    margin-right: 14%;
    margin-bottom: 6%;
}






.master-Headrepopup {
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 98%;
    margin-top: 1%;
}





.pencilicon {
    transform: skewY(-43deg);
    transform: rotate(132deg);
    top: 0%;
    right: 5%;
}

.customer-photo {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-size: 32px 35px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
    margin-left: 5px;
}

.customer-photo1 {
    display: inline-block;
    width: 38px;
    height: 37px;
    border-radius: 50%;
    background-size: 32px 35px;
    background-position: center center;
    vertical-align: middle;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
    margin-left: 5px;
    line-height: 221%;
}

.customer-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 15px;
}

