﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Template_MasterVM

@{
    ViewBag.Title = "Masters/Mail Template";
    
}
<link href="~/Content/Css/DirectorCSS.css" rel="stylesheet" />
<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div id="divTempletMasterEmailFormate">
            @Html.Partial("_AddEditTemplateMaster", Model)
        </div>
    </div>
</div>

@(Html.Kendo().Window().Name("wndAvailabilityMailPreview").Title("Preview").Visible(false).Modal(true).Draggable(true).Scrollable(true)
    .Content(@<text>
            @(Html.Kendo().Editor().Name("AvailabilityMailPreview")
                                       .HtmlAttributes(new { style = "height:570px" })
                                       .Encode(false)
                                       .Tools(t => t.Clear())
            )
    </text>)
)


<script>

    $(document).ready(function () {
        $("#templateToolNotice").kendoDropDownList();
    });

    $(document).on("change", "input[name='IsShorter']", function () {
        
        if (this.value == "true" || this.value == "True") {
            var data = [
                        { id: "A", text: "Agenda" },
                        { id: "N", text: "Notice" },
                        { id: "AN", text: "Agenda+Notice" },
                        { id: "DM", text: "Draft Minutes" },
            ];
            $("#TemplateType").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "id",
                dataSource: data,
                optionLabel: "Template",
                index: 0
            });
        }
        else {
            var data = [
                        { id: "SA", text: "Availability" },
                        { id: "A", text: "Agenda" },
                        { id: "N", text: "Notice" },
                        { id: "AN", text: "Agenda+Notice" },
                        { id: "C", text: "Circular" },
                        { id: "DM", text: "Draft Minutes" },

            ];
             $("#TemplateType").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "id",
                dataSource: data,
                optionLabel : "Template",
                index: 0
            });
        }

        getTemplateDetails();
    });

    function insertEditorTemplateFieldNotice() {
        
        var ddltemplateToolParent = $("#templateToolNotice").data("kendoDropDownList");
        var val = ddltemplateToolParent.value();
        if (val != "") {
            //$("#MailTemplate").data("kendoEditor").body.innerHTML += val;
            $("#MailTemplate").data("kendoEditor").exec("inserthtml", { value: val + " " });
        }
    }

    function OpenNoticeMailPreview(response) {

        $($('#AvailabilityMailPreview').data().kendoEditor.body).attr('contenteditable', false);
        $("#AvailabilityMailPreview").data("kendoEditor").body.innerHTML = response.NoticeMail;

        var wnd = $("#wndAvailabilityMailPreview").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAvailabilityMailPreview").kendoWindow({
            actions: ["Close"],
            width: "65%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { },
            close: function (e) {
            }
        }).data("kendoWindow");

        opts.width = "65%";
        wnd.setOptions(opts);
        wnd.center()
        wnd.open();

    }

    $("#btnNoticeMailPreview").click(function () {
        
        var Template_MasterVM = new Object();
        Template_MasterVM.MeetingTypeId = "@Model.MailTemplate";
        Template_MasterVM.NoticeMail = $("#MailTemplate").data("kendoEditor").body.innerHTML;
        Template_MasterVM.Type = "@Model.TemplateType";
        
        if (Template_MasterVM.MeetingTypeId > 0 && Template_MasterVM.Type != "") {
            $.ajax({
                type: "POST",
                url: "@Url.Action("PreviewNoticeMail", "TemplateMaster")",
                data: JSON.stringify(Template_MasterVM),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    
                    if (response != null) {
                        OpenNoticeMailPreview(response);
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    });


    $(document).on("change", '#TemplateType', function () {
        showHideQuarter();
        getTemplateDetails();
    });

    $(document).on("change", '#MeetingTypeId', function () {
        showHideQuarter();
        getTemplateDetails();
    });
    $(document).on("change", '#Quarter_', function () {
        getTemplateDetails();
    });

    function showHideQuarter() {
        var ddlTemplateType = $("#TemplateType").data("kendoDropDownList");

        var ddlMeetingTypeId = $("#MeetingTypeId").data("kendoDropDownList");
        var ddlQuarter_ = $("#Quarter_").data("kendoDropDownList");

        if ((ddlMeetingTypeId.value() == 10 || ddlMeetingTypeId.value() == 1 || ddlMeetingTypeId.value() == 6) && (ddlTemplateType.value() == "A" || ddlTemplateType.value() == "AN" || ddlTemplateType.value() == "N")) {
            $("#divQuarter").removeClass("hidden");
        }
        else {
            $("#divQuarter").addClass("hidden");
        }
    }

    function getTemplateDetails() {
        

        var ddlMeetingTypeId = $("#MeetingTypeId").data("kendoDropDownList");
        var ddlTemplateType = $("#TemplateType").data("kendoDropDownList");
        var ddlQuarter = $("#Quarter_").data("kendoDropDownList");

        var TemplateNoticeMailVM = new Object();
        TemplateNoticeMailVM.NoticeMail = "@Model.MeetingTypeId";
        TemplateNoticeMailVM.TemplateType = ddlTemplateType.value();
        TemplateNoticeMailVM.MeetingTypeId = ddlMeetingTypeId.value();
        TemplateNoticeMailVM.Quarter_ = ddlQuarter.value();
        TemplateNoticeMailVM.IsShorter = $("input[name='IsShorter']:checked").val();

        if (TemplateNoticeMailVM.MeetingTypeId > 0 && TemplateNoticeMailVM.TemplateType != "") {

            kendo.ui.progress($(".chart-loading"), true);

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetTemplatemaster", "TemplateMaster")",
                data: JSON.stringify(TemplateNoticeMailVM),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
                if (response != null) {
                    if (response.MailTemplate == null) {
                        $("#MailTemplate").data("kendoEditor").body.innerHTML = "";
                    } else {
                        $("#MailTemplate").data("kendoEditor").body.innerHTML = response.MailTemplate;
                    }
                } else {
                    alert("Something went wrong");
                }

                kendo.ui.progress($(".chart-loading"), false);
            },
            failure: function (response) {
                alert(response.responseText);
                kendo.ui.progress($(".chart-loading"), false);
            },
            error: function (response) {
                alert(response.responseText);
                kendo.ui.progress($(".chart-loading"), false);
            }
            });

        }
        
    }

</script>

<script>
    function onPasteRemoveTag(e) {
        e.html = e.html.replace(/<\/?img[^>]*>/g, "");
    }
</script>