<head><title>

</title>
<script src="/cdn-cgi/apps/head/wJ-d6Wf0vtDL3SAEw42RUStKs6k.js"></script><script src="/cdn-cgi/apps/body/9ez4O41ihtsBKiMc6IPNmeloV48.js"></script><style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 600px;
                  /*margin:125px;*/
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color:#F5F2F4;
      height: 1000px;

      
    }
     .MainContainer {
     
      
      border:groove;
      border-color:#f1f3f4;
      
    }
       .img1{
        border:ridge;
        border-color:lightgrey;
    }
   
   
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        *height: auto;
        *padding: 15px;
      
      }
      .row.content {height: auto;} 
    }
  </style>
<style>
       
 .container {
  /*padding: 16px;*/
  background-color: white;
  margin:10px;
  /*margin-right:50px;
  margin-top:50px;*/
  height:1000px;
  width:1000px;

  
}
 body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#1fd9e1;
}

* {
  box-sizing: border-box;
}

    </style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<style>

    .panel-group .panel {
        border-radius: 5px;
        border-color: #EEEEEE;
        padding:0;
    }

    .panel-default > .panel-heading {
        color:black;
        background-color: white;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .short-full {
        float: right;
        color: black;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border: solid 1px #EEEEEE;
        /*background-color: #B7FFB7;*/
        
    }

</style>
<script src="https://analytics.avantis.co.in/piwik.js"></script></head>
<body>
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container">
<div class="row content">
<div class="col-sm-3 sidenav">
<ul class="nav nav-pills nav-stacked">
    <li style="font-size:18px"><a href="contract_help.html" style="color:#333"><b>Standard Dashboard</b></a>
    </li><li style="font-size:14px"><a href="contract_dashboard.html" style="color:#333"><i class="fas fa-desktop"></i>&nbsp;&nbsp;&nbsp;<b>My Dashboard</b></a>
    <ul style="line-height:25px;font-size:13px">
    <li><a href="contract_draft.html" style="color:#333">Draft</a></li>
    <li><a href="contract_pending_review.html" style="color:#333">Pending Review</a></li>
    <li><a href="contract_reviewd.html" style="color:#333">Reviewd</a></li>
    <li> <a href="contract_pending_approval.html" style="color:#333">Pending Approval</a></li>
    <li> <a href="contract_approved.html" style="color:#333">Approved</a></li>
    <li> <a href="contract_active.html" style="color:#333">Active</a></li>
    <li> <a href="contract_expired.html" style="color:#333">Expired</a></li>
    <li> <a href="contract_graphs.html" style="color:#333">Graphs And Charts</a></li>
    <li> <a href="contract_tasksummary.html" style="color:#333">Task Summary</a></li>

    </ul>
    </li>
    <li style="font-size:14px"><a href="contract_workspace.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Workspace</b></a></li>
    <li style="font-size:14px"><a href="contract_documents.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Documents</b></a></li>
    <li style="font-size:14px"><a href="contract_reports.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Reports</b></a></li>
    <li style="font-size:14px"><a href="contract_masters.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Masters</b> </a></li>
    <li style="font-size:14px"><a href="contract_upload_utility.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Upload Utility</b> </a></li>
    
</ul>
<br>
</div>
<div class="col-sm-9 MainContainer">
<br>
<h3><b>Draft :</b></h3><br>
<img class="img1" style="width: 650px; margin-left: 20px;  height: 100px" src="../Contract/Contract_images/My Dashboard_Draft_1.png"><br>
<br>
<p style="font-size:16px;text-align:justify;">Drafts provides with the complete consolidated list of all the documents that have been created relating to various contracts which can be viewed in below screen as:</p>
<br>
<img class="img1" style="width: 650px; margin-left: 20px;  height: 300px" src="../Contract/Contract_images/My Dashboard_Draft_2.png"><br>
<br><br>
<p style="font-size:16px;text-align:justify;">Using combination of various filters present you can obtain a customized list of drafts. Action that can be taken under draft section are as:</p>
<p style="font-size:16px;text-align:justify;"><b>1. New :</b>By clicking on the ‘New’ button present, you can create new draft by inserting all the details required as shown in the below screen. Fill in the mandatory details marked with red asterisk (*) sign for addition. </p>
<img class="img1" style="width: 580px; margin-left: 20px;  height: 300px" src="../Contract/Contract_images/My Dashboard_Draft_3.png"><br><br><br>

<p style="font-size:16px;text-align:justify;"><b>2. Edit :</b>By clicking on the edit button present before each draft under action column you can update the draft details in a similar kind widow as while creating a new one. Also, by clicking on the ‘+’ icon present beside different fields as present in the above screen, new popup window can be obtained as shown below to fill details either regarding Vendor, Department or Contact person for the department.  </p>
<img class="img1" style="width: 580px; margin-left: 20px;  height: 300px" src="../Contract/Contract_images/My Dashboard_Draft_4.png"><br><br><br>

<p style="font-size:16px;text-align:justify;"><b>3. Delete :</b>By clicking on the delete button present beside edit option, you can delete any specific draft from the list. </p>
<br><h4 style="background-color:#F5F2F4;padding-left:10px"><b>Tasks :</b></h4>

<p style="font-size:16px;text-align:justify;">Under Task section you can view all the task that have been created relating to any specific contract and can also perform certain actions over each task created as shown in below window. </p>
<img class="img1" style="width: 580px; margin-left: 20px;  height: 300px" src="../Contract/Contract_images/My Dashboard_Draft_Task_5.png"><br><br><br>

<p style="font-size:16px;text-align:justify;">The tasks list can be sort out based on either priority of task or status of it. Action can be taken over each task by clicking on the button present Infront of each task under action column to obtain a popup window like below </p>
<img class="img1" style="width: 580px; margin-left: 20px;  height: 300px" src="../Contract/Contract_images/My Dashboard_Draft_Task_6.png"><br><br><br>

<p style="font-size:16px;text-align:justify;">In the above window, you can change the status of already created task as well as provide comments for the same. Also, you can upload any relevant documents for that task. </p>
<p style="font-size:16px;text-align:justify;">You can view complete details of that task by clicking on the drop-down arrow in line with <b>‘Task Detail(s)’</b> section and can track all the activities taken behind that task along with contract details for which it got created. </p>
<br><br>


</div>

</div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>

    function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".short-full")
            .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>


</body>