<head><title>

</title>
<script src="/cdn-cgi/apps/head/wJ-d6Wf0vtDL3SAEw42RUStKs6k.js"></script><script src="/cdn-cgi/apps/body/9ez4O41ihtsBKiMc6IPNmeloV48.js"></script><style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 600px;
                  /*margin:125px;*/
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color:#F5F2F4;
      height: 1000px;

      
    }
     .MainContainer {
     
     
      border:groove;
      border-color:#f1f3f4;
      
    }
       .img1{
        border:ridge;
        border-color:lightgrey;
    }
   
   
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        *height: auto;
        *padding: 15px;
      
      }
      .row.content {height: auto;} 
    }
  </style>
<style>
       
 .container {
  /*padding: 16px;*/
  background-color: white;
  margin:10px;
  /*margin-right:50px;
  margin-top:50px;*/
  height:1000px;
  width:1000px;

  
}
 body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#1fd9e1;
}

* {
  box-sizing: border-box;
}

    </style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<style>

	.panel-group .panel {
		border-radius: 5px;
		border-color: #EEEEEE;
        padding:0;
	}

	.panel-default > .panel-heading {
		color:black;
		background-color: white;
		border-color: #EEEEEE;
	}

	.panel-title {
		font-size: 14px;
	}

	.panel-title > a {
		display: block;
		padding: 15px;
		text-decoration: none;
	}

	.short-full {
		float: right;
		color: black;
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border: solid 1px #EEEEEE;
        /*background-color: #B7FFB7;*/
        
	}

</style>
<script src="https://analytics.avantis.co.in/piwik.js"></script></head>
<body>
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container">
<div class="row content">
<div class="col-sm-3 sidenav">
<ul class="nav nav-pills nav-stacked">
    <li style="font-size:18px"><a href="contract_help.html" style="color:#333"><b>Standard Dashboard</b></a>
    </li><li style="font-size:14px"><a href="contract_dashboard.html" style="color:#333"><i class="fas fa-desktop"></i>&nbsp;&nbsp;&nbsp;<b>My Dashboard</b></a>
    <ul style="line-height:25px;font-size:13px">
    <li><a href="contract_draft.html" style="color:#333">Draft</a></li>
    <li><a href="contract_pending_review.html" style="color:#333">Pending Review</a></li>
    <li><a href="contract_reviewd.html" style="color:#333">Reviewed</a></li>
    <li> <a href="contract_pending_approval.html" style="color:#333">Pending Approval</a></li>
    <li> <a href="contract_approved.html" style="color:#333">Approved</a></li>
    <li> <a href="contract_active.html" style="color:#333">Active</a></li>
    <li> <a href="contract_expired.html" style="color:#333">Expired</a></li>
    <li> <a href="contract_graphs.html" style="color:#333">Graphs And Charts</a></li>
    <li> <a href="contract_tasksummary.html" style="color:#333">Task Summary</a></li>

    </ul>
    </li>
    <li style="font-size:14px"><a href="contract_workspace.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Workspace</b></a></li>
    <li style="font-size:14px"><a href="contract_documents.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Documents</b></a></li>
    <li style="font-size:14px"><a href="contract_reports.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Reports</b></a></li>
    <li style="font-size:14px"><a href="contract_masters.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Masters</b> </a></li>
    <li style="font-size:14px"><a href="contract_upload_utility.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Upload Utility</b> </a></li>
    
</ul>
<br>
</div>
<div class="col-sm-9 MainContainer">


        <div>
                
                <h3><b>Graphs And Charts</b></h3>   
        </div>
 <br />
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

 <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   <i class="short-full glyphicon glyphicon-plus"></i>
                    <b>Filters</b>
               </a>
           </h4>
       </div>
       <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
           <div class="panel-body">
               <p  style="font-size:16px;text-align:justify">All the contract either being active, expired, pending for approval can be viewed based on the combination of filters present to obtain the desired list of contracts by using the filters present on the dashboard itself. </p><br /><br />
                    <img class="img1" style="width: 620px;margin-left:30px; height: 100px" src="../Contract/Contract_images/My Dashboard_Filters.png" /><br /><br /><br />

    
                 
        </div>

       </div>

</div>
        

<div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="short-full glyphicon glyphicon-plus"></i>
                     <b>Contract Expiring In</b>
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <p  style="font-size:16px;text-align:justify">In-order to avoid any contract getting unnoticed or to be updated or tasks relating to a contract be performed as per timeline, the below section helps in keep tracking of the contracts having dates within 30 days or less and regarding which action needs to be taken can be tracked through here. You can also filter out the contracts based on the dates within which they are getting expired which can be viewed based on the drop down highlighted in the above screeshot.</p><br /><br />
                     <img class="img1" style="width: 600px;margin-left:30px; height: 200px" src="../Contract/Contract_images/My Dashoboard_CONTRACTS EXPIRING IN.png" /><br /><br /><br />
                      
           </div>
 
        </div>
 
 </div>


 <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                       <i class="short-full glyphicon glyphicon-plus"></i>
                        <b>Contract Based Upon Location</b>
                   </a>
               </h4>
           </div>
           <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
               <div class="panel-body">
                   <p  style="font-size:16px;text-align:justify">Contracts can also be viewed based on the location of the client branches along with the status of completion of each of them combined in a graphical bra graph format for understanding on the dashboard.</p><br /><br />
                    <img class="img1" style="width: 600px;margin-left:30px; height: 200px" src="../Contract/Contract_images/My Dashboard_CONTRACTS BASED UPON LOCATION.png" /><br /><br /><br />
                     <p  style="font-size:16px;text-align:justify">The vertical scale defines the number of contract that the client branch has completed along with the total contract getting displayed on each vertical bar..</p><br /><br />

        
                     
            </div>
    
           </div>
    
    </div>

    <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                       <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                           <i class="short-full glyphicon glyphicon-plus"></i>
                            <b>Contract Based Upon Department</b>
                       </a>
                   </h4>
               </div>
               <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                   <div class="panel-body">
                       <p  style="font-size:16px;text-align:justify">Contracts can again be viewed in a graphical bar graph format based on the department which have been registered for the various branches under a client</p><br /><br />
                            <img class="img1" style="width: 600px;margin-left:30px; height: 220px" src="../Contract/Contract_images/My Dashboard_CONTRACTS BASED UPON DEPARTMENT.png" /><br /><br /><br />
                         
                </div>
        
               </div>
        
        </div>


        <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                               <i class="short-full glyphicon glyphicon-plus"></i>
                                <b>Contract Based Upon Status</b>
                           </a>
                       </h4>
                   </div>
                   <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                       <div class="panel-body">
                           <p  style="font-size:16px;text-align:justify">Again, contracts can be differentiated based upon status of contract in a consolidated pie chart form where the total contracts can be viewed in different color format with percentage of contracts falling under each section shown on the outer side of the boundary.</p><br /><br />
                                <img class="img1" style="width: 330px;margin-left:30px; height: 270px" src="../Contract/Contract_images/My Dashboard_CONTRACT BASED UPON STATUS.png" /><br /><br /><br />
                             
                    </div>
            
                   </div>
            
            </div>

            <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-title">
                               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                   <i class="short-full glyphicon glyphicon-plus"></i>
                                    <b>Contract Based Upon Type</b>
                               </a>
                           </h4>
                       </div>
                       <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                           <div class="panel-body">
                               <p  style="font-size:16px;text-align:justify"> Contracts can further be bifurcated based upon their type like rent contract, agreement, child labor etc. to have a graphical bar graph as shown in the below screen where the number of contracts getting defined on the vertical scale while type of contracts on the horizontal scale for easy understanding.</p><br /><br />
                                    <img class="img1" style="width: 600px;margin-left:30px; height: 270px" src="../Contract/Contract_images/My Dashboard_CONTRACT BASED UPON TYPE.png" /><br /><br /><br />
                                 
                        </div>
                
                       </div>
                
                </div>

                



</div>




</div>

</div>

</div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>

	function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".short-full")
            .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>


</body>