﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.ReviewerRemark
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

<div id="divAgendaMinutesReview">
    @using (Ajax.BeginForm("SaveAgendaMinutesReview", "MyReview", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAgendaMinutesReview", OnBegin = "OnOpenTask", OnComplete = "OnRefreshTask" }, new { id = "frmAgendaMinutesReview", enctype = "multipart/form-data" }))
    {
        <script>
    var rowNumbers1 = 0;
    function filterAgendaTaskDocs() {
        return { TaskId: "@Model.TaskId" }
    }

    function onRowBoundsAgendaMinutesReview(e) {
        $(".k-grid-View").find("span").append("<img id='theImg2' src='/Images/View.png'/>");
        var page = e.sender.dataSource.page();
        var pageSize = e.sender.dataSource.pageSize();
        rowNumbers1 = (page - 1) * pageSize;
        GetICons();
    }

    function renderNumber2(data) {
        return ++rowNumbers1;
    }

    function DownloadTaskAttachment(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "@Url.Action("DownloadSecretarialFile", "FileData")?id=" + dataItem.FileId;
    }
        </script>
        @Html.HiddenFor(k => k.TaskId)
        @Html.HiddenFor(k => k.Id)
        @Html.HiddenFor(k => k.RoleId)
        @Html.HiddenFor(k => k.StatusId)
        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                    {
                            <lable>@Model.Message</lable>
                        }
                    </div>

                </div>
            </div>
        }

        if (Model.Error)
        {
            <div class="row">

                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                    {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            </div>
        }
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                Title : <strong> @Model.TaskTittle </strong>
            </div>
        </div>

        if (Model.RoleId == 3)
        {
            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    @(Html.Kendo().Grid<BM_ManegmentServices.VM.ReviewerRemark>()
                        .Name("gridAgendaMinutesReview")
                        .Columns(columns =>
                        {
                            columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber2(data) #").Width("10%");
                            columns.Bound(o => o.ReviewerName);
                            //columns.Bound(o => o.Role).Title("Role");
                            columns.Bound(o => o.Status);
                            columns.Bound(o => o.Remark);
                        })
                        .EnableCustomBinding(true)
                        .Events(e => e.DataBound("onRowBoundsAgendaMinutesReview"))
                        .Navigatable()
                        .Pageable(pageable => pageable
                        .Refresh(false)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Sortable()
                        .Reorderable(reorderable => reorderable.Columns(true))
                        .Resizable(resizable => resizable.Columns(true))
                        .ColumnMenu()
                        .ColumnMenu()
                        .DataSource(dataSource => dataSource
                        .WebApi()
                        .PageSize(5)
                        .ServerOperation(false)
                        .Model(model =>
                        {
                            model.Field(p => p.Id);
                        }).Read(read => read.Url("/api/TaskAPI/GetAgendaMinutesReviewDetails").Data("filterAgendaTaskDocs").Type(HttpVerbs.Get))
                ))
                </div>
            </div>
        }

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.FileDataVM>()
                        .Name("gridAgendaMinutesReviewFiles")
                        .Columns(columns =>
                        {
                            columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber2(data) #").Width("10%");
                            columns.Bound(o => o.FileID).Visible(false);
                            columns.Bound(o => o.FileName).Title("File Name").Width("70%");
                            columns.Command(command =>
                            {
                                command.Custom("Download").Click("DownloadTaskAttachment").HtmlAttributes(new { @class = "k-grid-download" });
                            })
                        .Title("Action");
                        })
                        .EnableCustomBinding(true)
                        .Events(e => e.DataBound("onRowBoundsAgendaMinutesReview"))
                        .Navigatable()
                        .Pageable(pageable => pageable
                        .Refresh(false)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Sortable()
                        .Reorderable(reorderable => reorderable.Columns(true))
                        .Resizable(resizable => resizable.Columns(true))
                        .ColumnMenu()
                        .ColumnMenu()
                        .DataSource(dataSource => dataSource
                        .WebApi()
                        .PageSize(5)
                        .ServerOperation(false)
                        .Model(model =>
                        {
                            model.Field(p => p.FileID);
                        }).Read(read => read.Url("/api/TaskAPI/GetTaskFileDetails").Data("filterAgendaTaskDocs").Type(HttpVerbs.Get))
                ))
            </div>
        </div>

        if (Model.RoleId == 4)
        {
            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    <label for="txtTaskTitle" class="control-label">Remark</label>
                    @Html.TextAreaFor(m => m.Remark, new { @Id = "Remark", @style = "width:100%", @class = "k-textbox", @spellcheck = "true" })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>
            if (Model.StatusId == 1)
            {
                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0" style="text-align:center">
                        <button type="submit" class="btn btn-primary"><span class=""></span>Approve</button>
                    </div>
                </div>
            }
        }
    }
</div>