﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMTask
@{
    ViewBag.Title = "My Review :: My Workspace";
}
<title></title>
<link href="../../Style/css/StylesRadEditor.css" rel="stylesheet" />
<script>

    function filterChange() {
        
        var filter = { logic: 'and', filters: [] };

        var ddlEntityId = $("#ddlEntityFilter").data("kendoMultiSelect");
        var selectedValues = ddlEntityId.value();

        var filterEntity = { logic: 'or', filters: [] };
        if (selectedValues.length > 0) {
            for (var i = 0; i < selectedValues.length; i++) {
                filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedValues[i]) });
            }
            filter.filters.push(filterEntity);
        }

        var ddlStatusFilter = $("#ddlStatusFilter").data("kendoDropDownList");
        var m = ddlStatusFilter.value();
        if (m != "") {
            filter.filters.push({ logic: "or", field: "StatusId", operator: "eq", value: parseInt(m) });
        }

        var t = $('#filter');
        if (t.val() != "") {
            //filter.filters.push({ logic: "or", field: "TaskTypes", operator: "contains", value: t.val() });
            filter.filters.push({ logic: "or", field: "TaskTitle", operator: "contains", value: t.val() });
            //filter.filters.push({ logic: "or", field: "status", operator: "contains", value: t.val() });
         
        }
        if (filter != null) {
                    $("#clearfillter").show();
                }
                else {
                    $("#clearfillter").hide();
                }

        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.filter(filter);

    };

    function clearfilter(e) {
        var ddlEntity = $("#ddlEntityFilter").data("kendoMultiSelect");
        if (ddlEntity != null && ddlEntity != undefined) {
            ddlEntity.value([]);
        }

        var ddlStatusFilter = $("#ddlStatusFilter").data("kendoDropDownList");
        if (ddlStatusFilter != null && ddlStatusFilter != undefined) {
            ddlStatusFilter.value("");
        }

        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");
        }
        $('#clearfillter').css('display', 'none');

        $("#gridKendo").data("kendoGrid").dataSource.filter({});
    }
    
    $(document).ready(function () {
        $(".k-grid-ExportToexcel").find("span").append("<img id='theexcelexport' src='/Images/Excel _icon.png'/>");

        var breadCrumbData = [
            {
                displayText: "My Workspace",
                navigateUrl: "#",
            }, {
                displayText: "My Review",
                navigateUrl: "/BM_Management/MyReview/Index",
            },
        ];

        setBreadCrumb(breadCrumbData);

    });

    var rowNumber = 0;
    function onRowBound(e) {
        
        GetICons();
        var grid = $("#gridKendo").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        getGridborder(grid);

        //var gridData = grid.dataSource.view();
        //for (var i = 0; i < gridData.length; i++) {
        //    var currentUid = gridData[i].uid;
        //    var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

        //    if (gridData[i].IsExpire == true) {
        //        $(currenRow).find(".k-grid-A").addClass("k-state-disabled hidden");
        //    }
        //}
        var lookupEntityData = {};
        var lstEntities = [];

        var gridData = grid.dataSource.data();
        for (var i = 0; i < gridData.length; i++) {
            var EntityId = gridData[i].EntityId;
            if (!(EntityId in lookupEntityData)) {
                lookupEntityData[EntityId] = 1;
                lstEntities.push({ "ID": gridData[i].EntityId, "Name": gridData[i].CompanyName });
            }
        }

        debugger;
        var dsEntity = new kendo.data.DataSource({
            data: lstEntities,
            schema: {
                model: {
                    id: "ID",
                    fields: {
                        Name: { editable: false },
                    },
                    hasChildren: false
                }
            },
        });

        var ddlEntity = $("#ddlEntityFilter").data("kendoMultiSelect");
        ddlEntity.setDataSource(dsEntity);
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        @Html.AntiForgeryToken()

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-3 colpadding0">
                    @(Html.Kendo().MultiSelect()
                                    .Name("ddlEntityFilter")
                                    .DataTextField("Name")
                                    .DataValueField("ID")
                                    .Placeholder("Company")
                                    .TagMode(TagMode.Single)
                                    .Events(e => e.Change("filterChange"))
                                    .HtmlAttributes(new { style = "width: 98%;" })
                        )
                </div>
                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().DropDownList()
                            .Name("ddlStatusFilter")
                            .Events(e => e.Change("filterChange"))
                            .BindTo(new SelectList(new List<object> {
                                                        new {id="",text="Status-All"},
                                                        new {id="1",text="Pending For Review"},
                                                        new {id="4",text="Completed"},
                                                        new {id="7",text="Approved"},
                                                        new {id="6",text="Revert"},
                                                        new {id="5",text="Closed"},

                            }, "id", "text")).HtmlAttributes(new { style = "width: 95%;" }))
                </div>

                <div class="col-md-4 colpadding0">
                    <div class="input-group">
                        <input id='filter' type="text" class="k-textbox" placeholder="Search by Type/Title" autocomplete="off" onchange="filterChange(this)" />
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" style="line-height: 1.65em;">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 colpadding0" id="clearfillter" style="display:none">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()">
                        <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
                    </button>
                </div>

            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMTask>()
.Name("gridKendo")
.Columns(columns =>
{
    columns.Bound(o => o.Id).Visible(false);
    columns.Bound(o => o.CompanyName).Title("Company").HtmlAttributes(new { @style = "width:20%" });
    columns.Bound(o => o.TaskTypes).Title("Type").HtmlAttributes(new { @style = "width:8%" });
    columns.Bound(o => o.TaskTitle).Title("Title").HtmlAttributes(new { @style = "width:20%" });
    columns.Bound(o => o.Taskcreatedby).Title("Created By").HtmlAttributes(new { @style = "width:20%" });
    //columns.Bound(o => o.TaskAssignTo).Title("Assign To").HtmlAttributes(new { @style = "width:20%" });
    columns.Bound(o => o.DueDate).Title("Due Date").Format("{0:dd/MMM/yyyy}").HtmlAttributes(new { @style = "width:10%"});
    columns.Bound(o => o.status).Title("Status").HtmlAttributes(new { @style = "width:10%" });
    columns.Command(command =>
    {
        command.Custom("A").Click("AgendaDocumentReview").HtmlAttributes(new { @class = "k-grid-Agenda" });
    }).Title("Action").HtmlAttributes(new { @style = "width:8%" });
}).EnableCustomBinding(true)
        .Events(e => e.DataBound("onRowBound"))
        // .Events(e=>e.DataBound("onDataBinding"))
        //.Navigatable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
                  model.Field(o => o.TaskAssinmentId);
                  model.Field(o => o.MeetingType);
                  model.Field(o => o.IsExpire);
                  model.Field(o => o.EntityId);
              }).Read(read => read.Url("/api/TaskAPI/GetReviewDetails?loadTask=false&loadReview=true").Type(HttpVerbs.Get))))
            </div>
        </div>

        <div id="modalWindow">
            <h5>Are you sure you want to delete this data?</h5>
            <div class="text-center">
                <button id="yes" class="btn btn-primary">Yes</button>
                <button id="no" class="btn btn-primary">No</button>
            </div>            
        </div>

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)        
        .AutoHide(true))

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(2)")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)        
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(3)")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)        
        .AutoHide(true))

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)        
        .AutoHide(true)
        .ContentHandler("getTooltipContent"))

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-ExportToexcel")
        .Position(TooltipPosition.Top)        
        .AutoHide(true)
        .ContentHandler("getTooltipContent1"))

        <script>
            function toolTipContent(e) {
                return e.target.context.innerText;
            }

            function getTooltipContent1(e) {
                return "Export to Excel";
            }

            function getTooltipContent(e) {

                if (e.target.context.innerText == 'C') {
                    return "Capital Master";
                }
                else if (e.target.context.innerText == 'S') {
                    return "Shareholding Master";
                }
                else if (e.target.context.innerText == 'D') {
                    return "Board of Directors";
                }
                else if (e.target.context.innerText == 'AU') {
                    return "Auditor";
                }
                else if (e.target.context.innerText == 'CM') {
                    return "Committees";
                }
                else if (e.target.context.innerText == 'Edit') {
                    return "Edit";
                }
                else if (e.target.context.innerText == 'Delete') {
                    return "Delete";
                }
                else if (e.target.context.innerText == 'CM') {
                    return "Committees";
                }
                else if (e.target.context.innerText == 'New') {
                    return "Add new Task";
                }
                else if (e.target.context.innerText == 'A') {
                    return "Applicability";
                }
                else if (e.target.context.innerText == 'AD') {
                    return "Auditors Master";
                }
            }
        </script>
    </div>
</div>

@(Html.Kendo().Window()
    .Name("wndTask")
    .Scrollable(true)
    .Visible(false)
    .Pinned(true)
    .Modal(true)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefreshTask")))

@(Html.Kendo().Window().Name("wndAgendaPreview").Title("Review - Draft Agenda").Visible(false).Modal(true).Draggable(true).Scrollable(true))

@(Html.Kendo().Window().Name("wndAgendaFormatEdit").Title("Review - Draft Agenda").Visible(false).Modal(true).Draggable(true).Scrollable(true))
@(Html.Kendo().Window().Name("wndAgendaDocumentForReview").Title("Agenda Document").Visible(false).Modal(true).Draggable(false).Pinned(true))

<div id="divMyCompliances">
    <iframe id="IframeMyCompliances" src="about:blank" frameborder="0" height="530px" width="100%"></iframe>
</div>


<script>
    function editReview(e) {
        e.preventDefault();
        OnOpenTask('a');
        $("#wndTask").attr("style", "min-height:100px;");
        
        $("#wndTask").kendoWindow({
            title: "Review",
        });
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        direction = "AgendaMinutesReview?taskId=" + dataItem.Id;
        var wnd = $("#wndTask").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndTask").kendoWindow({
            title: "Review",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "55%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefreshTask(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpenTask();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "55%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnOpenTask(e) {
        var wnd = $("#wndTask").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }


    function OnRefreshTask() {
        var wnd = $("#wndTask").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    var wnddeletetask;
    $(document).ready(function () {
        wnddeletetask = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
    function openWindow(e) {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.FileId;
        wnddeletetask.center().open();
        $("#yes").click(function () {
            DeleteFile(id)
            grid.removeRow(row);
            wnddeletetask.close();
        });

        $("#no").click(function () {
            wnddeletetask.close();
        });
    }

    function DeleteFile(id) {
        $.ajax({
            url: "/api/TaskAPI/DeleteFileData?FileId=" + id,
            method: "DELETE",
            success: function () {
                alert("Deleted Successfully");
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
            }
        });
    }

    function DownloadTaskFile(e){
         var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
         window.location.href = "@Url.Action("TaskFileDownload1", "Task")?Id=" + dataItem.FileId;
    }

    function ViewTaskFile(e){

    }
</script>

<!-- Agenda viewer-->
<script>
    function showAgendaPreviewMeeting(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.MeetingType != null) {
            $("#wndAgendaPreview").kendoWindow({
                title: "Review - Agenda",
                modal: true
            });

            var direction = "@Url.Action("AgendaPreview","MyReview")" + "?MeetingId=" + dataItem.MeetingType;

            $("#wndAgendaPreview").attr("style", "min-height:500px;");

            var wnd = $("#wndAgendaPreview").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndAgendaPreview").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "85%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { kendo.ui.progress(wnd.element, true); },
                close: function (e) {
                    $(this.element).empty();
                }
            }).data("kendoWindow");

            opts.width = "85%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
        
    }
</script>
<script>
    function OnOpen(e) {
        var wndcomplience = $("#divMyCompliances").data("kendoWindow");
        //kendo.ui.progress(wndcomplience.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }
</script>

<!-- Agenda/Minutes Review-->
<script>
    function AgendaDocumentReview(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.MeetingType != null) {
            $("#wndAgendaPreview").kendoWindow({
                title: "Review - Agenda",
                modal: true
            });

            var direction = "@Url.Action("ReviewAgendaDocument", "MyReview")" + "?taskId=" + dataItem.Id + "&assignmentId=" + dataItem.TaskAssinmentId + "&meetingId=" + dataItem.MeetingType + "&canAcceptChanges=false&allowFinalizeReview=false";

            $("#wndAgendaPreview").attr("style", "min-height:500px;");

            var wnd = $("#wndAgendaPreview").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndAgendaPreview").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "85%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { kendo.ui.progress(wnd.element, true); },
                close: function (e) {
                    $(this.element).empty();
                }
            }).data("kendoWindow");

            opts.width = "85%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }

    function docViewerLoading(e) {
        var wnd = $("#wndAgendaPreview").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function docViewerOnLoad() {
        var wnd = $("#wndAgendaPreview").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function editReviewWindowLoading(e) {
        var wnd = $("#divMyCompliances").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function editReviewWindowOnLoad() {
        var wnd = $("#divMyCompliances").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function editAgendaReview(m, tId, assignmentId, a, reviewId, canAcceptChanges) {
        debugger;
        //       $('#divMyCompliances').show();

        var myWindowAdv = $("#divMyCompliances");
        var wnd = myWindowAdv.kendoWindow({
            pinned: true,
            width: "65%",
            title: "Agenda - Review",
            visible: false,
            modal: true,
            iFrame : true,
            actions: ["Close"],
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                //$(this.element).empty();
            },
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        var opts = wnd.options;
        opts.width = "70%";
        wnd.setOptions(opts);
        debugger;
        wnd.center();
        wnd.open();

        editReviewWindowLoading();

        $('#IframeMyCompliances').attr('src', "@Url.Content("~/Areas_Secretarial/AgendaMinutesReview.aspx")?mappingId=" + a + "&taskId=" + tId + "&assignmentId=" + assignmentId + "&agendaReviewId=" + reviewId + "&changesFlag=" + canAcceptChanges);
    }
    function GetFileExtType(value) {

        if (value.split('.').pop() == "pdf" || value.split('.').pop() == "PDF" || value.split('.').pop() == "Pdf") {
            return "<span class='k-icon k-i-file-pdf k-i-pdf'></span>";
        }
        else if (value.split('.').pop() == "doc" || value.split('.').pop() == "docx" || value.split('.').pop() == "DOC" || value.split('.').pop() == "DOCX") {
            //return "<span class='k-icon k-i-file-word k-i-file-doc k-i-word k-i-doc'></span>";
            return "<span class='k-icon k-i-file-word k-i-file-doc k-i-word k-i-doc'></span>";
        }

        else if (value.split('.').pop() == "xls" || value.split('.').pop() == "xlsx" || value.split('.').pop() == "XLS" || value.split('.').pop() == "XLSX") {
            return "<span class='k-icon k-i-file-excel k-i-file-xls k-i-excel k-i-xls'></span>";
        }
        else if (value.split('.').pop() == "ppt" || value.split('.').pop() == "pptx" || value.split('.').pop() == "PPT" || value.split('.').pop() == "PPTX") {
            return "<span class='k-icon k-i-file-ppt k-i-ppt'></span>";
        }
        else if (value.split('.').pop() == "msg" || value.split('.').pop() == "MSG") {
            return "<span class='k-icon k-i-email k-i-envelop k-i-letter'></span>";
        }
        else if (value.split('.').pop() == "txt") {
            return "<span class='k-icon k-i-file-txt k-i-txt'></span>";
        }
        else if (value.split('.').pop() == "jpg" || value.split('.').pop() == "JPG" || value.split('.').pop() == "jpeg" || value.split('.').pop() == "JPEG" || value.split('.').pop() == "png" || value.split('.').pop() == "PNG" || value.split('.').pop() == "tif" || value.split('.').pop() == "TIF" || value.split('.').pop() == "tiff" || value.split('.').pop() == "TIFF" || value.split('.').pop() == "bmp" || value.split('.').pop() == "BMP" || value.split('.').pop() == "gif" || value.split('.').pop() == "GIF") {
            return "<span class='k-icon k-i-image k-i-photo'></span>";
        }
        else {
            return "";
        }
    }

    function showAgendaDocumentsNew(mappingId) {
        $("#wndAgendaDocumentForReview").kendoWindow({
            //  title: "Agenda It - " + dataItem.AgendaItemHeading,
            modal: true
        });

        var direction = "@Url.Action("AgendaDocuments", "Meetings")" + "?MeetingAgendaMappingID=" + mappingId;

        $("#wndAgendaDocumentForReview").attr("style", "min-height:330px;");

        var wnd = $("#wndAgendaDocumentForReview").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAgendaDocumentForReview").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "55%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                GetICons();
            }
        }).data("kendoWindow");

        opts.width = "55%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>
