﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMConfiguration
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

@{
    ViewBag.Title = "Configurations";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

<script>
    function onRowBound(e) {

        GetICons();
        var grid = $("#gridKendoMeeting").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-11 colpadding0">

                    <div class="col-md-4 colpadding0">
                        @(Html.Kendo().DropDownList()
                            .Name("Entity")
                            .DataTextField("EntityName")
                            .DataValueField("Id")
                            .OptionLabel("Select Entity/Company")
                            .Filter("contains")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                                })
                                .ServerFiltering(false);
                            }).HtmlAttributes(new { style = "width: 97%", @Id = "ddlEndityDetails", autocomplete = "off", @onchange = "filterGrid()" }))
                    </div>
                </div>

                <div class="col-md-1 colpadding0">
                    <button class="btn btn-primary" id="CreatenewMeetingModule" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">

                        @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMConfiguration>()
                        .Name("gridKendoMeeting")
                               .Columns(columns =>
                               {
                                   columns.Bound(o => o.Id).Visible(false);
                                   columns.Bound(o => o.EntityName).Title("Entity").Width("50%");
                                   columns.Bound(o => o.YearType).Title("Financial Year Type").Width("40%");
                                   columns.Command(command =>
                                   {
                                       command.Custom("Edit").Click("editMeetingModule").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                                   }).Title("Action").Width("10%");
                               })
                        .EnableCustomBinding(true)
                        //.ToolBar(
                        //toolbar => toolbar.Custom().Name("CreateNew").Text("New").HtmlAttributes(new { id = "CreatenewMeetingModule", @class = "k-grid-add k-button k-button-icontext" })
                        //)
                        .Events(e => e.DataBound("onRowBound"))
                        .Navigatable()
                        .Pageable(pageable => pageable
                        //.Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Sortable()
                        .Reorderable(reorderable => reorderable.Columns(true))
                        .Resizable(resizable => resizable.Columns(true))
                        .ColumnMenu()
                        .DataSource(dataSource => dataSource
                        .WebApi()
                        .PageSize(10)
                        .ServerOperation(false)
                        .Model(model =>
                        {
                            model.Id(o => o.Id);
                            model.Field(o => o.EntityId);
                        })
                        .Read(read => read.Url("/api/ConfigurationMasterAPI/getMeetingConfiguration").Data("filterEntity").Type(HttpVerbs.Get))))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@(Html.Kendo().Window()
    .Name("KendoPopupMeetingMaster")
    .Visible(false)
    .Modal(true))
//.Draggable(false)
//.Scrollable(false)
//.Events(e => e.Open("adjustSize"))
//.Events(e => e.Refresh("OnRefresh"))

<script>
    $("#CreatenewMeetingModule").click(function (e) {
        e.preventDefault();
        editMeetingModule(e);
    });

    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnRefresh() {
        var wnd = $("#KendoPopupMeetingMaster").data("kendoWindow");
        //kendo.ui.progress(wnd.element, false);
        ddlMeetingNoTypechange();
        ddlCircularNoTypechange()
    }

    function editMeetingModule(e) {

        e.preventDefault();
        OnOpen('a');

        var direction = "PopForAddEdit?id=" + 0 + "&EntityId=" + 0;
        if (e.currentTarget.innerText != "New") {
            $("#KendoPopupMeetingMaster").kendoWindow({
                title: "Edit - Configuration",
            });
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "PopForAddEdit?id=" + dataItem.Id + "&EntityId=" + dataItem.EntityId;
            var wnd = $("#KendoPopupMeetingMaster").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            $("#KendoPopupMeetingMaster").kendoWindow({
                title: "Add - Configuration",
            });
            $("#KendoPopupMeetingMaster").attr("style", "min-height:100px;");
            direction = "PopForAddEdit?id=" + 0 + "&EntityId=" + 0;
            var wnd = $("#KendoPopupMeetingMaster").data("kendoWindow");
            var opts = wnd.options;
        }

        wnd = $("#KendoPopupMeetingMaster").kendoWindow({

            pinned: true,
            content: direction,
            width: "80%",
            //height: "80%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            resizable: false,
            modal: true,
            refresh: function () { this.center(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendoMeeting').data('kendoGrid').dataSource.read();
                $('#gridKendoMeeting').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");

        opts.width = "80%";
        //opts.height = "80%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function ddlMeetingNoTypechange() {
        debugger;

        var meetingtype = $("#ddlMeetingNoType").data("kendoDropDownList").value();

        if (meetingtype == "FY") {

            $("#txtmeetingformate").val("/FY");
            $("#txtmeetingformate").show();
        }
        else {
            $("#txtmeetingformate").val("");
            //document.getElementById('txtCircularformate').style.display = 'none';
            $("#txtmeetingformate").hide();
        }
    }

    function ddlCircularNoTypechange() {
        debugger;
        var meetingtype = $("#ddlCircularNoType").data("kendoDropDownList").value();

        if (meetingtype == "FY") {

            $("#txtCircularformate").val("/FY");
            $("#txtCircularformate").show();
        }
        else {
            $("#txtCircularformate").val("");
            $("#txtCircularformate").hide();
        }
    }

    function OnOpen(e) {

        var wnd = $("#KendoPopupMeetingMaster").data("kendoWindow");
        //kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnOpene(e) {

        var wnd = $("#KendoPopupMeetingMaster").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    $(document).ready(function () {
        $("#tblmetting").kendoGrid({
            sortable: false,
            scrollable: false
        });

        var breadCrumbData = [
            {
                displayText: "Master",
                navigateUrl: "#",
            }, {
                displayText: "Configuration",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);
    });

    function filterEntity() {

        EntityId = $("#ddlEndityDetails").data("kendoDropDownList").value();
        custID =@AuthenticationHelper.CustomerID;
        if (EntityId == "") {
            return {
                EntityId: 0,
                custID: custID,
            };
        } else {
            return {
                EntityId: EntityId,
                custID: custID,
            }
        }
    }

    function filterGrid(e) {

        var grid = $("#gridKendoMeeting").data("kendoGrid");
        grid.dataSource.read();
        EntityId = $("#ddlEndityDetails").data("kendoDropDownList").value();

        //$.ajax({
        //    type: "Get",
        //    contentType: "application/json; charset=utf-8",
        //    url: "/api/EntityMasterAPI/GetFY?EntityId=" + EntityId,
        //    success: function (data) {
        //        if (data != "") {
        //            debugger;
        //            var dropdownlist = $("#ddlFY1").data("kendoDropDownList");

        //            dropdownlist.value(data);
        //            dropdownlist.trigger("change");
        //            dropdownlist.readonly();
        //        }
        //        else
        //        {
        //            dropdownlist.readonly(false);
        //        }
        //    }
        //});

    }

</script>
<script>
    function BindFinancialYear() {

        EntityId = $("#entityID").data("kendoDropDownList").value();
        if (EntityId == "") {
            return {
                EntityId: 0,

            };
        }
        else {
            return {
                EntityId: EntityId,
            }
        }
    }

    function BindFinancialYearforCircular() {

        EntityId = $("#entityID").data("kendoDropDownList").value();
        if (EntityId == "") {
            return {
                EntityId: 0,

            };
        }
        else {
            return {
                EntityId: EntityId,
            }
        }
    }

    function ReloadConfiguration(){
        EntityId = $("#entityID").data("kendoDropDownList").value();
        $("#DivLoadlistofMeetings").load('@Url.Action("ReloadConfiList", "Configuration")' + '?EntityId=' +EntityId );
        var ddl = $("#ddlFinancialYear").data("kendoDropDownList");
        ddl.dataSource.read();
        var ddlcircular = $("#ddlFinancialYearforCircular").data("kendoDropDownList");
        ddlcircular.dataSource.read();
        //var dropdownlist = $("#ddlboardMeeting").data("kendoDropDownList");
        //dropdownlist.dataSource.read();

        var ddltype = $("#MeetingType").data("kendoDropDownList");
        ddltype.dataSource.read();
       
        var datepicker = $("#MeetingDate").data("kendoDatePicker").value("");
        var datepicker = $("#CircularDate").data("kendoDatePicker").value("");
        $("#ddlMeetingNoType").data("kendoDropDownList").value("");
        $("#ddlCircularNoType").data("kendoDropDownList").value("");
        $("#ddlFinancialYear").data("kendoDropDownList").value("");
        $("#ddlFinancialYearforCircular").data("kendoDropDownList").value("");
        $("#txtmeetingNo").val("");
        $("#Minutes_Pageno").val("");
        $("#txtCircularNo").val("");
        $("#LastCircularMinutePageNo").val("");
    }

</script>