﻿@using Kendo.Mvc.UI;
@model long

@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@*@Html.HiddenFor(model => model.Director_ID)*@

<script>

    function serialize(data) {
        for (var property in data) {
            if ($.isArray(data[property])) {
                serializeArray(property, data[property], data);
            }
        }
    }

    function serializeArray(prefix, array, result) {
        for (var i = 0; i < array.length; i++) {
            if ($.isPlainObject(array[i])) {
                for (var property in array[i]) {
                    result[prefix + "[" + i + "]." + property] = array[i][property];
                }
            }
            else {
                result[prefix + "[" + i + "]"] = array[i];
            }
        }
    }

</script>

<script>

    function onRowBounddetailofintrest() {
        GetICons();


        var grid = $("#gridKendodetailofintrest").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })
    }
    function req_EndInterest(e) {

        if (e.type == "create") {
            var grid = $("#gridKendodetailofintrest").data("kendoGrid");
            // grid.dataSource.read();
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });

            kendo.ui.progress(grid.element, false);
            if (e.response == "Save successfully") {
                $("#DivsuccessI").show();
                $("#DiverrorI").hide();
                $('#lblsuccessI').text(e.response);

                clearDetailsofInterest();
            }
            else {
                $("#DiverrorI").show();
                $("#DivsuccessI").hide();
                $('#lblerrormsgI').text(e.response);
            }

        }
        if (e.type == "update") {
            var grid = $("#gridKendodetailofintrest").data("kendoGrid");
            //grid.dataSource.read();
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });

            kendo.ui.progress(grid.element, false);
            if (e.response == "Update successfully") {
                $("#DivsuccessI").show();
                $("#DiverrorI").hide();
                $('#lblsuccessI').text(e.response);
            }
            else {
                $("#DiverrorI").show();
                $("#DivsuccessI").hide();
                $('#lblerrormsgI').text(e.response);
            }
        }
    }

    function clearDetailsofInterest() {
        var _txtNameOfOther1 = $("#NameOfOther");
        var _txtCIN1 = $("#txtCIN");
        var _txtPAN1 = $("#txtPAN");
        var _Arosed1 = $("#Arosed");
        var _PercentagesOfShareHolding1 = $("#PercentagesOfShareHolding");

        _txtNameOfOther1.val('');
        _txtCIN1.val('');
        _txtPAN1.val('');
        _Arosed1.val('');
        _PercentagesOfShareHolding1.val('');

        var ddlNatureOfInterest = $("#NatureOfInterest").data("kendoDropDownList");
        var ddlIfDirector = $("#IfDirector").data("kendoDropDownList");
        var ddlIfRelatives = $("#IfRelatives").data("kendoMultiSelect");

        ddlNatureOfInterest.select(0);
        ddlIfDirector.select(0);
        ddlIfRelatives.value([]);

    }

    function onEditInterest(e) {
        e.container.find(".k-grid-cancel,.k-i-close").bind("click", function () {
            var grid = $("#gridKendodetailofintrest").data("kendoGrid");
            grid.dataSource.read();
        });

        $('#gridKendodetailofintrest').data().kendoGrid.editable.element.closest('.k-window')
      .find('.k-window-action:has(.k-i-close)').click(function () {
          var grid = $("#gridKendodetailofintrest").data("kendoGrid");
          grid.dataSource.read();
      })


        var _txtNameOfOther1 = $("#NameOfOther");
        var _txtCIN1 = $("#txtCIN");
        var _txtPAN1 = $("#txtPAN");
        var _Arosed1 = $("#Arosed");

        var TypeOfEntityDropDown1 = $("#TypeOfEntity").data("kendoDropDownList");
        TypeOfEntityDropDown1.readonly();

        if (e.model.isNew()) {

            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");

            _txtNameOfOther1.attr('readonly', false);
            _txtCIN1.attr('readonly', false);
            _txtPAN1.attr('readonly', false);
            $("#Arosed").removeAttr("data-val-date");
        }
        else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");

            _txtNameOfOther1.attr('readonly', true);
            _txtCIN1.attr('readonly', true);
            _txtPAN1.attr('readonly', true);
            _Arosed1.val(moment(e.model.Arosed).format('DD/MM/YYYY'));

            //_Arosed1.val(e.model.Arosed);
            $("#Arosed").removeAttr("data-val-date");
        }

    }

    function onDataBound(e) {
        GetICons();
        var grid = $("#gridKendodetailofintrest").data("kendoGrid");
        var gridData = grid.dataSource.view();

        var grid = $("#gridKendodetailofintrest").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })
    }
</script>

<script>
    $("#btnAddDetailsIfInterest").click(function (e) {
        e.preventDefault();
        var grid = $("#gridKendodetailofintrest").data("kendoGrid");
        grid.addRow();
    });
</script>

<div class="Dashboard-white-widget">
    <div class="dashboard">

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-2 pull-right text-right">
                    <a class="btn btn-primary" href="/#" id="btnAddDetailsIfInterest" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30" style="overflow-x:hidden;height:430px">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.DetailsOfInterest>()
        .Name("gridKendodetailofintrest")
        .Columns(columns =>
        {
            columns.Bound(o => o.Director_ID).Visible(false);
            columns.Bound(o => o.EntityName).Title("Entity Name").HtmlAttributes(new { }).HtmlAttributes(new { @style = "width:25%" });
            columns.Bound(o => o.EntityType).Title("Entity Type").HtmlAttributes(new { @style = "width:10%" });
            //columns.Bound(o => o.CIN).Title("CIN");
            //columns.Bound(o => o.PAN).Title("PAN");
            columns.Bound(o => o.NatureofIntrest).Title("Nature Of Interest").HtmlAttributes(new { @style = "width:20%" });
            columns.Bound(o => o.IfDirectorName).Title("Designation").HtmlAttributes(new { @style = "width:15%" });
            columns.Bound(o => o.IfInterestThroughRelativesName).Title("Relative Name").HtmlAttributes(new { @style = "width:10%" });
            //columns.Bound(o => o.IfRelatives).Title("Relative Name");
            columns.Bound(o => o.Arosed).Title("Arose Date").Format("{0:dd/MM/yyyy}").HtmlAttributes(new { @style = "width:10%;text-align: center;" });
            columns.Command(command =>
            {
                command.Edit().HtmlAttributes(new { });

                command.Custom("R").Click("Resign").HtmlAttributes(new { });
                //command.Custom("R").Click("Resign").HtmlAttributes(new { });
            })
           .Title("Action").HtmlAttributes(new { @style = "width:10%" });
        })
        .Editable(editable =>
        {
            editable.Mode(GridEditMode.PopUp).TemplateName("_AddEditDetailofIntrest").Window(w => w.Title("Add/Edit").Width(620));
            editable.DisplayDeleteConfirmation("Are you sure you want to delete State?");
        })
        .Events(e => e.Edit("onEditInterest"))
        //.Events(e => e.Edit("HideGridFields"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu(col => col.Columns(false))
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.Id);
                model.Field(o => o.Director_ID).DefaultValue(Model);
                model.Field(o => o.Entity_Id);
                model.Field(o => o.TypeOfEntity);
                model.Field(o => o.NatureOfInterest);
                model.Field(o => o.IfDirector);
                model.Field(o => o.IfInterestThroughRelatives);
                model.Field(o => o.PercentagesOfShareHolding);
                model.Field(o => o.Arosed);
                model.Field(o => o.IfRelatives);
            })
        //.Events(events => events.Error("error"))
        //.Events(events => events.RequestEnd("req_EndInterest"))
        .Read(read => read.Url("/api/DirectorMasterAPI/GetDetailsofIntrest?DirectorId=" + Model).Type(HttpVerbs.Get))
        .Create(create => create.Url("/api/DirectorMasterAPI/CreateDetailsofIntrest").Type(HttpVerbs.Post))
        .Update(update => update.Url("/api/DirectorMasterAPI/UpdateDetailsofIntrest").Type(HttpVerbs.Put))
        .Destroy(destroy => destroy.Url("/api/CommitteeMasterNewAPIController/DeleteCommitteeDtlsss").Type(HttpVerbs.Delete))
                     ).Events(e => e.DataBound("onRowBounddetailofintrest"))

                )
            </div>
        </div>

    </div>
</div>

        @(Html.Kendo().Window()
    .Name("wndResin")
    .Title("Resign")
    .Visible(false)
    .Modal(true)
    .Draggable(true)

        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendodetailofintrest")
        .Filter(".k-grid-R")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Resignation")
        .Width(120)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendodetailofintrest")
        .Filter(".k-grid-D")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Download Resignation form")
        .Width(120)
        )
        @(Html.Kendo().Window().Name("wndFormTemplatePreview").Title("Form Template").Visible(false).Modal(true).Draggable(false).Scrollable(false))
        <script>
            function checkDate(e) {
                if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
                    e.value = '';
                }
            }

            function Resign(e) {
                
                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                $("#wndResin").attr("style", "min-height:100px;");

                var direction = "OpenDirectorRegignationview?ID=" + dataItem.Director_ID + "&EntityId=" + dataItem.Entity_Id;
                $("#wndResin").kendoWindow({
                    title: "Resignation from " + dataItem.EntityName
                });
                $("#wndResin").attr("style", "min-height:100px;");
                direction = "OpenDirectorRegignation?ID=" + dataItem.Director_ID + "&EntityId=" + dataItem.Entity_Id;
                var wnd = $("#wndResin").data("kendoWindow");
                var opts = wnd.options;

                wnd = $("#wndResin").kendoWindow({
                    pinned: true,
                    content: direction,
                    width: "40%",
                    position: {
                        top: 100, // or "100px"
                    },

                    visible: false,
                    modal: true,
                    refresh: function () { this.center(); OnRefresheassignment(); },
                    close: function (e) {
                        $(this.element).empty();

                        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    },
                    open: function (e) {

                        OnOpenassignmet();
                        $(this.element).closest(".k-window").css("position", "fixed")
                        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                    }
                }).data("kendoWindow");
                opts.width = "40%";

                wnd.setOptions(opts);
                wnd.center();
                wnd.refresh(direction);
                wnd.open();

                function OnOpenassignmet() {

                }
                function OnRefresheassignment() {

                }
            }

            function Download(DirectorId, EntityId) {

                window.location = "@Url.Action("DownloadResignForm", "MyProfile")?DirectorID=" + DirectorId + "&EntityID=" + EntityId;
            }

            function OpenPreview(DirectorId, EntityId) {
                direction = "OpenDirectorRegignationview?DirectorID=" + DirectorId + "&EntityID=" + EntityId;
                var wnd = $("#wndFormTemplatePreview").data("kendoWindow");
                var opts = wnd.options;

                wnd = $("#wndFormTemplatePreview").kendoWindow({
                    pinned: true,
                    title: "Form Preview",
                    actions: [
                                 "Pin",
                                 "Minimize",
                                 "Maximize",
                                 "Close"
                    ],
                    content: direction,
                    width: "95%",
                    position: {
                        top: 100, // or "100px"
                    },
                    visible: false,
                    modal: true,
                    refresh: function () { this.center(); OnRefresh(); },
                    close: function (e) {
                        $(this.element).empty();

                        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    },
                    open: function (e) {

                        OnOpen();
                        $(this.element).closest(".k-window").css("position", "fixed")
                        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                    }
                }).data("kendoWindow");
                opts.width = "95%";

                wnd.setOptions(opts);
                wnd.center();
                wnd.refresh(direction);
                wnd.open();
            }
            function OnOpen() {

            }
            function OnRefresh() {

            }
        </script>
