﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.OnEditingDirector
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;


<div id="divsavechangescompliances">
    @using (Ajax.BeginForm("SaveDirectorTypeOfChange", "MyProfile", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divsavechangescompliances" }, new { id = "frmassigncompliances" }))
    {
        <script>
    function getDataForUserDropdown() {
        var customerID='@AuthenticationHelper.CustomerID';
        return { customerId : customerID }
    }

    function DownloadDIR6(ID) {
        window.location = "/api/FormServiceAPI/GenerateFormforDirector?DirectorId=" + ID;
    }

    function DownloadDIR3(ID) {

        window.location = "/api/FormServiceAPI/GenerateFormforDirectorDIR3?DirectorId=" + ID;
    }
        </script>

        <div class="container">
            <div>
                @if (Model.Success)
            {
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@Model.Message</strong>
            </div>
            }
            else if(Model.Error)
            {
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@Model.Message</strong>
            </div>
            }
                @Html.HiddenFor(m => m.DirectorID)
                @Html.HiddenFor(m => m.MobileNumber)
                @Html.HiddenFor(m => m.EmailId)

                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Form</th>
                                <th>Performer</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>DIR-6</td>
                                <td>

                                    @(Html.Kendo().DropDownListFor(m => m.userIdPerformerDIR6)
                                                                        .DataTextField("Name")
                                                                        .DataValueField("Id")
                                                                        .DataSource(source =>
                                                                        {
                                                                            source.Read(read =>
                                                                            {
                                                                                read.Url("/api/UserMasterAPI/GetUsersList").Data("getDataForUserDropdown").Type(HttpVerbs.Get);
                                                                            });
                                                                        })
                                                                        .HtmlAttributes(new { style = "width: 50%" })
                                    )
                                </td>
                                <td>
                                    <a role="button" class="k-button k-button-icontext k-grid-Download k-grid-warn pull-left" href="#" onclick="DownloadDIR6(@Model.DirectorID)"><img style="height:21px;" src="../../Images/regulatorydownload.png"></a>
                                </td>
                            </tr>
                            @if ((Model.EmailId) || (Model.MobileNumber))
                        {
                        <tr>
                            <td>DIR-3_KYC</td>
                            <td>
                                @(Html.Kendo().DropDownListFor(m => m.userIdPerformerDIR3)
                                                                               .DataTextField("Name")
                                                                               .DataValueField("Id")
                                                                               .DataSource(source =>
                                                                               {
                                                                                   source.Read(read =>
                                                                                   {
                                                                                       read.Url("/api/UserMasterAPI/GetUsersList").Data("getDataForUserDropdown").Type(HttpVerbs.Get);
                                                                                   });
                                                                               })
                                                                               .HtmlAttributes(new { style = "width: 50%" })
                                )
                            </td>
                            <td>
                                <a role="button" id="dir3" class="k-button k-button-icontext k-grid-Download k-grid-warn pull-left" href="#" onclick="DownloadDIR3(@Model.DirectorID)"><img style="height:21px;" src="../../Images/regulatorydownload.png"></a>
                            </td>
                        </tr>
                        }
                        </tbody>
                    </table>

                    <div class="row colpadding0" style="margin-top:10px;margin-bottom:10px">
                        <div class="col-md-12 colpadding0" style="text-align:center">
                            <button type="submit" id="btnassin" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
