﻿@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Entity List";
}
<link href="~/Content/2018.3.1017/css/DirectorCSS.css" rel="stylesheet" />

<script>
    $(document).ready(function () {

        $(".k-i-refresh")[0].innerHTML = "";
    })

</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">

        @Html.AntiForgeryToken()

        <div class="row master-Headre">
            <div class="col-md-12">
                <div class="col-md-10 colpadding0">
                    <input id='filter' placeholder="Search by Company Name/CIN/LLPIN/Registration" class='k-textbox' style="width: 52%" autocomplete="off" />
                </div>
                @*<div class="col-md-1 colpadding0 btnUpload">
                        <a class="btn btn-primary add-button" href="/#" id="btnCreateNewDirector" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                    </div>

                    <div class="col-md-1 btnUpload colpadding0" style="text-align:right">
                        <input type="button" class="btn btn-primary add-button" href="/#" title="Upload" value="Upload" onclick="FormUpload()" />
                    </div>*@
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Window().Name("wndBODLIST").Visible(false).Modal(true).Draggable(false))

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.EntityMasterVM>()
        .Name("gridKendo")

        .Columns(columns =>
        {
            columns.Bound(o => o.Id).Visible(false);
            columns.Bound(o => o.EntityName).HtmlAttributes(new { @style = "width:70%" });
            columns.Bound(o => o.Type).HtmlAttributes(new { @style = "width:10%" });
            columns.Bound(o => o.LLPI_CIN).Title("CIN/LLPIN/Registration Number").HtmlAttributes(new { @style = "width:10%" });
            columns.Command(commnd =>
            {
                commnd.Custom("D").Click("OpenDirectorMaster");
            }).Title("Action").HtmlAttributes(new { @style = "width:10%" });
        })
        .EnableCustomBinding(true)

        @*.ToolBar(toolbar =>
            {
            toolbar.Template(@<text>

                        <div class="col-md-10 colpadding0">
                            Filter
                            <input id='filter' placeholder="Name" class='k-textbox' style="width: 30%;" autocomplete="off" />
                            <input id='filterCIN' placeholder="CIN/LLPIN/Registration" class='k-textbox' style="width: 20%;" autocomplete="off" />
                        </div>

            </text>);
            })*@
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
              })
        .Read(read => read.Url("/api/EntityMasterAPI/GetEntityForBOD").Type(HttpVerbs.Get))
                       ).HtmlAttributes(new { @style = "width:100%" })
                )

            </div>
        </div>

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-D")
        .Position(TooltipPosition.Bottom)
        .Width(100)
        .AutoHide(true)
        .Content("Board of Director")
        )

    </div>
</div>

<script>
    function OpenDirectorMaster(e) {
        e.preventDefault();
        $("#wndBODLIST").attr("style", "min-height:100px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $("#wndBODLIST").kendoWindow({
            title: "BOD" + " " + "in" + " " + [dataItem.EntityName],
        });
        var direction = "GetDirectorForEntity?Entity_Id=" + dataItem.Id;
        var wnd = $("#wndBODLIST").data("kendoWindow");
        var opts = wnd.options;
        wnd = $("#wndBODLIST").kendoWindow({
            title: "Director Master",
            pinned: true,
            actions: ["Close"],
            content: direction,
            width: "90%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { OnOpen1(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                OnRefresh1();
            }
        }).data("kendoWindow");
        opts.width = "80%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function onRowBound(e) {
        GetICons();
        var grid = $("#gridKendo").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })
    }

    function OnOpen1(e) {
        var wnd = $("#wndBODLIST").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnRefresh1() {
        var wnd = $("#wndBODLIST").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }
</script>
