﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMBoard_Director
<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
   

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" id="mytab1" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Director</a></li>
                        <li role="presentation" id="mytab2"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Quorum</a></li>
                        <li role="presentation" id="mytab3"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Director Age Limit</a></li>
                        <li role="presentation" id="mytab4"><a href="#Section4" aria-controls="messages1" role="tab" data-toggle="tab">Meeting</a></li>
                    </ul>


                    <div class="tab-content tabs">
                        <div role="tabpanel" class="tab-pane fade in active" id="Section1">

                            @Html.Partial("_PartialViewDirector_Details", Model)

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section2">
                            @Html.Partial("_Rule_Quorum", Model.Quorum)
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section3">
                            @Html.Partial("_PartialViewAge", Model)
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section4">
                            @Html.Partial("_Rule_Meeting", Model.MeetingDetails)
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>