﻿@using Kendo.Mvc.UI
@model BM_ManegmentServices.VM.MeetingAttendance_VM
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AVANTIS - Products that simplify">
    <meta name="author" content="FortuneCookie - Development Team">
    <title>@ViewBag.Title</title>
    @*<title>DASHBOARD :: AVANTIS - Products that simplify</title>*@
    <!-- Bootstrap CSS -->

    <link href="~/NewCSS/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap theme -->
    <link href="~/NewCSS/bootstrap-theme.css" rel="stylesheet" />

    <link href="~/NewCSS/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- full calendar css-->
    <!-- owl carousel -->
    <link type="text/css" href="@Url.Content("~/NewCSS/owl.carousel.css")" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/NewCSS/stylenew.css" rel="stylesheet" type="text/css" />
    <link href="~/NewCSS/jquery-ui-1.10.4.min.css" rel="stylesheet" type="text/css" />


    <link href="~/Newjs/bxslider/jquery.bxslider.css" rel="stylesheet" type="text/css" />

    <link href="~/NewCSS/colorbucket.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Newjs/jquery.js"></script>

    <script type="text/javascript" src="~/Newjs/jquery-ui-1.9.2.custom.min.js"></script>

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/NewCSS/SimpleIcons.css" rel="stylesheet" />
    <link href="~/Content/css/kendo/2014.2.903/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/kendo/2014.2.903/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/kendo/2014.2.903/kendo.web.min.js"></script>
    <script src="~/Scripts/kendo/2014.2.903/kendo.all.min.js" type="text/javascript"></script>
    <link href="~/NewCSS/kendo.default.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/2014.2.903/kendo.aspnetmvc.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD50uFhROVysfZducuIgGl1ltBV3Hx-Ig8"></script>
    @*<link href="~/CSS/Kendouicss.css" rel="stylesheet" />*@


    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/css/Kendouicss.css" rel="stylesheet" />
    <script src="~/Scripts/BM_Validation/BM-requiredIf.js"></script>

    <title>@ViewBag.Title</title>

    <style>
             .k-grid-edit {
            height: 32px;
            width: 33px;
            padding: 6px 0px 10px 0;
            /*white-space: nowrap;*/
            overflow: hidden;
            /*border-radius: 20px;*/
        }

        .k-grid-View {
            height: 32px;
            width: 33px;
            padding: 6px 0px 10px 0;
            /*white-space: nowrap;*/
            overflow: hidden;
            /*border-radius: 20px;*/
        }

        .k-grid-Download {
            height: 32px;
            width: 33px;
            padding: 6px 0px 10px 0;
            /*white-space: nowrap;*/
            overflow: hidden;
            /*border-radius: 20px;*/
        }

        #theImg1 {
            margin-top: -40%;
            margin-left: -15%;
            margin-bottom: -23%;
        }
         #theImgnotes {
           margin-top: -19%;
        margin-left: -1%;
        margin-bottom: 0%;
        }

        #theImg3 {
            margin-top: -40%;
            margin-left: -15%;
            margin-bottom: -23%;
        }

        #theImg2 {
            margin-top: -40%;
            margin-left: 3%;
            margin-bottom: -17%;
        }

        .k-grid-delete {
            height: 32px;
            width: 33px;
            padding: 5px 0px 10px 0;
            overflow: hidden;
        }

        .fieldlist {
            margin: 0 0 -2em;
            padding: 0;
        }

            .fieldlist li {
                list-style: none;
                padding-bottom: 2em;
            }

            .fieldlist label {
                display: block;
                padding-bottom: 1em;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 12px;
                color: #444;
            }

        .mt30 {
            margin-top: 18px;
        }

        .k-grid-add {
            float: right;
        }

    </style>

    <style type="text/css">
        #sidebar-small {
            /*width: 99px;
            background: #fff;
            z-index: 9999;
            display: none;*/
            width: 85px;
            /*height: 793px;*/
            box-shadow: 0px 4px 13px 0 rgba(10, 10, 10, 0.11);
            background-color: white;
        }

        .newtestcss {
            position: fixed;
            left: 248px;
            background: white;
            width: 250px !important;
            z-index: 15;
            border: 1px solid #e5e5e5;
        }

            .newtestcss > li {
                padding: 5px;
            }

        .nicescroll-rails {
            width: 11px !important;
        }

            .nicescroll-rails > div {
                width: 10px !important;
                background-color: #1FD9F7 !important;
            }

        ul.level1.gw-nav.gw-nav-list.static {
            width: 100% !important;
        }

        #CMPMenuBar a.level1 {
            margin-left: 5px;
        }

        .chosen-container .chosen-results {
            max-height: 150px !important;
        }

        ul.sidebar-menu li a {
            text-decoration: none;
            display: block;
            padding: 10px 0 10px 10px;
            font-size: 16px;
            font-weight: 300;
            outline: 0;
            transition: all .3s ease;
        }
    </style>

    <style>
        .k-grid .radio-item {
            display: inline-block;
            position: relative;
            padding: 0 6px;
            margin: 10px 0 0;
        }

            .k-grid.radio-item input[type='radio'] {
                display: none;
            }

            .k-grid.radio-item label {
                color: #666;
                font-weight: normal;
            }

                .k-grid.radio-item label:before {
                    content: " ";
                    display: inline-block;
                    position: relative;
                    top: 5px;
                    margin: 0 5px 0 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 11px;
                    border: 2px solid #004c97;
                    background-color: transparent;
                }

            .k-grid.radio-item input[type=radio]:checked + label:after {
                border-radius: 11px;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 9px;
                left: 10px;
                content: " ";
                display: block;
                background: #004c97;
            }
    </style>

    <style>
        .k-state-selected {
            color: #fff;
            background-color: #f3f3f3;
            border-color: #1a87cd;
        }

            .k-panelbar > li.k-state-default > .k-link.k-state-selected, .k-panelbar > li > .k-state-selected, .k-state-selected > .k-link {
                color: #515967;
            }

        .k-block, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header {
            background-color: white;
            /*width: 1423px;
        height: 64px;
        background-color:aqua;*/
        }

            .k-autocomplete, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-dropdown, .k-dropdowntree, .k-listbox, .k-multiselect, .k-numerictextbox, .k-selectbox, .k-textbox, .k-timepicker, .k-toolbar .k-split-button {
                position: relative;
                display: inline-block;
                width: 9.4em;
            }
    </style>

    <style>
        .container1 {
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            /*cursor: pointer;*/
            font-size: 14px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default radio button */
            .container1 input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

        /* Create a custom radio button */
        .checkmark1 {
            position: absolute;
            top: 0;
            left: 0;
            height: 17px;
            width: 17px;
            border: solid 2px #666666;
            background-color: white;
            border-radius: 50%;
        }

        /* On mouse-over, add a grey background color */
        .container1:hover input ~ .checkmark1 {
            background-color: #1976d2;
        }

        /* When the radio button is checked, add a blue background */
        .container1 input:checked ~ .checkmark1 {
            background-color: white;
            border: solid 2px #1976d2;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark1:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .container1 input:checked ~ .checkmark1:after {
            display: block;
        }

        /* Style the indicator (dot/circle) */
        .container1 .checkmark1:after {
            top: 3px;
            left: 3px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: #1976d2;
        }
    </style>

    <style>
        .k-primary[disabled], .k-state-disabled .k-primary, .k-state-disabled .k-primary:hover {
            color: #191818;
            border-color: #e6e6e6;
            background-color: #f1f1f1;
            cursor: not-allowed;
        }
    </style>



    <script>
        //$(document).ready(function () {
        //
        //    $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
        //
        //        e.preventDefault();
        //        $(this).siblings('a.active').removeClass("active");
        //        $(this).addClass("active");
        //        var index = $(this).index();
        //        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        //        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
        //    });
        //});

        function GetImage(did, file) {
            if (did == 0) {
                return "/Images/User-Profile-pic.png";
            }
            else {
                return "/Areas/BM_Management/Documents/Director/" + did + "/" + file;
            }
        }
    </script>

    <style>
        .wrapper {
            display: inline-block;
            width: 98%;
            margin-left: 1.8%;
        }

        p {
            color: black;
        }

        label {
            color: black;
        }

        .mt30 {
            margin-top: 2%;
        }
        /*  bhoechie tab */
        div.bhoechie-tab-container {
            z-index: 10;
            background-color: #ffffff;
            padding: 0 !important;
            border-radius: 4px;
            -moz-border-radius: 4px;
            border: 1px solid #ddd;
            /*margin-top: 20px;*/
            /*margin-left: 50px;*/
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
            -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            background-clip: padding-box;
            opacity: 0.97;
            filter: alpha(opacity=97);
        }

        div.bhoechie-tab-menu {
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;
        }

            div.bhoechie-tab-menu div.list-group {
                margin-bottom: 0;
            }

                div.bhoechie-tab-menu div.list-group > a {
                    margin-bottom: 0;
                }

                    div.bhoechie-tab-menu div.list-group > a .glyphicon,
                    div.bhoechie-tab-menu div.list-group > a .fa {
                        color: #5A55A3;
                    }

                    div.bhoechie-tab-menu div.list-group > a:first-child {
                        border-top-right-radius: 0;
                        -moz-border-top-right-radius: 0;
                    }

                    div.bhoechie-tab-menu div.list-group > a:last-child {
                        border-bottom-right-radius: 0;
                        -moz-border-bottom-right-radius: 0;
                    }

                    div.bhoechie-tab-menu div.list-group > a.active,
                    div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
                    div.bhoechie-tab-menu div.list-group > a.active .fa {
                        /*background-color: #4a92d7;
                        background-image: #5A55A3;
                        color: #ffffff;*/
                        width: 85px;
                        height: 57px;
                        opacity: 0.34;
                        border: solid 1px #eeeeee;
                        background-color: #bee3f9;
                    }

                        div.bhoechie-tab-menu div.list-group > a.active:after {
                            content: '';
                            position: absolute;
                            left: 100%;
                            top: 50%;
                            margin-top: -13px;
                            border-left: 0;
                            border-bottom: 13px solid transparent;
                            /*border-top: 13px solid transparent;
                            border-left: 10px solid #6edbe4;*/
                        }

        div.bhoechie-tab-content {
            background-color: #ffffff;
            /* border: 1px solid #eeeeee; */
            /*padding-left: 20px;
          padding-top: 10px;*/
        }

        div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
            display: none;
        }

        .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
            z-index: 2;
            color: #fff;
            /*background-color: #007aff;*/
            border-color: #ffffff;
        }
    </style>

    <style>
        .Dashboard-white-widget {
            background: #fff;
            padding: 13px 10px 10px;
            margin-bottom: 0px;
            border-radius: 10px;
        }

        .customer-photo {
            display: inline-block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-size: 75px 65px;
            background-position: center center;
            vertical-align: middle;
            line-height: 32px;
            box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin-left: 5px;
        }

        .customer-name {
            display: inline-block;
            vertical-align: middle;
            line-height: 32px;
            padding-left: 3px;
        }
    </style>

    <style>
        #topsection {
            width: 100%;
            height: 53px;
            box-shadow: 0px 2px 0 0 rgba(10, 10, 10, 0.04);
            background-color: white;
        }

        #topmiddlesection {
            width: 100%;
            height: 39px;
            box-shadow: 0px 2px 0 0 rgba(10, 10, 10, 0.04);
            background-color: #0076bb;
        }

        #h4bordtitle {
            font-family: CenturyGothic;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.52;
            letter-spacing: normal;
            margin-left: 6%;
            color: #4e4e4e;
        }

        #MeetingClock {
            width: 100px;
            height: 20px;
            font-family: CenturyGothic;
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.63;
            letter-spacing: normal;
            /*text-align: center;*/
            color: #4e4e4e;
        }

        #gridMeetingAttendance .k-header {
            /*width: 1423px;*/
            height: 33px;
            background-color: #1fd9e1;
        }

        .k-grid-header .k-header > .k-link, .k-header, .k-treemap-title {
            color: white;
        }

        #imgattendence {
            width: 38px;
            height: 35px;
        }

        #imgagenda {
            width: 38px;
            height: 35px;
        }
    </style>

    <script>
        function checkDate(e) {
            if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
                e.value = '';
            }
        }

        $("#Datepicker").removeAttr("data-val-date");

        $("#Datepicker").attr("readonly", true);


        $("#Datepicker").removeAttr("data-val-date");


        if ($("#Datepicker").val() == "01/01/0001") {
            $("#Datepicker").val('');
        }
        function attendenceRequestend(e) {

            if(e.type=="create" || e.type=="update")
            {
                $('#gridMeetingAttendance').data('kendoGrid').dataSource.read();
                $('#gridMeetingAttendance').data('kendoGrid').refresh();
                alert("Attendance save successfully")
                location.reload();
            }
        }

        function vottingRequestend(e)
        {
            if(e.type=="create" || e.type=="update")
            {
                $('#gridAgendaVoting').data('kendoGrid').dataSource.read();
                $('#gridAgendaVoting').data('kendoGrid').refresh();
                alert("vote save successfully")
            }
        }
        function nottingRequestend(e)
        {
            if(e.type=="create" || e.type=="update")
            {
                $('#gridAgendaNoting').data('kendoGrid').dataSource.read();
                $('#gridAgendaNoting').data('kendoGrid').refresh();
                alert("notingote save successfully")
            }
        }

        function getdateclock() {

            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            if (h < 10) {
                h = "0" + h
            }
            var ampm = h >= 12 ? 'PM' : 'AM';
            h = h % 12;
            h = h ? h : 12;

            if (m < 10) {
                m = "0" + m;
            }
            if (s < 10) {
                s = "0" + s;
            }

            $("#MeetingClock").html(h + " : " + m + ampm);
            setTimeout(function () {
                getdateclock()
            }, 500);
        }


        function btnStartMeeting(MeetingId) {

            var MeetingDate = kendo.toString($("#Datepicker").data("kendoDatePicker").value(), 'd');
            var MeetingTime = kendo.toString($("#TimePicker").data("kendoTimePicker").value(), 'hh:mm tt');
            var startstopeDate = { MeetingId: MeetingId, StartDate: MeetingDate, StartTime: MeetingTime }
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveStartMeeting", "MainMeeting")',
                data: startstopeDate,
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data.startstopeDateVM.MeetingStartDate != "") {
                        document.getElementById('DivMeetingPREbuttons').style.display = 'block';
                        document.getElementById('DivMeetingSbuttons').style.display = 'none';
                        document.getElementById('DivStartMeeting').style.display = 'block';
                        getdateclock();
                    }
                    else {
                        document.getElementById('DivMeetingPREbuttons').style.display = 'none';
                        document.getElementById('DivMeetingSbuttons').style.display = 'block';
                        document.getElementById('DivStartMeeting').style.display = 'none';
                    }
                }
            })
        }

        function btnPauseMeeting(meetingId) {
            document.getElementById("DivMeetingReson").style.display = 'block';
            document.getElementById("btnEndMeeting").style.display = 'none';
        }

        function btnReasonforPause(obj, MeetingId) {
            var MeetingDate = kendo.toString($("#Datepicker").data("kendoDatePicker").value(), 'd');
            var MeetingTime = kendo.toString($("#TimePicker").data("kendoTimePicker").value(), 'hh:mm tt');
            var PauseTime = $("#MeetingClock").html();
            var ReasonforPause = obj.value;
            var startstopeDate = { MeetingId: MeetingId, StartDate: MeetingDate, StartTime: MeetingTime, PauseTime: PauseTime, ReasonforPause: ReasonforPause }

            $.ajax({
                type: "POST",
                url: '@Url.Action("SavePauseMeeting", "MainMeeting")',
                data: startstopeDate,
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (result) {

                    if (result.startstopeDateVM.IsPause == true) {
                        document.getElementById("imgPause").style.display = 'none';
                        document.getElementById("imgResume").style.display = 'block';
                        document.getElementById("btnEndMeeting").style.display = 'block';
                    }
                    else if (result.startstopeDateVM.IsPause == false) {
                        document.getElementById("imgPause").style.display = 'block';
                        document.getElementById("imgResume").style.display = 'none';
                        document.getElementById("btnEndMeeting").style.display = 'none';
                    }
                }
            })
        }

        function btnResumeMeeting(MeetingId) {

            var MeetingDate = kendo.toString($("#Datepicker").data("kendoDatePicker").value(), 'd');
            var MeetingTime = kendo.toString($("#TimePicker").data("kendoTimePicker").value(), 'hh:mm tt');
            var ResumeTime = $("#MeetingClock").html();
            var startstopeDate = { MeetingId: MeetingId, StartDate: MeetingDate, StartTime: MeetingTime, ResumeTime: ResumeTime }

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveResumeMeeting", "MainMeeting")',
                data: startstopeDate,
                dataType: "json",
                cache: false,
                success: function (data) {

                    if (data.startstopeDateVM.IsPause == true) {
                        document.getElementById("imgPause").style.display = 'none';
                        document.getElementById("imgResume").style.display = 'block';
                        document.getElementById("btnEndMeeting").style.display = 'block';
                    }
                    else if (data.startstopeDateVM.IsPause == false) {
                        document.getElementById("imgPause").style.display = 'block';
                        document.getElementById("imgResume").style.display = 'none';
                        document.getElementById("btnEndMeeting").style.display = 'none';
                        document.getElementById("DivMeetingReson").style.display = 'none';
                        document.getElementById("btnEndMeeting").style.display = 'block';
                    }
                }
            })
        }

        function btnEndMeeting(obj, MeetingId) {

            $("#wndAgendasummary").attr("style", "min-height:100px;");

            var direction = "OpenAgendaSummary?MeetingId=" +@Model.MeetingId;

            var wnd = $("#wndAgendasummary").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndAgendasummary").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "80%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                }
            }).data("kendoWindow");
            opts.width = "80%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }

        function btnConcludeMeeting(MeetingId)
        {
            var MeetingDate = kendo.toString($("#Datepicker").data("kendoDatePicker").value(), 'd');
            var EndDate=kendo.toString($("#TimePicker").data("kendoTimePicker").value(), 'hh:mm tt');
            var EndTime=$("#MeetingClock").html();;
            var startstopeDate = { MeetingId: MeetingId,EndDate:EndDate,EndTime:EndTime }

            $.ajax({
                type: "POST",
                url: '@Url.Action("ConcludeMeeting", "MainMeeting")',
                data: startstopeDate,
                dataType: "json",
                cache: false,
                success: function (data) {
                    debugger;
                    if(data!=null)
                    {
                        window.location.href = "@Url.Action("Meetings", "Meetings")";
                    }
                }
            })
        }
        function btnAdjournedMeeting(MeetingId)
        {
            var MeetingDate = kendo.toString($("#Datepicker").data("kendoDatePicker").value(), 'd');
            var EndDate=kendo.toString($("#TimePicker").data("kendoTimePicker").value(), 'hh:mm tt');
            var EndTime=$("#MeetingClock").html();;
            var startstopeDate = { MeetingId: MeetingId,EndDate:EndDate,EndTime:EndTime }

            $.ajax({
                type: "POST",
                url: '@Url.Action("Adjourned", "MainMeeting")',
                data: startstopeDate,
                dataType: "json",
                cache: false,
                success: function (data) {
                    debugger;
                    if(data!=null)
                    {
                        window.location.href = "@Url.Action("Meetings", "Meetings")";
                    }
                }
            })
        }

        function openAgendaTab(e) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CheckforChairmanMeeting", "MainMeeting")',
                data: {MeetingId:@Model.MeetingId},
                dataType: "json",
                cache: false,
                success: function (data) {

                    if(data=="Chairman not present for this meeting !Please Elect one chairman")
                    {
                        alert(data);
                        direction = "OpenChairmanElection?MeetingId=" + "@Model.MeetingId"+"&ParticipantId="+@Model.ParticipantId;
                        var wnd = $("#PopupMeetingChairmanelection").data("kendoWindow");
                        var opts = wnd.options;
                        wnd = $("#PopupMeetingChairmanelection").kendoWindow({
                            content: direction,
                            visible: false,
                            modal: true,
                            close: function (e) {
                                $(this.element).empty();

                                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                            },
                            open: function (e) {

                                $(this.element).closest(".k-window").css("position", "fixed")
                                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                            }
                        }).data("kendoWindow");
                        opts.width = "30%";
                        wnd.setOptions(opts);
                        wnd.center();
                        wnd.refresh(direction);
                        wnd.open();
                    }
                    else
                    {
                        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                        $("div.bhoechie-tab>div.bhoechie-tab-content").next('.bhoechie-tab-content').addClass("active");
                        $("#attendencetab").removeClass("active");
                        $("#agendatab").addClass("active");
                    }

                }
            })
        }

        function setDataItemforAttendance(item)
        {
            var grid = $("#gridMeetingAttendance").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() == "A") {
                dataItem.Attendance = "A";
            } else if ($(item).val() == "P") {
                dataItem.Attendance = "P";
            }
            dataItem.dirty = true;
        };

        function setDataItemforRemark(item)
        {

            var grid = $("#gridMeetingAttendance").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);

            if ($(item).val() !="") {
                dataItem.Remark = $(item).val();
            }

            dataItem.dirty = true;
        };

        function setDataItemforRemarkCircular(item)
        {
            var grid = $("#gridMeetingAttendance").data("kendoGrid");
            var row = $(item).closest("tr");
            var dataItem = grid.dataItem(row);
            dataItem.Remark = $(item).val();
            dataItem.dirty = true;
        }
    </script>

    <script>
        function btnAttendencePrev(MeetingId)
        {
            debugger;
            direction = "OpenAttendencePriview?MeetingId=" +@Model.MeetingId;
            var wnd = $("#PopupAttendencePriview").data("kendoWindow");
            var opts = wnd.options;
            wnd = $("#PopupAttendencePriview").kendoWindow({
                content: direction,
                visible: false,
                modal: true,
                close: function (e) {
                    $(this.element).empty();

                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                },
                open: function (e) {

                    $(this.element).closest(".k-window").css("position", "fixed")
                    $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                }
            }).data("kendoWindow");
            opts.width = "85%";
            opts.height = "500px";
            wnd.setOptions(opts);
            wnd.center();
            wnd.refresh(direction);
            wnd.open();
        }
    </script>
</head>

<body>
    <div>
        <section id="container" class="">
            <header class="gray-bg" style="max-height:5px;">
                <div class="nav">
                    <!--  search form start -->
                    <ul class="nav top-menu">
                        <li>
                            <div class="toggle-nav" style="float: right; padding-top: 0px !important;">
                                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">

                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--  search form end -->
                </div>

            </header>

            <div class="row" id="topsection">
                <section class="wrapper">
                    @*<div class="col-md-1"></div>*@
                    <div class="col-md-11"><h4 id="h4bordtitle"><b>@Model.startstopeDateVM.MeetingType.ToUpper() MEETING NO_@Model.startstopeDateVM.MeetingSrNo </b></h4></div>
                    <div class="col-md-1">
                        <img src="~/Images/Close Icon.png" style="float:right;width: 25%;cursor:pointer" onclick="CloseMeetingUI()" />
                    </div>
                </section>
            </div>

            <div class="row " id="topmiddlesection">
                <section class="wrapper">
                    <div class="col-md-12 text-center">
                        <h4 style="color:white"><b>@Model.startstopeDateVM.EntityName</b></h4>
                    </div>
                </section>
            </div>


            <aside>
                <div id="sidebar-small" class="nav-collapse" style="display:block;top: 5px;">
                    <!--logo start-->
                    <a class="logo" style="height:84px; padding: 10px 0 0 10px;" href="">
                        @*<img src="../../img/Avantislogosmall.png" alt="Avantis" style="padding: 10px 0 0 6px;" />*@
                        <img src="@Url.Content("../../img/Avantislogosmall.png")" alt="Avantis" style="padding: 10px 0 0 6px;" />
                    </a>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12  bhoechie-tab-container">
                            <div class="col-lg-12 col-md-12  bhoechie-tab-menu">
                                <div class="list-group">
                                    <a href="#" class="list-group-item active text-center" id="attendencetab">
                                     
                                        <img src="~/img/Attendance Icon.png" id="imgattendence" />
                                    </a>
                                    <a href="#" class="list-group-item text-center" id="agendatab">
                                        <img src="~/img/Agenda Icon.png" id="imgagenda" />
                                      
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>

            <div class="clearfix" style="height: 12px;"></div>
            @if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "HDCS")
            {
                <div id="DIVShawonlyCS">
                    <section class="wrapper">
                        <div class="row Dashboard-white-widget" style="margin-left: 5%;">
                            <div class="col-md-12 colpadding0">

                                <div class="col-md-3 colpadding0">
                                    <div class="col-md-6 colpadding0">
                                        @(Html.Kendo().DatePicker()
.Name("Model.startstopeDateVM.StartDate")
.Value(Model.startstopeDateVM.MeetingDueDate).Format("dd/MM/yyyy")
.HtmlAttributes(new { style = "width: 95%", title = "datepicker", @Id = "Datepicker", @onchange = "checkDate(this)" })
                                        )
                                    </div>
                                    <div class="col-md-4 colpadding0">
                                        @(Html.Kendo().TimePicker()
.Name("Model.startstopeDateVM.StartTime")
.Value(Model.startstopeDateVM.MeetingDueTime).Format("hh:mm tt")
.HtmlAttributes(new { style = "width: 99%", title = "timepicker", @Id = "TimePicker" })
                                        )
                                    </div>
                                </div>

                                <div class="col-md-7 colpadding0">
                                    <div id="DivMeetingSbuttons">

                                        <div class="col-md-2 colpadding0">
                                            <button type="button" id="btnstartMeeting" class="k-primary k-button k-grid-update k-button-icontext" onclick="btnStartMeeting(@Model.MeetingId)">Start</button>
                                        </div>

                                    </div>

                                    <div id="DivMeetingPREbuttons" style="display:none">
                                        <div class="col-md-1 colpadding0">
                                            <div id="DIVPause">
                                                <img src="~/Images/Pause Button.png" style="width:35px;height:35px;cursor: pointer;" onclick="btnPauseMeeting(@Model.MeetingId)" id="imgPause" />
                                            </div>
                                            <div id="DIVPlay">
                                                <img src="~/Images/Start Button.png" style="width:35px;height:35px;display:none; cursor: pointer;" onclick="btnResumeMeeting(@Model.MeetingId)" id="imgResume" />
                                            </div>
                                        </div>

                                        <div id="DivMeetingReson" style="display:none">
                                            <div class="col-md-6 colpadding0">
                                                @Html.Kendo().TextBoxFor(m => m.startstopeDateVM.ReasonforPause).HtmlAttributes(new { @style = "width:100%", @onchange = "btnReasonforPause(this," + Model.MeetingId + ")" })
                                            </div>
                                        </div>

                                        <div class="col-md-2 colpadding0">
                                            <button type="button" id="btnEndMeeting" class="k-primary k-button k-grid-update k-button-icontext" style="float: right;" onclick="btnEndMeeting(this,@Model.MeetingId)">End</button>
                                        </div>

                                        <div class="col-md-2 colpadding0">
                                            <button type="button" id="btnAdjourn" class="k-primary k-button k-grid-update k-button-icontext" style="float: right;" onclick="btnAdjournedMeeting(@Model.MeetingId)">Adjourn</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <h4 id="MeetingClock" style="width: 100%; /*border: 1px solid #e1e5e9; */ margin-top: 8%; text-align:right"><b></b></h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            }
            <div id="DivStartMeeting">
                <section class="wrapper">
                    <div class="row Dashboard-white-widget colpadding0" style="margin-left: 5%;">
                        <div class="col-md-12 colpadding0">
                           
                            <div class="col-lg-12 col-md-12 colpadding0  bhoechie-tab">
                              
                                <div class="bhoechie-tab-content active">
                                    @Html.Partial("_MeetingAttendance", Model)
                                </div>
                              
                                <div class="bhoechie-tab-content">
                                    @Html.Partial("_MeetingAgenda", Model.MeetingId)
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>


    <script type="text/javascript">


        function Displays() {
            $('#updateProgress').show();
            setTimeout(function() {  $("#updateProgress").hide(); $("#updateProgress").html(); }, 3000);
            return true;
        };

        function loadAttendence(meetingId)
        {
            $("#DIVAttendenceMeeting").load('@Url.Action("LoadAttendence","MainMeeting")'+'?MeetingId='+@Model.MeetingId )
        }

        function loadAgenda(meetingId)
        {
            $("#DIVAttendenceMeeting").load('@Url.Action("LoadAgenda", "MainMeeting")' + '?MeetingId=' + @Model.MeetingId )
        }
        function CloseMeetingUI()
        {
            window.location.href = "@Url.Action("Meetings", "Meetings")";
        }
    </script>

    <script>
        function onOpenWindow(e) {
            var wnd = $("#"+e).data("kendoWindow");
            kendo.ui.progress(wnd.element, true);
        }

        function onRefreshWindow(e) {
            var wnd = $("#"+e).data("kendoWindow");
            kendo.ui.progress(wnd.element, false);
        }
    </script>
</body>
@(Html.Kendo().Window().Name("PopupMeetingChairmanelection").Width(25).Height(150).Draggable().Modal(true).Visible(false).Resizable().Title("Chairman Elections").Actions(actions => actions.Close()))

@(Html.Kendo().Window().Name("PopupAttendencePriview").Width(25).Height(150).Draggable().Modal(true).Visible(false).Resizable().Title("PRIVIEW").Actions(actions => actions.Close()))

@(Html.Kendo().Window().Name("wndAgendasummary").Title("Agenda Summary").Visible(false).Modal(true).Draggable(true).Scrollable(false).Pinned(true))
</html>
<script>
    $(document).ready(function () {
        var myWindow = $("#PopupMeetingChairmanelection");

        $("#open").click(function (e) {
            myWindow.data("kendoWindow").open();
        });

        $("#close").click(function (e) {
            myWindow.data("kendoWindow").close();
        });

        $("#refresh").click(function (e) {
            myWindow.data("kendoWindow").refresh();
        });

        $("#center").click(function (e) {
            myWindow.data("kendoWindow").center();
        });

        $("#pin").click(function (e) {
            myWindow.data("kendoWindow").pin();
        });

        $("#unpin").click(function (e) {
            myWindow.data("kendoWindow").unpin();
        });
    });
</script>

<script>
    function LoadMainContaint(AgendaId, obj) {

        clear(obj);
        obj.style.background = "#0076bb";
        obj.children[0].children[0].style.color="white"
        //obj.children[0].children[1].style.color="white"
        obj.children[1].children[0].children[0].style.color="white"
        //obj.style.border = "3px #eae7e7";

        $("#DIVloadAgendaMainContaint").load('@Url.Action("GetAgendaById", "MainMeeting")' + '?AgendaId=' + AgendaId+"&MeetingId="+@Model.MeetingId)

    }
    function clear(obj) {

        divItems = document.getElementsByClassName("item");
        for (var i = 0; i < divItems.length; i++) {
            var item = divItems[i].childNodes[1].childNodes[1];
            item.style.backgroundColor = 'white';
            item.children[0].children[0].style.color="black"
            //item.children[0].children[1].style.color="black"
            item.children[1].children[0].children[0].style.color="black"
        }
    }
    $('.main-content .owl-carousel').owlCarousel({
        stagePadding: 50,
        loop: false,
        margin: 10,
        nav: true,
        navText: [
            '<i class="fa fa-angle-left" aria-hidden="true"></i>',
            '<i class="fa fa-angle-right" aria-hidden="true"></i>'
        ],
        navContainer: '.main-content .custom-nav',
        responsive: {

            1000: {
                items: 8
            }
        },

    });

</script>
@if (Model.startstopeDateVM != null)
{

    if (Model.startstopeDateVM.StartDate != null)
    {

        <script>
            document.getElementById('DivMeetingPREbuttons').style.display = 'block';
            document.getElementById('DivMeetingSbuttons').style.display = 'none';
            document.getElementById('DivStartMeeting').style.display = 'block';
            getdateclock();
        </script>
    }
    else
    {
        <script>
            document.getElementById('DivMeetingPREbuttons').style.display = 'none';
            document.getElementById('DivMeetingSbuttons').style.display = 'block';
            document.getElementById('DivStartMeeting').style.display = 'none';
        </script>
    }
}
@if (Model.startstopeDateVM != null)
{
    if (Model.startstopeDateVM.IsPause == true)
    {
        <script>
            document.getElementById("imgPause").style.display = 'none';
            document.getElementById("imgResume").style.display = 'block';
            document.getElementById("btnEndMeeting").style.display = 'block';

        </script>
    }
    else
    {
        <script>
            document.getElementById("imgPause").style.display = 'block';
            document.getElementById("imgResume").style.display = 'none';
            document.getElementById("btnEndMeeting").style.display = 'block';
            document.getElementById("DivMeetingReson").style.display = 'none';
        </script>
    }
}

<script>
    $("#btnSave_MeetingAttendance").kendoButton({
        click: function (e) {

            var grid1 = $("#gridMeetingAttendance").data("kendoGrid");
            grid1.saveChanges();
            grid1.refresh();
        }
    });
</script>


