﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.DetailsOfInterest



<script>

    //$(document).ready(function () {
    //    $.ajax({
    //        url: "/api/DirectorMasterAPI/GetBodyCorporateName",
    //        type: "GET",
    //        method: "GET",

    //        dataType: "json",
    //        success: function (data) {
    //            debugger;
    //            $("#BodyCorporateName").kendoAutoComplete({
    //                dataSource: data,
    //                filter: "contains",
    //            });
    //        }
    //    });

    //});

</script>
<script>
    function ddlEntityNewDataboundData(){
       ddlEntity_Id_Changed();
    }
    function changeDesignation(obj) {

        debugger;
        var ddldegignationId = $("#DirectorDesignationId").data("kendoDropDownList");
        var valofdesination = ddldegignationId.value();
        var ddlNatureofIntrest = $("#NatureOfInterest").data("kendoDropDownList");
        var valofIntrest = ddlNatureofIntrest.value();

        var ddlentitytypeId = $("#TypeOfEntity").data("kendoDropDownList");
        var valofentitytype = ddlentitytypeId.value();

        debugger;
        if (valofentitytype == "3") {

            if (valofdesination == "13") {
                $("#divllpifpartner").show();
                $("#divifDirector").hide();
                $("#BodyCorporateName").removeAttr('readonly');
            }
            else if (valofIntrest == "3") {
                //$("#divllpifpartner").show();
                $("#divifDirector").hide();
                $("#divllpifpartner").hide();
                $("#BodyCorporateName").attr('readonly', 'readonly');
                $("#BodyCorporateName").css("cursure", "no-drop");
            }
            else if (valofdesination == "12") {
                //$("#divllpifpartner").show();
                $("#divifDirector").hide();
                $("#divllpifpartner").hide();
                //$("#BodyCorporateName").attr('readonly', 'readonly');
                //$("#BodyCorporateName").css("cursure", "no-drop");
            }

            else
            {
                $("#divllpifpartner").hide();
                $("#divifDirector").hide();
                $("#BodyCorporateName").attr('readonly', 'readonly');
                $("#BodyCorporateName").css("cursure", "no-drop");
            }
        }
    }


    $(document).ready(function () {
        $("#divboardofResolution").show();
        $("#divContributionofobligation").hide();
        $("#divllpifpartner").hide();
    });




    $(document).ready(function () {
        $("#btnbodycorpte").kendoTooltip({ content: "Add New Body Corporate" });
    });

    function onbegin()
    {
        var wnd = $("#wnddirDOI").data("kendoWindow");

        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function oncomplited()
    {
        debugger;
        var wnd = $("#wnddirDOI").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
        $(".k-overlay").attr('style', "opacity:0.5; display:none;");

        var _txtNameOfOther1 = $("#NameOfOther");
        var _txtCIN1 = $("#txtCIN");
        var _txtPAN1 = $("#txtPAN");
        var _Arosed1 = $("#Arosed");
        debugger;
        _txtNameOfOther1.attr('readonly', true);
        _txtCIN1.attr('readonly', true);
        _txtPAN1.attr('readonly', true);
        _Arosed1.val(moment('@Model.Arosed').format('DD/MM/YYYY'));

        //_Arosed1.val(e.model.Arosed);
        $("#Arosed").removeAttr("data-val-date");
        $("#BoardofResolution").removeAttr("data-val-date");
        $("#DateofAppointment").removeAttr("data-val-date");
        if (@Model.NatureOfInterest == 2) {
            $("#PercentagesOfShareHolding").attr('readonly', 'readonly');
            $("#PercentagesOfShareHolding").css("cursure", "no-drop");
            //$("#PercentagesOfShareHolding").val("0");
            //$("#PercentagesOfShareHolding").change()
        }
        else {
            $("#PercentagesOfShareHolding").removeAttr('readonly');
        }
        if (@Model.TypeOfEntity == 3) {
            debugger;
            $("#divboardofResolution").hide();
            $("#divContributionofobligation").show();
            $("#lblshareholder").text("% of Holding");
            $("#lblNumbershareheld").text("Contribution Accounted");
            $("#divllpifpartner").show();
            $("#divifDirector").hide();
            if (@Model.DirectorDesignationId == 13) {
                $("#BodyCorporateName").removeAttr('readonly');

            }
            else {
                $("#BodyCorporateName").attr('readonly', 'readonly');
                $("#BodyCorporateName").css("cursure", "no-drop");
            }
            if (@Model.NatureOfInterest == 3) {
                $("#divifintrested").hide();
            }
            else {
                $("#divifintrested").hide()
            }
        }
    }

</script>




<div id="example" style="height:460px !important;overflow-x:hidden;overflow-y:auto">
    <div id="window">
        <div id="divDFI">
            @using (Ajax.BeginForm("CreateDetailsofIntrest", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDFI",OnBegin="onbegin",OnComplete="oncomplited" }, new { id = "frmDOIDetails" }))
            {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Director_ID)

            <div class="row">
                <div class="col-md-12" style="display:none" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <lable id="lblsuccessI"></lable>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="display:none" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <lable id="lblerrormsgI"></lable>
                    </div>
                </div>
            </div>

            <div class="row colpadding0" style="margin-left:3%">
                <div class="col-md-12 colpadding0">

                    @if (Model.Success)
                    {
                    <div class="alert alert-success" role="alert">
                        <label class="alert-heading">@Model.Message</label>

                    </div>
                    }

                    @if (Model.Error)
                    {
                    <div class="alert alert-success" role="alert">
                        <label class="alert-heading">@Model.Message</label>

                    </div>
                    }
                    <!-- this will be the content of the popup -->
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row mt30 colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-6 colpadding0">
                                <lable class="control-label">Entity Name </lable><span style="color:red">*</span>
                                @(Html.Kendo().DropDownListFor(model => model.Entity_Id)
                                .DataValueField("Id")
                                .DataTextField("EntityName")
                                .DataSource(source =>
                                {
                                source.Read(read =>
                                {
                                read.Url("/api/DirectorMasterAPI/GetDropDownEntityForDetailsOfInterest?Director_Id=" + Model.Director_ID).Type(HttpVerbs.Get);
                                })
                                .ServerFiltering(true);
                                })
                                .Events(e => e.DataBound("ddlEntityNewDataboundData"))
                                .Value(Model.Entity_Id.ToString())
                                .OptionLabel("Select")
                                .HtmlAttributes(new { style = "width: 95%;", onchange = "ddlEntity_Id_Changed()" })
                                )
                            </div>

                            <div class="col-md-6 colpadding0">
                                <div class="col-md-1 colpadding0">
                                </div>
                                <div class="col-md-11 colpadding0">
                                    <label class="control-label">Entity Type</label><span style="color:red">*</span>

                                    @(Html.Kendo().DropDownListFor(model => model.TypeOfEntity)
                                    .DataValueField("EntityTypeId")
                                    .DataTextField("EntityTypeName")
                                    .OptionLabel("Select")
                                    .DataSource(source =>
                                    {
                                    source.Read(read =>
                                    {
                                    read.Url("/api/EntityMasterAPI/GetDropDownforEntityTypeVM").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(true);
                                    })
                                    .Value(Model.TypeOfEntity.ToString())
                                    .HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;", onchange = "ddlTypechange(this)" })
                                    )

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt30 colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-6 colpadding0">
                                <label Id="lblotherentity" class="control-label">Name of the other Entity</label><span id="spOtherEntityName" style="color:red">*</span>

                                @(Html.Kendo().TextBoxFor(m => m.NameOfOther).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.NameOfOther, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 colpadding0">
                                <div class="col-md-1 colpadding0">
                                </div>
                                <div class="col-md-11 colpadding0">
                                    <label class="control-label">Nature of Interest or concerned</label><span style="color:red">*</span>

                                    @(Html.Kendo().DropDownListFor(m => m.NatureOfInterest)
                                    .OptionLabel("Select")
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .DataSource(dataSource =>
                                    {
                                    dataSource.Read(read =>
                                    {
                                    read.Url("/api/DirectorMasterAPI/GetNatureOfInterestByEntityType").Data("filterNatureOfInterest").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(true);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;", onchange = "changeNatureOfInterest(this)" })
                                    .CascadeFrom("TypeOfEntity"))

                                    @Html.ValidationMessageFor(model => model.NatureOfInterest, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt30 colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-6 colpadding0">
                                <label id="lblcin" class="control-label">CIN</label><span id="spOtherEntityCIN" style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.CIN).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%", @id = "txtCIN", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.CIN, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 colpadding0" id="divdesignation">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <label class="control-label">Type of Designation</label><span id="sp_DesignationNew" style="color:red">*</span>
                                    @(Html.Kendo().DropDownListFor(model => model.DirectorDesignationId)
                                    .DataValueField("ID")
                                    .DataTextField("Name")
                                    .DataSource(source =>
                                    {
                                    source.Read(read =>
                                    {
                                    read.Url("/api/DesignationMasterAPI/GetDesignation").Data("filterDirectorDesignationId").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(true);
                                    })
                                    .Value(Model.DirectorDesignationId.ToString())
                                    //.OptionLabel("Select")
                                    .Events(e => e.Change("changeDesignation"))
                                    .HtmlAttributes(new { style = "width: 95%;" })
                                    .CascadeFrom("NatureOfInterest")
                                    )
                                    @Html.ValidationMessageFor(model => model.DirectorDesignationId, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mt30 colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-6 colpadding0">
                                <label class="control-label">PAN</label><span id="spOtherEntityPAN" style="color:red"></span>
                                @(Html.Kendo().TextBoxFor(m => m.PAN).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%", @id = "txtPAN", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 colpadding0" id="divifDirector">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <div>
                                        <label class="control-label">Type of Directorship</label><span id="sp_DirNew" style="color:red">*</span>
                                        @(Html.Kendo().DropDownListFor(model => model.IfDirector)
                                        .DataValueField("ID")
                                        .DataTextField("Name")
                                        .DataSource(source =>
                                        {
                                        source.Read(read =>
                                        {
                                        read.Url("/api/DesignationMasterAPI/GetDirectorTypeOfMembership").Data("filterDirectorTypeOfMembership").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(true);
                                        })
                                        .Value(Model.IfDirector.ToString())
                                        //.OptionLabel("Select")
                                        .HtmlAttributes(new { style = "width: 95%;" })
                                        .CascadeFrom("DirectorDesignationId")
                                        )
                                        @Html.ValidationMessageFor(model => model.IfDirector, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6 colpadding0" id="divllpifpartner">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">


                                    <label class="control-label">Name of Boady Corporate</label><span id="spnnameofBoadyCorporate" style="color:red"></span>

                                    <div class="col-md-8 colpadding0">
                                        @*@(Html.Kendo().TextBoxFor(x => x.BodyCorporateName).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%", autocomplete = "off" }))*@
                                        @(Html.Kendo().DropDownListFor(model => model.bodycorporateId)
                                        .DataValueField("Id")
                                        .DataTextField("Name")
                                        .DataSource(source =>
                                        {
                                        source.Read(read =>
                                        {
                                        read.Url("/api/DirectorMasterAPI/GetBodyCorporateName").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(true);
                                        })

                                        .HtmlAttributes(new { style = "width: 95%;" })

                                        )
                                    </div>
                                    <div class="col-md-2">
                                        <input type="button" class="btn btn-primary" value="New" onclick="openBodyCorporateDetails()" id="btnbodycorpte" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mt30 colpadding0">
                        <div class="col-md-12 colpadding0">


                            <div class="col-md-6 colpadding0">
                                <label class="control-label">Date when the interest arosed</label><span style="color:red">*</span>

                                @(Html.Kendo().DatePickerFor(m => m.Arosed)
                                .Max(DateTime.Today)
                                .Format("dd/MM/yyyy")
                                .ParseFormats(new List<string>
                                    () { "dd/MM/yyyy" })
                                    .HtmlAttributes(new { style = "width: 95%", @Id = "Arosed", onchange = "checkDate(this);", autocomplete = "off" })
                                    )
                                    @Html.ValidationMessageFor(model => model.Arosed, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 colpadding0" id="divifintrested">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <label class="control-label">If Interest through Relatives</label><span id="sp_intertNew" style="color:red">*</span>

                                    @Html.Kendo().MultiSelectFor(model => model.RelativeId).DataValueField("Id").DataTextField("Name").DataSource(source => { source.Read(read => { read.Url("/api/DirectorMasterAPI/GetRelativesList?Director_Id=" + @Model.Director_ID + "").Type(HttpVerbs.Get); }).ServerFiltering(false); }).HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;" })
                                    @Html.ValidationMessageFor(model => model.RelativeId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row mt30 colpadding0">
                        <div class="col-md-12 colpadding0">

                            <div class="col-md-6 colpadding0">
                                <div class="col-md-6 colpadding0">
                                    <label class="control-label" id="lbldateofappointment">Date of Appointment</label><span id="spndateofappointment" style="color:red"></span>
                                    @(Html.Kendo().DatePickerFor(m => m.DateofAppointment)
                                    .Max(DateTime.Today)
                                    .Format("dd/MM/yyyy")
                                    .ParseFormats(new List<string>
                                        () { "dd/MM/yyyy" })
                                        .HtmlAttributes(new { style = "width: 95%", @Id = "DateofAppointment", onchange = "checkDate(this);", autocomplete = "off" })
                                        )
                                </div>

                                <div class="col-md-6 colpadding0" id="divboardofResolution">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <div>
                                            <label id="lblBoardResolutionDate" class="control-label">Board Resolution Date</label><span style="color:red"></span>
                                            @(Html.Kendo().DatePickerFor(m => m.BoardofResolution)
                                            .Max(DateTime.Today)
                                            .Format("dd/MM/yyyy")
                                            .ParseFormats(new List<string>
                                                () { "dd/MM/yyyy" })
                                                .HtmlAttributes(new { style = "width: 95%", @Id = "BoardofResolution", onchange = "checkDate(this);", autocomplete = "off" })
                                                )
                                        </div>

                                    </div>
                                </div>


                                <div class="col-md-6 colpadding0" id="divContributionofobligation">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">

                                        <label class="control-label">Contribution obligation</label><span id="spnContributionobligation" style="color:red">*</span>

                                        @(Html.Kendo().TextBoxFor(x => x.ObligationofContribution).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%", autocomplete = "off", type = "number", min = "0" }))
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-5 colpadding0">
                                    <label id="lblshareholder" class="control-label">% of shareholding</label><span style="color:red" id="spanshareholding">*</span>

                                    @(Html.Kendo().TextBoxFor(m => m.PercentagesOfShareHolding).HtmlAttributes(new { @class = "k-textbox", style = "width: 70%", autocomplete = "off", type = "number", min = "0", max = "100" }))
                                    @Html.ValidationMessageFor(model => model.PercentagesOfShareHolding, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-5 colpadding0 pull-right">
                                    <label class="control-label" id="lblNumbershareheld">No. of Shares held</label><span style="color:red" id="spnsharesheld"></span>

                                    @(Html.Kendo().TextBoxFor(m => m.NumberofShares).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off", type = "number", min = "0" }))
                                    @Html.ValidationMessageFor(model => model.NumberofShares, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-md-12 colpadding0 text-center mt30">
                <button type="submit" id="saveDOI" class="btn btn-primary" >Save</button>
                <button type="button" id="saveDOIclose" class="btn btn-primary">Close</button>
            </div>
           
            }
        </div>
    </div>
</div>

<script type="text/javascript">

 

    function ddlEntity_Id_Changed() {

        var ddlEntityType = $("#Entity_Id").data("kendoDropDownList");

        var index = ddlEntityType.selectedIndex;

        var Item = ddlEntityType.dataItem(index);
        var TypeOfEntityDropDown = $("#TypeOfEntity").data("kendoDropDownList");

        var _txtNameOfOther = $("#NameOfOther");
        var _txtCIN = $("#txtCIN");
        var _txtPAN = $("#txtPAN");

        $("#spOtherEntityName").addClass("hidden");
        $("#spOtherEntityCIN").addClass("hidden");
        $("#spOtherEntityPAN").addClass("hidden");
        if (ddlEntityType.value() > 0) {
            TypeOfEntityDropDown.readonly();
            TypeOfEntityDropDown.value(ddlEntityType.dataItem(index).Entity_Type);

            _txtNameOfOther.val('');
            _txtCIN.val(ddlEntityType.dataItem(index).CIN);
            _txtPAN.val(ddlEntityType.dataItem(index).PAN);

            _txtNameOfOther.attr('readonly', true);
            _txtCIN.attr('readonly', true);
            _txtPAN.attr('readonly', true);
            TypeOfEntityDropDown.readonly();

            removeDataValidation(_txtNameOfOther);
            removeDataValidationDropDown($("#TypeOfEntity"));
            removeDataValidation(_txtCIN);
            removeDataValidation(_txtPAN);
            if (ddlEntityType.dataItem(index).Entity_Type == 3) {
                $("#lblcin").text("LLPIN");


                $("#lblshareholder").text("% of Holding");
                $("#lblNumbershareheld").text("Contribution Accounted");

                $("#divboardofResolution").hide();
                $("#divContributionofobligation").show();
            }
            else if (ddlEntityType.dataItem(index).Entity_Type == 4 || ddlEntityType.dataItem(index).Entity_Type == 5) {
                $("#lblcin").text("Registration Number");

                $("#divboardofResolution").show();
                $("#divContributionofobligation").hide();

            }
            else {
                $("#lblcin").text("CIN");
                $("#lblshareholder").text("% of shareholding");
                $("#lblNumbershareheld").text("No of Shares held");

                $("#divboardofResolution").show();
                $("#divContributionofobligation").hide();
            }

            return true;
        }
        else {
            TypeOfEntityDropDown.select(0);
            TypeOfEntityDropDown.readonly(false);

            _txtNameOfOther.val('');
            _txtCIN.val('');
            _txtPAN.val('');

            $("#spOtherEntityName").removeClass("hidden");
            $("#spOtherEntityCIN").removeClass("hidden");
            $("#spOtherEntityPAN").removeClass("hidden");

            _txtNameOfOther.attr('readonly', false);
            _txtCIN.attr('readonly', false);
            _txtPAN.attr('readonly', false);

            dataValidation(_txtNameOfOther, 'Please enter name of other entity');
            dataValidation(_txtCIN, 'Please enter CIN number');

            if ($("#TypeOfEntity").data("kendoDropDownList").value() == 3) {
                $("#lblcin").text("LLPIN Number");
                $("#lblshareholder").text("% of Holding");
                $("#lblNumbershareheld").text("Contribution Accounted");
                dataValidation(_txtCIN, 'Please enter LLPIN Number');

                $("#divboardofResolution").hide();
                $("#divContributionofobligation").show();
            }
            else if ($("#TypeOfEntity").data("kendoDropDownList").value() == 4 || $("#TypeOfEntity").data("kendoDropDownList").value() == 5) {
                $("#lblcin").text("Registration Number");
                dataValidation(_txtCIN, 'Please enter Registration Number');

                $("#divboardofResolution").show();
                $("#divContributionofobligation").hide();
            }
            else {
                $("#lblshareholder").text("% of shareholding");
                $("#lblNumbershareheld").text("No.of share Held");
                $("#lblcin").text("CIN");
                dataValidation(_txtCIN, 'Please enter CIN Number');

                $("#divboardofResolution").show();
                $("#divContributionofobligation").hide();

            }
            return false;
        }

    }

    function changeNatureOfInterest(obj) {
        debugger;
        var ddlNatureOfInterest = $("#" + obj.id).data("kendoDropDownList");
        var val = ddlNatureOfInterest.value();
        var index = ddlNatureOfInterest.selectedIndex;
        var isDirector = ddlNatureOfInterest.dataItem(index).IsDirector;
        var isMNGT = ddlNatureOfInterest.dataItem(index).IsMNGT;
        var ddlDirectorDesignationId = $("#DirectorDesignationId").data("kendoDropDownList");
        var ddlIfDirector = $("#IfDirector").data("kendoDropDownList");

        var ddlIfRelatives = $("#RelativeId").data("kendoMultiSelect");
        var ddlEntity = $("#Entity_Id").data("kendoDropDownList").value();
        debugger;
        var ddlEntityType = $("#TypeOfEntity").data("kendoDropDownList").value();

        ddlDirectorDesignationId.select(0);
        ddlIfDirector.select(0);
        ddlIfRelatives.value([]);
        removeDataValidationDropDown($("#IfDirector"));

        $("#sp_DirNew").addClass("hidden");
        $("#sp_intertNew").addClass("hidden");
        $("#sp_DesignationNew").addClass("hidden");
        if (isDirector == true || isMNGT == true) {
            ddlDirectorDesignationId.readonly(false);
            ddlIfRelatives.readonly();
            $("#sp_DesignationNew").removeClass("hidden");
            if (isDirector == true) {
                ddlIfDirector.readonly(false);
                $("#sp_DirNew").removeClass("hidden");
            }
            else {
                ddlIfDirector.readonly();
            }


            if ((ddlEntityType == 10 || ddlEntityType == 1 || ddlEntityType == 2) && (val == 2 || val == 13)) {

                $("#PercentagesOfShareHolding").attr('readonly', 'readonly');
                $("#PercentagesOfShareHolding").css("cursure", "no-drop");

                $("#PercentagesOfShareHolding").val("0");
                $("#PercentagesOfShareHolding").change();
                $("#NumberofShares").attr('readonly', 'readonly');
                $("#NumberofShares").css("cursure", "no-drop");
                $("#NumberofShares").val("");
                $("#NumberofShares").change();
                $("#divshareheld").hide();
                $("#divllpifpartner").hide();
                $("#divifDirector").show();
            }
            else if ((ddlEntityType == 5)) {

                $("#PercentagesOfShareHolding").attr('readonly', 'readonly');
                $("#PercentagesOfShareHolding").css("cursure", "no-drop");
                $("#PercentagesOfShareHolding").val("0");
                $("#PercentagesOfShareHolding").change();
                $("#NumberofShares").attr('readonly', 'readonly');
                $("#NumberofShares").css("cursure", "no-drop");
                $("#NumberofShares").val("");
                $("#NumberofShares").change();
                $("#divshareheld").hide();
                $("#divllpifpartner").hide();
                $("#divifDirector").show();
            }
            else if ((ddlEntityType == "3")) {
                debugger;
                if (val == "3") {
                    var _txtDateofAppointment = $("#DateofAppointment");
                    $("#divllpifpartner").hide();
                    $("#divifDirector").hide();
                    $("#divdesignation").hide();
                    $("#divifintrested").hide();
                    $("#spndateofappointment").text("");
                    removeDataValidation(_txtDateofAppointment);
                    $("#PercentagesOfShareHolding").removeAttr('readonly');
                    $("#NumberofShares").removeAttr('readonly');

                }
                else if(val == "3")
                {
                    var _txtDateofAppointment = $("#DateofAppointment");
                    removeDataValidation(_txtDateofAppointment);
                    $("#spndateofappointment").text("");
                }

                else {
                    $("#divdesignation").show();
                    $("#divifintrested").show();

                    $("#PercentagesOfShareHolding").removeAttr('readonly');
                    $("#NumberofShares").removeAttr('readonly');

                }
            }

            else {
                $("#PercentagesOfShareHolding").removeAttr('readonly');
                $("#NumberofShares").removeAttr('readonly');
                $("#divshareheld").show();
                $("#divllpifpartner").hide();
                $("#divifDirector").show();
                ddlDirectorDesignationId.readonly();
                ddlIfDirector.readonly();
            }
            return true;
        }
        else if (val == "7") {
            ddlDirectorDesignationId.readonly();
            ddlIfDirector.readonly();
            ddlIfRelatives.readonly(false);
            $("#divifintrested").show();
            $("#divdesignation").show();
            $("#sp_intertNew").removeClass("hidden");

            if (ddlEntityType == "3") {
               
                $("#spnContributionobligation").text("");
                $("#spanshareholding").text("");
                $("#spnsharesheld").text("");
                $("#spndateofappointment").text("");
            }
            return true;
        }
        else if (val != 2 && (ddlEntityType == 5)) {
            $("#PercentagesOfShareHolding").removeAttr('readonly');
            $("#NumberofShares").removeAttr('readonly');

        }
        else if ((ddlEntityType == "3")) {
            debugger;
            if (val == "3" || val == "16") {
                var _txtobigationcontribution = $("#ObligationofContribution");

                var _txtcontributionofAccountant = $("#PercentagesOfShareHolding");
                var _txtDateofAppointment = $("#DateofAppointment");

                var _txtperofHoldin = $("#NumberofShares");
                $("#spnsharesheld").text("*");
                $("#spnContributionobligation").text("*");
                $("#spanshareholding").text("*");
                $("#spnsharesheld").text("*");
                $("#spndateofappointment").text("*");
                dataValidation(_txtobigationcontribution, 'Please enter Contribution Obligation');
                dataValidation(_txtcontributionofAccountant, 'Please enter Contribution Accounted');
                dataValidation(_txtperofHoldin, 'Please enter % of Holding');
                dataValidation(_txtDateofAppointment, 'Please enter Date of Appointment');


                if (val == "3") {
                    $("#divllpifpartner").hide();
                    $("#divifDirector").hide();
                    $("#divdesignation").hide();
                    $("#divifintrested").hide();
                    var _txtDateofAppointment = $("#DateofAppointment");
                    $("#spndateofappointment").text("");
                    removeDataValidation(_txtDateofAppointment);
                }
                else {
                    $("#divllpifpartner").show();
                    $("#divifDirector").hide();
                    $("#divdesignation").show();
                    $("#divifintrested").show();
                }
                if(val == "4")
                {
                    var _txtDateofAppointment = $("#DateofAppointment");
                    $("#spndateofappointment").text("");
                    removeDataValidation(_txtDateofAppointment);
                }

            }


            else {
                $("#divdesignation").show();
                $("#divifintrested").show();

                $("#spnContributionobligation").text("");

                var _txtobigationcontribution = $("#ObligationofContribution");

                var _txtcontributionofAccountant = $("#PercentagesOfShareHolding");

                var _txtperofHoldin = $("#NumberofShares");
                var _txtDateofAppointment = $("#DateofAppointment");

                removeDataValidation(_txtDateofAppointment);
                removeDataValidation(_txtobigationcontribution);
                removeDataValidation(_txtcontributionofAccountant);
                removeDataValidation(_txtperofHoldin);
                $("#spnsharesheld").text("");
                $("#spanshareholding").text("");
                $("#spnsharesheld").text("");
                $("#spndateofappointment").text("");
            }
        }

        else {
            ddlDirectorDesignationId.readonly();
            ddlIfDirector.readonly();
            ddlIfRelatives.readonly();
            return false;
        }
    }

    function ddlTypechange(e) {
        debugger;

        var ddlEntity = $("#Entity_Id").data("kendoDropDownList").value();
        var ddlEntityType = $("#TypeOfEntity").data("kendoDropDownList").value();
        if (ddlEntity = -1) {
            if (ddlEntityType == 3) {
                $("#lblotherentity").text("Name of LLP");
                $("#lblcin").text("LLPIN");
                $("#lblshareholder").text("% of Holding");
                $("#lblNumbershareheld").text("Contribution Accounted");
                document.getElementById("divifDirector").style.display = "none";
                $("#spanshareholding").text("");

                $("#divboardofResolution").hide();
                $("#divContributionofobligation").show();
                $("#DirectorDesignationId").data("kendoDropDownList").readonly(false);
                $("#IfDirector").data("kendoDropDownList").readonly(false);

            }
            else if (ddlEntityType == 4) {
                $("#lblotherentity").text("Name of Trust");
                $("#lblshareholder").text("% of Capital Contribution");
                $("#lblNumbershareheld").text("CapitalContribution Amount");
                $("#lblcin").text("Registration Number");
                $("#spanshareholding").text("");

                $("#divboardofResolution").show();
                $("#divContributionofobligation").hide();

                $("#PercentagesOfShareHolding").removeAttr('readonly');
                $("#NumberofShares").removeAttr('readonly');
                var _txtDateofAppointment = $("#DateofAppointment");
                $("#spndateofappointment").text("");
                removeDataValidation(_txtDateofAppointment);
                $("#DirectorDesignationId").data("kendoDropDownList").readonly();
                $("#IfDirector").data("kendoDropDownList").readonly();
                $("#divllpifpartner").hide();
            }

            else if (ddlEntityType == 5) {
                $("#lblotherentity").text("Name of Body Corporate");
                $("#lblcin").text("Registration Number");
                $("#spanshareholding").text("");

                $("#PercentagesOfShareHolding").attr('readonly', 'readonly');
                $("#NumberofShares").removeAttr('readonly');

                $("#divboardofResolution").show();
                $("#divContributionofobligation").hide();
                var _txtDateofAppointment = $("#DateofAppointment");
                $("#spndateofappointment").text("");
                removeDataValidation(_txtDateofAppointment);
                $("#DirectorDesignationId").data("kendoDropDownList").readonly(false);
                $("#IfDirector").data("kendoDropDownList").readonly(false);
            }
            else {
                $("#lblotherentity").text("Name of Company");
                $("#lblcin").text("CIN");

                $("#lblshareholder").text("% of shareholding");
                $("#lblNumbershareheld").text("NO of Share Held");
                document.getElementById("divifDirector").style.display = "block";

                $("#divboardofResolution").show();
                $("#divContributionofobligation").hide();
                $("#DirectorDesignationId").data("kendoDropDownList").readonly(false);
                $("#IfDirector").data("kendoDropDownList").readonly(false);
            }
        }
    }

    $(document).ready(function () {


        var validator1 = $("#frmDOIDetails").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    });
</script>

<script>

    $(document).ready(function () {
        $("#DateofAppointment").removeAttr("data-val-date");
        $("#BoardofResolution").removeAttr("data-val-date");
        $("#Arosed").removeAttr("data-val-date");

        if ($("#DateofAppointment").val() == "01/01/0001") {
            $("#DateofAppointment").val('');
        }
        if ($("#Arosed").val() == "01/01/0001") {
            $("#Arosed").val('');
        }

        if ($("#BoardofResolution").val() == "01/01/0001") {
            $("#BoardofResolution").val('');
        }
        //ddlEntity_Id_Changed();
    });
    $("#saveDOIclose").click(function(z)
    {
        z.preventDefault();
        z.stopPropagation();
        $("#wndAddDirector").attr('style', "opacity:''; display:block;");
        $("#wnddirDOI").data("kendoWindow").close();
        $('#gridKendo2').data('kendoGrid').dataSource.read();
        $('#gridKendo2').data('kendoGrid').refresh();
        $('#KendoDirectorSecurityDetails').data('kendoGrid').dataSource.read();
        $('#KendoDirectorSecurityDetails').data('kendoGrid').refresh();
        
    })
</script>



@if(Model.Id>0)
{
<script>
    var _txtNameOfOther1 = $("#NameOfOther");
    var _txtCIN1 = $("#txtCIN");
    var _txtPAN1 = $("#txtPAN");
    var _Arosed1 = $("#Arosed");
    debugger;
    _txtNameOfOther1.attr('readonly', true);
    _txtCIN1.attr('readonly', true);
    _txtPAN1.attr('readonly', true);
    _Arosed1.val(moment('@Model.Arosed').format('DD/MM/YYYY'));

    //_Arosed1.val(e.model.Arosed);
    $("#Arosed").removeAttr("data-val-date");
    $("#BoardofResolution").removeAttr("data-val-date");
    $("#DateofAppointment").removeAttr("data-val-date");
    if (@Model.NatureOfInterest == 2) {
        $("#PercentagesOfShareHolding").attr('readonly', 'readonly');
        $("#PercentagesOfShareHolding").css("cursure", "no-drop");
        //$("#PercentagesOfShareHolding").val("0");
        //$("#PercentagesOfShareHolding").change()
    }
    else {
        $("#PercentagesOfShareHolding").removeAttr('readonly');
    }
    if (@Model.TypeOfEntity ==3) {
        debugger;
        $("#divboardofResolution").hide();
        $("#divContributionofobligation").show();
        $("#lblshareholder").text("% of Holding");
        $("#lblNumbershareheld").text("Contribution Accounted");
        $("#divllpifpartner").show();
        $("#divifDirector").hide();
        if (@Model.DirectorDesignationId == 13) {
            $("#BodyCorporateName").removeAttr('readonly');

        }
        else if (@Model.DirectorDesignationId == 12) {
            //$("#divllpifpartner").show();
            $("#divllpifpartner").hide();
            
           
        }
        else {
            $("#BodyCorporateName").attr('readonly', 'readonly');
            $("#BodyCorporateName").css("cursure", "no-drop");
        }
        if (@Model.NatureOfInterest == 3) {
            $("#divllpifpartner").hide();
            $("#divifDirector").hide();
            $("#divdesignation").hide();
            $("#divifintrested").hide();
            var _txtDateofAppointment = $("#DateofAppointment");
            $("#spndateofappointment").text("");
            removeDataValidation(_txtDateofAppointment);
        }
        else {
            //$("#divllpifpartner").show();
            $("#divifDirector").hide();
            $("#divdesignation").show();
            $("#divifintrested").show();
        }
        if (@Model.NatureOfInterest == 4) {
            var _txtDateofAppointment = $("#DateofAppointment");
            $("#spndateofappointment").text("");
            removeDataValidation(_txtDateofAppointment);
        }
        else if (@Model.DirectorDesignationId == 12) {
            //$("#divllpifpartner").show();
            $("#divllpifpartner").hide();
            
           
        }

    }
</script>
}
else
{
<script>
    var _txtNameOfOther1 = $("#NameOfOther");
    var _txtCIN1 = $("#txtCIN");
    var _txtPAN1 = $("#txtPAN");
    var _Arosed1 = $("#Arosed");

    var _txtNameOfOther1 = $("#NameOfOther");
    var _txtCIN1 = $("#txtCIN");
    var _txtPAN1 = $("#txtPAN");
    var _Arosed1 = $("#Arosed");

    var TypeOfEntityDropDown1 = $("#TypeOfEntity").data("kendoDropDownList");
    TypeOfEntityDropDown1.readonly();

    var DirectorDesignationId = $("#DirectorDesignationId").data("kendoDropDownList");
    //if (DirectorDesignationId.val)


    _txtNameOfOther1.attr('readonly', false);
    _txtCIN1.attr('readonly', false);
    _txtPAN1.attr('readonly', false);
    $("#Arosed").removeAttr("data-val-date");
    $("#BoardofResolution").removeAttr("data-val-date");
    $("#DateofAppointment").removeAttr("data-val-date");
</script>

}