﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_MasterVM

@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.ViewName)


<style>
    .input-validation-error {
        border: solid 1px red;
    }

    .field-validation-error {
        border: solid 1px red;
    }

    .k-invalid {
        border: solid 1px red;
    }
</style>
<script>
    function filterCountry() {
        return {
            CountryId: $("#ddlparcountry").val()
        };
    }
</script>
<script>


    $(document).ready(function () {
        loadDirectorDetails('@Model.FirstName', '@Model.LastName');

        $('[id^="panelbar"]').kendoPanelBar({
            expandMode: "single",
            collapse: cancelExpandCollapse,
        });
    });

    function loadDirectorDetails(first, last) {
        if (first != "" && first != null) {
            Colors = [
              "#42A5F5",
              "#008391",
              "#846600",
             "#CC0060",
             "#330099", ];
            var result1 = Colors[Math.floor(Math.random() * Colors.length)];
            var firstName = first;
            var lastName = last;
            var intials = firstName.charAt(0) + lastName.charAt(0);
            $(".dirimage").text(intials);
            $(".dirimage").css("background-color", result1)
            $(".dirimage").css("color", "white")
            $(".dirimage").css("text-align", "center")
        }
    }
</script>
@if (Model.Response != null)
{
    <div class="row">
        <div class="col-md-2 colpadding0">
        </div>
        <div class="col-md-8 colpadding0">
            @Html.Partial("_Response", Model.Response)
        </div>
        <div class="col-md-2 colpadding0">
        </div>
    </div>

    if (Model.Response.Success == true)
    {
        <script>
            if ("@Model.ViewName" == "DirectorAppointment") {

                var dropDownListFor = $('#Director_Id').data('kendoDropDownList');
                if (dropDownListFor != null) {
                    dropDownListFor.dataSource.read();
                }

            } else {
                var gridKendo = $('#gridKendo').data('kendoGrid');
                if (gridKendo != null) {
                    gridKendo.dataSource.read();
                }
            }
        </script>
    }
}

<div class="row" style="overflow-x:hidden">

    <div class="demo-section k-content" style="background:transparent;">
        <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_SectionDetails" data-role="panelbar" tabindex="0" role="menu" style="margin-bottom: 20px;border-radius: 4px">
            <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                <span class="k-link k-header">
                    Details <span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span>
                    @if ((Model.FirstName != null))
                    {
                        <div class="col-md-1 colpadding0 pull-right imgright">

                            @if (Model.Photo_Doc_Name != null)
                            {

                                <img class="customer-photo1" src="@Url.Content(String.Format("/Areas/BM_Management/Documents/Director/" + Model.ID + "/" + Model.Photo_Doc_Name))" />

                            }
                            else
                            {

                                <span class='customer-photo1 dirimage' onload="loadDirectorDetails(@Model.FirstName,@Model.LastName)"></span>
                            }

                        </div>
                    }
                </span>


                <span id='notification'></span>
                <div class="row colpadding0" style="display: block; margin-left: 1%; margin-right: 1%; margin-bottom:1%">
                    <div class="row colpadding0" style="margin-top:1%;">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-1 colpadding0">
                                <label class="control-label">Salutation</label><span style="color:red">*</span>
                                @Html.Kendo().DropDownListFor(model => model.Salutation).BindTo(new SelectList(new List<object> {
                        new {id="",text="Select"},
                        new {id="Mr.",text="Mr."},
                        new {id="Mrs.",text="Mrs."},
                        new {id="Ms.",text="Ms."},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 83%" })
                                @Html.ValidationMessageFor(model => model.Salutation, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">First Name</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Middle Name</label>
                                @(Html.Kendo().TextBoxFor(m => m.MiddleName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Last Name</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { @class = "k-textbox", style = "width:90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-md-3 colpadding0">
                                <div class="col-md-5 colpadding0">
                                    <label class="control-label">Gender</label><span style="color:red">*</span>
                                    @Html.Kendo().DropDownListFor(model => model.Gender).BindTo(new SelectList(new List<object> {
                                           new {id="0",text="Select"},
                        new {id="1",text="Male"},
                        new {id="2",text="Female"},
                        new {id="3",text="Other"},
                    }, "id", "text")).HtmlAttributes(new { style = "width:90%" })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-7 colpadding0">
                                    <label class="control-label">Date of Birth</label><span style="color:red">*</span>
                                    @(Html.Kendo().DatePicker().Name("DateOfBirth").Max(DateTime.Today).Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:90%", @Id = "DateOfBirth", onchange = "checkDate(this);", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-1 colpadding0">
                                <label class="control-label">DIN</label><span></span>
                                @(Html.Kendo().TextBoxFor(m => m.DIN).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))

                            </div>
                        </div>
                    </div>

                    <div class="row colpadding0" style="margin-top:15px">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-1 colpadding0">
                                <label class="control-label">Salutation</label><span style="color:red">*</span>
                                @Html.Kendo().DropDownList().Name("FSalutations").BindTo(new SelectList(new List<object> {
                        new {id="",text="Select"},
                        new {id="Mr.",text="Mr."},
                        new {id="Mrs.",text="Mrs."},
                        new {id="Ms.",text="Ms."},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 83%" })
                                @Html.ValidationMessageFor(model => model.Salutation, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Father's First Name</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.FatherFirstName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.FatherFirstName, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Middle Name</label><span style="color:red"></span>
                                @(Html.Kendo().TextBoxFor(m => m.FatherMiddleName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.FatherMiddleName, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Last Name</label><span style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.FatherLastName).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.EmailId_Official, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">PAN of Director/KMP</label><span id="spPAN" style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.PAN).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%; text-transform: uppercase;", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-1 colpadding0">
                                <label class="control-label">Aadhaar No</label><span id="spAdhaar" style="color:red">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.Adhaar).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.Adhaar, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="row colpadding0 " style="margin-top:15px">
                        <div class="col-md-12 colpadding0">

                            <div class="col-md-1 colpadding0">
                                <label class="control-label">Resident(India)</label><span style="color:red">*</span>
                                @Html.Kendo().DropDownListFor(model => model.ResidentInIndia).BindTo(new SelectList(new List<object> {
                        new {id="True",text="Yes"},
                        new {id="False",text="No"},
                    }, "id", "text")).Events(e => e.Change("onResidentInIndia")).HtmlAttributes(new { style = "width: 83%" })

                                @Html.ValidationMessageFor(model => model.ResidentInIndia, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Passport No</label><span id="spanPassport" style="color:red" hidden="true">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.PassportNo).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.PassportNo, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Nationality</label><span style="color:red">*</span>


                                @(Html.Kendo().DropDownListFor(m => m.Nationality)
                                 .DataTextField("CountryName")
                                    .DataValueField("CountryId")
                                    //.OptionLabel("Select")
                                    .Filter("contains")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/EntityMasterAPI/GetDropDownEntityForCountry").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    }).HtmlAttributes(new { style = "width: 90%" }))
                                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Mobile No</label><span style="color:red">*</span>
                                    @(Html.Kendo().TextBoxFor(m => m.MobileNo).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Email(Personal)</label><span style = "color:red" >*</ span >
                                @(Html.Kendo().TextBoxFor(m => m.EmailId).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Email(Official)</label><span style = "color:red" > *</ span >
                                @(Html.Kendo().TextBoxFor(m => m.EmailId_Official).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.EmailId_Official, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-1 colpadding0">
                                <label class="control-label">DSC Expiry Date</label><span style = "color:red" ></ span >
                                @(Html.Kendo().DatePickerFor(m => m.DESC_ExpiryDate)
                                    .Min(DateTime.Today)
                                    .Format("dd/MM/yyyy")
                                    .HtmlAttributes(new { style = "width: 100%", @Id = "DESC_ExpiryDate", onchange = "checkDate(this);", autocomplete = "off" })
                                )

                                @Html.ValidationMessageFor(model => model.DESC_ExpiryDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row colpadding0" style="margin-top:15px">
                        <div class="col-md-12 colpadding0">


                            <div class="row colpadding0" style="margin-top:15px">
                                <div class="col-md-12 colpadding0">
                                    <div class="col-md-1 colpadding0">
                                        <label class="control-label">Salutation</label><span style = "color:red" > *</ span >
                                        @Html.Kendo().DropDownList().Name("MSalutations").BindTo(new SelectList(new List<object> {
                        //new {id="",text="Select"},
                        //new {id="Mr.",text="Mr."},
                        new {id="Mrs.",text="Mrs."},
                        //new {id="Ms.",text="Ms."},
                    }, "id", "text")).HtmlAttributes(new { style = "width: 83%" })
                                        @Html.ValidationMessageFor(model => model.Salutation, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4 colpadding0">
                                        <label class="control-label">Mother's Name</label><span></span>
                                        @(Html.Kendo().TextBoxFor(m => m.MotherName).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                        </div>
                        </div>
            </li>
        </ul>

        <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_SectionAddress" data-role="panelbar" tabindex="0" role="menu" style="margin-bottom: 20px;border-radius: 4px">
            <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                <span class="k-link k-header" id="spanAgendaItemB">Address<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                <div id = "step1Content" style="display: block; margin-left: 1%; margin-right: 1%; margin-top:1%; margin-bottom:1%">
                    <div class="row colpadding0">
                        <div class="colpadding0 col-md-12">
                            <label class="control-label" style="font-size: 14px;">Permanent Residential Address</label>
                        </div>

                        <div class="colpadding0 col-md-12">
                            <div class="col-md-5 colpadding0">
                                <div class="col-md-6 colpadding0">
                                    <label class="control-label">Line 1</label><span style = "color:red" > *</ span >
                                    @(Html.Kendo().TextBoxFor(m => m.Permenant_Address_Line1).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.Permenant_Address_Line1, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-6 colpadding0">
                                    <label for="txtCorpAddress2llp" class="control-label">Line 2</label><span style = "color:red" ></ span >
                                    @(Html.Kendo().TextBoxFor(m => m.Permenant_Address_Line2).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.Permenant_Address_Line2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6 colpadding0">

                                <div class="col-md-3 colpadding0">

                                    <label class="control-label" for="txtNationality">Country</label><span style = "color:red" > *</ span >
                                    @*@(Html.Kendo().TextBoxFor(m => m.Nationality).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNationality", style = "width: 100%", }))*@
                                    @(Html.Kendo().DropDownListFor(m => m.Permenant_CountryID)
                                    .DataTextField("CountryName")
                                    .DataValueField("CountryId")
                                    //.OptionLabel("Select")
                                    .Filter("contains")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/EntityMasterAPI/GetDropDownEntityForCountry").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })

                                    .HtmlAttributes(new { style = "width:90%", @Id = "ddlpercountry", autocomplete = "off", onchange = "loadstate(this,'ddlPermenant_StateId','ddlPermenant_CityId')" })
                                    )

                                    @Html.ValidationMessageFor(model => model.Permenant_CountryID, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-3 colpadding0">
                                    <label class="control-label">State</label><span style="color:red">*</span>
                                    @(Html.Kendo().DropDownListFor(m => m.Permenant_StateId)
                                         .DataTextField("Name")
                                          .DataValueField("SIdPublic")
                                          .OptionLabel("Select State")
                                          //.Filter("contains")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(true);
                                          })

                                           .HtmlAttributes(new { style = "width: 90%; autocomplete:off;", @Id = "ddlPermenant_StateId", onchange = "load(this,'ddlPermenant_CityId')", autocomplete = "off" })
                                    )
                                    @Html.ValidationMessageFor(model => model.Permenant_StateId, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-3 colpadding0">
                                    <label class="control-label">City</label><span style="color:red">*</span>
                                    @(Html.Kendo().DropDownListFor(m => m.Permenant_CityId)
                                          .DataTextField("Name")
                                          .Value("" + Model.Permenant_CityId)
                                          .DataValueField("Reg_cityId")
                                          //.Filter(FilterType.Contains)
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterPermentState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })
                                           //.Enable(false)
                                           .AutoBind(true)
                                           //.CascadeFrom("ddlPermenant_StateId")
                                           .OptionLabel("Select City")
                                          .HtmlAttributes(new { style = "width: 90%", @Id = "ddlPermenant_CityId", autocomplete = "off" })
                                    )
                                    @Html.ValidationMessageFor(model => model.Permenant_CityId, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <label class="control-label">PIN</label><span></span>
                                    @(Html.Kendo().TextBoxFor(m => m.Permenant_PINCode).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.Permenant_PINCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mt20 mt30">
                        <div class="colpadding0 col-md-12">
                            <div class="col-md-4 colpadding0">
                                <label class="control-label">Whether present address is same as permanent address</label><span style="color:red">*</span>
                            </div>
                            <div class="col-md-4 colpadding0">
                                @(Html.Kendo().RadioButtonFor(m => m.IsSameAddress).Label("Yes").Value(true))
                                &nbsp; &nbsp;
                                @(Html.Kendo().RadioButtonFor(m => m.IsSameAddress).Label("No").Value(false))
                                @Html.ValidationMessageFor(model => model.IsSameAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div id="divPresentAddress" style="margin-top:1%">
                        <div class="row mt10">
                            <div class="colpadding0 col-md-12">
                                <label class="control-label" style="font-size: 14px;">Present Residential Address</label>
                            </div>
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-5 colpadding0">
                                    <div class="col-md-6 colpadding0">
                                        <label class="control-label">Line 1</label><span style="color:red">*</span>
                                        @(Html.Kendo().TextBoxFor(m => m.Present_Address_Line1).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Present_Address_Line1, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-6 colpadding0">
                                        <label class="control-label">Line 2</label><span style="color:red"></span>
                                        @(Html.Kendo().TextBoxFor(m => m.Present_Address_Line2).HtmlAttributes(new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Present_Address_Line2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 colpadding0">
                                    <div class="col-md-3 colpadding0">

                                        <label class="control-label" for="txtPresent_CountryID">Country</label><span style="color:red">*</span>
                                        @*@(Html.Kendo().TextBoxFor(m => m.Nationality).HtmlAttributes(new { @class = "k-textbox", @Id = "txtNationality", style = "width: 100%", }))*@
                                        @(Html.Kendo().DropDownListFor(m => m.Present_CountryID)
                                    .DataTextField("CountryName")
                                    .DataValueField("CountryId")
                                    //.OptionLabel("Select")
                                    .Filter("contains")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/EntityMasterAPI/GetDropDownEntityForCountry").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })

                                    .HtmlAttributes(new { style = "width:90%", @Id = "ddlprecountry", autocomplete = "off",onchange = "loadstate(this,'ddlPresent_StateId','ddlPresent_CityId')" })
                                        )

                                        @Html.ValidationMessageFor(model => model.Present_CountryID, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="col-md-3 colpadding0">
                                        <label class="control-label">State</label><span style="color:red">*</span>
                                        @(Html.Kendo().DropDownListFor(m => m.Present_StateId)
                                          .DataTextField("Name")
                                          .DataValueField("SIdPublic")
                                          .OptionLabel("Select State")
                                          //.Filter("contains")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforStateMaster").Data("filterCountry").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(true);
                                          })
                                           
                                           .HtmlAttributes(new { style = "width: 90%", @Id = "ddlPresent_StateId", onchange = "load(this,'ddlPresent_CityId')" })
                                        //.HtmlAttributes(new { style = "width: 100%", @Id = "ddlPresent_StateId" })
                                        )
                                        @Html.ValidationMessageFor(model => model.Present_StateId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3 colpadding0">
                                        <label class="control-label">City</label><span style="color:red">*</span>
                                        @(Html.Kendo().DropDownListFor(m => m.Present_CityId)
                                          .DataTextField("Name")
                                          .DataValueField("Reg_cityId")
                                          //.Filter(FilterType.Contains)
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Url("/api/EntityMasterAPI/GetDropDownforCity").Data("filterPresentState").Type(HttpVerbs.Get);
                                              })
                                              .ServerFiltering(false);
                                          })
                                           //.Enable(false)
                                           .AutoBind(true)
                                           //.CascadeFrom("ddlPresent_StateId")
                                           .OptionLabel("Select City")
                                           .HtmlAttributes(new { style = "width: 90%", @Id = "ddlPresent_CityId" })
                                        )
                                        @Html.ValidationMessageFor(model => model.Present_CityId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">PIN</label><span></span>
                                        @(Html.Kendo().TextBoxFor(m => m.Present_PINCode).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                        @Html.ValidationMessageFor(model => model.Present_PINCode, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_SectionEducation" data-role="panelbar" tabindex="0" role="menu" style="margin-bottom: 20px;border-radius: 4px">
            <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                <span class="k-link k-header" id="spanAgendaItemB">Education & Qualification<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                <div id="step1Content" style="display: block; margin-left: 1%; margin-right: 1%; margin-top:1%; margin-bottom:1%">
                    <div class="row form-group">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-3 colpadding0">
                                <label class="control-label">Educational Qualification</label><span style="color:red">*</span>

                                @Html.Kendo().DropDownListFor(model => model.EducationalQualification).BindTo(new SelectList(new List<object> {
                                           new {id="-1",text="Select"},
                        new {id="1",text="X/SSLC/Junior/Equivalent"},
                        new {id="2",text="XII/SSC/High/Equivalent"},
                        new {id="3",text="Graduation/Bachelor/Equivalent"},
                        new {id="4",text="Post-Graduation/Master/Equivalent"},
                        new {id="5",text="Professional"},
                        new {id="6",text="Executive Program"},
                        new {id="7",text="Doctorate"},
                        new {id="8",text="Diploma"},
                        new {id="0",text="Others"},
                    }, "id", "text")).Events(e => e.Change("onEducationalQualification")).HtmlAttributes(new { style = "width: 90%" })
                                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <span id="spOtherQualification" style="color:red" hidden="true">*</span><label class="control-label">Other Qualification</label>
                                @(Html.Kendo().TextBoxFor(m => m.OtherQualification).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.OtherQualification, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Occupation</label><span style="color:red">*</span>
                                @Html.Kendo().DropDownListFor(model => model.Occupation).BindTo(new SelectList(new List<object> {
                                           new {id="-1",text="Select"},
                        new {id="1",text="Self Employed"},
                        new {id="2",text="Professional"},
                        new {id="3",text="Homemaker"},
                        new {id="4",text="Student"},
                        new {id="5",text="Serviceman"},
                    }, "id", "text")).Events(e => e.Change("onOccupationChange")).HtmlAttributes(new { style = "width: 90%" })
                                @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-2 colpadding0">
                                <label class="control-label">Area of Occupation</label><span id="spAreaOfOccupation" style="color:red" hidden="true">*</span>
                                @Html.Kendo().DropDownListFor(model => model.AreaOfOccupation).BindTo(new SelectList(new List<object> {
                       new {id="-1",text="Select"},
                        new {id="1",text="Government"},
                        new {id="2",text="Teaching"},
                        new {id="0",text="Others"},
                    }, "id", "text")).Events(e => e.Change("onAreaOfOccupation")).HtmlAttributes(new { style = "width: 90%" })
                                @Html.ValidationMessageFor(model => model.AreaOfOccupation, "", new { @class = "text-danger" })
                            </div>

                            <div id="divOtherOccupation" class="col-md-2 colpadding0">
                                <label class="control-label">Other Occupation</label><span id="spOtherOccupation" style="color:red" hidden="true">*</span>
                                @(Html.Kendo().TextBoxFor(m => m.OtherOccupation).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%", autocomplete = "off" }))
                                @Html.ValidationMessageFor(model => model.OtherOccupation, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 colpadding0">

                            <div class="col-md-3 colpadding0">
                                <label class="control-label" style="width:100%">Membership No of the ICSI in case of CS ?</label>
                                @(Html.Kendo().RadioButtonFor(m => m.IsCAmember).Label("Yes").Value(true).HtmlAttributes(new { }))
                                &nbsp; &nbsp;
                                @(Html.Kendo().RadioButtonFor(m => m.IsCAmember).Label("No").Value(false).HtmlAttributes(new { }))
                                @Html.ValidationMessageFor(model => model.IsCAmember, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2 colpadding0" id="DIVIsCS">
                                <label for="txtCorpAddress2llp" class="control-label">CS Membership No</label><span style="color:red" id="csspan"></span>
                                @(Html.Kendo().TextBoxFor(m => m.CS_Membersip).HtmlAttributes(new { @class = "k-textbox", style = "width: 90%", }))
                                @Html.ValidationMessageFor(model => model.CS_Membersip, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    @*<div id="divAreaOfOccupation" class="row mt30">
                            <div class="col-md-12 colpadding0">
                            </div>
                        </div>*@
                </div>
            </li>
        </ul>

        <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_SectionDocuments" data-role="panelbar" tabindex="0" role="menu" style="margin-bottom: 20px;border-radius: 4px">
            <li class="k-item k-state-default k-first k-state-active" aria-expanded="true" role="menuitem">
                <span class="k-link k-header" id="spanAgendaItemB">Documents<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
                <div class="row " style="display: block; margin-left: 1%; margin-right: 1%; margin-top:1%; margin-bottom:1%">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <div class="col-md-10 colpadding0">
                                <span style="color:red"></span><label class="control-label">Upload Photo</label>
                                @Html.TextBoxFor(m => m.Photo_Doc, new { type = "file", style = "width:100%" })
                                @Html.HiddenFor(m => m.Photo_Doc_Name)
                            </div>
                            <div class="col-md-2 colpadding0" style="top:16px;">
                                @if (!string.IsNullOrEmpty(Model.Photo_Doc_Name))
                                {
                                    <a href='@Url.Action("Download", "Director_Master",new { id = Model.ID, ImageName = Model.Photo_Doc_Name } )' target="_blank">
                                        <img src='@Url.Content("~/Images/icon-download.png")' />
                                    </a>
                                }
                            </div>
                        </div>

                        <div class="col-md-3 colpadding0">
                            <div class="col-md-10 colpadding0">
                                <span style="color:red"></span><label class="control-label">Upload PAN</label>
                                @Html.TextBoxFor(m => m.PAN_Doc, new { type = "file", style = "width:100%" })
                                @Html.HiddenFor(m => m.PAN_Doc_Name)
                            </div>
                            <div class="col-md-2 colpadding0" style="top:16px;">
                                @if (!string.IsNullOrEmpty(Model.PAN_Doc_Name))
                                {
                                    <a href='@Url.Action("Download", "Director_Master",new { id = Model.ID, ImageName = Model.PAN_Doc_Name } )' target="_blank">
                                        <img src='@Url.Content("~/Images/icon-download.png")' />
                                    </a>
                                }
                            </div>
                        </div>

                        <div class="col-md-3 colpadding0">
                            <div class="col-md-10 colpadding0">
                                <span style="color:red"></span><label class="control-label">Upload Aadhaar</label>
                                @Html.TextBoxFor(m => m.Aadhaar_Doc, new { type = "file", style = "width:100%" })
                                @Html.HiddenFor(m => m.Aadhaar_Doc_Name)
                            </div>
                            <div class="col-md-2 colpadding0" style="top:16px;">
                                @if (!string.IsNullOrEmpty(Model.Aadhaar_Doc_Name))
                                {
                                    <a href='@Url.Action("Download", "Director_Master",new { id = Model.ID, ImageName = Model.Aadhaar_Doc_Name } )' target="_blank">
                                        <img src='@Url.Content("~/Images/icon-download.png")' />
                                    </a>
                                }
                            </div>
                        </div>

                        <div class="col-md-3 colpadding0">
                            <div class="col-md-10 colpadding0">
                                <span style="color:red"></span><label class="control-label">Upload Passport</label>
                                @Html.TextBoxFor(m => m.Passport_Doc, new { type = "file", style = "width:100%" })
                                @Html.HiddenFor(m => m.Passport_Doc)
                            </div>
                            <div class="col-md-2 colpadding0" style="top:16px;">
                                @if (!string.IsNullOrEmpty(Model.Passport_Doc_Name))
                                {
                                    <a href='@Url.Action("Download", "Director_Master",new { id = Model.ID, ImageName = Model.Passport_Doc_Name } )' target="_blank">
                                        <img src='@Url.Content("~/Images/icon-download.png")' />
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    @(Html.Kendo().Window()
    .Name("wndonEditable")
    .Title("Edit On")
    .Visible(false)
    .Modal(true)
    .Draggable(true)

    )

</div>



<script>
    $(document).ready(function () {
        $("#DateOfBirth").removeAttr("data-val-date");
        $("#DESC_ExpiryDate").removeAttr("data-val-date");

        if ($("#DateOfBirth").val() == "01/01/0001") {
            $("#DateOfBirth").val('');
        }

        if ($("#DESC_ExpiryDate").val() == "01/01/0001") {
            $("#DESC_ExpiryDate").val('');
        }
    });
    function loadstate(e, t,z) {

        debugger;
        var ddlcounty = $("#" + e.id).data("kendoDropDownList");
        var val = ddlcounty.value();

        $("#" + t).kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url: "/api/EntityMasterAPI/GetDropDownforStateMaster?CountryId=" + val + ""
                    }
                },
                serverFiltering: false
            },
            dataTextField: "Name",
            dataValueField: "SIdPublic",
            //filter: "contains"
        });

        var ddlState = $("#" + t.id).data("kendoDropDownList");
        var val = 0;

        $("#" + z).kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url: "/api/EntityMasterAPI/GetDropDownforCity?stateId=" + val + ""
                    }
                },
                serverFiltering: false
            },
            dataTextField: "Name",
            dataValueField: "Reg_cityId",
        });
    }

    function load(e, t) {
      

        var ddlState = $("#" + e.id).data("kendoDropDownList");
        var val = ddlState.value();

        $("#" + t).kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url: "/api/EntityMasterAPI/GetDropDownforCity?stateId=" + val + ""
                    }
                },
                serverFiltering: false
            },
            dataTextField: "Name",
            dataValueField: "Reg_cityId",
            //filter: "contains"
        });
        //var ddlState = $("#" + t).data("kendoDropDownList");
        //ddlState.dataSource.read();
        //ddlState.refresh();
    }

    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }
</script>

<script>
    function OpendirectirEditon(meetingID) {


        $("#wndonEditable").attr("style", "min-height:100px;");
        var direction = "Type of Changes";

        $("#wndonEditable").kendoWindow({
            title: "Type of Changes",
        });
        $("#wndonEditable").attr("style", "min-height:100px;");
        direction = "OpenOneditDirector?DirectorID=" + meetingID;
        var wnd = $("#wndonEditable").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndonEditable").kendoWindow({
            pinned: true,
            content: direction,
            width: "68%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresheupload(); },
            close: function (e) {
                $(this.element).empty();

                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "68%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

        function OnOpenupload() {
            //$('#wndAdd').data("kendoWindow").close();
        }
        function OnRefresheupload() {

        }
    }


    $(document).on("change", "input[name='IsCAmember']", function () {
        // var checkbox = document.getElementById("startClientFromWebEnabled");
        var mimeType = document.getElementById("CS_Membersip");

        if (this.value == "True") {
            //document.getElementById('DIVIsCS').style.display = 'block';
            mimeType.setAttribute("required", "required");
            $("#csspan").text('*');
        }
        else {
            //document.getElementById('DIVIsCS').style.display = 'none';
            mimeType.removeAttribute("required");
            $("#csspan").text('');
        }
    })
</script>
