﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.DetailsOfCommiteePosition

@using (Ajax.BeginForm("EditDirectorsDetailsOfCommitteeNew", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfCommittee", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateDetailsofCommittee" }))
{
    string div_class = "";
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Director_ID)
    int counter = 0;


    <div style="margin-left:0%; margin-right:2%;">
        <fieldset class="col">
            <legend style="margin-bottom: 10px;"><label style="font-size:17px">Details of Committee Position</label></legend>

            @if (Model.Response != null)
            {
                <div class="row">
                    <div class="col-md-2 colpadding0">
                    </div>
                    <div class="col-md-8 colpadding0">
                        @Html.Partial("_Response", Model.Response)
                    </div>
                    <div class="col-md-2 colpadding0">
                    </div>
                </div>
            }

            @if (ViewBag.DetailsOfCommittee_Grid == null)
            {
                    div_class = "Hidden";

                <div class="row">
                    <div class="colpadding0 col-md-6">
                        <div class="col-md-8 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Committee position held</label>
                        </div>
                        <div class="col-md-4 colpadding0">
                            @*@(Html.Kendo().RadioButtonFor(m => m.IsPositionHeld).Label("Yes").Value(true).HtmlAttributes(new { @Id = "rdbIsPositionHeld" }))
                                &nbsp; &nbsp;
                                @(Html.Kendo().RadioButtonFor(m => m.IsPositionHeld).Label("No").Value(false).HtmlAttributes(new { @Id = "rdbIsPositionHeld" }))
                                @Html.ValidationMessageFor(model => model.IsPositionHeld, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
            }

            <div id="divCommitteeDetails_" class="@div_class">

                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                @Html.HiddenFor(model => model.Director_ID)

                <div class="row form-group">
                    <div class="col-md-11 colpadding0">
                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Name of the Company</label>
                            @(Html.Kendo().DropDownListFor(model => model.Entity_Id_Committee)
                                    .DataValueField("Id")
                                    .DataTextField("EntityName")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/EntityMasterAPI/GetDropDownEntityForCommittee?Director_Id=" + Model.Director_ID + "").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Value(Model.Entity_Id_Committee.ToString())
                                    .OptionLabel("Select")
                                    .HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;" }))
                        </div>

                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Name of the Committee</label>
                            @(Html.Kendo().DropDownListFor(model => model.Committee_Id)
                                                            .DataValueField("Id")
                                                            .DataTextField("Name")
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Url("/api/CommitteeCompAPI/GetCommitteeCompForDropDown").Type(HttpVerbs.Get);
                                                                })
                                                                .ServerFiltering(true);
                                                            })
                                                            .Value(Model.Committee_Id.ToString())
                                                            .HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;", onchange = "changeNameOfOtherCommittee(this)" })
                            )

                            @Html.ValidationMessageFor(model => model.Committee_Id, "", new { @class = "text-danger" })

                        </div>

                        <div class="col-md-2 colpadding0">
                            <span style="color:red" id="sp_NameOfOtherCommittee1">*</span><label class="control-label">Other Committee</label>
                            @(Html.Kendo().TextBoxFor(m => m.NameOfOtherCommittee).HtmlAttributes(new { @id = "_txtNameOfOtherCommittee", @class = "", style = "width: 95%;" }))
                            @Html.ValidationMessageFor(model => model.NameOfOtherCommittee, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-2 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Designation</label>
                            @Html.Kendo().DropDownListFor(model => model.Designation_Id).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Chairperson"},
                                    new {id="2",text="Member"},
                                }, "id", "text")).HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;", })
                            @Html.ValidationMessageFor(model => model.Designation_Id, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-2 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Type</label>
                            @Html.Kendo().DropDownListFor(model => model.Committee_Type).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="5",text="Executive"},
                                    new {id="6",text="Non-Executive"},
                                    new {id="7",text="Non-Executive Independent"},
                                }, "id", "text")).HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;" })
                            @Html.ValidationMessageFor(model => model.Committee_Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-1 colpadding0" style="top:16px;">
                            @if (Model.Id > 0)
                            {
                                <button type="submit" value="update" class="k-primary k-button k-grid-update k-button-icontext">Update</button>
                            }
                            else
                            {
                                <button type="submit" value="Save" class="k-primary k-button k-grid-update k-button-icontext">Add</button>
                            }
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-12 colpadding0">
                    @if (ViewBag.DetailsOfCommittee_Grid != null)
                    {
                        <table id="tblDetailsOfCommitteeNew">
                            <colgroup>
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th data-field="SrNo">SrNo</th>
                                    <th data-field="Entity_Name">Name of the Company</th>
                                    <th data-field="Committee_Name">Name of the Committee</th>
                                    <th data-field="CommitteePosition">Designation</th>
                                    <th data-field="Designation">Type</th>
                                    <th data-field="Action">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.DetailsOfCommittee_Grid)
                                {
                                    counter++;
                                    <tr>
                                        <td>@counter </td>
                                        <td>@item.Entity_Name</td>
                                        <td>@item.Committee_Name</td>
                                        <td>@item.CommitteePosition</td>
                                        <td>@item.Designation</td>
                                        <td>
                                            <button type="button" onclick="EditCommittee(@item.Id)" class="k-button k-button-icontext k-grid-edit" style="min-width:25px;"><span class="k-icon k-edit"></span></button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                </div>
            </div>

        </fieldset>
    </div>

    <script>

                $(document).ready(function () {
                    $("#tblDetailsOfCommitteeNew").kendoGrid({
                        // toolbar: kendo.template($("#template").html()),
                        sortable: false,
                        scrollable: false
                    });
                });

                function EditCommittee(v) {
                    var d = "EditDetailsOfCommitteeNew?DetailsOfCommittee_Id=" + v;
                    $("#frmUpdateDetailsofCommittee").attr(
                            "action",
                            "@Url.Action("EditDetailsOfCommitteeNew", "Director_Master")" + "?DetailsOfCommittee_Id=" + v
                        ).submit();
                }


                function changeNameOfOtherCommittee(obj) {
                    var ddlNameOfOtherCommittee = $("#" + obj.id).data("kendoDropDownList");
                    var val = ddlNameOfOtherCommittee.value();

                    dataValidationDropDown($("#" + obj.id), "Please select name of committee", "0")
                    var _txtNameOfOtherCommittee = $("#_txtNameOfOtherCommittee");
                    
                    if (val == "0") {
                        _txtNameOfOtherCommittee.val('');
                        _txtNameOfOtherCommittee.attr('readonly', false);
                        //spMandatory.hidden = false;
                        dataValidation($("#_txtNameOfOtherCommittee"), 'Please enter name of other committee');
                        $("#sp_NameOfOtherCommittee1").removeClass("hidden");
                    }
                    else {
                        _txtNameOfOtherCommittee.val('');
                        removeDataValidation($("#_txtNameOfOtherCommittee"));
                        _txtNameOfOtherCommittee.attr('readonly', true);
                        //tableRef.rows[aa].cells[3].children.spMandatory.hidden = true;
                        $("#sp_NameOfOtherCommittee1").addClass("hidden");
                    }
                }
    </script>

        <script>
                //$(document).on("change", "input[name='IsPositionHeld']", function () {
                //    if (this.value == "True") {
                //        $("#divCommitteeDetails_").removeClass('hidden');
                //    }
                //    else {
                //        $("#divCommitteeDetails_").addClass('hidden');
                //    }
                //});
        </script>

            <script>
$(document).ready(function () {

    var validator = $("#divDetailsOfCommittee").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
//var validator = bmValidator("#divDetailsOfCommittee");

});
            </script>
}