﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Directors_DetailsOfCommiteePosition

    @*@using (Ajax.BeginForm("EditDirectorsDetailsOfCommittee", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfCommittee", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateDetailsofCommittee" }))
    {
        string div_class = "";
        if (Model.IsPositionHeld == false)
        {
            div_class = "hidden";
        }
        @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Director_ID)

        if (Model.Response != null)
        {
            <div class="row">
                <div class="col-md-2 colpadding0">
                </div>
                <div class="col-md-8 colpadding0">
                    @Html.Partial("_Response", Model.Response)
                </div>
                <div class="col-md-2 colpadding0">
                </div>
            </div>
        }

        <div style="margin-left:0%; margin-right:2%;">
            <fieldset class="col">
                <legend style="margin-bottom: 10px;"><label style="font-size:17px">Details of Committee Position </label></legend>
                <div class="row">
                    <div class="colpadding0 col-md-6">
                        <div class="col-md-8 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Committee position held</label>
                        </div>
                        <div class="col-md-4 colpadding0">
                            @(Html.Kendo().RadioButtonFor(m => m.IsPositionHeld).Label("Yes").Value(true).HtmlAttributes(new { @Id = "rdbIsPositionHeld" }))
                            &nbsp; &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.IsPositionHeld).Label("No").Value(false).HtmlAttributes(new { @Id = "rdbIsPositionHeld" }))
                            @Html.ValidationMessageFor(model => model.IsPositionHeld, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div id="divCommitteeDetails_" class="@div_class">
                    <div class="row mt30">
                        <div class="col-md-12 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Number of entries to be made</label>
                            @(Html.Kendo().TextBoxFor(m => m.count).Value(Model.lstDetailsOfCommiteePosition.Count).HtmlAttributes(new { @class = "form-control k-textbox", style = "width:40px;height :29px;", maxlength = "1", onchange = "txtDetailsOfCommittee_changed()" }))
                            @Html.ValidationMessageFor(model => model.count, "", new { @class = "text-danger" })
                            <button type="submit" name="command_name" value="btnNoofCommittee" class="hidden"><span class="k-icon k-add"></span>Add</button>
                        </div>
                    </div>

                    @if (Model.lstDetailsOfCommiteePosition != null && Model.lstDetailsOfCommiteePosition.Count > 0)
                    {
                    <div class="row">
                        <div class="col-md-12 colpadding0">
                            <div id="divfrmUpdateRelatives12" style="max-width:99%;">
                                <table id="tblDetailsOfCommittee" style="border-collapse: separate; border-spacing: 0.5em 0.5em; width:550px;">
                                    <thead>
                                        <tr>
                                            <th class="text-center"><lable class="control-label">SrNo</lable></th>
                                            <th class="text-center"><lable class="control-label">Name of the Company</lable></th>
                                            <th class="text-center"><lable class="control-label">Name of the Committee</lable></th>
                                            <th class="text-center"><lable class="control-label">Name of the Other Committee</lable></th>
                                            <th class="text-center"><lable class="control-label">Designation</lable></th>
                                            <th class="text-center"><lable class="control-label">Type</lable></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            int count = 0, i = -1;

                                            foreach (var item in Model.lstDetailsOfCommiteePosition)
                                            {
                                                i++;
                                    <tr>
                                        <td>
                                            @(i + 1)
                                            @Html.HiddenFor(model => model.lstDetailsOfCommiteePosition[i].Id)
                                            @Html.HiddenFor(model => model.lstDetailsOfCommiteePosition[i].Director_ID)
                                        </td>
                                        <td>
                                            @(Html.Kendo().DropDownListFor(model => model.lstDetailsOfCommiteePosition[i].Entity_Id_Committee)
                                                            .DataValueField("Id")
                                                            .DataTextField("EntityName")
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Url("/api/EntityMasterAPI/GetDropDownEntityForCommittee?Director_Id=" + Model.Director_ID + "").Type(HttpVerbs.Get);
                                                                })
                                                                .ServerFiltering(true);
                                                            })
                                                            .Value(Model.lstDetailsOfCommiteePosition[i].Entity_Id_Committee.ToString())
                                                            .OptionLabel("Select")
                                                            .HtmlAttributes(new { @class = "amp-h25", style = "width: 220px;" })
                                            )
                                        </td>
                                        <td>
                                            @Html.Kendo().DropDownListFor(model => model.lstDetailsOfCommiteePosition[i].Committee_Id).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Audit Committee"},
                                    new {id="2",text="Nomination & Remuneration Committee"},
                                    new {id="3",text="CSR Committee"},
                                    new {id="4",text="Risk Management Committee"},
                                    new {id="5",text="StakeHolders Relationship Committee"},
                                    new {id="-1",text="Other"},
                                }, "id", "text")).HtmlAttributes(new { @class = "amp-h25", style = "width: 220px;", onchange = "changeNameOfOtherCommittee(this)" })

                                            @(Html.Kendo().DropDownListFor(model => model.lstDetailsOfCommiteePosition[i].Committee_Id)
                                                            .DataValueField("Id")
                                                            .DataTextField("Name")
                                                            .DataSource(source =>
                                                            {
                                                                source.Read(read =>
                                                                {
                                                                    read.Url("/api/CommitteeCompAPI/GetCommitteeCompForDropDown").Type(HttpVerbs.Get);
                                                                })
                                                                .ServerFiltering(true);
                                                            })
                                                            .Value(Model.lstDetailsOfCommiteePosition[i].Committee_Id.ToString())
                                                            .HtmlAttributes(new { @class = "amp-h25", style = "width: 220px;", onchange = "changeNameOfOtherCommittee(this)" })
                                            )

                                            @Html.ValidationMessageFor(model => model.lstDetailsOfCommiteePosition[i].Committee_Id, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            <span id="spMandatory" style="color:red;" hidden="true">*</span>@(Html.Kendo().TextBoxFor(m => m.lstDetailsOfCommiteePosition[i].NameOfOtherCommittee).HtmlAttributes(new { @id = "_txtNameOfOtherCommittee", @class = "amp-h28", style = "width: 220px; margin-top:7px;" }))
                                            @Html.ValidationMessageFor(model => model.lstDetailsOfCommiteePosition[i].NameOfOtherCommittee, "", new { @class = "text-danger" })
                                        </td>
                                        <td>
                                            @Html.Kendo().DropDownListFor(model => model.lstDetailsOfCommiteePosition[i].Designation_Id).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Chairperson"},
                                    new {id="2",text="Member"},
                                }, "id", "text")).HtmlAttributes(new { @class = "amp-h25", style = "width: 120px;", })

                                            @Html.ValidationMessageFor(model => model.lstDetailsOfCommiteePosition[i].Designation_Id, "", new { @class = "text-danger" })
                                        </td>
                                        <td>

                                            @Html.Kendo().DropDownListFor(model => model.lstDetailsOfCommiteePosition[i].Committee_Type).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Executive"},
                                    new {id="2",text="Non-Executive"},
                                    new {id="3",text="Non-Executive Independent"},
                                }, "id", "text")).HtmlAttributes(new { @class = "amp-h25", style = "width: 120px;" })

                                            @Html.ValidationMessageFor(model => model.lstDetailsOfCommiteePosition[i].Committee_Type, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                                            }
                </div>
            </fieldset>
            </div>
            <script>

                function txtDetailsOfCommittee_changed() {
                    $("#frmUpdateDetailsofCommittee").attr(
                            "action",
                            "@Url.Action("EditDirectorsDetailsOfCommittee", "Director_Master", new { command_name = "btnNoofCommittee" })"
                    ).submit();
                }

                function ChangeEntity_01(e) {

                    var ddlEntityType = $("#" + e.id).data("kendoDropDownList");
                    var aa = e.parentNode.parentNode.parentNode.rowIndex - 1;
                    var tableRef = document.getElementById('tblDetailsOfInterst').getElementsByTagName('tbody')[0];

                    var aaa = tableRef.rows[aa].cells[3].children;

                    var index = ddlEntityType.selectedIndex;

                    var Item = ddlEntityType.dataItem(index);
                    var TypeOfEntityDropDown = $("#" + tableRef.rows[aa].cells[3].children[0].lastChild.id).data("kendoDropDownList");

                    if (ddlEntityType.value() > 0) {
                        TypeOfEntityDropDown.enable(false);
                        TypeOfEntityDropDown.value(ddlEntityType.dataItem(index).Entity_Type);
                        tableRef.rows[aa].cells[2].children.spMandatory.hidden = true;
                        tableRef.rows[aa].cells[2].children._txtNameOfOther.value = "";
                        tableRef.rows[aa].cells[2].children._txtNameOfOther.disabled = true;
                        tableRef.rows[aa].cells[4].children._txtCIN.value = ddlEntityType.dataItem(index).CIN;
                        tableRef.rows[aa].cells[4].children._txtCIN.disabled = true;
                        tableRef.rows[aa].cells[5].children._txtPAN.value = ddlEntityType.dataItem(index).PAN;
                        tableRef.rows[aa].cells[5].children._txtPAN.disabled = true;

                    }
                    else {
                        TypeOfEntityDropDown.select(0);
                        TypeOfEntityDropDown.enable();
                        tableRef.rows[aa].cells[2].children.spMandatory.hidden = false;
                        tableRef.rows[aa].cells[2].children._txtNameOfOther.value = "Other";
                        tableRef.rows[aa].cells[2].children._txtNameOfOther.disabled = false;
                        tableRef.rows[aa].cells[4].children._txtCIN.value = "";
                        tableRef.rows[aa].cells[4].children._txtCIN.disabled = false;
                        tableRef.rows[aa].cells[5].children._txtPAN.value = "";
                        tableRef.rows[aa].cells[5].children._txtPAN.disabled = false;
                    }
                }

                function changeNameOfOtherCommittee(obj) {
                    var ddlNameOfOtherCommittee = $("#" + obj.id).data("kendoDropDownList");
                    var aa = obj.parentNode.parentNode.parentNode.rowIndex - 1;
                    var val = ddlNameOfOtherCommittee.value();
                    var tableRef = document.getElementById('tblDetailsOfCommittee').getElementsByTagName('tbody')[0];

                    dataValidationDropDown($("#" + obj.id), "Please select name of committee", "0")

                    
                    if (val == "0") {
                        tableRef.rows[aa].cells[3].children._txtNameOfOtherCommittee.value = "";
                        tableRef.rows[aa].cells[3].children._txtNameOfOtherCommittee.disabled = false;
                        tableRef.rows[aa].cells[3].children.spMandatory.hidden = false;
                       // dataValidation($("#" + tableRef.rows[aa].cells[3].children._txtNameOfOtherCommittee.id), 'Please enter name of other committee');
                        tableRef.rows[aa].cells[3].children._txtNameOfOtherCommittee.setAttribute("data-val", "true")
                        tableRef.rows[aa].cells[3].children._txtNameOfOtherCommittee.setAttribute("data-val-required", 'Please enter name of other committee');
                    }
                    else {
                        tableRef.rows[aa].cells[3].children._txtNameOfOtherCommittee.value = "";
                        //removeDataValidation($("#" + tableRef.rows[aa].cells[3].children._txtNameOfOtherCommittee.id));
                        tableRef.rows[aa].cells[3].children._txtNameOfOtherCommittee.removeAttribute("data-val")
                        tableRef.rows[aa].cells[3].children._txtNameOfOtherCommittee.removeAttribute("data-val-required");
                        tableRef.rows[aa].cells[3].children._txtNameOfOtherCommittee.disabled = true;
                        tableRef.rows[aa].cells[3].children.spMandatory.hidden = true;
                    }
                }

            </script>

            <script>
                $(document).on("change", "input[name='IsPositionHeld']", function () {
                    if (this.value == "True") {
                        $("#divCommitteeDetails_").removeClass('hidden');
                    }
                    else {
                        $("#divCommitteeDetails_").addClass('hidden');
                    }
                });
            </script>

            <script>
$(document).ready(function () {

    var validator = $("#divDetailsOfCommittee").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
//var validator = bmValidator("#divDetailsOfCommittee");

});
            </script>


                                            }*@