﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.DirectorprofiledetailsVM
<style>
    .k-editor .k-editable-area .k-content {
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        height: 273px !important;
    }

  
</style>

<script>
    function success(e) {
        debugger;
        if (e.Success === true) {

            $("#divsuccess").show();
            $("#divError").hide();
            $("#lblsuccess").text(e.Message);
        }
        else {
            $("#divError").show();
            $("#divsuccess").hide();
            $("#lblerror").text(e.Message);
        }
        var editor = $("#DirectorEditor").data("kendoEditor");
        kendo.ui.progress(editor.element, false);
        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
    }


    function begin(e) {
        debugger;
        //var wnd = $("#wndFileUpload").data("kendoWindow");
        var editor = $("#DirectorEditor").data("kendoEditor");

        kendo.ui.progress(editor.element, true);

    }


</script>
<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        @using (Ajax.BeginForm("SaveDirectorProfileDetails", "Director_Master", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAdddirectorProfileDetails", OnSuccess = "success", OnBegin = "begin" }, new { id = "frmDirectorProfileDetails" }))
        {

            <div class="row colpadding0" style="display:none;" id="divsuccess">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <label id="lblsuccess"></label>
                    </div>
                </div>
            </div>

            <div class="row colpadding0" style="display:none" id="divError">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <label id="lblerror"></label>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(x => x.DirectorId)
            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">

                    @(Html.Kendo().EditorFor(m => m.Profiledetails)
                                    .HtmlAttributes(new { style = "height:320px", @Id = "DirectorEditor" })
                                    // .Events(e => e.Paste("onPasteRemoveTag"))
                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                    .Encode(false)
                                    .Tools(tools => tools
                                    .Clear().Formatting()
                                    .FontName(fonts => fonts
                                        .Add("Andale Mono", "Andale Mono")
                                        .Add("Arial", "Arial")
                                        .Add("Arial Black", "Arial Black")
                                        .Add("Book Antiqua", "Book Antiqua")
                                        .Add("Bookman Old Style", "Bookman Old Style")
                                        .Add("Comic Sans MS", "Comic Sans MS")
                                        .Add("Courier New", "Courier New")
                                        .Add("Georgia", "Georgia")
                                    )
                                    .FontSize(size => size
                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                    .Bold().Italic().Underline().Strikethrough()
                                    .SubScript().SuperScript()
                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                    //.TableEditing()
                                    .CleanFormatting()
                                                        ))
                </div>
            </div>
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top:2%; text-align:center">

                        <button type="submit" id="btnsavedirectorProfile" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (Model.Success)
{
    <script>
        showmessage("@Model.Success");
    </script>
}
else if (Model.Error)
{
    <script>
        showmessage("@Model.Success");
    </script>
}



