﻿
@model BM_ManegmentServices.VM.Director_MasterKMPUploadSecurity

@using Kendo.Mvc.UI;

<script>
   
    function EditSecrity(e)
    {
        e.preventDefault();

        $("#wndAddSecurityDetailsofDirector").attr("style", "min-height:100px;");


        $("#wndAddSecurityDetailsofDirector").kendoWindow({
            title: "Edit - Details of securities held in Company",
        });
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        direction = "CreateSecurity?KmpId=" +@Model.KMP_ID+"&SecurityId="+dataItem.Id ;
        var wnd = $("#wndAddSecurityDetailsofDirector").data("kendoWindow");
        var opts = wnd.options;


        wnd = $("#wndAddSecurityDetailsofDirector").kendoWindow({
            title: "Edit - Entity Master",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "70%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $('#KendoDirectorSecurityDetails').data('kendoGrid').dataSource.read();
                $('#KendoDirectorSecurityDetails').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                $(this.element).closest(".k-window").css("top", "22px")
            }
        }).data("kendoWindow");
        opts.width = "70%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    function onRowBound(e) {
        GetICons();
        var grid = $("#KendoDirectorSecurityDetails").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })

    }

    $("#btnAddSecurity").click(function (e) {
        e.preventDefault();
        OnOpene('a');

        $("#wndAddSecurityDetailsofDirector").attr("style", "min-height:100px;");
        direction = "CreateSecurity?KmpId=" +@Model.KMP_ID +"&SecurityId="+0;
        var wnd = $("#wndAddSecurityDetailsofDirector").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddSecurityDetailsofDirector").kendoWindow({

            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
            ],
            refresh: function () { this.center(); OnRefreshe(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                //33.4531px
            },
            open: function (e) {

                OnOpene();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(this.element).closest(".k-window").css("top", "22px")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");

        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.center();
        wnd.open();
    });
    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnOpene(e) {
        var wnd = $("#wndAddSecurityDetailsofDirector").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

    }

    function OnRefreshe() {
        var wnd = $("#wndAddSecurityDetailsofDirector").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    //$(document).ready(function () {
    //    var grid1 = $("#KendoDirectorSecurityDetails").data("kendoGrid");
    //    alert(grid1);
    //    grid1.dataSource.read();
    //    grid1.refresh();

    //})
</script>

<div class="row" style="overflow-x:hidden;">
    <div class="col-md-12">
        @(Html.Kendo().Window()
        .Name("wndAddSecurityDetailsofDirector")
        .Title("Add - Security Details")
        .Visible(false)
        .Modal(true)
        .Draggable(true)
      .Actions(m =>
      {
          m.Pin();
          m.Close();
      })
        .Events(e => e.Open("adjustSize"))
        .Events(e => e.Refresh("OnRefresh"))
        )
        @*<div class="row colpadding0">
            <div class="col-md-11 colpadding0">
                @Html.Partial("_SecurityUpload", @Model)
            </div>
            <div class="col-md-1 colpadding0">
                <button type="submit" class="k-grid-add k-button k-button-icontext" id="btnAddSecurity" style="margin-top: 18%;
    margin-right:21%;">
                    <span class="k-icon k-add k-i-plus-outline"></span>Add
                </button>
            </div>

        </div>*@

        @*<div class="row master-Headrepopup colpadding0">
            <div class="col-md-12 colpadding0">
              
                <div class="col-md-9 colpadding0">

                </div>
                    <div class="refreshBtnContainer col-md-1">
                        <a class="btn btn-primary add-button2" href="/#" id="btnAddSecurity" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                    </div>

                    <div class="col-md-1 btnUpload">
                        <input type="button" class="btn btn-primary add-button2" href="/#" title="Upload" value="Upload" onclick="FormUpload()" />
                    </div>
              
            </div>
        </div>*@

        <div class="row colpadding0 mt30" style="width:98%">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.Data.BM_SecurityDetail>()
.Name("KendoDirectorSecurityDetails")

.Columns(columns =>
{
    columns.Bound(o => o.Id).Visible(false);
    columns.Bound(o => o.CompanyName).HtmlAttributes(new { @style="width:50%"});
    columns.Bound(o => o.securities_No).Title("Securities Number").HtmlAttributes(new { @style = "width:10%" });
    columns.Bound(o => o.Dis_of_securities).Title("Securities Description").HtmlAttributes(new { @style = "width:10%" });
    columns.Bound(o => o.Nominam_valSecurities).HtmlAttributes(new { @style = "width:10%" });
    columns.Bound(o => o.acquisition_Date).Title("Acquisition Date").Format("{0:dd/MM/yyyy}").HtmlAttributes(new { @style = "width:10%" });
    //columns.Bound(o => o.acquisition_pricePaid).Title("Price paid for acquisition of securities").Width(200);
    //columns.Bound(o => o.Other_ConsiPaid_acquisition).Title("Other consideration paid for acquisition").Width(200);
    //columns.Bound(o => o.Date_disposal).Title("Date of disposal").Format("{0:dd/MM/yyyy}").Width(200);
    //columns.Bound(o => o.Price_Received_disposal).Title("Price received on disposal").Width(200);
    //columns.Bound(o => o.otherconsideration_disposal_RescPrice).Title("Other consideration received on disposal").Width(200);
    //columns.Bound(o => o.Mode_of_acquisitionSecurities).Title("Mode of acquisition of securities").Width(200);
    //columns.Bound(o => o.Cbal_No_securities_afterTransaction).Title("Cumulative balance and number of securities held after each transaction").Width(200);
    //columns.Bound(o => o.DematerializedorPhysical).Title("Mode of holding physical or in dematerialized form").Width(200);
    //columns.Bound(o => o.Securities_encumbrance).Title("Securities have been pledged or any encumbrance has been created").Width(200);
    columns.Command(commnd =>
    {
        commnd.Custom("Edit").Click("EditSecrity").HtmlAttributes(new { @class = "k-grid-edit" });

    }).Title("Action").HtmlAttributes(new { @style = "width:10%" }); ;
})
                .Events(e => e.DataBound("onRowBound"))
                .NoRecords("No Records Found.")
                .EnableCustomBinding(true)
                //.Navigatable()
                .Pageable(pageable => pageable
                //.Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                .Sortable()
                //.Reorderable(reorderable => reorderable.Columns(true))
                //.Resizable(resizable => resizable.Columns(true))
                .ColumnMenu()
                //.Scrollable(s => s.Enabled(true).Height("auto"))
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(50)

                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(o => o.Id);
                })
                .Read(read => read.Url("/api/KMIMasterAPI/GetKMPSecurities?KMPId=" + Model.KMP_ID).Type(HttpVerbs.Get))
                ).HtmlAttributes(new { }))

            </div>
        </div>

    </div>
</div>

<script>

    function DownloadDirectorSecurityDocument()
    {
        window.location="@Url.Action("DownloadSampleFormateforDirectorSecurity", "Director_Master")";
    }
</script>
