﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director
@{
    ViewBag.Title = "Director/KMP :: Master";
}

<style>
  
.k-classforoverlay {
     opacity: 0.5;
    display: block;
    z-index: 10002;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    -webkit-backface-visibility: hidden;

    }

</style>

<!-- Script for Generate Grid SrNo -->
<script>
    var gridRowNumber = 0;

    function resetGridRowNumber(e) {
        gridRowNumber = 0;
    }

    function renderGridRowNumber() {
        var page = parseInt($("#gridKendo").data("kendoGrid").dataSource.page()) - 1;
        var pagesize = $("#gridKendo").data("kendoGrid").dataSource.pageSize();
        return parseInt(++gridRowNumber + (parseInt(page) * parseInt(pagesize)));
    }
</script>

@*<--Open Boady Corporate Details-->*@
<script>

    function openBodyCorporateDetails(e) {

        var direction = "bodycorporate";

        $("#wndBodyCorporate").kendoWindow({
            title: "Body Corporate",
        });
       
        direction = "bodycorporate";
        var wndbcor = $("#wndBodyCorporate").data("kendoWindow");
        var opts = wndbcor.options;

        wndbcor = $("#wndBodyCorporate").kendoWindow({

            content: direction,
            
            width: "40%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefreshbco();},
            close: function (e) {
                debugger;
             
                $("#divDFI").attr('style', "opacity:''; display:block;");
                var ddl = $("#bodycorporateId").data("kendoDropDownList");
                ddl.dataSource.read();
            },
            open: function (e) {
                debugger;
                OnOpenbco(e)
                $(this.element).closest(".k-window").css("position", "fixed");
                $(this.element).closest(".k-window").css("top", "40px");
                $(this.element).closest(".k-window-actions").css("display", "none");
                $("#divDFI").attr('style', "opacity:0.5; display:block;");
                $(".k-window-actions").attr('style', "display:none;");
            }
        }).data("kendoWindow");

        opts.width = "40%";
        opts.height = "80%";

        wndbcor.setOptions(opts);
        wndbcor.center();
        wndbcor.refresh(direction);
        wndbcor.open();
        
    }

    function OnRefreshbco() {
        var wndbcor = $("#wndBodyCorporate").data("kendoWindow");

        kendo.ui.progress(wndbcor.element, false);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }
    function OnOpenbco(e) {
        var wndbcor = $("#wndBodyCorporate").data("kendoWindow");
        //wnd.wrapper.addClass("k-overlay");
        kendo.ui.progress(wndbcor.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

       
    }
</script>

<script>
    function FormUpload() {
        
        OnOpen('a');
        //$("#wndFileUploadDirector").attr("style", "min-height:100px;");
        var direction = "UploadFileopenPopUP";

        $("#wndFileUploadDirector").kendoWindow({
            title: "Upload - DIR-3 KYC",
        });
        $("#wndFileUploadDirector").attr("style", "min-height:100px;");
        direction = "UploadFileopenPopUP";
        var wnd = $("#wndFileUploadDirector").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndFileUploadDirector").kendoWindow({

            content: direction,
            width: "50%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresheupload(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");

        opts.width = "50%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

        function OnOpenupload() {

        }
        function OnRefresheupload() {

        }
    }
</script>

<script>
    var initialLoad = true;
    function onRowBound(e) {
        
        var grid = $("#gridKendo").data("kendoGrid");
        resetGridRowNumber(e);
        GetICons();
        getGridborder(grid);

        if (initialLoad) {
            BindAutoComplete();
            initialLoad = false;
        }
    }
</script>

<script>
    function filterChange(e) {
        var filter = { logic: 'or', filters: [] };
        var txtSearch = $('#filterSearch');

        if (txtSearch.val() != "") {
            var splittedData = txtSearch.val().trim().split(",");

            for (var i = 0; i < splittedData.length; i++) {
                if (splittedData[i].trim() != "") {
                    filter.filters.push({ logic: "or", field: "FullName", operator: "contains", value: splittedData[i].trim() });
                    filter.filters.push({ logic: "or", field: "DIN", operator: "contains", value: splittedData[i].trim() });
                }
            }
        }

        if (filter != null) {
            $("#clearFilter").show();
        }
        else {
            $("#clearFilter").hide();
        }

        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.filter(filter);
    }

    function clearfilter(e) {
        
        var txtStartPeriod = $("#filterSearch").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filterSearch").val("");
        }

        $('#clearFilter').css('display', 'none');

        $("#gridKendo").data("kendoGrid").dataSource.filter({});
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        @(Html.Kendo().Window()
    .Name("wndFileUploadDirector")
    .Title("Upload")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false))
        @(Html.Kendo().Window()
    .Name("wndDirectorview")
    .Title("Upload")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false))
        @(Html.Kendo().Window()
    .Name("wndAddDirector")
    .Title("Add New-Director/KMP")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(true)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh")))
        @(Html.Kendo().Window().Name("wnddirDOI").Title("Details of Interest").Visible(false).Modal(true))
        @(Html.Kendo().Window().Name("wndBodyCorporate").Title("Body Corporate").Visible(false).Modal(true).Draggable(false).Scrollable(true).Events(e => e.Open("adjustSize")).Events(e => e.Refresh("OnRefreshbco")))

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-6 colpadding0">
                    <div class="input-group">
                        <input id='filterSearch' type="text" class="form-control" placeholder="Search by Name / DIN" autocomplete="off">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" style="height:34px">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearFilter" style="display:none">
                        <img src="~/Areas/BM_Management/img/Vector.png" />Clear
                    </button>
                </div>

                @if (Model.CanAdd)
                {
                    <div class="col-md-5 colpadding0 text-right">
                        <a class="btn btn-primary" href="/#" id="btnCreateNewDirector" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                        <input type="button" class="btn btn-primary add-button" href="/#" title="Upload" value="Upload" onclick="FormUpload()" />
                    </div>
                }
            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.Director_MasterVM>()
        .Name("gridKendo")
        .Columns(columns =>
        {
            columns.Bound(o => o.FullName).Title("Name").Width("40%")
            .ClientTemplate(
                @"<div style='float:left;'>#= getImage(data)#</div><div class='customer-name'>#: FullName #</div>").Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(o => o.DIN).Title("DIN").Width("15%").HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align: center;" }).Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(o => o.DESC_ExpiryDate).Format("{0:dd/MM/yyyy}").Title("DSC Expiry Date").Width("15%").HeaderHtmlAttributes(new { style = "text-align:center" }).HtmlAttributes(new { style = "text-align: center;" }).Filterable(ftb => ftb.Multi(true).Search(true));
            if (Model.CanEdit || Model.CanDelete )
            {
                columns.Command(command =>
                {
                    if (Model.CanEdit)
                    {
                        command.Custom("Edit").Click("editDirector").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                    }

                    command.Custom("Display").Click("DirectorProfile").HtmlAttributes(new { @class = "k-grid-view hoverCircle" });

                    if (Model.CanDelete)
                    {
                        command.Custom("Delete").Click("DeleteDirector").HtmlAttributes(new { @class = "k-grid-delete hoverCircle" });
                    }
                }).Title("Action").Width("15%").HeaderHtmlAttributes(new { style = "text-align:center; border-width: 0px 0px 0px 0px;" }).HtmlAttributes(new { style = "text-align: center;" });
            }
        })
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        //.Scrollable()
        .Pageable(pageable => pageable
            .Refresh(false)
            .PageSizes(true)
            .ButtonCount(5))
            .Filterable()
            //.Sortable()
            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .ColumnMenu(col => col.Columns(false))
            .DataSource(dataSource => dataSource
            .WebApi()
            .PageSize(10)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.ID);
                model.Field(o => o.DIN);
                model.Field(o => o.DESC_ExpiryDate);
            })
            .Read(read => read.Url("/api/DirectorMasterAPI/GetDirector").Type(HttpVerbs.Get))
            .Events(events => events.Sync("sync_handler"))
            .Events(events => events.Error("error_handler"))

                          ).HtmlAttributes(new { @style = "width:100%" })
                )
            </div>
        </div>

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Add - Director Master")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Delete")
        .Events(e => e.Show("PositionTooltip"))
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Edit")
        .Events(e => e.Show("PositionTooltip"))
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-display")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Display")
        .Events(e => e.Show("PositionTooltip"))
        )

    </div>
</div>

<script>
    function getDirectorID() {
        var DirectorId = document.getElementById("txtDirectorID").value;
        //alert(DirectorId);
        return {
            DirectorId: DirectorId,
        }
    }
    function sync_handler(e) {
        this.read();
    }

    function toolTipContent(e) {
        return e.target.context.innerText;
    }

    function showTooltipPosition(e) {
        var position = e.sender.options.position;
        if (position == "bottom") {
            e.sender.popup.element.css("margin-top", "10px");
        } else if (position == "top") {
            e.sender.popup.element.css("margin-bottom", "10px");
        }
    }
</script>

<script>

    $("#btnCreateNewDirector").click(function (e) {
        e.preventDefault();
        createNewDirector();
        settracknew('Director Master', 'Action', 'AddNew', '');
    });

    $("#btnclose1").click(function (e) {
        $("#wndAddDirector").data("kendoWindow").close();
    });

    $("#btnclose2").click(function (e) {
        $("#wndAddDirector").data("kendoWindow").close();
    });

    $(document).ready(function () {
        var breadCrumbData = [
           {
               displayText: "Masters",
               navigateUrl: "#",
           }, {
               displayText: "Director/KMP",
               navigateUrl: "/BM_Management/Director_Master/Index",
           }
        ];

        setBreadCrumb(breadCrumbData);

        $("#gridKendo .k-grid-content").css({
            "overflow-y": "scroll"
        });
    });

    function GetSalutation(value) {
        if (value == "1") {
            return "Mr.";
        } else if (value == "2") {
            return "Mrs.";
        } else if (value == "3") {
            return "Ms.";
        } else {
            return "Error";
        }
    }

    function createNewDirector() {

        OnOpen('a');
        $("#wndAddDirector").kendoWindow({
            title: "Add New-Director/KMP",
            modal: true
        });
        //$("#wndAddDirector").attr("style", "min-height:100px;");
        var direction = "Create";
        var wnd = $("#wndAddDirector").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {
        wnd = $("#wndAddDirector").kendoWindow({
            title: "Add New-Director/KMP",
            actions: ["Close"],
            content: direction,
            width: "95%",
            visible: false,
            modal: true,
            pinned: true,
            actions: ["Close"],
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                $('#gridKendo').data('kendoGrid').dataSource.read();
                showPageScroll();
            },
            open: function () {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed");
                $(this.element).closest(".k-window").css("top", "23px");
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        // }

        opts.width = "90%";

        wnd.setOptions(opts);
        //wnd.refresh(direction);
        wnd.center();
        wnd.open();
    }

    function editDirector(e) {

        e.preventDefault();
        settracknew('Director Master', 'Action', 'Edit', '');
        //$("#wndAddDirector").attr("style", "min-height:100px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndAddDirector").kendoWindow({
            title: "Edit - Director/KMP Master",
            modal: true
        });

        var direction = "Edit?id=" + dataItem.ID;
        var wnd = $("#wndAddDirector").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {

        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAddDirector").kendoWindow({
            title: "Edit - Director/KMP Master",
            actions: ["Close"],
            pinned: true,
            content: direction,
            width: "90%",
            //height: "90%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            open: function () {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed");
                $(this.element).closest(".k-window").css("top", "23px")
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");

                $('#gridKendo').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");
        // }

        opts.width = "90%";
        //opts.height = "90%";
        //opts.height = "450px";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    // changes by NK 29 APR 2021 for DirectorProfile

    function DirectorProfile(e){

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        //var direction = "DirectorsDetails?id=" + dataItem.ID;

        opendirectordetails(dataItem.ID);

    }

    function opendirectordetails(ID) {


        $("#wndDirectorview").kendoWindow({
            title: "Director Details",
            modal: true
        });
        $("#wndDirectorview").attr("style", "min-height:100px;");
        //var direction = "DirectorsDetails?Id=" + ID;

        var direction = "@Url.Action("DirectorsDetails", "CompanyProfile")" + "?Id=" + ID;

        var wnd = $("#wndDirectorview").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {
        wnd = $("#wndDirectorview").kendoWindow({
            title: "Director Details",
            actions: ["Close"],
            content: direction,
            width: "70%",
            visible: false,
            modal: true,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            refresh: function () { this.center(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function () {
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        // }

        opts.width = "70%";
        wnd.setOptions(opts);
        //wnd.refresh(direction);
        wnd.center();
        wnd.open();
    }

    //End of change by NK

    function ShowShareDetails(e) {
        e.preventDefault();
        //$("#wndAddDirector").attr("style", "min-height:100px;");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndAddDirector").kendoWindow({
            title: "Details of Share",
        });


        var direction = "Share?id=" + dataItem.ID;
        var wnd = $("#wndAddDirector").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {

        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAddDirector").kendoWindow({
            title: "Edit - Director/KMP Master",
            actions: ["Close"],
            pinned: true,
            content: direction,
            width: "90%",
            height: "90%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");

        opts.width = "90%";
        opts.height = "90%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function adjustSize() {
    }

    function hidePageScroll() {
        $("html, body").css("overflow", "hidden");
    }

    function showPageScroll() {
        $("html, body").css("overflow", "");
    }

    function OnOpen(e) {
        var wnd = $("#wndAddDirector").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

        hidePageScroll();
    }

    function OnRefresh() {
        var wnd = $("#wndAddDirector").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function DeleteDirector(e) {
        settracknew('Director Master', 'Action', 'Delete', '');
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var data = {
            id: dataItem.ID
        };

        if (confirm("Are you sure!!! You want to delete this director?")) {
            $.ajax({
                type: "POST",
                url: "Delete",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { "id": dataItem.ID },
                success: function (d) {
                    $('#gridKendo').data('kendoGrid').dataSource.read();
                    $('#gridKendo').data('kendoGrid').refresh();

                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                    alert('Something wents wrong');
                }
            });
        }
        else {

        }
    }

    function getImage(data) {

        var Colors = {};
        var html;
        if (data.ID > 0 && data.Photo_Doc_Name != null) {
            html = "<img class='customer-photo' src='/Areas/BM_Management/Documents/Director/" + data.ID + "/" + data.Photo_Doc_Name + "'/>";
        } else {
            Colors = [
           "#42A5F5",
           "#008391",
           "#846600",
          "#CC0060",
          "#330099", ];
            var result;
            var count = 0;
            //for (var prop in Colors)
            //    if (Math.random() < 1 / ++count) {
            //        result = prop;
            result = Colors[Math.floor(Math.random() * Colors.length)];
            var firstName = data.FirstName;
            var lastName = data.LastName;
            var intials = firstName.charAt(0) + lastName.charAt(0);

            html = "<span class='customer-photo textimage' style='text-align: center;color:white;background-color:" + result + "'><b>" + intials + "</b></span>"

            //}
        }
        return html;
    }
</script>

<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function filterProducts() {
        return {
            stateId: $("#ddlState").val()
        };
    }

    function onCategoryChange() {
        var Entity_Type = $("#Entity_Type").data("kendoDropDownList").value();
        if (Entity_Type == "1") {
            $('#DivEntityDetails')[0].hidden = true;
            $('#DivEntityDetails1')[0].hidden = false;
        } else {
            $('#DivEntityDetails1')[0].hidden = true;
            $('#DivEntityDetails')[0].hidden = false;
        }
    }

    function onEducationalQualification() {
        var data = $("#EducationalQualification").data("kendoDropDownList").value();
        if (data == "0") {
            $('#spOtherQualification')[0].hidden = false;
            $('#OtherQualification').removeAttr("readonly");
            dataValidation($('#OtherQualification'), 'Please enter Other Qualification');

        }
        else {
            $('#spOtherQualification')[0].hidden = true;
            $('#OtherQualification').val('');
            $('#OtherQualification').attr("readonly", "readonly");
            removeDataValidation($('#OtherQualification'));
        }
    }

    function onOccupationChange() {
        var data = $("#Occupation").data("kendoDropDownList").value();
        if (data == "1" || data == "2" || data == "5") {
            $('#spAreaOfOccupation')[0].hidden = false;
            $('#AreaOfOccupation').removeAttr("readonly");
            dataValidationDropDown($('#AreaOfOccupation'), "Please select Area of Occupation", 0)

        }
        else {
            $('#spAreaOfOccupation')[0].hidden = true;
            $('#AreaOfOccupation').attr("readonly", "readonly");
            removeDataValidationDropDown($('#AreaOfOccupation'));
        }
    }

    function onAreaOfOccupation() {
        var data = $("#AreaOfOccupation").data("kendoDropDownList").value();
        if (data == "0") {
            $('#spOtherOccupation')[0].hidden = false;
            $('#OtherOccupation').removeAttr("readonly");
            dataValidation($('#OtherOccupation'), 'Please enter other occupation');
        }
        else {
            $('#spOtherOccupation')[0].hidden = true;
            $('#OtherOccupation').attr("readonly", "readonly");
            removeDataValidation($('#OtherOccupation'));
        }
    }

    function onResidentInIndia() {
        var data = $("#ResidentInIndia").data("kendoDropDownList").value();
        var Nationality = $("#Nationality").data("kendoDropDownList");
        var PresentCountry = $("#ddlpercountry").data("kendoDropDownList");
      
        if (data == "False") {
            $('#spPAN')[0].hidden = true;
            $('#spAdhaar')[0].hidden = true;
            $('#spanPassport')[0].hidden = false;

            removeDataValidation($('#PAN'));
            removeDataValidation($('#Adhaar'));
            dataValidation($('#PassportNo'), 'Please enter Passport number');

            if (Nationality.value() == 1) {
                Nationality.value('');
                PresentCountry.value('');
            }
            
            $("#Nationality").data("kendoDropDownList").readonly(false);
        }
        else {
            $('#spPAN')[0].hidden = false;
            $('#spAdhaar')[0].hidden = false;
            $('#spanPassport')[0].hidden = true;

            dataValidation($('#PAN'), 'Please enter PAN');
            dataValidation($('#Adhaar'), 'Please enter Aadhaar number');
            removeDataValidation($('#PassportNo'));
            Nationality.value('1');
            PresentCountry.value('1');
          
            $("#Nationality").data("kendoDropDownList").readonly();
        }
    }

    function filterPermentState() {
        return {
            stateId: $("#ddlPermenant_StateId").val()
        };
    }

    function filterPresentState() {
        return {
            stateId: $("#ddlPresent_StateId").val()
        };
    }

    function filterNatureOfInterest() {
        return {
            EntityType: $("#TypeOfEntity").val()
        };
    }

    function filterDirectorDesignationId() {

        var ddlNatureOfInterest = $("#NatureOfInterest").data("kendoDropDownList");
        var index = ddlNatureOfInterest.selectedIndex;
        var entityType = $("#TypeOfEntity").data("kendoDropDownList");
        var entityIndex = entityType.selectedIndex;

        var entityType = $("#TypeOfEntity").data("kendoDropDownList");
        var entityTypeId = entityType.value();

        let isllp;
        if (entityTypeId == 3) {
            isllp = true;
        }
        else {
            isllp = false;
        }

        return {
            isDirector: ddlNatureOfInterest.dataItem(index).IsDirector,
            isMNGT: ddlNatureOfInterest.dataItem(index).IsMNGT,
            insertSelect: "1",
            IsforLLP: isllp,
        };
    }

    function filterDirectorTypeOfMembership() {
        return {
            designationId: $("#DirectorDesignationId").val(),
            insertSelect: "1"
        };
    }

    function getDirectorTypeOfMembershipName(e) {
        return e == null ? '' : '( ' + e + ' )';
    }

    function BindAutoComplete() {
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'FullName'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'DIN'));

        if (autoCompleteData != null && autoCompleteData != undefined) {
            $("#filterSearch").kendoAutoComplete({
                dataSource: autoCompleteData,
                filter: "contains",
                placeholder: "Search by Name / DIN",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        filterChange();
    }

    function OpenCreateDOI(e) {
        debugger;

        var direction = "";


        $("#wnddirDOI").kendoWindow({
            title: "Details of Interest",
        });

        direction = "DetailsofIntrest?DirectorId=" + e + "&IntrestId=" + 0;


        var wnd = $("#wnddirDOI").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wnddirDOI").kendoWindow({
            title: "Details of Interest",
            actions: ["Close"],
            pinned: true,
            content: direction,
            width: "50%",
            height: "90%",

            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () {
                kendo.ui.progress(this.element, true);
                 $("#wndAddDirector").attr('style', "opacity:0.25; display:block;");
               // $("#wndAddDirector").addClass("k-classforoverlay");
                $(this.element).closest(".k-window").css("position", "fixed");
                $(this.element).closest(".k-window").css("top", "45px");
                //let main = document.getElementById("wndAddDirector")
                //main.style.filter = "blur(2px)"
            },
            close: function (e) {
                $(this.element).empty();
                 $("#wndAddDirector").attr('style', "opacity:''; display:block;");
               // $("#wndAddDirector").removeClass("k-classforoverlay");
                $('#gridKendo2').data('kendoGrid').dataSource.read();
                $('#gridKendo2').data('kendoGrid').refresh();
                $('#KendoDirectorSecurityDetails').data('kendoGrid').dataSource.read();
                $('#KendoDirectorSecurityDetails').data('kendoGrid').refresh();
                //let main = document.getElementById("wndAddDirector")
                //main.style.filter = ""
            }
        }).data("kendoWindow");

        opts.width = "50%";
        opts.height = "90%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function OpenEditDOI(e) {
        debugger;
        var direction = "";

        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wnddirDOI").kendoWindow({
            title: "Details of Interest",
        });
        direction = "DetailsofIntrest?DirectorId=" + dataItem.Director_ID + "&IntrestId=" + dataItem.Id;


        var wnd = $("#wnddirDOI").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wnddirDOI").kendoWindow({
            title: "Details of Interest",
            actions: ["Close"],
            pinned: true,
            content: direction,
            width: "50%",
            height: "90%",

            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () {
                kendo.ui.progress(this.element, true);
                $("#wndAddDirector").attr('style', "opacity:0.5; display:block;");
                $(this.element).closest(".k-window").css("position", "fixed");
                $(this.element).closest(".k-window").css("top", "45px");
            },
            close: function (e) {
                $(this.element).empty();
                $("#wndAddDirector").attr('style', "opacity:''; display:block;");
                $('#gridKendo2').data('kendoGrid').dataSource.read();
                $('#gridKendo2').data('kendoGrid').refresh();
                $('#KendoDirectorSecurityDetails').data('kendoGrid').dataSource.read();
                $('#KendoDirectorSecurityDetails').data('kendoGrid').refresh();
            }
        }).data("kendoWindow");

        opts.width = "50%";
        opts.height = "90%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function DeleteDOI(e)
    {
        debugger;
        settracknew('Details of Intrest', 'Action', 'Delete', '');
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var data = {
            Id: dataItem.Id
        };

        if (confirm("Are you sure!!! You want to delete this DOI?")) {
            $.ajax({
                type: "DELETE",
                url: "DeleteDetailsOfInterest",
                content: "application/json; charset=utf-8",
                dataType: "json",
                //method:"DELETE",
                data: { "Id": dataItem.Id },
                success: function (d) {
                    $('#gridKendo2').data('kendoGrid').dataSource.read();
                    $('#gridKendo2').data('kendoGrid').refresh();

                    var KendoDirectorSecurityDetails = $('#KendoDirectorSecurityDetails').data('kendoGrid');
                    if (KendoDirectorSecurityDetails != null) {
                        KendoDirectorSecurityDetails.dataSource.read();
                        KendoDirectorSecurityDetails.refresh();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // TODO: Show error
                    alert('Something wents wrong');
                }
            });
        }
        else {

        }
    }
    //$(document).ready(function()
    //{
    //    k-window-actions
    //})

</script>

