﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMStatutory_Auditor


<div class="row colpadding0" style="height:500px;overflow-x:hidden">
    <div class="col-md-12 colpadding0">
        <div id="DivAuditorDtls">

            @using (Ajax.BeginForm("Add_UpdateStaturory_Audit", "AuditorMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivAuditorDtls", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdatestatutoryAuditor" }))
            {
                @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@

                <div class="row">
                    @if (Model.successMessage)
                    {
                        <div class="col-md-12">
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @if (!(string.IsNullOrEmpty(@Model.showMessage)))
                                {
                                    <lable>@Model.showMessage</lable>
                                }
                            </div>
                        </div>
                    }
                </div>

                <div class="row">
                    @if (Model.errorMessage)
                    {
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @if (!(string.IsNullOrEmpty(@Model.showMessage)))
                                {
                                    <lable>@Model.showMessage</lable>
                                }
                            </div>

                        </div>
                    }
                </div>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.EntityId)
                @Html.HiddenFor(m => m.Id)

                <div class="row">
                    <div class="col-md-12 colpadding0">

                        <div class="row col-md-12 colpadding0">
                            <div class="col-md-6 required colpadding0">
                                <label for="ddlAuditorType" class="control-label">Whether company is falling under any class of companies as per section 139(2)</label>
                            </div>

                            <div class="col-md-6 colpadding0">
                                @*@(Html.Kendo().RadioButtonFor(m => m.Class_of_Company_sec139).Label("Yes").Value(true).HtmlAttributes(new { @Id = "rdbIsClass_of_Company_sec139" }))
                                    &nbsp; &nbsp;
                                    @(Html.Kendo().RadioButtonFor(m => m.Class_of_Company_sec139).Label("No").Value(false).HtmlAttributes(new { @Id = "rdbIsClass_of_Company_sec139" }))*@
                                <label class='container1'>Yes @Html.RadioButtonFor(model => model.Class_of_Company_sec139, true)<span class='checkmark1'></span></label>
                                <label class='container1'>No  @Html.RadioButtonFor(model => model.Class_of_Company_sec139, false)<span class='checkmark1'></span></label>

                                @Html.ValidationMessageFor(model => model.Class_of_Company_sec139, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row col-md-12 colpadding0 mt30">
                            <div class="col-md-6 required colpadding0">
                                <label for="txtNature_of_Appointment" class="control-label">Nature of Appointment</label>
                            </div>
                            <div class="col-md-6 colpadding0">
                                @(Html.Kendo().DropDownListFor(m => m.Nature_of_Appointment)
                                    .OptionLabel("Select")
                                   .Filter(FilterType.Contains)
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/AuditorMasterAPI/GetDropDownNatureofAppointment").Type(HttpVerbs.Get);
                                        })
                                        //.Events(e => e.Change("ddlNatureofAppointment"))
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 50%", @Id = "txtNature_of_Appointment", autocomplete = "off", @onchange = "ddlNatureofAppointment(this);" }))
                                @Html.ValidationMessageFor(model => model.Nature_of_Appointment, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div id="rdbforAGMorNot">
                            <div class="row col-md-12 colpadding0 mt30">
                                <div class="col-md-6 required colpadding0">
                                    <label for="txtEmail" class="control-label">Whether auditor(s) has been appointed in the Annual General Meeting (AGM)</label>
                                </div>
                                <div class="col-md-6 colpadding0">
                                    @*@(Html.Kendo().RadioButtonFor(m => m.Auditor_AGM).Label("Yes").Value(true).HtmlAttributes(new { @Id = "Auditor_AGM" }))
                                        &nbsp; &nbsp;
                                        @(Html.Kendo().RadioButtonFor(m => m.Auditor_AGM).Label("No").Value(false).HtmlAttributes(new { @Id = "Auditor_AGM" }))*@
                                    <label class='container1'>Yes @Html.RadioButtonFor(model => model.Auditor_AGM, true)<span class='checkmark1'></span></label>
                                    <label class='container1'>No  @Html.RadioButtonFor(model => model.Auditor_AGM, false)<span class='checkmark1'></span></label>
                                    @Html.ValidationMessageFor(model => model.Auditor_AGM, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div id="divAGM" style="display:none">
                            <div class="row col-md-12 colpadding0 mt30">
                                <div class="col-md-6 required colpadding0">
                                    <label for="ddlAuditor_Category" class="control-label">Date of AGM</label>
                                </div>
                                <div class="col-md-6 colpadding0">
                                    @(Html.Kendo().DatePickerFor(m => m.Date_AGM)
                                                .Format("dd/MM/yyyy")
                                                .HtmlAttributes(new { style = "width: 20%", title = "Please select Date of AGM", @Id = "dpDate_AGM", onchange = "checkDate(this);" }))
                                    @Html.ValidationMessageFor(model => model.Date_AGM, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row ol-md-12 colpadding0 mt30">
                            <div class="col-md-6 required colpadding0">
                                <label for="ddlAuditor_Category" class="control-label">Date of Appointment</label>
                            </div>
                            <div class="col-md-6 colpadding0">
                                @(Html.Kendo().DatePickerFor(m => m.Date_Appointment)
                                            .Format("dd/MM/yyyy")
                                            .HtmlAttributes(new { style = "width: 20%", title = "Please select Appointment date", @Id = "dpdateofAppointment", onchange = "checkDate(this);" }))
                                @Html.ValidationMessageFor(model => model.Date_Appointment, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row col-md-12 colpadding0 mt30">
                            <div class="col-md-6 required colpadding0">
                                <label for="ddlAuditor_Category" class="control-label">Service Request Number (SRN)</label>
                            </div>
                            <div class="col-md-6 colpadding0">
                                @(Html.Kendo().TextBoxFor(m => m.SRN).HtmlAttributes(new { @style = "width:20%;" }))
                                @Html.ValidationMessageFor(model => model.SRN, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row col-md-12 colpadding0 mt30">
                            <div class="col-md-6 required colpadding0">
                                <label for="txtLastName_Auditor_or_AuditorFirm" class="control-label">Whether joint auditors have been appointed</label>
                            </div>
                            <div class="col-md-6 colpadding0">
                                @*@(Html.Kendo().RadioButtonFor(m => m.IsJoin_Auditor_Appointed).Label("Yes").Value(true).HtmlAttributes(new { @Id = "IsJoin_Auditor_Appointed" }))
                                    &nbsp; &nbsp;
                                    @(Html.Kendo().RadioButtonFor(m => m.IsJoin_Auditor_Appointed).Label("No").Value(false).HtmlAttributes(new { @Id = "IsJoin_Auditor_Appointed" }))*@
                                <label class='container1'>Yes @Html.RadioButtonFor(model => model.IsJoin_Auditor_Appointed, true)<span class='checkmark1'></span></label>
                                <label class='container1'>No  @Html.RadioButtonFor(model => model.IsJoin_Auditor_Appointed, false)<span class='checkmark1'></span></label>
                                @Html.ValidationMessageFor(model => model.IsJoin_Auditor_Appointed, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row mt30">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-3 required colpadding0">
                                    <label for="txtMiddleName_Auditor_or_AuditorFirm" class="control-label">Number of Auditor(s) appointed</label>
                                </div>

                                <div class="col-md-1 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        @(Html.Kendo().TextBoxFor(m => m.Auditor_Number).HtmlAttributes(new { @Id = "txtAuditor_Number", style = "width: 100%", onchange = "AuditChange(this)", @type = "number", @maxlength = "5" }))
                                        <div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" style="margin: 0.5em; display: block;width:412%;left:-180px" data-for="Auditor_Number" data-valmsg-for="Auditor_Number" id="Auditor_Number_validationMessage" role="alert"><span class="k-icon k-warning"> </span>Joint Auditor is greater then 1 and less then or equals to 5.<div class="k-callout k-callout-n"></div></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div id="DivAuditorslist">
                            <div class="row col-md-12 colpadding0">
                                <fieldset class="col">
                                    <legend><label style="font-size:17px">Details</label></legend>

                                    <div class="row col-md-12 colpadding0">
                                        <table id="tblStatutoryInfo" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-1 colpadding0" style="width:15%">
                                                        Category of Auditor
                                                    </th>
                                                    <th class="col-md-1 colpadding0" style="width:20%">
                                                        Auditor or Auditor's firm
                                                    </th>

                                                    <th class="col-md-1 colpadding0" style="width:10%">
                                                        From Date
                                                    </th>

                                                    <th class="col-md-1 colpadding0" style="width:20%">
                                                        Number of FY for which Auditor is appointed
                                                    </th>

                                                    <th class="col-md-1 colpadding0" style="width:10%">
                                                        Due Date
                                                    </th>
                                                    <th class="col-md-1 colpadding0" style="width:10%">
                                                        FY Start Date
                                                    </th>
                                                    <th class="col-md-1 colpadding0" style="width:10%">
                                                        FY Last Date
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="mt30">
                                                @{
                                                    int i = -1;
                                                }

                                                @foreach (var item in Model.AuditDeatilsList)
                                                {
                                                    i++;
                                                    @Html.HiddenFor(m => m.AuditDeatilsList[i].Id)
                                                    
                                                    <tr>
                                                        <td class="col-md-1 colpadding0">
                                                            @(Html.Kendo().DropDownListFor(m => m.AuditDeatilsList[i].Auditor_CriteriaId)
                                                                .DataTextField("Text")
                                                                .DataValueField("Value")
                                                                .BindTo(new List<SelectListItem>
                                                                    () {
                                                                    new SelectListItem() {
                                                                    Text = "Select",
                                                                    Value = "0"
                                                                    },
                                                                    new SelectListItem() {
                                                                    Text = "Individual",
                                                                    Value = "1"
                                                                    },
                                                                    new SelectListItem() {
                                                                    Text = "Auditor Firm",
                                                                    Value = "2"
                                                                    },
                                                                    })
                                                                    .HtmlAttributes(new { style = "width: 98%", @Id = "ddlCriteria" + i, @class = "myAuditCriteria", @onchange = "changeCategory(this);" }))
                                                        </td>

                                                        <td class="col-md-1 colpadding0">
                                                            <div class="col-md-12 colpadding0">
                                                                @(Html.Kendo().DropDownListFor(m => m.AuditDeatilsList[i].Auditor_Id)
                                                                .DataTextField("Name")
                                                                .DataValueField("Id")
                                                                .Filter(FilterType.Contains)
                                                                .OptionLabel("Select")
                                                                .DataSource(source =>
                                                                {
                                                                    source.Read(read =>
                                                                    {
                                                                        read.Url("/api/AuditorMasterAPI/GetDropDownAuditors?CriteriaId=" + Model.AuditDeatilsList[i].Auditor_CriteriaId + "&Type=" + 1 + "&EntityId=" + 0).Type(HttpVerbs.Get);
                                                                    })
                                                                    .ServerFiltering(true);
                                                                }).HtmlAttributes(new { style = "width: 100%", autocomplete = "off" }))
                                                            </div>
                                                        </td>

                                                        <td class="col-md-1 colpadding0">
                                                            @(Html.Kendo().DatePickerFor(m => m.AuditDeatilsList[i].AppointedFromdate).Format("dd/MM/yyyy")
                                                                .HtmlAttributes(new { style = "width:100%", title = "Plese Select Appointment Date", onchange = "checkDate(this);", @class = "mydatepic" }))
                                                        </td>

                                                        <td class="col-md-1 colpadding0">
                                                            @(Html.Kendo().DropDownListFor(m => m.AuditDeatilsList[i].Number_of_appointedFY)
                                                                .DataTextField("Text")
                                                                .DataValueField("Value")
                                                                .BindTo(new List<SelectListItem>
                                                                    () {
                                                                    new SelectListItem() {
                                                                    Text = "Select",
                                                                    Value = "0"
                                                                    },
                                                                    new SelectListItem() {
                                                                    Text = "1",
                                                                    Value = "1"
                                                                    },
                                                                    new SelectListItem() {
                                                                    Text = "2",
                                                                    Value = "2"
                                                                    },
                                                                    new SelectListItem() {
                                                                    Text = "3",
                                                                    Value = "3"
                                                                    },
                                                                    new SelectListItem() {
                                                                    Text = "4",
                                                                    Value = "4"
                                                                    },
                                                                    new SelectListItem() {
                                                                    Text = "5",
                                                                    Value = "5"
                                                                    },
                                                                    })
                                                                    .HtmlAttributes(new { style = "width: 100%", @Id = "ddlNumberofFY" + i, @onchange = "ChangeDuedate(this);" }))

                                                            @Html.ValidationMessageFor(model => model.Number_of_appointedFY, "", new { @class = "text-danger" })
                                                        </td>

                                                        <td class="col-md-1 colpadding0">
                                                            @(Html.Kendo().DatePickerFor(m => m.AuditDeatilsList[i].dueDate).Format("dd/MM/yyyy")
                                                                .HtmlAttributes(new { style = "width:100%", title = "Please Select AGM Due Date", onchange = "checkDate(this);", @class = "mydatepic" }))
                                                        </td>

                                                        <td class="col-md-1 colpadding0">
                                                            @(Html.Kendo().DatePickerFor(m => m.AuditDeatilsList[i].AppointedFirstFYDate).Enable(true).ParseFormats(new[] { "dd/MM/yyyy" }).Format("dd/MM/yyyy")
                                                                .Culture("en-GB")
                                                                .HtmlAttributes(new { style = "width:100%", title = "Select FY year", onchange = "checkDate(this);", @class = "mydatepic" }))
                                                        </td>

                                                        <td class="col-md-1 colpadding0">
                                                            @(Html.Kendo().DatePickerFor(m => m.AuditDeatilsList[i].AppointedLastFYDate).Format("dd/MM/yyyy")
                                                                .HtmlAttributes(new { style = "width:100%", title = "Select Last FY", onchange = "checkDate(this);", @class = "mydatepic" }))
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div id="divSRN" style="display:none">
                            <div class="row col-md-12 colpadding0 mt30">
                                <div class="col-md-6 required colpadding0">
                                    <label for="rdbIsReasons_casual_vacancy" class="control-label">Whether auditor is appointed due to casual vacancy in the office of auditor</label>
                                </div>
                                <div class="col-md-6 colpadding0">
                                    @(Html.Kendo().RadioButtonFor(m => m.IsAuditor_Appointed_casualvacancy).Label("Yes").Value(true).HtmlAttributes(new { @Id = "rdbIsReasons_casual_vacancy" }))
                                    &nbsp; &nbsp;
                                    @(Html.Kendo().RadioButtonFor(m => m.IsAuditor_Appointed_casualvacancy).Label("No").Value(false).HtmlAttributes(new { @Id = "rdbIsReasons_casual_vacancy" }))
                                    @Html.ValidationMessageFor(model => model.IsAuditor_Appointed_casualvacancy, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row col-md-12 colpadding0 mt30">
                                <div class="col-md-2 required colpadding0">
                                    <label for="txtSRN_relevent_form" class="control-label">SRN of Relevant Form</label>
                                    @(Html.Kendo().TextBoxFor(m => m.SRN_relevent_form).HtmlAttributes(new { @Id = "txtSRN_relevent_form", style = "width: 100%", }))
                                    @Html.ValidationMessageFor(model => model.SRN_relevent_form, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-2 required">
                                    <label for="txtPerson_vacated_office" class="control-label">Person vacated the office</label>
                                    @*@(Html.Kendo().TextBoxFor(m => m.Person_vacated_office).HtmlAttributes(new { @Id = "txtPerson_vacated_office", style = "width: 50%", }))*@
                                    @(Html.Kendo().DropDownListFor(m => m.Person_vacated_office)                                   
                                    .OptionLabel("Select")
                                     .Filter(FilterType.Contains)
                                    .DataTextField("FullName_FirmName")
                                    .DataValueField("Id")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/AuditorMasterAPI/GetAuditorwhoresigned?EntityId=" + Model.EntityId).Type(HttpVerbs.Get);
                                        })
                                        //.Events(e => e.Change("ddlNatureofAppointment"))
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 100%", @Id = "txtPerson_vacated_office", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.Person_vacated_office, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-2 required">
                                    <label for="txtPerson_vacated_office" class="control-label">Date of vacancy</label>
                                    @(Html.Kendo().DatePickerFor(m => m.Date_vacancy)
                                            .Max(DateTime.Today).Format("dd/MM/yyyy")
                                            .Enable(true).ParseFormats(new[] { "dd/MM/yyyy" })
                                            .Culture("en-GB")
                                            .HtmlAttributes(new { style = "width: 100%", @Id = "dpDate_vacancy", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);" }))
                                    @Html.ValidationMessageFor(model => model.Date_vacancy, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-5 required">
                                    <label for="txtPerson_vacated_office" class="control-label">Membership Number/Auditor's Firm who has Vacated the Office</label>
                                    @(Html.Kendo().TextBoxFor(m => m.Membership_Number_or_Registrationfirm).HtmlAttributes(new { @Id = "txtMembership_Number_or_Registrationfirm", style = "width: 60%", }))
                                    @Html.ValidationMessageFor(model => model.Membership_Number_or_Registrationfirm, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row col-md-12 colpadding0 mt30">
                                <div class="col-md-8 required colpadding0">
                                    <label for="txtPerson_vacated_office" class="control-label">Reasons of the Casual Vacancy</label>
                                    @(Html.TextArea("Reasons_casual_vacancy", "", new { @class = "k-textbox", style = "width: 100%;" }))
                                    @Html.ValidationMessageFor(model => model.Reasons_casual_vacancy, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-md-12 colpadding0 text-center mt30">
                    <button type="submit" id="btnllp" class="btn btn-primary" name="submitButton" onclick="btnstatutoryclick()">Save</button>
                    <button type="button" id="btnclose2" class="btn btn-primary">Close</button>
                </div>
                                                    }
        </div>
    </div>
</div>

@(Html.Kendo().Window()
    .Name("KendoPopupAditorMaster")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))
)

<script>
    $(document).ready(function () {
        ddlNatureofAppointment();
        $("#Auditor_Number_validationMessage").hide();
    })

    $("#btnclose2").click(function (z) {

        z.preventDefault();
        z.stopPropagation();
        $('#KendoPopupAuditor').data("kendoWindow").close();
        $('#gridKendoStatutory').data('kendoGrid').dataSource.read();
        $('#gridKendoStatutory').data('kendoGrid').refresh();
    })


    $("#dpDate_AGM").removeAttr("data-val-date");
    if ($("#dpDate_AGM").val() == "01/01/0001") {
        $("#dpDate_AGM").val('');
    }

    $("#dpdateofAppointment").removeAttr("data-val-date");
    if ($("#dpdateofAppointment").val() == "01/01/0001") {
        $("#dpdateofAppointment").val('');
    }

    $("#dpappintmentdatefrom").removeAttr("data-val-date");
    if ($("#dpappintmentdatefrom").val() == "01/01/0001") {
        $("#dpappintmentdatefrom").val('');
    }

    $(".mydatepic").removeAttr("data-val-date");
    if ($(".mydatepic").val() == "01/01/0001") {
        $(".mydatepic").val('');
    }

    $("#dpDate_vacancy").removeAttr("data-val-date");
    if ($("#dpDate_vacancy").val() == "01/01/0001") {
        $("#dpDate_vacancy").val('');
    }

    $("#dpappointedDate").removeAttr("data-val-date");
    if ($("#dpappointedDate").val() == "01/01/0001") {
        $("#dpappointedDate").val('');
    }

    function checkDate(e) {
        var tableRef = document.getElementById('tblStatutoryInfo').getElementsByTagName('tbody')[0];


        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
        if (e.id == "dpDate_AGM") {

            var getagmDate = kendo.toString($("#dpDate_AGM").data("kendoDatePicker").value(), 'dd/MM/yyyy');
            $("#dpdateofAppointment").val(getagmDate);

            for (var i = 0; i < tableRef.rows.length; i++) {


                $("#" + tableRef.rows[i].cells[2].children[0].children[0].children[0].id).val(getagmDate);
                var appointmentfromdate = $("#" + tableRef.rows[i].cells[2].children[0].children[0].children[0].id).data("kendoDatePicker");
                appointmentfromdate.readonly();
            }

            var datepicker = $("#dpdateofAppointment").data("kendoDatePicker");
            datepicker.readonly();

        }

        else if (e.id == "dpdateofAppointment") {

            var getagmDate = kendo.toString($("#dpdateofAppointment").data("kendoDatePicker").value(), 'dd/MM/yyyy');
            // $("#dpdateofAppointment").val(getagmDate);
            for (var i = 0; i < tableRef.rows.length; i++) {


                $("#" + tableRef.rows[i].cells[2].children[0].children[0].children[0].id).val(getagmDate);
                var appointmentfromdate = $("#" + tableRef.rows[i].cells[2].children[0].children[0].children[0].id).data("kendoDatePicker");
                appointmentfromdate.readonly();
            }
        }

        else if (e.className == "mydatepic") {
            var getagmDatess = kendo.toString($(".mydatepic").data("kendoDatePicker").value(), 'dd/MM/yyyy');
        }
        else {
            var datepicker = $("#dpdateofAppointment").data("kendoDatePicker");
            datepicker.readonly(false);
        }
    }


    function ddlNatureofAppointment() {


        var tableRef = document.getElementById('tblStatutoryInfo').getElementsByTagName('tbody')[0];
        for (var i = 0; i < tableRef.rows.length; i++) {

            //$("#" + tableRef.rows[i].cells[5].children[0].children[0].children[0].id).val("");


            //$("#" + tableRef.rows[i].cells[2].children[0].children[0].children[0].id).val("");

            //$("#" + tableRef.rows[i].cells[6].children[0].children[0].children[0].id).val("");


            //$("#" + tableRef.rows[i].cells[4].children[0].children[0].children[0].id).val("");


        }
        var datepickerappointmentdate = $("#dpdateofAppointment").data("kendoDatePicker");
        datepickerappointmentdate.readonly(false);

        //var personvacated = $("#ddlpersonvacated").data("kendoDropDownList").value();
        var SRN_Relevent_form = document.getElementById("txtSRN_relevent_form");
        var dateofvacancy = document.getElementById("dpDate_vacancy");

        var dateofAGM = document.getElementById("dpDate_AGM");

        var ddlnatureofappointment = $("#txtNature_of_Appointment").data("kendoDropDownList").value();
        if (ddlnatureofappointment == 2 || ddlnatureofappointment == 3) {
            document.getElementById("Auditor_AGM").checked = true;
            document.getElementById("rdbIsReasons_casual_vacancy").checked = false;

            SRN_Relevent_form.removeAttribute("required");
            //personvacated.removeAttribute("required");
            dateofvacancy.removeAttribute("required");
            dateofAGM.setAttribute("required", "required");

            var datepicker = $("#dpDate_AGM").data("kendoDatePicker");
            datepicker.readonly(false);
            $("#txtSRN_relevent_form").attr("readonly", true);

            var Date_vacancy = $("#dpDate_vacancy").data("kendoDatePicker");
            Date_vacancy.readonly();


            $("#txtMembership_Number_or_Registrationfirm").attr("readonly", true);


            // var personalvacation = $("#ddlpersonvacated").data("kendoDropDownList");
            //personalvacation.readonly();
            $("#divSRN").hide();
            $("#divAGM").show();
            $("#rdbforAGMorNot").show();


        }
        else if (ddlnatureofappointment == 1) {
            $("#rdbforAGMorNot").hide();
            $("#divAGM").hide();

        }
        else if (ddlnatureofappointment == 4) {
            document.getElementById("rdbIsReasons_casual_vacancy").checked = true;
            document.getElementById("Auditor_AGM").checked = false;
            var datepicker = $("#dpDate_AGM").data("kendoDatePicker");
            datepicker.readonly();
            $("#divSRN").show();
            $("#divAGM").hide();
            $("#dpDate_AGM").val("");
            $("#Date_AGM_validationMessage").find("div.k-tooltip-validation").hide();
            SRN_Relevent_form.setAttribute("required", "required");

            dateofvacancy.setAttribute("required", "required");

            dateofAGM.removeAttribute("required");


            $("#txtSRN_relevent_form").attr("readonly", false);

            var Date_vacancy = $("#dpDate_vacancy").data("kendoDatePicker");
            Date_vacancy.readonly(false);


            $("#txtMembership_Number_or_Registrationfirm").attr("readonly", false);


            //var personalvacation = $("#ddlpersonvacated").data("kendoDropDownList");
            // personalvacation.readonly(false);
            $("#Date_AGM_validationMessage").hide();
            $("#rdbforAGMorNot").hide();

        }
        else if (ddlnatureofappointment != 2 && ddlnatureofappointment != 3 && ddlnatureofappointment != 2) {
            var datepicker = $("#dpDate_AGM").data("kendoDatePicker");
            datepicker.readonly();
            $("#dpDate_AGM").val("");
            //$("#dpdateofAppointment").val("");

            SRN_Relevent_form.removeAttribute("required");

            dateofvacancy.removeAttribute("required");
            $("#Date_AGM_validationMessage").hide();
            dateofAGM.removeAttribute("required");

            var datepickerappointmentdate = $("#dpdateofAppointment").data("kendoDatePicker");
            datepickerappointmentdate.readonly(false);
            $("#divSRN").hide();
            $("#divAGM").hide();
        }
        else {
            $("#rdbforAGMorNot").show();
        }
    }



    function multiselectorAuditorval() {

        var ddljointAuditorss = $("#ddlMmultipleSelectorAuditor").data("kendoMultiSelect");
        var count = ddljointAuditorss.value().length;
        var IsjointAuditor = document.getElementById("IsJoin_Auditor_Appointed");
        if (IsjointAuditor.checked) {
            $("#txtAuditor_Number").val(count);

        }
        else if (!IsjointAuditor.checked) {
            ddljointAuditorss.options.maxSelectedItems = 1;
            $("#txtAuditor_Number").val(1);
        }
        else {

        }
    }


    function AuditChange(e) {

        var rbIsjointAuditor = document.getElementById("IsJoin_Auditor_Appointed").checked;
        $("#Auditor_Number_validationMessage").hide();
        if (rbIsjointAuditor == true && (e.value > 1 && e.value <= 5)) {

            $("#Auditor_Number_validationMessage").hide();
            var validator1 = $("#frmUpdatestatutoryAuditor").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
            validator1.destroy();
            $("#frmUpdatestatutoryAuditor").submit();

        }
        else if (rbIsjointAuditor == false) {
            $("#frmUpdatestatutoryAuditor").submit();
            e.removeAttribute("required");
            $("#Auditor_Number_validationMessage").hide();
        }
        else if (rbIsjointAuditor == true && e.value <= 1) {
            $("#Auditor_Number_validationMessage").show();
        }
        else if (e.value > 5) {
            $("#Auditor_Number_validationMessage").show();
        }
        //if (this.value == "True") {
        //    mimeType.setAttribute("required", "required");
        //    mimeTypes.setAttribute("required", "required");
        //    document.getElementById('MemberinMinor').style.display = 'block';
        //}
        //else {
        //    mimeType.removeAttribute("required");
        //    mimeTypes.removeAttribute("required");
        //    document.getElementById('MemberinMinor').style.display = 'none';
        //}
    }

    function btnstatutoryclick() {
        $("frmUpdatestatutoryAuditor").attr(
                    "action",
                    "@Url.Action("Add_UpdateStaturory_Audit", "AuditorMaster", new { submitButton = "Save" })"
                 ).submit();
        var validator1 = $("#frmUpdatestatutoryAuditor").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    }

    $(document).ready(function () {

        var ddlnatureofappointment = $("#txtNature_of_Appointment").data("kendoDropDownList").value();
        if (ddlnatureofappointment == 2) {
            $("#divAGM").show();
        }
        else {
            $("#divAGM").hide();
        }

        var rbIsjointAuditor = document.getElementById("IsJoin_Auditor_Appointed");

        if (rbIsjointAuditor.checked == false) {
            $('#txtAuditor_Number').val(1);
            $("#DivAuditorslist").show();
            $("#txtAuditor_Number").attr("readonly", true);

        }
        else {
            //$('#txtAuditor_Number').val("");
            $("#txtAuditor_Number").attr("readonly", false);


        }

        var tableRef = document.getElementById('tblStatutoryInfo').getElementsByTagName('tbody')[0];

        var getagmDate = kendo.toString($("#dpDate_AGM").data("kendoDatePicker").value(), 'dd/MM/yyyy');
        if (getagmDate == null) {
            getagmDate = kendo.toString($("#dpdateofAppointment").data("kendoDatePicker").value(), 'dd/MM/yyyy');
        }
        for (var i = 0; i < tableRef.rows.length; i++) {

            $("#" + tableRef.rows[i].cells[2].children[0].children[0].children[0].id).val(getagmDate);
            var appointmentfromdate = $("#" + tableRef.rows[i].cells[2].children[0].children[0].children[0].id).data("kendoDatePicker");
            appointmentfromdate.readonly();
        }
    })

    function openAditfirmorAudit(obj) {
        alert(obj);

        $("#KendoPopupAditorMaster").attr("style", "min-height:100px;");

        $("#KendoPopupAditorMaster").kendoWindow({
            title: "Edit - Auditor Master",
        });

        direction = "Add_EditAuditorMaster?Id=" + obj + "&StautoryAuditor=" + 1;
        var wnd = $("#KendoPopupAditorMaster").data("kendoWindow");
        var opts = wnd.options;


        wnd = $("#KendoPopupAditorMaster").kendoWindow({
            title: "Edit - Auditor Master",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "85%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();

                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "85%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }

    function OnRefresh() {
        var wnd = $("#KendoPopupAditorMaster").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpen(e) {
        var wnd = $("#KendoPopupAditorMaster").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function adjustSize() {

    }

    function ChangeDuedate(e) {

        var ddlnatureofappointment1 = $("#txtNature_of_Appointment").data("kendoDropDownList").value();

        var tableRef = document.getElementById('tblStatutoryInfo').getElementsByTagName('tbody')[0];
        var gettotalterm = $("#ddlNumberofFY0").data("kendoDropDownList").value();

        var dateofagm = $("#dpDate_AGM").data("kendoDatePicker").value();
        if (dateofagm == null) {
            dateofagm = $("#dpdateofAppointment").data("kendoDatePicker").value();
        }

        var date = new Date();

        date.setMonth(3);
        date.setDate(1);
        date.setFullYear(dateofagm.getFullYear())

        var FirstFY = date.toLocaleDateString("en-GB");

        //$("#AuditDeatilsList_0__AppointedFirstFYDate").val(FirstFY);//first Financial year Date

        var lastfyyear1 = new Date((date.getFullYear() + parseInt(gettotalterm)), (date.getMonth()), (date.getDate() - 1));
        var Fyoflastyear = lastfyyear1.toLocaleDateString("en-GB");
        //$("#AuditDeatilsList_0__AppointedFYDate").val(Fyoflastyear);//Last Financial year Date

        var aa = new Date((date.getFullYear()), (date.getMonth()), (date.getDate() - 1));
        var k1 = aa;
        var futureMonth;
        //for (j = 0; j < parseInt(gettotalterm) ; j++) {
        if (aa != null) {

            k1 = new Date((aa.getFullYear() + parseInt(gettotalterm)), (aa.getMonth()), (aa.getDate()))

            var b = moment(k1);
            futureMonth = moment(b).add(6, 'M');
            var b1 = moment(futureMonth).format('MM');
            if (b1 == "03") {
                futureMonth = futureMonth.add(1, 'd');
            }
        }

        var AGMdate = futureMonth.format('DD/MM/YYYY');

        for (var i = 0; i < tableRef.rows.length; i++) {

            $("#" + tableRef.rows[i].cells[5].children[0].children[0].children[0].id).val(FirstFY);

            if (tableRef.rows.length - 1 >= i && i > 0) {
                var ddlnumber = $("#ddlNumberofFY" + i).data("kendoDropDownList");
                ddlnumber.value(gettotalterm);
                ddlnumber.trigger("change");
            }
            //  $("#" + tableRef.rows[i].cells[3].children[0].children[0].children[0].id).value(e.value);

            $("#" + tableRef.rows[i].cells[6].children[0].children[0].children[0].id).val(Fyoflastyear);

            if (ddlnatureofappointment1 == 2 || ddlnatureofappointment1 == 3) {
                $("#" + tableRef.rows[i].cells[4].children[0].children[0].children[0].id).val(AGMdate);
            }
        }
    }
    //}

    $(document).ready(function () {

        $(".mydatepic").removeAttr("data-val-date");
        var tableRef = document.getElementById('tblStatutoryInfo').getElementsByTagName('tbody')[0];
        for (var i = 0; i < tableRef.rows.length; i++) {
            if (tableRef.rows[i].cells[2].children[0].children[0].children[0].value == "01/01/0001") {
                tableRef.rows[i].cells[2].children[0].children[0].children[0].value = "";

            }
            if (tableRef.rows[i].cells[4].children[0].children[0].children[0].value == "01/01/0001") {
                tableRef.rows[i].cells[4].children[0].children[0].children[0].value = "";
            }
            if (tableRef.rows[i].cells[5].children[0].children[0].children[0].value == "01/01/0001") {
                tableRef.rows[i].cells[5].children[0].children[0].children[0].value = "";
            }
            if (tableRef.rows[i].cells[6].children[0].children[0].children[0].value == "01/01/0001") {
                tableRef.rows[i].cells[6].children[0].children[0].children[0].value = "";
            }
        }
    });

    function changeCategory(obj) {

        var ddlcriteria = $("#" + obj.id).data("kendoDropDownList");
        var aa = obj.parentNode.parentNode.parentNode.rowIndex - 1;
        var val = ddlcriteria.value();
        var tableRef = document.getElementById('tblStatutoryInfo').getElementsByTagName('tbody')[0];


        $("#" + tableRef.rows[aa].cells[1].children[0].children[0].lastChild.id).kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url: "/api/AuditorMasterAPI/GetDropDownAuditors?CriteriaId=" + val + "&Type=" + 1 + "&EntityId=" + '@Model.EntityId'
                    }
                },
                serverFiltering: false
            },
            dataTextField: "Name",
            dataValueField: "Id",
            value: 0,
            optionLabel: "Select",
            index: 0
        });
    }

</script>
