﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_SecreterialAuditor




<div id="viewPlaceHolder">
    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            @Html.Partial("_partialviewAddEditSecreterialAuditor", Model)
        </div>
    </div>
</div>


