﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMStatutory_Auditor

<!-- Filter Script-->
<script>

    function filterChangeST() {
        

        var filter = { logic: 'or', filters: [] };
        var ddltenure = $("#Istenuar").data("kendoDropDownList");

        if (ddltenure != null && ddltenure != undefined) {
            var type = ddltenure.value();
            
            if (type != "") {
                var isTrueSet = (type === 'true');
                filter.filters.push({ logic: "and", field: "IsTenureCompleted", operator: "eq", value: isTrueSet });
            }
        }

        var t = $('#filterSTATUTORY');
        if (t.val() != "") {
            filter.filters.push({ logic: "and", field: "AuditorNames", operator: "contains", value: t.val() });
        }        

        var grid = $("#gridKendoStatutory").data("kendoGrid");
        if (grid != null && grid != undefined) {
            grid.dataSource.filter(filter);
        }

        if (filter != null) {
            $("#clearfillter").show();
        }
        else {
            $("#clearfillter").hide();
        }

    };

    function clearfilterST(e) {

        var ddlTenure = $("#Istenuar").data("kendoDropDownList");
        if (ddlTenure != null && ddlTenure != undefined) {
            ddlTenure.value("-1");
        }

        var txtStartPeriod = $("#filterSTATUTORY").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filterSTATUTORY").val("");
        }

        $('#clearfillter').css('display', 'none');

        $("#gridKendoStatutory").data("kendoGrid").dataSource.filter({});
    }

    $(document).ready(function () {
        $("#StaturoryCreatenew").kendoTooltip({ content: "Add Statutory Auditor/Firm" });
    });
</script>
<script>
    var initialLoad = true;
    function onRowBoundStatutory() {

        GetICons();
        var grid = $("#gridKendoStatutory").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            if (gridData[i].IsTenureCompleted == true) {
                var currentUid = gridData[i].uid;
                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                $(currenRow).find(".k-grid-resignation").addClass("k-state-disabled");
            }
        }

        getGridborder(grid);

        if (initialLoad) {
            BindAutoComplete();
            initialLoad = false;
        }
    }
</script>

<div class="row master-Headre mt30">
    <div class="col-md-12 vertical-center">
        <div class="col-md-6 colpadding0">
            <div class="col-md-8">
                <div class="input-group">
                    <input id='filterSTATUTORY' placeholder="Search by Auditor/Firm Name" class='form-control' autocomplete="off" /> @*onchange="filterChangeST(this)"*@
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit" style="height:34px">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                @(Html.Kendo().DropDownList()
          .Name("Istenuar")
          .DataTextField("Text")
          .DataValueField("Value")
          .HtmlAttributes(new { style = "width: 100%" })
          .BindTo(new List<SelectListItem>()
          {
              new SelectListItem() {
                Text = "Status-All", Value ="-1"
              },
              new SelectListItem() {
                Text = "Current", Value ="false"
              },
              new SelectListItem() {
                Text = "Past", Value ="true"
              },

          }).HtmlAttributes(new { @Onchange = "filterChangeST()" })
                )
            </div>

        </div>

        <div class="col-md-1">
            <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilterST()" id="clearfillter" style="display:none">
                <img src="~/Areas/BM_Management/img/Vector.png" />Clear
            </button>
        </div>

        <div class="col-md-5 colpadding0 text-right">
            <a class="btn btn-primary" href="/#" id="StaturoryCreatenew" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
        </div>
    </div>
</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMStatutory_Auditor>()
        .Name("gridKendoStatutory")
               .Columns(columns =>
               {
                   columns.Bound(o => o.IsTenureCompleted).Visible(false);
                   columns.Bound(o => o.Id).Visible(false);
                   columns.Bound(o => o.AudtitorCriteria).Title("Category").Width("10%").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.AuditorNames).Title("Name of the Firm/Auditor").Width("30%").HtmlAttributes(new {  }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.Nature_of_Appointment).Title("Nature of Appointment").Width("20%").HtmlAttributes(new { title = "#=GetSalutation(data.Nature_of_Appointment)# " })
                                                              .ClientTemplate("#=GetSalutation(data.Nature_of_Appointment)# ").HtmlAttributes(new {  });
                   columns.Bound(o => o.jointAuditor).Title("Joint Auditors").Width("10%").HtmlAttributes(new {  });
                   //.Title("Auditor").ClientTemplate("#= iterateMeeting(AuditorName) #");
                   columns.Bound(o => o.appointed_FromDate).Title("From Date").Width("10%").Format("{0:dd/MM/yyyy}").HtmlAttributes(new { @class = "text-center" }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Bound(o => o.appointed_ToDate).Title("To Date").Width("10%").Format("{0:dd/MM/yyyy}").HtmlAttributes(new { @class = "text-center" }).Filterable(ftb => ftb.Multi(true).Search(true));
                   columns.Command(command =>
                   {
                       command.Custom("Edit").Click("editstatutory").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                       command.Custom("R").Click("editStaturoryRegignation").HtmlAttributes(new { @class = "k-grid-resignation" });
                   }).Title("Action").Width("10%").HtmlAttributes(new { });
               })

        .EnableCustomBinding(true)
        //.ToolBar(
        //toolbar => toolbar.Custom().Name("CreateNew").Text("New").HtmlAttributes(new { id = "StaturoryCreatenew", @class = "k-grid-add k-button k-button-icontext" })
        //)
        .Events(e => e.DataBound("onRowBoundStatutory"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu(col => col.Columns(false))
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
                  model.Field(o => o.EntityId);
              })

        .Read(read => read.Url("/api/AuditorMasterAPI/GetStatutoryAuditor?EntityId="+Model.EntityId).Type(HttpVerbs.Get))
                       ).HtmlAttributes(new {}))
    </div>
</div>


@*<div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            <div class="row"><div class="col-md-12 colpadding0"><label></label></div></div>
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMStatutory_Auditor>()
            .Name("gridKendoHistoryStatutory")
                   .Columns(columns =>
                   {
                       columns.Bound(o => o.Id).Visible(false);
                       columns.Bound(o => o.Nature_of_Appointment).Title("Nature of Appointment").HtmlAttributes(new { title = "#=GetSalutation(data.Nature_of_Appointment)# " })
                .ClientTemplate("#=GetSalutation(data.Nature_of_Appointment)# ").Width(200);
                       columns.Bound(o => o.jointAuditor).Title("IsJoint Auditor/Firm").Width(20);
                       columns.Bound(o => o.AudtitorCriteria).Title("Category").Width(50);
                       columns.Bound(o => o.AuditorNames).Title("Audit Firm/Name").Width(100);
                       //.Title("Auditor").ClientTemplate("#= iterateMeeting(AuditorName) #");
                       columns.Bound(o => o.appointed_FromDate).Title("From date").Format("{0:dd/MM/yyyy}").Width(50);
                       columns.Bound(o => o.appointed_ToDate).Title("To date").Format("{0:dd/MM/yyyy}").Width(50);
                       //columns.Command(command =>
                       //{
                       //    command.Custom("Edit").Click("editstatutory").HtmlAttributes(new { @class = "k-grid-edit" });

                       //    command.Custom("R").Click("editStaturoryRegignation").HtmlAttributes(new { });

                       //})
                       //.Title("Action").Width(100);
                   })

            .EnableCustomBinding(true)
            //.ToolBar(
            //toolbar => toolbar.Custom().Name("CreateNew").Text("New").HtmlAttributes(new { id = "StaturoryCreatenew", @class = "k-grid-add k-button k-button-icontext" })
            //)
            .Events(e => e.DataBound("onRowBound"))
            .Navigatable()
            .Pageable(pageable => pageable
            .Refresh(false)
            .PageSizes(true)
            .ButtonCount(5))
            .Filterable()

            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .ColumnMenu()
            .DataSource(dataSource => dataSource
            .WebApi()

            .PageSize(5)
            .ServerOperation(false)
                  .Model(model =>
                  {
                      model.Id(o => o.Id);
                      model.Field(o => o.EntityId);
                  })

            .Read(read => read.Url("/api/AuditorMasterAPI/GetStatutoryAuditorHistory").Type(HttpVerbs.Get))
                           ))
        </div>
    </div>*@




<script>

    function dateofAGM() {

        var DateofAGM = kendo.toString($("#dpDate_AGM").data("kendoDateTimePicker").value(), 'MM/dd/yyyy');
        if (DateofAGM != null) {
            $("#dpdateofAppointment").data("kendoDateTimePicker").value(DateofAGM);
        }
    }

    function BindAutoComplete() {
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendoStatutory', 'AuditorNames'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendoStatutory', 'DIN'));

        if (autoCompleteData != null && autoCompleteData != undefined) {
            $("#filterSTATUTORY").kendoAutoComplete({
                dataSource: autoCompleteData,
                filter: "contains",
                placeholder: "Search by Auditor/Firm Name",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        filterChange();
    }


</script>
