﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMAuditor
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Auditor :: Masters";
}

<title></title>

<style>
    .k-window div.k-window-content {
        background: #F5F5F5;
        margin-top: 0%;
    }

    .demo-section k-content {
        background: transparent;
    }
</style>

<script>

    $(document).ready(function () {
        var breadCrumbData = [
           {
               displayText: "Masters",
               navigateUrl: "#",
           }, {
               displayText: "Auditor",
               navigateUrl: "/BM_Management/AuditorMaster/AuditorMaster",
           }
        ];

        setBreadCrumb(breadCrumbData);

        $("#gridKendo .k-grid-content").css({
            "overflow-y": "scroll"
        });
    });

    function filterChange() {
        var filter = { logic: 'or', filters: [] };

        //var t = $('#filter');
        //if (t.val() != "") {
        //    filter.filters.push({ logic: "or", field: "Name", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "Email_Id", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "Pan_Number", operator: "contains", value: t.val() });
        //}

        var txtSearch = $('#filter');

        if (txtSearch.val() != "") {
            var splittedData = txtSearch.val().trim().split(",");

            for (var i = 0; i < splittedData.length; i++) {
                if (splittedData[i].trim() != "") {
                    filter.filters.push({ logic: "or", field: "Name", operator: "contains", value: splittedData[i].trim() });
                    filter.filters.push({ logic: "or", field: "Email_Id", operator: "contains", value: splittedData[i].trim() });
                    filter.filters.push({ logic: "or", field: "Pan_Number", operator: "contains", value: splittedData[i].trim() });
                }
            }
        }

        if (filter != null) {
            $("#clearfillter").show();
        } else {
            $("#clearfillter").hide();
        }

        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.filter(filter);
    };

    function clearfilter(e) {

        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");
        }

        $('#clearfillter').css('display', 'none');

        $("#gridKendo").data("kendoGrid").dataSource.filter({});
    }

    var initialLoad = true;
    function onRowBound(e) {
        var grid = $("#gridKendo").data("kendoGrid");
        GetICons();
        getGridborder(grid);

        if (initialLoad) {
            BindAutoComplete();
            initialLoad = false;
        }
    }

    function UploadAuditor() {

        OnOpen('a');
        $("#wndFileUpload").attr("style", "min-height:100px;");
        var direction = "UploadAuditorPopup";

        $("#wndFileUpload").kendoWindow({
            title: "Upload Auditor/Firm",
        });
        $("#wndFileUpload").attr("style", "min-height:100px;");
        direction = "UploadAuditorPopup";
        var wnd = $("#wndFileUpload").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndFileUpload").kendoWindow({

            content: direction,
            width: "30%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresheupload(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpenupload();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "30%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

        function OnOpenupload() {

        }
        function OnRefresheupload() {

        }
    }

    function DownloadAuditorDocument(){
        window.location.href = "@Url.Action("DownloadSampleFormateforAuditorMaster", "AuditorMaster")";
    }

    function BindAutoComplete() {
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'Name'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'Email_Id'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'Pan_Number'));

        if (autoCompleteData != null && autoCompleteData != undefined) {
            $("#filterSearch").kendoAutoComplete({
                dataSource: autoCompleteData,
                filter: "contains",
                placeholder: "Search by Name / DIN",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        filterChange();
    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">

        @(Html.Kendo().Window().Name("wndFileUpload").Title("AddEntity").Visible(false).Modal(true))

        @Html.AntiForgeryToken()

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-6 colpadding0">
                    <div class="input-group">
                        <input id='filter' placeholder="Search by Name / PAN / Email" class='form-control' autocomplete="off" /> @*onchange="filterChange(this)"*@
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" style="height:34px">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearFilter" style="display:none">
                        <img src="~/Areas/BM_Management/img/Vector.png" />Clear
                    </button>
                </div>
                @if (Model.CanAdd)
                {
                    <div class="col-md-5 colpadding0 text-right">
                        <button class="btn btn-primary" id="customCommand" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                        <input type="button" class="btn btn-primary add-button" onclick="UploadAuditor()" title="Upload" value="Upload" />
                    </div>
                }
            </div>
        </div>

        <div class="row col-md-12 colpadding0 mt30">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMAuditor>()
    .Name("gridKendo")
    //.ColumnResizeHandleWidth(800)
    .Columns(columns =>
    {
    columns.Bound(o => o.Id).Visible(false);
    columns.Bound(o => o.AuditorTypeName).Title("Type").Width("20%").Filterable(ftb => ftb.Multi(true).Search(true));
    columns.Bound(o => o.Name).Title("Name of the Auditor or Auditor's Firm").Width("40%").Filterable(ftb => ftb.Multi(true).Search(true));
    columns.Bound(o => o.Email_Id).Title("Email").Width("15%").Filterable(ftb => ftb.Multi(true).Search(true));
    columns.Bound(o => o.Pan_Number).Title("PAN").Width("15%").HtmlAttributes(new { @class = "text-center" }).Filterable(ftb => ftb.Multi(true).Search(true));
    if (Model.CanEdit || Model.CanDelete)
    {
    columns.Command(command =>
    {
    if (Model.CanEdit)
    {
    command.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
    }
    command.Custom("Delete").Click("openWindow").HtmlAttributes(new { @class = "k-grid-delete" });
    }).Title("Action").Width("10%");
    }
    })
    .EnableCustomBinding(true)
    //.ToolBar(
    //toolbar => toolbar.Custom().Name("CreateNew").Text("New").HtmlAttributes(new { id = "customCommand", @class = "k-grid-add k-button k-button-icontext" })
    //)

    .Events(e => e.DataBound("onRowBound"))
    .Navigatable()
    .Pageable(pageable => pageable
    .Refresh(false)
    .PageSizes(true)
    .ButtonCount(5))
    .Filterable()
    .Sortable()
    .Reorderable(reorderable => reorderable.Columns(true))
    .Resizable(resizable => resizable.Columns(true))
    .ColumnMenu(col => col.Columns(false))
    .DataSource(dataSource => dataSource
    .WebApi()
    .PageSize(10)
    .ServerOperation(false)
    .Model(model =>
    {
    model.Id(o => o.Id);
    })
    .Read(read => read.Url("/api/AuditorMasterAPI/GetAuditorDetails").Type(HttpVerbs.Get))
    ))
        </div>

        <div id="modalWindow">
            <h5>Are you sure you want to delete this Auditor?</h5>
            <div class="text-center">
                <button id="yes" class="btn btn-primary">Yes</button>
                <button id="no" class="btn btn-primary">No</button>
            </div>
        </div>

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Bottom)
        .Width(100)
        .AutoHide(true))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(2)")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Bottom)
        .Width(100)
        .AutoHide(true))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(3)")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Bottom)
        .Width(100)
        .AutoHide(true))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-C")
        .Position(TooltipPosition.Bottom)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent"))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-S")
        .Position(TooltipPosition.Bottom)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent"))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-D")
        .Position(TooltipPosition.Bottom)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent"))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-A")
        .Position(TooltipPosition.Bottom)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent"))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-CM")
        .Position(TooltipPosition.Bottom)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent"))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Edit"))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Delete"))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Bottom)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent"))
        @(Html.Kendo().Window()
        .Name("KendoPopupAditorMaster")
        .Visible(false)
        .Modal(true)
        .Draggable(false)
        .Scrollable(false)
        .Events(e => e.Open("adjustSize"))
        .Events(e => e.Refresh("OnRefresh")))

        <script>
            function toolTipContent(e) {
                return e.target.context.innerText;
            }

            function getTooltipContent(e) {
                if (e.target.context.innerText == 'Edit') {
                    return "Edit";
                }
                else if (e.target.context.innerText == 'Delete') {
                    return "Delete";
                }

                else if (e.target.context.innerText == 'New') {
                    return "Add new Auditor";
                }
            }
        </script>
    </div>
</div>

<script>
    $("#customCommand").click(function (e) {
        e.preventDefault();
        CreateNew(e);
    });

    function CreateNew(e) {
        e.preventDefault();
        OnOpen('a');
        //$("#KendoPopupAditorMaster").attr("style", "min-height:100px;");
        var direction = "Add_EditAuditorMaster?Id=" + 0 + "&StautoryAuditor=" + 0;
        if (e.currentTarget.innerText != "New") {
            $("#KendoPopupAditorMaster").kendoWindow({
                title: "Edit - Auditor Master",
            });
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "Add_EditAuditorMaster?Id=" + dataItem.Id + "&StautoryAuditor="+0;
            var wnd = $("#KendoPopupAditorMaster").data("kendoWindow");
            var opts = wnd.options;
            settracknew('Auditor Master', 'Action', 'Edit', '');
        }
        else {
            $("#KendoPopupAditorMaster").kendoWindow({
                title: "Add - Auditor Master",
            });
            $("#KendoPopupAditorMaster").attr("style", "min-height:100px;");
            direction = "Add_EditAuditorMaster?Id=" + 0 + "&StautoryAuditor=" + 0;
            var wnd = $("#KendoPopupAditorMaster").data("kendoWindow");
            var opts = wnd.options;
            settracknew('Auditor Master', 'Action', 'AddNew', '');
        }
        wnd = $("#KendoPopupAditorMaster").kendoWindow({
            title: "Edit - Auditor Master",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "50%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "50%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });

    function openWindow(e) {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        wnd.center().open();
        $("#yes").click(function () {
            DeleteAuditor(id)
            //grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }

    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnRefresh() {
        var wnd = $("#KendoPopupAditorMaster").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpen(e) {
        var wnd = $("#KendoPopupAditorMaster").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function filterProducts() {
        return {
            stateId: $("#stateId").val()
        };
    }

    function filterProductss() {
        return {
            CountryId: $("#CountryId").val()
        };
    }

    function DeleteAuditor(id) {
        $.ajax({
            url: "/api/AuditorMasterAPI/DeleteAuditor?Id=" + id + "&CustomerId=" +@AuthenticationHelper.CustomerID +"&UserId="+@AuthenticationHelper.UserID,
            method: "DELETE",
            success: function (data) {
                alert(data);
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
            }
        });
    }
</script>



