﻿@using Kendo.Mvc.UI
@*@using com.VirtuosoITech.ComplianceManagement.Portal.Common;*@
@model BM_ManegmentServices.VM.VMDesignation

@{
    //ViewBag.Title = "Index";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<link href="~/Content/css/Kendouicss.css" rel="stylesheet" />



<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<title></title>

<style>
    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        /*// width: 900px;*/
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
    }

    .k-edit-buttons {
        width: 1280px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .forTooltips {
        width: 100%;
        height: 100%;
        padding: .929em 1.286em;
    }

    td.overridePadding {
        padding: 0;
    }

    .k-window {
        padding-top: 32.92px;
        min-width: 95%;
        min-height: 50px;
        display: block;
        top: 169.46px;
        left: 638px;
        z-index: 10003;
        transform: scale(1);
        opacity: 1;
        transition: all 350ms ease-out 0s;
    }
</style>

<script>
    function onRowBound(e) {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-i-plus-outline");

        $("#gridKendo .k-grid-header-wrap").find("colgroup col").eq(50).width(50);
        $("#gridKendo .k-grid-content").find("colgroup col").eq(50).width(50);

    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        @Html.AntiForgeryToken()
        @*@Html.HiddenFor(m => m.Id)*@
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMDesignation>()
        .Name("gridKendo")
        .Columns(columns =>
        {
            columns.Bound(o => o.ID).Filterable(false).HtmlAttributes(new { @style = "white-space: nowrap;" });
            columns.Bound(o => o.Name).HtmlAttributes(new { @style = "white-space: wrap;" });

            columns.Command(command =>
            {
                command.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-edit" });
                command.Custom("Delete").Click("DeleteDesi").HtmlAttributes(new { @class = "k-grid-delete" });
            })
 .Title("Action").HtmlAttributes(new { @style = "width: 80px;" });
        })
        .EnableCustomBinding(true)
        .ToolBar(
            toolbar => toolbar.Custom().Text("New").HtmlAttributes(new { id = "customCommand", @class = "k-grid-add" })
        )
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .Filterable()
            .Sortable()
            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .ColumnMenu()
            .DataSource(dataSource => dataSource
            .WebApi()
            //.Ajax()
            .PageSize(10)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.ID);
            })
        .Read(read => read.Url("/api/DesignationMasterAPI/GetDesignationeDetails").Type(HttpVerbs.Get))
               .Events(events => events.Sync("sync_handler"))
                          )
        )

        <div id="modalWindow">
            <h5>Are you sure you want to delete this data?</h5>
            <div class="text-center">
                <button id="yes" class="btn btn-primary">Yes</button>
                <button id="no" class="btn btn-primary">No</button>
            </div>           
        </div>
    </div>
</div>
@(Html.Kendo().Window()
    .Name("wndAddDesignation")
    .Title("Add - Designation")
    .Visible(false)
    .Modal(true)
    .Width(500)
    .Height(250)
    .Draggable(true)
    .Scrollable(false)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))

)
<script>
    $(document).ready(function () {
        setactivemenu('leftmastermenu');
        fhead('Masters / Designation Master');
    });

    function sync_handler(e) {
        this.read();
    }

    $("#customCommand").click(function (e) {
        e.preventDefault();
        CreateNew(e);
    });

    function CreateNew(e) {
        
        OnOpen('a');
        $("#wndAddDesignation").kendoWindow({
            title: "Add/Edit -Designation Master"
        });
        e.preventDefault();
        if (e.currentTarget.innerText != "New") {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var direction = "Create?id=" + dataItem.ID;
            var wnd = $("#wndAddDesignation").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            $("#wndAddDesignation").attr("style", "min-height:100px;");
            $("#wndAddDesignation").attr("style", "min-width:95%;");
            var direction = "Create?id=" + 0;
            var wnd = $("#wndAddDesignation").data("kendoWindow");
            var opts = wnd.options;
        }
        // if (!wnd) {
        wnd = $("#wndAddDesignation").kendoWindow({
            title: "Add/Edit -Designation Master",
            actions: ["Close"],
            content: direction,
            width: "100%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            close: function (e) {

                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function () { OnOpen(); }
        }).data("kendoWindow");
        // }

        // opts.width = "95%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.center();
        wnd.open();

    }

    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnOpen(e) {
        var wnd = $("#wndAddDesignation").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

    }

    function OnRefresh() {
        var wnd = $("#wndAddDesignation").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function DeleteDesignation(id) {
        
        $.ajax({
            url: "/api/DesignationMasterAPI/DeleteDesignationData?Id=" + id, //+ "&UserID=" + AuthenticationHelper.UserID, 
            method: "DELETE",
            success: function () {
                alert("Deleted Successfully");
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
            }
        });
    }

    function DeleteDesi(e) {
        
        e.preventDefault();
        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.ID;
        wnd.center().open();
        $("#yes").click(function () {
            DeleteDesignation(id)
            grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }

    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
</script>