﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @*<link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular.min.js"></script>

    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/js/lodash.js"></script>

    <script src="~/js/angularjs-dropdown-multiselect.min.js"></script>*@

    <link href="~/IMAJS/select2.min.css" rel="stylesheet" />
    <link href="~/IMACSS/bootstrap.css" rel="stylesheet" />
    <link href="~/IMACSS/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/IMACSS/ng-tags-input.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/IMAJS/bootstrap.min.js"></script>
    <script src="~/IMAJS/select2.min.js"></script>
    <script src="~/IMAJS/select2.full.js"></script>
    <script src="~/IMAJS/anjular(1.5.0).min.js"></script>
    <script src="~/IMAJS/angular.js"></script>
    <script src="~/IMAJS/angular.min.js"></script>
    <script src="~/IMAJS/moment.min.js"></script>
    <script src="~/IMAJS/ng-file-upload.min.js"></script>
    <script src="~/IMAJS/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/IMAJS/ui-bootstrap-tpls.js"></script>
    <script src="~/IMAJS/lodash.js"></script>
    <script src="~/IMAJS/angularjs-dropdown-multiselect.min.js"></script>
    <script src="~/IMAJS/ng-tags-input.min.js"></script>


    <style type="text/css">
        .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
            -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.5);
        }

        input[type=checkbox], input[type=radio] {
            margin: 4px 6px 0;
            margin-top: 1px\9;
            line-height: normal;
        }

        .k-checkbox-wrapper {
            display: inline-block;
            vertical-align: middle;
            margin-left: -13px;
        }

        .div.k-grid-footer, div.k-grid-header {
            border-top-width: 1px;
            margin-right: -2px;
        }

        .k-grid-footer-wrap, .k-grid-header-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            border-style: solid;
            border-width: 0 1px 0 0;
            zoom: 1;
        }

        .k-grid-content {
            min-height: 380px !important;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 2.0em;
            border-bottom-width: 1px;
            background-color: white;
            border-width: 0 1px 1px 0px;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
            background-color: white;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: white;
        }

        #grid .k-grid-toolbar {
            background: white;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 0px;
            color: inherit;
        }

        .toolbar {
            float: left;
        }

        html .k-grid tr:hover {
            background: white;
        }

        html .k-grid tr.k-alt:hover {
            background: white;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            background: white;
            border: none;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
            margin-right: 2px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: white;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 0px 1px 0px;
            text-align: center;
        }

        .k-grid-pager {
            margin-top: -1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-i-arrow-60-down, .k-i-arrow-60-left, .k-i-arrow-60-right, .k-i-arrow-60-up {
            cursor: pointer;
            margin-top: 6px;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            border-width: 0px 0px 1px 0px;
            background: #E9EAEA;
            font-weight: bold;
            margin-right: 18px;
            font-family: 'Roboto',sans-serif;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            height: 20px;
            vertical-align: middle;
        }

        .k-dropdown-wrap.k-state-default {
            background-color: white;
        }

        .k-popup.k-calendar-container, .k-popup.k-list-container {
            background-color: white;
        }

        .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
            -webkit-box-shadow: inset 0 0 3px 1px white;
            box-shadow: inset 0 0 3px 1px white;
        }

        label.k-label {
            font-family: roboto,sans-serif !important;
            color: #515967;
            /* font-stretch: 100%; */
            font-style: normal;
            font-weight: 400;
            min-width: 362px;
            white-space: pre-wrap;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: flex;
            margin-bottom: 0px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: 0px;
        }

        .k-grid-norecords {
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: 2%;
        }

        .k-grouping-header {
            font-style: italic;
            background-color: white;
        }

        .k-grid-toolbar {
            background: white;
            border: none;
        }

        .k-grid table {
            width: 100.5%;
        }

        .k-active-filter, .k-state-active, .k-state-active:hover {
            background-color: #E9EAEA;
            border-color: #a6a6ad;
            color: #535b6a;
        }

        .btn-group, .btn-group-vertical {
            margin-top: -80px;
            margin-left: 186px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }

        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
            width: 265px;
            text-align: left;
        }

        .btn .caret {
            margin-left: 127px;
        }
        .help-block {
    display: block;
    margin-left: 187px;
    margin-top: -23px;
    margin-bottom: 10px;
   
}
    </style>
    <script>
        var app = angular.module("KendoDemos", ['angularjs-dropdown-multiselect', "kendo.directives"]);
        app.directive("select2", function ($timeout, $parse) {
            return {
                restrict// Code goes here
            : 'AC',
                require: 'ngModel',
                link: function (scope, element, attrs) {
                    console.log(attrs);
                    $timeout(function () {
                        element.select2();
                        element.select2Initialized = true;
                    });

                    var refreshSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.trigger('change');
                        });
                    };
                    var recreateSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.select2('destroy');
                            element.select2();
                        });
                    };
                    scope.$watch(attrs.ngModel, refreshSelect);
                    if (attrs.ngOptions) {
                        var list = attrs.ngOptions.match(/ in ([^ ]*)/)[1];
                        // watch for option list change
                        scope.$watch(list, recreateSelect);
                    }
                    if (attrs.ngDisabled) {
                        scope.$watch(attrs.ngDisabled, refreshSelect);
                    }
                }
            };
        });
        app.controller("MyCtrl", function ($scope, $http, myService) {
            Bindgrid();
            //define object
            $scope.LocationID = [];
            $scope.dropdownSetting = {
                checkBoxes: true,
                scrollableHeight: '200px',
                scrollable: true,
                enableSearch: true,
                showCheckAll: true,
                showUncheckAll: true,
                GetChecked: true,
                width: '35px',
            }
            $scope.example5customTexts = { buttonDefaultText: 'Select Location' };
            GetTabName();
            function GetTabName() {
                $scope.Customer = [];
                //fetch data from database for show in multiselect dropdown
                $http.get('/tabmaster/GetCustomerName').then(function (data) {
                    angular.forEach(data.data, function (value, index) {
                        $scope.Customer.push({ id: value.ID, label: value.Name });
                    });
                })
            }
            var record = 0;
            function Bindgrid() {
                var grid = $('#grid').data("kendoGrid");
                if (grid != undefined || grid != null)
                    $('#grid').empty();
                var grid = $("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            read: '../tabmaster/getAll'
                        },
                        pageSize: 10
                    },
                    excel: {
                        allPages: true,
                    },
                    noRecords: true,
                    messages: {
                        noRecords: "No records found"
                    },
                    sortable: true,
                    filterable: true,
                    columnMenu: true,
                    pageable: true,
                    reorderable: true,
                    resizable: true,
                    multi: true,
                    selectable: true,
                    dataBinding: function () {
                        record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                        if (this.ReminderStatus == 0) { template: "#=pending" }
                    },
                    columns: [
                        {
                            field: "TabDetailsID", title: 'TabDetailsID', hidden: true,
                            
                        },
                   {
                       field: "ID", title: 'ID', hidden: true,
                       attributes: {
                           style: 'white-space: nowrap;'

                       }, filterable: {
                           extra: false,
                           operators: {
                               string: {
                                   eq: "Is equal to",
                                   neq: "Is not equal to",
                                   contains: "Contains"
                               }
                           }
                       }, width: "15%",
                   },
                     {
                         field: "CustomerName", title: 'Name',
                         attributes: {
                             style: 'white-space: nowrap;'

                         }, filterable: {
                             extra: false,
                             operators: {
                                 string: {
                                     eq: "Is equal to",
                                     neq: "Is not equal to",
                                     contains: "Contains"
                                 }
                             }
                         }, width: "10%",
                     },
                       {
                           field: "LocationName", title: 'Location',
                           attributes: {
                               style: 'white-space: nowrap;'

                           }, filterable: {
                               extra: false,
                               operators: {
                                   string: {
                                       eq: "Is equal to",
                                       neq: "Is not equal to",
                                       contains: "Contains"
                                   }
                               }
                           }, width: "10%",
                       },
                    {
                        command: [
                            { name: "edit", text: "", iconClass: "k-icon k-i-hyperlink-open", className: "ob-edit" },
                            { name: "edit1", text: "", iconClass: "k-icon k-i-delete k-i-trash", className: "ob-deleteuser" }], title: "Action", lock: true, width: "3%;",// width: 150,
                    }
                    ]
                });

                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit",
                    content: function (e) {
                        return "Edit";
                    }
                });
                $("#grid").kendoTooltip({
                    filter: ".k-grid-edit1",
                    content: function (e) {
                        return "Delete";
                    }
                });
            }
            GetCustomers();
        
            //Edit Tab Deatais
            $(document).on("click", "#grid tbody tr .ob-edit", function (e) {
                $('#popup').modal('show');
                var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                $scope.DisplayForm = true;
                $scope.addminus = false;
                $scope.addplus = false;
                $scope.editminus = true;
                $scope.AddAlert = false;
                $scope.EditAlert = false;
                $scope.DeleteAlert = false;
                $http({
                    method: 'POST',
                    url: '/tabmaster/getCustomerAssignmentByNo/',
                    data: JSON.stringify({ id: item.ID })
                }).success(function (data, status, headers, config) {
                    debugger;
                    $scope.ComplianceCoordinatorName = data[0].CustomerName;
                    $scope.ID = data[0].ID;
                    for (var i = 0; i < $scope.Customer.length; i++) {//4
                        for (var j = 0; j < data.length; j++) {//2
                            if (data[j].LocationID == $scope.Customer[i].id) {
                                $scope.LocationID.push($scope.Customer[i]);
                                break;
                            }
                        }
                    }
                    $scope.Action = "Update";
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            });
            //Delete Tab Details
            $(document).on("click", "#grid tbody tr .ob-deleteuser", function (e) {
                var retVal = confirm("Do you want to Delete Record..?");
                if (retVal == true) {
                    var item = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                    $http({
                        method: 'POST',
                        url: '/tabmaster/DeleteCustomerAssignment/',
                        data: JSON.stringify({ Id: item.TabDetailsID, TabamsterId: item.ID })
                    }).then(function (response) {
                        $scope.delete = response.data;
                        $scope.DeleteAlert = true;
                        $scope.AddAlert = false;
                        $scope.EditAlert = false;
                        $scope.popup = false;
                        $scope.IsEmailValid = true;
                        Bindgrid();
                    }), function (error) {
                        $scope.delete = "Error in deleting records";
                    };
                }
                return true;
            });
            //display CustomerId value based upon Employee
            $scope.GetCustomervalues = function () {
                if ($scope.EmployeeID != 0) {
                    $http({
                        method: 'POST',
                        url: '/tabmaster/getCustomerAssignmentByNo/',
                        data: JSON.stringify({ id: $scope.EmployeeID })
                    }).success(function (data, status, headers, config) {
                        if (data.length > 0) {
                            for (var i = 0; i < $scope.Customer.length; i++) {//4

                                for (var j = 0; j < data.length; j++) {//2
                                    if (data[j].LocationID == $scope.Customer[i].id) {
                                        $scope.LocationID.push($scope.Customer[i]);
                                        break;
                                    }
                                }
                            }
                        }
                        else {
                            GetTabName();
                            $scope.LocationID = [];
                        }
                    }).error(function (data, status, headers, config) {
                        $scope.message = 'Unexpected Error';
                    });
                }
                else {
                    //GetCustomers1();
                    $scope.LocationID = [];
                }
            }
            $scope.DisplayForm = false;
            $scope.addminus = false;
            $scope.addplus = true;
            $scope.editminus = false;
            $scope.AddAlert = false;
            $scope.EditAlert = false;
            $scope.DeleteAlert = false;
            $scope.popup = false;
            GetCustomers();
            //GetEmployees();
            ////Get Employee name
            //function GetEmployees() {
            //    $scope.employees = [];
            //    $http({
            //        method: 'Get',
            //        url: '/customerassignment/GetEmployeeName',
            //    }).then(function (response) {
            //        $scope.employees = response.data;
            //    }), function (error) {
            //        $scope.message = 'Unexpected Error';
            //    };
            //}
            //Get Customer name
            function GetCustomers() {
                $scope.locations = [];
                $http({
                    method: 'Get',
                    url: '/customerassignment/GetCustomerName',
                }).then(function (response) {
                    $scope.customers = response.data;
                }), function (error) {
                    $scope.message = 'Unexpected Error';
                }
            }
            //Save Add/Edit details to database
            $scope.AddUpdateMaster = function (isEmpValid) {
                debugger;
                if (isEmpValid) {
                    var entry = {};
                    $scope.userForm.$setPristine();
                    var entry = {
                        ID : $scope.ID,
                        TabName: $scope.ComplianceCoordinatorName,
                    };
                    var details = new Array();
                    angular.forEach($scope.LocationID, function (value, index) {
                        var detail = {};
                        detail.ID = entry.ID;
                        detail.LocationID = value.id;
                        details.push(detail);
                    });
                    entry.locations = details;
                    var getAction = $scope.Action;
                    if (getAction == "Update") {
                        debugger;
                        $http({
                            method: "Post",
                            url: "/tabmaster/SaveCusAssignments",
                            dataType: 'json',
                            headers: { "Content-Type": "application/json" },
                            data: '{Customers: ' + JSON.stringify(entry) + '}'
                           // data: JSON.stringify({ id: item.ID })
                        }).then(function (response) {
                            $scope.msg = response.data;
                            if (response.data == "Tab Master Created Successfully!") {
                                $scope.tabs = false;
                                $scope.adtabls = false;
                                $scope.form = false;
                                $scope.form1 = false;
                                $scope.DisplayForm = false;
                                $scope.addplus = true;
                                $scope.addminus = false;
                                $scope.editminus = false;
                                $scope.DeleteAlert = false;
                                $scope.AddAlert = true;
                                $scope.EditAlert = false;
                                Bindgrid();
                                GetTabName();
                                $scope.LocationID = [];
                                ClearFields();
                                angular.element('#popup').modal('hide');
                                $scope.ComplianceCoordinatorName = data[0].CustomerName;
                                angular.element('#popup').modal('hide');
                            }
                            else {
                                $scope.tabs = true;
                            }

                        }), function (error) {
                            $scope.Message = error.Message;
                        }
                    }
                    else {
                        $http({
                            method: "Post",
                            url: "/tabmaster/SaveCusAssignments",
                            dataType: 'json',
                            headers: { "Content-Type": "application/json" },
                            data: '{Customers: ' + JSON.stringify(entry) + '}'
                        }).then(function (response) {
                            $scope.msg = response.data;
                            if (response.data == "Tab Master Created Successfully!") {
                                $scope.tabs = false;
                                $scope.adtabls = false;
                                $scope.form = false;
                                $scope.form1 = false;
                                $scope.DisplayForm = false;
                                $scope.addplus = true;
                                $scope.addminus = false;
                                $scope.editminus = false;
                                $scope.DeleteAlert = false;
                                $scope.AddAlert = true;
                                $scope.EditAlert = false;
                                Bindgrid();
                                GetTabName();
                                $scope.LocationID = [];
                                ClearFields();
                                angular.element('#popup').modal('hide');
                            }
                            else {
                                $scope.tabs = true;
                            }
                        }), function (error) {
                            $scope.Message = error.Message;
                        }
                    }
                    //}
                }
                else {
                    $scope.DisplayForm = true;
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
                Bindgrid();
            }
            $scope.IsEmpValid = true;
            $scope.IsEmpExist = false;
            $scope.Validate = function () {
                debugger;
                $http({
                    method: 'POST',
                    url: '/tabmaster/CheckExistance/',
                    params: { employee: $scope.ComplianceCoordinatorName }
                }).then(function (response) {
                    debugger;
                    if (response.data == true) {
                        $scope.IsEmpValid = false;
                        $scope.IsEmpExist = true;
                    } else {
                        $scope.IsEmpValid = true;
                        $scope.IsEmpExist = false;
                    }
                    //if (response.data == true) {
                    //    $http({
                    //        method: 'POST',
                    //        url: '/tabmaster/UpdateUser/',
                    //        data: JSON.stringify({ id: $scope.LocationID })
                    //    }).success(function (data, status, headers, config) {
                    //        debugger;
                    //        $scope.ID = data[0].ID;
                    //        $scope.EmployeeID = data[0].EmployeeID;
                    //        for (var i = 0; i < $scope.Customer.length; i++) {//4
                    //            for (var j = 0; j < data.length; j++) {//2
                    //                if (data[j].LocationID == $scope.Customer[i].id) {
                    //                    $scope.LocationID.push($scope.Customer[i]);
                    //                    break;
                    //                }
                    //            }
                    //        }
                    //        $scope.Action = "Update";
                    //    }).error(function (data, status, headers, config) {
                    //        $scope.message = 'Unexpected Error';
                    //    });
                    //    $scope.ComplianceCoordinatorName = data[0].CustomerName;
                    //    $scope.ID = data[0].ID;
                    //    for (var i = 0; i < $scope.Customer.length; i++) {//4
                    //        for (var j = 0; j < data.length; j++) {//2
                    //            if (data[j].LocationID == $scope.Customer[i].id) {
                    //                $scope.LocationID.push($scope.Customer[i]);
                    //                break;
                    //            }
                    //        }
                    //    }
                    //    $scope.IsEmpValid = false;
                    //    $scope.IsEmpExist = true;
                    //} else {
                    //    $scope.IsEmpValid = true;
                    //    $scope.IsEmpExist = false;
                    //    //$scope.Customer = [];
                    //    $scope.LocationID = [];
                    //    $scope.Action = "Save";
                    //    //$scope.EmployeeID = "";
                    //}
                });
            }

            //Add Activity details
            $scope.AddCustAssDiv = function () {
                $scope.DisplayForm = true;
                $scope.addminus = true;
                $scope.addplus = false;
                $scope.DeleteAlert = false;
                $scope.AddAlert = false;
                $scope.EditAlert = false;
                $scope.ShowLoader = false;
                $scope.popup = true;
                $scope.Customer = [];
                $scope.LocationID = [];
                Bindgrid();
                GetTabName();
                ClearFields();
                $scope.Action = "Save";
            }

            //Clear all feilds
            function ClearFields() {
                //define object
                $scope.ID = "";
                $scope.ComplianceCoordinatorName = "";
                $scope.EmployeeID = "";
                $scope.ShowLoader = false;
                $scope.IsEmpValid = true;
                $scope.IsEmpExist = false;
                $scope.userForm.$setPristine();
            }
            //Cancel Functionality
            $scope.close = function () {
                $scope.DisplayForm = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                $scope.DeleteAlert = false;
                $scope.AddAlert = false;
                $scope.popup = false;
                $scope.EditAlert = false;
                $scope.ShowLoader = false;
                GetTabName();
                $scope.LocationID = [];
                ClearFields();

            }
        })
        app.service("myService", function ($http) {
            // Update CustomerAssignment by Id
            this.updateCustassign = function (slabdetail) {
                var response = $http({
                    method: "post",
                    url: "/customerassignment/UpdateCustomerAssignment",
                    data: JSON.stringify(slabdetail),
                    dataType: "json"
                });
                return response;
            }
            // Add CustomerAssignment
            this.AddCustassign = function (CustAssign) {
                debugger;
                var response = $http({
                    method: "post",
                    url: "/customerassignment/AddCustomerAssignment",
                    data: JSON.stringify(CustAssign),
                    dataType: "json"
                });
                return response;
            }
        });
    </script>


</head>
<body>
    <div class="container">
        <div id="example" ng-app="KendoDemos">
            <div ng-controller="MyCtrl">
                <div style="padding-top:10px"></div>

                <h1 class="modal-title" style="text-align:left;height: 20px;margin-top: 18px;font-size: 16px;"><b>Tab Master</b></h1>

                <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
                    <strong>{{delete}}</strong>
                </div>
                <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
                    <strong>{{msg}}</strong>
                </div>
                <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
                    <strong>{{msg}}</strong>
                </div>

                <div class="modal fade" id="popup" data-keyboard="false" data-backdrop="static" style="border:0px;margin-left: 35px;position: absolute;overflow: hidden;padding-top:30px" role="dialog">
                    <div style="width:630px;margin-left: 320px;">
                        <div class="modal-content">
                            <div class="modal-header pt-reduced pb-reduced" style="background-color:#81c9ff;">
                                <button type="button" class="close" data-dismiss="modal" ng-click="close()">x</button>
                                <h4 class="modal-title" style="text-align:left;height: 20px;color:white"><b>Tab Master Details</b></h4>
                            </div>
                            <div class="modal-body">
                                <div id="wrapper" class="clearfix" ng-show="DisplayForm" scroll-bookmark="bookmark">

                                    <div>
                                        <form name="userForm" novalidate>
                                            <div class="form-horizontal">

                                                <div>
                                                    <label for="lblComplianceCoordinatorName" style="margin-left:118px">Name</label><br />
                                                    <input type="text" style="display: inline; width: 268px;height:28px;margin-top:-80px;margin-left:184px" class="form-control" name="ComplianceCoordinatorName" ng-change="Validate()" ng-model="ComplianceCoordinatorName" required />
                                                    <input type="hidden" ng-model="ID">
                                                    <p style="color:red" ng-show="userForm.ComplianceCoordinatorName .$error.required  && !userForm.ComplianceCoordinatorName.$pristine"  class="help-block">Name is required.</p>
                                                    <p style="color: Red;" class="help-block" ng-show="!IsEmpValid">Name already exists!</p>
                                                </div>
                                                <div>
                                                    <label for="lblLocation" style="margin-left: 118px;">Location</label><br />
                                                    <div ng-dropdown-multiselect="" extra-settings="dropdownSetting"
                                                         options="Customer" selected-model="LocationID" name="LocationID" translation-texts="example5customTexts" style="display: inline; width: 300px;"></div>
                                                </div>
                                                <input type="hidden" ng-model="ID">
                                                <div class="modal fade in" aria-hidden="false" style="display: block;" ng-show="clicked">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header" style="background-color:#6db6ec;">
                                                                <button type="button" class="close" ng-click="clicked=false">
                                                                    ×
                                                                </button>
                                                                <h4 class="modal-title" style="text-align:center;height: 20px;color:white"><b>Locations</b></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <fieldset>
                                                                    <!-- Form Name -->
                                                                    <label style="margin-left: 25px;" ng-repeat="o in locations" class="checkbox">
                                                                        <input type="hidden" ng-model="o.caid" />
                                                                        <input type="hidden" ng-model="o.ID" />
                                                                        <input type="checkbox" ng-checked="{{o.Selected}}" ng-model="o.Selected" />{{o.Name}}
                                                                    </label>
                                                                </fieldset>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary" ng-click="clicked=false;">
                                                                    Ok
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group"></div>
                                                <div class="form-group" style="width: 120%; text-align: center; padding: 10px;height:130px">
                                                    <div class="col-md-offset-2 col-md-5">
                                                        <p>
                                                            <button class="button" ng-model="IsVisible" style="margin-right:10px" ng-click="AddUpdateMaster(userForm.$valid)">{{Action}}</button>
                                                            <button class="button" data-dismiss="modal" style="margin-right: -105px;" ng-click="close()">Close</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4" style="margin-left: 27px;display:inline-block">
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-" style="text-align: right;display:inline-block ;margin-left:80px">
                                <button class="btn btn-primary btn-sm " data-toggle="modal" data-target="#popup" ng-show="addplus" ng-click="AddCustAssDiv();" style="margin-left: 27px;"><span class="glyphicon glyphicon-plus"></span>Add</button>

                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div class="row" style="padding-top: 12px;">
                    <div id="grid" style="margin-left:10px;margin-right:10px;"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
