﻿@using Kendo.Mvc.UI;
@model long

<script type="text/javascript">
    function error_handlerT(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
        else {
            alert('Save Successfully.');
        }
    }

    function Request_EndT(e) {
        
        if (e.type == "create" || e.type == "update") {
            if(e.response.Errors == null)
            {
                var divgridNewMessage = $("#divgridNewMessage");
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
            }
        }
    }

    $("#btnSaveTemplate").kendoButton({
        click: function (e) {
            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = '';


            var grid = $("#gridParticipantNew").data("kendoGrid");
            var gridData = grid.dataSource.data();

            var lookup = {};
            var isExists = false;
            
            for (var i = 0; i < gridData.length; i++){
                var templateName = gridData[i].TemplateName.toUpperCase();
                if (!(templateName in lookup)){
                    lookup[templateName] = 1;
                }
                else {
                    isExists = true;
                }
               }

            if (isExists == false) {
                grid.saveChanges();
            }
            else {
                var strValidation = "Duplicate Template Name.";
                divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + strValidation + "</lable></div></div></div>";
            }


            loadTemplateMasterDropDownParent();
        }
    })

    //function toolTipContent_gridNew(e) {
    //    return e.target.context.innerText;
    //}
</script>

<div>
    @(Html.Kendo().Tooltip()
        .For("#gridParticipantNew")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Add - Template Field")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridParticipantNew")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Delete")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridParticipantNew")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(200)
        .AutoHide(true) )

    @(Html.Kendo().Tooltip()
        .For("#gridParticipantNew")
        .Filter("td:nth-child(2)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(300)
        .AutoHide(true) )

    @(Html.Kendo().Tooltip()
        .For("#gridParticipantNew")
        .Filter("td:nth-child(3)")
        //.ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(300)
        .AutoHide(true) )
</div>

<div id="divgridNewMessage">
</div>

<div>
    @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingInviteeVM>()
    .Name("gridParticipantNew")
    .Columns(columns =>
    {
        columns.Bound(p => p.ParticipantName).ClientTemplate("<b>{{#=TemplateName.toUpperCase()#}}</b>").HtmlAttributes(new { @maxlength = "2", title = "<b>{{#=TemplateName.toUpperCase()#}}</b>" }).Sortable(false).Width("20%"); ;
        columns.Bound(p => p.ParticipantEmail).HtmlAttributes(new { title = "#= TemplateLabel #" }).Sortable(false).Width("55%");
        columns.Command(command => command.Destroy());
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create().Text("Add New").HtmlAttributes(new { @class = "k-grid-add", title = "Add New Template Field" });
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
    .Pageable()
    .Sortable()
    //.Scrollable()
    .HtmlAttributes(new { style = "height:500px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .Events(events => events.Error("error_handlerT")
        .RequestEnd("Request_EndT"))
        .Model(model =>
        {
            model.Id(p => p.MeetingParticipantId);
            model.Field(p => p.ParticipantName);
            model.Field(p => p.ParticipantEmail);
            model.Field(p => p.lstAgendaItems);
        })
        .PageSize(10)
        .Read(read => read.Action("EditingCustom_Read", "Template", new { AgendaMasterId = Model }))
        .Create(create => create.Action("EditingCustom_Create", "Template"))
        .Update(update => update.Action("EditingCustom_Update", "Template"))
        .Destroy(destroy => destroy.Action("EditingCustom_Destroy", "Template"))
    ))
</div>

<div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
    <button type="button" id="btnSaveTemplate" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
</div>