﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.CommitteeList_ForEntity


<div id="example">
    <div id="window">
        <!-- this will be the content of the popup -->

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.Designation)
        <div class="row mt30">
            <div class="col-md-12">

                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Entity Name </lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.Kendo().DropDownListFor(model => model.Entity_Id)
                        .DataValueField("Id")
                        .DataTextField("EntityName")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                            })
                            .ServerFiltering(true);
                        })
                        .Value(Model.Entity_Id.ToString())
                        .OptionLabel("Select")
                        .HtmlAttributes(new {style = "width: 95%;" }))
                    
                </div>

            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12">
                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Committe Name </lable>
                    @*@Html.LabelFor(m => m.FirstName)*@
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.Kendo().DropDownListFor(model => model.Committee_Id)
                        .DataValueField("Id")
                        .DataTextField("Name")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/CommitteeCompAPI/GetCommitteeCompForDropDown").Type(HttpVerbs.Get);
                            })
                            .ServerFiltering(true);
                        })
                        .Value(Model.Committee_Id.ToString())
                        .HtmlAttributes(new { style = "width: 95%;"})
                    )
                    @Html.ValidationMessageFor(model => model.Committee_Id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12">

                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Director Name </lable>
                    @*@Html.LabelFor(m => m.FirstName)*@
                </div>
                <div class="col-md-7 colpadding0">

                    @(Html.Kendo().DropDownListFor(model => model.Director_ID)
                        .DataValueField("Director_ID")
                        .DataTextField("FirstName")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/DirectorMasterAPI/DirectorList_ForEntity1").Data("filterDirector").Type(HttpVerbs.Get);
                            })
                            .ServerFiltering(false);

                        })
                        .Value(Model.Director_ID.ToString())
                        .CascadeFrom("Entity_Id")
                        //.Template("<div class='customer-photo' style = 'background-image: url(" + @Url.Content("~/Areas/BM_Management/Documents/Director/#:data.Director_ID#/#:data.ImagePath#") + ");' ></div><div class='customer-name'>#=GetSalutation(data.Salutation)# #:FirstName# #:data.LastName#</div>")
                        .HtmlAttributes(new { style = "width: 95%;" })
                    )
                    @Html.ValidationMessageFor(model => model.Committee_Id, "", new { @class = "text-danger" })

                </div>

            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12">

                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Designation </lable>
                    @*@Html.LabelFor(m => m.FirstName)*@
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.Kendo().DropDownListFor(model => model.Designation_Id).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Chairperson"},
                                    new {id="2",text="Member"},
                                }, "id", "text")).HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;", })
                    @Html.ValidationMessageFor(model => model.Designation_Id, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div class="row mt30">
            <div class="col-md-12">

                <div class="col-md-3">
                    <span style="color:red">*</span><lable class="control-label">Type </lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.Kendo().DropDownListFor(model => model.Committee_Type).BindTo(new SelectList(new List<object> {
                                    new {id="0",text="Select"},
                                    new {id="1",text="Executive"},
                                    new {id="2",text="Non-Executive"},
                                    new {id="3",text="Non-Executive Independent"},
                                }, "id", "text")).HtmlAttributes(new { @class = "amp-h25", style = "width: 95%;" })
                    @Html.ValidationMessageFor(model => model.Committee_Type, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>


    </div>
</div>

