﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ChecklistPerform.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.Compliances.ChecklistPerform" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script>
        function CloseAndBindData() {
            try {
                window.parent.CloseModal();
            } catch (e) {

            }
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
    
</html>
