﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Compliance.Master" AutoEventWireup="true" CodeBehind="QuestionPage.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.Compliances.QuestionPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" runat="server">
<%-- <iframe  src="../Question/KendoQuestions"  width="1400" frameborder="0"  height="700" scrolling="no"></iframe>--%>
<%-- <iframe  src="../Question/TestQuestions"  width="1350" frameborder="0"  height="800" scrolling="no"></iframe>--%>
<%--<iframe  src="../Question/TestAshaQuestions"  width="3000"  height="800" frameborder="0"  scrolling="no"></iframe>--%>
<%--<iframe src="../Question/TestRahulQuestions" width="1300" frameborder="0" height="1300" scrolling="no"></iframe>--%>
  <iframe  src="../QuestionCompliancePerformer/ComplianceApplicabilityPreformerQuestions"  width="3000"  height="1000" frameborder="0"  scrolling="no"></iframe>
    <%-- <iframe  src="../Question/Indexdemo"  width="1000"  height="1000" frameborder="0"  scrolling="no"></iframe>
    --%>
</asp:Content>
