<p><span style="background-color:#ffffff;color:#222222;font-family:Consolas, 'Lucida Console', 'Courier New', monospace;white-space:pre-wrap;">Leave of absence from attending the meeting was granted to</span><br /><strong></strong></p><p><br /></p><p></p>