﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HRPlusCompliance.Master" AutoEventWireup="true"  CodeBehind="RegistrationsRepository.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.RLCS.RegistrationsRepository" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript">
        $(document).ready(function () {

            debugger;
            fhead('My Document/ Registration');

            $('#iFrameDialog').attr('src', "http://localhost:62396/OneTimeActivity/Registrations/RegistrationsRepository?UserID=" + '<% =this.UserID%>');
        });
    </script>

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <asp:UpdatePanel ID="upInputOutput" runat="server" >
        <ContentTemplate>
            <div id="divDialog" title="" style="display: block; height: 450px; max-height: 600px">
                <iframe id="iFrameDialog" src="about:blank" width="100%" height="100%" style="border: none;"></iframe>
            </div>
        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>
