﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.NotesMasterVM

@using (Ajax.BeginForm("SaveNotes", "NotesMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divNotesFormat", OnBegin = "OnOpenNotes", OnComplete = "OnRefreshNotes" }, new { id = "frmNotesFormate" }))
{
    if (Model.Success)
    {
        <div class="row">
            <div class="col-md-12 colpadding0">
                <div class="alert alert-success alert-dismissible">
                    <lable>@Model.Message</lable>
                </div>
            </div>
        </div>
    }
    else if (Model.Error)
    {
        <div class="row">
            <div class="col-md-12 colpadding0" id="DiverrorI">
                <div class="alert alert-danger alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblerrormsgI">@Model.Message</lable>
                </div>
            </div>
        </div>
    }

    <div>
        @(Html.Kendo().Tooltip()
                    .For("#btnInsertNoticeEditorTemplate")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Insert Template Field")
                    .Width(150)
        )

        @(Html.Kendo().Tooltip()
                    .For("#btnNoticeMailPreview")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Mail Preview")
                    .Width(150)
        )

        @(Html.Kendo().Tooltip()
                    .For("#command_name1")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Save")
                    .Width(150)
        )

        @(Html.Kendo().Tooltip()
                    .For("#command_name")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Send")
                    .Width(150)
        )


    </div>

    <div class="row colpadding0">

        <div class="col-md-3 colpadding0">
            <label class="control-label">e-Voting</label><br />
            @Html.RadioButtonFor(model => model.eVoting, true) <span style="color:black">Applicable</span>&nbsp; &nbsp;
            @Html.RadioButtonFor(model => model.eVoting, false) <span style="color:black">Not Applicable</span>
            @Html.ValidationMessageFor(model => model.eVoting, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="row colpadding0 chart-loading" style="margin-top:10px;">
        <div class="col-md-12 colpadding0">

            @(Html.Kendo().EditorFor(m => m.NotesFormat)
            .HtmlAttributes(new { style = "height:380px" })
            .Encode(false)
            .Events(e => e.Paste("onPasteRemoveTag"))
            .Tools(tools => tools
            .Clear().Formatting()
            .FontName(fonts => fonts
                .Add("Andale Mono", "Andale Mono")
                .Add("Arial", "Arial")
                .Add("Arial Black", "Arial Black")
                .Add("Book Antiqua", "Book Antiqua")
                .Add("Bookman Old Style", "Bookman Old Style")
                .Add("Comic Sans MS", "Comic Sans MS")
                .Add("Courier New", "Courier New")
                .Add("Georgia", "Georgia")
            )
            .FontSize(size => size
            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
            .Bold().Italic().Underline().Strikethrough()
            .SubScript().SuperScript()
            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
            .TableEditing()
            .CleanFormatting()
            ))

        </div>
    </div>

    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0" style="text-align:center">
            <button type="Submit" value="save" class="btn btn-primary">Save</button>
        </div>
    </div>
}
