﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.NotesMasterVM

@{
    ViewBag.Title = "Masters/Notes";
    
}
<link href="~/Content/Css/DirectorCSS.css" rel="stylesheet" />
<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div id="divNotesFormat">
            @Html.Partial("_NotesDetails", Model)
        </div>
    </div>
</div>

@(Html.Kendo().Window().Name("wndAvailabilityMailPreview").Title("Preview").Visible(false).Modal(true).Draggable(true).Scrollable(true)
    .Content(@<text>
            @(Html.Kendo().Editor().Name("AvailabilityMailPreview")
                                       .HtmlAttributes(new { style = "height:570px" })
                                       .Encode(false)
                                       .Tools(t => t.Clear())
            )
    </text>)
)

<script>
    function OnOpenNotes() {
        kendo.ui.progress($(".chart-loading"), true);
    }
    function OnRefreshNotes() {
        kendo.ui.progress($(".chart-loading"), false);
    }

    $(document).on("change", "input[name='eVoting']", function () {
        getNotes();
    });

    function getNotes() {
        var obj = new Object();
        obj.eVoting = $("input[name='eVoting']:checked").val();
        kendo.ui.progress($(".chart-loading"), true);
        $.ajax({
            url: "@Url.Action("GetNotes", "NotesMaster")",
            data: { "eVoting": obj.eVoting},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
                if (response != null) {
                    if (response.NotesFormat == null) {
                        $("#NotesFormat").data("kendoEditor").body.innerHTML = "";
                    } else {
                        $("#NotesFormat").data("kendoEditor").body.innerHTML = response.NotesFormat;
                    }
                } else {
                    alert("Something went wrong");
                }

                kendo.ui.progress($(".chart-loading"), false);
            },
            failure: function (response) {
                alert(response.responseText);
                kendo.ui.progress($(".chart-loading"), false);
            },
            error: function (response) {
                alert(response.responseText);
                kendo.ui.progress($(".chart-loading"), false);
            }
            });
    }

    $(document).ready(function () {
        getNotes();
    });

</script>

<script>
    function onPasteRemoveTag(e) {
        e.html = e.html.replace(/<\/?img[^>]*>/g, "");
    }
</script>