﻿
@using Kendo.Mvc.UI;

@model long

<script>
    function filterChangeCompliance() {
        
        var gridListFilter = { filters: [] };
        var gridDataSource = $("#gridComplianceSelect").data("kendoGrid").dataSource;
        var selectedDropDownValue = $("#ddlActName").data("kendoMultiSelect").value();


        gridListFilter.logic = "or";   // a different logic 'or' can be selected
        if ($.trim(selectedDropDownValue).length > 0) {
            $.each(selectedDropDownValue, function (i, v) {
                gridListFilter.filters.push({ field: "ActID", operator: "eq", value: v });
            });
        }

        gridDataSource.filter(gridListFilter);

    }

    $('#filterCompliance').on('input', function (e) {

        var grid = $('#gridComplianceSelect').data('kendoGrid');
        var columns = grid.columns;

        var filter = { logic: 'or', filters: [] };
        columns.forEach(function (x) {
            if (x.field) {
                var type = grid.dataSource.options.schema.model.fields[x.field].type;
                if (type == 'string') {
                    filter.filters.push({
                        field: x.field,
                        operator: 'contains',
                        value: e.target.value
                    })
                }
                else if (type == 'number') {
                    if (isNumeric(e.target.value)) {
                        filter.filters.push({
                            field: x.field,
                            operator: 'eq',
                            value: parseFloat(e.target.value)
                        });
                    }
                }
            }
        });
        grid.dataSource.filter(filter);
    });
</script>

<script type="text/javascript">

    function error_handlerA(e) {
        
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
       
    }
    var arr = [];
    $(function () {
        $('#gridComplianceSelect').on('click', '.chkbx', function () {
            
            var checked = $(this).is(':checked');
            var grid = $('#gridComplianceSelect').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            dataItem.set('IsCheked', checked);
            if ($(this).is(":checked")) {
                arr.push(checked);
            }
            else {
                var removeItem =
              arr = jQuery.grep(arr, function (value) {
                  return value != checked;
              });
            }
        })
    })

    function checkAll(ele) {
        
        var state = $(ele).is(':checked');
        var grid = $('#gridComplianceSelect').data().kendoGrid;
        $.each(grid.dataSource.view(), function () {
            if (this['IsCheked'] != state)
                this.dirty = true;
            this['IsCheked'] = state;
            //if ($(ele).is(':checked')) {
            //    arr.push(state);
            //}
            //else {
            //    var removeItem =
            //  arr = jQuery.grep(arr, function (value) {
            //      return value != state;
            //  });
            //}
        });
        grid.refresh();
    }

    $("#btnSaveAgendaItemSelected").kendoButton({
        click: function (e) {
            //if (arr.length > 0) {
                var grid = $("#gridComplianceSelect").data("kendoGrid");
                grid.saveChanges();
            //}
            //else {
            //    alert("Please select Compliance");
            //}

        }
    })

    function getDataForAgendaItemSelect() {
        var result = {
            @*MeetingId: "@Model.MeetingId",
            Part: "@Model.Part",
            MeetingCircular: "@Model.MeetingCircular",
            showPendingAgenda: "@Model.showPendingAgenda"*@
        };
        return result;
    }

    function onRowBoundHistory(e) {

        //var grid = $("#gridComplianceSelect").data("kendoGrid");
        //var gridData = grid.dataSource.view();

    }

    function Request_End(e) {

        if (e.type == "create" || e.type == "update") {
            kendo.ui.progress($("#gridFormComplianceDetails"), true);
            var grid = $('#gridFormComplianceDetails').data('kendoGrid');
            grid.dataSource.read();
            grid.refresh();
            $('.nav-tabs > .active').next('li').find('a').trigger('click');
        }
    }
</script>

<script>
    function getRatingTooltip(e) {
        var dataItem = $("#gridComplianceSelect").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = dataItem.ActName;
        return content;
    }

    function getRatingTooltipforshordes(e) {
        var dataItem = $("#gridComplianceSelect").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = dataItem.Description;
        return content;
    }
</script>

<script>
    function getAgendaId() {
        var FormId = "@Model";
        var AgendaId = 0;
        return {
            AgendaId: AgendaId,
            FormId:FormId
        };
    }
</script>


<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <lable class="control-label">Filter : </lable>
    </div>
</div>
@*<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div class="col-md-4 colpadding0">
            <div class="demo-section k-content">

                @(Html.Kendo().MultiSelect()
                                .Name("ddlActName")
                                .ValuePrimitive(true)
                                .DataValueField("ID")
                                .DataTextField("Name")
                                .TagMode(TagMode.Single)
                                .Placeholder("Select Act")
                                //.OptionLabel("Act Name")
                                .Events(e => e.Change("filterChangeCompliance"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/ComplianceAPI/GetActName").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width:99%;height:33px" }))
            </div>
        </div>
        <div class="col-md-4 colpadding0">
            <input id='filterCompliance' placeholder="Search-ComplianceID/Act/Compliance/Sections" class='k-textbox' style="width:98%;" autocomplete="off" />
        </div>
        <div class="col-md-4 colpadding0"></div>
    </div>
</div>*@

<div style="min-height:400px; max-height:400px;overflow-y:auto;overflow-x:hidden">
    <div id="divgridComplianceSelectMessage">

    </div>

    <div class="row mt30 form-group">
        <div class="col-md-12 colpadding0">

            @(Html.Kendo().Grid<BM_ManegmentServices.VM.FormDetails>()
            .Name("gridComplianceSelect")
            .Columns(columns =>
            {
                columns.Template(@<text></text>).Title("Select").ClientTemplate("<input type='checkbox' #= IsCheked ? checked='checked':'' # class='chkbx' />").HtmlAttributes(new {@style="width:5%"});
                columns.Bound(o => o.FormId).Title("Form ID").HtmlAttributes(new { @style = "width:8%" }).Filterable(false).Sortable(false).IncludeInMenu(false);
                //columns.Bound(o => o.ComplianceId).Title("Compliance Id").HtmlAttributes(new { @style = "width:8%" }).Filterable(false).Sortable(false).IncludeInMenu(false);
                columns.Bound(o => o.FormName).Title("Form Name").ClientTemplate("<div  class=\"forTooltips\">#:getTheSubstring(data.FormName,80)#</div>").HtmlAttributes(new { @style = "width:32%" });

            })
            .Events(e => e.DataBound("onRowBoundHistory"))
            .Sortable()
            .Reorderable(reorderable => reorderable.Columns(true))
            .DataSource(dataSource => dataSource
            .WebApi()
            .Batch(true)
            .ServerOperation(false)
            .Events(events => events.Error("error_handlerA")
                            .RequestEnd("Request_End"))
                .Model(model =>
                {
                    model.Id(o => o.FormId);
                    model.Field(o => o.ComplianceId).DefaultValue(Model);

                })
                .Read(read => read.Url("/api/FormAPI/GetFormListForComplianceMapping?ComplianceId=" + Model).Type(HttpVerbs.Get))
            .Create(create => create.Action("save_checkedFormCompliancemapping", "Compliance").Type(HttpVerbs.Post))
            .Update(update => update.Action("save_checkedFormCompliancemapping", "Compliance").Type(HttpVerbs.Post))

            ).HtmlAttributes(new { @style="width:99%"}))

        </div>
    </div>
</div>

<div class="k-edit-buttons k-state-default col-md-12 mt30 colpadding0" style="background:!important;background:none;width:100%;">
    <button type="button" id="btnSaveAgendaItemSelected" class="k-primary k-button k-grid-update k-button-icontext" style="float:right;width:10%">Next</button>
</div>
@(Html.Kendo().Tooltip()
      .For("#gridComplianceSelect")
      .Filter(".forTooltips")
      .ContentHandler("getRatingTooltip")
      .Position(TooltipPosition.Top)
      .AutoHide(true)
)

@(Html.Kendo().Tooltip()
      .For("#gridComplianceSelect")
      .Filter(".forTooltipssortdis")
      .ContentHandler("getRatingTooltipforshordes")
      .Position(TooltipPosition.Top)
      .AutoHide(true)
)

<script>
    $(".btnNext").kendoButton({
        click: function (e) {
            var grid = $("#gridComplianceSelect").data("kendoGrid");
            grid.saveChanges();
        }
    })

</script>
<!-- Filter script functions-->
<script>
    function isNumeric(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }

    function getBoolean(str) {
        if ("true".startsWith(str)) {
            return true;
        } else if ("false".startsWith(str)) {
            return false;
        } else {
            return null;
        }
    }

</script>

<script type="text/javascript">
    function getTheSubstring(value, length) {

        if (value.length > length)
            return kendo.toString(value.substring(0, length)) + "...";
        else return kendo.toString(value);
    }

    function getTheSubstringofsubcom(value,length)
    {
        if (value.length > length)
            return kendo.toString(value.substring(0, length)) + "...";
        else return kendo.toString(value);
    }
</script>


