﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Compliance.MyCompliancesVM

<style>
    #gridMyCompliances.k-grid tbody tr{
    height: 40px;
}
 
#gridMyCompliances.k-grid td{
    white-space: nowrap;
}
</style>

<script>
    function ddlRoleChanged() {
        
        var dropdownlist = $("#RoleId").data("kendoDropDownList");
        var roleId = dropdownlist.value();
        //kendo.ui.progress($(".chart-loading"), true);
        LoadCompliance(roleId);
    }

    function LoadCompliance(id) {
        kendo.ui.progress($("#gridMyCompliances"), true);

        var model = new Object();
        model.RoleId = id;
        model.StatusId = 1;

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetMyCompliances", "Compliance")",
            data: JSON.stringify(model),//"{RoleId:" + id + ", StatusId : 1}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                kendo.ui.progress($("#gridMyCompliances"), false);
                fillGridMyCompliances(response.MyCompliances);
            },
            failure: function (response) {
                kendo.ui.progress($("#gridMyCompliances"), false);
            },
            error: function (response) {
                kendo.ui.progress($("#gridMyCompliances"), false);
            }
    });
    }

    function fillGridMyCompliances(d) {

        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            schema: {
                model: {
                    id: "ScheduleOnID",
                    fields: {
                        ScheduleOnID: { editable: false },
                        Description: { editable: false }
                    }
                }
            },
            pageSize: 10
        });

        $("#gridMyCompliances").kendoGrid({
            //toolbar: kendo.template($("#myTemplateCompliance").html()),
            pageable: {
                alwaysVisible: false,
                pageSizes: [5, 10, 20, 100]
            },
            columns: [
                        //{ field: "CompanyName", title: "CompanyName", width: "510px;" },
                        { field: "CompanyName", title: "Company Name", width: "250px;" },
                        { field: "ShortDescription", title: "Short Form", width: "200px;" },
                        { field: "Description", title: "Description", width: "300px;" },
                        { field: "ScheduleOn", title: "Due Date", width: "100px;", template: "#= ScheduleOn == null ? '' : kendo.toString(kendo.parseDate(ScheduleOn), \"dd/MM/yyyy\")#" },
                        { field: "StatusName", title: "Status", template: "Complied Delayed but pending review" },
                        { command: { text: "A", click: showDetails }, title: " ", width: "180px" }
            ],
            editable: false,
            groupable: true,
            dataSource: ds
        });
    }
</script>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div class="col-md-3 colpadding0">
            @(Html.Kendo().DropDownList()
                .Name("RoleId")
                .BindTo(new SelectList(new List<object> {
                            new {id=3,text="Performer"},
                            new {id=4,text="Reviewer"},
                }, "id", "text"))
                //.DataValueField("id")
                //.DataTextField("text")
                .Events(e => e.Change("ddlRoleChanged"))
                .HtmlAttributes(new { style = "width: 95%;" })
            )
        </div>
    </div>
</div>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div>
            <div id="gridMyCompliances"></div>
        </div>
    </div>
</div>