﻿@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Legal Updates";
}
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://avacdn.azureedge.net/newcss/jquery.bxslider.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="https://avacdn.azureedge.net/newjs/jquery.bxslider.js"></script>
<script type="text/javascript" src="https://avacdn.azureedge.net/newjs/bootstrap.min.js"></script>

<style>
    #legalUpdatesListView {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
    }

    .k-widget {
        border-color: #F8F9FA;
    }

    .box {
        border: 1px solid transparent;
        padding: 10px;
        border-radius: 5px;
        background-color: #FFFFFF;
        box-shadow: 0 7px 20px 0 rgba(210,210,210,0.5);
    }

    .tags {
        margin: 0;
        padding: 0;
        margin-bottom: 0;
    }

        .tags > * {
            display: inline-block;
            list-style: none;
        }

            .tags > * > a {
                color: #37A8F1;
                background-color: rgba(55, 168, 241, 0.20);
                font-size: 12px;
                font-weight: bold;
                padding: 4px 10px 7px;
                /*height: 28px;*/
                border-radius: 14px;
                display: inline-block;
                margin: 0 4px 10px;
                max-width: 130px;
            }

    .a-tag {
        display: block;
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
    }

    .link-black {
        margin: 0;
    }

    .link-black {
        color: #000000;
        margin: 0 10px 0 0;
        position: relative;
    }

    .text-black-50 {
        font-size: 10px;
        color: rgba(0,0,0,.5) !important;
        margin-top: 15px;
    }

    .card-text-sm {
        margin-bottom: -1rem !important;
        -webkit-margin-before: -30px;
        display: block;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-weight: bold;
        font-family: Montserrat;
    }

    .text-black-50 {
        font-size: 10px;
        color: rgba(0,0,0,.5) !important;
        margin-top: 15px;
    }

    .h-250 {
        height: 250px !important;
    }

    P {
        font-weight: 420;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .bx-wrapper {
        max-width: 85% !important;
    }
</style>

<script>
   

    function getImage(data) {

        var Colors = [];
        var html;
        var srcStr = '/Areas/BM_Management/Documents/Director/' + data.ID + '/' + data.Photo_Doc_Name;

        var image = $('<img src=' + srcStr + ' />');
        if (image.attr('width') > 0)
            imageExists = true;
        else
            imageExists = false;

        //if (data.ID > 0 && data.Photo_Doc_Name != null) {
        //    html = "<img class='customer-photo' src='/Areas/BM_Management/Documents/Director/" + data.ID + "/" + data.Photo_Doc_Name + "'/>";
        //}
        if (imageExists) {
            html = "<img class='customer-photo' src='/Areas/BM_Management/Documents/Director/" + data.ID + "/" + data.Photo_Doc_Name + "'/>";
        }
        else {
            Colors = [
                "#42A5F5",
                "#008391",
                "#846600",
                "#CC0060",
                "#330099",];
            var result;
            var count = 0;
            //for (var prop in Colors)
            //    if (Math.random() < 1 / ++count) {
            //        result = prop;
            result = Colors[Math.floor(Math.random() * Colors.length)];
            var firstName = data.FirstName;
            var lastName = data.LastName;
            var intials = firstName.charAt(0) + lastName.charAt(0);

            html = "<span class='customer-photo textimage' style='text-align: center;color:white;background-color:" + result + "'><b style='font-size: 36px;line-height: 289%;'>" + intials + "</b></span>"

            //}
        }
        return html;
    }

    function GetDetails(data) {
        var str = "";
        //str = "<table><thead><tr><td><h3>" + data.FullName + "</h3></td></tr><tr><td><i class='glyphicon glyphicon-envelope' aria-hidden='true'></i>&nbsp&nbsp" + data.EmailId + "</td></tr><tr><td ><i class='fa fa-phone' aria-hidden='true'></i>&nbsp&nbsp" + data.MobileNo + "</td></tr></thead></table>"

        str = "<div class='tutorCardName'><h3>" + data.FullName + "</h3></div>" +
            "<div class='tutorCardPrice'><i class='glyphicon glyphicon-envelope' aria-hidden='true'></i>&nbsp&nbsp" + data.EmailId + "</div>" +
            "<div class='tutorCardPrice'><i class='fa fa-phone' aria-hidden='true'></i>&nbsp&nbsp" + data.MobileNo + "</div>" +
            "<div class='hidden'>" + data.ID + "</div>";

        return str;
    }

    function onRowBound() {

        var grid = $("#gridKendo").data("kendoGrid");
        var gridData = grid.dataSource.view();
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 2px 0 #DDDDDD");
            $('tr[data-uid="' + row.uid + '"] ').css("height", "150px");
        })

        $(".groupbutton").kendoButtonGroup({

        });
    }

    function opendirectordetails(ID) {

        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var ID = dataItem.ID;
        $("#wndDirectorview").kendoWindow({
            title: "Director Details",
            modal: true
        });
        $("#wndDirectorview").attr("style", "min-height:100px;");
        var direction = "DirectorsDetails?Id=" + ID;
        var wnd = $("#wndDirectorview").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {
        wnd = $("#wndDirectorview").kendoWindow({
            title: "Director Details",
            actions: ["Close"],
            content: direction,
            width: "70%",
            visible: false,
            modal: true,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            refresh: function () { this.center(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function () {
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");

        opts.width = "70%";
        wnd.setOptions(opts);
        //wnd.refresh(direction);
        wnd.center();
        wnd.open();
    }

</script>

<style>
    .tutorBlockItem {
        flex: 1 1 calc(100% / 4);
        box-sizing: border-box;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .tutorCard {
        display: flex;
        flex-direction: column;
        padding: 24px 12px;
        line-height: 1.4;
        color: #000;
        box-shadow: rgba(0,0,0,.08) 0 4px 6px 0;
        transition: all .2s;
        text-decoration: none;
        border-radius: 4px;
        background-color: #fff;
        transform: translateZ(0);
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
        min-width: 140px;
        min-height: 250px;
        max-height: 250px;
    }

    .tutorCardName {
        width: 100%;
        margin-top: 12px;
        font-size: 16px;
        font-weight: 700;
    }

    .tutorCardPrice {
        font-size: 14px;
    }

    /*.k-widget {
        border-color: transparent;
        background-color: transparent;
    }*/

    .Text-button {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #008bcf;
    }

    .bx-wrapper .bx-controls-direction a {
        top: 10% !important;
    }
</style>

<script type="text/x-kendo-tmpl" id="template">
    <div class="tutorBlockItem col-md-3">
        <div class="box tutorCard focusable">
            <ul class="tags">
                <li><a class="a-tag" title="Secretarial">#= data.Categories #</a></li>
                <li><a class="a-tag" title="Central">#= data.Types #</a></li>
            </ul>
            <a reflang="en" class="link-black" title="" data-toggle="tooltip" data-placement="bottom" data-original-title="#=data.title#"><h4 class="card-text-sm">#=TruncateSentence(data.title, 75)#</h4></a>
            <p class="text-black-50">#= DateFormatConverter(data.date) #</p>
            <p>#= TruncateSentence(data.description, 125) #</p>
            <p>
                <a class="Text-button" href="https://www.avantis.co.in/updates/article/#= data.id #/update">Read More</a>
            </p>
        </div>
    </div>
</script>

<script>

    $(document).ready(function () {
        
        var breadCrumbData = [
            {
                displayText: "Legal Updates",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);

        var bodyData = {
            Categories: "Secretarial"
            //Email: '<%=UserInformation%>'
        };

        kendo.ui.progress($("#divlegalUpdates"), true);

        $.ajax({
            type: "POST",
            url: "https://api.avantis.co.in/api/v2/legalupdates/params/",
            //contentType: "application/json; charset=utf-8",
            dataType: "json",
            processData: false,
            data: JSON.stringify({ Categories: "Secretarial", "Size": 200 }),
            //body: JSON.stringify(bodyData),
            content: 'application/json;charset=utf-8',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Token 04f7a4e33a692196c39ef9ba54c53459c9a9b25b'
            },
            //beforeSend: function (request) {
            //    request.setRequestHeader('Authorization', 'Token 56d987cc5ad6fafaa461d0ab4c0ff51552d27cba');
            //    //request.setRequestHeader('Authorization', 'Token 04f7a4e33a692196c39ef9ba54c53459c9a9b25b');
            //    request.setRequestHeader('Content-Type', 'application/json');
            //},
            success: function (response) {
                
                BindLegalUpdates(response.data);
                kendo.ui.progress($("#divlegalUpdates"), false);
                return;
            },
            error: function abc() {

            }
        });

        bindnewsdata();
    });

    var initialLoad = true;
    function ListView_RowDataBound(e) {
        
        if (initialLoad) {
            fillAct();
            fillStateCentral();

            fillMinistry();
            fillRegulators();

            initialLoad = false;
        }
    }

    function BindLegalUpdates(data) {
        var dataSource = new kendo.data.DataSource({ data: data });

        $("#legalUpdatesListView").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#template").html()),
            dataBound: ListView_RowDataBound
        });
    }

    function TruncateSentence(inputString, maxLen) {
        if (inputString.length > maxLen)
            return inputString.substring(0, maxLen) + '...';
        else
            return inputString;
    }

    function DateFormatConverter(providedDate) {

        var strDate = '';
        kendo.culture("en-IN");
        if (providedDate != null && providedDate != undefined) {
            strDate = kendo.toString(kendo.parseDate(providedDate), "MMMM dd, yyyy")
        }
        return strDate;
    }

    function GetFormattedDate(objDate) {
        
        var GetDateDetail = getMonthText(objDate) + ' ' + objDate.getDate() + ', ' + objDate.getFullYear();
    }

    function getMonthText(mon) {
        try {
            return mon.toString().split(' ')[1];
        } catch (e) { }
    }
</script>

<script type="text/javascript">

    var NewsLetterJson;

    function bindnewsdata() {
        
        var k = 0;
        $.ajax({
            async: true,
            type: 'Get',
            //url: '/dailyupdateservice.svc/DailyNewsLetter',
            url: 'https://test.avantisregtec.in/DFM/dailyupdateservice.svc/DailyNewsLetter',
            content: 'application/json;charset=utf-8',
            processData: true,
            success: function (result) {
                
                NewsLetterJson = result;
                var step = 0;
                var str = '';
                for (step = 0; step < result.length; step++) {
                    var objDate = new Date(timeconvert(result[step].NewsDate));
                    str += '<div><img style="width:250px;height:166px" src="../NewsLetterImages/' + result[step].FileName + '" /><h3>' + result[step].Title + '</h3><p><a class="view-pdf" data-toggle="modal" style="cursor:pointer" onclick="viewpdf(this)" data-title="' + result[step].Title + '"  data-href="../NewsLetterImages/' + result[step].DocFileName + '"> Issue ' + getmonths(objDate) + ' ' + objDate.getFullYear() + '</a></p></div>'
                }

                $("#Newslettersrow").html(str);
                var ker = $('.bxnews').bxSlider({
                    minSlides: 3,
                    maxSlides: 3,
                    slideWidth: 250,
                    slideMargin: 50,
                    moveSlides: 1,
                    auto: false,
                });
            },
            error: function (e, t) { }
        });
    }

    function timeconvert(ds) {
        var D, dtime, T, tz, off,
            dobj = ds.match(/(\d+)|([+-])|(\d{4})/g);
        T = parseInt(dobj[0]);
        tz = dobj[1];
        off = dobj[2];
        if (off) {
            off = (parseInt(off.substring(0, 2), 10) * 3600000) +
                (parseInt(off.substring(2), 10) * 60000);
            if (tz == '-') off *= -1;
        }
        else off = 0;
        return new Date(T += off).toUTCString();
    }

    function getmonths(mon) {
        try {
            return mon.toString().split(' ')[1];
        } catch (e) { }
    }

    function BindNewsLetterpopup(DID) {
        for (var i = 0; i < NewsLetterJson.length; i++) {
            if (DID == NewsLetterJson[i].ID) {
                $("#newsImg").attr('src', '../Images/' + NewsLetterJson[i].FileName);
                $("#newsTitle").html(NewsLetterJson[i].Title);
                $("#newsDesc").html(NewsLetterJson[i].Description);
                break;
            }
        }
    }

    /*
        * This is the plugin
        */
    (function (a) { a.createModal = function (b) { defaults = { title: "", message: "Your Message Goes Here!", closeButton: true, scrollable: false }; var b = a.extend({}, defaults, b); var c = (b.scrollable === true) ? 'style="max-height: 420px;overflow-y: auto;"' : ""; html = '<div class="modal fade" id="myModal">'; html += '<div class="modal-dialog" style="width:1000px;">'; html += '<div class="modal-content" style="width:1100px;">'; html += '<div class="modal-header">'; html += '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>'; if (b.title.length > 0) { html += '<h4 class="modal-title">' + b.title + "</h4>" } html += "</div>"; html += '<div class="modal-body" ' + c + ">"; html += b.message; html += "</div>"; html += '<div class="modal-footer">'; if (b.closeButton === true) { html += '<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>' } html += "</div>"; html += "</div>"; html += "</div>"; html += "</div>"; a("body").prepend(html); a("#myModal").modal().on("hidden.bs.modal", function () { a(this).remove() }) } })(jQuery);

    /*
    * Here is how you use it
    */

    function viewpdf(obj) {

        var pdf_link = $(obj).attr('data-href');
        var pdf_title = $(obj).attr('data-title');
        var iframe = '<object type="application/pdf" data="' + pdf_link + '"#toolbar=1&navpanes=0&statusbar=0&messages=0 width="100%" height="500">No Support</object>'
        $.createModal({
            title: pdf_title,
            message: iframe,
            closeButton: true,
            scrollable: false
        });
        return false;
    }

    //Comparer Function
    function GetSortOrder(prop) {
        return function (a, b) {
            if (a[prop] > b[prop]) {
                return 1;
            } else if (a[prop] < b[prop]) {
                return -1;
            }
            return 0;
        }
    }

    function fillAct() {
        
        // Gets the data source from the grid.
        var grid = $("#legalUpdatesListView").data("kendoListView");

        if (grid != null && grid != undefined) {
            var meetingData = grid.dataSource;
            //meetingData.filter({});

            var dataFiltered = meetingData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function (index, item) {
                if (!map.has(item.ActId) && (item.ActId != '' || item.Acts != '')) {
                    map.set(item.ActId, true);    // set any value to Map
                    result.push({
                        ActId: item.ActId,
                        Acts: item.Acts
                    });
                }
            });

            result.sort(GetSortOrder("Acts"));

            BindAct(result);
        }
    }

    function BindAct(dataSource) {
        if ($('#ddlAct').data('kendoDropDownTree')) {
            $('#ddlAct').data('kendoDropDownTree').destroy();
            $('#divDDLAct').empty();
            $('#divDDLAct').append('<input id="ddlAct" data-placeholder="Act" style="width: 95%;" />');
        }

        $("#ddlAct").kendoDropDownTree({
            placeholder: "Act-All",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "Acts",
            dataValueField: "ActId",
            //autoBind: false,
            change: function (e) {
                filterChange();
            },
            dataSource: dataSource
        });
    }

    function fillStateCentral() {
        
        // Gets the data source from the grid.
        var grid = $("#legalUpdatesListView").data("kendoListView");

        if (grid != null && grid != undefined) {
            var meetingData = grid.dataSource;
            //meetingData.filter({});

            var dataFiltered = meetingData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function (index, item) {
                if (!map.has(item.DailyUpdateStateName) && (item.DailyUpdateStateName != '' || item.DailyUpdateStateName != null)) {
                    map.set(item.DailyUpdateStateName, true);    // set any value to Map
                    result.push({
                        DailyUpdateStateName: item.DailyUpdateStateName,
                    });
                }
            });

            result.sort(GetSortOrder("DailyUpdateStateName"));
            BindStateCentral(result);
        }
    }

    function BindStateCentral(dataSource) {
        if ($('#ddlStateCentral').data('kendoDropDownTree')) {
            $('#ddlStateCentral').data('kendoDropDownTree').destroy();
            $('#divDDLStateCentral').empty();
            $('#divDDLStateCentral').append('<input id="ddlStateCentral" data-placeholder="Act" style="width: 95%;" />');
        }

        $("#ddlStateCentral").kendoDropDownTree({
            placeholder: "Central/States",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "DailyUpdateStateName",
            dataValueField: "DailyUpdateStateName",
            //autoBind: false,
            change: function (e) {
                filterChange();
            },
            dataSource: dataSource
        });
    }

    function fillMinistry() {
        
        // Gets the data source from the grid.
        var grid = $("#legalUpdatesListView").data("kendoListView");

        if (grid != null && grid != undefined) {
            var meetingData = grid.dataSource;
            //meetingData.filter({});
            debugger;
            var dataFiltered = meetingData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function (index, item) {
                if (!map.has(item.MinistriesShort) && (item.MinistriesShort != '' && item.MinistriesShort != null) && (item.Ministries != '' && item.Ministries != null)) {
                    map.set(item.MinistriesShort, true);    // set any value to Map
                    result.push({
                        MinistriesShort: item.MinistriesShort,
                        Ministries: item.Ministries,
                    });
                }
            });

            BindMinistry(result);
        }
    }

    function BindMinistry(dataSource) {
        if ($('#ddlMinistry').data('kendoDropDownTree')) {
            $('#ddlMinistry').data('kendoDropDownTree').destroy();
            $('#divDDLMinistry').empty();
            $('#divDDLMinistry').append('<input id="ddlMinistry" data-placeholder="Act" style="width: 95%;" />');
        }

        $("#ddlMinistry").kendoDropDownTree({
            placeholder: "Ministry-All",
            filter: "contains",
            autoClose: true,
            tagMode: "multiple",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "Ministries",
            dataValueField: "MinistriesShort",
            //autoBind: false,
            change: function (e) {
                filterChange();
            },
            dataSource: dataSource
        });
    }

    function fillRegulators() {
        
        // Gets the data source from the grid.
        var grid = $("#legalUpdatesListView").data("kendoListView");

        if (grid != null && grid != undefined) {
            var meetingData = grid.dataSource;
            //meetingData.filter({});

            var dataFiltered = meetingData.dataFiltered();

            const result = [];
            const map = new Map();

            $.each(dataFiltered, function (index, item) {
                if (!map.has(item.RegulatorShort) && (item.RegulatorShort != '' && item.RegulatorShort != null) && (item.Regulators != '' && item.Regulators != null)) {
                    map.set(item.RegulatorShort, true);    // set any value to Map
                    result.push({
                        RegulatorShort: item.RegulatorShort,
                        Regulators: item.Regulators,
                    });
                }
            });

            BindRegulators(result);
        }
    }

    function BindRegulators(dataSource) {
        if ($('#ddlRegulators').data('kendoDropDownTree')) {
            $('#ddlRegulators').data('kendoDropDownTree').destroy();
            $('#divDDLRegulators').empty();
            $('#divDDLRegulators').append('<input id="ddlRegulators" data-placeholder="Regulators" style="width: 95%;" />');
        }

        $("#ddlRegulators").kendoDropDownTree({
            placeholder: "Regulators-All",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "Regulators",
            dataValueField: "RegulatorShort",
            //autoBind: false,
            change: function (e) {
                filterChange();
            },
            dataSource: dataSource
        });
    }

    function getFilters() {
        
        var filter = { logic: "and", filters: [] };

        //Act
        var ddlAct = $("#ddlAct").data("kendoDropDownTree");
        if (ddlAct != null && ddlAct != undefined) {
            var selectedActs = ddlAct._values;;

            var filterActs = { logic: 'or', filters: [] };
            if (selectedActs.length > 0) {
                for (var i = 0; i < selectedActs.length; i++) {
                    filterActs.filters.push({ field: "ActId", operator: "eq", value: parseInt(selectedActs[i]) });
                }
                filter.filters.push(filterActs);
            }
        }

        //Central/States
        var ddlStateCentral = $("#ddlStateCentral").data("kendoDropDownTree");
        if (ddlStateCentral != null && ddlStateCentral != undefined) {
            var selectedStateCentral = ddlStateCentral._values;;

            var filterStateCentral = { logic: 'or', filters: [] };
            if (selectedStateCentral.length > 0) {
                for (var i = 0; i < selectedStateCentral.length; i++) {
                    filterStateCentral.filters.push({ field: "DailyUpdateStateName", operator: "eq", value: selectedStateCentral[i] });
                }
                filter.filters.push(filterStateCentral);
            }
        }

        //Ministry
        var ddlMinitry = $("#ddlMinistry").data("kendoDropDownTree");
        if (ddlMinitry != null && ddlMinitry != undefined) {
            var selectedMinitries = ddlMinitry._values;;

            var filterMinitries = { logic: 'or', filters: [] };
            if (selectedMinitries.length > 0) {
                for (var i = 0; i < selectedMinitries.length; i++) {
                    filterMinitries.filters.push({ field: "MinistriesShort", operator: "eq", value: selectedMinitries[i] });
                }
                filter.filters.push(filterMinitries);
            }
        }

        //Regulator
        var ddlRegulators = $("#ddlRegulators").data("kendoDropDownTree");
        if (ddlRegulators != null && ddlRegulators != undefined) {
            var selectedRegulators = ddlRegulators._values;;

            var filterRegulators = { logic: 'or', filters: [] };
            if (selectedRegulators.length > 0) {
                for (var i = 0; i < selectedRegulators.length; i++) {
                    filterRegulators.filters.push({ field: "RegulatorShort", operator: "eq", value: selectedRegulators[i] });
                }
                filter.filters.push(filterRegulators);
            }
        }

        return filter;
    }

    function filterChange() {
        var filter = getFilters();
        grid = $("#legalUpdatesListView").data("kendoListView");
        
        if (grid != null && grid != undefined) {
            if (filter.filters.length > 0) {
                $("#clearFilter").removeClass("hidden");
                grid.dataSource.filter(filter);
            } else {
                $("#clearFilter").addClass("hidden");
                grid.dataSource.filter([]);
            }
        }
    }

    function clearfilter(e) {

        var ddlAct = $("#ddlAct").data("kendoDropDownList");
        if (ddlAct != null && ddlAct != undefined) {
            ddlAct.value([]);
        }

        var ddlStateCentral = $("#ddlStateCentral").data("kendoDropDownList");
        if (ddlStateCentral != null && ddlStateCentral != undefined) {
            ddlStateCentral.value([]);
        }

        var ddlMinistry = $("#ddlMinistry").data("kendoDropDownList");
        if (ddlMinistry != null && ddlMinistry != undefined) {
            ddlMinistry.value([]);
        }

        var ddlRegulators = $("#ddlRegulators").data("kendoDropDownList");
        if (ddlRegulators != null && ddlRegulators != undefined) {
            ddlRegulators.value([]);
        }

        $('#clearFilter').css('display', 'none');

        $("#legalUpdatesListView").data("kendoListView").dataSource.filter({});
    }
</script>

<div class="row col-md-12 colpadding0">

    <div class="tab" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" id="tabUpdates" class="active"><a href="#divlegalUpdates" aria-controls="home" role="tab" data-toggle="tab">Legal Updates</a></li>
            <li role="presentation" id="tabNewsLetters"><a href="#newsletter" aria-controls="profile" role="tab" data-toggle="tab">Newsletter</a></li>
        </ul>
    </div>

    <div class="tab-content tabs">

        <div role="tabpanel" class="tab-pane fade" id="newsletter" style="margin-top : 20px;">
            <div class="row dailyupdates">
                <div id="Newslettersrow" class="bxslider bxnews" style="width: 100%; max-width: none;">
                </div>
            </div>
            <div class="modal fade" id="Newslettermodal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:550px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <img id="newsImg" src="../Images/xyz.png" style="border-bottom-left-radius:10px; border-bottom-right-radius:10px; width:100%" />
                            <h2 id="newsTitle"></h2>
                            <div class="clearfix" style="height:10px;"></div>
                            <div id="newsDesc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade in active" id="divlegalUpdates" style="margin-top : 20px;">
            <div class="row master-Headre">
                <div class="col-md-12 vertical-center">
                    <div id="divDDLAct" class="col-md-3 colpadding0">
                        <input id="ddlAct" class="form-control" data-placeholder="Act" style="width: 95%;" />
                    </div>

                    <div id="divDDLStateCentral" class="col-md-2 colpadding0">
                        <input id="ddlStateCentral" class="form-control" data-placeholder="Act" style="width: 95%;" />
                    </div>

                    <div id="divDDLMinistry" class="col-md-3 colpadding0">
                        <input id="ddlMinistry" class="form-control" data-placeholder="Ministry" style="width: 95%;" />
                    </div>

                    <div id="divDDLRegulators" class="col-md-3 colpadding0">
                        <input id="ddlRegulators" class="form-control" data-placeholder="Regulators" style="width: 95%;" />
                    </div>

                    <div class="col-md-1">
                        <button type="button" class="btn btn-default btn-sm ClearFilterbtn hidden" onclick="clearfilter()" id="clearFilter">
                            <img src="~/Areas/BM_Management/img/Vector.png" />Clear
                        </button>
                    </div>
                </div>
            </div>

            <div id="legalUpdatesListView"></div>
        </div>

    </div>
</div>
