<head><title>

    </title>
    <script src="/cdn-cgi/apps/head/wJ-d6Wf0vtDL3SAEw42RUStKs6k.js"></script><script src="/cdn-cgi/apps/body/9ez4O41ihtsBKiMc6IPNmeloV48.js"></script><style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {height: 600px;
                      /*margin:125px;*/
        }
        
        /* Set gray background color and 100% height */
        .sidenav {
          background-color:#F5F2F4;
          height: 1000px;
    
          
        }
         .MainContainer {
         
          border:groove;
          border-color:#f1f3f4;
          
        }
           .img1{
            border:ridge;
            border-color:lightgrey;
        }
       
       
        
        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            *height: auto;
            *padding: 15px;
          
          }
          .row.content {height: auto;} 
        }
      </style>
    <style>
           
     .container {
      /*padding: 16px;*/
      background-color: white;
      margin:10px;
      /*margin-right:50px;
      margin-top:50px;*/
      height:1000px;
      width:1000px;
    
      
    }
     body {
      font-family: Arial, Helvetica, sans-serif;
      background-color:#1fd9e1;
    }
    
    * {
      box-sizing: border-box;
    }
    
        </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
    
        .panel-group .panel {
            border-radius: 5px;
            border-color: #EEEEEE;
            padding:0;
        }
    
        .panel-default > .panel-heading {
            color:black;
            background-color: white;
            border-color: #EEEEEE;
        }
    
        .panel-title {
            font-size: 14px;
        }
    
        .panel-title > a {
            display: block;
            padding: 15px;
            text-decoration: none;
        }
    
        .short-full {
            float: right;
            color: black;
        }
    
        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border: solid 1px #EEEEEE;
            /*background-color: #B7FFB7;*/
            
        }
    
    </style>
    <script src="https://analytics.avantis.co.in/piwik.js"></script></head>
    <body>
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="container">
    <div class="row content">
    <div class="col-sm-3 sidenav">
    <ul class="nav nav-pills nav-stacked">
    <li style="font-size:18px"><a href="litigation_help.html" style="color:#333"><b>Standard Dashboard</b></a>
    </li><li style="font-size:14px"><a href="litigation_dashboard.html" style="color:#333"><i class="fas fa-desktop"></i>&nbsp;&nbsp;&nbsp;<b>My Dashboard</b></a>
    <ul style="line-height:25px;font-size:13px">
    <li><a href="litigation_notice.html" style="color:#333">Notice</a></li>
    <li><a href="litigation_cases.html" style="color:#333">Cases</a></li>
    <li><a href="litigation_tasks.html" style="color:#333">Tasks</a></li>
    <li> <a href="litigation_hearing.html" style="color:#333">Upcoming Hearing</a></li>
    <li> <a href="litigation_graphs.html" style="color:#333">Graphs And Charts</a></li>
    <li> <a href="litigation_tasksummary.html" style="color:#333">Task Summary</a></li>
    
    </ul>
    </li>
    <li style="font-size:14px"><a href="litigation_workspace.html" style="color:#333;"><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;<b>My Workspace</b></a></li>
    <li style="font-size:14px"><a href="litigation_documents.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Documents</b></a></li>
    <li style="font-size:14px"><a href="litigation_reports.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>My Reports</b> </a></li>
    <li style="font-size:14px"><a href="litigation_remainders.html" style="color:#333"><i class="far fa-clock"></i>&nbsp;&nbsp;&nbsp;<b>My Reminders</b></a></li>
    <li style="font-size:14px"><a href="litigation_masters.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Masters</b> </a></li>
    <li style="font-size:14px"><a href="litigation_import_utility.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Import Utility</b> </a></li>

    </ul>
    <br>
    </div>
    <div class="col-sm-9 MainContainer">
   
    <div class="panel panel-default"></div>
    <h3><b>Tasks:</b></h3>
    
    <p style="font-size:16px;text-align:justify">All the tasks that does not fall either under cases or notices, but which are crucial for the notice/case and which are carried out by different people under a case/notice can be viewed from here.</p><br>
    <img class="img1" style="width:550px;margin-left:30px; height: 130px" src="../Litigation_images/MY DASHBOARD_Task_1.png" /><br /><br><br>

    <h3 style="background-color:#F5F2F4 ">Open :</h3>
  <p style="font-size:16px;text-align:justify">1. Click on the open task section.</p><br />

                      <img class="img1" style="width:200px;margin-left:30px; height: 100px" src="../Litigation_images/MY DASHBOARD_Task_2.png" /><br /><br><br>
    <p style="font-size:16px;text-align:justify">2. You will be redirected to the open tasks list window with details of all the open tasks which are to be performed by the assigned person. Also, tasks can be sorted out based on priority or if they are linked to some case or notice or is an individual task and can also search for any task like in below window:</p><br />

                     <img class="img1" style="width: 550px;margin-left:30px; height: 250px" src="../Litigation_images/MY DASHBOARD_Task_3.png" /><br /><br><br>
                     <p style="font-size:16px;text-align:justify">3. By clicking on the view details button under action section, you can view all the details relating to that task as below popup window and actions like viewing of any documents uploaded for that task can also be done either in the portal or after downloading it offline..</p><br />
                     <img class="img1" style="width:550px;margin-left:30px; height: 250px" src="../Litigation_images/MY DASHBOARD_Task_4.png" /><br /><br><br>

                     <p style="font-size:16px;text-align:justify">4. New task can be created by clicking on the “New” button to obtain the below window where are the details relating to the task can be filled and assignment of it to responsible person can be done. .</p><br />
                     <img class="img1" style="width:550px;margin-left:30px; height: 250px" src="../Litigation_images/MY DASHBOARD_Task_5.png" /><br /><br><br>
                     <p style="font-size:16px;text-align:justify">5. Response to already created task can also be viewed as well as can be made through<br> the same popup window by scrolling down in the task details popup. Also incase of any responses that might be made can be tracked along with viewing, deleting of that response and saving them like in the below image: </p><br />
                     <img class="img1" style="width:550px;margin-left:30px; height: 250px" src="../Litigation_images/MY DASHBOARD_Task_6.png" /><br /><br><br>
                     <h3 style="background-color:#F5F2F4 ">Closed :</h3>
                     <p style="font-size:16px;text-align:justify"> To view the closed tasks, you can go to the closed tasks list through dashboard by clicking on the closed tasks count number link as below: </p><br />
                     <img class="img1" style="width:200px;margin-left:30px; height: 100px" src="../Litigation_images/MY DASHBOARD_Task_7.png" /><br /><br><br>

   
   
   <br><br>
   
   
                    </div>

    </div>
    </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
    
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".short-full")
                .toggleClass('glyphicon-plus glyphicon-minus');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    </script>
    
    
    </body>































