﻿@using Kendo.Mvc.UI;
@{
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

<style>
    @@media screen and (max-width: 600px) {

        #gridKendo > table {
        }
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 500px;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
    }

    .k-edit-buttons {
        /*//width: 1280px;*/
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .forTooltips {
        width: 100%;
        height: 100%;
        padding: .929em 1.286em;
    }

    td.overridePadding {
        padding: 0;
    }
</style>
<script>
    function onRowBound(e) {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-i-plus-outline");

    }
</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">

        <div class="row colpadding0">
            <div class="col-md-4 colpadding0">
                @(Html.Kendo().DropDownList()
                  .Name("EntityId")
                  .DataTextField("EntityName")
                  .DataValueField("Id")
                  //.Events(e => e.Change("Change"))
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                      })
                      .ServerFiltering(false);
                  })

                   .HtmlAttributes(new { style = "width: 90%", @Id = "EntityId", autocomplete = "off" })
                )
            </div>

            <div class="col-md-4 colpadding0">
                <div class="col-md-1"></div>
                <div class="col-md-11 colpadding0">
                    @(Html.Kendo().DropDownList()
                  .Name("CommitteeId")
                  .DataTextField("Name")
                  .DataValueField("Id")
                  .Events(e => e.Change("Change"))
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Url("/api/CommitteeCompAPI/GetCommitteeCompForDropDown").Type(HttpVerbs.Get);
                      })
                      .ServerFiltering(true);
                  })
                  .Enable(false)
              .AutoBind(false)
              .CascadeFrom("EntityId")
                   .HtmlAttributes(new { style = "width: 100%", @Id = "CommitteeId", autocomplete = "off" })
                    )
                </div>
            </div>
        </div>
        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @Html.AntiForgeryToken()
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.CommitteeList_ForEntity>()
                .Name("gridKendo")
                .Columns(columns =>
                {
                    columns.Bound(c => c.CommitteeName).ClientGroupHeaderTemplate(" #= value # (Count: #= count#)").Title("Committee").ClientTemplate(" ").Width(150);
                    columns.Bound(c => c.Director_ID).Title("Director")
                                    .ClientTemplate(
                                @"<div class='customer-photo'
                                                    style='background-image: url(" + @Url.Content("~/Areas/BM_Management/Documents/Director/#:data.Director_ID#/#:data.ImagePath#") + ");'></div><div class='customer-name'>#=GetSalutation(data.Salutation)# #:FirstName# #:data.LastName#</div>")
                                      .Width(300);
                    //columns.Bound(c => c.DIN);
                    columns.Bound(c => c.Designation_Id).ClientTemplate("#= GetDesignation(Designation_Id)#");
                    columns.Command(command =>
                    {
                        command.Edit();
                        command.Destroy();
                    })
                    .Title("Action").HtmlAttributes(new { @style = "width:10%" });
                })
                .EnableCustomBinding(false)
                //.Events(e => e.DataBound("dataBound"))
                .ToolBar(
                toolbar => toolbar.Create()
                )
                .Editable(editable =>
                {
                    editable.Mode(GridEditMode.PopUp).TemplateName("_ADDEditCommitteeMaster").Window(w => w.Title("Add/Edit").Width(500).Draggable(true).Resizable(x => x.MaxWidth(900)));
                    editable.DisplayDeleteConfirmation("Are you sure you want to delete State?");
                })
                .Events(e => e.DataBound("onRowBound"))
                .Events(e => e.Edit("HideGridFields"))
                .Events(x => x.Save("SaveChanges"))
                .Events(x => x.Cancel("refresh_Data"))
                .Navigatable()
                .Pageable(pageable => pageable
                .Refresh(false)
                .PageSizes(true)
                .ButtonCount(5))
                .Filterable()
                .Sortable()
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu()
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(5)
                .Batch(false)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
                  model.Field(o => o.Entity_Id);
                  model.Field(o => o.Committee_Id);
              })
        .Aggregates(aggregates =>
        {
            aggregates.Add(p => p.CommitteeName).Count();
        })
        .Group(groups => groups.Add(c => c.CommitteeName))
        .Sort(sort => sort.Add("Designation").Ascending())

        .Read(read => read.Url("/api/DirectorMasterAPI/GetCommitteeForEntity").Data("additionalInfo").Type(HttpVerbs.Get))
        .Update(update => update.Url("/api/CountryStateCityMasterAPI/UpdateMember").Type(HttpVerbs.Put))
        .Destroy(destroy => destroy.Url("/api/CommitteeMasterAPI/DeleteMember").Type(HttpVerbs.Delete))
        .Create(create => create.Url("/api/CountryStateCityMasterAPI/AddMember").Type(HttpVerbs.Post))
                       ))
            </div>

            <style>
                .k-grid td {
                    border-width: 0;
                }

                .customer-photo {
                    display: inline-block;
                    width: 75px;
                    height: 65px;
                    border-radius: 50%;
                    background-size: 75px 65px;
                    background-position: center center;
                    vertical-align: middle;
                    line-height: 32px;
                    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
                    margin-left: 5px;
                }

                .customer-name {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 32px;
                    padding-left: 3px;
                }
            </style>


        </div>

    </div>
</div>
<script>

    function GetSalutation(value) {
        if (value == "1") {
            return "Mr.";
        } else if (value == "2") {
            return "Mrs.";
        } else if (value == "3") {
            return "Ms.";
        } else {
            return "Error";
        }
    }

    function GetDesignation(value) {
        debugger;
        if (value == "1") {
            return "Chairperson";
        } else if (value == "2") {
            return "Member";
        } else {
            return "";
        }
    }
</script>

<script>

    function HideGridFields(e) {

        if (e.model.isNew()) {
            $('.k-grid-update').text("Save");
            $('.k-grid-cancel').text("Close");
        }
        else {
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");
            //$('.k-grid-update').focus().trigger('click');

        }
    }

    function filterDirector() {

        return {
            EntityId: $("#Entity_Id").val()
        };
    }

    function filterProducts() {

        return {
            EntityId: $("#EntityId").val()
        };
    }

    function getcountryId() {
        return {
            EntityId: $("#EntityId").val()
        };
    }

    var additionalDataObject;
    function additionalInfo() {
        var dropdownlist = $("#EntityId").data("kendoDropDownList");
        if (dropdownlist.value() != "") {
            additionalDataObject = {
                EntityId: dropdownlist.value()
            };
        }
        else {
            additionalDataObject = {
                EntityId: 1
            };
        }

        return additionalDataObject;
    }

    function Change() {
        var grid = $("#gridKendo").data("kendoGrid");
        var page = grid.dataSource._page;
        additionalInfo();
        grid.dataSource.read();
        grid.refresh();
        grid.dataSource.page(page);
    }

    function SaveChanges() {

        //alert("SaveChanges-Fired");

        //var grid = $("#gridKendo").data("kendoGrid");

        //grid.bind("dataBinding", function (e) {
        //    e.preventDefault();
        //})
    }

    function refresh_Data() {

        //alert("SaveChangesNew-Fired");
    }

    function reloadFilterParameters() {
        var dropdownlist = $("#EntityId").data("kendoDropDownList");
        additionalDataObject = {
            EntityId: dropdownlist.value()
        };
    }
</script>
