﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="InternalManagement.aspx.cs" Inherits="com.VirtuosoITech.ComplianceManagement.Portal.Management.InternalManagement" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <link href="../NewCSS/stylenew.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="../NewCSS/bootstrap.min.css" rel="stylesheet" />
    <!-- bootstrap theme -->
    <link href="../NewCSS/bootstrap-theme.css" rel="stylesheet" />
    <script type="text/javascript" src="../Newjs/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../Newjs/bootstrap.min.js"></script>

    <style type="text/css">
        .ui-widget-header {
            border: 0px !important;
            background: inherit;
            font-size: 20px;
            color: #666666;
            font-weight: normal;
            padding-top: 0px;
            margin-top: 5px;
        }

        .table > tbody > tr > th {
            vertical-align: bottom;
            border-bottom: 2px solid #dddddd;
        }

            .table > tbody > tr > th > a {
                vertical-align: bottom;
                color: #666666 !important;
                text-decoration: none !important;
                border-bottom: 2px solid #dddddd;
            }

        .table tr th {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .clsheadergrid {
            padding: 8px !important;
            line-height: 1.428571429 !important;
            vertical-align: bottom !important;
            border-bottom: 2px solid #dddddd !important;
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
            text-align: left;
        }

        .clsROWgrid {
            padding: 8px !important;
            line-height: 1.428571429 !important;
            vertical-align: top !important;
            border-top: 1px solid #dddddd !important;
            color: #666666 !important;
            font-size: 14px !important;
            font-family: 'Roboto', sans-serif !important;
        }
    </style>
    <script type="text/javascript">

        function fComplianceOverview(obj) {
            OpenOverViewpup($(obj).attr('scheduledonid'), $(obj).attr('instanceid'));
        }


        function fopendocfileReviewInternal(file) {
            $('#divViewInternalDocument').modal('show');
            $('#docViewerInternal').attr('src', "../docviewer.aspx?docurl=" + file);
        }

        function ShowInternalDownloadDocument() {
            $('#divInternalDownloadDocument').modal('show');
            return true;
        };

        function ViewInternalDocument() {
            $('#divViewInternalDocument').modal('show');
            return true;
        };

        function SelectheaderCheckboxes(headerchk, gridname) {
            var rolecolumn;
            var chkheaderid = headerchk.id.split("_");
            var gvcheck = document.getElementById("<%=grdSummaryDetails.ClientID %>");
        var i;
        if (headerchk.checked) {
            for (i = 0; i < gvcheck.rows.length; i++) {
                gvcheck.rows[i + 1].cells[0].getElementsByTagName("INPUT")[0].checked = headerchk.checked;
            }
        }
        else {
            for (i = 0; i < gvcheck.rows.length; i++) {
                gvcheck.rows[i + 1].cells[0].getElementsByTagName("INPUT")[0].checked = headerchk.checked;
            }
        }
    }
    function Selectchildcheckboxes(header, gridname) {
        var i;
        var count = 0;
        var rolecolumn;
        var gvcheck = document.getElementById("<%=grdSummaryDetails.ClientID %>");
        var headerchk = document.getElementById(header);
        var chkheaderid = header.split("_");
        var rowcount = gvcheck.rows.length;
        for (i = 1; i < gvcheck.rows.length - 1; i++) {
            if (gvcheck.rows[i + 1].cells[0].getElementsByTagName("INPUT")[0].checked) {
                count++;
            }
        }
        if (count == gvcheck.rows.length - 2) {
            headerchk.checked = true;
        }
        else {
            headerchk.checked = false;
        }
    }

    function DownloadDoc() {
        var count = 0;
        var gvcheck = document.getElementById("<%=grdSummaryDetails.ClientID %>");
        for (var i = 1; i < gvcheck.rows.length; i++) {
            if (gvcheck.rows[i].cells[0].getElementsByTagName("INPUT")[0].checked)
                count++;
        }
        if (count > 0)
            return true;
        else {
            alert("Please select at least one record to Download.");
            return false;
        }
    }

    $(document).ready(function () {
        $(document).tooltip({ selector: '[data-toggle="tooltip"]' });
        // window.parent.forchild($('#grdSummaryDetails').find('tr').length);

    });

    function initializeJQueryUI(textBoxID, divID) {
        $("#" + textBoxID).unbind('click');

        $("#" + textBoxID).click(function () {
            $("#" + divID).toggle("blind", null, 500, function () { });
        });
    }
    </script>
</head>
<body>
    <form id="form1" runat="server">

        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>

        <div id="divSummaryDetails">

            <asp:UpdatePanel ID="UpDetailView" runat="server" UpdateMode="Conditional" OnLoad="upDivLocation_Load">
                <ContentTemplate>

                    <asp:UpdateProgress ID="updateProgress" runat="server">
                        <ProgressTemplate>
                            <div style="position: fixed; text-align: center; height: 100%; width: 100%; top: 0; right: 0; left: 0; z-index: 9999999; background-color: #000000; opacity: 0.2;">
                                <asp:Image ID="imgUpdateProgress" runat="server" ImageUrl="~/Images/processing.gif"
                                    AlternateText="Processing..." ToolTip="Processing ..." Style="padding: 10px; position: fixed; top: 45%; left: 50%;" />
                            </div>
                        </ProgressTemplate>
                    </asp:UpdateProgress>

                    <div class="col-md-2 colpadding0 entrycount">
                        <div class="col-md-3 colpadding0">
                            <p style="color: #999; margin-top: 5px;">Show </p>
                        </div>

                        <asp:DropDownList runat="server" ID="ddlPageSize" class="form-control m-bot15" Style="width: 70px; float: left"
                            AutoPostBack="true" OnSelectedIndexChanged="ddlPageSize_SelectedIndexChanged">
                           <%-- <asp:ListItem Text="5" Selected="True" />--%>
                            <asp:ListItem Text="10" Selected="True" />
                            <asp:ListItem Text="20" />
                            <asp:ListItem Text="50" />
                        </asp:DropDownList>

                      <%--  <div class="col-md-3 colpadding0">
                            <p style="color: #999; margin-top: 5px; margin-left: 5px;">Entries</p>
                        </div>--%>
                    </div>

                    <div class="col-md-10 colpadding0">
                        <div style="float: left; margin-right: 10px">
                            <asp:TextBox runat="server" ID="tbxFilterLocation" Style="padding: 0px; padding-left: 10px; margin: 0px; height: 33px; width: 325px; border: 1px solid #c7c7cc; border-radius: 4px; color: #8e8e93"
                                CssClass="txtbox" />
                            <div style="margin-left: 1px; position: absolute; z-index: 10;  margin-top: -20px;" id="divFilterLocation">
                                <asp:TreeView runat="server" ID="tvFilterLocation" SelectedNodeStyle-Font-Bold="true" Width="325px" NodeStyle-ForeColor="#8e8e93"
                                    Style="overflow: auto; border-left: 1px solid #c7c7cc; border-right: 1px solid #c7c7cc; border-bottom: 1px solid #c7c7cc; background-color: #ffffff; color: #8e8e93 !important;" ShowLines="true"
                                    OnSelectedNodeChanged="tvFilterLocation_SelectedNodeChanged">
                                </asp:TreeView>
                            </div>
                        </div>

                       <%-- <asp:DropDownList runat="server" ID="ddlLocation" class="form-control m-bot15 select_location" Style="width: 200px;">
                        </asp:DropDownList>--%>

                        <div style="float: left; margin-right: 10px">
                            <asp:DropDownList runat="server" ID="ddlStatus" class="form-control m-bot15 select_location" Style="width: 200px;">
                            </asp:DropDownList>
                        </div>

                        <div style="float: left; margin-right: 10px">
                            <asp:Button ID="btnSearch" CausesValidation="false" class="btn btn-search" runat="server" Text="Apply" OnClick="btnSearch_Click" />
                           
                        </div>

                       <div style="float: right;">
                            <asp:LinkButton runat="server" Text="Export All to Excel" CssClass="btn btn-search" ID="lbtnExportExcel" ToolTip="Export All to Excel" OnClick="lbtnExportExcel_Click">          
                            </asp:LinkButton>
                        </div>
                    </div>

                    <div class="col-md-13 AdvanceSearchScrum">
                        <div id="divAdvSearch" runat="server" visible="false">
                            <p>
                                <asp:Label ID="lblAdvanceSearchScrum" runat="server" Text=""></asp:Label>
                            </p>
                            <p>
                                <asp:LinkButton ID="lnkClearAdvanceList" OnClick="lnkClearAdvanceSearch_Click" runat="server">Clear Search</asp:LinkButton>
                            </p>
                        </div>

                        <div runat="server" id="DivRecordsScrum" style="float: right;">
                           <p style="padding-right: 0px !Important;">
                                <asp:Label ID="Label4" runat="server" Text="Showing "></asp:Label>
                                <asp:Label ID="lblStartRecord" Font-Bold="true" runat="server" Text=""></asp:Label>- 
                                <asp:Label ID="lblEndRecord" Font-Bold="true" runat="server" Text=""></asp:Label>of 
                                <asp:Label ID="lblTotalRecord" Font-Bold="true" runat="server" Text=""></asp:Label>
                            </p>
                        </div>
                    </div>                  

                    <div style="margin-bottom: 10px; font-weight: bold; font-size: 12px;">
                        <asp:Label runat="server" ID="lblDetailViewTitle"></asp:Label>
                    </div>

                    <asp:GridView runat="server" ID="grdSummaryDetails" AutoGenerateColumns="false" GridLines="None" AllowSorting="true"
                        OnRowCommand="grdSummaryDetails_RowCommand" OnPageIndexChanging="grdSummaryDetails_PageIndexChanging"
                        CellPadding="4" AllowPaging="true" PageSize="10" Width="100%" OnRowDataBound="grdSummaryDetails_RowDataBound"
                        CssClass="table" DataKeyNames="InternalComplianceInstanceID">
                        <Columns>
                            <asp:TemplateField>
                                <HeaderTemplate>
                                    <asp:CheckBox ID="chkCompliancesHeader" runat="server" OnCheckedChanged="chkCompliancesHeader_CheckedChanged" AutoPostBack="true" />
                                </HeaderTemplate>
                                <ItemTemplate>
                                    <asp:CheckBox ID="chkCompliances" runat="server" OnCheckedChanged="chkCompliances_CheckedChanged" AutoPostBack="true" />
                                </ItemTemplate>
                            </asp:TemplateField>
                             <asp:TemplateField HeaderText="Sr">
                                <ItemTemplate>
                                    <%#Container.DataItemIndex+1 %>
                                </ItemTemplate>
                            </asp:TemplateField>                            
                             <asp:TemplateField HeaderText="Location">
                                <ItemTemplate>
                                    <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100px;">
                                        <asp:Label ID="lblLocation" runat="server" data-toggle="tooltip" data-placement="bottom" Text='<%# Eval("Branch") %>' ToolTip='<%# Eval("Branch") %>'></asp:Label>
                                    </div>
                                </ItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Short Description">
                                <ItemTemplate>
                                    <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 200px;">
                                        <asp:Label ID="Label2" runat="server" data-toggle="tooltip" data-placement="bottom" Text='<%# Eval("ShortDescription") %>' ToolTip='<%# Eval("ShortDescription") %>'></asp:Label>
                                    </div>
                                </ItemTemplate>
                            </asp:TemplateField>

                             <asp:TemplateField HeaderText="Performer">
                                <ItemTemplate>
                                    <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100px;">
                                            <asp:Label ID="lblInternalPerformer" runat="server"  data-toggle="tooltip" data-placement="bottom"  Text='<%# GetPerformerInternal((long)Eval("InternalComplianceInstanceID")) %>' ToolTip='<%#InternalPerformername%>'></asp:Label>
                                    </div>
                                </ItemTemplate>
                            </asp:TemplateField>   
                              <asp:TemplateField HeaderText="Reviewer">
                                <ItemTemplate>
                                    <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100px;">
                                            <asp:Label ID="lblInternalReviewer" runat="server"  data-toggle="tooltip" data-placement="bottom"  Text='<%# GetReviewerInternal((long)Eval("InternalComplianceInstanceID")) %>' ToolTip='<%#InternalReviewername%>'></asp:Label>
                                    </div>
                                </ItemTemplate>
                            </asp:TemplateField>   
                            <asp:TemplateField HeaderText="Due Date">
                                <ItemTemplate>
                                    <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 80px;">
                                        <asp:Label ID="lblScheduledOn" runat="server" data-toggle="tooltip" data-placement="bottom" Text='<%# Eval("InternalScheduledOn")!= null?((DateTime)Eval("InternalScheduledOn")).ToString("dd-MMM-yyyy"):""%>' ToolTip='<%# Eval("InternalScheduledOn")!= null?((DateTime)Eval("InternalScheduledOn")).ToString("dd-MMM-yyyy"):""%>'></asp:Label>
                                    </div>
                                </ItemTemplate>
                            </asp:TemplateField>
                         
                            <asp:TemplateField HeaderText="Period"  >
                            <ItemTemplate>
                                <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 80px;">                          
                                     <asp:Label ID="lblForMonth" runat="server" data-toggle="tooltip" data-placement="bottom"  Text='<%# Eval("ForMonth") %>' ToolTip='<%# Eval("ForMonth") %>'></asp:Label>
                                </div>
                            </ItemTemplate>
                         </asp:TemplateField>

                          <asp:TemplateField HeaderText="Status"  >
                            <ItemTemplate>
                                <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 80px;">                     
                                     <asp:Label ID="lblStatus" runat="server" data-toggle="tooltip" data-placement="bottom"  Text='<%# Eval("Status") %>' ToolTip='<%# Eval("Status") %>'></asp:Label>
                                 </div>
                            </ItemTemplate>
                         </asp:TemplateField>
                            <asp:BoundField DataField="RiskCategory" HeaderText="Risk" />
                         

                             <asp:TemplateField ItemStyle-HorizontalAlign="Center" HeaderText="Documents">
                                <ItemTemplate>
                                    <asp:UpdatePanel ID="upDownloadInternal" runat="server">
                                        <ContentTemplate>
                                            <asp:ImageButton ID="lblDownLoadfile" runat="server" ImageUrl="~/img/icon-download.png" CommandName="Download"
                                                CommandArgument='<%# Eval("InternalScheduledOnID") %>' ToolTip="Click to Download" Visible='<%# ViewDownload((int)Eval("InternalComplianceStatusID")) %>'></asp:ImageButton>
                                            <asp:ImageButton ID="lblViewfileInternal" runat="server" ImageUrl="~/Images/view-doc.png" CommandName="View"
                                                CommandArgument='<%# Eval("InternalScheduledOnID") %>' ToolTip="Click to View" Visible='<%# ViewDownload((int)Eval("InternalComplianceStatusID")) %>'></asp:ImageButton>
                                            <asp:ImageButton ID="lblOverView" runat="server" ImageUrl="~/Images/Eye.png" ScheduledOnID='<%# Eval("InternalScheduledOnID")%>' instanceId='<%#Eval("InternalComplianceInstanceID")  %>'
                                                 OnClientClick='fComplianceOverview(this)' ToolTip="Click to OverView"></asp:ImageButton>

                                        </ContentTemplate>
                                        <Triggers>
                                            <asp:PostBackTrigger ControlID="lblDownLoadfile" />
                                            <asp:PostBackTrigger ControlID="lblViewfileInternal" />
                                        </Triggers>
                                    </asp:UpdatePanel>
                                </ItemTemplate>
                            </asp:TemplateField>

                        </Columns>
                        <RowStyle CssClass="clsROWgrid" />
                        <HeaderStyle CssClass="clsheadergrid" />
                        <PagerTemplate>
                            <table style="display: none">
                                <tr>
                                    <td>
                                        <asp:PlaceHolder ID="ph" runat="server"></asp:PlaceHolder>
                                    </td>
                                </tr>
                            </table>
                        </PagerTemplate>
                        <EmptyDataTemplate>
                            No Records Found.
                        </EmptyDataTemplate>
                    </asp:GridView>

                    <div class="clearfix"></div>

                    <div class="col-md-12 colpadding0">
                        <div class="col-md-6 colpadding0">
                            <div class="table-Selecteddownload">
                                <div class="table-Selecteddownload-text">
                                    <p>
                                      <asp:Label runat="server" ID="lblTotalSelected" Text="" Style="color: #999; margin-right: 15px;"></asp:Label>
                                    </p>
                                </div>
                                <asp:Button Text="Download" CssClass="btn btn-search" runat="server" ID="btnDownload" OnClick="btnDownload_Click" ToolTip="Click Here to Download Document(s) of Selected Compliances."
                                    OnClientClick="javascript:return DownloadDoc();" ValidationGroup="ModifyAsignmentValidationGroup" CausesValidation="false" />
                            </div>
                        </div>

                        <div class="col-md-6 colpadding0">
                            <div class="table-paging" style="margin-bottom: 20px;">
                                <asp:ImageButton ID="lBPrevious" CssClass="table-paging-left" runat="server" ImageUrl="~/img/paging-left-active.png" OnClick="Previous_Click" />

                                <div class="table-paging-text">
                                    <p>
                                        <asp:Label ID="SelectedPageNo" runat="server" Text=""></asp:Label>/
                                            <asp:Label ID="lTotalCount" runat="server" Text=""></asp:Label>
                                    </p>
                                </div>

                                <asp:ImageButton ID="lBNext" CssClass="table-paging-right" runat="server" ImageUrl="~/img/paging-right-active.png" OnClick="Next_Click" />
                                <asp:HiddenField ID="TotalRows" runat="server" Value="0" />
                            </div>
                        </div>
                    </div>

                </ContentTemplate>
                <Triggers>
                    <asp:PostBackTrigger ControlID="btnDownload" />
                    <asp:PostBackTrigger ControlID="lbtnExportExcel" />
                </Triggers>
            </asp:UpdatePanel>
        </div>
         
     <div>
        <div class="modal fade" id="divViewInternalDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
            <div class="modal-dialog" style="width: 100%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body" style="Height:570px;" >
                        <div style="width: 100%;">
                        <div style="float:left; width: 10%">
                         <table width="100%" style="text-align: left; margin-left: 25%;">
                             <thead>
                                <tr>
                                    <td valign="top">
                                      <asp:Repeater ID="rptIComplianceVersionView" runat="server" OnItemCommand="rptIComplianceVersion_ItemCommand"
                                            OnItemDataBound="rptIComplianceVersionView_ItemDataBound">
                                            <HeaderTemplate>
                                                <table id="tblComplianceDocumnets">
                                                    <thead>
                                                        <th>Versions</th>
                                                    </thead>
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <tr>
                                                    <td>
                                                          <asp:LinkButton CommandName="View" CommandArgument='<%# Eval("InternalComplianceScheduledOnID") + ","+ Eval("Version") %>' ID="lblIDocumentVersionView"
                                                            runat="server" Text='<%# Eval("Version")%>'></asp:LinkButton></td>
                                                    </td>
                                                </tr>
                                            </ItemTemplate>
                                            <FooterTemplate>
                                               </table>
                                            </FooterTemplate>
                                        </asp:Repeater>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                       </div>
                            <div style="float: left; width: 90%">
                                 <asp:Label runat="server" ID="lblMessageInternal" Style="color: red;"></asp:Label>
                                <fieldset style="border-style: solid; border-width: 1px; border-color: #dddddd; height: 510px; width: 100%;">
                                    <iframe src="about:blank" id="docViewerInternal" runat="server" width="100%" height="510px"></iframe>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

          <div>
                <div class="modal fade" id="divOverView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                    <div class="modal-dialog" style="width: 1150px;">
                        <div class="modal-content" style="width: 100%;">
                            <div class="modal-header" style="border-bottom: none;">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>

                            <div class="modal-body">

                                <iframe id="OverViews" src="blank.html" width="1200px" height="100%" frameborder="0"></iframe>

                            </div>
                        </div>
                    </div>
                </div>
                </div>
        <script>

            function OpenOverViewpup(scheduledonid, instanceid) {
                $('#divOverView').modal('show');
                $('#OverViews').attr('width', '1050px');
                $('#OverViews').attr('height', '600px');
                $('.modal-dialog').css('width', '1100px');
                $('#OverViews').attr('src', "../Common/ComplianceOverviewInternal.aspx?ComplianceScheduleID=" + scheduledonid + "&ComplainceInstatnceID=" + instanceid);
            }
        </script>
    </form>
</body>
</html>
