﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.HelpVideo.HelpVideoVM
<div id="divDetailsOfHelpLink">
    @using (Ajax.BeginForm("SaveHelpLink", "HelpVideo", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfHelpLink" }, new { id = "frmUploadDetails"}))
    {
        @Html.HiddenFor(m => m.HelpVideoId)
        @Html.Hidden("HelpMode","DFM")

        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }

        <div class="row mt30 colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <lable class="control-label">Parent Group</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.Kendo().DropDownListFor(model => model.ParentId)
                                 .DataValueField("HelpVideoId")
                                 .DataTextField("HelpName")
                                 .OptionLabel("Select")
                                 .DataSource(source =>
                                 {
                                     source.Read(read =>
                                     {
                                         read.Action("HelpVideoParent", "HelpVideo").Type(HttpVerbs.Get);
                                     }).ServerFiltering(false);
                                 }).HtmlAttributes(new { style = "width: 95%;"}))

                </div>
            </div>
        </div>

        <div class="row mt30 colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <lable class="control-label">Link Name</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.Kendo().TextBoxFor(m => m.HelpName).HtmlAttributes(new { style = "width: 95%", autocomplete = "off" }))
                </div>
            </div>
        </div>

        <div class="row mt30 colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <lable class="control-label">Description</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @(Html.TextAreaFor(m => m.Description_, new { @class = "k-textbox", style = "width: 95%", autocomplete = "off" }))
                </div>
            </div>
        </div>

        <div class="row mt30 colpadding0 hidden">
            <div class="col-md-12 colpadding0">
                <div class="col-md-3">
                    <span style="color:red"></span><label class="control-label">Upload</label>
                </div>
                <div class="col-md-7 colpadding0">        
                        @Html.TextBox("Files", "", new { type = "file", style = "width:100%" })
                </div>
            </div>
        </div>

        if(Model.HelpVideoId > 0)
        {
           @Html.Partial("UploadFile",Model)

            <div class="row mt30 colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-3">
                        <label class="control-label">Active</label>
                    </div>
                    <div class="col-md-7 colpadding0">
                        @Html.Kendo().CheckBoxFor( m => m.IsLinkActive)
                    </div>
                </div>
            </div>

            <div class="row mt30 colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="text-center">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row mt30 colpadding0">
                <div class="col-md-12 colpadding0">

                    <div class="text-center">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>

                </div>
            </div>
        }
    }
</div>