﻿@model BM_ManegmentServices.VM.HelpVideo.HelpVideoVM

<style>
    .ui-widget-content {
    border: 1px solid #ddd;
    background: #eee url(assets/jquery-ui/images/ui-bg_glass_100_fdf5ce_1x400.png) 50% top repeat-x;
    color: #333;
}
</style>

<div class="row mt30 colpadding0">
    <div class="col-md-12 colpadding0">
        <div class="col-md-3">
            <span style="color:red"></span><label class="control-label">Upload</label>
        </div>
        <div class="col-md-5 colpadding0">
            <input type="file" id="selectFile" name="selectFile" />
        </div>

        <div class="col-md-2 colpadding0">
            <input type="button" name="fileUpload" id="fileUpload" value="Upload" />
        </div>
    </div>
</div>

<div class="row colpadding0 hidden">
    <div class="col-md-12 colpadding0">
        <div class="col-md-3">
        </div>
        <div class="col-md-7 colpadding0">
            <div id="progressBar" style="width:50%; height:20px; background-color:grey"></div>
        </div>
    </div>
</div>

<div class="row mt30 colpadding0">
    <div class="col-md-12 colpadding0">
        <div class="col-md-3">
        </div>
        <div class="col-md-7 colpadding0">
            <label id="statusMessage"></label>
        </div>
    </div>
</div>

@*@section Scripts{
    <script src="~/Scripts/chunked-uploader.js"></script>
}*@
<script>
    var maxRetries = 3;
    var blockLength = 1048576;
    var numberOfBlocks = 1;
    var currentChunk = 1;
    var retryAfterSeconds = 3;

    $(document).ready(function () {
        $(document).on("click", "#fileUpload", beginUpload);
        $("#progressBar").progressbar(0);
    });

    var beginUpload = function () {
        var fileControl = document.getElementById("selectFile");
        if (fileControl.files.length > 0) {
            for (var i = 0; i < fileControl.files.length; i++) {
                uploadMetaData(fileControl.files[i], i);
            }
        }
    }

    var uploadMetaData = function (file, index) {
        var size = file.size;
        numberOfBlocks = Math.ceil(file.size / blockLength);
        var name = file.name;
        currentChunk = 1;
        $.ajax({
            type: "POST",
            async: false,
            url: "/HelpVideo/SetMetadata?blocksCount=" + numberOfBlocks +
                 "&fileName=" + name + "&fileSize=" + size + "&helpVideoId=@Model.HelpVideoId" + "&productMode=DFM",
        }).done(function (state) {
            if (state === true) {
                displayStatusMessage("Starting Upload");
                sendFile(file, blockLength);
            }
        }).fail(function () {
            displayStatusMessage("Failed to send MetaData");
        });
    }

    var sendFile = function (file, chunkSize) {
        var start = 0,
          end = Math.min(chunkSize, file.size),
          retryCount = 0,
          sendNextChunk, fileChunk;
        displayStatusMessage("");
        sendNextChunk = function () {
            fileChunk = new FormData();
            if (file.slice) {
                fileChunk.append('Slice', file.slice(start, end));
            }
            else if (file.webkitSlice) {
                fileChunk.append('Slice', file.webkitSlice(start, end));
            }
            else if (file.mozSlice) {
                fileChunk.append('Slice', file.mozSlice(start, end));
            }
            else {
                displayStatusMessage(operationType.UNSUPPORTED_BROWSER);
                return;
            }
            jqxhr = $.ajax({
                async: true,
                url: ('/HelpVideo/UploadChunk?id=' + currentChunk),
                data: fileChunk,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST'
            }
            ).fail(function (request, error) {
                if (error !== 'abort' && retryCount < maxRetries) {
                    ++retryCount;
                    setTimeout(sendNextChunk, retryAfterSeconds * 1000);
                }
                if (error === 'abort') {
                    displayStatusMessage("Aborted");
                }
                else {
                    if (retryCount === maxRetries) {
                        displayStatusMessage("Upload timed out.");
                        resetControls();
                    }
                    else {
                        displayStatusMessage("Resuming Upload");
                    }
                }
                return;
            }).done(function (notice) {
                if (notice.error || notice.isLastBlock) {
                    displayStatusMessage(notice.message);
                    return;
                }
                ++currentChunk;
                start = (currentChunk - 1) * blockLength;
                end = Math.min(currentChunk * blockLength, file.size);
                retryCount = 0;
                updateProgress();
                if (currentChunk <= numberOfBlocks) {
                    sendNextChunk();
                }
            });
        }
        sendNextChunk();
    }

    var displayStatusMessage = function (message) {
        $("#statusMessage").text(message);
    }

    var updateProgress = function () {
        var progress = currentChunk / numberOfBlocks * 100;
        if (progress <= 100) {
            $("#progressBar").progressbar("option", "value", parseInt(progress));
            displayStatusMessage("Uploaded " + progress + "%");
        }

    }
</script>