﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_AgendaDocument

<style>
    .k-grid-Download {
        height: 36px;
        width: 35%;
        padding: 0px 0px 0px 0px;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }
</style>
<script>
    function filterAgendaMappingId() {
        return {
            AgendaMappingID: "@Model.MeetingAggendaMappingId"
        }
    }
</script>
<script>
    var rowNumbers1 = 0;
    function onRowBounds1(e) {
        debugger;
        $(".k-grid-View").find("span").append("<img id='theImg2' src='/Images/View.png'/>");

        var page = e.sender.dataSource.page();
        var pageSize = e.sender.dataSource.pageSize();
        // reset row number based on the selected page in the pager
        rowNumbers1 = (page - 1) * pageSize;

        GetICons();
    }

    function renderNumber2(data) {
        return ++rowNumbers1;
    }

    function DownloadFile1(e) {
        
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "@Url.Action("AgendaDocumentDownload", "Meetings")?Id=" + dataItem.ID;
    }
</script>

<!--popup Agenda Documents-->
<script>
    function showDocViewer(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Content("~/Areas_Secretarial/Doc_Viewer.aspx")" + "?agendaDocUrl=" + dataItem.ID;

        var titleFile = dataItem.FileName;
        $("#wndDocumentsViewer").kendoWindow({
            title: titleFile
        });

        $("#wndDocumentsViewer").attr("style", "min-height:500px;");

        var wnd = $("#wndDocumentsViewer").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndDocumentsViewer").kendoWindow({
                actions: ["Close"],
                content: direction,
                visible: false,
                modal: true,
                iFrame :true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                }
            }).data("kendoWindow");

            opts.width = "95%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
    }

    $('#wndDocumentsViewer').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');

</script>

@(Html.Kendo().Window().Name("wndDocumentsViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.VM_AgendaDocument>()
        .Name("gridAgendaDocumentItem")
        .Columns(columns =>
        {
            columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber2(data) #").HtmlAttributes(new { @style = "width:5%" });
            columns.Bound(o => o.ID).Visible(false);
            columns.Bound(o => o.FileName).Title("Document").HtmlAttributes(new { @style = "width:75%" });
            //columns.Bound(o => o.FileName).Title("Agenda File Name").HtmlAttributes(new { @style = "width:75%" });
            columns.Command(command =>
            {
                command.Custom("Download").Click("DownloadFile1").HtmlAttributes(new { @class = "k-grid-download" });
                command.Custom("View").Click("showDocViewer").HtmlAttributes(new { @class = "k-grid-view" });
                //command.Custom("Download").HtmlAttributes(new { @class = "k-grid-download" });
            })
        .Title("Action");
        })
        .EnableCustomBinding(true)

        .Events(e => e.DataBound("onRowBounds1"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()

        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
        .ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(5)
        .ServerOperation(false)

        .Model(model =>
        {
            model.Field(p => p.ID);
        })

      .Read(read => read.Url("/api/MeetingAPI/Agenda_Document").Data("filterAgendaMappingId").Type(HttpVerbs.Get))
                ))

        @(Html.Kendo().Sortable()
        .For("#gridAgendaItem")
        .Filter("table > tbody > tr")
        .Cursor("move")
        .HintHandler("noHint")
        .PlaceholderHandler("placeholder")
        .ContainerSelector("#gridAgendaItem tbody")
        .Events(events => events.Change("onChange"))
        )
    </div>
</div>