﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingVM

@using (Ajax.BeginForm("EditMeeting", "Meetings", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfMeeting", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmAddEditMeetingNew" }))
{
    @(Html.HiddenFor(m => m.MeetingID))
    @(Html.HiddenFor(m => m.MeetingTypeId))
    @(Html.HiddenFor(m => m.Entityt_Id))
    @(Html.HiddenFor(m => m.Type))
    @Html.HiddenFor(m => m.IsSeekAvailabilitySent)
    @Html.HiddenFor(m => m.IsVirtualMeeting)

    @Html.HiddenFor(m => m.EntityName)
    @Html.HiddenFor(m => m.MeetingTypeName)
    @Html.HiddenFor(m => m.IsConfigurationMasterSaved)

    <div class="row form-group content-box">
        <div class="col-md-12 vertical-middle">
            @if (Model.Success)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DivsuccessI">
                        <div class="alert alert-success alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            @*@if (!(string.IsNullOrEmpty(Model.VMMessage)))
                            {
                            <lable id="lblsuccessIVM">@Html.Raw(Model.VMMessage)</lable>
                            }*@
                            <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                        </div>
                    </div>
                </div>
            }
            else if (Model.Error)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DiverrorI">
                        <div class="alert alert-danger alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                        </div>
                    </div>
                </div>
            }

            @if (Model.IsConfigurationMasterSaved == false)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0">
                        <div class="alert alert-info alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            <lable id="lblConfigmsgI">Please save configuration master</lable>
                        </div>
                    </div>
                </div>
            }
            <div>
                @(Html.Kendo().Tooltip()
                    .For("#btnUpdateMeeting")
                    .Position(TooltipPosition.Top)
                    .AutoHide(true)
                    .Content("Update"))
            </div>

            <div class="row form-group ">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-4 colpadding0">
                        <label class="control-label">Entity/Company</label><br />
                        <strong>@Model.EntityName</strong>
                    </div>

                    <div class="col-md-3 colpadding0">
                        <label class="control-label">Details</label><br />
                        @Model.MeetingTitle
                    </div>

                    @if (Model.MeetingTypeId == 11 || Model.MeetingTypeId == 12)
                    {
                        <div class="col-md-2 colpadding0">
                            <span style="color:red"></span><label class="control-label">Notice Type</label><br />
                            @(Html.Kendo().RadioButtonFor(m => m.IsShorter).Label("Regular").Enable(false).Value(false).HtmlAttributes(new { }))
                            &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.IsShorter).Label("Shorter").Enable(false).Value(true).HtmlAttributes(new { }))
                            @Html.HiddenFor(m => m.IsShorter)
                        </div>
                    }
                    else
                    {
                        <div class="col-md-2 colpadding0">
                            <span style="color:red"></span><label class="control-label">Notice Type</label><br />
                            @(Html.Kendo().RadioButtonFor(m => m.IsShorter).Label("Regular").Value(false).HtmlAttributes(new { }))
                            &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.IsShorter).Label("Shorter").Value(true).HtmlAttributes(new { }))
                        </div>
                    }

                    @if (Model.IsVirtualMeeting == true)
                    {
                        <div id="divIsVideoRadio" class="col-md-2 colpadding0">
                            <span style="color:red"></span><label class="control-label">Video Conferencing</label><br />
                            @(Html.Kendo().RadioButtonFor(m => m.IsVideoMeeting).Label("Yes").Value(true).HtmlAttributes(new { }))
                            &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.IsVideoMeeting).Label("No").Value(false).HtmlAttributes(new { }))
                        </div>
                    }
                    else
                    {
                        <div id="divIsVideoRadio" class="col-md-2 colpadding0">
                            <span style="color:red"></span><label class="control-label">Video Conferencing</label><br />
                            @(Html.Kendo().RadioButtonFor(m => m.IsVideoMeeting).Label("Yes").Value(true).Enable(@Model.isVideomeetingCusto).HtmlAttributes(new { }))
                            &nbsp;
                            @(Html.Kendo().RadioButtonFor(m => m.IsVideoMeeting).Label("No").Value(false).Enable(@Model.isVideomeetingCusto).HtmlAttributes(new { }))
                        </div>
                    }

                    @if (Model.IsVirtualMeeting == true)
                    {
                        <div class="col-md-1 colpadding0">
                            <label class="control-label"></label><br />
                            e-Meeting<span style="color:black">*</span>
                        </div>
                    }

                    @if (Model.IsEVoting)
                    {
                        <div class="col-md-1 colpadding0">
                            <label class="control-label"></label><br />
                            e-Voting
                        </div>
                    }
                </div>
            </div>

            <div class="row form-group hidden">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red">*</span><label class="control-label">Purpose</label><br />
                        @(Html.Kendo().TextBoxFor(m => m.MeetingTitle).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 100%", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.MeetingTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row form-group ">
                <div class="col-md-12 colpadding0">
                    @if (Model.IsShorter == true || Model.IsVirtualMeeting == true || Model.MeetingTypeId == 11 || Model.MeetingTypeId == 12)
                    {
                        <div id="divIsSeekAvailabilityRadio" class="col-md-1 colpadding0" style="width:15%">
                            <span style="color:red"></span><label class="control-label">Check Availability</label><br />
                            @Html.RadioButtonFor(model => model.IsSeekAvailability, "true", new { @readonly = "true" }) Yes&nbsp; &nbsp;
                            @Html.RadioButtonFor(model => model.IsSeekAvailability, "false", new { @readonly = "true", @checked = "checked" }) No
                            @Html.HiddenFor(model => model.IsSeekAvailability)
                        </div>
                    }
                    else if (Model.IsSeekAvailabilitySent == true)
                    {
                        <div id="divIsSeekAvailabilityRadio" class="col-md-1 colpadding0" style="width:15%">
                            <span style="color:red"></span><label class="control-label">Check Availability</label><br />

                            @Html.RadioButtonFor(model => model.IsSeekAvailability, "true", new { @readonly = "true" }) Yes&nbsp; &nbsp;
                            @Html.RadioButtonFor(model => model.IsSeekAvailability, "false", new { @readonly = "true" }) No
                            @Html.ValidationMessageFor(m => m.IsSeekAvailability, "", new { @class = "text-danger" })
                        </div>
                    }
                    else
                    {
                        <div id="divIsSeekAvailabilityRadio" class="col-md-1 colpadding0" style="width:15%">
                            <span style="color:red"></span><label class="control-label">Check Availability</label><br />

                            <label class='container1'>
                                Yes
                                @Html.RadioButtonFor(model => model.IsSeekAvailability, "true")
                                <span class='checkmark1'></span>
                            </label>

                            <label class='container1'>
                                No
                                @Html.RadioButtonFor(model => model.IsSeekAvailability, "false")
                                <span class='checkmark1'></span>
                            </label>

                            @*@Html.RadioButtonFor(model => model.IsSeekAvailability, "true") Yes&nbsp; &nbsp;
                        @Html.RadioButtonFor(model => model.IsSeekAvailability, "false") No*@
                            @Html.ValidationMessageFor(model => model.IsSeekAvailability, "", new { @class = "text-danger" })
                        </div>
                    }

                    @if (Model.IsVirtualMeeting == true)
                    {
                        <div class="col-md-1 colpadding0">
                            <label class="control-label">Serial No</label><span id="spMeetingVenueOther" style="color:red">*</span>
                            @(Html.Kendo().TextBoxFor(m => m.MeetingSrNo).HtmlAttributes(new { style = "width: 80%", autocomplete = "off", type = "number" }))
                            @Html.ValidationMessageFor(model => model.MeetingSrNo, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-1 colpadding0" style="width:10%">
                            <label class="control-label">Date</label><span id="spMeetingDate" style="color:red">*</span>
                            @(Html.Kendo().DatePicker().Name("MeetingDate").Format("dd/MM/yyyy")
                                                                                .HtmlAttributes(new { style = "width: 95%", @Id = "MeetingDate", onchange = "checkDate(this);", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.MeetingDate, "", new { @class = "text-danger" })
                        </div>
                    }
                    else
                    {
                        <div class="col-md-1 colpadding0" style="width:10%">
                            <label class="control-label">Date</label><span id="spMeetingDate" style="color:red">*</span>
                            @(Html.Kendo().DatePicker().Name("MeetingDate").Min(DateTime.Now).Format("dd/MM/yyyy")
                                                                                        .HtmlAttributes(new { style = "width: 95%", @Id = "MeetingDate", onchange = "checkDate(this);", autocomplete = "off" }))
                            @Html.ValidationMessageFor(model => model.MeetingDate, "", new { @class = "text-danger" })
                        </div>
                    }

                    <div class="col-md-1 colpadding0" style="width:10%">
                        <label class="control-label">Start Time</label><span id="spMeetingTime" style="color:red">*</span>
                        @if (Model.MeetingTypeId == 11 || Model.MeetingTypeId == 12)
                        {
                            @(Html.Kendo().TimePicker().Name("MeetingTime").Format("hh:mm tt").Min("9:00 AM").Max("6:00 PM")
                                    .HtmlAttributes(new { style = "width: 95%", @Id = "MeetingTime", autocomplete = "off" }))
                        }
                        else
                        {
                            @(Html.Kendo().TimePicker().Name("MeetingTime").Format("hh:mm tt").Min("9:00 AM").Max("8:30 AM")
                                    .HtmlAttributes(new { style = "width: 95%", @Id = "MeetingTime", autocomplete = "off" }))
                        }
                    </div>

                    @if (Model.IsVirtualMeeting == true && Model.MeetingTypeId != 11 && Model.MeetingTypeId != 12)
                    {
                        <div class="col-md-1 colpadding0" style="width:10%">
                            <label class="control-label">End Time</label><span id="spMeetingTime" style="color:red">*</span>
                            @(Html.Kendo().TimePicker().Name("EndMeetingTime").Format("hh:mm tt").Min("9:00 AM").Max("8:30 AM")
                                                                                                .HtmlAttributes(new { style = "width: 95%", @Id = "EndMeetingTime", autocomplete = "off" }))
                        </div>
                    }

                    <div class="col-md-2 colpadding0">
                        <label class="control-label">Venue</label><span id="spMeetingVenue" style="color:red">*</span>
                        @(Html.Kendo().DropDownListFor(model => model.MeetingAddressType)
                                    .DataValueField("EntityAddressType")
                                    .DataTextField("EntityAddressTypeName")
                                    .OptionLabel("Select")
                                    .Filter(FilterType.Contains)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/EntityMasterAPI/GetDropDownEntityAddressForMeeting?EntityId=" + Model.Entityt_Id).Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { style = "width: 95%;", onchange = "ddlMeetingAddressType_Changed()" })
                        )
                    </div>

                    <div class="col-md-3 colpadding0">
                        <label class="control-label">Other Venue</label><span id="spMeetingVenueOther" style="color:red">*</span>
                        @(Html.Kendo().TextBoxFor(m => m.MeetingVenue).HtmlAttributes(new { style = "width: 100%", autocomplete = "off" }))
                        @Html.ValidationMessageFor(model => model.MeetingVenue, "", new { @class = "text-danger" })
                    </div>

                    <div id="divSeekAvailabilityDesc" class="col-md-2 colpadding0 hidden">
                        <div class="col-md-1 colpadding0"></div>
                        <div class="col-md-11 colpadding0">

                        </div>
                    </div>

                    <div class="col-md-6 colpadding0 hidden">
                        <div class="col-md-12 colpadding0">
                            <label class="control-label"> Availability Description</label><span style="color:red">*</span>
                            @(Html.Kendo().TextBoxFor(m => m.Availability_ShortDesc).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%" }))
                            @Html.ValidationMessageFor(model => model.Availability_ShortDesc, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.MeetingTypeId == 11 || Model.MeetingTypeId == 12)
            {

            }
            else if (Model.IsMeetingCompleted != true && Model.IsVirtualMeeting != true)
            {
                if (Model.IsNoticeSent != true)
                {
                    <div class="text-center">
                        <button id="btnUpdateMeeting" type="Submit" value="save" class="btn btn-primary">Update</button>
                    </div>
                }
                else if (Model.CanPostpond == true)
                {
                    <div class="text-center">
                        <button id="btnPostpondMeeting" onclick="postpond();" type="button" value="Postpond" class="btn btn-primary">Postpone</button>
                    </div>
                }
            }
            else if(Model.IsVirtualMeeting == true)
            {
                <div class="text-center">
                    <button id="btnUpdateMeeting" type="Submit" value="save" class="btn btn-primary">Update</button>
                </div>
            }

            @*if (Model.MeetingID > 0 && Model.IsVideoMeeting == true && Model.VMeetingId == null)
            {
            <div class="col-md-2" style="float: right;margin-bottom: 1%;margin-right: 4%;">
                <button class="btn btn-primary" id="btnAddVideoMeeting" title="Add Video Meeting">Add Video Conferencing</button>
            </div>
            }
            else if (Model.MeetingID > 0 && Model.VMeetingId > 0 && Model.IsVideoMeeting == true)
            {

            <div class="col-md-2" style="float: right;margin-bottom: 1%;margin-right: 4%;">
                <button class="btn btn-primary" id="btnDeleteVideoMeeting" title="Add Video Meeting">Delete Video Conferencing</button>
            </div>
            }*@

        </div>

        @(Html.Kendo().Window().Name("wndVideoMeeting").Title("").Visible(false).Modal(true).Draggable(true).Scrollable(true))
    </div>

    @Html.Partial("_Timeline", Model)

    <script>
        $(document).ready(function () {
            $("#MeetingDate").removeAttr("data-val-date");

            if ('@Model.IsSeekAvailabilitySent' == "True" || '@Model.IsSeekAvailabilitySent' == "true") {
                $("#divIsSeekAvailabilityRadio").find("input,button,textarea,select").attr("disabled", "true");

                var datepicker = $("#MeetingDate").data("kendoDatePicker");
                var timepicker = $("#MeetingTime").data("kendoTimePicker");
                var MeetingAddressType = $("#MeetingAddressType").data("kendoDropDownList");
                datepicker.readonly();
                timepicker.readonly();
                MeetingAddressType.readonly();

                $('#MeetingVenue').attr('readonly', 'true');

                $("#spMeetingDate").addClass('hidden');
                $("#spMeetingTime").addClass('hidden');
                $("#spMeetingVenue").addClass('hidden');
                $("#spMeetingVenueOther").addClass('hidden');
            }

            if ('@Model.IsShorter' == "True" || '@Model.IsShorter' == "true") {
                $("#divIsSeekAvailabilityRadio").find("input,button,textarea,select").attr("disabled", "true");
            }

            if ('@Model.IsVirtualMeeting' == "True" || '@Model.IsVirtualMeeting' == "true") {
                $("#divIsSeekAvailabilityRadio").find("input,button,textarea,select").attr("disabled", "true");
                $("#divIsVideoRadio").find("input,button,textarea,select").attr("disabled", "true");
            }

            if ('@Model.MeetingTypeId' == 11 || '@Model.MeetingTypeId' == 12) {
                $("#divIsSeekAvailabilityRadio").find("input,button,textarea,select").attr("disabled", "true");
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            var validator = $("#frmAddEditMeetingNew").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
            $("#frmAddEditMeetingNew").kendoValidator({
                rules: {
                    customRule1: function (input) {
                        if (input.is("[name=MeetingVenue]")) {
                            return CheckVenue();
                        }
                        return true;
                    }
                },
                messages: {
                    customRule1: "Please Enter Venue",
                }
            });
        });
    </script>
}

<script>
    $(document).ready(function () {
        $("#panelbarAvailability").kendoPanelBar({});
        $("#panelbarparticipants").kendoPanelBar({});

        if ('@Model.IsSeekAvailability' == "True" || '@Model.IsSeekAvailability' == "true") {
            IsMultistage(true);
        }
        else {
            IsMultistage(false);
        }
    });

    $(document).on("change", "input[name='IsSeekAvailability']", function () {

        if (this.value == "true" || this.value == "True") {
            IsMultistage(true);
        }
        else {
            IsMultistage(false);
        }
    });
</script>

<script>
    $("#VideoMeeting").click(function (e) {
        debugger
        e.preventDefault();
        @*var Id="@Model.NoticeMailID";
        $.ajax({
            type: "POST",
            url: "/api/VideoMeeting/CreateMeeting?MeetingId=" + Id ,
            method: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (response) {
                debugger
                alert(response.join_url);

            },
        });*@
        OnOpen('a');

        var direction = "@Url.Action("OpenVideopopup", "VideoMeetings")" + "?MeetingId=" + "@Model.MeetingID";

        $("#wndVideoMeeting").kendoWindow({
            title: "",
        });
        $("#wndVideoMeeting").attr("style", "min-height:100px;");
        direction = "@Url.Action("OpenVideopopup", "VideoMeetings")" + "?MeetingId=" + "@Model.MeetingID";
        var wnd = $("#wndVideoMeeting").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndVideoMeeting").kendoWindow({

            content: direction,
            width: "50%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresheupload(); },
            close: function (e) {
                $(this.element).empty();
                //$('#gridKendo').data('kendoGrid').dataSource.read();
                //$('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpenupload();
                //$(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "40%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

        function OnOpenupload() {

        }
        function OnRefresheupload() {

        }

    });
</script>

<script>
    $("#btnAddVideoMeeting").click(function (e) {
        debugger
        e.preventDefault();
        var Id = "@Model.MeetingID";
        $.ajax({
            type: "POST",
            url: "/api/VideoMeeting/CreateMeeting?MeetingId=" + @Model.MeetingID,
            method: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (response) {
                debugger
                if (response.statusText == "OK") {
                    alert("Video Conferencing added successfully");
                }
            },
            error:function(response)
            {
                if (response.statusText == "OK") {
                    alert("Video Conferencing added successfully");
                }
            },
        });
    });

    $("#btnupdateVideoMeeting").click(function (e) {
        debugger
        e.preventDefault();
        var Id = "@Model.MeetingID";
        $.ajax({
            type: "POST",
            url: "/api/VideoMeeting/UpdateMeeting?MeetingId=" + "@Model.MeetingID",
            method: "PATCH",
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (response) {
                debugger
                if (response.statusText == "OK") {
                    alert("Video Conferencing deleted successfully");
                }
            },
            error: function (response) {
                if (response.statusText == "OK") {
                    alert("Video Conferencing deleted successfully");
                }
            },
        });
    });

    $("#btnDeleteVideoMeeting").click(function (e) {
        debugger
        e.preventDefault();
        var Id = "@Model.MeetingID";
        $.ajax({
            type: "POST",
            url: "/api/VideoMeeting/DeleteMeeting?MeetingId=" + "@Model.MeetingID",
            method: "DELETE",
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (response) {
                debugger
                alert(response.join_url);
            },
        });
    });
</script>
