﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingMinutesDetailsVM


@(Html.Kendo().Tooltip().For("#lnkPreviewMinutes").Position(TooltipPosition.Top).AutoHide(true).Width(150).Content("Preview Minutes"))
@(Html.Kendo().Tooltip().For("#lnkDownloadMinutes").Position(TooltipPosition.Top).AutoHide(true).Width(150).Content("Download Minutes"))

<div class="row">
    <div class="col-md-12 colpadding0">
        <div style="float:right">
            <input type='button' id='btnAMinutesPreview' name='btnAMinutesPreview' value='Preview' class='btn btn-primary hidden' onclick="showMinutesOfMeetingForVirtualMeeting(@Model.MOM_MeetingId)">
            <a id="lnkPreviewMinutes" role="button" href='#' style="padding-right:5px;">
                <img src='../../Areas/BM_Management/img/view.png' onclick="showMinutesOfMeetingForVirtualMeeting(@Model.MOM_MeetingId)" />
            </a>

            <a id="lnkDownloadMinutes" role="button" style="padding-right:5px;" href='@Url.Action("DownloadMinutesDocumnet", "Meetings", new { MeetingId = Model.MOM_MeetingId })' target="_blank">
                <img src='../../Areas/BM_Management/img/Download.png' />
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 colpadding0">
        @Html.Partial("_MOM_DetailsVirtual", Model)
    </div>
</div>


<div class="row">
    <div class="col-md-12 colpadding0">
        @Html.Partial("_ComplianceScheduleMeetingLevel", Model.MOM_MeetingId)
    </div>
</div>