﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingAgendaMappingMOMVM

<div id="divDetailsOfAgendaItemMinutes_">
    <div id="main-content-agenda-preview" class="mycollapse">
        <div id="blogs" class="widget">
            <div>
                <h4>@Html.Raw(Model.MinutesFormatHeading)</h4>
                <p class="blog-info"></p>
                <div>
                    @Html.Raw(Model.MinutesFormat)
                </div>
            </div>
        </div>
    </div>
</div>
