﻿@using Kendo.Mvc.UI;
@model dynamic

<script type="text/javascript">
    function error_handlerA(e) {
        
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
        else {
            alert('Save Successfully.');
        }
    }

    function getDataForgMultiStageAgendaItemHistory() {
        var result = {
            StartMeetingId: "@Model.StartMeetingId",
            StartAgendaId: "@Model.StartAgendaId",
            EntityId: "@Model.EntityIdForMultistage"
        };
        return result;
    }

    function getSequenceNo(e) {
        return e == null ? "-" : e == 0 ? 'Main' : '' + e + '';
    }
</script>
<div>
    @(Html.Kendo().Tooltip()
        .For("#gridMultistageAgendaHistory")
        .Filter("td:nth-child(2)")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridMultistageAgendaHistory")
        .Filter("td:nth-child(3)")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridMultistageAgendaHistory")
        .Filter("td:nth-child(4)")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
    )
</div>

<div style="min-height:410px; max-height:410px;overflow-y:auto;overflow-x:hidden">
    <div id="divgridAgendaSelectMessage">
    </div>

    <div class="row mt30 form-group">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaItemSelect>()
            .Name("gridMultistageAgendaHistory")
            .Columns(columns =>
            {
                columns.Bound(o => o.SequenceNo).ClientTemplate("#=getSequenceNo(SequenceNo)#").Title("Sequence").Width(30);
                columns.Bound(o => o.RefMeeting).Title("Meeting").HtmlAttributes(new { title = "#= RefMeeting #" }).Width(250);
                columns.Bound(o => o.RefResult).Title("Result").HtmlAttributes(new { title = "#= RefResult #" }).Width(180);
                columns.Bound(o => o.AgendaHeading).Title("Agenda Item Heading").HtmlAttributes(new { title = "#= AgendaHeading #" }).Width(250);
                columns.Bound(o => o.Agenda).Title("Agenda Item").HtmlAttributes(new { title = "#= Agenda #" });//.Width(350);
            })
            .Navigatable()
            //.Pageable(pageable => pageable
            //.Refresh(false)
            //.PageSizes(false)
            //.Info(true))
            .Filterable()
            //.Scrollable()
            //.Scrollable( s=>s.Virtual(true))
            //.Selectable(s=>s.Mode(GridSelectionMode.Multiple))
            .Sortable()
            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .ColumnMenu()
            .DataSource(dataSource => dataSource
            .WebApi()
            .Batch(true)
            .ServerOperation(false)
            .Events(events => events.Error("error_handlerA"))
                .Model(model =>
                {
                    model.Id(o => o.BM_AgendaMasterId);
                    model.Field(p => p.PartID).Editable(false);
                    model.Field(p => p.IsCheked);
                    model.Field(p => p.Meeting_Id);
                    model.Field(p => p.RefPendingMappingID);

                    model.Field(p => p.IsNewStage);
                    model.Field(p => p.StartMeetingId);
                    model.Field(p => p.StartAgendaId);
                    model.Field(p => p.SequenceNo);
                })
                .Read(read => read.Url("/api/AgendaMasterAPI/GetMeetingMultiStageAgendaItemHistory").Data("getDataForgMultiStageAgendaItemHistory").Type(HttpVerbs.Get))
            ))
        </div>
    </div>
</div>
