﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingNotesVM
@using (Ajax.BeginForm("SaveNotes", "Meetings", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divNotesFormat", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmSaveNotes" }))
{
    @(Html.HiddenFor(m => m.NotesID))
    if (Model.Success)
    {
        <div class="row">
            <div class="col-md-12 colpadding0">
                <div class="alert alert-success alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable>@Model.Message</lable>
                </div>
            </div>
        </div>
    }
    else if (Model.Error)
    {
        <div class="row">
            <div class="col-md-12 colpadding0" id="DiverrorI">
                <div class="alert alert-danger alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblerrormsgI">@Model.Message</lable>
                </div>
            </div>
        </div>
    }

    <div class="row" style="margin-top:10px;">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().EditorFor(m => m.Notes)
                .HtmlAttributes(new { style = "height:350px" })
                .Encode(false)
                .Events(e => e.Paste("onPasteRemoveTag"))
            )
        </div>
    </div>

    <div class="text-center mt30">
        <button type="Submit" value="Update" class="btn btn-primary">Update</button>
    </div>
}