﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_AgendaDocument

@using (Ajax.BeginForm("UploadMeetingDocuments", "Meetings", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divFileAttachments" }, new { id = "frmAgendaDocumentUpload", enctype = "multipart/form-data" }))
{
    if (Model.Success)
    {
        <div class="row">
            <div class="col-md-12 colpadding0">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <label>@Model.Message</label>
                </div>
            </div>
        </div>
    }
    else if (Model.Error)
    {
        <div class="row">
            <div class="col-md-12 colpadding0">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <lable>@Model.Message</lable>
                </div>
            </div>
        </div>
    }
    @Html.HiddenFor(m => m.MeetingAggendaMappingId)
    @Html.HiddenFor(m => m.FileUpload_MeetingId)
    @Html.HiddenFor(m => m.MeetingDocs)

    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            <div class="demo-section k-content">
                @(Html.Kendo().Upload().Name("files").HtmlAttributes(new { aria_label = "files", @Id = "files" }))
                <p style="padding-top: 1em; text-align: right">
                    <button type="submit" class="k-button k-primary">Submit</button>
                </p>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            debugger;
            if ('@Model.Success' == 'true' || '@Model.Success' == 'True') {
                loadNoticeAttachmentCount('@Model.FileUpload_MeetingId', '@Model.MeetingDocs');
                $('#gridMeetingDocuments').data('kendoGrid').dataSource.read();
            }
        });
    </script>
}