﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_AgendaDocument

<style>
    .k-grid-Download {
        height: 36px;
        width: 35%;
        padding: 0px 0px 0px 0px;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }
</style>
<script>
    function filterMeetingDocs() {
        return {
            meetingId: "@Model.FileUpload_MeetingId",
            docs :"@Model.MeetingDocs"
        }
    }
</script>
<script>
    var rowNumbers1 = 0;
    function onRowBoundsAttchments(e) {

        $(".k-grid-View").find("span").append("<img id='theImg2' src='/Images/View.png'/>");

        var page = e.sender.dataSource.page();
        var pageSize = e.sender.dataSource.pageSize();
        // reset row number based on the selected page in the pager
        rowNumbers1 = (page - 1) * pageSize;

        GetICons();
    }

    function renderNumber2(data) {
        return ++rowNumbers1;
    }

    function DownloadAttachment(e) {   
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "@Url.Action("DownloadSecretarialFile", "FileData")?id=" + dataItem.FileID;
    }

    function deleteAttachment(e) {   
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteSecretarialFile", "FileData")",
            data: "{id: " + dataItem.FileID + ", meetingId: @Model.FileUpload_MeetingId,docs:'@Model.MeetingDocs'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var divAttachmentDeleteMsg = $("#divAttachmentDeleteMsg");
                if (response != null) {
                    if (response.Success == true) {
                        divAttachmentDeleteMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>" + response.Message + "</lable></div></div></div>";
                        loadNoticeAttachmentCount('@Model.FileUpload_MeetingId', '@Model.MeetingDocs');
                        $('#gridMeetingDocuments').data('kendoGrid').dataSource.read();
                    } else {
                        divAttachmentDeleteMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + response.Message + "</lable></div></div></div>";
                    }
                }
            },
        });
    }
</script>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <div id="divFileAttachments">
                    @Html.Partial("_NoticeAttachments_FileUpload", @Model)
                </div>
            </div>
        </div>

        <div id="divAttachmentDeleteMsg">

        </div>
        <div class="row form-group colpadding0 mt30">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.FileDataVM>()
                        .Name("gridMeetingDocuments")
                        .Columns(columns =>
                        {
                            columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber2(data) #").Width("10%");
                            columns.Bound(o => o.FileID).Visible(false);
                            columns.Bound(o => o.FileName).Title("File Name").Width("70%");
                            columns.Command(command =>
                            {
                                command.Custom("Download").Click("DownloadAttachment").HtmlAttributes(new { @class = "k-grid-download" });
                                command.Custom("Delete").Click("deleteAttachment").HtmlAttributes(new { @class = "k-grid-delete" });
                            })
                        .Title("Action");
                        })
                        .EnableCustomBinding(true)
                        .Events(e => e.DataBound("onRowBoundsAttchments"))
                        .Navigatable()
                        .Pageable(pageable => pageable
                        .Refresh(false)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Sortable()
                        .Reorderable(reorderable => reorderable.Columns(true))
                        .Resizable(resizable => resizable.Columns(true))
                        .ColumnMenu()
                        .ColumnMenu()
                        .DataSource(dataSource => dataSource
                        .WebApi()
                        .PageSize(5)
                        .ServerOperation(false)
                        .Model(model =>
                        {
                            model.Field(p => p.FileID);
                        }).Read(read => read.Url("/api/MeetingAPI/Meeting_Document").Data("filterMeetingDocs").Type(HttpVerbs.Get))
                ))
            </div>
        </div>
    </div>
</div>