﻿@using Kendo.Mvc.UI;
@model List<BM_ManegmentServices.VM.MeetingPendingPreCommitteeVM>

@{ int index = -1; int SrNo = 0;}

<div id="divPreAgendaMessage">

</div>

<div class="row mt30">
    <div class="col-md-12 colpadding0">
        <div>Following Agenda items required in pre-committe meeting</div>
    </div>
</div>
@foreach (var committee in Model)
{
    index = index + 1;
    using (Ajax.BeginForm("SavePreCommitteeAgendaItems", "Meetings", new { }, new AjaxOptions { HttpMethod = "POST" }, new { id = "frmSavePreCommitteeAgendaItems_" + index }))
    {
        <fieldset class="col" style="margin-top:10px;">
            <legend class="amp-mb5"></legend>

            <div class="row mt30">
                <div class="col-md-12 colpadding0">

                    <div class="col-md-3">
                        <strong>@committee.MeetingTypeName</strong>
                    </div>

                    <div class="col-md-7 colpadding0">
                        @foreach (var item in committee.lstPreCommiteeAgenda)
                        {
                            SrNo = SrNo + 1;
                            <div>
                                <p> <strong>Item @SrNo</strong> - @item.PreCommitteeAgendaItem</p>
                            </div>
                        }
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 colpadding0">

                    <input type="hidden" name="TargetMeetingTypeID_@index" id="TargetMeetingTypeID_@index" value="@Model[index].MeetingTypeID" />
                    <input type="hidden" name="SourceMeetingID_@index" id="SourceMeetingID_@index" value="@Model[index].SourceMeetingID" />
                    <input type="hidden" name="SourceMeetingAgendaMappingID_@index" id="SourceMeetingAgendaMappingID_@index" value="@Model[index].SourceMeetingAgendaMappingID" />

                    <div class="col-md-5 colpadding0">

                        @(Html.Kendo().DropDownListFor(m => m[index].MeetingTypeName)
                                      .Name("TargetMeetingID_" + index)
                                      .DataTextField("MeetingTitle")
                                      .DataValueField("MeetingID")
                                      .OptionLabel("Select Meeting")
                                      .Filter("contains")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Url("/api/MeetingAPI/GetDraftCommitteeMeeting?PreCommitteeId=" + Model[index].MeetingTypeID + "&EntityId=" + Model[index].EntityID).Type(HttpVerbs.Get);
                                          })
                                          .ServerFiltering(false);
                                      })
                                       .HtmlAttributes(new { style = "width: 100%" })
                        )

                    </div>

                    <div id="divSavePreCommitteeAgenda_@index" class="col-md-1">
                        @*<button type="button" class="k-primary k-button k-grid-update k-button-icontext" onclick="savePreCommitteeAgenda(@Model[index].MeetingTypeID,@Model[index].SourceMeetingID, @Model[index].PostAgendaID, @index)">Apply</button>*@
                        <button type="button" class="k-primary k-button k-grid-update k-button-icontext" onclick="savePreCommitteeAgenda(@Model[index].MeetingTypeID,@Model[index].SourceMeetingID, @Model[index].SourceMeetingAgendaMappingID, '0', @index)">Apply</button>
                    </div>

                </div>
            </div>

        </fieldset>
    }
}




