﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaMinutesTaskVM
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

<style>
    .k-state-disabled {
        opacity: .7;
        cursor: not-allowed !important;
    }
</style>

<script>
        $(document).ready(function () {
            $("#btnAddNewReview").click(function (e) {
                e.preventDefault();
                CreateAgendaMinutesReview('@Model.TaskEnitytId','@Model.TaskMeetingId',0,'@Model.TaskTypeId');
            });
        });

        function CreateAgendaMinutesReview(e, m, i, t) {
            $("#wndAgendaMinutesReviewAddEdit").attr("style", "min-height:250px;min-width:540px;");
            var wnd = $("#wndAgendaMinutesReviewAddEdit").data("kendoWindow");
            var opts = wnd.options;

            var direction = "@Url.Action("AddEditAgendaMinutesTask", "Meetings")" + "?meetingId=" + m + "&entityId=" + e + "&taskId=" + i + "&taskType=" + t;

            wnd = $("#wndAgendaMinutesReviewAddEdit").kendoWindow({
                actions: ["Close"],
                content: direction,
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () { kendo.ui.progress(wnd.element, true); },
                close: function (e) {
                    $(this.element).empty();
                    $('#gridAgendaMinutesReview').data('kendoGrid').dataSource.read();
                }
            }).data("kendoWindow");
            //opts.width = "45%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }

    function closeAgendaMinutesReviewWnd() {
        var wnd = $("#wndAgendaMinutesReviewAddEdit").data("kendoWindow");
        wnd.close();
    }

        var rowNumbers1 = 0;
        function filterAgendaTaskDetails() {
            return { entityId: "@Model.TaskEnitytId", meetingId: "@Model.TaskMeetingId", taskType: "@Model.TaskTypeId" }
        }

        function onRowBoundsAgendaMinutesReview(e) {
            $(".k-grid-View").find("span").append("<img id='theImg2' src='/Images/View.png'/>");
            var page = e.sender.dataSource.page();
            var pageSize = e.sender.dataSource.pageSize();
            rowNumbers1 = (page - 1) * pageSize;

            var grid = $("#gridAgendaMinutesReview").data("kendoGrid");
            var gridData = grid.dataSource.view();
            for (var i = 0; i < gridData.length; i++) {
                var currentUid = gridData[i].uid;
                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

                debugger;
                if (gridData[i].StatusId == 1) { //if (gridData[i].StatusId != 6 && gridData[i].StatusId != 7) {
                    $(currenRow).find(".k-grid-Agenda").addClass("k-state-disabled");
                }

                if (gridData[i].StatusId != 1) {
                    $(currenRow).find(".k-grid-delete").addClass("k-state-disabled hidden");
                }
            }
            GetICons();
        }

        function renderNumber2(data) {
            return ++rowNumbers1;
        }

        function AgendaDocumentReviewClose(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            if (dataItem.StatusId == 1) {
                closeAgendaReview(dataItem.TaskId);
            }
        }
</script>

<div id="divCloseReviewMessage"></div>

<div class="row mt30">
    <div class="col-md-11 colpadding0">

    </div>
    <div class="col-md-1 colpadding0 text-right">
        <a class="btn btn-primary" href="/#" id="btnAddNewReview" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
    </div>
</div>

<div class="row form-group mt30">
    <div class="col-md-12">
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.ReviewerRemark>()
                        .Name("gridAgendaMinutesReview")
                        .Columns(columns =>
                        {
                            columns.Template(t => { }).Title("Sr No").ClientTemplate("#= renderNumber2(data) #").Width("5%");
                            columns.Bound(o => o.ReviewerName).Title("Reviewer").Width("25%");
                            columns.Bound(o => o.Status).Width("15%");
                            columns.Bound(o => o.Remark).Width("20%");
                            columns.Bound(p => p.DueDate).ClientTemplate("#= DueDate == null ? '' : kendo.toString(DueDate, \"MMM dd, yyyy\")#").HeaderTemplate("Due Date").Sortable(false).Width("12%");
                            columns.Bound(p => p.UpdatedOn).ClientTemplate("#= UpdatedOn == null ? '' : kendo.toString(UpdatedOn, \"MMM dd, yyyy hh:mm tt\")#").HeaderTemplate("Responded On").Sortable(false).Width("15%");
                            columns.Command(command =>
                            {
                                command.Custom("A").Click("AgendaDocumentReview").HtmlAttributes(new { @class = "k-grid-Agenda" });
                                command.Custom("Delete").Click("AgendaDocumentReviewClose").HtmlAttributes(new { @class = "k-grid-delete" });
                            }).Title("Action").Width("8%");
                        })
                        .EnableCustomBinding(true)
                        .Events(e => e.DataBound("onRowBoundsAgendaMinutesReview"))
                        .Navigatable()
                        .Pageable(pageable => pageable
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Sortable()
                        .Reorderable(reorderable => reorderable.Columns(true))
                        .Resizable(resizable => resizable.Columns(true))
                        .ColumnMenu()
                        .ColumnMenu()
                        .DataSource(dataSource => dataSource
                        .WebApi()
                        .PageSize(5)
                        .ServerOperation(false)
                        .Model(model =>
                        {
                            model.Field(p => p.Id);
                            model.Field(p => p.RoleId);
                            model.Field(p => p.TaskId);
                            model.Field(p => p.MeetingId);
                            model.Field(p => p.StatusId);
                        }).Read(read => read.Url("/api/TaskAPI/GetAgendaMinutesAllReviewDetails").Data("filterAgendaTaskDetails").Type(HttpVerbs.Get))
                ))
    </div>
</div>

<div class="row colpadding0 mt30 hidden">
    <div class="col-md-12 colpadding0" style="text-align:center">
        <button type="button" id="btnCloseAgendaReview" onclick="closeAgendaReview()" class="btn btn-primary"><span class=""></span>Close Review</button>
    </div>
</div>

<script>
        function closeAgendaReview(t) {
            var divCloseReviewMessage = $("#divCloseReviewMessage");
            divCloseReviewMessage[0].innerHTML = '';
            $.ajax({
                type: "POST",
                url: "@Url.Action("CloseAgendaMinutesReview", "Meetings")",
                data: "{ taskId : '" + t + "', meetingId :'"+ @Model.TaskMeetingId+"'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        if (response.result.Success == true) {
                            $("#btnCloseAgendaReview").addClass('hidden');
                            divCloseReviewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>" + response.result.Message + "</lable></div></div></div>";
                            $('#gridAgendaMinutesReview').data('kendoGrid').dataSource.read();
                        }
                        else if (response.result.Error == true) {
                            divCloseReviewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + response.result.Message + "</lable></div></div></div>";

                        } else {
                            divCloseReviewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + response.result.Message + "</lable></div></div></div>";
                        }
                    } else {
                        divCloseReviewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>Something wents wrong.</lable></div></div></div>";
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
</script>

<div style="max-height:10px;display:none;">
    <div id="divMyCompliances">
        <iframe id="IframeMyCompliances" src="about:blank" frameborder="0" height="530px" width="100%"></iframe>
    </div>
</div>

