﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingVM

@{
    DateTime dtNow = DateTime.Now;
}

@helper GetTimeSpan(DateTime dtNow, DateTime? dt)
{
    if (dt == null || Model.IsVirtualMeeting == true)
    {
        <p><small class="text-muted"><i class="icon_clock"></i></small></p>
    }
    else
    {
        var timeSpan = dtNow.Subtract((DateTime)dt);
        if (timeSpan.Days > 0)
        {
                <p><small class="text-muted"><i class="icon_clock_alt"></i> @timeSpan.Days days ago</small></p>
        }
        else if (timeSpan.Hours > 0 && timeSpan.Hours < 24)
        {
                <p><small class="text-muted"><i class="icon_clock_alt"></i> @timeSpan.Hours hours ago</small></p>
        }
        else if (timeSpan.Minutes > 0 && timeSpan.Minutes < 60)
        {
                <p><small class="text-muted"><i class="icon_clock_alt"></i> @timeSpan.Minutes min ago</small></p>
        }
        else
        {
                <p><small class="text-muted"><i class="icon_clock"></i></small></p>
        }
    }
}

@helper GetTimeSpan(DateTime dtNow, DateTime? dt, string time)
{
if (dt == null || Model.IsVirtualMeeting == true)
{
        <p><small class="text-muted"><i class="icon_clock"></i></small></p>
}
else
{
    var dtNew = Convert.ToDateTime(((DateTime)dt).ToString("dd/MMM/yyyy") + " " + (time == null ? "" : time));
    if (dtNow > dtNew)
    {
        var timeSpan = dtNow.Subtract((DateTime)dtNew);
        if (timeSpan.Days > 0)
        {
                <p><small class="text-muted"><i class="icon_clock_alt"></i> @timeSpan.Days days ago</small></p>
        }
        else if (timeSpan.Hours > 0 && timeSpan.Hours < 24)
        {
                <p><small class="text-muted"><i class="icon_clock_alt"></i> @timeSpan.Hours hours ago</small></p>
        }
        else if (timeSpan.Minutes > 0 && timeSpan.Minutes < 60)
        {
                <p><small class="text-muted"><i class="icon_clock_alt"></i> @timeSpan.Minutes min ago</small></p>
        }
        else
        {
                <p><small class="text-muted"><i class="icon_clock"></i></small></p>
        }
    }
    else
    {
        var timeSpan = dtNew.Subtract(dtNow);
        if (timeSpan.Days > 0)
        {
                <p><small class="text-muted"><i class="icon_clock_alt"></i> @timeSpan.Days days remain</small></p>
        }
        else if (timeSpan.Hours > 0 && timeSpan.Hours < 24)
        {
                <p><small class="text-muted"><i class="icon_clock_alt"></i> @timeSpan.Hours hours remain</small></p>
        }
        else if (timeSpan.Minutes > 0 && timeSpan.Minutes < 60)
        {
                <p><small class="text-muted"><i class="icon_clock_alt"></i> @timeSpan.Minutes min remain</small></p>
        }
        else
        {
                <p><small class="text-muted"><i class="icon_clock"></i></small></p>
        }
    }

}
}

@helper GetTimeSpanRemain(DateTime dtNow, DateTime? dt, string time)
{
if (dt == null || Model.IsVirtualMeeting == true)
{
        <p><small class="text-muted"><i class="icon_clock"></i></small></p>
}
else
{
    var dtNew = Convert.ToDateTime(((DateTime)dt).ToString("dd/MMM/yyyy") + " " + (time == null ? "" : time));
    var timeSpan = dtNew.Subtract(dtNow);
    if (timeSpan.Days > 0)
    {
            <p><small class="text-muted"><i class="icon_clock_alt"></i> @timeSpan.Days days remain</small></p>
    }
    else if (timeSpan.Hours > 0 && timeSpan.Hours < 24)
    {
            <p><small class="text-muted"><i class="icon_clock_alt"></i> @timeSpan.Hours hours remain</small></p>
    }
    else if (timeSpan.Minutes > 0 && timeSpan.Minutes < 60)
    {
            <p><small class="text-muted"><i class="icon_clock_alt"></i> @timeSpan.Minutes min remain</small></p>
    }
    else
    {
            <p><small class="text-muted"><i class="icon_clock"></i></small></p>
    }
}
}

<div class="row">
    <div class="col-md-12">

        <div id="divTimeLines" style="display:inline-block;width:100%;overflow-y:auto;">
            <ul class="timeline timeline-horizontal" style="margin-bottom:-4px;">

                <li class="timeline-item">
                    <div class="timeline-badge success"><i class="icon_box-checked"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Draft</h4>
                            @GetTimeSpan(dtNow, Model.CreatedDate)
                        </div>

                    </div>
                </li>

                @if (Model.Type.Trim() == "M")
                {
                    if (Model.IsSeekAvailability == true)
                    {
                        <li class="timeline-item">
                            @if (Model.IsSeekAvailabilitySent == true)
                            {
                                <div class="timeline-badge success">
                                    <a class="aWhite" data-toggle="tab" href="#divSeekAvailability">
                                        <i class="icon_box-checked"></i>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="timeline-badge silver">
                                    <a class="aWhite" data-toggle="tab" href="#divSeekAvailability">
                                        <i class="icon_box-empty"></i>
                                    </a>
                                </div>
                            }
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <a class="aWhite" data-toggle="tab" href="#divSeekAvailability">
                                        <h4 class="timeline-title">Availability</h4>
                                    </a>
                                    @GetTimeSpan(dtNow, Model.SendDateAvailability)
                                </div>
                            </div>
                        </li>
                    }

                    <li class="timeline-item">
                        @if (Model.IsNoticeSent == true)
                        {
                            <div class="timeline-badge success">
                                <a class="aWhite" data-toggle="tab" href="#menu2">
                                    <i class="icon_box-checked"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="timeline-badge silver">
                                <a class="aWhite" data-toggle="tab" href="#menu2">
                                    <i class="icon_box-empty"></i>
                                </a>
                            </div>
                        }

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a class="aWhite" data-toggle="tab" href="#menu2">
                                    <h4 class="timeline-title">Notice</h4>
                                </a>
                                @GetTimeSpan(dtNow, Model.SendDateNotice)
                            </div>
                        </div>
                    </li>

                    <li class="timeline-item">
                        @if (Model.IsAgendaSent == true)
                        {
                            <div class="timeline-badge success">
                                <a class="aWhite" data-toggle="tab" href="#menu1">
                                    <i class="icon_box-checked"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="timeline-badge silver">
                                <a class="aWhite" data-toggle="tab" href="#menu1">
                                    <i class="icon_box-empty"></i>
                                </a>
                            </div>
                        }
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a class="aWhite" data-toggle="tab" href="#menu1">
                                    <h4 class="timeline-title">Agenda</h4>
                                </a>
                                @GetTimeSpan(dtNow, Model.SendDateAgenda)
                            </div>
                        </div>
                    </li>

                    <li class="timeline-item">
                        @if (Model.IsMeetingCompleted == true)
                        {
                            <div class="timeline-badge success"><i class="icon_box-checked"></i></div>
                        }
                        else
                        {
                            <div class="timeline-badge silver"><i class="icon_box-empty"></i></div>
                        }
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Start</h4>
                                    @GetTimeSpan(dtNow, Model.StartMeetingDate, Model.StartMeetingTime)
                            </div>

                        </div>
                    </li>

                    if (Model.IsMeetingCompleted == true)
                    {
                        <li class="timeline-item">
                            <div class="timeline-badge success"><i class="icon_box-checked"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Conclude</h4>
                                        @GetTimeSpan(dtNow, Model.EndMeetingDate)
                                </div>

                            </div>
                        </li>
                    }
                }
                else
                {
                    <li class="timeline-item">
                        @if (Model.IsNoticeSent == true)
                        {
                            <div class="timeline-badge success">
                                <a class="aWhite" data-toggle="tab" href="#menu2">
                                    <i class="icon_box-checked"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="timeline-badge silver">
                                <a class="aWhite" data-toggle="tab" href="#menu2">
                                </a>
                                <i class="icon_box-empty"></i>
                            </div>
                        }
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a class="aWhite" data-toggle="tab" href="#menu2">
                                    <h4 class="timeline-title">Circular Send</h4>
                                </a>
                                @GetTimeSpan(dtNow, Model.SendDateNotice)
                            </div>
                        </div>
                    </li>

                    <li class="timeline-item">
                        @if (Model.IsNoticeSent == true)
                        {
                            <div class="timeline-badge success"><i class="icon_box-checked"></i></div>
                        }
                        else
                        {
                            <div class="timeline-badge silver"><i class="icon_box-empty"></i></div>
                        }                        
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Awaited</h4>
                                @GetTimeSpan(dtNow, Model.MeetingDate, Model.MeetingTime)
                            </div>

                        </div>
                    </li>

                }

                <li class="timeline-item">

                    @if (Model.IsComplianceClosed == true)
                    {
                        <div class="timeline-badge success"><i class="icon_box-checked"></i>
                            <a class="aWhite" data-toggle="tab" href="#" onclick="ComplianceAssignment()">
                                <i class="icon_box-checked"></i>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="timeline-badge silver">
                            <a class="aWhite" data-toggle="tab" href="#" onclick="ComplianceAssignment()">
                                <i class="icon_box-empty"></i>
                            </a>
                        </div>
                    }
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <a class="aWhite" data-toggle="tab" href="#" onclick="ComplianceAssignment()">
                                <h4 class="timeline-title">Compliance</h4>
                            </a>
                            <p><small class="text-muted"><i class="icon_clock_alt"></i></small></p>
                        </div>

                    </div>
                </li>


            </ul>
        </div>
    </div>
</div>

<script>
    $("#divTimeLines a").click(function () {

        var href = $(this).attr('href').substring(1);
        
        if (href == "home") {
            $("#mytab1").trigger("click");
        }
        else if (href == "divSeekAvailability") {
            $("#mytabSA").trigger("click");
        }
        else if (href == "menu1") {
            $("#mytab2").trigger("click");
        }
        else if (href == "menu2") {
            $("#mytab3").trigger("click");
        }
        else if (href == "menu4") {
            $("#mytab4").trigger("click");
        }

    });
</script>