﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MinutesViewerVM


<script>
    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
</script>

@(Html.Kendo().Tooltip()
.For("#divTabPanel1")
.Filter(".minutes-download")
.Position(TooltipPosition.Right)
.AutoHide(true)
//.Width(150)
.Content("Minutes")
)

@(Html.Kendo().Tooltip()
.For("#divTabPanel1")
.Filter(".minutes-proc-download")
.Position(TooltipPosition.Right)
.AutoHide(true)
//.Width(150)
.Content("Proceeding of Meeting")
)

@if (Model != null)
{
    if (Model.MeetingMinutesDetails != null)
    {
        if (Model.MeetingMinutesDetails.IsCirculate == false)
        {
            <div id="divTabPanel1" class="tab" role="tabpanel">
                <ul class="nav nav-tabs mynavtab">
                    <li class="active">
                        <a data-toggle="tab" href="#DraftMinutes" role="tab" aria-controls="DraftMinutes" aria-selected="true">Draft</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#FinalizeMinutes" role="tab" aria-controls="FinalizeMinutes" aria-selected="true">Circulate</a>
                    </li>
                    <li style="float: right;">
                        <div style="margin-top: 6px;">
                            <a id="lnkDownloadDoc" class="minutes-download" href='@Url.Action("DownloadMinutesDocumnet", "Meetings", new { MeetingId = Model.MeetingMinutesId })' target="_blank">
                                <img src='../../Areas/BM_Management/img/Download.png' />
                            </a>
                        </div>
                    </li>
                    @if (Model.MeetingTypeId == 11 || Model.MeetingTypeId == 12)
                    {
                        <li style="float: right;">
                            <div style="margin-top: 6px;">
                                <a id="lnkDownloadDocProceeding" class="minutes-proc-download" href='@Url.Action("DownloadProceedingOfMeetingDocument", "Meetings", new { MeetingId = Model.MeetingMinutesId })' target="_blank">
                                    <img src='../../Areas/BM_Management/img/Download.png' />
                                </a>
                            </div>
                        </li>
                    }
                </ul>

                <div class="tab-content">
                    <div id="DraftMinutes" class="tab-pane fade in active">
                        @Html.Partial("_Viewer_MinutesNew", Model)
                    </div>

                    <div id="FinalizeMinutes" class="tab-pane fade in">
                        @Html.Partial("_MOM_Details", Model.MeetingMinutesDetails)
                    </div>
                </div>
            </div>
        }
        else if (Model.MeetingMinutesDetails.IsCirculate == true && Model.MeetingMinutesDetails.IsFinalized == false)
        {
            <div id="divTabPanel1" class="tab" role="tabpanel">
                <ul class="nav nav-tabs mynavtab">
                    <li class="active">
                        <a data-toggle="tab" href="#DraftMinutes" role="tab" aria-controls="DraftMinutes" aria-selected="true">Draft</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#FinalizeMinutes" role="tab" aria-controls="FinalizeMinutes" aria-selected="true">Finalize</a>
                    </li>
                    <li style="float: right;">
                        <div style="margin-top: 6px;">
                            <a id="lnkDownloadDoc" class="minutes-download" href='@Url.Action("DownloadMinutesDocumnet", "Meetings", new { MeetingId = Model.MeetingMinutesId })' target="_blank">
                                <img src='../../Areas/BM_Management/img/Download.png' />
                            </a>
                        </div>
                    </li>
                    @if (Model.MeetingTypeId == 11 || Model.MeetingTypeId == 12)
                    {
                        <li style="float: right;">
                            <div style="margin-top: 6px;">
                                <a id="lnkDownloadDocProceeding" class="minutes-proc-download" href='@Url.Action("DownloadProceedingOfMeetingDocument", "Meetings", new { MeetingId = Model.MeetingMinutesId })' target="_blank">
                                    <img src='../../Areas/BM_Management/img/Download.png' />
                                </a>
                            </div>
                        </li>
                    }
                </ul>

                <div class="tab-content">
                    <div id="DraftMinutes" class="tab-pane fade in active">
                        @Html.Partial("_Viewer_MinutesNew", Model)
                    </div>

                    <div id="FinalizeMinutes" class="tab-pane fade in">
                        @if (Model.MeetingMinutesDetails != null)
                        {
                            @Html.Partial("_MOM_Details", Model.MeetingMinutesDetails)
                        }
                        else
                        {
                            @Html.Partial("_MOM_Details", new BM_ManegmentServices.VM.MeetingMinutesDetailsVM() { MOM_MeetingId = Model.MeetingMinutesId })
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            @Html.Partial("_Viewer_MinutesNew", Model)

            <div id="divTabPanel1" style="margin-top: 6px; text-align:right;">
                @if (Model.MeetingTypeId == 11 || Model.MeetingTypeId == 12)
                {
                    <a id="lnkDownloadDocProceeding" class="minutes-proc-download" href='@Url.Action("DownloadProceedingOfMeetingDocument", "Meetings", new { MeetingId = Model.MeetingMinutesId })' target="_blank">
                        <img src='../../Areas/BM_Management/img/Download.png' />
                    </a>
                }

                <a id="lnkDownloadDoc" class="minutes-download" href='@Url.Action("DownloadMinutesDocumnet", "Meetings", new { MeetingId = Model.MeetingMinutesId })' target="_blank">
                    <img src='../../Areas/BM_Management/img/Download.png' />
                </a>
            </div>
        }
    }
    else
    {
        <div id="divTabPanel1" class="tab" role="tabpanel">
            <ul class="nav nav-tabs mynavtab">
                <li class="active">
                    <a data-toggle="tab" href="#DraftMinutes" role="tab" aria-controls="DraftMinutes" aria-selected="true">Draft</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#FinalizeMinutes" role="tab" aria-controls="FinalizeMinutes" aria-selected="true">Circulate</a>
                </li>
                <li style="float: right;">
                    <div style="margin-top: 6px;">
                        <a id="lnkDownloadDoc" class="minutes-download" href='@Url.Action("DownloadMinutesDocumnet", "Meetings", new { MeetingId = Model.MeetingMinutesId })' target="_blank">
                            <img src='../../Areas/BM_Management/img/Download.png' />
                        </a>
                    </div>
                </li>
            </ul>

            <div class="tab-content">
                <div id="DraftMinutes" class="tab-pane fade in active">

                    @Html.Partial("_Viewer_MinutesNew", Model)

                </div>

                <div id="FinalizeMinutes" class="tab-pane fade in">
                    @Html.Partial("_MOM_Details", new BM_ManegmentServices.VM.MeetingMinutesDetailsVM { MOM_MeetingId = Model.MeetingMinutesId, IsCirculate = false, IsFinalized = false })
                </div>
            </div>
        </div>
    }
}