﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.PreviewAgendaVM

<link href="~/Content/Text-Highlight-Plugin/jquery.marker.css" rel="stylesheet" />
<link href="~/Content/Text-Highlight-Plugin/extensions/spectrum.css" rel="stylesheet" />

<script src="~/Content/Text-Highlight-Plugin/jquery.marker1.js"></script>
<script src="~/Content/Text-Highlight-Plugin/extensions/spectrum.js"></script>

<style>
    #gridAgendaItemSearch .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

    #gridAgendaItemSearch .k-grid td {
        line-height: 1.5em;
    }

     #gridComments .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

     td.noWhiteSpace {
    white-space: initial;
    }
</style>

<style>
    .my-comment-list{
            border-left: solid;
            border-width: thin;
            border-color: #d7d8c8;
            padding-left: 8px;
    }
    
</style>

<script>
    function getCommentToolTip(e) {
        //var title = "<div style='min-height:100px;'>" +
        //    "<div class='text-center'>" + e.target.attr('data-owner') + "</div> <div style='text-align:left;'>" + e.target.attr('data-title') + "</div></div>";
        var title =  "<b>" + e.target.attr('data-owner') + "</b>: <br>" + e.target.attr('data-title');
        return title;
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
</script>

@(Html.Kendo().Tooltip()
            .For("#divAgendaPreview")
            .Filter(".marker")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Width(150)
            .ContentHandler("getCommentToolTip")
)


@if (Model != null)
{
    var SrNo = 0;
    var SrN = 0;
    var strMeetingSrNo = "";
    var adjourned = (@Model.IsAdjourned == true ? " (Adjourned)" : "");

    if (Model.MeetingSrNo != null)
    {
        var MeetingSrNo = Model.MeetingSrNo;
        if (MeetingSrNo == 1)
        {
            strMeetingSrNo = "1<sup>st</sup>";
        }
        else if (MeetingSrNo == 2)
        {
            strMeetingSrNo = "2<sup>nd</sup>";
        }
        else if (MeetingSrNo == 3)
        {
            strMeetingSrNo = "3<sup>rd</sup>";
        }
        else
        {
            strMeetingSrNo = MeetingSrNo + "<sup>th</sup>";
        }
    }

    <div id="divAgendaPreview">


        @{
            SrNo = 0;
            SrN = 0;
        }

        <table>
            <tr>
                <td style="width:22%;vertical-align:top;">
                    <div style="max-height:480px;overflow-y :auto;">

                        <div class="tab" role="tabpanel">

                            <ul class="nav nav-tabs mynavtab">
                                <li class="active">
                                    <a data-toggle="tab" href="#AgendaItemSearch" role="tab" aria-controls="AgendaItemSearch" aria-selected="true">Agenda</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#AgendaItemComments" role="tab" aria-controls="AgendaItemComments" aria-selected="true">Comments</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="AgendaItemSearch" class="tab-pane fade in active">

                                    <div class="row master-Headre " style="background-color: whitesmoke;">
                                        <div class="col-md-12 colpadding0">
                                            <div class="col-md-1 colpadding0">
                                            </div>
                                            <div class="col-md-10 colpadding0">
                                                <input id='filterAgendaItemSearch' placeholder="Search" class='k-textbox' style="margin-top:15px;width:100%" autocomplete="off" onchange="filterChange(this)" />
                                            </div>
                                            <div class="col-md-1 colpadding0">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row colpadding0">
                                        <div class="col-md-12 colpadding0">
                                            <table id="gridAgendaItemSearch">

                                                <colgroup>
                                                    <col />
                                                </colgroup>

                                                <thead>
                                                    <tr>
                                                        <th data-field="Agenda_Name">Agenda</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.lstAgendaItems)
                                                    {
                                                        SrN++;
                                                        <tr>
                                                            <td> <div class="page-thumb"><a href="#spMOMText_@item.MeetingAgendaMappingID"> @SrN. @Html.Raw(item.AgendaItemText)</a> </div> </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                                <div id="AgendaItemComments" class="tab-pane fade in">
                                    <div class="row" style="background-color: whitesmoke;">
                                        <div class="col-md-12 colpadding0">

                                            <div id="gridComments"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </td>



                <td style="background-color:#dedddd;">
                    <div style="max-height:480px;overflow-y :auto;">
                        <div id="main-content-agenda-preview" class="mycollapse myAgendaComment">
                            @if (Model.MeetingTypeId != 11 && Model.MeetingTypeId != 12)
                            {
                            <div id="blogs" class="widget">
                                <div id="divEntityLetterHead" class="myHeading">
                                    <h4>@Model.EntityName</h4>
                                    <h6 style="text-align:center">@Model.EntityAddressLine1<br />@Model.EntityAddressLine2</h6>
                                    @if (Model.EntityCIN_LLPIN != "0")
                                    {
                                        <h6 style="text-align:center">@Model.EntityCIN_LLPIN</h6>
                                    }
                                    <h4>AGENDA FOR THE @Html.Raw(strMeetingSrNo)@adjourned @Model.MeetingTypeName.ToUpper() @(Model.MeetingCircular == "M" ? "MEETING" : "CIRCULAR")</h4>
                                </div>

                                @if (Model.MeetingCircular == "M")
                                {
                                    <div class="widget-item" style="padding-top:0px;padding-bottom:2px;">
                                        <table style="width:80%">
                                            <tr>
                                                <td style="width:4%"></td>
                                                <td style="width:10%">DATE</td>
                                                <td style="width:1%">:</td>
                                                @if (Model.MeetingDate.HasValue)
                                                {
                                                    <td style="width:70%">@Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy") </td>
                                                }
                                                else
                                                {
                                                    <td style="width:70%"></td>
                                                }

                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td>DAY</td>
                                                <td>:</td>
                                                @if (Model.MeetingDate.HasValue)
                                                {
                                                    <td>@Convert.ToDateTime(Model.MeetingDate).ToString("dddd") </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td>TIME</td>
                                                <td>:</td>
                                                <td>@Model.MeetingTime</td>
                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td>VENUE</td>
                                                <td>:</td>
                                                <td>@Model.MeetingVenue</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <br />
                                    <div class="widget-item myIndex" style="padding-top: 0px;">
                                        @foreach (var item in Model.lstAgendaItems)
                                        {
                                            SrNo++;
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="vertical-align: top;"><h5>@SrNo. </h5></td>
                                                        <td>
                                                            <h5>@Html.Raw((!string.IsNullOrEmpty(item.AgendaItemText) ? item.AgendaItemText.ToUpper() : ""))</h5>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="widget-item" style="padding-top:0px;padding-bottom:2px;">
                                        <table style="width:80%">
                                            <tr>
                                                <td style="width:4%"></td>
                                                <td style="width:30%">CIRCULAR DATE</td>
                                                <td style="width:1%">:</td>
                                                @if (Model.CircularDate.HasValue)
                                                {
                                                    <td style="width:60%">@Convert.ToDateTime(Model.CircularDate).ToString("MMMM dd, yyyy") </td>
                                                }
                                                else
                                                {
                                                    <td style="width:60%"></td>
                                                }

                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td>DUE DATE</td>
                                                <td>:</td>
                                                @if (Model.MeetingDate.HasValue)
                                                {
                                                    <td>@Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy") </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }

                                            </tr>
                                        </table>
                                    </div>
                                    <br />
                                }

                            </div>

                                SrNo = 0;
                                foreach (var item in Model.lstAgendaItems)
                                {
                                    SrNo++;
                                    <div id="blogs" class="widget">
                                        <div id="spMOMText_@item.MeetingAgendaMappingID" class="widget-item">
                                            <h3>Item @SrNo</h3>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="vertical-align: top;"><h4>@SrNo. </h4></td>
                                                        <td>
                                                            <h4 style="text-align:justify;"><span> @Html.Raw(item.AgendaItemText)</span></h4>
                                                            <p class="blog-info"></p>
                                                            @Html.Raw(item.AgendaFormat)
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                    <div id="blogs" class="widget">
                                        <div id="divEntityLetterHead" class="myHeading">
                                            <h4>@Model.EntityName</h4>
                                            <h6 style="text-align:center">@Model.EntityAddressLine1<br />@Model.EntityAddressLine2</h6>
                                            @if (Model.EntityCIN_LLPIN != "0")
                                            {
                                                <h6 style="text-align:center">@Model.EntityCIN_LLPIN</h6>
                                            }
                                            <h4>NOTICE OF @Html.Raw(strMeetingSrNo) @(Model.MeetingTypeId == 11 ? "AGM" : "EGM")</h4>
                                            <div class="widget-item-gm" style="padding-bottom:0px;">
                                                <h5 style="text-align:justify">
                                                    Notice is hereby given that the <strong>@Html.Raw(strMeetingSrNo)</strong> Annual General Meeting of the members of <strong>@Model.EntityName</strong> will be held on <strong>@(Model.MeetingDate.HasValue == true ? Convert.ToDateTime(Model.MeetingDate).ToString("MMMM dd, yyyy") : "" )</strong>
                                                    at <strong>@Model.MeetingTime</strong> at <strong>@Model.MeetingVenue</strong> to transact following business
                                                </h5>
                                            </div>
                                        </div>

                                        <br />

                                        @{ SrNo = 0;
                                            string business_ = "", businessLast_ = "";}
                                        @foreach (var item in Model.lstAgendaItems)
                                        {
                                            SrNo++;
                                            businessLast_ = item.IsOrdinaryBusiness ? "Ordinary Business" : "Special Business";
                                            <div id="spMOMText_@item.MeetingAgendaMappingID" class="widget-item-gm">
                                                @if (business_ != businessLast_)
                                                {
                                                    business_ = businessLast_;
                                                    <h4>@business_</h4>
                                                }
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td style="vertical-align: top;"><h4>@SrNo. </h4></td>
                                                            <td>
                                                                <h4 style="text-align:justify;"><span> @Html.Raw(item.AgendaItemText)</span></h4>
                                                                @if (!item.IsOrdinaryBusiness)
                                                                {
                                                                    <p class="blog-info"></p>
                                                                    @Html.Raw(item.AgendaFormat)
                                                                }
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        }
                                        <div class="widget-item-gm">
                                            <h4>By Order of the Board of Director</h4>
                                            <h4>For @Model.EntityName</h4>
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            @if (Model.MeetingSigningAuthorityForAGM != null)
                                            {
                                                <h5>@Model.MeetingSigningAuthorityForAGM.AuthorityName</h5>
                                                <h5>( @Model.MeetingSigningAuthorityForAGM.Designation )</h5>
                                                if (Model.MeetingSigningAuthorityForAGM.IsCS == true)
                                                {
                                                    <h5>Membership No. @Model.MeetingSigningAuthorityForAGM.MembershipNo</h5>
                                                }
                                                else
                                                {
                                                    <h5>DIN : @Model.MeetingSigningAuthorityForAGM.DIN_PAN</h5>
                                                }
                                            }
                                            
                                            <br />
                                            <br />
                                            <h5>Date</h5>
                                            <h5>Place : @Model.EntityCity</h5>
                                        </div>

                                        <div class="widget-item-gm">
                                            <h4>Notes for Members' Attention</h4>
                                            @Html.Raw(Model.GM_Notes)
                                        </div>

                                        <div class="widget-item-gm">
                                            <h4>Explanatory Statement pursuant to Section 102 (1) of the companies act, 2013 </h4>
                                            <h5>The following statement sets out all material facts relating to special business mentioned in the notice: </h5>
                                        </div>

                                        @{ SrNo = 0;
                                            string resolutionType = "";}
                                        @foreach (var item in Model.lstAgendaItems)
                                        {
                                            SrNo++;
                                            resolutionType = item.IsSpecialResolution ? "Special resolution" : "Ordinary resolution";
                                            if (!string.IsNullOrEmpty(item.ExplanatoryStatement))
                                            {
                                                <div class="widget-item-gm">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: top;"><h4>@SrNo.</h4></td>
                                                                <td>
                                                                    <h4 style="text-align:justify;"><span> @Html.Raw(item.AgendaItemText)</span></h4>
                                                                    <p class="blog-info"></p>
                                                                    @Html.Raw(item.ExplanatoryStatement)
                                                                    <p></p>
                                                                    None of the directors of the Company, Key Managerial Personnel and their relatives is in any way concerned or interested financially or otherwise in the resolution.
                                                                    <p></p>
                                                                    The Board of Directors accordingly recommends the <strong>@resolutionType</strong> set out at ITEM NO. <strong>@SrNo</strong> of the notice for the approval of the members.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                        }

                                        <div class="widget-item-gm">
                                            <h4>By Order of the Board of Director</h4>
                                            <h4>For @Model.EntityName</h4>
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            @if (Model.MeetingSigningAuthorityForAGM != null)
                                            {
                                                <h5>@Model.MeetingSigningAuthorityForAGM.AuthorityName</h5>
                                                <h5>( @Model.MeetingSigningAuthorityForAGM.Designation )</h5>
                                                if (Model.MeetingSigningAuthorityForAGM.IsCS == true)
                                                {
                                                    <h5>Membership No. @Model.MeetingSigningAuthorityForAGM.MembershipNo</h5>
                                                }
                                                else
                                                {
                                                    <h5>DIN : @Model.MeetingSigningAuthorityForAGM.DIN_PAN</h5>
                                                }
                                            }

                                            <br />
                                            <br />
                                            <h5>Date</h5>
                                            <h5>Place : @Model.EntityCity</h5>
                                        </div>
                                    </div>
                            }
                        </div>
                    </div>
                </td>

            </tr>
        </table>

    </div>
}

<script>

    $('#filterAgendaItemSearch').on('input', function (e) {

        var filter = { logic: 'or', filters: [] };

        var t = $('#filterAgendaItemSearch');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "Agenda_Name", operator: "contains", value: t.val() });
        }

        var grid = $("#gridAgendaItemSearch").data("kendoGrid");
        grid.dataSource.filter(filter);
    });

    $(document).ready(function () {

        //var grid = $('#gridAgendaItemSearch').kendoGrid({});
        //grid.refresh();

        $("#gridAgendaItemSearch").kendoGrid({
           // toolbar: kendo.template($("#myTemplateSearchAgenda").html()),
            sortable: false,
            scrollable: false,
            dataBound: function (e) {

                var grid = $("#gridAgendaItemSearch").data("kendoGrid");
                var data = grid.dataSource.data();
                $.each(data, function (i, row) {
                    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

                    $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
                    $('tr[data-uid="' + row.uid + '"] ').css("background-color", "whitesmoke");
                    //$('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");

                    //background-color: #cccaca;
                });

                var allRows = e.sender.items();
                allRows.each(function (index, row) {
                    var nameCell = $(this).find("td");
                    nameCell.addClass("noWhiteSpace");
                });
            }
        });

    });

</script>

<script id="detail-template-comment" type="text/x-kendo-template">
    <div id="divCommentsList_#:ParticipantId#">
    </div>
</script>

<script>

    $(document).ready(function () {
        loadAgendaComments();
    });

    function loadAgendaComments() {
        var target = $('body .myAgendaComment');
        
        $.ajax({
                type: "POST",
                url: "@Url.Action("GetParticipantAgendaComments", "MyMeetings")",
                data: "{ meetingId: '@Model.MeetingID' }",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
           
                    //target.marker('clear');
                    //var j = JSON.parse(response.CommentData);
                    //target.marker('restore', j);
                    fillGridComments(response)
                    //fillGridComment(response)
                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
    }

    function fillGridComments(d) {
        
        var commetnsData = [];

        for (var i = 0; i < d.length; i++) {
            
            var comments = JSON.parse(d[i].CommentData);
            if (comments != null) {
                for (var j = 0; j < comments.length; j++) {
                    //comments[j].title = d[i].FirstName + " " + d[i].LastName + ": <br>" + comments[j].title;
                    comments[j].owner = d[i].FirstName + " " + d[i].LastName;
                    commetnsData.push(comments[j]);
                }
            }

        }

        var target = $('body .myAgendaComment');

        target.marker({
            data: function (e, data) {
                //console.log(JSON.stringify(data))
            },
            debug: function (e, data) {
                //console.log(data)
            }
        });

        target.marker('restore', commetnsData);

        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            pageSize: 10
        });

        var grid = $("#gridComments").kendoGrid({
            pageable: {
                alwaysVisible: false,
                pageSizes: [5, 10, 20, 100]
            },
            detailTemplate: kendo.template($("#detail-template-comment").html()),
            detailInit: detailInit,
            dataBound: function () {
                this.expandRow(this.tbody.find("tr.k-master-row").first());

                var grid = $("#gridComments").data("kendoGrid");
                var data = grid.dataSource.data();
                $.each(data, function (i, row) {
                    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

                    //$('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
                    // $('tr[data-uid="' + row.uid + '"] ').css("background-color", "whitesmoke");

                })

            },
            columns: [
                        //{ field: "FirstName", title: "Name", template: "<div>#=getImage(data)#</div>" },
                        { field: "FirstName", title: "Name", template: "#=getImage(data)# #:FirstName# #:LastName#" },
                        //{ field: "CommentData", title: "Comment" },
                        //{ field: "AgendaItem", title: "Agenda Item" },
                        //{ field: "IsAgendaSelect", title: "IsAgendaSelect", hidden: true },
            ],
            dataSource: ds,
            editable: false,
            //sortable: true,
            groupable: false,
        });

    }

    function detailInit(e) {
        var detailRow = e.detailRow;
        var data = e.data;
        var a = 3;

        var str = "<div>";
        var comments = JSON.parse(data.CommentData);
        var lookupData = {};
        
        if (comments != null) {
            str += "<ul>";
            for (var j = 0; j < comments.length; j++) {
                var uid = comments[j].uniqueName;
                if (!(uid in lookupData)) {
                    lookupData[uid] = 1;
                    str += "<li class='my-comment-list' onclick='showSpan(this);' target-id='" + uid + "'>" + comments[j].title + "</li>";
                }
            }
            str += "</ul>";
        }
            str += "</div>";

            $('#divCommentsList_' + data.ParticipantId)[0].innerHTML = str;
    }

    function showSpan(e) {
        
        //var spanId = e.attr('target-id');
        var spanId = e.attributes['target-id'].value;
        $("#divAgendaPreview").find('.marker' + '[' + 'data-unique-name' + '=' + spanId + ']').get(0).scrollIntoView();
    }

    function getImage(data) {

        
        var Colors = {};

        var html;
            Colors = [
           "#42A5F5",
           "#008391",
           "#846600",
          "#CC0060",
          "#330099", ];
            var result;
            var count = 0;
            //for (var prop in Colors)
            //    if (Math.random() < 1 / ++count) {
            //        result = prop;
            result = Colors[Math.floor(Math.random() * Colors.length)];
            var firstName = data.FirstName;
            var lastName = data.LastName;
            var intials = firstName.charAt(0) + lastName.charAt(0);

            html = "<span class='customer-photo textimage' style='text-align: center;color:white;background-color:" + result + "'><b>" + intials + "</b></span>"
        return html;
    }
</script>