﻿@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "Meetings Director";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}
@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<!-- Agenda / MOM preview css-->
<style>
    .myHeading h3 {
        font-size: 1.2em;
        margin-top: 2px;
        text-align: center;
        color: #1f97f7;
        width: auto;
        font-weight: normal;
    }

    .myHeading h4 {
        font-size: 1.6em;
        /*text-transform: uppercase;*/
        text-align: center;
        font-weight: normal;
        /*color: #1f97f7;*/
        width: auto;
    }

    .myIndex h3 {
        font-size: 1.1em;
        margin-top: 1px;
        margin-left: 20px;
        text-align: left;
        width: auto;
        font-weight: normal;
    }

    #main-content-agenda-preview {
        display: table-cell;
        margin: 0;
        padding: 20px;
        /* width: 680px; */
        width: 980px;
        vertical-align: top;
    }

    .widget.placeholder {
        opacity: 0.4;
        border: 1px dashed #a6a6a6;
    }

    /* WIDGETS */
    .widget {
        margin: 0 0 10px;
        padding: 0;
        background-color: #ffffff;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        cursor: move;
    }

        .widget:hover {
            background-color: #fcfcfc;
            border-color: #cccccc;
        }

        .widget div {
            padding: 10px;
            min-height: 50px;
        }

        .widget h3 {
            font-size: 12px;
            padding: 8px 10px;
            text-transform: uppercase;
            border-bottom: 1px solid #e7e7e7;
            margin-top: 2px;
            text-align: right;
        }

            .widget h3 span {
                float: right;
            }

                .widget h3 span:hover {
                    cursor: pointer;
                    background-color: #e7e7e7;
                    border-radius: 20px;
                }

    /* BLOGS & NEWS */
    #blogs div,
    #news div {
        /*padding: 0 20px 20px;*/
        padding: 0 20px 1px;
    }

    #teammates h4,
    #blogs h4,
    #news h4 {
        width: auto;
        margin: 10px 0 2px;
        font-size: 1.4em;
        color: #1f97f7;
        font-weight: normal;
    }

    .blog-info {
        margin: 0 0 10px;
        font-size: .9em;
        color: #787878;
    }

    #sidebar #blogs h4 {
        font-size: 1em;
    }

    #sidebar #blogs p {
        display: none;
    }

    #sidebar #blogs .blog-info {
        display: block;
    }

    #main-content-agenda-preview #news h4 {
        font-size: 1.2em;
        line-height: 1.4em;
        height: 40px;
    }

        #main-content-agenda-preview #news h4 span {
            display: block;
            float: left;
            width: 100px;
            height: 40px;
            color: #000;
        }

    .hint {
        width: 250px;
        height: 100px;
        overflow: hidden;
    }

        .hint > h3 {
            padding-left: 20px;
        }
</style>

<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .myMultiSelect .k-multiselect-wrap {
        overflow: auto;
        max-height: 34px;
        height: 34px;
    }

    .myMultiSelect2 .k-multiselect-wrap {
        overflow: auto;
        max-height: 63px;
        height: 63px;
    }

    .order-id {
        display: inline-block;
        min-width: 60px;
    }

    .ap-grid-h300 {
        min-height: 120px;
        max-height: 120px;
        overflow-x: no-display;
        overflow-y: auto;
    }
</style>

<style>
    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
        /*background-color: #1fd9e1;*/
        /*color: white;*/
    }
    /*.k-add
    {
        background-image:url("'../../../../Images/Add_new_icon.png'")
    }*/
    .k-edit-buttons {
        height: 43px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }
</style>

<style>
    .k-window div.k-window-content {
        /*// overflow: hidden;*/
        /*overflow-y: scroll*/
    }

    fieldset {
        display: block;
        margin-inline-start: 0px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .amp-mb5 {
        margin-bottom: 5px;
    }

    .amp-h25 {
        height: 25px;
    }

    .amp-h26 {
        height: 26px;
    }

    .amp-h27 {
        height: 27px;
    }

    .amp-h28 {
        height: 28px;
    }

    .amp-h29 {
        height: 29px;
    }

    .amp-h30 {
        height: 30px;
    }

    .amp-mt7 {
        margin-top: 7px;
    }

    .amp-mt8 {
        margin-top: 8px;
    }

    .amp-mt9 {
        margin-top: 9px;
    }

    .amp-mt10 {
    }
</style>

<style>
    #grid.k-grid td {
        background: white !important;
        border: 0 !important;
    }

    #grid.k-grid .k-header {
        display: none;
    }
</style>

<style>
    .k-window div.k-window-content {
        /*// overflow: hidden;*/
        /*overflow-y: scroll*/
    }

    fieldset {
        display: block;
        margin-inline-start: 0px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .amp-mb5 {
        margin-bottom: 5px;
    }

    .amp-h25 {
        height: 25px;
    }

    .amp-h26 {
        height: 26px;
    }

    .amp-h27 {
        height: 27px;
    }

    .amp-h28 {
        height: 28px;
    }

    .amp-h29 {
        height: 29px;
    }

    .amp-h30 {
        height: 30px;
    }

    .amp-mt7 {
        margin-top: 7px;
    }

    .amp-mt8 {
        margin-top: 8px;
    }

    .amp-mt9 {
        margin-top: 9px;
    }

    .amp-mt10 {
    }
</style>

<!-- Script for Generate Grid SrNo -->
<script>
        var gridRowNumber = 0;

        function resetGridRowNumber(e) {
            gridRowNumber = 0;
        }

        function renderGridRowNumber() {
            var page = parseInt($("#gridMeetings").data("kendoGrid").dataSource.page()) - 1;
            var pagesize = $("#gridMeetings").data("kendoGrid").dataSource.pageSize();
            return parseInt(++gridRowNumber + (parseInt(page) * parseInt(pagesize)));
        }
</script>

<!-- Script for Generate Grid SrNo -->
<script>
    var rowNumber = 0;

    function resetRowNumber(e) {
        rowNumber = 0;
    }

    function renderNumber(data) {
        return ++rowNumber;
    }
</script>

<!-- Script for Kendo Grid-->
<script type="text/javascript">

    function onRowBound(e) {
        
        resetGridRowNumber();
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-icon k-add k-i-plus-outline");
        $(".k-grid-View").find("span").append("<img id='theImg2' src='/Images/View.png'/>");

        var grid = $("#gridMeetings").data("kendoGrid");
        var gridData = grid.dataSource.view();
        
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            if (gridData[i].Type != null) {
                if (gridData[i].Type == "C") {
                    var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    var editButton = $(currenRow).find(".k-grid-S").addClass("k-state-disabled");
                }
            }
        }
    }

    function error_handlerT(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
</script>

<!-- Script for Show PopUp window-->
<script>
    $(document).ready(function () {
        $("#customCommand1").click(function (e) {
            e.preventDefault();
            CreateMeeting();
        });
    });

    function CreateMeeting(e) {
        $("#wndAdd").kendoWindow({
            title: "Meeting",
            modal: true
        });

        var direction = "Meeting_Create";
        showMeetingPopup(direction);
    }

    function viewMeeting(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndAgendaPreview").kendoWindow({
            title: "Agenda Preview",
            modal: true
        });

        
        var direction = "AgendaPreview?MeetingId=" + dataItem.MeetingID;

        $("#wndAgendaPreview").attr("style", "min-height:100px;");

        var wnd = $("#wndAgendaPreview").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAgendaPreview").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "65%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");

        opts.width = "65%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function EditMeeting(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "Meeting_Edit?MeetingId=" + dataItem.MeetingID;
        var wndTitle = "";

        if (dataItem.Quarter_ != ""){
            wndTitle = dataItem.TypeName+"-"+dataItem.MeetingTypeName +" " +dataItem.Quarter_ + " [ " + dataItem.MeetingSrNo + " ] - " + dataItem.MeetingTitle;
        }
        else{
            wndTitle = dataItem.TypeName + "-" + dataItem.MeetingTypeName + " " + " [ " + dataItem.MeetingSrNo + " ] -" + dataItem.FY_CY;
        }

        $("#wndAdd").kendoWindow({
            //title: wndTitle,
            title: wndTitle = dataItem.TypeName + "-" + dataItem.MeetingTypeName + " " + " [ " + dataItem.MeetingSrNo + " ] -" + dataItem.FY_CY,
            modal: true
        });

        showMeetingPopup(direction);
    }

    function showMeetingPopup(direction) {
        $("#wndAdd").attr("style", "min-height:100px;");

        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAdd").kendoWindow({
            actions: ["Close"],
            content: direction,
            //width: "95%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { OnOpen(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                $('#gridMeetings').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");

        //opts.width = "95%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnRefreshNewMeeting() {
        
        var wnd = $("#wndAdd").data("kendoWindow");
        //var opts = wnd.options;
        //opts.width = "95%";
        //wnd.setOptions(opts);
        wnd.center();

        //var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpenAgendaFormat(e) {
        var wnd = $("#wndAddAgendaItem").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

    }

    function OnRefreshAgendaFormat() {
        var wnd = $("#wndAddAgendaItem").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

</script>

<!-- Compliance Assignment -->
<script>

    function ComplianceAssignmentMeetingGrid(e) {

        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("MeetingComplianceAssignment", "MeetingComplianceAssign")" + "?meetingId=" + dataItem.MeetingID;
        showCompliancePopUp(direction);
    }

    function showCompliancePopUp(d)
    {
        $("#wndMeetingComplianceAssign").attr("style", "min-height:100px;");

        var wnd = $("#wndMeetingComplianceAssign").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndMeetingComplianceAssign").kendoWindow({
            title: "Template",
            actions: ["Close"],
            content: d,
            width: "75%",
            visible: false,
            modal: true,
            refresh: function () {
                this.center();
                kendo.ui.progress($(this.element), false);
            },
            open: function () {
                kendo.ui.progress($(this.element), true);
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");
        opts.width = "85%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>

<!-- Draft Resolution & Minutes Window-->
<script>
    function showMinutesOfMeeting(e) {
        e.preventDefault();

        $("#wndMOMPreview").attr("style", "min-height:100px;");

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "MOMPreview?MeetingId=" + dataItem.MeetingID;

        var wnd = $("#wndMOMPreview").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndMOMPreview").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "65%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");
        opts.width = "65%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function editMinutesOfMeeting(m,id) {

        $("#wndMOMEdit").attr("style", "min-height:100px;");

        var direction = "Edit_Minutes?MeetingId=" + m + "&MappingId="+id;

        var wnd = $("#wndMOMEdit").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndMOMEdit").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "65%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");
        opts.width = "65%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function OnEditMOM(e) {
        var wnd = $("#wndMOMEdit").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnSaveMOM() {
        var wnd = $("#wndMOMEdit").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }
    
</script>

<!-- Filter Script-->
<script>
    function filterChange() {

        var filter = { logic: 'and', filters: [] };

        

       
        var ddlEntityType = $("#ddlEntityFilter").data("kendoDropDownList");
        var d = ddlEntityType.value();

        if(d > 0){
            filter.filters.push({ logic: "and", field: "Entityt_Id", operator: "eq", value: parseInt(d) });
        }

        var ddlMeetingStatusFilter = $("#ddlMeetingStatusFilter").data("kendoDropDownList");
        var m = ddlMeetingStatusFilter.value();

        if (m!="") {
            filter.filters.push({ logic: "and", field: "Stage", operator: "eq", value: m });
        }
        
        var t = $('#filter');
        if (t.val() != "")
        {
            filter.filters.push({ logic: "or", field: "MeetingTitle", operator: "contains", value: t.val() });
        }

        grid = $("#gridMeetings").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<!-- Start Meeting-->
<script>
    //Open Main Meeting Details in another Controller
    function Meetings(e) {
        
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var direction = "MeetingVootingNoting?MeetingId=" + dataItem.MeetingID;
        if (dataItem.Type == "M") {
            var wndTitle = "";
            window.location.href = "@Url.Action("MeetingsDetails", "MainMeeting")?MeetingId=" + dataItem.MeetingID;
        }
    }
</script>

<div class="row Dashboard-white-widget">
    <div>
        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Add - New Meeting")
        .Width(120)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter(".k-grid-view")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Agenda")
        .Width(100)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Edit")
        .Width(100)
        )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter(".k-grid-c")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Compliances")
        .Width(100)
        )
        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter(".k-grid-mom")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Draft Resolution & Minutes")
        )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter(".k-grid-S")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Start Meeting")
        )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        //.Width(100)
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter("td:nth-child(2)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(150)
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridMeetings")
        .Filter("td:nth-child(3)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        //.Width(300)
        .AutoHide(true) )

    </div>

    <div class="dashboard">
        @(Html.Kendo().Window().Name("wndMeetingComplianceAssign").Title("Compliance").Visible(false).Modal(true).Draggable(true).Scrollable(true))

        @(Html.Kendo().Window().Name("wndAgendaDocument").Title("Agenda Document").Visible(false).Modal(true).Draggable(false).Pinned(true))
        @(Html.Kendo().Window().Name("wndAdd").Title("Meeting").Visible(false).Modal(true).Draggable(false).Pinned(true))

        @(Html.Kendo().Window().Name("wndScheduleDetails").Title("Compliance").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))

        @(Html.Kendo().Window().Name("wndDocViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))

        @(Html.Kendo().Window().Name("wndMOMPreview").Title("Draft Resolution & Minutes").Visible(false).Modal(true).Draggable(true).Scrollable(true))

        @(Html.Kendo().Window().Name("wndMOMEdit").Title("Minutes Of Meeting").Visible(false).Modal(true).Draggable(true).Scrollable(true))

        @(Html.Kendo().Window().Name("wndAgendaPreview").Title("Agenda").Visible(false).Modal(true).Draggable(true).Scrollable(true))

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingVM>()
                .Name("gridMeetings")
                .Columns(columns =>
                {
                    columns.Bound(p => p.EntityName).HeaderTemplate("Entity Name").HtmlAttributes(new { title = "#= EntityName #" }).Sortable(false).Width(200);
                    columns.Bound(p => p.MeetingTypeName).ClientTemplate("#=data.TypeName# - #= MeetingTypeName # #=data.Quarter_ ==null ? '' : data.Quarter_ # [ #=data.MeetingSrNo# ] - #=data.FY_CY#").HeaderTemplate("Meeting").HtmlAttributes(new { title = "" }).Sortable(false).Width(270);
                    columns.Bound(p => p.TypeName).ClientTemplate("#= MeetingDate == null ? '' : kendo.toString(MeetingDate, \"MMM dd, yyyy\")# #=data.MeetingTime == null ? '' : data.MeetingTime #").HeaderTemplate("Date").HtmlAttributes(new { title = "#= Type #" }).Sortable(false).Width(150);
                    columns.Bound(p => p.MeetingVenue).HeaderTemplate("Stage").HtmlAttributes(new { title = "Draft" }).ClientTemplate("#=data.Stage#").Sortable(false).Width(100);

                    columns.Command(command =>
                    {
                        command.Custom("A").Click("viewMeeting").HtmlAttributes(new { @class = "k-grid-view" });
                        command.Custom("MI").Click("showMinutesOfMeeting").HtmlAttributes(new { @class = "k-grid-mom" });
                    })
                       .Title("Action").Width(100);
                })
                .EnableCustomBinding(true)
                .ToolBar(toolbar =>
                {
                toolbar.Template(@<text>
                    <div class="refreshBtnContainer">
                    </div>
                    <div>
                        Filter : 
                        @(Html.Kendo().DropDownList()
                                .Name("ddlEntityFilter")
                                .ValuePrimitive(true)
                                .DataValueField("Id")
                                .DataTextField("EntityName")
                                .OptionLabel("Entity")
                                .Events(e => e.Change("filterChange"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/EntityMasterAPI/GetDropDownEntityForMeeting").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width: 320px;" })
                        )

                        @(Html.Kendo().DropDownList()
                                .Name("ddlMeetingStatusFilter")
                                .Events(e => e.Change("filterChange"))
                                .BindTo(new SelectList(new List<object> {
                                            new {id="Todays",text="Todays"},
                                            new {id="Upcoming",text="Upcoming"},
                                            new {id="Past",text="Past"},
                               }, "id", "text")).HtmlAttributes(new { style = "width: 200px;" })
                        )

                        <input id='filter' placeholder="Purpose" class='k-textbox hidden' style="width: 20%;" onchange="filterChange();" autocomplete="off" />
                    </div>
                </text>);
                })
                .Events(e => e.DataBound("onRowBound"))
                .Navigatable()
                .Pageable(pageable => pageable
                .Refresh(false)
                .PageSizes(true)
                .ButtonCount(5))
                .Filterable()
                .Sortable()
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu()
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(5)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(p => p.MeetingID);
                    model.Field(p => p.MeetingID).Editable(false);
                    model.Field(p => p.MeetingSrNo);
                    model.Field(p => p.Entityt_Id);
                })
                .Read(read => read.Action("MeetingsForDirector_Read", "Meetings"))
                .Events(events => events.Error("error_handlerT"))
                     ))
    </div>

</div>