﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingVM

<style>
        .tab-content {
            /*border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;*/
            padding: 10px;
        }
</style>

<script>
    function additionalInfo() {
        var additionalDataObject = {
            MeetingId: "@Model.MeetingID",
        };
        return additionalDataObject;
    }

    function getEntityIDForMeeting() {
        return { EntityId: "@Model.Entityt_Id" };
    }

    function getDataForAgendaItem() {
        return  { EntityId: "@Model.Entityt_Id", MeetingTypeId: "@Model.MeetingTypeId" };
    }
</script>
<!-- Agenda Item Script-->
<script>
    function CreateNewAgendaItem(part) {
        $("#wndAddNewAgendaItem").kendoWindow({
            title: "Agenda Item",
            modal: true
        });

        var direction = "CreateNewAgendaItem?MeetingId=@Model.MeetingID" + "&Part=" + part;

        $("#wndAddNewAgendaItem").attr("style", "min-height:100px;");

        var wnd = $("#wndAddNewAgendaItem").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddNewAgendaItem").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "75%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();

                if (part == "C") {
                    $('#gridAgendaItemC').data('kendoGrid').dataSource.read();
                } else {
                    $('#gridAgendaItem').data('kendoGrid').dataSource.read();
                }
            }
        }).data("kendoWindow");

        opts.width = "75%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function AgendaItemsSelect(part, meetingCircular, showPending) {

        var direction = "AgendaItemSelect?MeetingId=@Model.MeetingID" + "&Part=" + part + "&MeetingCircular=" + meetingCircular + "&showPendingAgenda=" + showPending;

        $("#wndAddAgendaItem").kendoWindow({
            title: "Agenda Items",
            modal: true
        });

        $("#wndAddAgendaItem").attr("style", "min-height:100px;");

        var wnd = $("#wndAddAgendaItem").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddAgendaItem").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "75%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                if (showPending == true) {
                    var gridAgendaItemA = $('#gridAgendaItemA').data('kendoGrid');
                    if (gridAgendaItemA != null) {
                        gridAgendaItemA.dataSource.read();
                    }
                    $('#gridAgendaItem').data('kendoGrid').dataSource.read();

                    loadOpenAgendaCount();
                }
                else {
                    if (part == 'A') {
                        $('#gridAgendaItemA').data('kendoGrid').dataSource.read();
                    } else if (part == 'C') {
                        $('#gridAgendaItemC').data('kendoGrid').dataSource.read();
                    } else {
                        $('#gridAgendaItem').data('kendoGrid').dataSource.read();
                    }
                }

                if (meetingCircular == 'C') {
                    $('#gridResponsees').data('kendoGrid').dataSource.read();
                }
                if ('@Model.IsVirtualMeeting' == 'True') {
                    $('#gridAGMVoting').data('kendoGrid').dataSource.read();
                }
            }
        }).data("kendoWindow");

        opts.width = "85%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function AgendaItemsEditFormat(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wndAddAgendaItem").kendoWindow({
            title: "Agenda Item - "+dataItem.AgendaItemHeading,
            modal: true
        });

        var direction = "AgendaItemFormat_Read?MeetingAgendaMappingID=" + dataItem.MeetingAgendaMappingID;

        $("#wndAddAgendaItem").attr("style", "min-height:100px;");

        var wnd = $("#wndAddAgendaItem").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddAgendaItem").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "80%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();

                if (dataItem.PartId == 1) {
                    $('#gridAgendaItemA').data('kendoGrid').dataSource.read();
                } else if (dataItem.PartId == 3) {
                    $('#gridAgendaItemC').data('kendoGrid').dataSource.read();
                } else {
                    $('#gridAgendaItem').data('kendoGrid').dataSource.read();
                }
            }
        }).data("kendoWindow");

        opts.width = "80%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function AgendaDocumentsUpload(e)
    {
        e.preventDefault();
        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var grid = e.sender.element.closest(".k-grid").data("kendoGrid");
        var row = e.sender.element.closest("tr");
        var dataItem = grid.dataItem(row);

        viewAgendaDocumentsUpload(dataItem.MeetingAgendaMappingID, dataItem.Meeting_Id);
    }

    function viewAgendaDocumentsUpload(mappingId, meetingId) {
        $("#wndAgendaDocument").kendoWindow({
            //  title: "Agenda It - " + dataItem.AgendaItemHeading,
            title : "Agenda Related Documents",
            modal: true
        });

        var direction = "@Url.Action("AgendaDocumentsListNew","Meetings")"+"?MeetingAgendaMappingID=" + mappingId +"&AgendaDocumentMeetingID="+ meetingId;

        $("#wndAgendaDocument").attr("style", "min-height:100px;");

        var wnd = $("#wndAgendaDocument").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAgendaDocument").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "55%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                GetICons();
            }
        }).data("kendoWindow");

        opts.width = "55%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function EditNotes() {

    }

    function viewNotesDetails(meetingId, AgendaId) {
        direction = "@Url.Action("MyNotes", "Notes")" + "?MeetingId=" + meetingId + "&AgendaId=" + AgendaId;
        var wnd = $("#wndAgendaDocument").data("kendoWindow");

        $("#wndAgendaDocument").kendoWindow({
             title: "Notes",
            modal: true
        });

        var opts = wnd.options;
        wnd = $("#wndAgendaDocument").kendoWindow({
            content: direction,
            visible: false,
            modal: true,
            close: function (e) {
                $(this.element).empty();
            },
            open: function (e) {
            }
        }).data("kendoWindow");
        opts.width = "50%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.open();
    }

    function AgendawiseFormsList(e) {
        e.preventDefault();
        debugger;
        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var grid = e.sender.element.closest(".k-grid").data("kendoGrid");
        var row = e.sender.element.closest("tr");
        var dataItem = grid.dataItem(row);

        if (dataItem.Hasfoms == true) {
            showMeetingFormsList(dataItem.Meeting_Id, dataItem.MeetingAgendaMappingID, 0);
        }
    }

    function AgendaItemsEditTemplateFieldsNew(e) {

        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        if (dataItem.UIFormID > 0) {
            AgendaItemsEditUIForm(dataItem);
        } else if (dataItem.HasTemplate == true) {
            AgendaItemsEditTemplateFields(dataItem);
        }
    }

    function AgendaItemsEditUIForm(dataItem) {
        //e.preventDefault();
        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.UIFormID >0) {
            $("#wndAddEditAgendaItemUIForms").kendoWindow({
                title: "UI Form ",// + dataItem.AgendaItemHeading,
                modal: true
            });

            var direction = "@Url.Action("GetUIForm", "UIForm")" + "?UIFormID=" + dataItem.UIFormID + "&MeetingId=" + dataItem.Meeting_Id + "&AgendaId=" + dataItem.AgendaID + "&MappingId=" + dataItem.MeetingAgendaMappingID;

            $("#wndAddEditAgendaItemUIForms").attr("style", "min-height:100px;");

            var wnd = $("#wndAddEditAgendaItemUIForms").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndAddEditAgendaItemUIForms").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "55%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    $(this.element).empty();

                    if (dataItem.PartId == 1) {
                        $('#gridAgendaItemA').data('kendoGrid').dataSource.read();
                    } else if (dataItem.PartId == 2) {
                        $('#gridAgendaItem').data('kendoGrid').dataSource.read();
                    } else {
                        $('#gridAgendaItemC').data('kendoGrid').dataSource.read();
                    }
                }
            }).data("kendoWindow");

            if (dataItem.UIFormID == 33 || dataItem.UIFormID == 41) {
                opts.width = "90%";
            } else if (dataItem.UIFormID == 36) {
                opts.width = "40%";
            } else {
                opts.width = "60%";
            }            
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }

    }

    function AgendaItemsEditTemplateFields(dataItem) {
        //e.preventDefault();
        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.HasTemplate == true) {
            $("#wndAddAgendaItemTemplateFields").kendoWindow({
                title: "Agenda Item Template Fields - " + dataItem.AgendaItemHeading,
                modal: true
            });

            var direction = "@Url.Action("AgendaItemTemplate_Read")" + "?MeetingAgendaMappingID=" + dataItem.MeetingAgendaMappingID ;

            $("#wndAddAgendaItemTemplateFields").attr("style", "min-height:100px;");

            var wnd = $("#wndAddAgendaItemTemplateFields").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndAddAgendaItemTemplateFields").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "55%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    $(this.element).empty();

                    if (dataItem.PartId == 1) {
                        $('#gridAgendaItemA').data('kendoGrid').dataSource.read();
                    } else if (dataItem.PartId == 2) {
                        $('#gridAgendaItem').data('kendoGrid').dataSource.read();
                    } else {
                        $('#gridAgendaItemC').data('kendoGrid').dataSource.read();
                    }
                }
            }).data("kendoWindow");

            opts.width = "55%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }

    }

    function AgendaItemsInterestParties(e) {
        e.preventDefault();
        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var grid = e.sender.element.closest(".k-grid").data("kendoGrid");
        var row = e.sender.element.closest("tr");
        var dataItem = grid.dataItem(row);

        $("#wndInterestParties").kendoWindow({
            title: "Interested Parties - " + dataItem.AgendaItemHeading,
            modal: true
        });

        var direction = "@Url.Action("Editing_Custom", "MeetingInterestedParty")"+"?MeetingAgendaMappingID=" + dataItem.MeetingAgendaMappingID + "&Entityt_Id=@Model.Entityt_Id";

        $("#wndInterestParties").attr("style", "min-height:100px;");

        var wnd = $("#wndInterestParties").data("kendoWindow");
                    var opts = wnd.options;

                    wnd = $("#wndInterestParties").kendoWindow({
                        actions: ["Close"],
                        content: direction,
                        width: "55%",
                        visible: false,
                        modal: true,
                        refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                        open: function () { kendo.ui.progress(this.element, true); },
                        close: function (e) {
                            $(this.element).empty();
                                    }
                    }).data("kendoWindow");

                    opts.width = "55%";
                    wnd.setOptions(opts);
                    wnd.center();
                    wnd.open();
                }

</script>

<script type="text/javascript">
    $(function () {
        $('#wndParticipantsResponse').on('click', '.chkbx1', function () {
            var checked = $(this).is(':checked');
            var grid = $('#wndParticipantsResponse').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            dataItem.set('Response', checked);
        })
    })

    function gridResponse_Request_End(e) {
        if (e.type == "create" || e.type == "update") {

            
            for (var i = 1; i < 4; i++) {
                var chart = $("#chart_" + i).data("kendoChart");
                if (chart != null) {
                    chart.dataSource.read();
                    chart.refresh();
                }
            }
        }
    }

    function wndCheckQuorumShow(m, a) {
        $("#wndCheckQuorum").kendoWindow({
            title: "Meeting",
            modal: true
        });

        var direction = "SelectSeekAvailability?meetingId=@Model.MeetingID" + "&meetingAvailabilityId=" + a;

        var wnd = $("#wndCheckQuorum").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndCheckQuorum").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "40%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");

        opts.width = "40%";
        wnd.setOptions(opts);
        wnd.open();
        wnd.center();
    }

    function onSeriesClick(e, v) {
        
        var CanReSendSeekAvailability = "@Model.CanReSendSeekAvailability";
        wndCheckQuorumShow(e.dataItem.MeetingId, e.dataItem.MeetingAvailabilityId);
    }

    function DataBound_Chart(e) {
    }

    function ShowAvailabilityResponse() {
        $("#wndParticipantsResponse").kendoWindow({
            title: "Participants",
            modal: true,
            close: function (e) {
                //$(this.element).empty();
            }
        });

        var wnd = $("#wndParticipantsResponse").data("kendoWindow");
        var opts = wnd.options;
        opts.width = "95%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

    }

    function wndMarkAvailabilityShow() {
        $("#wndParticipantsResponse").kendoWindow({
            title: "Mark Availability",
            modal: true
        });

        var direction = "MarkSeekAvailability?MeetingId=@Model.MeetingID";

        var wnd = $("#wndParticipantsResponse").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndParticipantsResponse").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "75%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");

        opts.width = "75%";
        wnd.setOptions(opts);
        wnd.open();
        wnd.center();
    }

    function reSendSeekAvailability() {
        $("#frmUpdateSeekAvailability").attr(
        "action",
        "@Url.Action("ReSendSeekAvailability", "Meetings", new { MeetingId = Model.MeetingID })"
        ).submit();
    }

    function chartToolTipTemplate(item, category, count) {

        var template = "<div>" + category + " : " + count + "</div> <div style='text-align:left'>";
        for (var i = 0; i < item.length; i++) {
            var tag = item[i];
            template += kendo.format("<li>{0}</li>", tag.ParticipantName, tag.Email);
        }
        template += "</div>";
        return template;
    }

</script>

<div id="example">
    <div id="window" style="width:1290px; min-height:520px; max-height:530px;overflow-y:auto;overflow-x:hidden">
        <!-- <div class="tile" >-->
        <div class="tab" role="tabpanel" id="tile-111">
            <!--  <div class="tile11" id="tile-111">-->
            <!-- Nav tabs ul class="nav nav-tabs mynavtab" role="tablist">
                -->
            <ul class="nav nav-tabs mynavtab">
                <!-- <div id="divSlider1" class="slider"></div> -->

                <li class="active">
                    <a id="mytab1" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="icon_calendar"></i> Details</a>
                </li>
                @if (Model.Type.Trim() == "M")
                {
                    <li onclick="refreshAvailabilityCharts();">
                        <a id="mytabSA" data-toggle="tab" href="#divSeekAvailability" role="tab" aria-controls="setting" aria-selected="false"><i class="icon_contacts"></i> Availability</a>
                    </li>
                }
                @if(Model.MeetingTypeId == 11 || Model.MeetingTypeId == 12)
                {
                    <li>
                        <a id="mytabNotes" data-toggle="tab" href="#divNotes_" role="tab" aria-controls="profile" aria-selected="false"><i class="icon_book"></i> Notes</a>
                    </li>
                }
                <li>
                    <a id="mytab2" data-toggle="tab" href="#AgendaItem" role="tab" aria-controls="profile" aria-selected="false"><i class="icon_book"></i> Agenda Item</a>
                </li>
                @if (Model.IsVirtualMeeting == false)
                {
                    <li>
                        <a id="mytab2_sub" data-toggle="tab" href="#AgendaItemReview" role="tab" aria-controls="profile" aria-selected="false"><i class="icon_book"></i> Review</a>
                    </li>
                }
                <li>
                    <a id="mytab3" data-toggle="tab" href="#Notice" role="tab" aria-controls="contact" aria-selected="false"><i class="icon_document"></i> Notice</a>
                </li>
                @if (Model.Type.Trim() == "C")
                {
                    <li>
                        <a id="mytab5" data-toggle="tab" href="#menu5" role="tab" aria-controls="contact" aria-selected="false"><i class="icon_piechart"></i> Agenda Responses</a>
                    </li>
                    if (Model.IsNoticeSent == true)
                    {
                        <li id="liMinutes" class="nav-item ">
                            <a id="mytabFinalizeResolution" data-toggle="tab" href="#FinalizeResolution" role="tab" aria-controls="contact" aria-selected="false"><i class="icon_document"></i> Finalize</a>
                        </li>
                    }
                }

                @if (Model.Type.Trim() == "M" && Model.IsVirtualMeeting != true)
                {
                    <li class="nav-item">
                        <a class="nav-link" id="mytab7" data-toggle="tab" href="#Participants" role="tab" aria-controls="contact" aria-selected="false"><i class="icon_contacts"></i> Invitee</a>
                    </li>
                }

                @if (Model.Type.Trim() == "M" && Model.IsVirtualMeeting == true)
                {
                    <li id="liAttendance" class="nav-item">
                        <a class="nav-link" id="mytab8" data-toggle="tab" href="#Attendance" role="tab" aria-controls="contact" aria-selected="false"><i class="icon_contacts"></i> Attendance</a>
                    </li>
                    <li id="liAgendaResponses" class="nav-item ">
                        <a id="mytab5" data-toggle="tab" href="#AgendaResponses" role="tab" aria-controls="contact" aria-selected="false"><i class="icon_piechart"></i> Voting/Noting</a>
                    </li>
                    <li id="liMinutes" class="nav-item ">
                        <a id="mytabMinutes" data-toggle="tab" href="#Minutes" role="tab" aria-controls="contact" aria-selected="false"><i class="icon_document"></i> Minutes/Documents</a>
                    </li>
                }
            </ul>

            <!-- Tab panes -->

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    @if (Model.Type.Trim() == "M")
                    {
                        <div id="divDetailsOfMeeting" style="margin-left:1%; margin-right:1%;">
                            @Html.Partial("_EditMeetings", Model)
                        </div>
                    }
                    else
                    {
                        <div id="divDetailsOfCircular" style="margin-left:1%; margin-right:1%;">
                            @Html.Partial("_EditCircular", Model)
                        </div>
                    }
                </div>
                @if (Model.Type.Trim() == "M")
                {
                    <div id="divSeekAvailability" class="tab-pane fade">
                        <div style="margin-left:0%; margin-right:1%; margin-bottom:0%;">

                            <ul class="nav nav-tabs mynavtabssub" role="tablist">
                                <li class="nav-item active" onclick="refreshAvailabilityCharts();">
                                    <a class="nav-link active" id="mytab1_sub" data-toggle="tab" href="#tabAVDetails_sub" role="tab" aria-controls="setting" aria-selected="false"><i class="icon_clipboard"></i> Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="mytab2_sub" data-toggle="tab" href="#tabAVMail_sub" role="tab" aria-controls="setting" aria-selected="false"><i class="icon_mail"></i> Mail Format</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="tabAVDetails_sub" class="tab-pane fade in active">
                                    <div>
                                        <div class="row form-group mt30">
                                            <div class="col-md-12 colpadding0">
                                                <div class="col-md-2 colpadding0">
                                                    <span id="spAvailabilityDueDate" style="color:red">*</span><label class="control-label">Availability Due Date</label>
                                                    @(Html.Kendo().DatePicker().Name("SeekAvailability_DueDate").Format("dd/MM/yyyy").Min(DateTime.Now).HtmlAttributes(new { style = "width: 64%", @Id = "SeekAvailability_DueDate", onchange = "UpdateAvailabilityDueDate(this)", autocomplete = "off" }))
                                                    @Html.ValidationMessageFor(model => model.SeekAvailability_DueDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="divSeekAvailabilityDetails">
                                        @Html.Partial("_EditAvailability", new BM_ManegmentServices.VM.MeetingAvailabilityVM() { MeetingID = Model.MeetingID, MeetingAvailabilityId = 0, IsSeekAvailabilitySent = Model.IsSeekAvailabilitySent, CanMarkSeekAvailability_ = Model.CanMarkSeekAvailability, CanReSendSeekAvailability_ = Model.CanReSendSeekAvailability })
                                    </div>

                                </div>

                                <div id="tabAVMail_sub" class="tab-pane">
                                    <div id="divDetailsOfAvailabilityFormat">
                                        @Html.Partial("_EditAvailabilityFormat", Model.AvailabilityMailFormat)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }

                @if(Model.MeetingTypeId == 11 || Model.MeetingTypeId == 12)
                {
                    <div id="divNotes_" class="tab-pane fade">
                        <div style="margin-left:1%; margin-right:1%; margin-bottom:0%;">
                            <div id="divNotesFormat">
                                @Html.Partial("_Notes", Model.NotesFormat)
                            </div>
                        </div>
                    </div>
                }
                <div id="AgendaItem" class="tab-pane fade">
                    <div style="margin-left:1%; margin-right:1%; margin-bottom:2%;">
                        <div id="divAgendaItemDetails">
                            @Html.Partial("_EditAgendaItems", Model)
                        </div>
                    </div>
                </div>
                @if (Model.IsVirtualMeeting == false)
                {
                    <div id="AgendaItemReview" class="tab-pane fade">
                        <div style="margin-left:1%; margin-right:1%; margin-bottom:0%;">
                            <div id="divAgendaTasks">
                                @Html.Partial("_TaskAgendaMinutes", Model.AgendaTaskReview)
                            </div>
                        </div>
                    </div>
                }

                <div id="Notice" class="tab-pane fade">
                    <div style="margin-left:1%; margin-right:1%; margin-bottom:0%;">
                        <div id="divNoticeMailFormat">
                            @Html.Partial("_NoticeFormat", Model.NoticeMailFormat)
                        </div>
                    </div>
                </div>

                @if (Model.Type.Trim() == "C")
                {
                    <div id="menu5" class="tab-pane fade">
                        <div style="margin-left:1%; margin-right:1%; margin-bottom:0%;">
                            <div id="divNoticeMailFormat">
                                @Html.Partial("_AgendaResponseSummite", new BM_ManegmentServices.VM.Agenda_SummitResponse { MeetingId = Model.MeetingID })
                            </div>
                        </div>
                    </div>

                    if (Model.IsNoticeSent == true)
                    {
                        <div id="FinalizeResolution" class="tab-pane">
                            <div style="margin-left:1%; margin-right:1%; margin-bottom:0%;">
                                @Html.Partial("_FinalizeResolution", Model.FinalizeResolutionDetails)
                            </div>
                        </div>
                    }
                }
                @if (Model.Type.Trim() == "M" && Model.IsVirtualMeeting != true)
                {
                    <div id="Participants" class="tab-pane fade">

                        <div style="margin-left:0%; margin-right:1%; margin-bottom:0%;">

                            <ul class="nav nav-tabs mynavtabsInvitee" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link active" id="mytab1_Invitee" data-toggle="tab" href="#tabAVDetails_Invitee" role="tab" aria-controls="setting" aria-selected="false"><i class="icon_clipboard"></i> Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="mytab2_Invitee" data-toggle="tab" href="#tabAVMail_Invitee" role="tab" aria-controls="setting" aria-selected="false"><i class="icon_mail"></i> Mail Format</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="tabAVDetails_Invitee" class="tab-pane fade in active">
                                    @Html.Partial("_Invitee", Model.MeetingID)
                                </div>

                                <div id="tabAVMail_Invitee" class="tab-pane">
                                    <div id="divDetailsOfInviteeFormat">
                                        @Html.Partial("_inviteeMailFormat", Model.InviteeMailFormat)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                @if (Model.Type.Trim() == "M" && Model.IsVirtualMeeting == true)
                {
                    <div id="Attendance" class="tab-pane">
                        <div id="divMeetingAttendance" style="margin-left:1%; margin-right:1%;">
                            @*@Html.Partial("_MeetingAttendanceNew", new BM_ManegmentServices.VM.MeetingAttendance_VM() { MeetingId = Model.MeetingID, IsAttendenceDone = false, startstopeDateVM = new BM_ManegmentServices.VM.startstopeDate() { MeetingTypeId = Model.MeetingTypeId } })*@
                            @Html.Partial("_MeetingAttendanceNew", Model.AttendanceNew)
                        </div>
                    </div>

                    <div id="AgendaResponses" class="tab-pane">
                        <div style="margin-left:1%; margin-right:1%; margin-bottom:0%;">
                            <div id="divAgendaResponses">
                                @*@Html.Partial("_MeetingAgendaVoting", Model.MeetingID)*@
                                @Html.Partial("_MeetingAgendaVoting", new BM_ManegmentServices.VM.AgendaVotingNotingMeetingDetailsVM { Meeting_Id = Model.MeetingID, MeetingType_Id = Model.MeetingTypeId })
                            </div>
                        </div>
                    </div>

                    <div id="Minutes" class="tab-pane">
                        <div style="margin-left:1%; margin-right:1%; margin-bottom:0%;">
                            @Html.Partial("_EditMinutesVirtual", Model.MinutesDetailsNew)
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>


<!-- Seek Availability-->
<script>
    $(document).ready(function () {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
    });
</script>

<!-- Seek Availability DueDate-->
<script>
    $(document).ready(function () {
        $("#SeekAvailability_DueDate").attr("readonly", true);
        if ('@Model.IsSeekAvailabilitySent' == "True" || '@Model.IsSeekAvailabilitySent' == "true") {

            var datepicker = $("#SeekAvailability_DueDate").data("kendoDatePicker");
            datepicker.readonly();
        }
    });

    function UpdateAvailabilityDueDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == true) {
            var date_ = moment(e.value, "DD/MM/YYYY");
            var dat = moment(date_).format("MMM-DD-YYYY");
            var MeetingID = '@Model.MeetingID';
            setAvailabilityDueDate(MeetingID, dat)
        }
    }
</script>

<!-- Compliance Assignment -->
<script>
    function ComplianceAssignment() {
        var direction = "@Url.Action("MeetingComplianceAssignment", "MeetingComplianceAssign", new { meetingId = Model.MeetingID})";
        showCompliancePopUp(direction);
    }
</script>

<!-- Postpond Meeting -->
<script>
    function postpond() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Postpond", "Meetings")",
            data: "{meetingId: " + @Model.MeetingID + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.Success == true) {
                    $('#frmAddEditMeetingNew').attr('action', '@Url.Action("RefreshMeeting", "Meetings", new { ParentId = Model.MeetingID})');
                    $("#frmAddEditMeetingNew").submit();
                }
                else if (response.Error == true) {
                    alert('' + response.Message);
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>

<!-- Angenda/Minutes Review-->
<script>
    function agendaDocumentReview() {
        showAgendaMinutesReview(@Model.MeetingID, @Model.Entityt_Id, 5)
    }
</script>