﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMRegisters


<div class="row">
    @if (Model.Successmessage)
    {
        <div class="col-md-12">

            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @if (!(string.IsNullOrEmpty(@Model.successErrorMessage)))
                {
                    <lable>@Model.successErrorMessage</lable>
                }
            </div>

        </div>
    }
</div>

<div class="row">
    @if (Model.Errormessage)
    {
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @if (!(string.IsNullOrEmpty(@Model.successErrorMessage)))
                {
                    <lable>@Model.successErrorMessage</lable>
                }
            </div>

        </div>
    }
</div>

<div id="DivRegister">
    @using (Ajax.BeginForm("Add_EditRegister", "RegisterMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivRegister", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateRegister" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div class="row">
            <div class="col-md-12 colpadding0">
                <fieldset class="col">
                    <legend><label style="font-size:17px">Register's Details</label></legend>
                    <div class="row">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-2 colpadding0"><span style="color:red">*</span><label for="ddlMmultipleSelector" class="control-label">Entity Type</label></div>
                            <div class="col-md-9 colpadding0">
                                @(Html.Kendo().MultiSelectFor(m => m.EntityType)

          .DataTextField("EntityTypeName")
          .DataValueField("EntityTypeId")
          .Placeholder("Select...")
          .AutoBind(true)

          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Url("/api/RegisterAPI/GetEntityType").Type(HttpVerbs.Get);
              })

              .ServerFiltering(true);
          }).HtmlAttributes(new { style = "width: 100%", })
                                )
                            </div>
                        </div>
                    </div>
                    <div class="row colpadding0 mt30">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-2 colpadding0"><span style="color:red">*</span><label for="txtRegistrationName" class="control-label">Name</label></div>
                            <div class="col-md-9 colpadding0">

                                @(Html.Kendo().TextBoxFor(m => m.Register_Name).HtmlAttributes(new { style = "width: 100%", @Id = "txtRegistrationName" }))
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>

        <div class="col-md-12 row">
            <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top:2%">
                <button type="submit" id="btnTrust" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                <button type="button" id="btnclose3" class="k-button">Close</button>
            </div>
        </div>
    }
</div>

<script>
    $("#btnclose3").click(function (z) {
      
        z.preventDefault();
        z.stopPropagation();
        $('#wndRegister').data("kendoWindow").close();
      
        $('#gridKendo').data('kendoGrid').dataSource.read();
        $('#gridKendo').data('kendoGrid').refresh();
       
    })
</script>
