﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMRegisters

    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            @Html.Partial("_AddEditRegister", Model)
        </div>
    </div>
