﻿@{
    Layout = "";
}
@*<!DOCTYPE html>
<html style="height:100%">
<head>
    <script src='~/Scripts/webviewer/lib/webviewer.min.js'></script>
</head>
<body style='width: 100%; height: 100%; padding: 0; margin: 0'>
    <div id='viewer' style='width: 100%; height: 100%'></div>
    <script src='~/Scripts/webviewer/index.js'></script>
</body>
</html>*@


<!DOCTYPE html>
<html style="height:100%">
<head>
    <script src='~/Scripts/webviewer/lib/webviewer.min.js'></script>
</head>
<body style='width: 100%; height: 100%; padding: 0; margin: 0'>
    <div id='viewer' style='width: 100%; height: 100%'></div>

    <script>

    WebViewer({
        path: '/Scripts/webviewer/lib',
        //licenseKey: 'Insert commercial license key here after purchase',
        initialDoc: '\TempFiles\310321\97931185153521.pdf'
        //initialDoc: 'https://pdftron.s3.amazonaws.com/downloads/pl/demo.pdf',
    }, document.getElementById('viewer'));
    </script>

</body>
</html>