﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_NewMeetingModule

@{

    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

<link href="~/Content/css/Kendouicss.css" rel="stylesheet" />
<title></title>


<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    @@media screen and (max-width: 600px) {

        #gridKendo > table {
        }
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }


    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 900px;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
    }

    .mt2 {
        margin-top: 2%;
    }

    .k-edit-buttons {
        width: 1280px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
        /*border-color: threedface;
    border-image: initial;*/
    }

    .forTooltips {
        width: 100%;
        height: 100%;
        padding: .929em 1.286em;
    }

    td.overridePadding {
        padding: 0;
    }
</style>

<script>

    function onRowBound(e) {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-i-plus-outline");
    }

    var rowNumber = 0;

    function resetRowNumber(e) {
        rowNumber = 0;
    }

    function renderNumber(data) {
        return ++rowNumber;
    }

</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">

        @Html.AntiForgeryToken()

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.VM_NewMeetingModule>()
        .Name("gridKendo")
        //.ColumnResizeHandleWidth(800)
        .Columns(columns =>
        {
            columns.Bound(o => o.Id).Visible(false);
            columns.Bound(o => o.Entity_Name).Title("Entity Name").Width(250);
            columns.Bound(o => o.FY);
            columns.Bound(o => o.MeetingType).Width(120);
            columns.Bound(o => o.Type).Width(120);
            columns.Command(command =>
            {
                command.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-edit" });
            })
            .Title("Action").Width(50);

        })
        .EnableCustomBinding(true)
        .ToolBar(
        toolbar => toolbar.Custom().Name("CreateNew").Text("New").HtmlAttributes(new { id = "customCommand", @class = "k-grid-add k-button k-button-icontext" })
        )
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()

        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu()
        .DataSource(dataSource => dataSource
        .WebApi()

        .PageSize(5)
        .ServerOperation(false)
              .Model(model =>
              {
                  model.Id(o => o.Id);
              })
        .Read(read => read.Url("/api/MeetingModuleAPI/GetAllMeeting").Type(HttpVerbs.Get))
                       ))
            </div>
        </div>

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(2)")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter("td:nth-child(3)")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)
        .Width(200)
        .AutoHide(true) )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-C")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent")
        )

        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-S")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-D")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-A")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-AD")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-CM")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent")
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .ContentHandler("getTooltipContent")
        )

    @(Html.Kendo().Window()
    .Name("wndpopupMeeting")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Scrollable(false)
    .Pinned(true)
    .Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh"))
        )

        <script>
            function toolTipContent(e) {

                return e.target.context.innerText;
            }

            function getTooltipContent(e) {

                if (e.target.context.innerText == 'C') {
                    return "Capital Master";
                }
                else if (e.target.context.innerText == 'S') {
                    return "Shareholding Master";
                }
                else if (e.target.context.innerText == 'D') {
                    return "Board of Directors";
                }
                else if (e.target.context.innerText == 'CM') {
                    return "Committees";
                }
                else if (e.target.context.innerText == 'Edit') {
                    return "Edit";
                }
                else if (e.target.context.innerText == 'Delete') {
                    return "Delete";
                }
                else if (e.target.context.innerText == 'CM') {
                    return "Committees";
                }
                else if (e.target.context.innerText == 'New') {
                    return "Add new Entities";
                }
                else if (e.target.context.innerText == 'A') {
                    return "Applicability";
                }
                else if (e.target.context.innerText == 'AD') {
                    return "Auditors Master";
                }
            }


        </script>
    </div>
</div>

<script>

    $(document).ready(function () {
        setactivemenu('leftmastermenu');
        fhead('Masters / Meeting');
    });

    $("#customCommand").click(function (e) {
        e.preventDefault();
        CreateNew(e);
    });

    function CreateNew(e) {
        e.preventDefault();
        OnOpen('a');
        $("#wndpopupMeeting").attr("style", "min-height:100px;");
        var direction = "EditNewMeeting?Id=" + 0;
        if (e.currentTarget.innerText != "New") {
            $("#wndpopupMeeting").kendoWindow({
                title: "Edit - Meeting",
            });
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            direction = "EditNewMeeting?id=" + dataItem.Id;
            var wnd = $("#wndpopupMeeting").data("kendoWindow");
            var opts = wnd.options;
        }
        else {
            $("#wndpopupMeeting").kendoWindow({
                title: "Add - Meeting",
            });
            $("#wndpopupMeeting").attr("style", "min-height:100px;");
            direction = "EditNewMeeting?id=" + 0 + "&EntityId=" + 0;
            var wnd = $("#wndpopupMeeting").data("kendoWindow");
            var opts = wnd.options;
        }
        wnd = $("#wndpopupMeeting").kendoWindow({
            title: "Edit - Meeting",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "60%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); OnRefresh(); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {

                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "40%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();
    }


    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnOpen1(e) {
        var wnd = $("#wndpopupMeeting").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnRefresh1() {
        var wnd = $("#wndpopupMeeting").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpen(e) {
        var wnd = $("#wndpopupMeeting").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function OnOpene(e) {

        var wnd = $("#wndpopupMeeting").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnRefresh() {
        var wnd = $("#wndpopupMeeting").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnRefreshe() {
        var wnd = $("#wndpopupMeeting").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function filterProducts() {
        return {
            stateId: $("#stateId").val()
        };
    }

    function filterProductllp() {
        return {
            stateId: $("#llpRegstateId").val()
        };
    }

    function filterProductllpcor() {
        return {
            stateId: $("#ddlcorStatellp").val()
        };
    }

    function filterProducttrust() {
        debugger;
        return {
            stateId: $("#trustRegi_StateId").val()
        };
    }

    function filterProductbodyCorporate() {
        debugger;
        return
        {
            CountryId: $("#ddlbodyCountyId").val();
        };
    }

    function OnOpen(e) {
        var wnd = $("#wndpopupMeeting").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");

    }

    function onchangeListed() {
        var IsListedTypetype = $("#ddlIsListedCompany").data("kendoDropDownList").value();
        debugger;
        if (IsListedTypetype == "1") {
            $('#listedornotDiv').hidden = false;
        } else {
            $('#listedornotDiv').hidden = true;

        }
    }

    function BusinessCode() {
        return {
            BusinessId: $("#ddlllpbusinessActivity").val()
        };
    }

    function Corporateoff() {
        var Corporatetype = $("#ddlCorpOffice").data("kendoDropDownList").value();
        debugger;
        if (Corporatetype == "1") {
            $('#Corporatediv').hidden = false;
        } else {
            $('#Corporatediv').hidden = true;

        }
    }

    function Corporateoffllp() {
        var Corporatetype = $("#ddlCorpOfficellp").data("kendoDropDownList").value();
        debugger;
        if (Corporatetype == "1") {
            $('#Corporatedivllp')[0].hidden = false;
        } else {
            $('#Corporatedivllp')[0].hidden = true;

        }
    }

</script>



