﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AnnualMeetingSheduler
<div id="divDetailsOfAnnualMeeting">
    <script>
        function FilterTypefy() {
            var EntityID = $('#EntityId').val();

            return {
                EntityID: EntityID
            }
        }

        function filtermeetings() {
            debugger;
            var entityID = $("#EntityId").val();

            return {

                Type: "M", entityID: entityID
            };
        }
    </script>


    <div id="divAnnualMeetingCreate" style="overflow-y:hidden;overflow-x:hidden;">
        @using (Ajax.BeginForm("UpdateAnnualMeeting", "AnnualMeetingCalender", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAnnualMeetingCreate" }, new { id = "frmAddEditAnnualMeeting"}))
        {
            @Html.HiddenFor(m => m.ID)

            <div class="col-md-12">

                @if (Model.Success)
                {
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0" id="DivsuccessI">
                            <div class="alert alert-success alert-dismissible">
                                <button class="close" type="button" onclick="hideAlert();">×</button>
                                <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Error)
                {
                    <div class="row">
                        <div class="col-md-12 colpadding0" id="DiverrorI">
                            <div class="alert alert-danger alert-dismissible">
                                <button class="close" type="button" onclick="hideAlert();">×</button>
                                <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                            </div>
                        </div>
                    </div>
                }

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <lable class="control-label">Entity</lable><span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().DropDownListFor(model => model.EntityId)
                                 .DataValueField("Id")
                                 .DataTextField("EntityName")
                                 .OptionLabel("Select")
                                 .DataSource(source =>
                                 {
                                     source.Read(read =>
                                     {
                                         read.Url("/api/EntityMasterAPI/GetEntityListForTask").Type(HttpVerbs.Get);
//read.Url("/api/EntityMasterAPI/GetAllEntityMasterForMeetingNew").Type(HttpVerbs.Get);
                                     }).ServerFiltering(false);
                                 }).HtmlAttributes(new { style = "width: 95%;" }))

                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span></span><lable class="control-label">Meeting Type</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().DropDownListFor(m => m.MeetingTypeId)                           
                             .DataValueField("Id")
                             .DataTextField("Name")
                             // .OptionLabel("Select")
                             .DataSource(source =>
                             {
                                 source.Read(read =>
                                 {
                                 read.Url("/api/CommitteeCompAPI/GetMeetingTypeByEntity").Data("filtermeetings").Type(HttpVerbs.Get);
                                 }).ServerFiltering(true);
                             })
                             .CascadeFrom("EntityId")
                             .HtmlAttributes(new { style = "width: 95%;"}))
                        </div>
                    </div>
                </div>

                <div id="divFY" class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span></span><lable class="control-label">Financial Year</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().DropDownListFor(model => model.FYID)
                             .DataValueField("FYID")
                             .DataTextField("FYText")
                            .DataSource(source =>
                            {
                                source.Read(read => read.Action("GetAll_FYByEntityID", "AnnualMeetingCalender").Data("FilterTypefy").Type(HttpVerbs.Get))
                               //source.Read(read =>
                               //{

                                //    read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityID").Data("FilterTypefy").Type(HttpVerbs.Get);
                                //})
                                 .ServerFiltering(true);
                            })
                            .Enable(false)
                              .AutoBind(false)
                              .CascadeFrom("EntityId")
                             .HtmlAttributes(new { style = "width: 40%;" }))
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red"></span><lable class="control-label">&nbsp;Date</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().DatePicker()
                            .Name("MeetingDate")
                            .Format("dd/MM/yyyy")
                            .HtmlAttributes(new { style = "width:40%", @Id = "dpMeetingDate", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);", }))
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red"></span><lable class="control-label">&nbsp; Start Time</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TimePicker()
          .Name("MeetingStartTime")
          
          .Min("8:00 AM")
          .Max("9:00 PM")
        //  .Events(e => e.Change("startChange"))
          .HtmlAttributes(new { style = "width: 36%" })
                            )
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red"></span><lable class="control-label">&nbsp;End Time</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().TimePicker()
          .Name("MeetingEndTime")
          
          .Min("8:00 AM")
          .Max("9:00 PM")
          //  .Events(e => e.Change("startChange"))
          .HtmlAttributes(new { style = "width: 36%" })
                            )
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red"></span><lable class="control-label">&nbsp;Sr.Number</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                           @(Html.Kendo().TextBoxFor(m=>m.MeetingSRNo).HtmlAttributes(new { style = "width: 36%;" }))
                        </div>
                    </div>
                </div>
         
                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="text-center">
                            <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <script>
        var validator1 = $("#frmAddHistoricalMeetingNew").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

        $(document).ready(function () {
            $('input[id="Circular_Meeting"]').each(function () {
                $(this).bind("click", function () {
                    // rbType_Changed($(this).val());
                });
            });

            var rbTypeValue = $("input[name='Circular_Meeting']:checked").val();
            var entityID = $("#EntityId").val();

            if (entityID != 0 && entityID != null && entityID != undefined) {
                debugger;
                // BindMeetingTypeDropDown(rbTypeValue, entityID);
                //  BindFinancialYear_DropDown(entityID);
            }
        });

        function checkDate(e) {
            if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
                e.value = '';
            }
        }

        $(document).ready(function () {
            $("#dpMeetingDate").removeAttr("data-val-date");


            if ($("#dpMeetingDate").val() == "01/01/0001") {
                $("#dpMeetingDate").val('');
            }

        });

        $(document).on("change", "input[name='Circular_Meeting']", function () {
            debugger;
            var dropdownlist = $("#EntityId").data("kendoDropDownList");
            dropdownlist.value("");
            dropdownlist.refresh();

            var dropdownlist1 = $("#FYID").data("kendoDropDownList");
            dropdownlist1.value("");
            dropdownlist1.refresh();

            var multiselect = $("#MeetingTypeId").data("kendoMultiSelect");
            multiselect.value("");
            multiselect.refresh();

            if (this.value == "O") {

                $("#dpMeetingDate").data("kendoDatePicker").readonly();
                $("#dpMeetingDate").data("kendoDatePicker").enable(false);
                $("#MeetingSRNo").attr('readonly', 'true');
                $("#MeetingNo").attr('readonly', 'true');
                var multiselect1 = $("#MeetingTypeId").data("kendoMultiSelect");
                multiselect.readonly(true);
            }
            else {
                $("#dpMeetingDate").data("kendoDatePicker").enable(true);
                $("#MeetingSRNo").removeAttr('readonly');
                $("#MeetingNo").removeAttr('readonly');
                var multiselect1 = $("#MeetingTypeId").data("kendoMultiSelect");
                multiselect.readonly(false);
            }

        });
    </script>


</div>
