﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UserVM

    <div id="example">
        <div id="window" style="width:680px; max-height:600px;overflow-y:hidden;overflow-x:hidden">

            <div id="divAddUser" style="margin-left:2%; margin-right:2%;">

                <div class="row colpadding0" style="margin-left:3%">
                    <div class="col-md-12 colpadding0">
                        <!-- this will be the content of the popup -->
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="display:none" id="DivsuccessI">
                        <div class="alert alert-success alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            <lable id="lblsuccessI"></lable>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="display:none" id="DiverrorI">
                        <div class="alert alert-danger alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            <lable id="lblerrormsgI"></lable>
                        </div>
                    </div>
                </div>

                <fieldset class="col" style="margin-right:5px;height:460px;">
                    <legend class="amp-mb5"><label style="font-size:17px">User Details </label></legend>

                    <div class="row mt30">
                        <div class="col-md-12">
                            <div class="col-md-3 required">
                                <lable class="control-label">First Name </lable>
                            </div>
                            <div class="col-md-7 colpadding0">
                                @Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { style = "width:95%", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row mt30">
                        <div class="col-md-12">
                            <div class="col-md-3 required">
                                <lable class="control-label">Last Name </lable>
                            </div>
                            <div class="col-md-7 colpadding0">
                                @Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { style = "width:95%", autocomplete = "off" })
                            </div>
                        </div>
                    </div>

                    <div class="row mt30">
                        <div class="col-md-12">
                            <div class="col-md-3 required">
                                <lable class="control-label">Email </lable>
                            </div>
                            <div class="col-md-7 colpadding0">
                                @Html.Kendo().TextBoxFor(m => m.Email).HtmlAttributes(new { style = "width:95%", autocomplete = "off" })
                            </div>
                        </div>
                    </div>

                    <div class="row mt30">
                        <div class="col-md-12">
                            <div class="col-md-3 required">
                                <lable class="control-label">Contact Number</lable>
                            </div>
                            <div class="col-md-7 colpadding0">
                                @Html.Kendo().TextBoxFor(m => m.ContactNumber).HtmlAttributes(new { style = "width:95%", autocomplete = "off" })
                            </div>
                        </div>
                    </div>

                    <div class="row mt30">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <span style="color:red"></span><lable class="control-label">Address</lable>
                            </div>
                            <div class="col-md-7 colpadding0">
                                @Html.Kendo().TextBoxFor(m => m.Address).HtmlAttributes(new { style = "width:95%", autocomplete = "off" })
                            </div>
                        </div>
                    </div>

                    <div class="row mt30">
                        <div class="col-md-12">
                            <div class="col-md-3 required">
                                <lable class="control-label">Secretarial Role</lable>
                            </div>
                            <div class="col-md-7 colpadding0">
                                @Html.EditorFor(m => m.SecretarialRoleId)
                            </div>
                        </div>
                    </div>

                    <div id="divAuditRoles" class="row mt30">
                        @*<div class="col-md-12">

                            <div class="col-md-3">
                                <span style="color:red"></span><lable class="control-label">Audit Role</lable>
                            </div>
                            <div class="col-md-7 colpadding0">
                                @Html.EditorFor(m => m.AuditRoleId)
                            </div>
                        </div>*@
                    </div>

                    <div id="divComplianceRoles" class="row mt30">
                        @*<div class="col-md-12">

                            <div class="col-md-3">
                                <span style="color:red"></span><lable class="control-label">Compliance Role </lable>
                            </div>
                            <div class="col-md-7 colpadding0">
                                @Html.EditorFor(m => m.ComplianceRoleId)
                            </div>

                        </div>*@
                    </div>

                    <div id="divHRRoles" class="row mt30">
                        @*<div class="col-md-12">

                            <div class="col-md-3">
                                <span style="color:red"></span><lable class="control-label">Labour Role</lable>
                            </div>
                            <div class="col-md-7 colpadding0">
                                @Html.EditorFor(m => m.HRRoleId)
                            </div>
                        </div>*@
                    </div>


                </fieldset>
            </div>
        </div>

    </div>
