﻿

<!DOCTYPE html>
<html>
<head>
    @*<link href="~/select2/select2.min.css" rel="stylesheet" />
    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/content/ng-tags-input.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/masters/bootstrap.min.js"></script>
    <script src="~/select2/select2.min.js"></script>
    <script src="~/select2/select2.full.js"></script>
    <script src="~/Scripts/anjular(1.5.0).min.js"></script>
    <script src="~/masters/angular.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script src="~/masters/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls.js"></script>
    <script src="~/js/lodash.js"></script>
    <script src="~/js/angularjs-dropdown-multiselect.min.js"></script>
    <script src="~/Scripts/ng-tags-input.min.js"></script>*@

    <link href="~/IMAJS/select2.min.css" rel="stylesheet" />
    <link href="~/IMACSS/bootstrap.css" rel="stylesheet" />
    <link href="~/IMACSS/bootstrap.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.common.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.rtl.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.silver.min.css" rel="stylesheet" />
    <link href="../../NewCSS/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/IMACSS/ng-tags-input.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../Newjs/jquery-1.12.4.min.js"></script>
    <script src="~/IMAJS/bootstrap.min.js"></script>
    <script src="~/IMAJS/select2.min.js"></script>
    <script src="~/IMAJS/select2.full.js"></script>
    <script src="~/IMAJS/anjular(1.5.0).min.js"></script> 
    <script src="~/IMAJS/angular.js"></script>
    <script src="~/IMAJS/angular.min.js"></script>
    <script src="~/IMAJS/moment.min.js"></script>
    <script src="~/IMAJS/ng-file-upload.min.js"></script>
    <script src="~/IMAJS/dirpagination.js"></script>
    <script type="text/javascript" src="../../Newjs/kendo.all.min.js"></script>
    <script type="text/javascript" src="../../Newjs/jszip.min.js"></script>
    <script src="~/IMAJS/ui-bootstrap-tpls.js"></script>
    <script src="~/IMAJS/lodash.js"></script>
    <script src="~/IMAJS/angularjs-dropdown-multiselect.min.js"></script>
    <script src="~/IMAJS/ng-tags-input.min.js"></script>
    <style type="text/css">
        .div.k-grid-footer, div.k-grid-header {
            border-top-style: solid;
            border-top-width: 1px;
        }

        .k-state-default > .k-select {
            border-color: #ceced2;
            margin-top: -6px;
        }

        .k-pager-wrap > .k-link > .k-icon {
            margin-top: -2px !important;
            color: inherit;
        }

        .btn .caret {
            margin-left: 170px;
        }

        ul.dropdown-menu.dropdown-menu-form.ng-scope {
            width: 280px;
        }

        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
            height: 28px;
            padding-top: 3px;
            width: 280px;
            padding-right: 116px;
            /*margin-left: 50px;*/
        }

        .dropdown-menu .divider {
            height: 1px;
            margin: 3px 0;
            overflow: hidden;
            background-color: #e5e5e5;
        }

        html {
            color: #666666;
            font-size: 15px;
            font-weight: normal;
            font-family: 'Roboto',sans-serif;
        }

        .modal-content {
            position: relative;
            background-color: #fff;
            border: 1px solid #999;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 6px;
            outline: 0;
            -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
            box-shadow: 0 3px 9px rgba(0,0,0,0.5);
            background-clip: padding-box;
            height: 369px;
        }

        .select2-container--open .select2-dropdown {
            left: 0;
            /*margin-left: -66px;*/
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: grey !important;
            line-height: 28px;
            /*margin-right: 48px;*/
            text-align: left;
        }

        .select2-container {
            box-sizing: border-box;
            display: inline-block;
            margin: 0;
            position: relative;
            vertical-align: middle;
        }

        .k-checkbox-label, .k-radio-label {
            display: inline;
        }

        .myKendoCustomClass {
            z-index: 999 !important;
        }

        .k-header .k-grid-toolbar {
            background: white;
            float: left;
            width: 100%;
        }

        .k-grid td {
            line-height: 1.0em;
        }

        .k-i-more-vertical:before {
            content: "\e006";
        }

        .k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
            background-color: #1fd9e1;
            background-image: none;
        }

        k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-tool.k-state-selected {
            color: #000000;
            border-color: #1fd9e1;
            background-color: #f6f6f6;
        }

        #grid .k-grid-toolbar {
            background: white;
        }


        .k-pager-wrap > .k-link > .k-icon {
            margin-top: 5px;
            color: inherit;
        }

        .toolbar {
            float: left;
        }

        html .k-grid tr:hover {
            background: #E4F7FB;
        }

        html .k-grid tr.k-alt:hover {
            background: #E4F7FB;
            min-height: 30px;
        }

        .k-grid tbody .k-button {
            min-width: 30px;
            min-height: 30px;
            border-radius: 35px;
        }

        .k-button-icontext .k-icon, .k-button-icontext .k-image, .k-button-icontext .k-sprite {
            margin-right: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-left: 0px;
        }

        .k-auto-scrollable {
            overflow: hidden;
        }

        .k-grid-header {
            padding-right: 0px !important;
        }

        .k-multicheck-wrap .k-item {
            line-height: 1.2em;
            font-size: 14px;
            margin-bottom: 5px;
        }

        label {
            display: inline-block;
            margin-bottom: 0px;
        }

        .k-filter-menu .k-button {
            width: 27%;
        }

        .k-label input[type="checkbox"] {
            margin: 0px 5px 0 !important;
        }

        .k-filter-row th, .k-grid-header th.k-header {
            font-size: 15px;
            background: #f8f8f8;
            font-family: 'Roboto',sans-serif;
            color: #2b2b2b;
            font-weight: 400;
        }

        .k-primary {
            border-color: #1fd9e1;
            background-color: #1fd9e1;
        }

        .k-pager-wrap {
            background-color: #f8f8f8;
            color: #2b2b2b;
        }

        td.k-command-cell {
            border-width: 0 1px 0 1px;
        }

        .k-grid-pager {
            border-width: 1px 1px 1px 1px;
        }

        span.k-icon.k-i-calendar {
            margin-top: 6px;
        }

        .col-md-2 {
            width: 20%;
        }

        .k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
            border-left-width: 1px;
            line-height: 14px;
        }

        .k-grid tbody tr {
            height: 38px;
        }

        .select2-container .select2-selection--single {
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            height: 35px !important;
            user-select: none;
            -webkit-user-select: none;
        }

        .container {
            max-width: 2500px;
        }

        #div3, #div4 {
            width: 190px;
            float: left;
        }

        #div1 {
            width: 68px;
            float: left;
        }

        #div2 {
            width: 320px;
            float: left;
        }

        .main1 {
            border-radius: 5px;
            float: left;
        }

        .main2 {
            border-radius: 5px;
            float: left;
            width: 130px;
        }

        #div5 {
            width: 40px;
            float: left;
        }

        #div6 {
            width: 40px;
            float: left;
        }

        #div7 {
            width: 40px;
            float: left;
        }

        .main3 {
            border-radius: 5px;
            float: left;
            width: 1300px;
        }

        #div15 {
            width: 400px;
            float: left;
        }

        #div16 {
            width: 400px;
            float: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="example" ng-app="KendoDemos">
            <div ng-controller="MyCtrl">

                <div class="row">
                    <div class="col-md-12">

                        <div class="main3">
                            <div id="div15">
                                <div style="float: left; margin: 5px; width: 80px;">
                                    <label for="lblQuestion" style="color:dimgray;">ACT Group</label>
                                </div>
                                <div style="width: 50%; float: left; margin: 5px">
                                    <select class="form-control" style="display: inline; width: 250px;" select2="" name="ActID" ng-model="ActgroupID"
                                            containerCssClass="all" ng-options="r.ID as r.Name for r in actsgrouplist" ng-change="onTopactGroupChanges(ActgroupID)"
                                            ng-disabled="disabled" required>
                                        <option value="">Select Act Group</option>
                                    </select>
                                </div>
                            </div>
                            <div id="div16">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" ng-show="DeleteAlert" ng-model="delete">
                    <strong>{{delete}}</strong>
                </div>
                <div class="alert alert-success" ng-show="AddAlert" ng-model="add">
                    <strong>{{msg}}</strong>
                </div>
                <div class="alert alert-info" ng-show="EditAlert" ng-model="edit">
                    <strong>{{msg}}</strong>
                </div>
                @*<br />*@

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1" (click)="DoSomeActionForTab1()">UnTagged</a></li>
                    <li><a data-toggle="tab" href="#tab2" (click)="DoSomeActionForTab2()">Tagged </a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade in active">
                        @*UnTagged*@
                        <div>
                            <div id="wrapper" class="clearfix" scroll-bookmark="bookmark">
                                <form name="userForm" novalidate>
                                    <div class="form-group"></div>
                                    <div>
                                        <div id="table">
                                            <div class="table-responsive " style="" scroll-bookmark="bookmark2">
                                                <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped display nowrap" style="margin-left: 0px; margin-right: 0px;">

                                                    <thead style="background-color:#6db6ec;color:white;font-size:12px;">
                                                        <tr>
                                                            <th align="left">
                                                                <label>
                                                                    <input type="checkbox" ng-model="IsAllChecked" ng-change="CheckUncheckAll()" />
                                                                    Select All
                                                                </label>
                                                            </th>
                                                            <th ng-click="sort('ActID')">
                                                                <b>ActID</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='ActID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="ActID" style="display: inline;color:#333; width: 100px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th style="cursor: pointer;" ng-click="sort('ActName')">
                                                                <b>ActName</b><span class="glyphicon sort-icon" ng-show="sortKey=='ActName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="ActName" style="display: inline;color:#333; width: 300px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th>Company Type</th>
                                                            <th>Business Activity</th>
                                                            <th>Location Type</th>
                                                            <th>Act Applicability</th>
                                                            <th ng-click="sort('Question')"><b>Question</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='Question'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th style="width: 100px;" ng-click="sort('Answers')"><b>Answers</b>   <span class="glyphicon sort-icon" ng-show="sortKey=='Answers'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>

                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody dir-paginate="salesexpanse in salesexpanses|orderBy:'ActID' | filter:ActName | filter:ActID |itemsPerPage:8" ng-model="search">
                                                        <tr>
                                                            <td style="font-size:12px;">
                                                                <label for="chkEmployee_{{salesexpanse}}">
                                                                    <input id="chkEmployee_{{salesexpanse.ActID}}" type="checkbox" ng-model="salesexpanse.Selected" ng-change="CheckUncheckHeader()" />
                                                                    <p style="display:none;">
                                                                        {{salesexpanse.ActID}}
                                                                    </p>
                                                                </label>
                                                                <input type="hidden" ng-model="salesexpanse.ActID" />
                                                                <input type="hidden" ng-model="salesexpanse.QuestionID" />
                                                                <input type="hidden" ng-model="salesexpanse.ServiceID" />
                                                                {{salesexpanse.selected}}
                                                            </td>

                                                            <td style="font-size:12px; width:50px">

                                                                {{salesexpanse.ActID }}
                                                            </td>
                                                            <td style="font-size:12px ; width:150px">
                                                                {{salesexpanse.ActName}}
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="CompanyTypeID"
                                                                        ng-model="salesexpanse.CompanyTypeID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in UnTaggedCompanyTypelist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Company Type</option>
                                                                </select>                                                            
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="BusinessActivityID"
                                                                        ng-model="salesexpanse.BusinessActivityID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in UnTaggedbusinessactivitylist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Business Activity</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="LocationTypeID"
                                                                        ng-model="salesexpanse.LocationTypeID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in UnTaggedLocationTypelist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Location Type</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="ActApplicabilityID"
                                                                        ng-model="salesexpanse.ActApplicabilityID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in UnTaggedActApplicabilitylist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Act Applicability</option>
                                                                </select>

                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="QuestionID" ng-model="salesexpanse.QuestionID"
                                                                        containerCssClass="all" ng-options="r.ID as r.QuestionName for r in UnTaggedquestionanswers" ng-change="onUnTaggedQuestionChanges(salesexpanse.QuestionID,salesexpanse)"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Question</option>
                                                                </select>
                                                            </td>
                                                            <td>

                                                                <div class="main1" style="width:400px;">
                                                                    <div id="div1" ng-show="salesexpanse.disabledValuedropdown">
                                                                        <select name="ServiceID" class="form-control"
                                                                                style="display: inline; padding: 2px; width:70px;" select2=""
                                                                                ng-model="salesexpanse.ServiceID"
                                                                                ng-options="service.ServiceID as service.ServiceName for service in services"
                                                                                required>
                                                                            <option value="">Select</option>
                                                                        </select>

                                                                    </div>
                                                                    <div id="div2" style="margin-left:10px;">
                                                                        <input ng-show="salesexpanse.disabledValuedropdown" type="text" style="display: inline;color:#333; width: 300px;height: 35px;"
                                                                               class="form-control" name="AnswerValue" ng-model="salesexpanse.AnswerValue" required />
                                                                        <p style="color:red" ng-show="userForm.AnswerValue.$error.required  && !userForm.AnswerValue.$pristine" class="help-block"> Value is required.</p>

                                                                        <input ng-show="salesexpanse.disabledValueSingle" type="text" style="display: inline;color:#333; width: 380px;height: 45px;"
                                                                               class="form-control" name="AnswerSingle"
                                                                               ng-model="salesexpanse.AnswerSingle" required />
                                                                        <p style="color:red" ng-show="userForm.AnswerSingle.$error.required
                                                                            && !userForm.AnswerSingle.$pristine" class="help-block">Value is required.</p>


                                                                        <input ng-show="salesexpanse.disabledValueMultiple" type="text" style="display: inline;color:#333; width: 380px;height: 45px;"
                                                                               class="form-control" name="AnswerMultiple"
                                                                               ng-model="salesexpanse.AnswerMultiple" required />
                                                                        <p style="color:red" ng-show="userForm.AnswerMultiple.$error.required
                                                                            && !userForm.AnswerMultiple.$pristine" class="help-block">Value is required.</p>                                                                       

                                                                    </div>
                                                                    <div id="div3">
                                                                        <label ng-show="salesexpanse.disabledRange">Min:</label>
                                                                        <input ng-show="salesexpanse.disabledRange" name="minnumber"
                                                                               style="display: inline;color:#333; width:150px;height: 35px;" class="form-control" type="number" ng-model="salesexpanse.min">
                                                                        <p style="color:red" ng-show="userForm.min.$error.required  && !userForm.min.$pristine" class="help-block"> Value is required.</p>
                                                                    </div>
                                                                    <div id="div4">
                                                                        <label ng-show="salesexpanse.disabledRange">Max:</label>
                                                                        <input ng-show="salesexpanse.disabledRange" name="maxnumber" style="display: inline;color:#333; width:150px;height: 35px;"
                                                                               class="form-control" type="number" ng-model="salesexpanse.max">
                                                                        <p style="color:red" ng-show="userForm.max.$error.required  && !userForm.max.$pristine" class="help-block"> Value is required.</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td style="width: 100px;">
                                                                <div class="main2">
                                                                    <div id="div5">
                                                                        <button type="button" class="btn btn-primary btn-sm" ng-click="UntaggedAddrow(salesexpanse)">
                                                                            <span class="glyphicon glyphicon-plus"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div id="div6">
                                                                        <button type="button" class="btn btn-primary btn-sm" ng-click="UntaggedSaverow(salesexpanse)">
                                                                            <span class="glyphicon glyphicon-floppy-saved"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div id="div7">
                                                                        <button class="btn btn-primary btn-sm"
                                                                                ng-click="DeletedUnTaggedDetail(salesexpanse);">
                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                                <dir-pagination-controls max-size="10"
                                                                         direction-links="true"
                                                                         boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group" style="text-align: center; float: left;">

                                            <p>
                                                <button class="btn btn-primary btn-sm" ng-click="BulkSaveAdd(true);">Save</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane fade">

                        @*Tagged*@
                        <div>
                            <div id="wrapper" class="clearfix" scroll-bookmark="bookmark">
                                <form name="userForm" novalidate>
                                    <div class="form-group"></div>
                                    <div>
                                        <div id="table">
                                            <div class="table-responsive " style="" scroll-bookmark="bookmark2">
                                                <table id="tblOrders" cellpadding="12" class="table table-bordered table-hover table-striped display nowrap" style="margin-left: 0px; margin-right: 0px;">

                                                    <thead style="background-color:#6db6ec;color:white;font-size:12px;">
                                                        <tr>
                                                            <th align="left">
                                                                <label>
                                                                    <input type="checkbox" ng-model="TaggedIsAllChecked" ng-change="TaggedCheckUncheckAll()" />
                                                                    Select All
                                                                </label>
                                                            </th>
                                                            <th ng-click="sort('TaggedActID')">
                                                                <b>ActID</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TaggedActID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="TaggedActID" style="display: inline;color:#333; width: 100px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th style="cursor: pointer;" ng-click="sort('TaggedActName')">
                                                                <b>ActName</b><span class="glyphicon sort-icon" ng-show="sortKey=='TaggedActName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                <input type="text" ng-model="TaggedActName" style="display: inline;color:#333; width: 300px;height: 35px;" class="form-control" />
                                                            </th>
                                                            <th>Company Type</th>
                                                            <th>Business Activity</th>
                                                            <th>Location Type</th>
                                                            <th>Act Applicability</th>
                                                            <th ng-click="sort('TaggedQuestionID')"><b>Question</b>  <span class="glyphicon sort-icon" ng-show="sortKey=='TaggedQuestionID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th style="width: 100px;" ng-click="sort('Answers')"><b>Answers</b>   <span class="glyphicon sort-icon" ng-show="sortKey=='Answers'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody dir-paginate="AllTaggedCompliance in AllTaggedCompliances|orderBy:'TaggedActID'|filter:TaggedActID | filter:TaggedActName  |itemsPerPage:10" ng-model="search">
                                                        <tr>
                                                            <td style="font-size:12px;">
                                                                <label for="chkUpdateTagged_{{AllTaggedCompliance}}">
                                                                    <input id="chkUpdateTagged__{{AllTaggedCompliance.TaggedQACMMappingID}}" type="checkbox"
                                                                           ng-model="AllTaggedCompliance.TaggedSelected" ng-change="TaggedCheckUncheckHeader()" ng-disabled="AllTaggedCompliance.disablestatus != 0" />
                                                                    <p style="display:none;">
                                                                        {{AllTaggedCompliance.TaggedQACMMappingID}}
                                                                    </p>
                                                                </label>
                                                                <input type="hidden" ng-model="AllTaggedCompliance.TaggedActID" />
                                                                <input type="hidden" ng-model="AllTaggedCompliance.TaggedQuestionID" />
                                                                <input type="hidden" ng-model="AllTaggedCompliance.TaggedServiceID" />
                                                                <div style="display:none;">
                                                                    {{AllTaggedCompliance.TaggedSelected}}
                                                                </div>
                                                            </td>

                                                            <td style="font-size:12px; width:50px">
                                                                {{AllTaggedCompliance.TaggedActID }}
                                                            </td>
                                                            <td style="font-size:12px ; width:150px">
                                                                {{AllTaggedCompliance.TaggedActName}}
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="TaggedCompanyTypeID"
                                                                        ng-model="AllTaggedCompliance.TaggedCompanyTypeID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in TaggedCompanyTypelist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Company Type</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="TaggedBusinessActivityID"
                                                                        ng-model="AllTaggedCompliance.TaggedBusinessActivityID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in Taggedbusinessactivitylist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Business Activity</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="TaggedLocationTypeID"
                                                                        ng-model="AllTaggedCompliance.TaggedLocationTypeID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in TaggedLocationTypelist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Location Type</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="TaggedActApplicabilityID"
                                                                        ng-model="AllTaggedCompliance.TaggedActApplicabilityID"
                                                                        containerCssClass="all" ng-options="r.ID as r.Name for r in TaggedActApplicabilitylist"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Act Applicability</option>
                                                                </select>
                                                            </td>                                                          
                                                            <td>
                                                                <select class="form-control" style="display: inline; width: 252px;" select2="" name="TaggedQuestionID" ng-model="AllTaggedCompliance.TaggedQuestionID"
                                                                        containerCssClass="all" ng-options="r.ID as r.QuestionName for r in Taggedquestionanswers"
                                                                        ng-change="onTaggedQuestionChanges(AllTaggedCompliance.TaggedQuestionID,AllTaggedCompliance)"
                                                                        ng-disabled="disabled" required>
                                                                    <option value="">Select Question</option>
                                                                </select>
                                                            </td>
                                                            <td>

                                                                <div class="main1" style="width:400px;">
                                                                    <div id="div1" ng-show="AllTaggedCompliance.TaggeddisabledValuedropdown">
                                                                        <select name="TaggedServiceID" class="form-control"
                                                                                style="display: inline; padding: 2px; width:70px;" select2=""
                                                                                ng-model="AllTaggedCompliance.TaggedServiceID"
                                                                                ng-options="service.ServiceID as service.ServiceName for service in services"
                                                                                required>
                                                                            <option value="">Select</option>
                                                                        </select>

                                                                    </div>
                                                                    <div id="div2">
                                                                        <input ng-show="AllTaggedCompliance.TaggeddisabledValuedropdown" type="text" style="margin-left: 10px; display: inline;color:#333; width: 300px;height: 35px;"
                                                                               class="form-control" name="TaggedAnswer" ng-model="AllTaggedCompliance.TaggedAnswer" required />
                                                                        <p style="color:red" ng-show="userForm.TaggedAnswer.$error.required  && !userForm.TaggedAnswer.$pristine"
                                                                           class="help-block">Value is required.</p>

                                                                        <input ng-show="AllTaggedCompliance.TaggeddisabledValueSingle" type="text" style="display: inline;color:#333; width: 380px;height: 35px;"
                                                                               class="form-control" name="TaggedAnswerSingle"
                                                                               ng-model="AllTaggedCompliance.TaggedAnswerSingle" required />
                                                                        <p style="color:red" ng-show="userForm.TaggedAnswerSingle.$error.required  && !userForm.TaggedAnswerSingle.$pristine" class="help-block"> Value is required.</p>

                                                                        <input ng-show="AllTaggedCompliance.TaggeddisabledValueMultiple" type="text" style="display: inline;color:#333; width: 380px;height: 35px;"
                                                                               class="form-control" name="TaggedAnswerMultiple"
                                                                               ng-model="AllTaggedCompliance.TaggedAnswerMultiple" required />
                                                                        <p style="color:red" ng-show="userForm.TaggedAnswerMultiple.$error.required  && !userForm.TaggedAnswerMultiple.$pristine" class="help-block"> Value is required.</p>



                                                                    </div>
                                                                    <div id="div3">
                                                                        <label ng-show="AllTaggedCompliance.TaggeddisabledRange">Min:</label>
                                                                        <input ng-show="AllTaggedCompliance.TaggeddisabledRange" name="TaggedAnsweRangeMin"
                                                                               style="display: inline;color:#333; width:150px;height: 35px;" class="form-control" type="number"
                                                                               ng-model="AllTaggedCompliance.TaggedAnsweRangeMin">
                                                                        <p style="color:red" ng-show="userForm.TaggedAnsweRangeMin.$error.required  && !userForm.min.$pristine" class="help-block"> Value is required.</p>
                                                                    </div>
                                                                    <div id="div4">
                                                                        <label ng-show="AllTaggedCompliance.TaggeddisabledRange">Max:</label>
                                                                        <input ng-show="AllTaggedCompliance.TaggeddisabledRange" name="TaggedAnsweRangeMax" style="display: inline;color:#333; width:150px;height: 35px;"
                                                                               class="form-control" type="number" ng-model="AllTaggedCompliance.TaggedAnsweRangeMax">
                                                                        <p style="color:red" ng-show="userForm.TaggedAnsweRangeMax.$error.required  && !userForm.max.$pristine" class="help-block"> Value is required.</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td style="width: 100px;">
                                                                <div class="main2">
                                                                    <div id="div5">
                                                                        <button type="button" class="btn btn-primary btn-sm" ng-click="TaggedSaverow(AllTaggedCompliance)" ng-disabled="AllTaggedCompliance.disablestatus != 0" >
                                                                            <span class="glyphicon glyphicon-edit"></span>
                                                                        </button>
                                                                    </div>
                                                                    <div id="div6">

                                                                    </div>
                                                                    <div id="div7">

                                                                    </div>
                                                                </div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                                <dir-pagination-controls max-size="10"
                                                                         direction-links="true"
                                                                         boundary-links="true">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group" style="text-align: center; float: left;">
                                            <p>
                                                <button class="btn btn-primary btn-sm" ng-click="BulkUpdate(true);">Update</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = angular.module("KendoDemos", ['ngFileUpload', 'angularjs-dropdown-multiselect', 'angularUtils.directives.dirPagination', "kendo.directives", "ngTagsInput"]);
        angular.element(document).ready(function () {
            //angular.bootstrap(document, ["app"]);
        })
        app.directive("select2", function ($timeout, $parse) {
            return {
                restrict// Code goes here
            : 'AC',
                require: 'ngModel',
                link: function (scope, element, attrs) {
                    console.log(attrs);
                    $timeout(function () {
                        element.select2();
                        element.select2Initialized = true;
                    });

                    var refreshSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.trigger('change');
                        });
                    };

                    var recreateSelect = function () {
                        if (!element.select2Initialized) return;
                        $timeout(function () {
                            element.select2('destroy');
                            element.select2();
                        });
                    };

                    scope.$watch(attrs.ngModel, refreshSelect);

                    if (attrs.ngOptions) {
                        var list = attrs.ngOptions.match(/ in ([^ ]*)/)[1];
                        // watch for option list change
                        scope.$watch(list, recreateSelect);
                    }

                    if (attrs.ngDisabled) {
                        scope.$watch(attrs.ngDisabled, refreshSelect);
                    }
                }
            };
        });
        app.controller("MyCtrl", function ($scope, $http, myService, $window) {

            $scope.services = [
                { ServiceID: 1, ServiceName: '<' },
                { ServiceID: 2, ServiceName: '>' },
                { ServiceID: 3, ServiceName: '=' },
                { ServiceID: 4, ServiceName: '≥' },
                { ServiceID: 5, ServiceName: '≤' }
            ];

            $scope.IsValid = null;
            $scope.form = false;
            $scope.form1 = false;
            $scope.editminus = false;
            $scope.tabs = false;
            $scope.addplus = true;
            $scope.addminus = false;
            $scope.tables = false;
            $scope.ShowLoader = false;

            GetPossibleQuestionAnswer()
            $scope.PossibleQuestionAnswerlist = [];
            function GetPossibleQuestionAnswer() {               
                $http({
                    method: 'Get',
                    url: '../QuestionActPerformer/GetPossibleQuestionAnswer',
                }).success(function (data, status, headers, config) {                  
                    $scope.PossibleQuestionAnswerlist = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            GetActAgrup();
            function GetActAgrup() {               
                $scope.actsgrouplist = [];
                $http({
                    method: 'Get',
                    url: '../QuestionActPerformer/GetActAgrup',
                }).success(function (data, status, headers, config) {                  
                    $scope.actsgrouplist = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            $scope.UnTaggedbusinessactivitylist = [];
            $scope.Taggedbusinessactivitylist = [];
            GetBusinessActivity();
            function GetBusinessActivity() {                
                $http({
                    method: 'Get',
                    url: '../QuestionActPerformer/GetBusinessActivity',
                }).success(function (data, status, headers, config) {                    
                    $scope.UnTaggedbusinessactivitylist = data;
                    $scope.Taggedbusinessactivitylist = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }
            $scope.UnTaggedActApplicabilitylist = [];
            $scope.TaggedActApplicabilitylist = [];
            GetAct_Applicability();
            function GetAct_Applicability() {               
                $http({
                    method: 'Get',
                    url: '../QuestionActPerformer/GetActApplicability',
                }).success(function (data, status, headers, config) {                  
                    $scope.UnTaggedActApplicabilitylist = data;
                    $scope.TaggedActApplicabilitylist = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }
            $scope.UnTaggedLocationTypelist = [];
            $scope.TaggedLocationTypelist = [];
            GetLocationType();
            function GetLocationType() {
               
                $http({
                    method: 'Get',
                    url: '../QuestionActPerformer/GetLocationType',
                }).success(function (data, status, headers, config) {                 
                    $scope.UnTaggedLocationTypelist = data;
                    $scope.TaggedLocationTypelist = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }          
            $scope.UnTaggedCompanyTypelist = [];
            $scope.TaggedCompanyTypelist = [];
            GetCompanyType();
            function GetCompanyType() {                
                $http({
                    method: 'Get',
                    url: '../QuestionActPerformer/GetCompanyType',
                }).success(function (data, status, headers, config) {                    
                    $scope.UnTaggedCompanyTypelist = data;
                    $scope.TaggedCompanyTypelist = data;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }



            $scope.onTopactGroupChanges = function (val) {
                if (val != undefined) {                
                    $scope.ActGroupID = val;
                    UnTaggedBindgrid(val);
                    TaggedBindgrid(val);                    
                }
            };
            $scope.UnTaggedquestionanswers = [];
            $scope.Taggedquestionanswers = [];
            GetQuestions();
            function GetQuestions() {
                $scope.UnTaggedquestionanswers = [];
                $scope.Taggedquestionanswers = [];
                $http({
                    method: 'Get',
                    url: '../Question/GetQuestionsACTDropDown',
                }).success(function (data, status, headers, config) {
                    $scope.UnTaggedquestionanswers = data;
                    $scope.Taggedquestionanswers = data;
                    $scope.QuestionID = -1;
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            $scope.onUnTaggedQuestionChanges = function (val, testItem) {                
                $scope.datamasters = [];                
                if (val != undefined) {
                    $http({
                        method: 'Get',
                        url: '../Question/GetControllsfromQuestion',
                        params: { qID: val }
                    }).success(function (data, status, headers, config) {                        
                        $scope.datamasters = data;


                        if (data["ControlId"] == 1) {                           
                            testItem.disabledValuedropdown = 0;
                            testItem.disabledValueSingle = 1;
                            testItem.disabledValueMultiple = 0;
                            testItem.disabledRange = 0;
                            testItem.ServiceID = -1;
                            testItem.AnswerValue = "";
                            testItem.AnswerSingle = data["PossibleAnswer"];
                            testItem.AnswerMultiple = "";
                            testItem.min = "";
                            testItem.max = "";
                            testItem.ControlId = 1;
                            $scope.ControlId = 1;
                                                    
                            //this.PossibleQuestionAnswerlist1 = $scope.PossibleQuestionAnswerlist.filter(a=>a.QuestionId == data["ID"]);                            
                        }
                        else if (data["ControlId"] == 2) {
                            $scope.PossibleQuestionAnswerlist = [];
                            GetPossibleQuestionAnswer();
                            testItem.disabledValuedropdown = 0;
                            testItem.disabledValueSingle = 0;
                            testItem.disabledValueMultiple = 1;
                            testItem.disabledRange = 0;
                            testItem.ServiceID = -1;
                            testItem.AnswerValue = "";
                            testItem.AnswerSingle = "";
                            testItem.AnswerMultiple = data["PossibleAnswer"];
                            testItem.min = "";
                            testItem.max = "";
                            testItem.ControlId = 2;
                            $scope.ControlId = 2;
                            //this.PossibleQuestionAnswerlist1 = $scope.PossibleQuestionAnswerlist.filter(a=>a.QuestionId == data["ID"]);
                        }
                        else if (data["ControlId"] == 3) {

                            testItem.disabledValuedropdown = 0;
                            testItem.disabledValueSingle = 0;
                            testItem.disabledValueMultiple = 0;
                            testItem.disabledRange = 1;
                            testItem.ServiceID = -1;
                            testItem.AnswerValue = "";
                            testItem.AnswerSingle = "";
                            testItem.AnswerMultiple = "";
                            testItem.min = "";
                            testItem.max = "";
                            testItem.ControlId = 3;
                            $scope.ControlId = 3;
                        }
                        else if (data["ControlId"] == 4) {

                            testItem.disabledValuedropdown = 1;
                            testItem.disabledValueSingle = 0;
                            testItem.disabledValueMultiple = 0;
                            testItem.disabledRange = 0;
                            testItem.ServiceID = -1;
                            testItem.AnswerValue = "";
                            testItem.AnswerSingle = "";
                            testItem.AnswerMultiple = "";;
                            testItem.min = "";
                            testItem.max = "";
                            testItem.ControlId = 4;
                            $scope.ControlId = 4;
                        }
                        else {
                            testItem.disabledValuedropdown = 0;
                            testItem.disabledValueSingle = 0;
                            testItem.disabledValueMultiple = 0;
                            testItem.disabledRange = 0;
                            testItem.ControlId = -1;
                            $scope.ControlId = -1;
                        }
                    });
                } else {
                    testItem.disabledValuedropdown = 0;
                    testItem.disabledValueSingle = 0;
                    testItem.disabledValueMultiple = 0;
                    testItem.disabledRange = 0;
                    testItem.ControlId = -1;
                    $scope.ControlId = -1;
                }
            };

            function UnTaggedBindgrid(actidval) {
                $http({
                    method: 'Get',
                    url: '../QuestionActPerformer/getAllActs',
                    params: { actgroupid: JSON.stringify(actidval) }
                }).success(function (data, status, headers, config) {
                    $scope.salesexpanses = [];                    
                    var c = 0;
                    for (var i = 0; i < data.length; i++) {
                        var time = {};
                        time.ActID = data[i].ActID;
                        time.ActName = data[i].ActName;
                        time.Question = data[i].Question;
                        time.ServiceID = data[i].ServiceID;
                        time.AnswerValue = data[i].Answer;
                        time.AnswerSingle = data[i].AnswerSingle;
                        time.AnswerMultiple = data[i].AnswerMultiple;
                        time.disabledValuedropdown = data[i].disabledValuedropdown;
                        time.disabledValueSingle = data[i].disabledValueSingle;
                        time.disabledValueMultiple = data[i].disabledValueMultiple;
                        time.disabledRange = data[i].disabledRange;
                        $scope.salesexpanses.push(time);
                    }

                    $scope.CheckUncheckHeader = function () {
                        $scope.IsAllChecked = false;
                        for (var i = 0; i < $scope.salesexpanses.length; i++) {
                            if (!$scope.salesexpanses[i].Selected) {
                                $scope.IsAllChecked = false;
                                break;
                            }
                        };
                    };
                    $scope.CheckUncheckHeader();
                    $scope.CheckUncheckAll = function () {
                        for (var i = 0; i < $scope.salesexpanses.length; i++) {
                            $scope.salesexpanses[i].Selected = $scope.IsAllChecked;
                        }
                    };
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }

            $scope.sort = function (keyname) {
                $scope.sortKey = keyname;
                $scope.reverse = !$scope.reverse;
            }


            $scope.BulkSaveAdd = function (isValid) {
                $scope.IsValid = false;
                if (isValid) {
                    $scope.userForm.$setPristine();
                    var entry = {};
                    var details = new Array();
                    for (var i = 0; i < $scope.salesexpanses.length; i++) {
                        if ($scope.salesexpanses[i].Selected) {
                            var detail = {};
                            detail.ActID = this.salesexpanses[i].ActID;
                            detail.ComplianceID = this.salesexpanses[i].ComplianceID;
                            detail.QuestionID = this.salesexpanses[i].QuestionID;
                            detail.ControlId = this.salesexpanses[i].ControlId;
                            if (this.salesexpanses[i].ControlId == 4) {
                                detail.ServiceID = this.salesexpanses[i].ServiceID;
                                detail.AnswerValue = this.salesexpanses[i].AnswerValue;
                                detail.AnswerSingle = "";
                                detail.AnswerMultiple = "";
                            }
                            else if (this.salesexpanses[i].ControlId == 2) {
                                detail.ServiceID = -1;
                                detail.AnswerValue = 0;
                                detail.AnswerSingle = "";
                                detail.AnswerMultiple = this.salesexpanses[i].AnswerMultiple;
                            }
                            else {
                                detail.ServiceID = -1;
                                detail.AnswerValue = 0;
                                detail.AnswerSingle = this.salesexpanses[i].AnswerSingle;
                                detail.AnswerMultiple = "";
                            }
                            if ($scope.salesexpanses[i].min == "") {
                                detail.min = 0;
                            }
                            else {
                                detail.min = this.salesexpanses[i].min;
                            }
                            if (this.salesexpanses[i].max == "") {
                                detail.max = 0;
                            }
                            else {
                                detail.max = this.salesexpanses[i].max;
                            }

                            detail.CompanyTypeID = this.salesexpanses[i].CompanyTypeID;
                            detail.BusinessActivityID = this.salesexpanses[i].BusinessActivityID;
                            detail.LocationTypeID = this.salesexpanses[i].LocationTypeID;
                            detail.ActApplicabilityID = this.salesexpanses[i].ActApplicabilityID;

                            details.push(detail);
                        }
                        else {
                        }
                    }
                    entry.Approvals = details;
                    $http({
                        method: "post",
                        url: "../QuestionActPerformer/SaveActs",
                        dataType: 'json',
                        headers: { "Content-Type": "application/json" },
                        data: '{TimeSheets: ' + JSON.stringify(entry) + '}'
                    }).then(function (response) {
                        $scope.msg = response.data;

                        if (response.data == "Details Saved Successfully!") {
                            if ($scope.ActGroupID != -1) {
                                UnTaggedBindgrid($scope.ActGroupID)
                                TaggedBindgrid($scope.ActGroupID);
                            }
                            $scope.tabs = false;
                            $scope.adtabls = false;
                            $scope.form = false;
                            $scope.form1 = false;
                            $scope.DisplayForm = false;
                            $scope.addplus = true;
                            $scope.addminus = false;
                            $scope.editminus = false;
                            $scope.DeleteAlert = false;
                            $scope.AddAlert = true;
                            $scope.EditAlert = false;
                            clearFields();
                        }
                        else {
                            $scope.tabs = true;
                        }

                    }), function (error) {
                        $scope.Message = error.Message;
                    }

                }
                else {
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
            };
            //Back Functionality
            $scope.close = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                clearFields();
                $scope.DisplayForm = false;
                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //cancel Functionality
            $scope.cancel = function () {
                $scope.DisplayForm = false;
                $scope.tabs = false;
                $scope.adtabls = false;
                $scope.form = false;
                $scope.form1 = false;
                $scope.addminus = false;
                $scope.addplus = true;
                $scope.editminus = false;
                clearFields();
                $scope.DisplayForm = false;
                loadPaytypes();
                // Reset Error.
                $scope.userForm.$setPristine();
            }
            //clear Fileds
            function clearFields() {
                $scope.IsRecoverable = false;
                $scope.displaydraft = true;
                $scope.displayComment = false;
                $scope.Disabled = true;
                $scope.ControlId = -1;
                $scope.userForm.$setPristine();
            }

            //delete punch items
            $scope.DeletedUnTaggedDetail = function (salesexpanse) {               
                var index = $scope.salesexpanses.indexOf(salesexpanse);
                if ($window.confirm("Do you want to delete? ")) {
                    $scope.salesexpanses.splice(index, 1);
                }
            }
            $scope.UntaggedAddrow = function (salesexpanse) {
                var time = {};
                time.ActID = salesexpanse.ActID;
                time.ActName = salesexpanse.ActName;
                time.Question = salesexpanse.Question;
                time.AnswerValue = salesexpanse.AnswerValue;
                time.disabledValuedropdown = 0;
                time.disabledValueSingle = 0;
                time.disabledValueMultiple = 0;
                time.disabledRange = 0;
                $scope.salesexpanses.push(time);
            };
            $scope.UntaggedSaverow = function (salesexpanse) {                
                $scope.userForm.$setPristine();
                var detail = {};
                detail.Id = 0;
                detail.ActID = salesexpanse.ActID;
                detail.ComplianceID = salesexpanse.ComplianceID;
                detail.QuestionID = salesexpanse.QuestionID;
                detail.ControlId = $scope.ControlId;
                if ($scope.ControlId == 4) {
                    detail.ServiceID = salesexpanse.ServiceID;
                    detail.AnswerValue = salesexpanse.AnswerValue;
                    detail.AnswerSingle = "";
                    detail.AnswerMultiple = "";
                }
                else if ($scope.ControlId == 2) {
                    detail.ServiceID = -1;
                    detail.AnswerValue = 0;
                    detail.AnswerSingle = "";
                    detail.AnswerMultiple = salesexpanse.AnswerMultiple;
                }
                else {
                    detail.ServiceID = -1;
                    detail.AnswerValue = 0;
                    detail.AnswerSingle = salesexpanse.AnswerSingle;
                    detail.AnswerMultiple = "";
                }
                if (salesexpanse.min == "") {
                    detail.min = 0;
                }
                else {
                    detail.min = salesexpanse.min;
                }
                if (salesexpanse.max == "") {
                    detail.max = 0;
                }
                else {
                    detail.max = salesexpanse.max;
                }
                detail.CompanyTypeID = salesexpanse.CompanyTypeID;
                detail.BusinessActivityID = salesexpanse.BusinessActivityID;
                detail.LocationTypeID = salesexpanse.LocationTypeID;
                detail.ActApplicabilityID = salesexpanse.ActApplicabilityID;
                var getData = myService.AddActivity(detail);
                getData.then(function (msg) {
                    $scope.msg = msg.data;
                    if (msg.data == "Details Saved Successfully!") {
                        if ($scope.ActGroupID != -1) {
                            UnTaggedBindgrid($scope.ActGroupID)
                            TaggedBindgrid($scope.ActGroupID);
                        }
                        clearFields();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                    else if (msg.data == "Details already exists!") {
                        if ($scope.ActGroupID != -1) {
                            UnTaggedBindgrid($scope.ActGroupID)
                            TaggedBindgrid($scope.ActGroupID);
                        }
                        clearFields();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                }, function (msg) {
                    $scope.msg = msg.data;
                });
            };



            //Tagged Source Code

            function TaggedBindgrid(actgroupidval) {
                $http({
                    method: 'Get',
                    url: '../QuestionActPerformer/getAllTaggedActs',
                    params: { actgroupid: JSON.stringify(actgroupidval) }
                }).success(function (data, status, headers, config) {                    
                    $scope.AllTaggedCompliances = [];
                    var c = 0;
                    for (var i = 0; i < data.length; i++) {
                        var time = {};
                        time.TaggedQACMMappingID = data[i].TaggedQACMMappingID;
                        time.TaggedActID = data[i].TaggedActID;
                        time.TaggedActName = data[i].TaggedActName;
                        time.TaggedQuestionID = data[i].TaggedQuestionID;
                        time.TaggedControllID = data[i].TaggedControllID;
                        time.TaggedServiceID = data[i].TaggedServiceID;
                        time.TaggedAnswer = data[i].TaggedAnswer;
                        time.TaggedAnswerSingle = data[i].TaggedAnswerSingle;
                        time.TaggedAnswerMultiple = data[i].TaggedAnswerMultiple;
                        time.TaggedAnsweRangeMax = data[i].TaggedAnsweRangeMax;
                        time.TaggedAnsweRangeMin = data[i].TaggedAnsweRangeMin;
                        time.TaggeddisabledValueSingle = data[i].TaggeddisabledValueSingle;
                        time.TaggeddisabledValueMultiple = data[i].TaggeddisabledValueMultiple;
                        time.TaggeddisabledRange = data[i].TaggeddisabledRange;
                        time.TaggeddisabledValuedropdown = data[i].TaggeddisabledValuedropdown;

                        time.TaggedCompanyTypeID = data[i].TaggedCompanyTypeID;
                        time.TaggedLocationTypeID = data[i].TaggedLocationTypeID;
                        time.TaggedBusinessActivityID = data[i].TaggedBusinessActivityID;
                        time.TaggedActApplicabilityID = data[i].TaggedActApplicabilityID;
                        time.disablestatus = data[i].disablestatus;
                        
                        $scope.AllTaggedCompliances.push(time);
                    }
                    $scope.TaggedCheckUncheckHeader = function () {
                        $scope.TaggedIsAllChecked = false;
                        for (var i = 0; i < $scope.AllTaggedCompliances.length; i++) {
                            if (!$scope.AllTaggedCompliances[i].TaggedSelected) {
                                $scope.TaggedIsAllChecked = false;
                                break;
                            }
                        };
                    };
                    $scope.TaggedCheckUncheckHeader();
                    $scope.TaggedCheckUncheckAll = function () {
                        for (var i = 0; i < $scope.AllTaggedCompliances.length; i++) {
                            if ($scope.AllTaggedCompliances[i].disablestatus == 0) {
                                $scope.AllTaggedCompliances[i].TaggedSelected = $scope.TaggedIsAllChecked;
                            }
                        }
                    };
                }).error(function (data, status, headers, config) {
                    $scope.message = 'Unexpected Error';
                });
            }


            $scope.onTaggedQuestionChanges = function (val, testItem) {
                $scope.datamasters = [];
                if (val != undefined) {
                    $http({
                        method: 'Get',
                        url: '../Question/GetControllsfromQuestion',
                        params: { qID: val }
                    }).success(function (data, status, headers, config) {
                        $scope.datamasters = data;
                        if (data["ControlId"] == 1) {

                            testItem.TaggeddisabledValuedropdown = 0;
                            testItem.TaggeddisabledValueSingle = 1;
                            testItem.TaggeddisabledValueMultiple = 0;
                            testItem.TaggeddisabledRange = 0;
                            testItem.TaggedServiceID = -1;
                            testItem.TaggedAnswer = "";
                            testItem.TaggedAnswerSingle = data["PossibleAnswer"];
                            testItem.TaggedAnswerMultiple = "";
                            testItem.TaggedAnsweRangeMin = "";
                            testItem.TaggedAnsweRangeMax = "";
                            testItem.TaggedControllID = 1;
                            $scope.TaggedControllID = 1;
                        }
                        else if (data["ControlId"] == 2) {
                            testItem.TaggeddisabledValuedropdown = 0;
                            testItem.TaggeddisabledValueSingle = 0;
                            testItem.TaggeddisabledValueMultiple = 1;
                            testItem.TaggeddisabledRange = 0;
                            testItem.TaggedServiceID = -1;
                            testItem.TaggedAnswer = "";
                            testItem.TaggedAnswerSingle = "";
                            testItem.TaggedAnswerMultiple = data["PossibleAnswer"];
                            testItem.TaggedAnsweRangeMin = "";
                            testItem.TaggedAnsweRangeMax = "";
                            testItem.TaggedControllID = 2;
                            $scope.TaggedControllID = 2;
                        }
                        else if (data["ControlId"] == 3) {

                            testItem.TaggeddisabledValuedropdown = 0;
                            testItem.TaggeddisabledValueSingle = 0;
                            testItem.TaggeddisabledValueMultiple = 0;
                            testItem.TaggeddisabledRange = 1;
                            testItem.TaggedServiceID = -1;
                            testItem.TaggedAnswer = "";
                            testItem.TaggedAnswerSingle = "";
                            testItem.TaggedAnswerMultiple = "";
                            testItem.TaggedAnsweRangeMin = "";
                            testItem.TaggedAnsweRangeMax = "";
                            testItem.TaggedControllID = 3;
                            $scope.TaggedControllID = 3;
                        }
                        else if (data["ControlId"] == 4) {

                            testItem.TaggeddisabledValuedropdown = 1;
                            testItem.TaggeddisabledValueSingle = 0;
                            testItem.TaggeddisabledValueMultiple = 0;
                            testItem.TaggeddisabledRange = 0;
                            testItem.TaggedServiceID = -1;
                            testItem.TaggedAnswer = "";
                            testItem.TaggedAnswerSingle = "";
                            testItem.TaggedAnswerMultiple = "";
                            testItem.TaggedAnsweRangeMin = "";
                            testItem.TaggedAnsweRangeMax = "";
                            testItem.TaggedControllID = 4;
                            $scope.TaggedControllID = 4;
                        }
                        else {
                            testItem.TaggeddisabledValuedropdown = 0;
                            testItem.TaggeddisabledValueSingle = 0;
                            testItem.TaggeddisabledValueMultiple = 0;
                            testItem.TaggeddisabledRange = 0;
                            testItem.TaggedControllID = -1;
                            $scope.TaggedControllID = -1;
                        }
                    });
                } else {
                    testItem.TaggeddisabledValuedropdown = 0;
                    testItem.TaggeddisabledValueSingle = 0;
                    testItem.TaggeddisabledValueMultiple = 0;
                    testItem.TaggeddisabledRange = 0;
                    testItem.TaggedControllID = -1;
                    $scope.TaggedControllID = -1;
                }
            };
            $scope.TaggedSaverow = function (alltaggedcompliance) {                
                $scope.userForm.$setPristine();
                var detail = {};
                detail.TaggedQACMMappingID = alltaggedcompliance.TaggedQACMMappingID;
                detail.TaggedActID = alltaggedcompliance.TaggedActID;
                detail.TaggedQuestionID = alltaggedcompliance.TaggedQuestionID;
                detail.TaggedControllID = alltaggedcompliance.TaggedControllID;
                detail.TaggedCompanyTypeID = alltaggedcompliance.TaggedCompanyTypeID;
                detail.TaggedBusinessActivityID = alltaggedcompliance.TaggedBusinessActivityID;
                detail.TaggedLocationTypeID = alltaggedcompliance.TaggedLocationTypeID;
                detail.TaggedActApplicabilityID = alltaggedcompliance.TaggedActApplicabilityID;
                if ($scope.TaggedControllID != undefined) {

                    if ($scope.TaggedControllID == 4) {
                        detail.TaggedServiceID = alltaggedcompliance.TaggedServiceID;
                        detail.TaggedAnswer = alltaggedcompliance.TaggedAnswer;
                        detail.TaggedAnswerSingle = "";
                        detail.TaggedAnswerMultiple = "";
                    }
                    else if ($scope.TaggedControllID == 2) {
                        detail.TaggedServiceID = -1;
                        detail.TaggedAnswer = 0;
                        detail.TaggedAnswerSingle = "";
                        detail.TaggedAnswerMultiple = alltaggedcompliance.TaggedAnswerMultiple;
                    }
                    else {
                        detail.TaggedServiceID = -1;
                        detail.TaggedAnswer = 0;
                        detail.TaggedAnswerSingle = alltaggedcompliance.TaggedAnswerSingle;
                        detail.TaggedAnswerMultiple = "";
                    }


                    if (alltaggedcompliance.TaggedAnsweRangeMin == "") {
                        detail.TaggedAnsweRangeMin = 0;
                    }
                    else {
                        detail.TaggedAnsweRangeMin = alltaggedcompliance.TaggedAnsweRangeMin;
                    }
                    if (alltaggedcompliance.TaggedAnsweRangeMax == "") {
                        detail.TaggedAnsweRangeMax = 0;
                    }
                    else {
                        detail.TaggedAnsweRangeMax = alltaggedcompliance.TaggedAnsweRangeMax;
                    }
                }
                else {
                    if (detail.TaggedControllID == 4) {
                        detail.TaggedServiceID = alltaggedcompliance.TaggedServiceID;
                        detail.TaggedAnswer = alltaggedcompliance.TaggedAnswer;
                        detail.TaggedAnswerSingle = "";
                        detail.TaggedAnswerMultiple = "";
                    }
                    else if ($scope.TaggedControllID == 2) {
                        detail.TaggedServiceID = -1;
                        detail.TaggedAnswer = 0;
                        detail.TaggedAnswerSingle = "";
                        detail.TaggedAnswerMultiple = alltaggedcompliance.TaggedAnswerMultiple;
                    }
                    else {
                        detail.TaggedServiceID = -1;
                        detail.TaggedAnswer = 0;
                        detail.TaggedAnswerSingle = alltaggedcompliance.TaggedAnswerSingle;
                        detail.TaggedAnswerMultiple = "";
                    }
                    if (alltaggedcompliance.TaggedAnsweRangeMin == "") {
                        detail.TaggedAnsweRangeMin = 0;
                    }
                    else {
                        detail.TaggedAnsweRangeMin = alltaggedcompliance.TaggedAnsweRangeMin;
                    }
                    if (alltaggedcompliance.TaggedAnsweRangeMax == "") {
                        detail.TaggedAnsweRangeMax = 0;
                    }
                    else {
                        detail.TaggedAnsweRangeMax = alltaggedcompliance.TaggedAnsweRangeMax;
                    }
                }
                var getData = myService.TaggedupdateActivity(detail);
                getData.then(function (msg) {
                    $scope.msg = msg.data;
                    if (msg.data == "Details Updated Successfully!") {
                        if ($scope.ActGroupID != -1) {
                            TaggedBindgrid($scope.ActGroupID)
                        }
                        clearFields();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                    else if (msg.data == "Details already exists!") {
                        if ($scope.ActGroupID != -1) {
                            TaggedBindgrid($scope.ActGroupID)
                        }
                        clearFields();
                        $scope.ShowLoader = false;
                        $scope.DisplayForm = false;
                        $scope.addminus = false;
                        $scope.addplus = true;
                        $scope.editminus = false;
                        $scope.DeleteAlert = false;
                        $scope.AddAlert = false;
                        $scope.EditAlert = true;
                        $scope.IsValid = true;
                    }
                }, function (msg) {
                    $scope.msg = msg.data;
                });
            };

            $scope.BulkUpdate = function (isValid) {                
                $scope.IsValid = false;
                if (isValid) {
                    $scope.userForm.$setPristine();
                    var entry = {};
                    var details = new Array();
                    for (var i = 0; i < $scope.AllTaggedCompliances.length; i++) {
                        if ($scope.AllTaggedCompliances[i].TaggedSelected) {
                            var detail = {};                            
                            detail.TaggedQACMMappingID = this.AllTaggedCompliances[i].TaggedQACMMappingID;
                            detail.TaggedActID = this.AllTaggedCompliances[i].TaggedActID;
                            detail.TaggedQuestionID = this.AllTaggedCompliances[i].TaggedQuestionID;
                            detail.TaggedControllID = this.AllTaggedCompliances[i].TaggedControllID;

                            detail.TaggedCompanyTypeID = this.AllTaggedCompliances[i].TaggedCompanyTypeID;
                            detail.TaggedBusinessActivityID = this.AllTaggedCompliances[i].TaggedBusinessActivityID;
                            detail.TaggedLocationTypeID = this.AllTaggedCompliances[i].TaggedLocationTypeID;
                            detail.TaggedActApplicabilityID = this.AllTaggedCompliances[i].TaggedActApplicabilityID;

                            if (this.AllTaggedCompliances[i].TaggedControllID == 4) {
                                detail.TaggedServiceID = this.AllTaggedCompliances[i].TaggedServiceID;
                                detail.TaggedAnswer = this.AllTaggedCompliances[i].TaggedAnswer;
                                detail.TaggedAnswerSingle = "";
                                detail.TaggedAnswerMultiple = "";
                            }
                            else if (this.AllTaggedCompliances[i].TaggedControllID == 2) {
                                detail.TaggedServiceID = -1;
                                detail.TaggedAnswer = 0;
                                detail.TaggedAnswerSingle = "";
                                detail.TaggedAnswerMultiple = this.AllTaggedCompliances[i].TaggedAnswerMultiple;
                            }
                            else {
                                detail.TaggedServiceID = -1;
                                detail.TaggedAnswer = 0;
                                detail.TaggedAnswerSingle = this.AllTaggedCompliances[i].TaggedAnswerSingle;
                                detail.TaggedAnswerMultiple = "";
                            }
                            if ($scope.AllTaggedCompliances[i].TaggedAnsweRangeMin == "") {
                                detail.TaggedAnsweRangeMin = 0;
                            }
                            else {
                                detail.TaggedAnsweRangeMin = this.AllTaggedCompliances[i].TaggedAnsweRangeMin;
                            }
                            if (this.AllTaggedCompliances[i].TaggedAnsweRangeMax == "") {
                                detail.TaggedAnsweRangeMax = 0;
                            }
                            else {
                                detail.TaggedAnsweRangeMax = this.AllTaggedCompliances[i].TaggedAnsweRangeMax;
                            }


                            details.push(detail);
                        }
                        else {
                        }
                    }
                    entry.BulkUpdates = details;
                    $http({
                        method: "post",
                        url: "../QuestionActPerformer/BulkUpdateActTaggedQuestion",
                        dataType: 'json',
                        headers: { "Content-Type": "application/json" },
                        data: '{bupdate: ' + JSON.stringify(entry) + '}'
                    }).then(function (response) {
                        $scope.msg = response.data;                        
                        if (response.data == "Details Updated Successfully!") {
                            if ($scope.ActGroupID != -1) {
                                TaggedBindgrid($scope.ActGroupID)
                            }
                            $scope.tabs = false;
                            $scope.adtabls = false;
                            $scope.form = false;
                            $scope.form1 = false;
                            $scope.DisplayForm = false;
                            $scope.addplus = true;
                            $scope.addminus = false;
                            $scope.editminus = false;
                            $scope.DeleteAlert = false;
                            $scope.AddAlert = true;
                            $scope.EditAlert = false;
                            clearFields();
                        }
                        else {
                            $scope.tabs = true;
                        }

                    }), function (error) {
                        $scope.Message = error.Message;
                    }

                }
                else {
                    // Show error Message if Form not valid.
                    if ($scope.userForm.$error.required != undefined) {
                        for (var i = 0; i < $scope.userForm.$error.required.length; i++) {
                            $scope.userForm.$error.required[i].$pristine = false;
                        }
                    }
                }
            };
        });


        app.service("myService", function ($http) {
            // Update Activity by Id
            this.AddActivity = function (activitie) {
                var response = $http({
                    method: "post",
                    url: "../QuestionActPerformer/AddQuestionActMapping",
                    data: JSON.stringify(activitie),
                    dataType: "json"
                });
                return response;
            }
            this.TaggedupdateActivity = function (activitie) {
                var response = $http({
                    method: "post",
                    url: "../QuestionActPerformer/UpdateActTaggedQuestion",
                    data: JSON.stringify(activitie),
                    dataType: "json"
                });
                return response;
            }

        });
    </script>
</body>
</html>



