﻿@using Kendo.Mvc.UI;


<style>


    .shape {
        width: 68px;
        height: 36px;
        border-radius: 4px;
        background-color: #ffffff;
    }

    .Yes {
        width: 26px;
        height: 18px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #259987;
    }


    .Maybe {
        width: 49px;
        height: 18px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #cf8224;
    }


    .No {
        width: 21px;
        height: 18px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #b03830;
    }
</style>
<div id="window" style="min-height:500px; max-height:530px;overflow-y:auto;overflow-x:hidden">
    <script>
        function checkDates() {

            var startDate = $("#startDate").data("kendoDatePicker");
            var endDate = $("#endDate").data("kendoDatePicker");
            if (startDate.value() != '' && endDate.value() != '') {
                if (Date.parse(startDate.value()) > Date.parse(endDate.value())) {
                    //alert('To date should be before From date');
                    endDate.value(startDate.value());
                }
            }
        }

        //filter
        function ApplyFilter() {

            var gridListFilter = { logic: "and", filters: [] };

            var selectedEntitties = $("#ddlEndityDetails").data("kendoMultiSelect").value();
            var selectedMeeting = $("#Meetingtype").data("kendoMultiSelect").value();
            var fromDate = $("#startDate").data("kendoDatePicker").value();
            var ToDate = $("#endDate").data("kendoDatePicker").value();


            if ($.trim(selectedEntitties).length > 0) {
                var entityFilter = { logic: "or", filters: [] };

                //gridListFilter.logic = "or";   // a different logic 'or' can be selected
                $.each(selectedEntitties, function (i, v) {
                    entityFilter.filters.push({ field: "EntityId", operator: "eq", value: v });
                });
                gridListFilter.filters.push(entityFilter);

            }

            if ($.trim(selectedMeeting).length > 0) {
                var MeetingFilter = { logic: "or", filters: [] };

                //gridListFilter.logic = "or";   // a different logic 'or' can be selected
                $.each(selectedMeeting, function (i, v) {
                    MeetingFilter.filters.push({ field: "MeetingTypeId", operator: "eq", value: v });
                });
                gridListFilter.filters.push(MeetingFilter);

            }
            if ((fromDate != null || fromDate != undefined) && (ToDate != null || ToDate != undefined)) {
                var datefilter = { logic: "and", filters: [] };
                //gridListFilter.logic = "and";   // a different logic 'or' can be selected
                var startOfFilterDate = new Date(fromDate.getFullYear(), fromDate.getMonth(), fromDate.getDate());
                var endOfFilterDate = new Date(ToDate.getFullYear(), ToDate.getMonth(), ToDate.getDate());

                datefilter.filters.push({ field: "MeetingDate", operator: "gte", value: startOfFilterDate });
                datefilter.filters.push({ field: "MeetingDate", operator: "lte", value: endOfFilterDate });
                gridListFilter.filters.push(datefilter);
            }

            if (gridListFilter.filters.length > 0) {
                $('#clearfillter').css('display', 'block');
                var gridDataSource = $("#upcommingMeeting").data("kendoGrid").dataSource;
                gridDataSource.filter(gridListFilter);

            }

        }
    </script>
    <script>
    var notification = $("#staticNotification").kendoNotification({
        position: {
            top: 0,
            right: 200,
            pinning: true,
            button: false,
            hideOnClick: false,
            autoHideAfter: 3500
        }
    }).data("kendoNotification");
    $(document).ready(function () {
        var breadCrumbData = [
            {
                displayText: "My Meetings",
                navigateUrl: "#",
            },
            {
                displayText: "Upcoming",
                navigateUrl: "/BM_Management/Meeting/Upcoming",
            },
        ];

        setBreadCrumb(breadCrumbData);
    })
    function groupbuttonindex(item) {

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);

        if (item.innerText == "No") {
            var textboxID = item.nextSibling.parentNode.parentNode.parentNode.nextElementSibling.childNodes[0].childNodes[0].id;
            $("#" + textboxID).css("display", "block");
            $("#" + textboxID).css("width", "90%");
            var btnNoId = item.id;
            dataItem.RSPV = "No";
            dataItem.dirty = true;
            //
            $("#" + item.previousElementSibling.id).css("background-color", "#e9e9e9");
            $("#" + item.previousElementSibling.id).css("border-color", "#c5c5c5;");
            $("#" + item.nextElementSibling.id).css("background-color", "#e9e9e9");
            $("#" + item.nextElementSibling.id).css("border-color", "#c5c5c5;");
            $("#" + btnNoId).css("background-color", "#d03d3d");
            $("#" + btnNoId).css("border-color", "#d03d3d");
        }
        if (item.innerText == "Yes") {
            dataItem.RSPV = "Yes";
            dataItem.dirty = true;
            var btnyesId = item.id;
            $("#" + btnyesId).css("background-color", "#10bc83");
            $("#" + btnyesId).css("border-color", "#10bc83");
            $("#" + item.nextElementSibling.id).css("background-color", "#e9e9e9");
            $("#" + item.nextElementSibling.id).css("border-color", "#c5c5c5;");
            $("#" + item.nextElementSibling.nextElementSibling.id).css("background-color", "#e9e9e9");
            $("#" + item.nextElementSibling.nextElementSibling.id).css("border-color", "#c5c5c5;");
            var textboxID = item.nextSibling.parentNode.parentNode.parentNode.nextElementSibling.childNodes[0].childNodes[0].id;
            $("#" + textboxID).css("display", "none");
        }
        if (item.innerText == "Maybe") {
            dataItem.RSPV = "Maybe";
            dataItem.dirty = true;
            var textboxID = item.parentNode.parentNode.parentNode.nextElementSibling.childNodes[0].childNodes[0].id;
            $("#" + textboxID).css("display", "block");
            $("#" + textboxID).css("width", "90%");
            var btnMaybeId = item.id;
            $("#" + btnMaybeId).css("background-color", "#6363cf");
            $("#" + btnMaybeId).css("border-color", "#6363cf");
            $("#" + item.previousElementSibling.id).css("background-color", "#e9e9e9");
            $("#" + item.previousElementSibling.id).css("border-color", "#c5c5c5;");
            $("#" + item.previousElementSibling.previousElementSibling.id).css("background-color", "#e9e9e9");
            $("#" + item.previousElementSibling.previousElementSibling.id).css("border-color", "#c5c5c5;");
            //var textboxID = item.parentNode.parentNode.parentNode.nextElementSibling.childNodes[0].childNodes[0].id;
            //$("#" + textboxID).css("display", "none");
        }
    }

    function saveupcomingMeetings(item)
    {
        var grid = $("#upcommingMeeting").data("kendoGrid");
        kendo.ui.progress(grid.element, true);
        var notification = $("#staticNotification").kendoNotification({
            position: {
                top: 50,
                right: 600,
                pinning: true,
                button: false,
                hideOnClick: false,
                autoHideAfter: 3500
            }
        }).data("kendoNotification");

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        if ((dataItem.RSPV=="No" && dataItem.ReasonforRSPV!=null) ||(dataItem.RSPV=="Maybe" && dataItem.ReasonforRSPV!=null) || (dataItem.RSPV=="Yes" && dataItem.ReasonforRSPV==null)) {
            var MeetingListVM = { MeetingID: dataItem.MeetingID, participantId: dataItem.participantId, ReasonforRSPV: dataItem.ReasonforRSPV, RSPV: dataItem.RSPV }
            $.ajax({
                type: "POST",
                url: '@Url.Action("updateUpcommingresponse", "DirectorMeetings")',
                data: MeetingListVM,
                dataType: "json",
                cache: false,
                success: function (data) {
                    notification.show("Save successfully", "success");
                    kendo.ui.progress(grid.element, false);
                }
            });
        }
        else
        {
            kendo.ui.progress(grid.element, false);
            notification.show("Please enter reason", "warning");
        }

    }
    </script>

    <script>


        $(function () {

            $("#select-period").kendoButtonGroup({
                select: function (e) {
                    kendoConsole.log("selected index:" + e.indices);
                },
                index: 0
            });
        });
    </script>
    <script>
        //$(".select-period").click(function(e){
        //
        //    $("#select-period").kendoButtonGroup({
        //        select: function (e) {
        //            kendoConsole.log("selected index:" + e.indices);
        //            alert(e.indices);
        //        },
        //        index: 0
        //    });
        //})
        $(function () {

            $(".select-period").kendoButtonGroup({
                select: function (e) {

                },
                index: 0
            });
        });
    </script>
    <style>
        .k-button.k-state-hover, .k-button:hover {
            color: #2e2e2e;
            border-color: #b6b6b6;
            background-color: #bcb4b0;
            background-image: url(textures/highlight.png);
            background-image: none,linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,0) 100%);
        }

        .demo-section {
            text-align: center;
        }
    </style>
    <style>
        .demo-section {
            text-align: center;
            line-height: 4em;
        }

            .demo-section .k-button {
                width: 250px;
            }

        .top19 {
            top: 19px;
        }
    </style>
    <script>
    function JoinMeetings(item)
    {

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        $.ajax({
            type: "POST",
            url: '@Url.Action("MarkAttendence", "DirectorMeetings")',
            data: { MeetingId: dataItem.MeetingID, ParticipantId: dataItem.participantId },
            dataType: "json",
            cache: false,
            success: function (data) {
                window.location.href = "@Url.Action("MeetingsDetails", "MainMeeting")?MeetingId=" + dataItem.MeetingID;
            }
        });

    }
    function clearfilter(e) {


        var entityfilter = $('#ddlEndityDetails').data("kendoMultiSelect").value();
        var meetingfilter = $('#Meetingtype').data("kendoMultiSelect").value();
        var fromdate = $("#startDate").data("kendoDatePicker").value();
        var Todate = $("#endDate").data("kendoDatePicker").value();


        if ((entityfilter != null && entityfilter != undefined) || (meetingfilter != null && meetingfilter != undefined) || (Todate != null && Todate != undefined) || (fromdate != null && fromdate != undefined)) {
            var multiSelect = $('#ddlEndityDetails').data("kendoMultiSelect");
            multiSelect.value([]);
            var multiSelect = $('#Meetingtype').data("kendoMultiSelect");
            multiSelect.value([]);
            $("#startDate").data("kendoDatePicker").value(null);
            $("#endDate").data("kendoDatePicker").value(null);

        }
        $('#clearfillter').css('display', 'none');

        $("#upcommingMeeting").data("kendoGrid").dataSource.filter({});
    }

    function setDataItemforRemark(item) {

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        dataItem.ReasonforRSPV = $(item).val();
        dataItem.dirty = true;
        @*var AgendaVoting = { MeetingId: dataItem.MeetingId, MeetingAgendaMappingId : dataItem.MeetingAgendaMappingId, AgendaId: dataItem.AgendaId, ParticipentId: dataItem.ParticipentId, AgendaVotingResponse: dataItem.AgendaVotingResponse, Remark: dataItem.Remark,Castingvote:dataItem.Castingvote }
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateMeetingAgendaResponse", "MainMeeting")',
            data: AgendaVoting,
            dataType: "json",
            cache: false,
            success: function (data) {
                $("#step1Content").load('@Url.Action("ReloadPieChart", "MainMeeting")' + '?MeetingId='+@Model.MeetingId+'&AgendaId='+@Model.AgendaId +"&MappingId="+@Model.MeetingAgendaMappingId)
            }
        });*@
    }
    function GetMeetingsDetails1(data) {

        var str = "";

        var color = "#017fbe";

        var day = moment(data.MeetingDated).format('DD');

        str = "<div style='padding-bottom:4px;margin:10px 10px;'><table cellpadding='0' cellspacing='0' style='width:100%;table-layout:fixed;'><tbody><tr><td style='vertical-align:top;width:55px;text-align:center;'><table cellpadding='0' cellspacing='0' style='width:50px;margin:0px auto;border:1px solid rgb(224, 224, 224);border-radius:5px;'><tbody><tr><td style='background-color:#017fbe;color:#ffffff;font-size:15px;line-height:18px;border-radius:4px 4px 0px 0px;'>" + data.Month + "</td></tr><tr><td style='color:#555555;font-size:20px;line-height:1;padding:5px 0px;'>" + data.Day + "</td></tr></tbody></table></td>" +
            "<td style='padding:0px 30px 0px 15px;vertical-align:top;'>" +
            "<h1 style='cursor:pointer;font-size:16px;line-height:2.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>" + data.MeetingTypeName + " Meeting</h1>" +
           // "<p style='line-height:1.4;'>" + data.DayName + ", " + data.MeetingTime + "</p>" +
            "<p style='line-height:1.4;margin-bottom: 0px;'>" + data.EntityName + "</p>" +
            "<p style='line-height:1.4;'>" + data.MeetingVenue + "</p></td>" +
            "<td style='width:10%;'></td>" +
            "<td style='width:25%;'>" +
            "<p style='line-height:1.4;'>" + data.DayName + ", " + data.MeetingTime + "</p>" +
            "</td>" +
            "</tr></tbody></table></div>";
        return str;
    }
    function GetMeetingsDetails(data) {

        var str = "";

        var day = moment(data.MeetingDated).format('DD');
        str += "<div>" +
            "<table cellpadding='0' cellspacing='0' style='width:100%;table-layout:fixed;'>" +
            "<tbody>" +
                "<tr>" +
                    "<td style='vertical-align:top;width:50px;text-align:center;'>" +
                        "<table cellpadding='0' cellspacing='0' style='width:45px;margin:0px auto;border:1px solid rgb(224, 224, 224);border-radius:5px;'><tbody>" +
                        "<tr><td style='background-color:#017fbe;color:#ffffff;font-size:12px;line-height:12px;border-radius:4px 4px 0px 0px;'>" + data.Month + "</td></tr>" +
                        "<tr><td style='color:#555555;font-size:16px;line-height:16px;padding:5px 0px;'>" + data.Day + "</td></tr></tbody></table>" +
                    "</td>" +
            //"<td style='padding:0px 30px 0px 15px;vertical-align:top;'>" +
                    "<td style='width:25%;border-left-width: 0px;'>" +
                        "<h1 style='cursor:pointer;font-size:16px;line-height:2.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>" + data.MeetingTypeName + " Meeting</h1>" +
                        "<p style='line-height:1.4;margin-bottom: 0px;'>" + data.EntityName + "</p>" +
                        "<p style='line-height:1.4;'>" + data.MeetingVenue + "</p>" +
                    "</td>" +
                    "<td style='width:10%;border-left-width:0px;'></td>" +
                    "<td style='width:25%;border-left-width:0px;vertical-align:text-top;'>" +
                        "<p style='line-height:2.4;font-weight:bold;'>" + data.DayName + ", " + data.MeetingTime + "</p>" +
                    "</td>" +
                    "<td style='width:10%;border-left-width:0px;'></td>" +
                    //"<td style='width:35%;border-left-width:0px;'>" +
                    //"<div class='row colpadding0'><div class='col-md-12 colpadding0'><div class='groupbutton' Id='select-period#=data.uid#' style='width: 35%;'><span onclick='groupbuttonindex(this);' id='gropbtnyes#=data.uid#' style='width:60%' class='gbtnyes' >Yes</span><span onclick='groupbuttonindex(this);' id='gropbtnno#=data.uid#' style='width:60%'>No</span><span onclick='groupbuttonindex(this);' id='gropbtnmaybe#=data.uid#' style='width:60%'>Maybe</span></div></div></div><div class='row colpadding0 mt30'><div class='col-md-12 colpadding0'><input style='display:none' id='rdbRemark#=data.uid#' style='width:100%' class='k-input k-textbox' type='textbox' style='width: 90%;' value='#=ReasonforRSPV !=null?ReasonforRSPV:''#' onchange='setDataItemforRemark(this);' #= ReasonforRSPV # placeholder='Remark'></div></div><div class='row colpadding0 mt30'><div class='col-md-12 colpadding0'><div class='col-md-2 colpadding0'><button type='button' id='saveppcom#=data.uid#' class='btn btn-primary button1' onclick='saveupcomingMeetings(this)' style='width: 45%;'>Save</button></div><div class='col-md-2 colpadding0'><button type='button' id='btnjoinmeeting#=data.uid#' class='btn btn-primary button1' onclick='JoinMeetings(this)' style='width: 85%;'>Join Meeting</button></div><div></div>"+
                    //"</td>" +
        "</tr></tbody></table></div>";
        return str;
    }

    function GetMeetingsgroupbuttons() {
        var str1 = "<div id='example'><div class='demo-section k-content'><div class='select-period'><span>Yes</span><span>No</span><span>Maybe</span></div></div></div>"
        return str1;
    }
    function onRowBound() {

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var gridData = grid.dataSource.view();
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 2px 0 #DDDDDD");
            //$('tr[data-uid="' + row.uid + '"] ').css("height", "187px");
        })

        $(".groupbutton").kendoButtonGroup({

        });

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            if (gridData[i].RSPV != null) {
                var remarktextbox="rdbRemark"+currentUid
                if(gridData[i].RSPV=="Yes")
                {
                    var yesbtn = "gropbtnyes" + currentUid;
                    $("#" + yesbtn).css("background-color", "#d7fccd");
                    $("#" + yesbtn).css("border-color", "#10bc83");
                    $("#" + yesbtn).css("color", "white");
                    $("#" + remarktextbox).css("display", "none")
                }
                else if (gridData[i].RSPV == "No") {
                    var Nobtn = "gropbtnno" + currentUid;
                    $("#" + Nobtn).css("background-color", "#ffdcda");
                    $("#" + Nobtn).css("border-color", "#d03d3d");
                    $("#" + Nobtn).css("color", "white");
                    $("#" + remarktextbox).css("display", "block");
                }
                else if (gridData[i].RSPV == "Maybe") {
                    var maybebtn = "gropbtnmaybe" + currentUid;
                    $("#" + maybebtn).css("background-color", "#ffefc7");
                    $("#" + maybebtn).css("border-color", "#6363cf");
                    $("#" + maybebtn).css("color", "white");
                    $("#" + remarktextbox).css("display", "block");
                }

            }
        }
    }
    </script>
    <style>
        #upcommingMeeting .k-grid-header {
            height: 0;
            border-bottom-width: 0;
            display: none;
            overflow: hidden;
        }
    </style>
    <div class="row master-Headre">
        <div class="col-md-12">

            <div class="col-md-3 colpadding0">

                <label class="control-label">Select Entity</label>
                @(Html.Kendo().MultiSelect()
        .Name("Entity")
                            .DataTextField("EntityName")
                            .DataValueField("Id")
                            .TagMode(TagMode.Single)
                            .Filter("contains")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Url("/DFM/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                                })
                                .ServerFiltering(false);
                            })
                             .HtmlAttributes(new { style = "width: 97%", @Id = "ddlEndityDetails", autocomplete = "off" })
                )

            </div>

            <div class="col-md-3 colpadding0">
                <label for="Todate" class="control-label">Type</label>
                @(Html.Kendo().MultiSelect()
                    .Name("Meeting")
                    .DataTextField("MeetingTypeName")
                    .DataValueField("Id")
                    .TagMode(TagMode.Single)
                    .Filter("contains")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Url("/api/DirectorMeetings/GetMeeting").Type(HttpVerbs.Get);
                        })
                        .ServerFiltering(false);
                    }).HtmlAttributes(new { style = "width: 97%", @Id = "Meetingtype", autocomplete = "off" }))
            </div>

            <div class="col-md-3 colpadding0 hidden">
                <div class="col-md-6 colpadding0">
                    <label for="Todate" class="control-label">From Date</label>
                    @Html.Kendo().DatePicker().Name("startDate").Format("dd/MM/yyyy").HtmlAttributes(new { @onchange = "checkDates()" })
                </div>
                <div class="col-md-6 colpadding0">
                    <label for="Todate" class="control-label">To Date</label>
                    @Html.Kendo().DatePicker().Name("endDate").Format("dd/MM/yyyy").HtmlAttributes(new { @onchange = "checkDates()" })
                </div>
            </div>

            <div class="col-md-1 colpadding0 top19">
                <button type="button" class="btn btn-primary button1" style="width: 70%;height: 31px;" onclick="ApplyFilter()">Apply</button>
            </div>
            <div class="col-md-1 colpadding0 top19" id="clearfillter" style="display:none">
                <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()">
                    <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
                </button>
            </div>

        </div>
    </div>

    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            <span id="staticNotification"></span>
        </div>
    </div>

    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">

            @(Html.Kendo().Grid<BM_ManegmentServices.VM.Dashboard.MeetingListVM>()
        .Name("upcommingMeeting")
        .Columns(columns =>
        {
            columns.Bound(c => c.RSPV).Visible(false);
            columns.Bound(c => c.EntityId).Visible(false);
            columns.Bound(c => c.MeetingTypeId).Visible(false);
            columns.Bound(c => c.EntityName).Title("")
            .ClientTemplate("<div>#= GetMeetingsDetails(data)#</div>").HtmlAttributes(new { style = "" }).Sortable(false).Filterable(false).Width("50%");
            columns.Bound(c => c.MeetingID).Title("")
            //.ClientTemplate("<div class='row colpadding0'><div class='col-md-12 colpadding0'>"+
            //"<div class='groupbutton' Id='select-period#=data.uid#' style='width: 35%;'>" +
            //    "<button onclick='groupbuttonindex(this);' id='gropbtnyes#=data.uid#' style='width:60%' class='shape' >Yes</button>" +
            //    "<button onclick='groupbuttonindex(this);' id='gropbtnno#=data.uid#' class='shape'>No</button>" +
            //    "<button onclick='groupbuttonindex(this);' id='gropbtnmaybe#=data.uid#' class='shape'>Maybe</button>" +
            //"</div>" +

            //"</div></div>" +
            //"<div class='row colpadding0 mt30'><div class='col-md-12 colpadding0'>"+
            //"<div class='col-md-6 colpadding0'>"+
            //"<input style='display:none' id='rdbRemark#=data.uid#' style='width:120px;' class='k-input k-textbox' type='textbox' value='#=ReasonforRSPV !=null?ReasonforRSPV:''#' onchange='setDataItemforRemark(this);' #= ReasonforRSPV # placeholder='Remark'>" +
            //"</div>"+
            //"<div class='col-md-6 colpadding0'>" +
            //"<button type='button' id='saveppcom#=data.uid#' class='btn btn-primary button1' onclick='saveupcomingMeetings(this)' style='width: 45%;'>Save</button>" +
            //"</div>" +
            //"</div></div>"+
            //"<div class='row colpadding0 mt30'><div class='col-md-12 colpadding0'><div class='col-md-2 colpadding0'></div><div class='col-md-2 colpadding0'><button type='button' id='btnjoinmeeting#=data.uid#' class='btn btn-primary button1' onclick='JoinMeetings(this)' style='width: 85%;'>Join Meeting</button></div><div></div>")
            .ClientTemplate("<div class='row colpadding0'><div class='col-md-12 colpadding0'><div class='groupbutton' Id='select-period#=data.uid#' style='width: 75%;'>"+
            "<button onclick='groupbuttonindex(this);' id='gropbtnyes#=data.uid#' class='gbtnyes' >Yes</button>" +
            "<button onclick='groupbuttonindex(this);' id='gropbtnno#=data.uid#' >No</button>" +
            "<button onclick='groupbuttonindex(this);' id='gropbtnmaybe#=data.uid#' >Maybe</button>" +
            "</div></div></div><div class='row colpadding0 mt30'><div class='col-md-12 colpadding0'><input style='display:none' id='rdbRemark#=data.uid#' style='width:150px;' class='k-input k-textbox' type='textbox' value='#=ReasonforRSPV !=null?ReasonforRSPV:''#' onchange='setDataItemforRemark(this);' #= ReasonforRSPV # placeholder='Remark'></div></div><div class='row colpadding0 mt30'><div class='col-md-12 colpadding0'><div class='col-md-2 colpadding0'>" +
           "<button type='button' id='saveppcom#=data.uid#' class='btn btn-primary' onclick='saveupcomingMeetings(this)'>Save</button>" +
           //"<button type='button' id='agendappcom#=data.uid#' class='btn btn-primary button1' onclick='showMinutesOfMeeting(this)' style='width: 45%;'>Agenda</button>" +
           "</div><div class='col-md-2 colpadding0'><button type='button' id='btnjoinmeeting#=data.uid#' class='btn btn-primary' onclick='JoinMeetings(this)'>Join Meeting</button></div><div></div>")
            .HtmlAttributes(new { style = "border-left-width: 0;" }).Sortable(false).Filterable(false).Width("20%");
        })
        .Events(e => e.DataBound("onRowBound"))
            .DataSource(dataSource => dataSource
            .WebApi()
            .PageSize(10)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.MeetingID);
            })
          .Read(read => read.Action("UpcommingMetting", "DirectorMeetings"))))
        </div>
    </div>

</div>