﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@model BM_ManegmentServices.VM.Dashboard.DashboardVM
@{
    ViewBag.Title = "My Dashboard";
    string hidden = Model.ShowCompliancePerformnce ? "" : "hidden";
    //string hidden = Model.ShowCompliancePerformnce ? "" : "hidden";
}

<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://avacdn.azureedge.net/newcss/responsive-calendar.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Newjs/responsive-calendar.min.js"></script>
<link href="~/Content/css/Dashboard.css" rel="stylesheet" />
<link href="~/Content/css/calendar-custom.css" rel="stylesheet" />

<style>
    .k-grid-norecords {
        width: 100%;
        height: 80%;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .k-multiselect:after {
        content: "\25BC";
        position: absolute;
        top: 30%;
        right: 25px;
        font-size: 12px;
    }

    .k-multiselect.opened:after {
        content: "\25C0";
    }

    ::-webkit-input-placeholder {
        color: red;
    }

    .k-multiselect-wrap > .k-input, .k-input, .k-list .k-item {
        font-family: Montserrat !important;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #444444;
    }

    .k-multiselect-wrap, .k-multiselect-wrap:hover {
        border-color: transparent;
    }

        .k-multiselect-wrap .k-readonly {
            opacity: 1;
        }

    input.myHiddenText {
        color: transparent;
        user-select: none;
    }
</style>
<script type="text/javascript">

</script>

<script>
    function filterFinancialYear() {
        return {
            FY_Year: $("#ddlFYtoDate").val(),
            roleId : 3
        };
    }

    function getddlEntityComplianceDetails(){
        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        return { custID : customerID, userID : loggedInUserID  }
    }

</script>
<div class="row shapeCounts" style="background-color:white;">
    <div class="col-md-12 colpadding0">
        <div class="">
            <table style="width:100%;margin-top:30px;">
                <tr>
                    <td style="width:20%;">
                        <a href="~/BM_Management/CompanyProfile/CompanyProfile" role="button">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-6 colpadding0">
                                    <div style="float:right;">
                                        <img src="~/Areas/BM_Management/img/Dashboard/entities.svg" />
                                    </div>
                                </div>
                                <div class="col-md-6 borderright">
                                    <div id="divEntitiesCount" class="dashboardCount">
                                        0
                                    </div>
                                    <div class="top-count-label">Entities</div>
                                </div>
                            </div>
                        </a>
                    </td>
                    <td style="width:20%;">
                        <a href="~/BM_Management/CompanyProfile/DirectorProfile" role="button">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-6 colpadding0">
                                    <div style="float:right;">
                                        <img src="~/Areas/BM_Management/img/Dashboard/directors.svg" />
                                    </div>
                                </div>
                                <div class="col-md-6 borderright">
                                    <div id="divDirectorCount" class="dashboardCount">
                                        0
                                    </div>
                                    <div class="top-count-label">Directors</div>
                                </div>
                            </div>
                        </a>
                    </td>
                    <td style="width:20%;">
                        <a href="~/BM_Management/MyMeetings/ConcludedMeetings">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-6 colpadding0">
                                    <div style="float:right;">
                                        <img src="~/Areas/BM_Management/img/Dashboard/meetings.svg" />
                                    </div>
                                </div>
                                <div class="col-md-6 borderright">
                                    <div id="divMeetingsCount" class="dashboardCount">
                                        0
                                    </div>
                                    <div class="top-count-label">Meetings</div>
                                </div>
                            </div>
                        </a>
                    </td>
                    <td style="width:20%;">
                        <a href="~/BM_Management/MyMeetings/AgendaItems" role="button">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-6 colpadding0">
                                    <div style="float:right;">
                                        <img src="~/Areas/BM_Management/img/Dashboard/agendas.svg" />
                                    </div>
                                </div>
                                <div class="col-md-6 borderright">
                                    <div id="divAgendasCount" class="dashboardCount">
                                        0
                                    </div>
                                    <div class="top-count-label">Agendas</div>
                                </div>
                            </div>
                        </a>
                    </td>
                    <td style="width:20%;">
                        <a href="~/BM_Management/MyMeetings/DraftMinutes">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-5 colpadding0">
                                    <div style="float:right;">
                                        <img src="~/Areas/BM_Management/img/Dashboard/draft-minutes.svg" />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div id="divDraftMinutesCount" class="dashboardCount">
                                        0
                                    </div>
                                    <div class="top-count-label">Draft Minutes</div>
                                </div>
                            </div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="divDashboard" style="padding-left:15px;padding-right:15px; opacity:0;">
    @(Html.Kendo().Window().Name("wndUpcomingMeetings").Title("Upcoming Meetings").Visible(false).Modal(true).Draggable(false).Scrollable(false))
    @(Html.Kendo().Window().Name("wndComplianceDetails").Title("Details").Visible(false).Modal(true).Draggable(false).Content(@<text>
        <div class="row box-shape" style="height:50px;">
            <div class="col-md-12 colpadding0 vertical-center">
                <div class="col-md-3">

                    @(Html.Kendo().MultiSelect()
                .Name("ddlEntityComplianceDetails")
                .AutoWidth(true)
                .DataTextField("EntityName")
                .DataValueField("Id")
                .Placeholder("Company-All")
                .ClearButton(false)
                .ItemTemplate("<input type='checkbox'/>  #:data.EntityName# ")
                .TagMode(TagMode.Single)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Url("/api/EntityMasterAPI/DirectorAssignedEntities").Data("getddlEntityComplianceDetails").Type(HttpVerbs.Get);
                    })
                    .ServerFiltering(false);
                })
                .Events(e => e.Change("ddlEntityComplianceDetails"))
                .Events(e => e.DataBound("adjustDropDownWidth"))
                .Events(e => e.Open("Multiselect_Open"))
                .Events(e => e.Close("Multiselect_Close"))
                .HtmlAttributes(new { @class = "myHiddenText", style = "width: 98%; visibility: hidden" }))

                </div>

                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                .Name("ddlFYtoDateComplianceDetails")
                .AutoWidth(true)
                .Events(e => e.Change("ddlFYtoDateComplianceDetailsChanged"))
                //.Events(e => e.DataBound("resizeDropDown"))
                .BindTo(new SelectList(new List<object> {
                            new {id="CYTD",text="Current Financial YTD"},
                            new {id="CPYTD",text="Current + Previous Financial YTD"},
                            new {id="All",text="All"},
                }, "id", "text")).Value("CYTD").HtmlAttributes(new { @class = "abc myHiddenText", style = "width: 90%;" }))
                </div>

                <div class="col-md-2">
                    @(Html.Kendo().DropDownList()
                                .Name("ddlStatusComplianceDetails")
                                //.Events(e => e.DataBound("resizeDropDown"))
                                .Events(e => e.Change("ddlEntityComplianceDetails"))
                                .BindTo(new SelectList(new List<object> {
                                            new {id="All",text="Status-All"},
                                            new {id="Overdue",text="Overdue"},
                                            new {id="CT",text="Closed-Timely"},
                                            new {id="CD",text="Closed-Delayed"},
                               }, "id", "text")).HtmlAttributes(new { @class = "abc", style = "width: 80%;" })
                    )
                </div>

                <div class="col-md-1">
                    @(Html.Kendo().DropDownList()
                                .Name("ddlRiskComplianceDetails")
                                //.Events(e => e.DataBound("resizeDropDown"))
                                .Events(e => e.Change("ddlEntityComplianceDetails"))
                                .BindTo(new SelectList(new List<object> {
                                            new {id="All",text="Risk-All"},
                                            new {id="Critical",text="Critical"},
                                            new {id="High",text="High"},
                                            new {id="Medium",text="Medium"},
                                            new {id="Low",text="Low"},
                               }, "id", "text")).HtmlAttributes(new { @class = "abc", style = "width: 98%;" })
                    )
                </div>


                <div class="col-md-2">
                    <button id="btnClearFilterComplianceDetails" class="show-all-text-button hidden" onclick="clearFilterComplianceDetails()" style="margin-top:5px;">
                        <img src="~/Areas/BM_Management/img/clear-all.svg"> Clear All
                    </button>
                </div>


            </div>
        </div>

        <div>
            <div>
                <div id="gridComplianceDetails"></div>
            </div>
        </div>
    </text>))


    @(Html.Kendo().Window().Name("wndAllTask").Title("Tasks").Visible(false).Modal(true).Draggable(false).Scrollable(false))
    @(Html.Kendo().Window().Name("wndTask").Scrollable(true).Visible(false).Pinned(true).Modal(true)//.Events(e => e.Open("adjustSize"))//.Events(e => e.Refresh("OnRefreshTask"))
    )

    <div class="row hidden" style="background-color: white;">
        <div class="col-md-12 colpadding0">

            @(Html.Kendo().Grid<BM_ManegmentServices.VM.Dashboard.MyCompliance_Director_ResultVM>()
        .Name("gridKendo")
        .Columns(columns =>
        {
            columns.Bound(o => o.CompanyName).Title("Name").Width("40%");
        })
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        //.Scrollable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .AutoBind(Model.ShowCompliancePerformnce)
        //.Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu(col => col.Columns(false))
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(o => o.EntityId);
            model.Field(o => o.ComplianceStatus);
        })
        .Read(read => read.Url("/api/Dashboard/MyCompliances_Director").Data("filterFinancialYear").Type(HttpVerbs.Get))
        //.Read(read => read.Action("CountsDetails","Dashboard", new { roleId  = 3}).Type(HttpVerbs.Get))
        ).HtmlAttributes(new { @style = "width:100%" })
            )
        </div>
    </div>

    <div class="row box-shape mt30 @hidden" style="height:50px;">
        <div class="col-md-12 vertical-center">
            <div class="col-md-3">
                @(Html.Kendo().MultiSelect()
                .Name("ddlEntity")
                .AutoWidth(true)
                .DataTextField("Name")
                .DataValueField("Id")
                .Placeholder("Company-All")
                .ClearButton(false)
                .ItemTemplate("<input type='checkbox'/>  #:data.Name# ")
                .TagMode(TagMode.Single)
                .Events(e => e.Change("ddlEntityIdChanged"))
                .Events(e => e.DataBound("adjustDropDownWidth"))
                .Events(e => e.Open("Multiselect_Open"))
                .Events(e => e.Close("Multiselect_Close"))
                .HtmlAttributes(new { style = "width: 98%;" }))
            </div>

            <div class="col-md-2">
                @(Html.Kendo().DropDownList()
                .Name("ddlFYtoDate")
                .AutoWidth(true)
                .Events(e => e.Change("ddlFYtoDateChanged"))
                .Events(e => e.DataBound("resizeDropDown"))
                .BindTo(new SelectList(new List<object> {
                            new {id="CYTD",text="Current Financial YTD"},
                            new {id="CPYTD",text="Current + Previous Financial YTD"},
                            new {id="All",text="All"},
                }, "id", "text")).Value("CYTD").HtmlAttributes(new { @class = "abc", style = "width: 90%;" }))
            </div>

            <div class="col-md-2">
                <button id="btnClearFilter" class="show-all-text-button hidden" onclick="clearFilter()" style="margin-top:5px;">
                    <img src="~/Areas/BM_Management/img/clear-all.svg"> Clear All
                </button>
            </div>
        </div>
    </div>

    <div class="row box-shape mt30 hidden" style="background-color:white; padding:15px;">
        <div class="col-md-12 colpadding0">
            <div class="col-md-4">

                <div id="myCalendar" class="responsive-calendar">
                    <div class="chart-loading"></div>
                    <div class="controls">
                        <a class="pull-left" data-go="prev">
                            <img src="/Areas/BM_Management/img/calendar-left.png" />
                            @*<div class="btn btn-primary" style="line-height:19px"><</div>*@
                        </a>
                        <h4><span data-head-month></span>&nbsp;<span data-head-year></span></h4>
                        <a class="pull-right" data-go="next">
                            <img src="/Areas/BM_Management/img/calendar-right.png" />
                            @*<div class="btn btn-primary" style="line-height:19px">></div>*@
                        </a>
                    </div>
                    <hr style="margin-top: 10px;margin-bottom: 0px;" />
                    <div class="day-headers">
                        <div class="day cal-header">Mon</div>
                        <div class="day cal-header">Tue</div>
                        <div class="day cal-header">Wed</div>
                        <div class="day cal-header">Thu</div>
                        <div class="day cal-header">Fri</div>
                        <div class="day cal-header">Sat</div>
                        <div class="day cal-header">Sun</div>
                    </div>
                    <div class="days" data-group="days">
                    </div>

                    <div class="row col-md-12 colpadding0">
                        <div class="col-md-4">
                            <div class="calendar-legend" style="background-color: #67d1c0;"></div><span class="sub-head-span">All Completed</span>
                        </div>

                        <div class="col-md-8">
                            <div class="calendar-legend" style="background-color: #e8817d;"></div><span class="sub-head-span">One or more compliances are due</span>
                        </div>
                    </div>
                    <div class="row col-md-12 colpadding0">
                        <div class="col-md-4">
                            <div class="calendar-legend" style="background-color: #608ff9;"></div><span class="sub-head-span">Upcoming</span>
                        </div>
                        <div class="col-md-8">
                            <div class="calendar-legend" style="background-color: #f0c968;"></div><span class="sub-head-span">One or more compliances are completed after due date</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row mt30 @hidden">
        <div class="col-md-12 colpadding0">
            <label class="box-header">Compliance Performance</label>
        </div>
    </div>

    <div class="row @hidden" style="background-color:white; margin-top:10px;">
        <div class="col-md-12 colpadding0">
            <div class="col-md-4 colpadding0">
                <div class="col-md-7 colpadding0">
                    <div class="Overall-Completion-S">Overall Completion Status</div>
                </div>
                <div class="col-md-4 colpadding0">
                    @(Html.Kendo().DropDownList()
                                .Name("ddlComplianceStatusFilter")
                                .Events(e => e.Change("ddlComplianceStatusFilterChanged"))
                                .BindTo(new SelectList(new List<object> {
                                            new {id="All",text="All"},
                                            new {id="Overdue",text="Overdue"},
                                            new {id="CT",text="Closed-Timely"},
                                            new {id="CD",text="Closed-Delayed"},
                               }, "id", "text")).HtmlAttributes(new { style = "width: 98%; margin-top:8px; float:right; text-align:right;" })
                    )
                </div>
            </div>
            <div class="col-md-8 colpadding0">
                <div class="col-md-6 colpadding0">
                    <div id="divComplianceStatusNew" class="Overall-Completion-S">All Compliances by Company</div>
                </div>
                <div class="col-md-6 colpadding0" data-bind="source:series" data-template="legendItemTemplate" id="legend" style="margin-top:15px;">
                </div>
            </div>
        </div>
    </div>

    <div class="row box-shape @hidden">
        <div class="col-md-12 colpadding0">
            <div class="col-md-4 colpadding0">

                <div class="col-md-8 colpadding0">
                    <div class="chart-wrap" style="position: relative;">
                        <div id="chart" class="small-chart"></div>
                        <div class="chart-loading"></div>
                    </div>
                </div>

                <div class="col-md-4 colpadding0">
                    <div class="col-md-12 colpadding0" style="padding-top:10px;">
                        <table style="width:99%">
                            <tr>
                                <td class="donut-Rectangle1"></td>
                                <td class="compliance-status-pl donut-count-heading"><div id="divDonutCTCount">0</div></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="compliance-status-pl donut-count-sub-heading">Closed-Timely</td>
                            </tr>

                            <tr>
                                <td class="donut-Rectangle2"></td>
                                <td class="compliance-status-pl donut-count-heading"><div id="divDonutCDCount">0</div></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="compliance-status-pl donut-count-sub-heading">Closed-Delayed</td>
                            </tr>

                            <tr>
                                <td class="donut-Rectangle3"></td>
                                <td class="compliance-status-pl donut-count-heading"><div id="divDonutOCount">0</div></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="compliance-status-pl donut-count-sub-heading">Overdue</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-8 colpadding0">
                @*<div class="col-md-1 colpadding0">
                        <div class="bar-Path-19"></div>
                    </div>*@
                <div class="col-md-12 colpadding0" style="vertical-align:central;">
                    <table style="width:99%">
                        <tr>
                            <td style="width:15px;">
                                <a id="barNavigationLeft" class="hidden" style="cursor:pointer" onclick="barChartNavigationChange('left')">
                                    <img class="hoverCircle" src="/Areas/BM_Management/img/calendar-left.png">
                                </a>
                            </td>
                            <td>
                                <div id="chart-bar" class="small-bar-chart"></div>
                            </td>
                            <td style="width:15px;">
                                <a id="barNavigationRight" class="hidden" style="cursor:pointer" onclick="barChartNavigationChange('right')">
                                    <img class="hoverCircle" src="/Areas/BM_Management/img/calendar-right.png">
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt30 colpadding0">
        <div class="col-md-6 colpadding0">
            <div class="row">
                <div class="col-md-12 colpadding0">
                    <label class="box-header">Upcoming Meetings</label>
                </div>
            </div>

            <div class="row box-shape" style="margin-top:10px;min-height:250px; max-height:300px;">
                <div class="col-md-12 colpadding0" style="background-color:white;">
                    <div style="height:30px;width:100%;">
                        @*<button class="show-all-text-button" onclick="showAllUpcommingMeeting()">Show All</button>*@
                        <a href="@Url.Action("UpcomingMeetings","DirectorMeetings")" role="button" class="show-all-text-button">Show All</a>
                    </div>

                    <div style="border-bottom: solid 1px #eeeeee;padding-top: 7px;margin: 0px 18px 0px;"></div>
                    <div>

                        @(Html.Kendo().Grid<BM_ManegmentServices.VM.Dashboard.MeetingListVM>()
                    .Name("upcommingMeetingGrid")
                    .NoRecords()
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.RSPV).Visible(false);
                        columns.Bound(c => c.EntityId).Visible(false);
                        columns.Bound(c => c.MeetingTypeId).Visible(false);
                        columns.Bound(c => c.EntityName).Title("")
                        .ClientTemplate("<div>#= GetMeetingsDetailsDashboard(data)#</div>").Sortable(false).Filterable(false);
                        //columns.Bound(c => c.MeetingTypeId).Visible(true);
                        //columns.Bound(c => c.MeetingID).Title("")

                        //.ClientTemplate("<div class='row colpadding0'><div class='col-md-12 colpadding0'><div class='groupbutton' Id='select-period#=data.uid#' style='width: 35%;'><span onclick='groupbuttonindex(this);' id='gropbtnyes#=data.uid#' style='width:60%' class='gbtnyes' >Yes</span><span onclick='groupbuttonindex(this);' id='gropbtnno#=data.uid#' style='width:60%'>No</span><span onclick='groupbuttonindex(this);' id='gropbtnmaybe#=data.uid#' style='width:60%'>Maybe</span></div></div></div><div class='row colpadding0 mt30'><div class='col-md-12 colpadding0'><input style='display:none' id='rdbRemark#=data.uid#' style='width:100%' class='k-input k-textbox' type='textbox' style='width: 90%;' value='#=ReasonforRSPV !=null?ReasonforRSPV:''#' onchange='setDataItemforRemark(this);' #= ReasonforRSPV # placeholder='Remark'></div></div><div class='row colpadding0 mt30'><div class='col-md-12 colpadding0'><div class='col-md-2 colpadding0'><button type='button' id='saveppcom#=data.uid#' class='btn btn-primary button1' onclick='saveupcomingMeetings(this)' style='width: 45%;'>Save</button></div><div class='col-md-2 colpadding0'><button type='button' id='btnjoinmeeting#=data.uid#' class='btn btn-primary button1' onclick='JoinMeetings(this)' style='width: 85%;'>Join Meeting</button></div><div></div>").HtmlAttributes(new { style = "width:10%" }).Sortable(false).Filterable(false);

                    })
                    .Pageable(pageable => pageable
                    .Refresh(false)
                    .PageSizes(false)
                    .ButtonCount(5))
                    .Events(e => e.DataBound("onUpcommingMeetingRowBoundDashboard"))
                    .DataSource(dataSource => dataSource
                    .WebApi()
                    .PageSize(4)
                    .ServerOperation(false)
                    .Model(model =>
                    {
                        model.Id(o => o.MeetingID);
                    })
                    .Read(read => read.Action("UpcommingMetting", "DirectorMeetings"))
                    ).HtmlAttributes(new { @style = "width:99%; height: 250px;" })
                        )

                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 colpadding-right-0">
            <div class="row">
                <div class="col-md-12 colpadding0">
                    @*<label class="Compliance-Performan">Action Taken Report Status</label>*@
                    <label class="box-header">Action Taken Report Status</label>
                </div>
            </div>

            <div class="row box-shape" style="margin-top:10px; min-height:250px; max-height:300px;">
                <div class="col-md-12 colpadding0" style="background-color:white;">

                    <div style="height:30px;width:100%;">
                        @*<button class="show-all-text-button" onclick="showAllTask()">Show all</button>*@
                        <a href="@Url.Action("MyTask","Task")" role="button" class="show-all-text-button">Show All</a>
                    </div>

                    <div style="padding-top: 7px;"></div>
                    <div>

                        @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMTask>()
                        .Name("gridKendoTask")
                        .Columns(columns =>
                        {
                            columns.Bound(o => o.Id).Visible(false);
                            columns.Bound(o => o.TaskTitle).Title("Task Title").HtmlAttributes(new { @style = "width:30%" });
                            columns.Bound(o => o.DueDate).ClientTemplate("#= DueDate == null ? '' : kendo.toString(DueDate, \"dd-MMM-yyyy\")#").Title("Due Date").HtmlAttributes(new { @style = "width:10%" });
                            columns.Bound(o => o.status).Title("Status").HtmlAttributes(new { @style = "width:20%" });
                            //columns.Bound(o => o.RoleName).Title("Role").HtmlAttributes(new { @style = "width:10%" });
                            //columns.Command(command =>
                            //{
                            //    command.Custom("View").Click("editTask").HtmlAttributes(new { @class = "k-grid-view" });
                            //}).Title("Action").HtmlAttributes(new { @style = "width:10%" });
                        })
                        //.EnableCustomBinding(true)
                        .Events(e => e.DataBound("onRowBoundTaskGrid"))
                        .Navigatable()
                        .Pageable(pageable => pageable
                        .Refresh(false)
                        .PageSizes(false)
                        .ButtonCount(5))
                        //.Filterable()
                        //.Sortable()
                        .HtmlAttributes(new { @style = "width:99%; height: 250px;" })
                        .Reorderable(reorderable => reorderable.Columns(true))
                        .Resizable(resizable => resizable.Columns(true))
                        //.ColumnMenu()
                        .DataSource(dataSource => dataSource
                        .WebApi()
                        .PageSize(4)
                        .ServerOperation(false)
                        .Model(model =>
                        {
                            model.Id(o => o.Id);
                        })
                        .Read(read => read.Url("/api/TaskAPI/GetTaskDetails?loadTask=true&loadReview=false").Type(HttpVerbs.Get))
                        ))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Global Variables -->
<script>
    var initialLoad = true;
    var donutFilterChange = true;
    var barComplianceCategory = "All";
    var _EntityId = "";
    var _Status = "";

    var Globals = {};
</script>

<!-- Header Counts-->
<script>

    $(document).ready(function () {

        $(window).on('load', function() {
            $("#divDashboard").css('opacity', 1);
        });

        kendo.ui.progress($("myCalendar"), true);

        var breadCrumbData = [
            {
                displayText: "My Dashboard",
                navigateUrl: "#",
            },
        ];

        setBreadCrumb(breadCrumbData);

        // Spin all loading indicators on the page
        kendo.ui.progress($(".chart-loading"), true);

        loadCount();
        //url: "/api/Dashboard/MyCompliances_Director?roleId=3",
    });

    function loadCount() {
        $.ajax({
            url: "/api/Dashboard/CountForDirector",
            type: "Get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            //data: '{}',
            success: function (result) {
                $("#divEntitiesCount")[0].innerHTML = result.Entities;
                $("#divDirectorCount")[0].innerHTML = result.Directors;
                $("#divMeetingsCount")[0].innerHTML = result.Meetings;
                $("#divAgendasCount")[0].innerHTML = result.Agenda;
                $("#divDraftMinutesCount")[0].innerHTML = result.Drafts;
            }
        });
    }
</script>

<!-- Filter -->
<script>
    $(document).ready(function () {

        if ($('#sidebar').is(":visible") === true) {
            $('#main-content').css({
                'margin-left': '5%'
            });
            $('#sidebar').css({
                'margin-left': '-15%'
            });
            $('#sidebar').hide();
            $('#sidebar-small').show();
            $('#sidebar-small').css({
                'display': 'block'
            });
            $("#container").addClass("sidebar-closed");
        }

        $('#ddlEntity').parents('.k-multiselect').parent().on('click', '.k-multiselect', function () {
            if (!Globals.MultiSelectIsOpening) {
                $('#ddlEntity').data('kendoMultiSelect').toggle();
            }
        });

    });

    function ddlEntityIdChanged() {
        donutFilterChange = true;
        barComplianceCategory = "All";

        var ddlComplianceStatusFilter = $("#ddlComplianceStatusFilter").data("kendoDropDownList");
        ddlComplianceStatusFilter.value("All");

        filterChange();
    }

    function ddlFYtoDateChanged() {
        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.read();
    }

    function ddlComplianceStatusFilterChanged(e) {
        donutFilterChange = false;
        //filterChange();

        var filter = getFilters();

        var ddlComplianceStatusFilter = $("#ddlComplianceStatusFilter").data("kendoDropDownList");
        var ddlComplianceStatusValue = ddlComplianceStatusFilter.value();

        switch (ddlComplianceStatusValue) {
            case "All":
                barComplianceCategory = "All";
                break;
            case "Overdue":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Overdue" });
                barComplianceCategory = "Overdue";
                break;
            case "CD":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Closed-Delayed" });
                barComplianceCategory = "Closed-Delayed";
                break;
            case "CT":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Closed-Timely" });
                barComplianceCategory = "Closed-Timely";
                break;
        }


        $('#divComplianceStatusNew')[0].innerHTML = barComplianceCategory + " Compliances by Company";
        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.filter(filter);

        //fillCharts();
    }

    function filterChange() {
        
        var filter = getFilters();
        grid = $("#gridKendo").data("kendoGrid");

        if (filter.filters.length > 0) {
            grid.dataSource.filter(filter);

            $("#btnClearFilter").removeClass("hidden");
        }
        else {
            grid.dataSource.filter([]);
            $("#btnClearFilter").addClass("hidden");
        }
    }

    function getFilters() {
        
        var filter = { logic: "and", filters: [] };

        var ddlEntityId = $("#ddlEntity").data("kendoMultiSelect");
        var selectedValues = ddlEntityId.value();

        var filterEntity = { logic: 'or', filters: [] };
        if (selectedValues.length > 0) {
            for (var i = 0; i < selectedValues.length; i++) {
                filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedValues[i]) });
            }
            filter.filters.push(filterEntity);
        }

        //var ddlComplianceStatusFilter = $("#ddlComplianceStatusFilter").data("kendoDropDownList");
        //var ddlComplianceStatusValue = ddlComplianceStatusFilter.value();

        //if (ddlComplianceStatusValue != "All") {
        //    switch (ddlComplianceStatusValue) {
        //        case "Overdue":
        //            filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Overdue" });
        //            break;
        //        case "CD":
        //            filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Closed-Delayed" });
        //            break;
        //        case "CT":
        //            filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Closed-Timely" });
        //            break;
        //    }
        //}

        return filter;
    }
</script>

<!-- Charts -->
<script>
    function onRowBound(e) {
        
        fillCharts(e);

        fillCalendarData();
    }

    const centerStyle = document.body.appendChild(document.createElement('style'));
    function findCenter() {
        
        //var plot = this.plotBox;
        var plot = this._plotArea.box;
        centerStyle.textContent =
        `.k-chart-point, .k-chart-halo {
          transform-origin: (50)px (100 / 2)px;
        }`;

        //  	 transform-origin: ${plot.width / 2}px ${plot.height / 2}px;
        console.log(centerStyle.textContent);
    }


    function fillCharts() {

        var grid = $("#gridKendo").data("kendoGrid");
        //var gridData = grid.dataSource.data();
        var data = grid.dataSource.data();
        var gridAllData = grid.dataSource.data();

        var filters = grid.dataSource.filter();

        var query = new kendo.data.Query(gridAllData);
        var gridData = query.filter(filters).data;

        var lookup = {};
        var lookupData = {};
        var result = { items: [] };

        var lookupEntity = {};
        var lookupEntityData = {};
        var lstEntities = [];
        var resultEntity = { items: [] };

        lookupData["Overdue"] = { "Category": "Overdue", "Response_Count": 0, "Color": "#e26e6a", "isExplode": false, "Percentage" : 0 };
        //lookupData["Upcoming"] = { "Category": "Upcoming", "Response_Count": 0, "Color": "yellow" };
        lookupData["CD"] = { "Category": "Closed-Delayed", "Response_Count": 0, "Color": "#f0ca68", "isExplode": false, "Percentage" : 0 };
        lookupData["CT"] = { "Category": "Closed-Timely", "Response_Count": 0, "Color": "#5ecbba", "isExplode": false, "Percentage" : 0 };

        for (var i = 0; i < gridData.length; i++) {

            var EntityId = gridData[i].EntityId;
            if (EntityId <= 0) {
                continue;
            }
            if (!(EntityId in lookupEntity)) {
                lookupEntity[EntityId] = 1;
                lstEntities.push({ "Id": gridData[i].EntityId, "Name": gridData[i].CompanyName });
                lookupEntityData[EntityId] = { "EntityId": gridData[i].EntityId, "Name": gridData[i].CompanyName, "High": 0, "Medium": 0, "Low": 0, "Overdue": 0, "CD": 0, "CT": 0 };
            }

            switch (gridData[i].ComplianceStatus) {
                case "Overdue":
                    lookupData["Overdue"].Response_Count++;
                    lookupEntityData[EntityId].Overdue++;
                    break;
                case "Closed-Delayed":
                    lookupData["CD"].Response_Count++;
                    lookupEntityData[EntityId].CD++;
                    break;
                case "Closed-Timely":
                    lookupData["CT"].Response_Count++;
                    lookupEntityData[EntityId].CT++;
                    break;
            }

            //var EntityId = gridData[i].EntityId;

            //if (!(EntityId in lookupEntity)) {
            //    lookupEntity[EntityId] = 1;
            //    lstEntities.push({ "Id": gridData[i].EntityId, "Name": gridData[i].CompanyName });
            //    lookupEntityData[EntityId] = { "EntityId": gridData[i].EntityId, "Name": gridData[i].CompanyName, "High": 0, "Medium": 0, "Low": 0 };
            //}

            switch (gridData[i].ComplianceStatus) {
                case "Overdue":
                case "Closed-Delayed":
                case "Closed-Timely":

                    switch (gridData[i].Risk) {
                        case "High":
                            lookupEntityData[EntityId].High++;
                            break;
                        case "Medium":
                            lookupEntityData[EntityId].Medium++;
                            break;
                        case "Low":
                            lookupEntityData[EntityId].Low++;
                            break;
                        case "Critical":
                            lookupEntityData[EntityId].Critical++;
                            break;
                    }
                    break;
            }

            //switch (gridData[i].Risk) {
            //    case "High":
            //        lookupEntityData[EntityId].High++;
            //        break;
            //    case "Medium":
            //        lookupEntityData[EntityId].Medium++;
            //        break;
            //    case "Low":
            //        lookupEntityData[EntityId].Low++;
            //        break;
            //}
        }

        var tot = (lookupData["Overdue"].Response_Count + lookupData["CD"].Response_Count + lookupData["CT"].Response_Count);
        if(tot >0){
            lookupData["Overdue"].Percentage = ((lookupData["Overdue"].Response_Count / tot) * 100).toFixed(2);
            lookupData["CD"].Percentage = ((lookupData["CD"].Response_Count / tot) * 100).toFixed(2);
            lookupData["CT"].Percentage = ((lookupData["CT"].Response_Count / tot) * 100).toFixed(2);
        }

        result.items.push(lookupData["Overdue"]);
        result.items.push(lookupData["CD"]);
        result.items.push(lookupData["CT"]);

        var ds = new kendo.data.DataSource({
            data: result.items,
            schema: {
                model: {
                    id: "EntityId",
                    fields: {
                        CompanyName: { editable: false },
                        Overdue: { editable: false },
                        Upcoming: { editable: false }
                    }
                }
            },
        });

        if (donutFilterChange) {
            createDonut(ds);

            $('#divDonutCDCount')[0].innerHTML = lookupData["CD"].Response_Count;
            $('#divDonutCTCount')[0].innerHTML = lookupData["CT"].Response_Count;
            $('#divDonutOCount')[0].innerHTML = lookupData["Overdue"].Response_Count;
        }

        for (var i = 0; i < lstEntities.length; i++) {
            resultEntity.items.push(lookupEntityData[lstEntities[i].Id]);
        }
        var r = lstEntities.length % 7;
        if(r > 0){
            var tName = " ";
            while( r < 7){
                lookupEntityData[( r * -1)] = { "EntityId": ( r * -1), "Name": tName, "High": 0, "Medium": 0, "Low": 0, "Overdue": 0, "CD": 0, "CT": 0 };
                tName = tName + " ";
                resultEntity.items.push(lookupEntityData[( r * -1)]);
                r++;
            }
        }

        var dsBarChart = new kendo.data.DataSource({
            data: resultEntity.items,
            pageSize: 7,
            schema: {
                model: {
                    id: "EntityId",
                    fields: {
                        CompanyName: { editable: false },
                    }
                }
            },
        });

        createChart(dsBarChart);

        if (initialLoad) {
            initialLoad = false;

            var dsEntity = new kendo.data.DataSource({
                data: lstEntities,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Name: { editable: false },
                        },
                        hasChildren: false
                    }
                },
            });

            var ddlEntity = $("#ddlEntity").data("kendoMultiSelect");
            ddlEntity.setDataSource(dsEntity);
            //ddlEntity
            //$("#ddlEntity").kendoMultiSelect({
            //    dataSource: dsEntity,
            //    dataTextField: "Name",
            //    dataValueField: "Id",
            //    value :0,
            //    //optionLabel: "Entity",
            //    index: 0
            //});
        }
    }

    function onSeriesClick(e, v) {
        
        donutFilterChange = false;
        var filter = getFilters();

        var ddlComplianceStatusFilter = $("#ddlComplianceStatusFilter").data("kendoDropDownList");
        //var ddlComplianceStatusValue = ddlComplianceStatusFilter.value();

        switch (e.dataItem.Category) {
            case "Overdue":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Overdue" });
                barComplianceCategory = "Overdue";

                ddlComplianceStatusFilter.value("Overdue");
                break;
            case "Closed-Delayed":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Closed-Delayed" });
                barComplianceCategory = "Closed-Delayed";

                ddlComplianceStatusFilter.value("CD");
                break;
            case "Closed-Timely":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Closed-Timely" });
                barComplianceCategory = "Closed-Timely";

                ddlComplianceStatusFilter.value("CT");
                break;
        }

        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.filter(filter);

        //fillCharts();

        //Explode
        $.each(e.sender.dataSource.view(), function () {
            // Clean up exploded state
            this.isExplode = false;
        });
        
        // Disable animations
        e.sender.options.transitions = false;

        // Explode the current slice
        e.dataItem.isExplode = true;
        e.sender.refresh();
        //End
    }

    function createDonut(ds) {

        $("#chart").kendoChart({
            dataSource: ds,
            seriesClick: onSeriesClick,
            //render: findCenter,
            render: function (e) {
                // Clear up the loading indicator for this chart
                var loading = $(".chart-loading", e.sender.element.parent());
                kendo.ui.progress(loading, false);
            },
            title: {
                text: "Details title",
                //position: "bottom",
                visible: false
            },
            chartArea: {
                // background: "transparent"
            },
            legend: {
                position: "left",
                visible: false,
            },
            seriesDefaults: {
                type: "donut",
                //holeSize: 60,
                overlay: { gradient: "none" },
                labels: {
                    template: "#= kendo.format('{0:P}', dataItem.Percentage)#%",
                    position: "outsideEnd",
                    visible: true,
                    distance: 15,
                    background: "transparent"
                }
            },
            series: [{
                field: "Response_Count",
                categoryField: "Category",
                colorField: "Color",
                explodeField: "isExplode",
                //holeSizeField: "holeSize",
                holeSize: 60,
                //padding: 0
            }],
            tooltip: {
                visible: true,
                format: "N0",
                template: "#= chartToolTipTemplate(dataItem.Category, dataItem.Response_Count, dataItem.Percentage) #"
            },
            seriesHover: function (e) {

            }
        });

    }

    function chartToolTipTemplate(category, count, per) {
        return "<div>" + category + " : " + count + " ("+ per +"%)</div>";
    }

    function onChartBarDataBound(){
        $('#barNavigationLeft').removeClass('hidden');
        $('#barNavigationRight').removeClass('hidden');
        var tot = $("#chart-bar").data("kendoChart").dataSource.totalPages();
        var current = $("#chart-bar").data("kendoChart").dataSource.page();
        if(tot <= 1){
            $('#barNavigationLeft').addClass('hidden');
            $('#barNavigationRight').addClass('hidden');
        }
        else{
            if(current == 1){
                $('#barNavigationLeft').addClass('hidden');
            }else if(current == tot){
                $('#barNavigationRight').addClass('hidden');
            }
        }
    }
    function barChartNavigationChange(v){
        $("#chart-bar").data("kendoChart");
        var tot = $("#chart-bar").data("kendoChart").dataSource.totalPages();
        var current = $("#chart-bar").data("kendoChart").dataSource.page();
        if(v == 'left'){
            if(current > 1){
                $("#chart-bar").data("kendoChart").dataSource.page((current -1));
            }
        }else{
            if(current < tot){
                $("#chart-bar").data("kendoChart").dataSource.page((current + 1));
            }
        }
    }

    function createChart(ds) {
        
        var barGap = 2;

        var ddlComplianceStatusFilter = $("#ddlComplianceStatusFilter").data("kendoDropDownList");
        var ddlComplianceStatusValue = ddlComplianceStatusFilter.value();

        var SeriesStatuswise = [
            {
                field: "Overdue",
                categoryField: "Name",
                name: "Overdue",
                color: "#e16e6a",
                width: 20,
            },
            {
                field: "CD",
                categoryField: "Name",
                name: "Closed-Delayed",
                color: "#ffd877",
            },
            {
                field: "CT",
                categoryField: "Name",
                name: "Closed-Timely",
                color: "#5ecab9",
            }
        ];

        var SeriesStatuswise1 = [
            {
                field: "Critical",
                categoryField: "Name",
                name: "Critical",
                color: "#731711",
                //color: "#9a2b23",
                width: 20,
            },
            {
                field: "High",
                categoryField: "Name",
                name: "High",
                color: "#b03830",
                //color: "#9a2b23",
                width: 20,
            },
            {
                field: "Medium",
                categoryField: "Name",
                name: "Medium",
                color: "#e16e6a",
                //color: "#d0665f",
            },
            {
                field: "Low",
                categoryField: "Name",
                name: "Low",
                color: "#ecc1c1",
                //color: "#e4a19c",
            }
        ];

        if (ddlComplianceStatusValue == "All") {
            //$('#divAllStatus1').addClass("hidden");
            //$('#divAllStatus').removeClass("hidden");
        }
        else {
            //$('#divAllStatus1').removeClass("hidden");
            //$('#divAllStatus').addClass("hidden");
            SeriesStatuswise = [
                {
                    field: "Critical",
                    categoryField: "Name",
                    name: "Critical",
                    color: "#731711",
                    width: 20,
                },
                {
                    field: "High",
                    categoryField: "Name",
                    name: "High",
                    color: "#b03830",
                    //color: "#9a2b23",
                    width: 20,
                },
                {
                    field: "Medium",
                    categoryField: "Name",
                    name: "Medium",
                    color: "#e16e6a",
                    //color: "#d0665f",
                },
                {
                    field: "Low",
                    categoryField: "Name",
                    name: "Low",
                    color: "#ecc1c1",
                    //color: "#e4a19c",
                }
            ];
        }

        $("#chart-bar").kendoChart({
            dataSource: ds,
            pageable: { pageSizes: true },
            dataBound: onChartBarDataBound,
            seriesClick: onBarSeriesClick,
            title: {
                text: barComplianceCategory + " Compliance by Company",
                visible: false
            },
            legend: {
                position: "top",
                visible: false,
            },
            seriesDefaults: {
                type: "column",
                stack: true,
                overlay: { gradient: "none" },
                //width: 2,
                //gap: barGap,
            },
            axisDefaults: {
                labels: {
                    font: "12px Montserrat, sans-serif"
                },
            },
            series: SeriesStatuswise,
            categoryAxis: {
                //labels: {
                //    //rotation: 90
                //},
                majorGridLines: {
                    visible: false
                },
                labels: {
                    template: labelTemplate,
                    visual: function (e) {
                        var labelVisual = e.createVisual();
                        labelVisual.options.tooltip = {
                            animation: false,
                            autoHide: true,
                            content: e.value
                        };
                        return labelVisual;
                    }
                }
            },
            valueAxis: {
                //labels: {
                //    format: "N0",
                //    rotation: "auto"
                //},
                line: {
                    visible: false
                },
                majorGridLines: {
                    visible: false
                }
            },
            tooltip: {
                visible: true,
                template: "#= series.name #: #= value #"
            },

        });

        var chart = $("#chart-bar").data("kendoChart");

        var viewModel = kendo.observable({
            series: chart.options.series,
            onMouseEnter: function (e) {
                var name = e.data.name;
                var series = chart.findSeriesByName(name);
                series.toggleHighlight(true);
            },
            onMouseLeave: function (e) {
                var name = e.data.name;
                var series = chart.findSeriesByName(name);
                series.toggleHighlight(false);
            },
            onClick: function (e) {
                var name = e.data.name;
                var series = chart.findSeriesByName(name);

                if (e.data.visible) {
                    series.toggleVisibility(false);
                }
                else {
                    series.toggleVisibility(true);
                }

                e.data.set("visible", !e.data.visible);
            },
            markerColor: function (e) {
                return e.get("visible") ? e.color : "grey";
            }
        });

        kendo.bind($("#legend"), viewModel);
    }

    function labelTemplate(e) {

        return e.value.split(" ")[0];
    }

    function labelTemplate1(e) {
        return e.value.split(" ").join("\n");
    }

    function onUpcommingMeetingRowBoundDashboard() {

        var grid = $("#upcommingMeetingGrid").data("kendoGrid");
        var gridData = grid.dataSource.view();
        var data = grid.dataSource.data();

        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 0px 0 #fff");
            //box-shadow : !important
        });

        DisplayNoResultsFound( $("#upcommingMeetingGrid"),'No Upcoming Meetings to Show!');
    }

    function GetMeetingName(meetingType, SrNo,FY){
        var strMeetingName='';
        var strMeetingNo='';
        
        if(SrNo==1){
            strMeetingNo=SrNo+'st';
        }else if(SrNo==2){
            strMeetingNo=SrNo+'nd';
        }else if(SrNo==3){
            strMeetingNo=SrNo+'rd';
        }else {
            strMeetingNo=SrNo+'th';
        }

        strMeetingName=strMeetingNo + '/' + FY+' '+ meetingType+' Meeting';
        return strMeetingName;
    }


    function GetMeetingsDetailsDashboard(data) {
        
        var str = "";

        var color = "#017fbe";
        var text = "";
        var colorCode = "";

        if (data.RSPV != null) {
            if (data.RSPV == "Yes") {
                text = "<span style='color:#259987;background-color:#d7fccd;padding: 5px 14px 5px;border-radius: 34px;max-height: 3px;'>Yes</span>";
                colorCode = "#10bc83";
            }
            else if (data.RSPV == "No") {
                text = "<span style='color:#b03830;background-color:#ffdcda;padding: 5px 14px 5px;border-radius: 34px;max-height: 3px;'>No</span>";
                colorCode = "#d03d3d";
            }
            else if (data.RSPV == "Maybe") {
                text = "<span style='color:#cf8224;background-color:#ffefc7;padding: 5px 13px 5px;border-radius: 34px;max-height: 3px;'>Maybe</span>";
                colorCode = "#10bc83";
            }
        }
        var day = moment(data.MeetingDated).format('DD');
        str += "<div>" +
            "<table cellpadding='0' cellspacing='0' style='width:100%;table-layout:fixed;'>" +
            "<tbody>" +
                "<tr>" +
                    "<td style='vertical-align:top;width:50px;text-align:center;'>" +
                        "<table cellpadding='0' cellspacing='0' style='width:45px;margin:0px auto;border:1px solid rgb(224, 224, 224);border-radius:5px;'><tbody>" +
                        "<tr><td style='background-color:#008bcf;color:#ffffff;font-size:12px;line-height:12px;border-radius:4px 4px 0px 0px;'>" + data.Month + "</td></tr>" +
                        "<tr><td style='background-color:#e4f6ff;color:#008bcf;font-size:16px;line-height:16px;padding:5px 0px;'>" + data.Day + "</td></tr></tbody></table>" +
                    "</td>" +
            //"<td style='padding:0px 30px 0px 15px;vertical-align:top;'>" +
                    "<td style='border-left-width: 0px;'>" +
                        "<h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>" + GetMeetingName(data.MeetingTypeName, data.MeetingSrNo, data.FY)  + "</h1><p style='line-height:1.4;font-size:12px;'>" + data.EntityName + "</p>" +
                    "</td>" +
                    "<td style='width:70px;border-left-width:0px;text-align: end;'>" +
                        text +
                    "</td>" +
        "</tr></tbody></table>" +
        "<div style='border-bottom: solid 1px #eeeeee;padding-top: 2px;margin: 0px 10px 0px;'></div>" +
        "</div>";
        return str;
    }

    function showAllUpcommingMeeting() {

        var direction = "@Url.Action("UpcomingMeetings", "Dashboard")";

        var wnd = $("#wndUpcomingMeetings").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndUpcomingMeetings").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "85%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");
        opts.width = "85%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>

<script>
    function fillCalendarData() {
    
        var grid = $("#gridKendo").data("kendoGrid");
        var data = grid.dataSource.data();
        var gridAllData = grid.dataSource.data();

        var filters = grid.dataSource.filter();

        var query = new kendo.data.Query(gridAllData);
        var gridData = query.filter(filters).data;

        var lookupDates = {};
        var lookupScheduleData = {};
        var lookupScheduleDataNew = {};
        var lstDates = [];
        var resultScheduleDates = [];

        var lookup = {};
        var lookupData = {};
        var result = { items: [] };

        var lookupEntity = {};
        var lookupEntityData = {};
        var lstEntities = [];
        var resultEntity = { items: [] };

        lookupData["Overdue"] = { "Category": "Overdue", "Response_Count": 0, "Color": "#e26e6a", "isExplode": false };
        lookupData["CD"] = { "Category": "Closed-Delayed", "Response_Count": 0, "Color": "#f0ca68", "isExplode": false };
        lookupData["CT"] = { "Category": "Closed-Timely", "Response_Count": 0, "Color": "#5ecbba", "isExplode": false };
        lookupData["Upcoming"] = { "Category": "Upcoming", "Response_Count": 0, "Color": "#e26e6a", "isExplode": false };
        //

        for (var i = 0; i < gridData.length; i++) {

            var d = moment(gridData[i].ScheduleOn).format("YYYY-MM-DD");

            if (!(d in lookupDates)) {
                lookupDates[d] = 1;
                lookupScheduleData[d] = { "d": d, "Overdue": 0, "CD": 0, "CT": 0, "Upcoming": 0 };
                lstDates.push(d);
                lookupScheduleDataNew[d] = { "number": 10, "badgeClass": "badge-warning", "url": "#" };
                //resultScheduleDates.push({ d: { "number": 10, "badgeClass": "badge-warning" } });
            }

            switch (gridData[i].ComplianceStatus) {
                case "Overdue":
                    lookupData["Overdue"].Response_Count++;
                    lookupScheduleData[d].Overdue++;
                    break;
                case "Closed-Delayed":
                    lookupData["CD"].Response_Count++;
                    lookupScheduleData[d].CD++;
                    break;
                case "Closed-Timely":
                    lookupData["CT"].Response_Count++;
                    lookupScheduleData[d].CT++;
                    break;
                case "Upcoming":
                    lookupData["Upcoming"].Response_Count++;
                    lookupScheduleData[d].Upcoming++;
                    break;
            }
        }

        for (var i = 0; i < lstDates.length; i++) {
            var ov = lookupScheduleData[lstDates[i]].Overdue;
            var cd = lookupScheduleData[lstDates[i]].CD;
            var ct = lookupScheduleData[lstDates[i]].CT;
            var up = lookupScheduleData[lstDates[i]].Upcoming;

            if (ov > 0) {
                //lookupScheduleDataNew[lstDates[i]].number = ov;
                lookupScheduleDataNew[lstDates[i]].badgeClass = "badge-overdue";
            } else if (up > 0) {
                //lookupScheduleDataNew[lstDates[i]].number = up;
                lookupScheduleDataNew[lstDates[i]].badgeClass = "badge-upcoming";
            } else if (cd > 0) {
                //lookupScheduleDataNew[lstDates[i]].number = cd;
                lookupScheduleDataNew[lstDates[i]].badgeClass = "badge-closed-delayed";
            } else if (ct > 0) {
                //lookupScheduleDataNew[lstDates[i]].number = ct;
                lookupScheduleDataNew[lstDates[i]].badgeClass = "badge-closed-timely";
            }
            lookupScheduleDataNew[lstDates[i]].number = ov + cd + ct + up;
        }
        //fillCalendar(resultScheduleDates);
        fillCalendar(lookupScheduleDataNew);
    }


    function fillCalendar(data) {
        
        $(".responsive-calendar").responsiveCalendar({
            time: '2020-06',
            events:
                data
        });

        setInterval(setcolor, 1000);
    }

    function setcolor() {
        $('.badge-overdue').closest('div').find('a').css('background-color', '#e8817d');
        $('.badge-upcoming').closest('div').find('a').css('background-color', '#608ff9');
        $('.badge-closed-delayed').closest('div').find('a').css('background-color', '#f0c968');
        $('.badge-closed-timely').closest('div').find('a').css('background-color', '#67d1c0');

        if($("#myCalendar").closest('div').find('.chart-loading')!=null)
            $("#myCalendar").closest('div').find('.chart-loading').hide();
    }
</script>

<!-- Task -->
<script>
    function onRowBoundTaskGrid(e) {
        GetICons();
    }

    function showAllTask() {

        var direction = "@Url.Action("MyTaskForDashboard", "Task")";

        var wnd = $("#wndAllTask").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAllTask").kendoWindow({
            actions: ["Close"],
            position: {
                top: 100, // or "100px"
            },
            content: direction,
            width: "85%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");
        opts.width = "85%";
        wnd.setOptions(opts);
        //wnd.center();
        wnd.open();

    }

    function editTask(e) {
        e.preventDefault();

        $("#wndTask").attr("style", "min-height:100px;");

        $("#wndTask").kendoWindow({
            title: "Edit - Task",
        });
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("AddEditTask", "Task")" + "?Id=" + dataItem.Id + "&MeetingId=" + 0 + "&EntityId=" + 0 + "&AgendaId=" + 0;

        var wnd = $("#wndTask").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndTask").kendoWindow({
            title: "Edit - Entity Master",
            actions: [
                         "Pin",
                         "Minimize",
                         "Maximize",
                         "Close"
            ],
            content: direction,
            width: "90%",
            position: {
                top: 100, // or "100px"
            },

            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            close: function (e) {
                $(this.element).empty();
                $('#gridKendoTask').data('kendoGrid').dataSource.read();
                $('#gridKendoTask').data('kendoGrid').refresh();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                kendo.ui.progress(this.element, true);
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "90%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.refresh(direction);
        wnd.open();

    }
</script>
<!-- Compliance Details-->
<script>
    function onBarSeriesClick(e, v) {
        
        donutFilterChange = false;
        var entityId = e.dataItem.EntityId;
        var status = e.series.name;

        _EntityId = entityId;
        _Status = status;

        showComplianceDetails();
    }

    function showComplianceDetails() {

        var wnd = $("#wndComplianceDetails").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndComplianceDetails").kendoWindow({
            actions: ["Close"],
            // content: direction,
            width: "85%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () {
                kendo.ui.progress(this.element, true); fillComplianceGrid();
            },
            close: function (e) {
                //$(this.element).empty();
            }
        }).data("kendoWindow");
        opts.width = "95%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
        wnd.refresh();
    }

    function ddlFYtoDateComplianceDetailsChanged() {
        //var grid = $("#gridKendo").data("kendoGrid");
        //grid.dataSource.read();
    }

    function fillComplianceGrid() {
        
        var grid = $("#gridKendo").data("kendoGrid");

        var gridAllData = grid.dataSource.data();
        var filter = grid.dataSource.filter();

        //if (filter == undefined) {
        filter = { logic: "and", filters: [] };
        //}

        var ddlComplianceStatusFilter = $("#ddlComplianceStatusFilter").data("kendoDropDownList");
        var ddlComplianceStatusValue = ddlComplianceStatusFilter.value();

        var ddlStatusComplianceDetails = $("#ddlStatusComplianceDetails").data("kendoDropDownList");
        var ddlRiskComplianceDetails = $("#ddlRiskComplianceDetails").data("kendoDropDownList");

        switch (ddlComplianceStatusValue) {
            case "Overdue":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Overdue" });
                barComplianceCategory = "Overdue";
                ddlStatusComplianceDetails.value("Overdue");
                $("#btnClearFilterComplianceDetails").removeClass("hidden");
                break;
            case "CD":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Closed-Delayed" });
                barComplianceCategory = "Closed-Delayed";
                ddlStatusComplianceDetails.value("CD");
                $("#btnClearFilterComplianceDetails").removeClass("hidden");
                break;
            case "CT":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Closed-Timely" });
                barComplianceCategory = "Closed-Timely";
                ddlStatusComplianceDetails.value("CT");
                $("#btnClearFilterComplianceDetails").removeClass("hidden");
                break;
        }

        switch (_Status) {
            case "Overdue":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Overdue" });
                ddlStatusComplianceDetails.value("Overdue");
                $("#btnClearFilterComplianceDetails").removeClass("hidden");
                break;
            case "Closed-Delayed":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Closed-Delayed" });
                ddlStatusComplianceDetails.value("CD");
                $("#btnClearFilterComplianceDetails").removeClass("hidden");
                break;
            case "Closed-Timely":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Closed-Timely" });
                ddlStatusComplianceDetails.value("CT");
                $("#btnClearFilterComplianceDetails").removeClass("hidden");
                break;

            case "High":
                filter.filters.push({ field: "Risk", operator: "eq", value: "High" });
                ddlRiskComplianceDetails.value("High");
                $("#btnClearFilterComplianceDetails").removeClass("hidden");
                break;
            case "Medium":
                filter.filters.push({ field: "Risk", operator: "eq", value: "Medium" });
                ddlRiskComplianceDetails.value("Medium");
                $("#btnClearFilterComplianceDetails").removeClass("hidden");
                break;
            case "Low":
                filter.filters.push({ field: "Risk", operator: "eq", value: "Low" });
                ddlRiskComplianceDetails.value("Low");
                $("#btnClearFilterComplianceDetails").removeClass("hidden");
                break;
            case "Critical":
                filter.filters.push({ field: "Risk", operator: "eq", value: "Critical" });
                ddlRiskComplianceDetails.value("Critical");
                $("#btnClearFilterComplianceDetails").removeClass("hidden");
                break;
        }

        var query = new kendo.data.Query(gridAllData);
        var gridData = query.filter(filter).data;
        //var gridData = gridAllData;

        var dsComplianceDetails = new kendo.data.DataSource({
            data: gridData,
            schema: {
                model: {
                    id: "EntityId",
                    fields: {
                        CompanyName: { editable: false },
                    }
                }
            },
            pageSize: 10
        });

        bindGridComplianceDetails(dsComplianceDetails);
    }

    function bindGridComplianceDetails(dsComplianceDetails) {
        $("#gridComplianceDetails").kendoGrid({
            dataSource: dsComplianceDetails,
            columnMenu: {
                columns: false,
            },
            filterable: true,
            sortable: true,
            scrollable: true,
            pageable: {
                pageSizes: true
            },
            //dataBound: gridComplianceDetailsRowDataBound,
            columns: [
                { field: "EntityId", title: "EntityId", hidden: true, },
                { field: "CompanyName", title: "Company", width: "15%", attributes: { "class": "showTooltip", style: 'white-space: nowrap;' }, sortable: true, filterable: { extra: false, multi: true, search: true, } },

                { field: "DirectorId", title: "DirectorId", hidden: true, },

                //{ field: "FY", title: "FY", hidden: true, },
                //{ field: "FYText", title: "Financial Year", width: "15%", attributes: { style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "MeetingID", title: "MeetingID", hidden: true, },
                { field: "MeetingTitle", title: "Meeting", width: "15%", attributes: { "class": "showTooltip", style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "AgendaID", title: "AgendaID", hidden: true, },
                //{ field: "AgendaItemTextNew", title: "Agenda", width: "15%", attributes: { "class": "showTooltip", style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "ActID", title: "ActID", hidden: true, },
                { field: "ActName", title: "Act", width: "15%", attributes: { "class": "showTooltip", style: 'white-space: nowrap;' }, hidden: true, filterable: { multi: true, search: true, } },

                { field: "ComplianceInstanceID", title: "ComplianceInstanceID", hidden: true, },
                { field: "ScheduleOnID", title: "ScheduleOnID", hidden: true, },
                { field: "ShortDescription", title: "Compliance", width: "30%", attributes: { title: "#:Description#", style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "Frequency", title: "Frequency", hidden: true, filterable: { multi: true, search: true, } },
                { field: "ForMonth", title: "Period", hidden: true, filterable: { multi: true, search: true, } },

                { field: "Risk", title: "Risk", width: "7%", attributes: { style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

                { field: "ScheduleOn", title: "Due Date", width: "10%", template: "#= ScheduleOn == null ? '' : kendo.toString(kendo.parseDate(ScheduleOn), \"dd-MMM-yyyy\")#", attributes: { style: 'white-space: nowrap;' }, filterable: false, },

                { field: "ComplianceStatus", title: "Status", width: "8%", attributes: { style: 'white-space: nowrap;' }, filterable: { multi: true, search: true, } },

            ],
            editable: false,
        });

    }

    function ddlEntityComplianceDetails() {

        gridComplianceDetailsFilterChanged();
    }

    function getFiltersComplianceDetails() {
        
        var filter = { logic: "and", filters: [] };

        var ddlEntityId = $("#ddlEntityComplianceDetails").data("kendoMultiSelect");
        var selectedValues = ddlEntityId.value();

        var filterEntity = { logic: 'or', filters: [] };
        if (selectedValues.length > 0) {
            for (var i = 0; i < selectedValues.length; i++) {
                filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedValues[i]) });
            }
            filter.filters.push(filterEntity);
        }

        var ddlComplianceStatusFilter = $("#ddlStatusComplianceDetails").data("kendoDropDownList");
        var ddlComplianceStatusValue = ddlComplianceStatusFilter.value();

        switch (ddlComplianceStatusValue) {
            case "Overdue":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Overdue" });
                break;
            case "CD":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Closed-Delayed" });
                break;
            case "CT":
                filter.filters.push({ field: "ComplianceStatus", operator: "eq", value: "Closed-Timely" });
                break;
        }

        var ddlRiskComplianceDetails = $("#ddlRiskComplianceDetails").data("kendoDropDownList");
        var ddlRiskComplianceDetailsValue = ddlRiskComplianceDetails.value();

        switch (ddlRiskComplianceDetailsValue) {
            case "High":
                filter.filters.push({ field: "Risk", operator: "eq", value: "High" });
                break;
            case "Medium":
                filter.filters.push({ field: "Risk", operator: "eq", value: "Medium" });
                break;
            case "Low":
                filter.filters.push({ field: "Risk", operator: "eq", value: "Low" });
                break;
            case "Critical":
                filter.filters.push({ field: "Risk", operator: "eq", value: "Critical" });
                break;
        }

        return filter;
    }

    function gridComplianceDetailsFilterChanged() {

        var filter = getFiltersComplianceDetails();
        var grid = $("#gridComplianceDetails").data("kendoGrid");

        if (filter.filters.length > 0) {
            grid.dataSource.filter(filter);

            $("#btnClearFilterComplianceDetails").removeClass("hidden");
        }
        else {
            grid.dataSource.filter([]);
            $("#btnClearFilterComplianceDetails").addClass("hidden");
        }

        var grid = $("#gridKendo").data("kendoGrid");
        var data = grid.dataSource.data();
        var gridAllData = grid.dataSource.data();

        var query = new kendo.data.Query(gridAllData);
        var gridData = query.filter(filter).data;

        var dsComplianceDetails = new kendo.data.DataSource({
            data: gridData,
            schema: {
                model: {
                    id: "EntityId",
                    fields: {
                        CompanyName: { editable: false },
                    }
                }
            },
            pageSize: 10
        });

        bindGridComplianceDetails(dsComplianceDetails);
    }

    function clearFilterComplianceDetails() {
        var ddlEntity = $("#ddlEntityComplianceDetails").data("kendoMultiSelect");

        if (ddlEntity != null && ddlEntity != undefined) {
            ddlEntity.value([]);
        }

        var ddlFYtoDate = $("#ddlFYtoDateComplianceDetails").data("kendoDropDownList");

        if (ddlFYtoDate != null && ddlFYtoDate != ddlFYtoDate) {
            ddlFYtoDate.value("CYTD");
        }

        var ddlStatusComplianceDetails = $("#ddlStatusComplianceDetails").data("kendoDropDownList");
        if (ddlStatusComplianceDetails != null && ddlStatusComplianceDetails != undefined) {
            ddlStatusComplianceDetails.value("All");
        }

        var ddlRiskComplianceDetails = $("#ddlRiskComplianceDetails").data("kendoDropDownList");
        if (ddlRiskComplianceDetails != null && ddlRiskComplianceDetails != undefined) {
            ddlRiskComplianceDetails.value("All");
        }

        gridComplianceDetailsFilterChanged();
    }
</script>

<script>

    function clearFilter() {
        var ddlEntity = $("#ddlEntity").data("kendoMultiSelect");

        if (ddlEntity != null && ddlEntity != undefined) {
            ddlEntity.value([]);
        }

        var ddlFYtoDate = $("#ddlFYtoDate").data("kendoDropDownList");

        if (ddlFYtoDate != null && ddlFYtoDate != ddlFYtoDate) {
            ddlFYtoDate.value("CYTD");
        }

        filterChange();
    }


    function Multiselect_Open(e) {
        $(this.element).parent().addClass('opened');
        Globals.MultiSelectIsOpening = true;
        setTimeout(function () {
            Globals.MultiSelectIsOpening = false;
        }, 500);
    }

    function Multiselect_Close(e) {
        $(this.element).parent().removeClass('opened');
    }

    function adjustDropDownWidth(e) {
        var listContainer = e.sender.list.closest(".k-list-container");
        listContainer.width(350);
    }

    var resizeDropDown = function (e) {
        
        var $dropDown = $(e.sender.element),
            dataWidth = $dropDown.data("kendoDropDownList").list.width(),
            listWidth = dataWidth + 20,
            containerWidth = listWidth + 6;

        // Set widths to the new values
        $dropDown.data("kendoDropDownList").list.width(listWidth);
        $dropDown.closest(".k-widget").width(containerWidth);
    }

</script>

<script id="legendItemTemplate" type="text/kendo">
    <span class="legend-item" data-bind="events: {mouseenter: onMouseEnter, mouseleave: onMouseLeave, click: onClick}">
        <span class="legend-marker" data-bind="style:{background: markerColor}">
        </span>
        <span style="display: table-cell; vertical-align: middle;">
            #:name#
        </span>
    </span>
</script>

