﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.PageHeaderFooterSettingVM

<div id="divPageHeaderFooter" style="max-height:540px;height:540px; overflow-y:auto;overflow-x:hidden;">
    @using (Ajax.BeginForm("SaveLetterHead", "Setting", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divPageHeaderFooter", InsertionMode = InsertionMode.ReplaceWith, OnBegin= "OnOpenWindow", OnComplete= "OnRefreshWindow" }, new { id = "frmAddTempletMasterEmailFormate" }))
    {
        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-success alert-dismissible">
                        <lable>@Model.Message</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblerrormsgI">@Model.Message</lable>
                    </div>
                </div>
            </div>
        }

        <div class="row form-group colpadding0">
            <div class="col-md-1 colpadding0">
                <div class="control-label" style="margin-top:7px;">Entity</div>
            </div>
            <div class="col-md-4 colpadding0">
                @(Html.Kendo().DropDownListFor(m => m.PageHeaderEntityId)
                .DataValueField("Id")
                .DataTextField("EntityName")
                .Enable(Model.PageHeaderId == 0)
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Url("/api/EntityMasterAPI/GetAllEntityMasterForMeetingNew").Type(HttpVerbs.Get);
                    }).ServerFiltering(false);
                }).HtmlAttributes(new { style = "width: 95%;" }))
                @if (Model.PageHeaderId > 0)
                {
                    @Html.HiddenFor(m => m.PageHeaderEntityId)
                }
            </div>
            <div class="col-md-4 colpadding0">
                @(Html.Kendo().CheckBoxFor(m => m.UsedInAgenda).Label("Agenda Document").HtmlAttributes(new { @style= "checkmark1" }))
            </div>
        </div>

        <div class="row colpadding0 chart-loading" style="margin-top:10px;">
            <div class="col-md-12 colpadding0">
                <label class="control-label">Header</label>
                @(Html.Kendo().EditorFor(m => m.PageHeaderFormat)
            .HtmlAttributes(new { style = "height:200px" })
            .Encode(false)
            .Tools(tools => tools
            .Clear().Formatting()
            .FontName(fonts => fonts
                .Add("Andale Mono", "Andale Mono")
                .Add("Arial", "Arial")
                .Add("Arial Black", "Arial Black")
                .Add("Book Antiqua", "Book Antiqua")
                .Add("Bookman Old Style", "Bookman Old Style")
                .Add("Comic Sans MS", "Comic Sans MS")
                .Add("Courier New", "Courier New")
                .Add("Georgia", "Georgia")
            )
            .FontSize(size => size
            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
            .Bold().Italic().Underline()
            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
            .TableEditing()
            .CleanFormatting()
            ))

            </div>
        </div>

        <div class="row colpadding0 chart-loading" style="margin-top:10px;">
            <div class="col-md-12 colpadding0">
                <label class="control-label">Footer</label>
                @(Html.Kendo().EditorFor(m => m.PageFooterFormat)
            .HtmlAttributes(new { style = "height:130px" })
            .Encode(false)
            .Tools(tools => tools
            .Clear().Formatting()
            .FontName(fonts => fonts
                .Add("Andale Mono", "Andale Mono")
                .Add("Arial", "Arial")
                .Add("Arial Black", "Arial Black")
                .Add("Book Antiqua", "Book Antiqua")
                .Add("Bookman Old Style", "Bookman Old Style")
                .Add("Comic Sans MS", "Comic Sans MS")
                .Add("Courier New", "Courier New")
                .Add("Georgia", "Georgia")
            )
            .FontSize(size => size
            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
            .Bold().Italic().Underline()
            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
            .TableEditing()
            .CleanFormatting()
            ))

            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0" style="text-align:center">
                <button type="Submit" id="command_name1" name="command_name" value="save" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary" onclick="closeHeaderFooterwnd()">Close</button>
            </div>
        </div>
    }
</div>