﻿@using Kendo.Mvc.UI;
@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<link href="~/Content/Css/DirectorCSS.css" rel="stylesheet" />
<script type="text/javascript">

    function error_handler(e) {
        e.xhr.responseJSON.Message;
        $("#DiverrorI").show();
        $('#lblerrormsgI').text(e.xhr.responseJSON.Message);
    }

</script>

<script>
    function onRowBoundmailservices(e) {
        GetICons();
        var grid = $("#gridKendo2").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        })
    }

    function onRowBoundSub(e) {
        $(".k-grid-edit").find("span").addClass("k-icon k-edit");
        $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        $(".k-grid-add").find("span").addClass("k-icon k-add k-i-plus-outline");
    }
</script>

<script>
    function hideAlert()
    {
        $("#DiverrorI").hide();
        $("#DivsuccessI").hide();
        return true;
    }

    function getDirectorId()
    {
        var DirectorId="0";
        return
        {
            DirectorId:DirectorId;
        }
    }

    function req_EndAgenda(e) {
        

        if (e.type == "create" || e.type == "update") {
            var grid = $("#gridKendo2").data("kendoGrid");
            grid.one("dataBinding", function (e) {
                e.preventDefault();   // cancel grid rebind if error occurs
            });

            kendo.ui.progress(grid.element, false);

            if (e.response.Success != "undefined") {
                if (e.response.Success == true) {
                    $("#DivsuccessI").show();
                    $("#DiverrorI").hide();
                    $('#lblsuccessI').text(e.response.Message);
                    if(e.type == "create" ){
                        clearUserDetails();
                        $('#MailSettingId').val(e.response.MailSettingId);
                    }
                }
                else {
                    $("#DiverrorI").show();
                    $("#DivsuccessI").hide();
                    $('#lblerrormsgI').text(e.response.Message);
                }
            }
        }
        onRowBoundmailservices(e);
    }

    function clearUserDetails()
    {
        var Email = $("#Email");
        var Password = $("#Password");
        var Port = $("#Port");
        var Host = $("#Host");

        Email.val('');
        Password.val('');
        Port.val('');
        Host.val('');

        var ddlEntityID = $("#EntityID").data("kendoDropDownList");
        ddlEntityID.select(0);

    }

    function onEditAgenda(e) {
        

        e.container.find(".k-grid-cancel,.k-i-close").bind("click", function () {
            
            var grid = $("#gridKendo2").data("kendoGrid");
            grid.dataSource.read();
        });

        var ddlEntityID = $("#EntityID").data("kendoDropDownList");
        //uid
        if (e.model.isNew()) {
            ddlEntityID.readonly(false);
            $('.k-grid-update').text("Save");
                      
            $('.k-grid-cancel').text("Close");
        } else {
            ddlEntityID.readonly();
            $('.k-grid-update').text("Update");
            $('.k-grid-cancel').text("Close");
        }
    }

</script>


<!-- Test Mail -->
<script>
    function testMail(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("TestMail", "Setting")" + "?id=" + dataItem.MailSettingId;
        showTestMailPopUp(direction);
    }

    function editMailSetting(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("EditMailSetting", "Setting")"+"?id="+dataItem.MailSettingId;

        var wnd = $("#wndAddEditMailSetting").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddEditMailSetting").kendoWindow({
            actions: ["Close"],
            content: direction,
            visible: false,
            modal: true,
            iFrame :true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");

        opts.width = "45%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function showTestMailPopUp(d){
        $("#wndAdd").attr("style", "min-height:100px;");

        var wnd = $("#wndAdd").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAdd").kendoWindow({
            title: "Test Mail",
            actions: ["Close"],
            content: d,
            width: "50%",
            visible: false,
            modal: true,
            refresh: function () {
                this.center();
                kendo.ui.progress($(this.element), false);
            },
            open: function () {
                kendo.ui.progress($(this.element), true);
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");
        opts.width = "55%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function OnOpen(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnRefresh() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpenMailSetting(e) {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnRefreshMailSetting() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }
    function openAddnewMail() {
        var direction = "@Url.Action("EditMailSetting", "Setting", new { id  = 0})";

        //$("#wndAddEditMailSetting").attr("style", "min-height:500px;");

        var wnd = $("#wndAddEditMailSetting").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAddEditMailSetting").kendoWindow({
            actions: ["Close"],
            content: direction,
            visible: false,
            modal: true,
            iFrame :true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");

        opts.width = "45%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

</script>

<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <input type="hidden" id="hndParentId" value="0"/>
        <input type="hidden" id="hndEntityType" />
        <input type="hidden" id="hndCurrentUID" />

        @(Html.Kendo().Window().Name("wndAdd").Title("Test Mail").Visible(false).Modal(true).Draggable(true).Scrollable(true))
        @(Html.Kendo().Window().Name("wndAddEditMailSetting").Title("Details").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-10 colpadding0">

                    <input id='filter' placeholder="Search by Entity Name/Email" class='k-textbox' onchange="filterChange()" style="width:52%" autocomplete="off" />

                </div>
                <div class="btnUpload col-md-1 colpadding0">
                
                </div>

                <div class="col-md-1 colpadding0" style="text-align:right">
                    <button class="btn btn-primary add-button"  onclick="openAddnewMail()" id="btnCreateNewEmail" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt30"><div class="col-md-12 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.MailSettingVM>()
                .Name("gridKendo2")
                .Columns(columns =>
                {
                    columns.Bound(o => o.EntityName).Title("Entity Name").HtmlAttributes(new { });

                    columns.Bound(x => x.Email_Entity).Title("Email").Width(300);
                    columns.Bound(x => x.Host).Title("Mail Server Domain").Width(200);
                    columns.Command(command =>
                    {
                        //command.Edit().HtmlAttributes(new { });
                        command.Custom("Edit").Click("editMailSetting").HtmlAttributes(new { @class = "k-grid-edit" });
                        command.Custom("T").Click("testMail").HtmlAttributes(new { @class = "k-grid-t" });
                    })
                   .Title("Action").Width(180);
                })
                .Navigatable()
                .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                .Filterable()
                .Sortable()
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu()
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(o => o.MailSettingId);
                    model.Field(o => o.EntityID).DefaultValue(0);
                    model.Field(o => o.Password);
                    model.Field(o => o.Port).DefaultValue(null);
                    model.Field(o => o.Host);
                    model.Field(o => o.EnableSsl).DefaultValue(true);
                })
                //.Events(events => events.RequestEnd("req_EndAgenda"))
                .Read(read => read.Action("GetMailSetting", "Setting"))
                //.Create(create => create.Action("SaveMailSetting", "Setting").Type(HttpVerbs.Post))
                //.Update(update => update.Action("SaveMailSetting", "Setting").Type(HttpVerbs.Post))
                //.Destroy(destroy => destroy.Action("EditingCustom_Destroy", "Setting").Type(HttpVerbs.Delete))
                .Events(events => events.Error("error_handler"))
                     ).Events(e => e.DataBound("onRowBoundmailservices")))
            </div>
        </div>
    </div>
</div>

<script>

    function checkDate(e) {
        
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    $(document).ready(function () {
      //  var validator = $("#divAddUser").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    });
</script>

<!-- Filter Script-->
<script>
    function filterChange() {

        var filter = { logic: 'or', filters: [] };

        var t = $('#filter');
        if (t.val() != "")
        {
            filter.filters.push({ logic: "or", field: "EntityName", operator: "contains", value: t.val() });
            filter.filters.push({ logic: "or", field: "Email_Entity", operator: "contains", value: t.val() });
        }

        grid = $("#gridKendo2").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<script>

    $(document).ready(function () {
        $("#btnCreateNewUser").click(function (e) {
            e.preventDefault();
            //var grid = $("#gridKendo2").data("kendoGrid");
            //grid.create();
        });
    });

    

    $('#filter').on('input', function (e) {
        filterChange();
    });

    $('#filterEmail').on('input', function (e) {
        filterChange();
    });
</script>
