﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UIForms.UIForm_Calling_GeneralMeetingVM

<div id="divSaveFinancialResult_Listed">
    @using (Ajax.BeginForm("SaveCalling_GM", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divSaveFinancialResult_Listed", OnBegin = "OnOpen", OnComplete = "OnRefreshNewMeeting" }, new { id = "frmSaveFinancialResult_Listed" }))
    {
    <div>
        @Html.HiddenFor(k => k.Meeting_ID_)
        @Html.HiddenFor(k => k.AgendaID)
        @Html.HiddenFor(k => k.MappingID)
        @Html.HiddenFor(k => k.EntityId)
        @Html.HiddenFor(k => k.EntityTypeId)
        @Html.HiddenFor(k => k.GMTypeId)
    </div>
        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">

                <div class="col-md-2 colpadding0">
                    <span style="color:red"></span><label class="control-label">Serial No of AGM</label><br />
                    @Html.Kendo().TextBoxFor(m => m.SerialNo_).HtmlAttributes(new { style = "width: 98%" })
                </div>

                <div class="col-md-2 colpadding0">
                    <div class="col-md-1 colpadding0">
                    </div>
                    <div class="col-md-11 colpadding0">
                        <span style="color:red"></span><label class="control-label">Financial Year</label>
                        @(Html.Kendo().DropDownListFor(model => model.FYID)
                                                                                                            .DataValueField("FYID")
                                                                                                            .DataTextField("FYText")
                                                                                                            .Filter(FilterType.Contains)
                                                                                                            .DataSource(source =>
                                                                                                            {
                                                                                                                source.Read(read =>
                                                                                                                {
                                                                                                                    read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityID?EntityID=" + Model.EntityId).Type(HttpVerbs.Get);
                                                                                                                })
                                                                                                                .ServerFiltering(false);
                                                                                                            })
                                                                                                            .HtmlAttributes(new { style = "width: 95%;" })
                        )
                    </div>

                </div>

                <div class="col-md-2 colpadding0">
                    <div class="col-md-1 colpadding0">
                    </div>
                    <div class="col-md-11 colpadding0">
                        <span style="color:red"></span><label class="control-label">Date</label><br />
                        <input id='DateOfGM' name="DateOfGM" value="@Model.DateOfGM" class="FormdatepickerNew" autocomplete="off" style="width:95%;" />
                        @Html.ValidationMessageFor(model => model.DateOfGM, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-2 colpadding0">
                    <div class="col-md-1 colpadding0">
                    </div>
                    <div class="col-md-11 colpadding0">
                        <span style="color:red"></span><label class="control-label">Time</label><br />
                        @(Html.Kendo().TimePicker().Name("StartTimeOfGM").Format("hh:mm tt").Min("9:00 AM").Max("6:00 PM").HtmlAttributes(new { style = "width: 95%", @Id = "StartTimeOfGM", autocomplete = "off" }))
                    </div>
                </div>
                <div class="col-md-3 colpadding0">
                    <div class="col-md-1 colpadding0">
                    </div>
                    <div class="col-md-11 colpadding0">
                        <span style="color:red"></span><label class="control-label">Venue</label><br />
                        @Html.Kendo().TextBoxFor(m => m.VenueOfGM).HtmlAttributes(new { style = "width: 98%" })
                    </div>

                </div>
            </div>
        </div>

        if (Model.EntityTypeId == 2)
        {
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-3 colpadding0">
                        <span style="color:red"></span><label class="control-label">e-Voting</label><br />
                        @Html.RadioButtonFor(model => model.IsEVoting, "Yes") Yes&nbsp; &nbsp;
                        @Html.RadioButtonFor(model => model.IsEVoting, "No") No
                        @Html.ValidationMessageFor(m => m.IsEVoting, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        else if (Model.EntityTypeId == 10)
        {
            @Html.HiddenFor(m => m.IsEVoting, new { value = "Yes" })
        }
        else
        {
            @Html.HiddenFor(m => m.IsEVoting, new { value = "No" })
        }


        <div>
            <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
                <button type="submit" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                <button type="button" class="k-button" onclick="closeUIFormWindow()">Close</button>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $(".FormdatepickerNew").kendoDatePicker({ format: "dd/MM/yyyy", });
                var validator1 = $("#frmSaveCessationOfDirector").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
            });
        </script>
    }
</div>