﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UIForms.UIForm_AuditorResignationVM

<div id="DivAuditorResignation">


    <div class="row">
        @if (Model.Success)
    {
            <div class="col-md-12">

                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.Message)))
                {
                        <lable>@Model.Message</lable>
                }
                </div>
            </div>
    }
    </div>

    <div class="row">
        @if (Model.Error)
    {
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @if (!(string.IsNullOrEmpty(@Model.Message)))
                {
                        <lable>@Model.Message</lable>
                }
                </div>
            </div>
    }
    </div>


    @(Html.Kendo().Tooltip()
        .For("#btnAuditorResPrev")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Preview Resignation Letter")
        .Width(150)
    )

    @(Html.Kendo().Tooltip()
        .For("#lnkDownloadDoc")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Download Resignation Letter")
        .Width(150)
    )
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">

            @using (Ajax.BeginForm("SaveResignationDetailsOfAuditor", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivAuditorResignation", OnBegin = "OnOpene", OnComplete = "OnRefreshe" }, new { id = "frmUpdateResignation" }))
            {
                @Html.HiddenFor(m => m.EntityId)
                @Html.HiddenFor(m => m.AgendaID)
                @Html.HiddenFor(m => m.MappingID)
                @Html.HiddenFor(m => m.RegistrationNo)
                @Html.HiddenFor(m => m.AddressOfAuditor)
                
                <div>
                    <div>

                        <div class="row">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-6 colpadding0">
                                    <span style="color:red">*</span><label for="AuditorName" class="control-label">Auditor Name</label>
                                    @(Html.Kendo().TextBoxFor(m => m.AuditorName).HtmlAttributes(new { style = "width: 98%", @readonly = "readonly" }))
                                </div>

                                <div class="col-md-2 colpadding0">

                                    <span style="color:red"></span><label for="DateOfResignationSubmit" class="control-label">Submission Date 1</label>
                                    @*@(Html.Kendo().DatePickerFor(m => m.DateOfResignationSubmit)
                                                    //.Min(DateTime.Today)
                                                    //.Format("dd/MM/yyyy")
                                                    .HtmlAttributes(new { style = "width: 98%", @Id = "DateOfResignationSubmit", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);" })
                                    )*@
                                    @(Html.Kendo().DatePicker().Name("DateOfResignationSubmit").Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:90%", @Id = "DateOfResignationSubmit", onchange = "checkDate(this);", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.DateOfResignationSubmit, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-2 colpadding0">

                                    <span style="color:red"></span><label for="dpRegignation_Date" class="control-label">Date</label>
                                    @*@(Html.Kendo().DatePickerFor(m => m.DateOfResignation)
                                                    //.Min(DateTime.Today)
                                                    //.Format("dd/MM/yyyy")
                                                    .HtmlAttributes(new { style = "width: 98%", @Id = "DateOfResignation", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);" })
                                    )*@
                                    @(Html.Kendo().DatePicker().Name("DateOfResignation").Format("dd/MM/yyyy").HtmlAttributes(new { style = "width:90%", @Id = "DateOfResignation", onchange = "checkDate(this);", autocomplete = "off" }))
                                    @Html.ValidationMessageFor(model => model.DateOfResignation, "", new { @class = "text-danger" })
                                </div>


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 colpadding0">

                                <span style="color:red"></span><label for="ResonOfResignation" class="control-label">Reason</label>
                                @Html.TextAreaFor(m => m.ResonOfResignation, new { @class = "k-textbox", style = "width: 100%;", @spellcheck = "true" })
                                @Html.ValidationMessageFor(model => model.ResonOfResignation, "", new { @class = "text-danger" })

                            </div>
                        </div>


                    </div>
                </div>

                @*if(Model.FileDataId > 0)
            {
                <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top: 2%;">
                    <input type='button' id='btnAuditorResPrev' name='btnAuditorResPrev' value='Preview' class='k-primary k-button rect'>
                    <a id="lnkDownloadDoc" href='@Url.Action("DownloadResignationLetter", "AuditorMaster",new { AuditorMappingId = Model.AuditorMappingId} )' target="_blank">
                        <img src='@Url.Content("~/Images/icon-download.png")' />
                    </a>
                </div>
            }*@

                <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top: 2%;">
                    <button type="submit" id="btnregignation" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                    <button type="button" class="k-button" onclick="closeUIFormWindow()">Close</button>
                </div>

            }

        </div>
    </div>


    @(Html.Kendo().Window().Name("wndResignationPreview").Title("Preview").Visible(false).Modal(true).Draggable(true).Scrollable(true)
    .Content(@<text>
            @(Html.Kendo().Editor().Name("EditorResignationPreview")
                                       .HtmlAttributes(new { style = "height:530px" })
                                       .Encode(false)
                                       .Tools(t => t.Clear())
            )
    </text>)
    )

    <script>
    //var validator1 = $("#frmUpdateResignation").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $("#btnclose2").click(function (z) {
        z.preventDefault();
        z.stopPropagation();
        $('#KendoPopupAuditorRegignaton').data("kendoWindow").close();
        $('#gridKendoStatutory').data('kendoGrid').dataSource.read();
        $('#gridKendoStatutory').data('kendoGrid').refresh();
    })

    function checkDate(e) {

        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }

        }

        $("#DateOfResignationSubmit").removeAttr("data-val-date");
        $("#DateOfResignation").removeAttr("data-val-date");

        if ($("#DateOfResignationSubmit").val() == "01/01/0001") {
            $("#DateOfResignationSubmit").val('');
        }

        if ($("#DateOfResignation").val() == "01/01/0001") {
            $("#DateOfResignation").val('');
        }

    function OnRefreshe() {
        var wnd = $("#wndAddEditAgendaItemUIForms").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function OnOpene(e) {
        var wnd = $("#wndAddEditAgendaItemUIForms").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    </script>
</div>