﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_CostAuditor
<script>

        function filterCategory()
        {
            var CriteriaId = $("#ddlCriteria").data("kendoDropDownList").value();
            if(@Model.Id==0)
            {
                return {
                    CriteriaId:CriteriaId,
                    Type:4,
                    EntityId:"@Model.EntityId"

                };
            }
            else{
                return {
                    CriteriaId:CriteriaId,
                    Type:4,
                    EntityId:0
                };
            }
        }

</script>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div id="DivCostAuditorDtls">

            @using (Ajax.BeginForm("SaveAppointmentOfCostAuditor", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivCostAuditorDtls", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmUpdateCostAuditorAuditor" }))
            {

                <div class="row colpadding0">
                    @if (Model.successMessage)
                    {
                        <div class="col-md-12 colpadding0">
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @if (!(string.IsNullOrEmpty(@Model.SuccesserrorMessage)))
                                {
                                    <lable>@Model.SuccesserrorMessage</lable>
                                }
                            </div>
                        </div>
                    }
                </div>

                <div class="row colpadding0">
                    @if (Model.errorMessage)
                    {
                        <div class="col-md-12 colpadding0">
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @if (!(string.IsNullOrEmpty(@Model.SuccesserrorMessage)))
                                {
                                    <lable>@Model.SuccesserrorMessage</lable>
                                }
                            </div>
                        </div>
                    }
                </div>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.EntityId)
                @Html.HiddenFor(m=>m.AuditorMappingId)
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.AgendaID)
                @Html.HiddenFor(m => m.MeetingAgengaMappingID)
                @Html.HiddenFor(m => m.Nature_of_intimation_cost)

                <div class="row">
                    <div class="col-md-12 colpadding0">
                        <fieldset class="col">
                            <legend><label style="font-size:17px">Details of Auditor</label></legend>
                            <div class="row mt30">
                                <div class="col-md-12 colpadding0">

                                    <div class="col-md-2 colpadding0">

                                        <span style="color:red">*</span><label for="txtNumberofAuditor" class="control-label">Category </label>
                                        @(Html.Kendo().DropDownListFor(m => m.categoryId)
                                                                        .DataTextField("Text")
                                                                        .DataValueField("Value")
                                                                        .BindTo(new List<SelectListItem>
                                                                            () {
                                                                                                new SelectListItem() {
                                                                                                Text = "Select",
                                                                                                Value = "0"
                                                                                                },
                                                                                                new SelectListItem() {
                                                                                                Text = "Individual",
                                                                                                Value = "1"
                                                                                                },
                                                                                                new SelectListItem() {
                                                                                                //Text = "AuditorFirm",
                                                                                                Text = "Audit Firm",
                                                                                                Value = "2"
                                                                                                },

                                                                            })
                                                                            .HtmlAttributes(new { style = "width: 98%", @Id = "ddlCriteria" }))
                                        @Html.ValidationMessageFor(model => model.categoryId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-4 colpadding0">

                                        <span style="color:red">*</span><label for="txtNumberofAuditor" class="control-label">Auditor or auditor's firm Name</label>
                                        @(Html.Kendo().DropDownList()
                                                  .Name("AuditorId")
                                                  .HtmlAttributes(new { style = "width:98%" })
                                                  .OptionLabel("Select")
                                                  .DataTextField("Name")
                                                  .DataValueField("Id")
                                                  .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Url("/api/AuditorMasterAPI/GetDropDownAuditors")
                                                              .Data("filterCategory");
                                                      })
                                                      .ServerFiltering(true);
                                                  })
                                                  .Enable(false)
                                                  .AutoBind(false)
                                                  .CascadeFrom("ddlCriteria")
                                        )
                                        @Html.ValidationMessageFor(model => model.AuditorId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-4 colpadding0">
                                        <div class="col-md-1 colpadding0"></div>
                                        <div class="col-md-11 colpadding0">
                                            <span style="color:red">*</span><label for="txtCost_auditor_firm_Original" class="control-label">Name of the Cost auditor's firm/LLP</label>
                                            @(Html.Kendo().TextBoxFor(m => m.Cost_auditor_firm_Original).HtmlAttributes(new { @Id = "txtCost_auditor_firm_Original", style = "width: 98%", }))
                                            @Html.ValidationMessageFor(model => model.Cost_auditor_firm_Original, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <div class="col-md-1 colpadding0"></div>
                                        <div class="col-md-11 colpadding0">
                                            <span style="color:red">*</span><label for="dpPeriod_of_AppointmentToDate" class="control-label">Appointed for FY</label>
                                            @(Html.Kendo().DropDownListFor(model => model.FYID)
                                             .DataValueField("FYID")
                                             .DataTextField("FYText")
                                             .OptionLabel("Select")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {

                                                    read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityID?EntityID=" + Model.EntityId).Type(HttpVerbs.Get);
                                                })
                                                .ServerFiltering(true);
                                            }).HtmlAttributes(new { style = "width: 93%" }))
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row hidden">
                                <div class="col-md-12 colpadding0">
                                    

                                    <div class="col-md-3 colpadding0">
                                        <span style="color:red">*</span><label for="dpdateofBordMeeting" class="control-label">Date of the board meeting</label>
                                        @(Html.Kendo().DatePickerFor(m=>m.dateofBordMeeting).Format("dd/MM/yyyy")

                                            .HtmlAttributes(new { style = "width: 98%", title = "Please select dateofBordMeeting", @Id = "dpdateofBordMeeting", onchange = "checkDate(this);" })
                                        )
                                        @Html.ValidationMessageFor(model => model.dateofBordMeeting, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3 colpadding0">
                                        <span style="color:red">*</span><label for="txtResulationNumber" class="control-label">Resolution number</label>
                                        @(Html.Kendo().TextBoxFor(m => m.ResulationNumber).HtmlAttributes(new { @Id = "txtResulationNumber", style = "width: 98%", }))
                                    @Html.ValidationMessageFor(model => model.ResulationNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                        <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;margin-top: 2%;">
                            <button type="submit" id="btnllp" class="k-primary k-button k-grid-update k-button-icontext" name="Save" value="Save" onclick="btnCostclick()">Save</button>
                            <button type="button" class="k-button" onclick="closeUIFormWindow()">Close</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    //$("#btnclose2").click(function (z) {

    //    z.preventDefault();
    //    z.stopPropagation();
    //    $('#KendoPopupAuditor').data("kendoWindow").close();
    //    $('#gridKendoCost').data('kendoGrid').dataSource.read();
    //    $('#gridKendoCost').data('kendoGrid').refresh();
    //})


    @*function btnCostclick() {
        $("frmUpdateCostAuditorAuditor").attr(
                    "action",
                    "@Url.Action("Add_UpdateCostAuditor", "AuditorMaster", new { save = "Save" })"
                 ).submit();
        var validator1 = $("#frmUpdateCostAuditorAuditor").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
    }*@

    function changeCategory(object) {
        var ddlCriteria = $("#ddlCriteria").data("kendoDropDownList");

        var val = ddlCriteria.value();

        $("#ddlAuditors").kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url: "/api/AuditorMasterAPI/GetDropDownAuditors?CriteriaId=" + val + "&Type=" + 4+"&EntityId="+'@Model.EntityId'
                    }
                },
                serverFiltering: false
            },
            dataTextField: "Name",
            dataValueField: "Id",
            value: 0,
            optionLabel: "Select",
            index: 0
        });
    }

    function checkDate(e) {

        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    $("#dpdateofBordMeeting").removeAttr("data-val-date");
    if ($("#dpdateofBordMeeting").val() == "01/01/0001") {
        $("#dpdateofBordMeeting").val('');
    }
</script>

