﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UIForms.UIForm_DirectorMasterVM

<div id="divAddEditAppointmentOfCFO">
    @using (Ajax.BeginForm("SaveAppointmentOfDirector", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divAddEditAppointmentOfCFO", OnBegin = "OnOpenUIForm", OnComplete = "OnRefreshUIForm" }, new { id = "frmAddEditAppointmentOfCFO" }))
    {
    <div>
        @Html.HiddenFor(k => k.AgendaID)
        @Html.HiddenFor(k => k.MappingID)
        @Html.HiddenFor(k => k.DirectorDesignationId)
        @Html.HiddenFor(k => k.EntityId)
        @Html.HiddenFor(k => k.RefMasterID)
        @Html.HiddenFor(k => k.TypeOfDirectorShipId)

    </div>
        if (Model.Success)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DiverrorI">
                    <div class="alert alert-danger alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
        }
        @(Html.Kendo().Tooltip()
        .For("#btnCreateNewDirector")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Add - New Director")
        .Width(120)
        )

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">

                <div class="col-md-5 colpadding0">
                    <span style="color:red"></span><label class="control-label">Name</label><br />
                    @(Html.Kendo().DropDownListFor(model => model.Director_Id)
                                                                            .DataValueField("ID")
                                                                            .DataTextField("Name")
                                                                            .Filter(FilterType.Contains)
                                                                            .DataSource(source =>
                                                                            {
                                                                                source.Read(read =>
                                                                                {
                                                                                    read.Url("/api/DirectorMasterAPI/DirectorListFor?listFor=Appointment&designationId=" + Model.DirectorDesignationId + "&entityId=" + Model.EntityId + "&detailsId=" + Model.RefMasterID).Type(HttpVerbs.Get);
                                                                                })
                                                                                .ServerFiltering(false);
                                                                            })
                                                                            .HtmlAttributes(new { style = "width: 85%;" }))

                    <button type="button" id="btnCreateNewDirector" class="k-grid-add k-button k-button-icontext" onclick="createNewDirector();"><span class="k-icon k-add k-i-plus-outline"></span></button>
                </div>


                @if (Model.DirectorDesignationId == 6 || Model.DirectorDesignationId == 7)
                {
                    <div class="col-md-2 colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-1 colpadding0">

                            </div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red"></span><label class="control-label">from</label><br />
                                <input id='DateOfAppointment' name="DateOfAppointment" value="@Model.DateOfAppointment" class="FormdatepickerNew" autocomplete="off" style="width:95%;" />
                                @Html.ValidationMessageFor(model => model.DateOfAppointment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-1 colpadding0">

                            </div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red"></span><label class="control-label">to</label><br />
                                <input id='TenureOfAppointment' name="TenureOfAppointment" value="@Model.TenureOfAppointment" class="FormdatepickerNew" autocomplete="off" style="width:95%;" />
                                @Html.ValidationMessageFor(model => model.TenureOfAppointment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-1 colpadding0">

                            </div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red">*</span><label class="control-label">Term of appointment</label>
                                @(Html.Kendo().TextBoxFor(m => m.TermOfAppointment).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 45%" }))
                                @Html.ValidationMessageFor(model => model.TermOfAppointment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }
                else if (Model.DirectorDesignationId == 1 || Model.DirectorDesignationId == 8 || Model.DirectorDesignationId == 9 || Model.DirectorDesignationId == 10 || Model.DirectorDesignationId == 11)
                {
                    <div class="col-md-2 colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-1 colpadding0">

                            </div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red"></span><label class="control-label">Date of appointment</label><br />
                                <input id='DateOfAppointment' name="DateOfAppointment" value="@Model.DateOfAppointment" class="FormdatepickerNew" autocomplete="off" />
                                @Html.ValidationMessageFor(model => model.DateOfAppointment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }
                else if (Model.DirectorDesignationId == 2 || Model.DirectorDesignationId == 3 || Model.DirectorDesignationId == 4 || Model.DirectorDesignationId == 5)
                {
                    <div class="col-md-2 colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-1 colpadding0">
                            </div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red"></span><label class="control-label">Date of Consent</label><br />
                                <input id='DateOfConsent_' name="DateOfConsent_" value="@Model.DateOfConsent_" class="FormdatepickerNew" autocomplete="off" style="width:95%;" />
                                @Html.ValidationMessageFor(model => model.DateOfConsent_, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-1 colpadding0">
                            </div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red"></span><label class="control-label">Appointed from</label><br />
                                <input id='DateOfAppointment' name="DateOfAppointment" value="@Model.DateOfAppointment" class="FormdatepickerNew" autocomplete="off" style="width:95%;" />
                                @Html.ValidationMessageFor(model => model.DateOfAppointment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    if (Model.DirectorDesignationId == 4 || Model.DirectorDesignationId == 5)
                    {
                        <div class="col-md-3 colpadding0">
                            <span style="color:red"></span><label class="control-label">Renumeration</label><br />
                            @(Html.Kendo().TextBoxFor(m => m.Renumeration).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%" }))
                        </div>
                    }

                    if (Model.DirectorDesignationId == 2)
                    {
                        <div class="col-md-2 colpadding0">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-1 colpadding0">
                                </div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red"></span><label class="control-label">Appointed to</label><br />
                                    <input id='TenureOfAppointment' name="TenureOfAppointment" value="@Model.TenureOfAppointment" class="FormdatepickerNew" autocomplete="off" style="width:95%;" />
                                    @Html.ValidationMessageFor(model => model.TenureOfAppointment, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    }
                }

                @if (Model.DirectorDesignationId == 10)
                {
                    <div class="col-md-3 colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div class="col-md-1 colpadding0">

                            </div>
                            <div class="col-md-11 colpadding0">
                                <span style="color:red"></span><label class="control-label">Name of the company or institution</label><br />
                                <input id='CompanyOrInstitutionForNominee' name="CompanyOrInstitutionForNominee" value="@Model.CompanyOrInstitutionForNominee" autocomplete="off" />
                                @Html.ValidationMessageFor(model => model.CompanyOrInstitutionForNominee, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

        if (Model.DirectorDesignationId == 6 || Model.DirectorDesignationId == 7 || Model.DirectorDesignationId == 2) //MD & WTD , Manager
        {
            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">

                    <div class="col-md-3 colpadding0">
                        <span style="color:red"></span><label class="control-label">Starting Salary</label><br />
                        @(Html.Kendo().TextBoxFor(m => m.StartingSalary).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%" }))
                    </div>

                    <div class="col-md-3 colpadding0">
                        <span style="color:red"></span><label class="control-label">Upto Salary</label><br />
                        @(Html.Kendo().TextBoxFor(m => m.UptoSalary).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%" }))
                    </div>

                    <div class="col-md-3 colpadding0">
                        <span style="color:red"></span><label class="control-label">No. of leaves days</label><br />
                        @(Html.Kendo().TextBoxFor(m => m.NoOfLeaveDays).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 95%" }))
                    </div>
                </div>
            </div>
        }

        if (Model.DirectorDesignationId == 11)
        {
            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0">
                    <div class="col-md-6 colpadding0">
                        <span style="color:red"></span><label class="control-label">Director to whom such appointee is alternate</label><br />
                        @(Html.Kendo().DropDownListFor(model => model.OriginalDirector_Id)
                                                    .DataValueField("ID")
                                                    .DataTextField("Name")
                                                    .Filter(FilterType.Contains)
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Url("/api/DirectorMasterAPI/BOD?EntityId=" + Model.EntityId+ "&showAll=false").Type(HttpVerbs.Get);
                                                        })
                                                        .ServerFiltering(false);
                                                    })
                                                    .HtmlAttributes(new { style = "width: 85%;" }))
                    </div>

                    <div class="col-md-3 colpadding0">
                        <span style="color:red">*</span><label class="control-label">Clause No. Of AOA</label>
                        @(Html.Kendo().TextBoxFor(m => m.ClauseNoOfAOA).HtmlAttributes(new { @class = "form-control k-textbox", style = "width: 74%" }))
                        @Html.ValidationMessageFor(model => model.ClauseNoOfAOA, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }

        <div>
            <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
                <button type="submit" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                <button type="button" class="k-button" onclick="closeUIFormWindow()">Close</button>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $(".FormdatepickerNew").kendoDatePicker({ format: "dd/MM/yyyy", });
                var validator1 = $("#frmAddEditAppointmentOfCFO").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
            });
        </script>

        @(Html.Kendo().Window().Name("wndAddDirector").Title("Add - Director Master")
            .Visible(false).Modal(true).Draggable(true).Scrollable(true)
            //.Events(e => e.Open("adjustSize"))
            .Events(e => e.Refresh("OnRefresh"))
        )

        <!-- Director Master-->
        <script>
            function createNewDirector() {

                $("#wndAddDirector").kendoWindow({
                    title: "Add New - Director/KMP",
                    modal: true
                });
                $("#wndAddDirector").attr("style", "min-height:100px;");
                var direction = "@Url.Action("Create","Director_Master", new { ViewName  = "DirectorAppointment"})";
                var wnd = $("#wndAddDirector").data("kendoWindow");
                var opts = wnd.options;
                // if (!wnd) {
                wnd = $("#wndAddDirector").kendoWindow({
                    title: "Add New - Director/KMP",
                    actions: ["Close"],
                    content: direction,
                    width: "95%",
                    visible: false,
                    modal: true,
                    actions: [
                                "Pin",
                                "Minimize",
                                "Maximize",
                                "Close"
                    ],
                    refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                    close: function (e) {
                        $(this.element).empty();
                        $(".k-overlay").attr('style', "opacity:0.5; display:none;");

                        //$('#gridKendo').data('kendoGrid').dataSource.read();
                        $('#Director_Id').data('kendoDropDownList').dataSource.read();

                    },
                    open: function () {

                        kendo.ui.progress(this.element, true);
                        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                    }
                }).data("kendoWindow");
                // }

                opts.width = "95%";
                wnd.setOptions(opts);
                //wnd.refresh(direction);
                wnd.center();
                wnd.open();
            }
        </script>

        <!-- Director Master-->
        <script type="text/javascript">

            function onCategoryChange() {

                var Entity_Type = $("#Entity_Type").data("kendoDropDownList").value();
                if (Entity_Type == "1") {
                    $('#DivEntityDetails')[0].hidden = true;
                    $('#DivEntityDetails1')[0].hidden = false;
                } else {
                    $('#DivEntityDetails1')[0].hidden = true;
                    $('#DivEntityDetails')[0].hidden = false;
                }
            }

            function onEducationalQualification() {

                var data = $("#EducationalQualification").data("kendoDropDownList").value();
                if (data == "0") {
                    $('#spOtherQualification')[0].hidden = false;
                    $('#OtherQualification').removeAttr("readonly");
                    dataValidation($('#OtherQualification'), 'Please enter Other Qualification');

                }
                else {
                    $('#spOtherQualification')[0].hidden = true;
                    $('#OtherQualification').val('');
                    $('#OtherQualification').attr("readonly", "readonly");
                    removeDataValidation($('#OtherQualification'));
                }
            }

            function onOccupationChange() {

                var data = $("#Occupation").data("kendoDropDownList").value();
                if (data == "1" || data == "2" || data == "5") {
                    $('#spAreaOfOccupation')[0].hidden = false;
                    $('#AreaOfOccupation').removeAttr("readonly");
                    dataValidationDropDown($('#AreaOfOccupation'), "Please select Area of Occupation", 0)

                }
                else {
                    $('#spAreaOfOccupation')[0].hidden = true;
                    $('#AreaOfOccupation').attr("readonly", "readonly");
                    removeDataValidationDropDown($('#AreaOfOccupation'));
                }
            }

            function onAreaOfOccupation() {
                var data = $("#AreaOfOccupation").data("kendoDropDownList").value();
                if (data == "0") {
                    $('#spOtherOccupation')[0].hidden = false;
                    $('#OtherOccupation').removeAttr("readonly");
                    dataValidation($('#OtherOccupation'), 'Please enter other occupation');
                }
                else {
                    $('#spOtherOccupation')[0].hidden = true;
                    $('#OtherOccupation').attr("readonly", "readonly");
                    removeDataValidation($('#OtherOccupation'));
                }
            }

            function onResidentInIndia() {

                var data = $("#ResidentInIndia").data("kendoDropDownList").value();
                if (data == "False") {
                    $('#spPAN')[0].hidden = true;
                    $('#spAdhaar')[0].hidden = true;
                    $('#spanPassport')[0].hidden = false;

                    removeDataValidation($('#PAN'));
                    removeDataValidation($('#Adhaar'));
                    dataValidation($('#PassportNo'), 'Please enter Passport number');

                }
                else {
                    $('#spPAN')[0].hidden = false;
                    $('#spAdhaar')[0].hidden = false;
                    $('#spanPassport')[0].hidden = true;

                    dataValidation($('#PAN'), 'Please enter PAN');
                    dataValidation($('#Adhaar'), 'Please enter Aadhaar number');
                    removeDataValidation($('#PassportNo'));
                }
            }

            function filterPermentState() {
                return {
                    stateId: $("#ddlPermenant_StateId").val()
                };
            }

            function filterPresentState() {
                return {
                    stateId: $("#ddlPresent_StateId").val()
                };
            }

            function filterNatureOfInterest() {

                return {
                    EntityType: $("#TypeOfEntity").val()
                };
            }

        </script>
    }
</div>