﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UIForms.UIForm_DirectorMasterCessationVM

 <div id="divSaveCessationOfDirector">
@using (Ajax.BeginForm("SaveCessationOfDirector", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divSaveCessationOfDirector", OnBegin = "OnOpenUIForm", OnComplete = "OnRefreshUIForm" }, new { id = "frmSaveCessationOfDirector" }))
{
     <div>
         @Html.HiddenFor(k => k.AgendaID)
         @Html.HiddenFor(k => k.MappingID)
         @Html.HiddenFor(k => k.DirectorDesignationId)
         @Html.HiddenFor(k => k.RefMasterID)
         @Html.HiddenFor(k => k.EntityId)
         @Html.HiddenFor(k => k.Director_Id)
     </div>
    if (Model.Success)
    {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
    }
    else if (Model.Error)
    {
        <div class="row">
            <div class="col-md-12 colpadding0" id="DiverrorI">
                <div class="alert alert-danger alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                </div>
            </div>
        </div>
    }

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">

                <div class="col-md-5 colpadding0">
                    <span style="color:red"></span><label class="control-label">Name</label><br />
                    @Html.Kendo().TextBoxFor(m => m.FullNameOfDirector).HtmlAttributes(new { style = "width: 84%", @readonly = "readonly" })
                </div>

                <div class="col-md-3 colpadding0">
                    <span style="color:red"></span><label class="control-label">Date of submission</label><br />
                    <input id='ResignedDate' name="ResignedDate" value="@Model.ResignedDate" class="FormdatepickerNew" autocomplete="off" />
                    @Html.ValidationMessageFor(model => model.ResignedDate, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3 colpadding0">
                    <span style="color:red"></span><label class="control-label">Date of cessation</label><br />
                    <input id='CessationEffectFrom' name="CessationEffectFrom" value="@Model.CessationEffectFrom" class="FormdatepickerNew" autocomplete="off" />
                    @Html.ValidationMessageFor(model => model.CessationEffectFrom, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div>
            <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
                <button type="submit" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                <button type="button" class="k-button" onclick="closeUIFormWindow()">Close</button>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $(".FormdatepickerNew").kendoDatePicker({ format: "dd/MM/yyyy", });
                var validator1 = $("#frmSaveCessationOfDirector").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
            });
        </script>
}
    </div>