﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.UIForms.UIForm_FinancialResult_ListedVM

 <div id="divSaveFinancialResult_Listed">
@using (Ajax.BeginForm("SaveFinancialResult_Listed", "UIForm", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divSaveFinancialResult_Listed", OnBegin = "OnOpen", OnComplete = "OnRefreshNewMeeting" }, new { id = "frmSaveFinancialResult_Listed" }))
{
     <div>
         @Html.HiddenFor(k => k.AgendaID)
         @Html.HiddenFor(k => k.MappingID)
         @Html.HiddenFor(k => k.EntityId)
         @Html.HiddenFor(k => k.EntityTypeId)
     </div>
    if (Model.Success)
    {
            <div class="row">
                <div class="col-md-12 colpadding0" id="DivsuccessI">
                    <div class="alert alert-success alert-dismissible">
                        <button class="close" type="button" onclick="hideAlert();">×</button>
                        <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                    </div>
                </div>
            </div>
    }
    else if (Model.Error)
    {
        <div class="row">
            <div class="col-md-12 colpadding0" id="DiverrorI">
                <div class="alert alert-danger alert-dismissible">
                    <button class="close" type="button" onclick="hideAlert();">×</button>
                    <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                </div>
            </div>
        </div>
    }

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">

                @if (Model.EntityTypeId == 1)
                {
                    <div class="col-md-4 colpadding0">
                        <span style="color:red"></span><label class="control-label">Name of Holding Company</label><br />
                        @Html.Kendo().TextBoxFor(m => m.NameOfHoldingCompany).HtmlAttributes(new { style = "width: 98%" })
                    </div>
                }
                else
                {
                    <div class="col-md-4 colpadding0">
                        <span style="color:red"></span><label class="control-label">Name of the Chairman/MD/WTD</label><br />
                        @Html.Kendo().TextBoxFor(m => m.NameOfAuthorisedDirector).HtmlAttributes(new { style = "width: 98%" })
                    </div>

                    <div class="col-md-3 colpadding0">
                        <span style="color:red"></span><label class="control-label">Designation</label><br />
                        @Html.Kendo().TextBoxFor(m => m.DesignationOfAuthorisedDirector).HtmlAttributes(new { style = "width: 98%" })
                    </div>

                    <div class="col-md-2 colpadding0">
                        <span style="color:red"></span><label class="control-label">DIN</label><br />
                        @Html.Kendo().TextBoxFor(m => m.DINOfAuthorisedDirector).HtmlAttributes(new { style = "width: 98%" })
                    </div>
                }

                    <div class="col-md-3 colpadding0">
                        <span style="color:red"></span><label class="control-label">Quarter ended for the meeting</label><br />
                        <input id='QuarterEndedForTheMeeting' name="QuarterEndedForTheMeeting" value="@Model.QuarterEndedForTheMeeting" class="FormdatepickerNew" autocomplete="off" style="width:95%;" />
                        @Html.ValidationMessageFor(model => model.QuarterEndedForTheMeeting, "", new { @class = "text-danger" })
                    </div>

            </div>
        </div>

        <div>
            <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;">
                <button type="submit" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                <button type="button" class="k-button" onclick="closeUIFormWindow()">Close</button>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $(".FormdatepickerNew").kendoDatePicker({ format: "dd/MM/yyyy", });
                var validator1 = $("#frmSaveCessationOfDirector").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
            });
        </script>
}
    </div>