﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingMinutesApproveVM
<div id="divApproveDraftMinutes">
    @using (Ajax.BeginForm("ApproveDraftMinutes", "WebView", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divApproveDraftMinuteswebview" }, new { id = "frmApproveDraftMinuteswebview" }))
    {
        if (Model.Success)
        {
            <div class="row mt30">
                <div class="col-md-12 colpadding0" id="DivsuccessI_sub">
                    <div style="margin-left:2%; margin-right:2%;">
                        <div class="alert alert-success alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                            <lable id="lblsuccessI_sub">@Model.Message</lable>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (Model.Error)
        {
            <div class="row mt30">
                <div class="col-md-12 colpadding0" id="DiverrorI_sub">
                    <div style="margin-left:2%; margin-right:2%;">
                        <div class="alert alert-danger alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                            <lable id="lblerrormsgI_sub">@Model.Message</lable>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.HiddenFor(m => m.MeetingId)
            @Html.HiddenFor(m => m.DraftCirculationID)
            @Html.HiddenFor(m => m.userId)
        </div>

            <div class="row mt30 hidden">
                <div class="col-md-8 colpadding0">
                    <div class="col-md-3 colpadding0">
                        <label class="control-label">Comment</label>
                    </div>
                    <div class="col-md-9 colpadding0">

                        @Html.TextAreaFor(m => m.Comment, new { @class = "k-textbox", style = "width: 98%;", @spellcheck = "true" })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 colpadding0">
                    <div class="col-md-3 colpadding0">
                        <label class="control-label">Comment</label>
                    </div>
                    <div class="col-md-9 colpadding0">
                        @Html.TextBoxFor(m => m.Files, new { type = "file", style = "width:100%" })
                        @Html.HiddenFor(m => m.Files)
                    </div>


                </div>
                @*@if (Model.FileDataId > 0)
                    {
                        <a href='@Url.Action("DownloadFile", "FileData",new { id = Model.FileDataId} )' target="_blank">
                            <img src='@Url.Content("~/Images/icon-download.png")' />
                        </a>
                    }*@
            </div>

            <div class="text-center mt30">
                <button type="submit" value="update" class="btn btn-primary button1">Approve</button>
            </div>
    }
</div>

