<head><title>

    </title>
    <script src="/cdn-cgi/apps/head/wJ-d6Wf0vtDL3SAEw42RUStKs6k.js"></script><script src="/cdn-cgi/apps/body/9ez4O41ihtsBKiMc6IPNmeloV48.js"></script><style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {height: 600px;
                      /*margin:125px;*/
        }
        
        /* Set gray background color and 100% height */
        .sidenav {
          background-color:#F5F2F4;
          height: 1000px;
    
          
        }
         .MainContainer {
         
          
          border:groove;
          border-color:#f1f3f4;
          
        }
           .img1{
            border:ridge;
            border-color:lightgrey;
        }
       
       
        
        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            *height: auto;
            *padding: 15px;
          
          }
          .row.content {height: auto;} 
        }
      </style>
    <style>
           
     .container {
      /*padding: 16px;*/
      background-color: white;
      margin:10px;
      /*margin-right:50px;
      margin-top:50px;*/
      height:1000px;
      width:1000px;
    
      
    }
     body {
      font-family: Arial, Helvetica, sans-serif;
      background-color:#1fd9e1;
    }
    
    * {
      box-sizing: border-box;
    }
    
        </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
    
        .panel-group .panel {
            border-radius: 5px;
            border-color: #EEEEEE;
            padding:0;
        }
    
        .panel-default > .panel-heading {
            color:black;
            background-color: white;
            border-color: #EEEEEE;
        }
    
        .panel-title {
            font-size: 14px;
        }
    
        .panel-title > a {
            display: block;
            padding: 15px;
            text-decoration: none;
        }
    
        .short-full {
            float: right;
            color: black;
        }
    
        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border: solid 1px #EEEEEE;
            /*background-color: #B7FFB7;*/
            
        }
    
    </style>
    <script src="https://analytics.avantis.co.in/piwik.js"></script></head>
    <body>
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="container">
    <div class="row content">
    <div class="col-sm-3 sidenav">
    <ul class="nav nav-pills nav-stacked">
        <li style="font-size:18px"><a style="color:#37A8F1;"><b>Compliance New Releases</b></a></li>
        <li style="font-size:14px"><a href="management_role.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Management Role </b></a></li>
        <li style="font-size:14px"><a href="department_role.html" style="color:#333;"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Department Head Role</b></a></li>
        <li style="font-size:14px"><a href="performer_role.html" style="color:#333;"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Performer Role</b></a></li>
        <li style="font-size:14px"><a href="reviewer_role.html" style="color:#333"><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Reviewer Role</b></a></li>
        <li style="font-size:14px"><a href="approver_role.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Approver Role</b> </a></li>
        <li style="font-size:14px"><a href="event_owner.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Event Owner Role</b> </a></li>
        <li style="font-size:14px"><a href="admin_role.html" style="color:#333"> <i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;<b>Company Admin Role</b> </a></li>
    
    </ul>
    <br>
    </div>
    
    
    <div class="col-sm-9 MainContainer">
      <br>
      <h3 style="color:#37A8F1;"><b>Reviewer Role :</b></h3><br>
     
      <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Checklist - Introduced Not Applicable as a Status :</b></h4>

      <p style="font-size:16px;text-align:justify;margin-left:2%">Capability to view Under the Status dropdown, an option to select Not applicable has been added .</p>
      <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>How to view not applicable checklist ?</b></p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>1.</b>Go to My Workspace from Menu or select Checklist on My Dashboard  .</p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>2.</b>In appeared page, select Not Applicable value under dropdown, list will appear in grid .</p>
  <img class="img1" style="width: 580px; margin-left: 20px;  height: 330px" src="../WhatsNew/images/10.png"><br><br><br>
  <h3 style="color:#37A8F1;"><b>Common features of Performer and Reviewer :</b></h3><br>
  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Detail Report - Introduced Old Performer and Old Reviewer Column In Report :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">To keep track on old performer/reviewer. We have added new column old performer and old reviewer in Detailed report.</p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>How to access the details? </b></p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>1.</b>Go to My Reports and select Detailed report.</p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>2.</b>Set filter and click on Export to excel icon.</p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>3.</b>Downloaded excel will feature columns- old performer and old reviewer.</p>

    
  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>My Leave :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">Updated workflow of Leave functionality and added following capability.</p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>1.</b>Cancel all/partial leave.</p>
  <img class="img1" style="width: 250px; margin-left: 40px;  height: 350px" src="../WhatsNew/images/11.png"><br><br><br>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>How to use all these features?</b></p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>a.Add Leave </b></p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>1.</b>Click on Profile and select My Leave under dropdown.</p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>2.</b>In appeared page click on Add New button.</p>
  <img class="img1" style="width: 600px; margin-left: 20px;  height: 250px" src="../WhatsNew/images/12.png"><br><br>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>3.</b>In appeared window select option ‘Apply leave’.</p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>4.</b>Select starts and end date from calendar.</p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>5.</b>Select Performer, Reviewer and Event Owner and Save.</p>
  <img class="img1" style="width: 600px; margin-left: 20px;  height: 150px" src="../WhatsNew/images/13.png"><br><br><br>

  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>b.Cancel all/partial leave</b></p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>1.</b>Click on Profile and select My Leave under dropdown.</p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>2.</b>In appeared window click on edit icon.</p>
  <p style="font-size:16px;text-align:justify;margin-left:5%;"><b>3.</b>In appeared pop-up select one from option Partial/All.</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>a.Partial - </b></p>
  <p style="font-size:16px;text-align:justify;margin-left:9%;"><b>1.</b>Select start and end date.</p>
  <p style="font-size:16px;text-align:justify;margin-left:9%;"><b>2.</b>Change Performer/Reviewer/Event Owner if required and Save.</p>
  <img class="img1" style="width: 500px; margin-left: 20px;  height: 400px" src="../WhatsNew/images/14.png"><br><br><br>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>b.All- Click on Save if selected All - </b></p>
  <img class="img1" style="width: 500px; margin-left: 20px;  height: 400px" src="../WhatsNew/images/15.png"><br><br><br>

  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Holiday Master :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">This facility is introduced for offline compliance. A Compliance where a physical visit to a government department is required is named as offline compliance.</p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"> In case such an offline compliance scheduled date falls on a public holiday (Central and State Government) the system will update the new Due Date automatically. All the reports will reflect the modified due date.</p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">AVACOM will automatically reflect the new Due Date in My Compliance Calendar.</p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>How to identify these types of compliance?</b></p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>1. </b>Click on the View icon and Compliance Details window will appear.</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>2. </b>Click on Additional Details section to view additional fields.</p>
  <p style="font-size:16px;text-align:justify;margin-left:8%;">Revised Due Date: This is the new Due Date.</p>
  <p style="font-size:16px;text-align:justify;margin-left:8%;">Due Date: This is the old Due Date.</p>
  <img class="img1" style="width: 600px; margin-left: 20px;  height: 300px" src="../WhatsNew/images/16.png"><br><br>

  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>3. </b>For compliance to be performed Online, due date won’t change.</p><br>

  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Compliance Calendar For Coming 3 Months</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">Capability to view/directly access Compliances for next three months.</p><br>

  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Critical Document Notification :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"> When shared a Critical Document with another User, they will receive notification in their Notification Center & Email.</p><br>

  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Updated Help Center :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"> Get guidelines to use features of AVACOM with updated Help center..</p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>How to use this ?</b></p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">In Header, Go to Help Center and a window will appear giving guidelines to use features.</p>
  <img class="img1" style="width: 600px; margin-left: 20px;  height: 50px" src="../WhatsNew/images/17.png"><br><br><br>

  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Compliance Short Form :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">User can add compliance short form of statutory and Event base compliance. This facility will help user to search the compliance with short form. The short form column will be found in My Workspace and Reports.</p><br>
  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Internal Compliance Detailed Description :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">Now Company Admin can add and edit detailed description of internal compliance.</p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>1. Add detailed description</b></p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>a. </b>In Internal compliance tab select Compliance option.</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>b. </b>Click on Add New link and a pop-up.</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>c. </b>In appeared window enter details under Detailed Description field. The rest process to create internal compliance is same.</p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>2. Edit detailed description</b></p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>a. </b>In Internal compliance tab select Compliance option.</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>b. </b>Click on Edit icon .</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>c. </b>In appeared window edit the short description and Save.</p><br>
  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Act Repository :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">This report features list of compliances falling under assigned Act. The purpose of this report is to make user aware about all the compliances assigned and not assigned to them. Only the assigned Act all compliances can be viewed and no action can be taken for these compliances.
        How to use Act repository?</p>
        <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>a. </b>Go to My Report and select Act Repository .</p>
        <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>b. </b>In appeared page, select Act from dropdown and .</p>
        <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>c. </b>Compliance list will be populated below .</p>
        <img class="img1" style="width: 600px; margin-left: 20px;  height: 300px" src="../WhatsNew/images/18.png"><br><br><br>

  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>My Dashboard - Compliance Calendar :</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">Updated My Compliance calendar ease the efforts of user in following manner,</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>1. </b>Switch between the user role with dropdown highlighted.</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>2. </b>Updated compliance edit option under action column.</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>3. </b>Introduced new page number feature, where user can type page no. go to   particular page, go to next and previous page and jump to last and first page.</p>
  <img class="img1" style="width: 600px; margin-left: 20px;  height: 300px" src="../WhatsNew/images/19.png"><br><br><br>

  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Updated My Workspace:</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">Modified my workspace with new user interface similar to my reports and my document. This new interface allows user to search compliances with ease. </p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>1. </b>The user can switch between the user role from dropdown highlighted.</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>2. </b>Updated compliance edit option under action column.</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>3. </b>Introduced table item short form for easy search.</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>4. </b>Introduced advanced search.</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>5. </b>Introduced sorting and filtering with each column .</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>6. </b>Enabled drag and drop grouping by any columns from the table .</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>7. </b>More actions for tasks, penalty, out of office etc..</p>
  <img class="img1" style="width: 600px; margin-left: 20px;  height: 300px" src="../WhatsNew/images/workspace.png"><br><br>
<br>

  <h4 style="background-color:#F5F2F4;padding-left:5px"><b>Redirect To Compliance Details Window:</b></h4>
  <p style="font-size:16px;text-align:justify;margin-left:2%;">Introduced capability to redirect Performer/Reviewer to complete compliance/task. The Overdue/ Upcoming/Pending for Review reminder emails will feature link that will redirect user to complete compliance/task. </p>
  <p style="font-size:16px;text-align:justify;margin-left:2%;"><b>How to use this ?</b></p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>1. </b>The user can switch between the user role from dropdown highlighted.</p>
  <p style="font-size:16px;text-align:justify;margin-left:7%;"><b>2. </b>Enter the OTP sent on registered email id and directly perform compliance.</p>

<br><br>

    </div>
    
    </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
    
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".short-full")
                .toggleClass('glyphicon-plus glyphicon-minus');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    </script>
    
    
    </body>