﻿@using Kendo.Mvc.UI;
@model string
@{
    if(Model == "M")
    {
        ViewBag.Title = "Compliance Assignment - Meeting";
    }
    else if (Model == "S")
    {
        ViewBag.Title = "Compliance Assignment - Statutory";
    }
    else if (Model == "D")
    {
        ViewBag.Title = "Compliance Assignment - Director";
    }
    else
    {
        ViewBag.Title = "Compliance Assignment - Agenda ";
    }

    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";

    string strHideAgendaLevel = Model == "A" ? " " : "hidden";
}

<script src="https://kendo.cdn.telerik.com/2019.2.619/js/jszip.min.js"></script>

<!--Checkbox-->
<style>
    .checkmark1 {
            height: 17px;
            width: 17px;
        }
</style>
<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    @@media screen and (max-width: 600px) {

        #gridKendo > table {
        }
    }

    .k-window div.k-window-content {
        overflow: hidden;
    }


    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 900px;
    }

    .k-grid-edit {
        height: 32px;
        width: 33px;
        padding: 6px 0px 10px 0;
        /*white-space: nowrap;*/
        overflow: hidden;
        /*border-radius: 20px;*/
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt30 {
        margin-top: 18px;
    }

    .mt2 {
        margin-top: 2%;
    }

    .k-grid-add {
        float: right;
    }

    .k-edit-buttons {
        width: 1280px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }

    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 1px;
        border-style: groove;
        border-color: rgba(128, 128, 128, 0.56);
        border-radius: 11px;
    }

    .forTooltips {
        width: 100%;
        height: 100%;
        padding: .929em 1.286em;
    }

    td.overridePadding {
        padding: 0;
    }
</style>

<style>

    .k-state-selected{
        background:!important;
        background:none;
    }

</style>

<style>
    .tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }

    /*.nav-tabs {
        margin-bottom: -2px;
    }*/
</style>

<style>
        .k-grid-ExportToexcel {
        float: right;
    }

        .my-custom-toolbar{
            width:98%;
        }


    #theexcelexport {
        margin-top: -6%;
        margin-left: -28%;
    }

    #ExcelExport {
        height: 37px;
        width: 7%;
    }

</style>

<!-- Assigned Compliance-->
<style>
    #gridComplianceAssinged tbody tr{height:32px;}
</style>

<!-- Statutory Compliance Filter-->
<style>
    #gridComplianceFilter.k-grid table {
   table-layout: fixed;
}

        #gridComplianceFilter.k-grid tbody tr {
            height: 40px;
        }

        #gridComplianceFilter.k-grid td {
            white-space: nowrap;
        }
</style>

<script>
    function getDataForComplianceFilter() {
        var dropdownlist = $("#EntityID").data("kendoDropDownList");
        var entityId = dropdownlist.value();

        var result = {
            EntityID: entityId
        };
        return result;
    }

    function gridComplianceFilterChange() {

        var filter = { logic: 'and', filters: [] };

        var ddlActFilter = $("#ddlActFilter").data("kendoMultiSelect");
        var selectedValues = ddlActFilter.value();

        var filterActs = { logic: 'or', filters: [] };
        if (selectedValues.length > 0) {
            for (var i = 0; i < selectedValues.length; i++) {
                filterActs.filters.push({ field: "ActId", operator: "eq", value: parseInt(selectedValues[i]) });
            }
            filter.filters.push(filterActs);
        }

        var filterOther = { logic: 'or', filters: [] };
        var t = $('#txtGridComplianceFilter');
        if (t.val() != "") {
            filterOther.filters.push({ field: "ShortDescription", operator: "contains", value: t.val() });
            filterOther.filters.push({ field: "Section", operator: "contains", value: t.val() });
            filterOther.filters.push({ field: "Risk", operator: "contains", value: t.val() });
            filterOther.filters.push({ field: "Frequency", operator: "contains", value: t.val() });

            filter.filters.push(filterOther);
        }

        debugger;
        grid = $("#gridComplianceFilter").data("kendoGrid");
        if (filter.filters.length > 0) {
            grid.dataSource.filter(filter);
        }
        else{
            grid.dataSource.filter({});
        }

        if (selectedValues.length > 1) {
            grid.showColumn(2);
        }
        else {
            grid.hideColumn("ActName");
        }
    }

    function onRowBoundGridComplianceFilter() {

        $('#gridComplianceFilter').on('click', '.chkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#gridComplianceFilter').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));

            if (dataItem != undefined) {
                dataItem.set('IsComplianceSelect', checked);
            }  
            
            if (checked == false) {
                $('#complianceFilterHeader_chb').prop('checked', false);
            }
        });

        $('#complianceFilterHeader_chb').change(function () {
            checkAllComplianceFilter(this);
        });
    }

    function onRowBoundGridComplianceAssign() {
        if (CanddlComplianceEntityFilterFill) {
            fillEntityFilter();
            CanddlComplianceEntityFilterFill = false;
        }
    }
    function fillEntityFilter() {
        var grid = $("#gridComplianceAssign").data("kendoGrid");
        var data = grid.dataSource.data();
        var gridData = grid.dataSource.data();

        var lstEntities = [];
        var lookupEntity = {};
        debugger;
        for (var i = 0; i < gridData.length; i++) {
            var EntityId = gridData[i].EntityID
            if (!(EntityId in lookupEntity) && EntityId >0) {
                lookupEntity[EntityId] = 1;
                lstEntities.push({ "Id": gridData[i].EntityID, "Name": gridData[i].EntityName });
            }
        }

        var dsEntity = new kendo.data.DataSource({
            data: lstEntities,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Name: { editable: false },
                    },
                    hasChildren: false
                }
            },
        });

        var ddlEntity = $("#ddlComplianceEntityFilter").data("kendoMultiSelect");
        ddlEntity.setDataSource(dsEntity);
    }

    function checkInputs(elements) {
        elements.each(function () {
            var element = $(this);
            var input = element.children("input");

            input.prop("checked", element.hasClass("k-state-selected"));
        });
    }

    function ddlComplianceEntityFilterChanged() {
        var items = this.ul.find("li");
        checkInputs(items);

        var ddlEntityId = $("#ddlComplianceEntityFilter").data("kendoMultiSelect");
        var selectedValues = ddlEntityId.value();

        var grid = $("#gridComplianceAssign").data("kendoGrid");

        var filter = { logic: "and", filters: [] };
        var filterEntity = { logic: 'or', filters: [] };
        if (selectedValues.length > 0) {
            for (var i = 0; i < selectedValues.length; i++) {
                filterEntity.filters.push({ field: "EntityID", operator: "eq", value: parseInt(selectedValues[i]) });
            }
            filter.filters.push(filterEntity);

            grid.dataSource.filter(filterEntity);
        }
        else {
            grid.dataSource.filter([]);
        }

    }

    function ddlComplianceEntityFilterDataBound(e) {
        var items = this.ul.find("li");
        setTimeout(function () {
            checkInputs(items);
        });
    }

    function onRowBoundGridComplianceAssinged() {
        if (canddlAssignedComplianceEntityFilterFill) {
            fillComplianceAssignedEntityFilter();
            canddlAssignedComplianceEntityFilterFill = false;
        }
    }

    function fillComplianceAssignedEntityFilter() {
        var grid = $("#gridComplianceAssinged").data("kendoGrid");
        var data = grid.dataSource.data();
        var gridData = grid.dataSource.data();
       

        var lstEntities = [];
        var lookupEntity = {};
        debugger;
        for (var i = 0; i < gridData.length; i++) {
            var EntityId = gridData[i].EntityID
            if (!(EntityId in lookupEntity) && EntityId > 0) {
                lookupEntity[EntityId] = 1;
                lstEntities.push({ "Id": gridData[i].EntityID, "Name": gridData[i].CompanyName });
            }
        }

        var dsEntity = new kendo.data.DataSource({
            data: lstEntities,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Name: { editable: false },
                    },
                    hasChildren: false
                }
            },
        });

        var ddlEntity = $("#ddlAssignedComplianceEntityFilter").data("kendoMultiSelect");
        ddlEntity.setDataSource(dsEntity);
    }

    function ddlAssignedComplianceEntityFilterChanged() {
        var ddlEntityId = $("#ddlAssignedComplianceEntityFilter").data("kendoMultiSelect");
        var selectedValues = ddlEntityId.value();

        var grid = $("#gridComplianceAssinged").data("kendoGrid");

        var filter = { logic: "and", filters: [] };
        var filterEntity = { logic: 'or', filters: [] };
        if (selectedValues.length > 0) {
            for (var i = 0; i < selectedValues.length; i++) {
                filterEntity.filters.push({ field: "EntityID", operator: "eq", value: parseInt(selectedValues[i]) });
            }
            filter.filters.push(filterEntity);

            grid.dataSource.filter(filterEntity);
        }
        else {
            grid.dataSource.filter([]);
        }
    }

    function checkAllComplianceFilter(ele) {
        var state = $(ele).is(':checked');
        var grid = $('#gridComplianceFilter').data().kendoGrid;

        $.each(grid.dataSource.data(), function () {
            if (this['IsComplianceSelect'] != state)
                this.dirty = true;
            this['IsComplianceSelect'] = state;
        });
        grid.refresh();
    }

</script>

<div>
    @(Html.Kendo().Tooltip()
        .For("#ExcelExport")
        .Position(TooltipPosition.Top)
        .Width(100)
        .AutoHide(true)
        .Content("Export To Excel")
    )
</div>

@Html.Hidden("MappingType", Model)
<div class="row Dashboard-white-widget">
    <div class="dashboard">

        <div id="divRadioParent" class="row">
            <div class="col-md-12 colpadding0">

                @if (Model == "M")
                {
                    <label class='container1'>
                        Meeting
                        <input name='Type' checked='checked' style='margin-left:0.5em;' type='radio' value='M' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>

                    <label class='container1'>
                        Agenda
                        <input name='Type' style='margin-left:0.5em;' type='radio' value='A' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>

                    <label class='container1'>
                        Statutory
                        <input name='Type' style='margin-left:0.5em;' type='radio' value='S' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>

                    <label class='container1'>
                        Director
                        <input name='Type' style='margin-left:0.5em;' type='radio' value='D' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>
                }
                else if (Model == "A")
                {
                    <label class='container1'>
                        Meeting
                        <input name='Type' style='margin-left:0.5em;' type='radio' value='M' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>

                    <label class='container1'>
                        Agenda
                        <input name='Type' checked='checked' style='margin-left:0.5em;' type='radio' value='A' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>

                    <label class='container1'>
                        Statutory
                        <input name='Type' style='margin-left:0.5em;' type='radio' value='S' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>

                    <label class='container1'>
                        Director
                        <input name='Type' style='margin-left:0.5em;' type='radio' value='D' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>
                }
                else if (Model == "D")
                {
                    <label class='container1'>
                        Meeting
                        <input name='Type' style='margin-left:0.5em;' type='radio' value='M' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>

                    <label class='container1'>
                        Agenda
                        <input name='Type' style='margin-left:0.5em;' type='radio' value='A' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>

                    <label class='container1'>
                        Statutory
                        <input name='Type' style='margin-left:0.5em;' type='radio' value='S' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>

                    <label class='container1'>
                        Director
                        <input name='Type' checked='checked' style='margin-left:0.5em;' type='radio' value='D' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>
                }
                else
                {
                    <label class='container1'>
                        Meeting
                        <input name='Type' style='margin-left:0.5em;' type='radio' value='M' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>

                    <label class='container1'>
                        Agenda
                        <input name='Type' style='margin-left:0.5em;' type='radio' value='A' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>

                    <label class='container1'>
                        Statutory
                        <input name='Type' checked='checked' style='margin-left:0.5em;' type='radio' value='S' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>

                    <label class='container1'>
                        Director
                        <input name='Type' style='margin-left:0.5em;' type='radio' value='D' class='k-radio'>
                        <span class='checkmark1'></span>
                    </label>
                }
            </div>
        </div>

        <ul class="nav nav-tabs" id="MyTab" style="margin-top:10px;">
            <li class="active"><a data-toggle="tab" id="mytab1" href="#home">Assignment</a></li>
            <li><a data-toggle="tab" id="mytab2" href="#menu1">Assigned</a></li>
            <li><a data-toggle="tab" id="mytab3" href="#menuReAssignment">Re-Assignment</a></li>
            <li class="@strHideAgendaLevel"><a data-toggle="tab" id="mytab4" href="#menuUploadAssignment">Upload Assignment</a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">

                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-2 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Director</label>
                            @(Html.Kendo()
                                .DropDownList()
                                .Name("EntityID")
                                .DataValueField("ID")
                                .DataTextField("Name")
                                .OptionLabel("Select")
                                .Filter(FilterType.Contains)
                                .Events(e => e.Change("ddlEntityChanged"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/DirectorMasterAPI/DirectorMaster").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                })
                                .HtmlAttributes(new { style = "width: 95%;" })
                            )
                        </div>

                        <div class="col-md-3 colpadding0">
                            <label class="control-label">Entity</label>
                            @(Html.Kendo().MultiSelect()
                                        .Name("ddlComplianceEntityFilter")
                                        .DataValueField("Id")
                                        .DataTextField("Name")
                                        .Events(e => e.Change("ddlComplianceEntityFilterChanged"))
                                        .Events(e => e.DataBound("ddlComplianceEntityFilterDataBound"))
                                        .Placeholder("Company-All")
                                        .ClearButton(false)
                                        .ItemTemplate("<input type='checkbox'/>  #:data.Name# ")
                                        .TagMode(TagMode.Single)
                                        .Filter(FilterType.Contains)
                                        .HtmlAttributes(new { style = "width: 95%;" })
                            )
                        </div>

                        <div class="col-md-2 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Performer</label>
                            @(Html.Kendo()
                            .DropDownList()
                            .Name("ddlPerformer")
                            .DataValueField("UserID")
                            .DataTextField("FullName")
                            .OptionLabel("Select")
                            .Events(e => e.Change("ddlPerformerReviewerChanged"))
                            .Filter(FilterType.Contains)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Url("/api/UserMasterAPI/GetUsersDropdown").Type(HttpVerbs.Get);
                                })
                                .ServerFiltering(false);
                            })
                            .HtmlAttributes(new { style = "width: 95%;" })
                            )
                        </div>

                        <div class="col-md-2 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Reviewer</label>
                            @(Html.Kendo()
                            .DropDownList()
                            .Name("ddlReviewer")
                            .DataValueField("UserID")
                            .DataTextField("FullName")
                            .OptionLabel("Select")
                            .Filter(FilterType.Contains)
                            .Events(e => e.Change("ddlPerformerReviewerChanged"))
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Url("/api/UserMasterAPI/GetUsersDropdown").Type(HttpVerbs.Get);
                                })
                                .ServerFiltering(false);
                            })
                            .HtmlAttributes(new { style = "width: 95%;" }))
                        </div>

                        <div class="col-md-2 colpadding0">
                            <span style="color:red">*</span><label class="control-label">Start Date</label>

                            @(Html.Kendo().DatePicker().Name("AvailabilityDate").Format("dd/MM/yyyy")
                                            .HtmlAttributes(new { style = "width: 95%", @Id = "AvailabilityDate", onchange = "checkDate(this);", autocomplete = "off" }))
                            @*@Html.ValidationMessageFor(model => model.AvailabilityDate, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>

                <div id="divgridComplianceAssignMessageParent" class="row colpadding0 hidden">
                    <div class="col-md-12 colpadding0">
                        <div id="divgridComplianceAssignMessage">
                        </div>
                    </div>
                </div>

                <div id="divStatCompliances" class="row colpadding0 hidden">
                    <div class="col-md-12 colpadding0">
                        <div>
                            @(Html.Kendo().Grid<BM_ManegmentServices.VM.StatutoryComplianceListVM>()
                                .Name("gridComplianceFilter")
                                .Columns(columns =>
                                {
                                    columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' #= IsComplianceSelect ? checked='checked':'' # class='chkbx' />")
                                                                 .HeaderTemplate("<input type='checkbox' id='complianceFilterHeader_chb' class='header-checkbox'>")
                                                                 .Width(35);
                                    columns.Bound(o => o.ComplianceId).Title("Id").Width(80);
                                    columns.Bound(o => o.ActName).Title("Act").Width(200).Visible(false);
                                    columns.Bound(o => o.ShortDescription).Title("Short Description").Width(350);
                                    columns.Bound(o => o.Section).Title("Section").Width(200);
                                    columns.Bound(o => o.Risk).Title("Risk").Width(100);
                                    columns.Bound(o => o.Frequency).Title("Frequency").Width(150);
                                })
                                .ToolBar(toolbar =>
                                {
                                    toolbar.Template(@<text>
                                <div>
                                    @(Html.Kendo().MultiSelect()
                                    .Name("ddlActFilter")
                                    .ValuePrimitive(true)
                                    .DataValueField("ActId")
                                    .DataTextField("ActName")
                                    .Placeholder("Act Name")
                                    .AutoBind(false)
                                    .Events(e => e.Change("gridComplianceFilterChange"))
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/api/ComplianceAssignAPI/StatutoryActs").Data("getDataForComplianceFilter").Type(HttpVerbs.Get);
                                        })
                                        .ServerFiltering(false);
                                    }).HtmlAttributes(new { style = "width: 525px;" })
                                    )

                                    <input id='txtGridComplianceFilter' placeholder="Compliance/ Section/ Risk/ Frequency " class='k-textbox ' style="width: 45%;margin-top: -12px;" onchange="gridComplianceFilterChange();" autocomplete="off" />
                                </div>
                                    </text>);
                                })
                                .EnableCustomBinding(true)
                                .AutoBind(false)
                                .Events(e => e.DataBound("onRowBoundGridComplianceFilter"))
                                .Navigatable()
                                .Pageable(pageable => pageable
                                //.Refresh(true)
                                .PageSizes(true)
                                .ButtonCount(5))
                                .Filterable()
                                .Sortable()
                                .Reorderable(reorderable => reorderable.Columns(true))
                                .Resizable(resizable => resizable.Columns(true))
                                .ColumnMenu()
                                .DataSource(dataSource => dataSource
                                .WebApi()
                                .PageSize(10)
                                .ServerOperation(false)
                                .Model(model =>
                                {
                                    model.Id(o => o.ComplianceId);
                                    model.Id(o => o.IsComplianceSelect);
                                })
                            .Read(read => read.Url("/api/ComplianceAssignAPI/StatutoryCompliance").Data("getDataForComplianceFilter").Type(HttpVerbs.Get))
                                              )
                            )

                        </div>
                        <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%; margin-top:10px;">
                            <button id="btnApplyComplianceFilter" type="button" onclick="btnApplyComplianceFilter_Click()" style="margin-bottom: 10px;" class="k-primary k-button k-grid-update k-button-icontext">Apply</button>
                        </div>
                    </div>
                </div>

                <fieldset class="col hidden" style="margin-right:5px;">
                    <legend class="amp-mb5"><label style="font-size:17px">Compliance</label></legend>


                </fieldset>

                <div id="divAgendaPanelBar" class="row mt30 colpadding0 gridAgenda-loading @strHideAgendaLevel">
                    <div class="col-md-12 colpadding0">
                        <div>
                            <div id="gridAgendaItems"></div>
                        </div>

                        <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
                            <button id="btnApplyAgendaItem" type="button" onclick="btnApply_Click()" style="margin-bottom: 10px;" class="k-primary k-button k-grid-update k-button-icontext hidden">Apply</button>
                        </div>
                    </div>
                </div>

                <div id="fsetCompliance" class="hidden">
                    <div id="divgridComplianceAssignMessageError">
                    </div>

                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0">
                            <div>
                                <div id="gridComplianceAssign"></div>
                            </div>

                            <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%; margin-top:10px;">
                                <button type="button" onclick="btnSaveAgendaComplianceList_Click()" style="margin-bottom: 10px;" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mt30 colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div id="gridAgendaCompliance" class="hidden"></div>
                    </div>
                </div>

            </div>

            <div id="menu1" class="tab-pane fade">

                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-3 colpadding0">

                            <span style="color:red">*</span><label class="control-label" style="color:black">Director</label>
                            @(Html.Kendo()
                                .DropDownList()
                                .Name("AssignedComplianceEntityID")
                                .DataValueField("ID")
                                .DataTextField("Name")
                                .OptionLabel("Select")
                                .Filter(FilterType.Contains)
                                .Events(e => e.Change("ddlAssignedComplianceEntityID_Changed"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/DirectorMasterAPI/DirectorMaster").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                })
                                .HtmlAttributes(new { style = "width: 95%;" })
                            )
                        </div>

                        <div class="col-md-3 colpadding0">

                            <label class="control-label" style="color:black">Entity</label>
                            @(Html.Kendo().MultiSelect()
                                .Name("ddlAssignedComplianceEntityFilter")
                                .DataValueField("Id")
                                .DataTextField("Name")
                                .Placeholder("Company-All")
                                .ClearButton(false)
                                .ItemTemplate("<input type='checkbox'/>  #:data.Name# ")
                                .TagMode(TagMode.Single)
                                .Filter(FilterType.Contains)
                                .Events(e => e.Change("ddlAssignedComplianceEntityFilterChanged"))
                                .HtmlAttributes(new { style = "width: 95%;" })
                            )
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">

                        @(Html.Kendo().Grid<BM_ManegmentServices.VM.ComplianceAssignedListVM>()
            .Name("gridComplianceAssinged")
            .Columns(columns =>
            {
                columns.Bound(p => p.ComplianceId).HeaderTemplate("ID").HtmlAttributes(new { title = "#= ComplianceId #" }).Sortable(false).Width("7%");
                columns.Bound(p => p.CompanyName).HeaderTemplate("Company").HtmlAttributes(new { title = "#= CompanyName #" }).Sortable(false).Width("25%");
                columns.Bound(p => p.Description).HeaderTemplate("Compliance").HtmlAttributes(new { title = "#= Description #" }).Sortable(false).Width("30%");
                columns.Bound(p => p.Performer).HeaderTemplate("Performer").ClientTemplate("#=Performer.FullName#").HtmlAttributes(new { title = "#=Performer.FullName#" }).Sortable(false).Width("15%");
                columns.Bound(p => p.Reviewer).HeaderTemplate("Reviewer").ClientTemplate("#=Reviewer.FullName#").HtmlAttributes(new { title = "#=Reviewer.FullName #" }).Sortable(false).Width("15%");
            })
            .Events(e => e.DataBound("onRowBoundGridComplianceAssinged"))
            .ToolBar(toolbar => toolbar.Custom().Name("ExportToexcel").Text("").HtmlAttributes(new { @Id = "ExcelExport" }))
                            //.HtmlAttributes(new { @class = "hidden" })
                            //.HtmlAttributes(new { style = "height: 520px;" })
                            .Pageable()
                            .Sortable()
                            .AutoBind(false)
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .ServerOperation(false)
                                .Read(read => read.Action("AssignedCompliancesDirector_Read", "ComplianceAssign").Data("additionalInfo").Type(HttpVerbs.Get))
                                .PageSize(20)
                        ))

                    </div>
                </div>

            </div>

            <div id="menuReAssignment" class="tab-pane fade">

                <div id="divgridComplianceReAssignMessage">

                </div>

                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0">
                        <div class="col-md-3 colpadding0">

                            <span style="color:red">*</span><label class="control-label" style="color:black">Director</label>
                            @(Html.Kendo()
                        .DropDownList()
                        .Name("ReAssignmentEntityID")
                        .DataValueField("ID")
                        .DataTextField("Name")
                        .OptionLabel("Select")
                        .Filter(FilterType.Contains)
                        //.Events(e => e.Change("ddlReAssignmentEntityID_Changed"))
                        .AutoBind(false)
                        .DataSource(source =>
                         {
                             source.Read(read =>
                             {
                                 read.Url("/api/DirectorMasterAPI/DirectorMaster").Type(HttpVerbs.Get);
                             })
                             .ServerFiltering(false);
                         })
                        .HtmlAttributes(new { style = "width: 95%;" })
                            )
                        </div>

                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><label class="control-label">User</label>
                            @(Html.Kendo()
                                .DropDownList()
                                .Name("ddlUser")
                                .DataValueField("UserID")
                                .DataTextField("FullName")
                                .OptionLabel("Select")
                                //.Events(e => e.Change("ddlPerformerReviewerChanged"))
                                .Events(e => e.Change("ddlUser_Changed"))
                                .Filter(FilterType.Contains)
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/UserMasterAPI/GetUsersDropdown").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                })
                                .HtmlAttributes(new { style = "width: 95%;" })
                            )
                        </div>

                        <div class="col-md-3 colpadding0">
                            <span style="color:red">*</span><label class="control-label">New User</label>
                            @(Html.Kendo()
                                .DropDownList()
                                .Name("ddlNewUser")
                                .DataValueField("UserID")
                                .DataTextField("FullName")
                                .OptionLabel("Select")
                                .Filter(FilterType.Contains)
                                .Events(e => e.Change("ddlNewUser_Changed"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/UserMasterAPI/GetUsersDropdown").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                })
                                .HtmlAttributes(new { style = "width: 95%;" }))
                        </div>
                    </div>
                </div>

                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">

                        <div style="margin-bottom:1%">
                            <div id="gridComplianceReAssignment"></div>
                        </div>
                        <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;">
                            <button id="btnSaveReAssignment" type="button" onclick="btnSaveReAssignment_Click()" style="margin-bottom: 10px;" class="k-primary k-button k-grid-update k-button-icontext hidden">Save</button>
                        </div>

                    </div>
                </div>

            </div>

            <div id="menuUploadAssignment" class="tab-pane fade">
                <fieldset class="" style="margin-right:5px;">

                    <div id="divComplianceAssignment" class="">
                        @Html.Partial("_UploadComplianceAssignment", new BM_ManegmentServices.VM.UploadComplianceAssignmentVM() { isUploaded = false })
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">

                <div id="gridCompliance"></div>

            </div>


        </div>

    </div>
</div>

<script type="text/x-kendo-template" id="myTemplate">
    <div class="toolbar">
        <label class="category-label" for="category">Filter :</label>
        <input type="search" id="ddlMeetingTypeFilter" style="width: 270px" />
        <input id='filterAgendaItem' class='k-textbox' placeholder="Agenda Items" style="width: 350px;" autocomplete="off" />
        @*<select id='ddlMeetingTypeFilter' style='width:200px;'><option>None</option></select>*@
    </div>
</script>

<script type="text/x-kendo-template" id="myTemplateCompliance">
    <div class="toolbar my-custom-toolbar">
        <label class="category-label" for="category">Filter :</label>
        <input id='filterCompliance' class='k-textbox' placeholder="Compliance" style="width: 350px;" autocomplete="off" />

        <button type="button" id="btnExportToExcel" class="k-grid-ExportToexcel @strHideAgendaLevel" onclick="btnExportToExcel_Click()"></button>
    </div>
</script>

<script type="text/x-kendo-template" id="myTemplateComplianceFilter">
    <div class="toolbar">
        <label class="category-label" for="category">Filter :</label>
        <input type="search" id="ddlActFilter111" style="width: 270px" />
        @*<input id='filterAgendaItem' class='k-textbox' placeholder="Agenda Items" style="width: 350px;" autocomplete="off" />*@
    </div>
</script>

<script type="text/x-kendo-template" id="myTemplateComplianceUpload">
    <div class="toolbar my-custom-toolbar">
        <button type="button" id="btnExportToExcelUploaded" class="k-grid-ExportToexcel" onclick="btnExportToExcelUploaded_Click()"></button>
    </div>
</script>

<!-- Filter Agenda Item-->
<script>

    function fillMeetingTypeFilter()
    {
        debugger;
        $("#ddlMeetingTypeFilter").kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        url: "/api/CommitteeCompAPI/GetMeetingTypeForDropDown",
                    dataType: "json",
                    type: 'GET'
                }
            },
            schema: {
                data: "Data",
                type:"json"
            },
            serverFiltering: false
        },
            dataTextField: "MeetingTypeName",
            dataValueField: "Id",
        value :0,
        index: 0,
        change: function (e) {
            filterChange();
        }
    });
    }

    function filterChange() {

        var filter = { logic: 'and', filters: [] };

        debugger;

        var ddlMeetingType = $("#ddlMeetingTypeFilter").data("kendoDropDownList");
        var m = ddlMeetingType.value();

        if (m > 0) {
            filter.filters.push({ logic: "and", field: "MeetingTypeId", operator: "eq", value: parseInt(m) });
        }

        var t = $('#filterAgendaItem');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "AgendaItem", operator: "contains", value: t.val() });
        }

        grid = $("#gridAgendaItems").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<script>

    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    var CanddlComplianceEntityFilterFill = false;
    var canddlAssignedComplianceEntityFilterFill = false;

    $(document).ready(function () {
        // LoadAgenda();
    });

    function ddlEntityChanged()
    {
        debugger;
        var dropdownlist = $("#EntityID").data("kendoDropDownList");
        var EntityId = dropdownlist.value();

        kendo.ui.progress($(".chart-loading"), true);
        if ("@Model" == "A") {
            LoadAgenda(EntityId);
        }else if ("@Model" == "D") {
            LoadDirectorCompliance(EntityId);
        }else if ("@Model" == "S") {
            LoadStatutoryFilter(EntityId);
        }
        else {
            LoadMeetingLevelCompliance(EntityId);
        }
        
    }

    function LoadAgenda11(id) {
        $('#btnApplyAgendaItem').addClass("hidden");
        kendo.ui.progress($("#gridAgendaItems"), true);
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAgendaComplianceList", "ComplianceAssign")",
            data: "{EntityID:" + id + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger;
                kendo.ui.progress($("#gridAgendaItems"), false);

                fillGridAgendaItems(response.AgendaItems);
                fillGridAgendaCompliance(response.AgendaCompliances);

                var gridComplianceAssign = $("#gridComplianceAssign").data('kendoGrid');
                if (gridComplianceAssign != undefined) {
                    gridComplianceAssign.dataSource.data([])
                }

                if (response.AgendaItems.length > 0) {
                    $('#btnApplyAgendaItem').removeClass("hidden");
                }
            },
            failure: function (response) {
                //alert(response.responseText);
                kendo.ui.progress($("#gridAgendaItems"), false);
            },
            error: function (response) {
                //alert(response.responseText);
                kendo.ui.progress($("#gridAgendaItems"), false);
            }
            });
    }

    function LoadAgenda(id) {
        $('#divAgendaPanelBar').removeClass("hidden");
        $('#btnApplyAgendaItem').addClass("hidden");
        $('#fsetCompliance').addClass("hidden");
        kendo.ui.progress($("#gridAgendaItems"), true);
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAgendaComplianceList", "ComplianceAssign")",
            data: "{EntityID:" + id + "}",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (response) {
            debugger;
            kendo.ui.progress($("#gridAgendaItems"), false);

            fillGridAgendaItems(response.AgendaItems);
            fillGridAgendaCompliance(response.AgendaCompliances);

            var gridComplianceAssign = $("#gridComplianceAssign").data('kendoGrid');
            if (gridComplianceAssign != undefined) {
                gridComplianceAssign.dataSource.data([])
            }

            if (response.AgendaItems.length > 0) {
                //$('#divAgendaPanelBar').addClass("hidden");
                $('#btnApplyAgendaItem').removeClass("hidden");
            }
        },
        failure: function (response) {
            //alert(response.responseText);
            kendo.ui.progress($("#gridAgendaItems"), false);
        },
        error: function (response) {
            //alert(response.responseText);
            kendo.ui.progress($("#gridAgendaItems"), false);
        }
    });
    }

    function LoadMeetingLevelCompliance(id) {

        $('#fsetCompliance').addClass("hidden");

        kendo.ui.progress($("#gridComplianceAssign"), true);
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetMeetingComplianceList", "ComplianceAssign")",
            data: "{EntityID:" + id + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger;
                if (response.Compliances.length > 0) {
                    $('#fsetCompliance').removeClass("hidden");
                }

                kendo.ui.progress($("#gridComplianceAssign"), false);
                fillGridComplianceAssign(response.Compliances);

                
            },
            failure: function (response) {
                kendo.ui.progress($("#gridComplianceAssign"), false);
            },
            error: function (response) {
                kendo.ui.progress($("#gridComplianceAssign"), false);
            }
    });
    }

    function LoadDirectorCompliance(id) {

        $('#fsetCompliance').addClass("hidden");

        kendo.ui.progress($("#gridComplianceAssign"), true);
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetDirectorComplianceList", "ComplianceAssign")",
            data: "{directorId:" + id + "}",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (response) {
            debugger;
            if (response.length > 0) {
                $('#fsetCompliance').removeClass("hidden");
            }

            kendo.ui.progress($("#gridComplianceAssign"), false);
            //fillGridComplianceAssign(response.Compliances);
            fillGridComplianceAssign(response);

                
        },
        failure: function (response) {
            kendo.ui.progress($("#gridComplianceAssign"), false);
        },
        error: function (response) {
            kendo.ui.progress($("#gridComplianceAssign"), false);
        }
    });
    }
    function LoadStatutoryFilter(id) {
        //$('#btnApplyComplianceFilter').addClass("hidden");
        kendo.ui.progress($("#gridComplianceFilter"), true);

        $('#divStatCompliances').removeClass("hidden");
        $('#gridComplianceFilter').data('kendoGrid').dataSource.read();
        $('#ddlActFilter').data('kendoMultiSelect').dataSource.read();
    }

    function fillGridAgendaItems(d) {
        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            pageSize: 10
        });

        var grid = $("#gridAgendaItems").kendoGrid({
            toolbar: kendo.template($("#myTemplate").html()),
            pageable: {
                alwaysVisible: false,
                pageSizes: [5, 10, 20, 100]
            },
            columns: [
                        {
                            field: "AgendaId", title: " ", template: "<input type='checkbox' #= IsAgendaSelect ? checked='checked':'' # class='chkbx' />", width: "35px;"
                            , headerTemplate: "<input type='checkbox' id='header_chb' class='header-checkbox'>"  
                        },
                        { field: "MeetingTypeName", title: "Meeting", width: "150px;" },
                        { field: "AgendaItem", title: "Agenda Item"},
                        { field: "IsAgendaSelect", title: "IsAgendaSelect", hidden: true },
                        { field: "MeetingTypeId", title: "MeetingTypeId", hidden: true }
            ],
            dataSource: ds
        });

        //var grid = $("#gridAgendaItems").data("kendoGrid");
        //grid.hideColumn("IsAgendaSelect");

        $('#gridAgendaItems').on('click', '.chkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#gridAgendaItems').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            //alert(dataItem.AgendaId);

            if (dataItem != undefined) {
                dataItem.set('IsAgendaSelect', checked);
            }

            if(checked == false)
            {
                $('#header_chb').prop('checked', false);
            }
        });

        $('#header_chb').change(function () {
            checkAll(this);
        })

        $('#filterAgendaItem').on('input', function (e) {
            //var filter = { logic: 'and', filters: [] };
            //var t = $('#filterAgendaItem');

            //filter.filters.push({ logic: "or", field: "AgendaItem", operator: "contains", value: t.val() });

            //grid = $("#gridAgendaItems").data("kendoGrid");
            //grid.dataSource.filter(filter);

            filterChange();
        });

        debugger;
        //var grid = $("#gridAgendaItems").kendoGrid();
        var dropDown = grid.find("#ddlMeetingTypeFilter").kendoDropDownList({
            dataTextField: "MeetingTypeName",
            dataValueField: "Id",
            autoBind: false,
            optionLabel: "Meeting",
            dataSource: {
                type: "json",
                severFiltering: false,
                transport: {
                    read: "/api/CommitteeCompAPI/GetMeetingTypeForDropDown"
                }
            },
            change: function () {
                var value = this.value();
                //if (value) {
                //    grid.data("kendoGrid").dataSource.filter({ field: "CategoryID", operator: "eq", value: parseInt(value) });
                //} else {
                //    grid.data("kendoGrid").dataSource.filter({});
                //}

                filterChange();
            }
        });

    }

    function fillGridCompliance(d)
    {
        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            pageSize: 10
        });

        $("#gridCompliance").kendoGrid({
            columns: [
                        { field: "ComplianceId", title: "Compliance ID", width :"120px;"},
                        { field: "Description", title: "Compliance" }
            ],
            dataSource: ds
        });

        //$("#gridComplianceAssign").kendoGrid({
        //    columns: [
        //                { field: "ComplianceId", title: " ", template: "<input type='checkbox' #= ComplianceId ==0 ? checked='checked':'' # class='chkbx' />", width: "30px;" },
        //                { field: "Description", title: "Compliance" }
        //    ],
        //    dataSource: ds
        //});
    }

    //Agenda-Compliance Mapping
    function fillGridAgendaCompliance(d) {
        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            pageSize: 10
        });

        $("#gridAgendaCompliance").kendoGrid({
            columns: [
                        { field: "AgendaId", title: "Agenda Id", width: "120px;" },
                        { field: "AgendaItem", title: "Agenda Item", width: "120px;" },
                        { field: "ComplianceId", title: "Compliance ID", width: "120px;" },
                        { field: "Description", title: "Compliance", width: "120px;" },
                        { field: "PerformerID", title: "PerformerID" },
                        { field: "ReviewerID", title: "ReviewerID"}
            ],
            dataSource: ds
        });
    }

    function checkAll(ele) {
        var state = $(ele).is(':checked');
        var grid = $('#gridAgendaItems').data().kendoGrid;

        $.each(grid.dataSource.data(), function () {
            if (this['IsAgendaSelect'] != state)
                this.dirty = true;
            this['IsAgendaSelect'] = state;
        });
        grid.refresh();
    }

    function fillGridComplianceAssign(d) {

        //Update Performer & Reviewer in JSON
        var ddlPerformer = $("#ddlPerformer").data("kendoDropDownList");
        var performerID = ddlPerformer.value();
        var performer = ddlPerformer.text();
        if (performerID > 0) {
        }
        else {
            performerID = 0;
            performer = "";
        }

        var ddlReviewer = $("#ddlReviewer").data("kendoDropDownList");
        var reviewerID = ddlReviewer.value();
        var reviewer = ddlReviewer.text();
        if (reviewerID > 0) {
        }
        else {
            reviewerID = 0;
            reviewer = "";
        }

        for (var i = 0; i < d.length; i++) {
            d[i].PerformerID = performerID;
            d[i].ReviewerID = reviewerID;
            d[i].IsComplianceSelect = true;

            d[i].Performer.UserID =performerID;
            d[i].Performer.FullName = performer;

            d[i].Reviewer.UserID = reviewerID;
            d[i].Reviewer.FullName = reviewer;
        }
        //End

        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            schema: {
                model: {
                    id: "ComplianceId",
                    fields: {
                        ComplianceId: { editable: false },
                        Description: { editable: false }
                    }
                }
            },
            pageSize: 10
        });

        CanddlComplianceEntityFilterFill = true;

        $("#gridComplianceAssign").kendoGrid({
            toolbar: kendo.template($("#myTemplateCompliance").html()),
            pageable: {
                alwaysVisible: false,
                pageSizes: [5, 10, 20, 100]
            },
            dataBound: onRowBoundGridComplianceAssign,
            columns: [
                {
                    field: "ComplianceId", title: " ", template: "<input type='checkbox' #= IsComplianceSelect ? checked='checked':'' # class='chkbxComplianceAssign' />", width: "3%;",
                    headerTemplate: "<input type='checkbox' id='header_chbComplianceAssign' class='header-checkbox'>"
                },
                { field: "ComplianceId", title: "ComplianceID", width: "7%", sortable: true },
                { field: "EntityName", title: "Company", width: "25%", sortable: true },
                { field: "CustomerBranchID", title: "CustomerBranchID", hidden: true },
                { field: "ShortDescription", title: "Compliance", width: "25%" },
                { field: "Frequency", title: "Frequency", width: "10%", sortable: true },
                { field: "IsComplianceSelect", title: "IsComplianceSelect", hidden: true },
                { field: "PerformerID", title: "PerformerID", hidden: true },
                { field: "ReviewerID", title: "ReviewerID", hidden: true },
                { field: "Performer", title: "Performer", editor: categoryDropDownEditor, template: "#=Performer.FullName#", width: "15%" },
                { field: "Reviewer", title: "Reviewer", editor: categoryDropDownEditor, template: "#=Reviewer.FullName#", width: "15%" },
            ],
            editable: true,            
            dataSource: ds
        });

       // var grid = $("#gridComplianceAssign").data("kendoGrid");
        
        $('#gridComplianceAssign').on('click', '.chkbxComplianceAssign', function () {
            debugger;
            var checked = $(this).is(':checked');
            var grid = $('#gridComplianceAssign').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));

            if (dataItem != undefined) {
                dataItem.set('IsComplianceSelect', checked);
            }

            if (checked == false) {
                $('#header_chbComplianceAssign').prop('checked', false);
            }
            grid.refresh();
        });

        $('#header_chbComplianceAssign').change(function () {
            checkAllComplianceAssign(this);
        })

        $('#filterCompliance').on('input', function (e) {
            var filter = { logic: 'and', filters: [] };
            var t = $('#filterCompliance');

            filter.filters.push({ logic: "or", field: "Description", operator: "contains", value: t.val() });

            grid = $("#gridComplianceAssign").data("kendoGrid");
            grid.dataSource.filter(filter);
        });

    }

    function checkAllComplianceAssign(ele) {
        var state = $(ele).is(':checked');
        var grid = $('#gridComplianceAssign').data().kendoGrid;

        $.each(grid.dataSource.data(), function () {
            if (this['IsComplianceSelect'] != state)
                this.dirty = true;
            this['IsComplianceSelect'] = state;
        });
        grid.refresh();
    }
    
</script>

<!-- Apply button click -->
<script>
    function btnApply_Click(){
        $('#fsetCompliance').addClass("hidden");
        kendo.ui.progress($("#gridComplianceAssign"), true);
        debugger;
        var grid = $('#gridAgendaItems').data().kendoGrid;
        var gridData = grid.dataSource.data();
        //var gridData = grid.dataSource.data();

        var gridMapping = $('#gridAgendaCompliance').data().kendoGrid;
        var gridMappingData = gridMapping.dataSource.data();

        var lookup = {};
        var result = { items: [] }

        debugger;
        for (var i = 0; i < gridData.length; i++) {
            var AgendaId = gridData[i].AgendaId;
            if (gridData[i].IsAgendaSelect == true) {
                for (var item, j = 0; item = gridMappingData[j]; j++) {

                    if (AgendaId == item.AgendaId) {
                        var complianceId = item.ComplianceId;
                        if (!(complianceId in lookup)) {
                            lookup[complianceId] = 1;
                            result.items.push(gridMappingData[j]);
                        }
                    }
                }
            }
        }

        if (result.items.length > 0) {
            $('#fsetCompliance').removeClass("hidden");
            $('#divAgendaPanelBar').addClass("hidden");
        }
        fillGridComplianceAssign(result.items);

        $("#btnExportToExcel").kendoButton({
            imageUrl: "/Images/Excel _icon.png"
        });

        kendo.ui.progress($("#gridComplianceAssign"), false);
    }
</script>


<!-- Apply button click -->
<script>
    function btnApplyComplianceFilter_Click() {
        $('#fsetCompliance').addClass("hidden");
        kendo.ui.progress($("#gridComplianceAssign"), true);
        debugger;
        var grid = $('#gridComplianceFilter').data().kendoGrid;
        var gridData = grid.dataSource.data();

        var lookup = {};
        var result = { items: [] }

        debugger;
        for (var i = 0; i < gridData.length; i++) {
            var ComplianceId = gridData[i].ComplianceId;
            if (gridData[i].IsComplianceSelect == true) {

                var tempComplianceId = gridData[i].ComplianceId;
                        if (!(tempComplianceId in lookup)) {
                            lookup[tempComplianceId] = 1;
                            result.items.push(gridData[i]);
                        }
            }
        }

        if (result.items.length > 0) {
            $('#fsetCompliance').removeClass("hidden");

            $('#divStatCompliances').addClass("hidden");
        }
        fillGridComplianceAssign(result.items);

        $("#btnExportToExcel").kendoButton({
            imageUrl: "/Images/Excel _icon.png"
        });

        kendo.ui.progress($("#gridComplianceAssign"), false);
    }
</script>

<!--  Performer Reviewer Changed event -->
<script>
    function ddlPerformerReviewerChanged() {

        //Update Performer & Reviewer in JSON
        var ddlPerformer = $("#ddlPerformer").data("kendoDropDownList");
        var performerID = ddlPerformer.value();
        var performer = ddlPerformer.text();
        if (performerID > 0) {

        }
        else {
            performerID = 0;
            performer = "";
        }

        var ddlReviewer = $("#ddlReviewer").data("kendoDropDownList");
        var reviewerID = ddlReviewer.value();
        var reviewer = ddlReviewer.text();
        if (reviewerID > 0) {
        }
        else {
            reviewerID = 0;
            reviewer = "";
        }
        debugger;

        var grid = $('#gridComplianceAssign').data().kendoGrid;
        if (grid != undefined){
            $.each(grid.dataSource.data(), function () {
                debugger;
                this['PerformerID'] = performerID;
                this['ReviewerID'] = reviewerID;

                this['Performer'].UserID = performerID;
                this['Performer'].FullName = performer;

                this['Reviewer'].UserID = reviewerID;
                this['Reviewer'].FullName = reviewer;

                this.dirty = true;
            });
            grid.refresh();
        }
        
        //End
    }
</script>

<!-- Assign Compliance -->
<script>
    function btnSaveAgendaComplianceList_Click() {

        var strValidation = "";
        $("#divgridComplianceAssignMessageParent").addClass("hidden");
        var divgridComplianceAssignMessageError = $("#divgridComplianceAssignMessageError");
        divgridComplianceAssignMessageError[0].innerHTML = "";

        kendo.ui.progress($("#gridComplianceAssign"), true);

        var result = true;

        var dropdownlist = $("#EntityID").data("kendoDropDownList");
        var EntityId = dropdownlist.value();
        if (EntityId > 0) {

        }
        else {
            result = false;
            strValidation = "Please Select Director<br>";
        }

        var ddlPerformer = $("#ddlPerformer").data("kendoDropDownList");
        var performerID = ddlPerformer.value();
        if (performerID > 0) {

        }
        else {
            performerID = 0;
            //result = false;
            //strValidation += "Please Select Performer<br>";
        }

        var ddlReviewer = $("#ddlReviewer").data("kendoDropDownList");
        var reviewerID = ddlReviewer.value();
        if (reviewerID > 0) {
        }
        else {
            reviewerID = 0;
            //result = false;
            //strValidation += "Please Select Reviewer<br>";
        }

        debugger;
        var dpAvailabilityDate = $("#AvailabilityDate").val();

        var scheduleOnDate = "";
        if (moment(dpAvailabilityDate, "DD/MM/YYYY").isValid() == true) {
            scheduleOnDate = moment(dpAvailabilityDate, "DD/MM/YYYY").format("MMM-DD-YYYY");
        } else {
            result = false;
            strValidation += "Please Enter Start Date<br>";
        }

        if (result == true) {
            AgendaComplianceList_Save(EntityId, performerID, reviewerID, scheduleOnDate);
        } else {
            kendo.ui.progress($("#gridComplianceAssign"), false);
            divgridComplianceAssignMessageError[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + strValidation + "</lable></div></div></div>";
        }
        
    }

    function AgendaComplianceList_Save(e, p, r, d) {
        debugger;
        var agendaItems = new Object();
        agendaItems.Name = "Amit";
        agendaItems.MappingType = "@Model";
        agendaItems.EntityID = 0;
        agendaItems.DirectorID = e;
        agendaItems.PerformerID = p;
        agendaItems.ReviewerID = r;
        agendaItems.ScheduleOnDate = d;

        agendaItems.lst = [];

        var grid = $('#gridComplianceAssign').data().kendoGrid;
        var gridData = grid.dataSource.data();

        $("#divgridComplianceAssignMessageParent").addClass("hidden");
        var divgridComplianceAssignMessage = $("#divgridComplianceAssignMessage");
        var divgridComplianceAssignMessageError = $("#divgridComplianceAssignMessageError");
        divgridComplianceAssignMessage[0].innerHTML = "";
        divgridComplianceAssignMessageError[0].innerHTML = "";

        var result = true;

        for (var i = 0; i < gridData.length; i++) {
            if (gridData[i].IsComplianceSelect == true){
                agendaItems.lst.push(gridData[i]);

                if (gridData[i].Performer.UserID == 0 || gridData[i].Reviewer.UserID == 0) {
                    result = false;
                }
            }
        }
        if (result == false) {
            var strValidation = "Please select Performer/Reviewer."
            kendo.ui.progress($("#gridComplianceAssign"), false);
            divgridComplianceAssignMessageError[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + strValidation + "</lable></div></div></div>";
        }
        else {

            if (agendaItems.lst.length > 0) {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AgendaComplianceList_SaveJsonForDirector", "ComplianceAssign")",
                    data: JSON.stringify(agendaItems),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    debugger;
                    if (response.Success == true) {

                        $("#divgridComplianceAssignMessageParent").removeClass("hidden");
                        var divgridComplianceAssignMessage = $("#divgridComplianceAssignMessage");
                        divgridComplianceAssignMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";

                        if ("@Model" == "M") {
                            $("#gridComplianceAssign").data('kendoGrid').dataSource.data([]);
                        }
                        else if ("@Model" == "D") {
                            $("#gridComplianceAssign").data('kendoGrid').dataSource.data([]);
                        }
                        else if ("@Model" == "S") {
                            $("#gridComplianceAssign").data('kendoGrid').dataSource.data([]);
                        }
                        else {
                            $("#gridAgendaItems").data('kendoGrid').dataSource.data([]);
                            $("#gridAgendaCompliance").data('kendoGrid').dataSource.data([]);
                            $("#gridComplianceAssign").data('kendoGrid').dataSource.data([]);
                        }

                        kendo.ui.progress($("#gridComplianceAssign"), false);
                        ddlEntityChanged();
                    }
                    else {
                        $("#divgridComplianceAssignMessageParent").removeClass("hidden");
                        var divgridComplianceAssignMessage = $("#divgridComplianceAssignMessage");
                        divgridComplianceAssignMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Error.</lable></div></div></div>";
                    }
                }
            });
        }
    else {
            var strValidation = "Please check compliance from list."
        kendo.ui.progress($("#gridComplianceAssign"), false);
        divgridComplianceAssignMessageError[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + strValidation + "</lable></div></div></div>";

    }
        }
    }
</script>

<!-- Dropdown Editor-->
<script>
    function categoryDropDownEditor(container, options) {
        $('<input required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                dataTextField: "FullName",
                dataValueField: "UserID",
                dataSource: {
                    transport: {

                        read: {
                            dataType: "json",
                            url: "/api/UserMasterAPI/GetUsersDropdown",
                        }
                    }
                }
            });
    }
</script>

<!-- Assigned Compliance-->
<script>
    $(document).ready(function () {
        $(".k-grid-ExportToexcel").find("span").append("<img id='theexcelexport' src='/Images/Excel _icon.png'/>");
    })
    function additionalInfo() {
        debugger;
        var dropdownlist = $("#AssignedComplianceEntityID").data("kendoDropDownList");
        var EntityId = dropdownlist.value();

        if (EntityId == "") {
            return { directorId: 0, MappingType: "@Model" };
        } else {
            return { directorId: EntityId, MappingType: "@Model" };
        }

    }

    function ddlAssignedComplianceEntityID_Changed() {
        canddlAssignedComplianceEntityFilterFill = true;
        $('#gridComplianceAssinged').data('kendoGrid').dataSource.read();
    }

    $("#ExcelExport").click(function (e) {
        e.preventDefault();

        //btnExportToExcelAssigned_Click();

        var dropdownlist = $("#AssignedComplianceEntityID").data("kendoDropDownList");
        var EntityId = dropdownlist.value();

        if (EntityId > 0) {
            window.location = '/BM_Management/ComplianceAssign/ExportAssignedCompliances?EntityID=' + EntityId + "&MappingType=@Model";
        }        
    });

    function btnExportToExcelAssigned_Click() {

        var dropdownlist = $("#AssignedComplianceEntityID").data("kendoDropDownList");
        var EntityId = dropdownlist.value();
        var EntityName = dropdownlist.text();

        var color = "#b5bbbb";
        var _fontSize = 12;
        var _borderBottom = { color: "#ff0000", size: 1 };
        var _borderRight = { color: "#ff0000", size: 1 };

        var rows = [
                    // The first row (header).
                    {
                        cells: [
                          // The first cell.
                          { value: "Compliance Assigned List", hAlign: "center", colSpan: 4, fontSize: 16 },
                        ]
                    }];

        rows.push({
            cells: [
                          { value: "Entity : " + EntityName, hAlign: "center", colSpan: 4, fontSize: 14 },
            ]
        });


        rows.push({
            cells: [
                          // The first cell.
                          { value: "ComplianceID", width: 100, background: color, fontSize: _fontSize },
                          { value: "Compliance", background: color, fontSize: _fontSize },
                          { value: "Performer", width: 75, background: color, fontSize: _fontSize },
                          { value: "Reviewer", width: 75, background: color, fontSize: _fontSize }
            ]
        });


        var grid = $('#gridComplianceAssinged').data().kendoGrid;
        var gridData = grid.dataSource.data();

        for (var i = 0; i < gridData.length; i++) {
          
                rows.push({
                    cells: [
                      { value: gridData[i].ComplianceId, hAlign: "left", borderBottom: { color: "#ff0000", size: 3 } },
                      { value: gridData[i].Description, hAlign: "left" },
                      { value: gridData[i].Performer.FullName, hAlign: "left" },
                      { value: gridData[i].Reviewer.FullName, hAlign: "left" }
                    ]
                });
        }

        var workbook = new kendo.ooxml.Workbook({
            sheets: [
              {
                  // The column settings (width).
                  columns: [
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true }
                  ],
                  // Th title of the sheet.
                  title: "Compliance Assignment",
                  // The rows of the sheet.
                  rows: rows
              }
            ]
        });

        kendo.saveAs({
            dataURI: workbook.toDataURL(),
            fileName: "ComplianceAssignment.xlsx"
        });
    }

</script>

<!-- Compliance Re-Assignment -->
<script>
    function ddlUser_Changed()
    {
        debugger;
        var dropdownlist = $("#ReAssignmentEntityID").data("kendoDropDownList");
        var EntityId = dropdownlist.value();

        var ddlUser = $("#ddlUser").data("kendoDropDownList");
        var UserId = ddlUser.value();

        if (EntityId > 0 && UserId > 0) {
            LoadAssignedComplainceDetails(EntityId, UserId);
        }
    }

    function ddlNewUser_Changed() {

        //Update Performer & Reviewer in JSON
        var ddlNewUser = $("#ddlNewUser").data("kendoDropDownList");
        var newUserID = ddlNewUser.value();
        var newUser = ddlNewUser.text();
        if (newUserID > 0) {

        }
        else {
            newUserID = 0;
            newUser = "";
        }

        debugger;

        var grid = $('#gridComplianceReAssignment').data().kendoGrid;
        if (grid != undefined) {
            $.each(grid.dataSource.data(), function () {
                debugger;

                this['User'].UserID = newUserID;
                this['User'].FullName = newUser;

                this.dirty = true;
            });
            grid.refresh();
        }

        //End
    }

    function LoadAssignedComplainceDetails(e,u) {
        $('#btnSaveReAssignment').addClass("hidden");
        kendo.ui.progress($("#gridComplianceReAssignment"), true);
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAssignedCompliancesDetailsDirector", "ComplianceAssign")",
            data: "{directorId:" + e + ", MappingType:'@Model', UserID:" + u + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger;
                kendo.ui.progress($("#gridComplianceReAssignment"), false);

                fillGridComplianceReAssignment(response.AssignedCompliances);

                if (response.AssignedCompliances.length > 0) {
                    $('#btnSaveReAssignment').removeClass("hidden");
                } else {
                    $('#btnSaveReAssignment').addClass("hidden");
                    $("#gridComplianceReAssignment").data('kendoGrid').dataSource.data([]);
                }
            },
            failure: function (response) {
                kendo.ui.progress($("#gridComplianceReAssignment"), false);
            },
            error: function (response) {
                kendo.ui.progress($("#gridComplianceReAssignment"), false);
            }
        });
    }

    function fillGridComplianceReAssignment(d) {

        //Update Performer & Reviewer in JSON
        var ddlNewUser = $("#ddlNewUser").data("kendoDropDownList");
        var newUserID = ddlNewUser.value();
        var newUser = ddlNewUser.text();
        if (newUserID > 0) {

        }
        else {
            newUserID = 0;
            newUser = "";
        }

        for (var i = 0; i < d.length; i++) {
            d[i].IsComplianceSelect = true;

            d[i].User.UserID = newUserID;
            d[i].User.FullName = newUser;
        }
        //End

        var ds = new kendo.data.DataSource({
            data: d,
            schema: {
                model: {
                    id: "ComplianceAssignmentId",
                    fields: {
                        ComplianceAssignmentId: { editable: false },
                        Description: { editable: false },
                        UserRole: { editable: false }
                    }
                }
            },
            pageSize: 10
        });

        var grid = $("#gridComplianceReAssignment").kendoGrid({
            //toolbar: kendo.template($("#myTemplate").html()),
            pageable: {
                alwaysVisible: false,
                pageSizes: [5, 10, 20, 100]
            },
            columns: [
                        {
                            field: "ComplianceAssignmentId", title: " ", template: "<input type='checkbox' #= IsComplianceSelect ? checked='checked':'' # class='chkbx' />", width: "35px;"
                            , headerTemplate: "<input type='checkbox' id='header_chbReAssignment' class='header-checkbox'>"

                        },
                        { field: "ComplianceId", title: "ID", width: "75px;" },
                        { field: "CompanyName", title: "Company", width: "200px;" },
                        { field: "Description", title: "Compliance", width: "510px;" },
                        { field: "UserRole", title: "Role", width: "120px;" },
                        { field: "User", title: "New User", editor: categoryDropDownEditor, template: "#=User.FullName#" }
            ],
            editable: true,
            dataSource: ds
        });

        $('#gridComplianceReAssignment').on('click', '.chkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#gridComplianceReAssignment').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));

            if (dataItem != undefined) {
                dataItem.set('IsComplianceSelect', checked);
            }

            if (checked == false) {
                $('#header_chbReAssignment').prop('checked', false);
            }
        });

        $('#header_chbReAssignment').change(function () {
            checkAllReAssignment(this);
        })
    }

    function checkAllReAssignment(ele) {
        var state = $(ele).is(':checked');
        var grid = $('#gridComplianceReAssignment').data().kendoGrid;

        $.each(grid.dataSource.data(), function () {
            if (this['IsComplianceSelect'] != state)
                this.dirty = true;
            this['IsComplianceSelect'] = state;
        });
        grid.refresh();
    }

</script>
<!--Compliance Re-Assignment button save click-->
<script>
    function btnSaveReAssignment_Click() {

        var strValidation = "";
        var divgridComplianceReAssignMessage = $("#divgridComplianceReAssignMessage");
        divgridComplianceReAssignMessage[0].innerHTML = "";

        kendo.ui.progress($("#gridComplianceReAssignment"), true);

        var result = true;

        var dropdownlist = $("#ReAssignmentEntityID").data("kendoDropDownList");
        var EntityId = dropdownlist.value();
        if (EntityId > 0) {

        }
        else {
            result = false;
            strValidation = "Please Select Director<br>";
        }

        var ddlUser = $("#ddlUser").data("kendoDropDownList");
        var userID = ddlUser.value();
        if (userID > 0) {

        }
        else {
            result = false;
            strValidation += "Please Select User<br>";
        }

        var ddlNewUser = $("#ddlNewUser").data("kendoDropDownList");
        var newUserID = ddlNewUser.value();
        if (newUserID > 0) {
        }
        else {
            result = false;
            strValidation += "Please Select New User<br>";
        }

        debugger;

        if (result == true) {
            ComplianceReAssignList_Save(EntityId);
        } else {
            kendo.ui.progress($("#gridComplianceReAssignment"), false);
            divgridComplianceReAssignMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>" + strValidation + "</lable></div></div></div>";
        }
        
    }

    function ComplianceReAssignList_Save(e) {
        debugger;

        var items = new Object();
        items.Name = "Amit";
        items.EntityID = e;
        
        items.lst = [];

        var grid = $('#gridComplianceReAssignment').data().kendoGrid;
        var gridData = grid.dataSource.data();

        for (var i = 0; i < gridData.length; i++) {
            if (gridData[i].IsComplianceSelect == true){
                items.lst.push(gridData[i]);
            }
        }

        $.ajax({
            type: "POST",
            url: "@Url.Action("ComplianceReAssignListForDirector_SaveJson", "ComplianceAssign")",
            data: JSON.stringify(items),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#gridComplianceReAssignment").data('kendoGrid').dataSource.data([]);

                kendo.ui.progress($("#gridComplianceReAssignment"), false);
                ddlUser_Changed();
                
                debugger;
                if (response.Success == true) {
                    var divgridComplianceReAssignMessage = $("#divgridComplianceReAssignMessage");
                    divgridComplianceReAssignMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success'> <lable>Save Successfully.</lable></div></div></div>";
                }
            }
    });
    }
</script>

<!-- Export To Excel -->
<script>
    function btnExportToExcel_Click() {

        var dropdownlist = $("#EntityID").data("kendoDropDownList");
        var EntityId = dropdownlist.value();
        var EntityName = dropdownlist.text();

        var color = "#b5bbbb";
        var _fontSize = 12;
        var _borderBottom = { color: "#ff0000", size: 1 };
        var _borderRight = { color: "#ff0000", size: 1 };
        var rows = [
                    // The first row (header).
                    {
                        cells: [
                          // The first cell.
                          { value: "EntityID", width: 60, background: color, fontSize: _fontSize, borderBottom : { color: "#ff0000", size: 3 } },
                          { value: "EntityName", background: color, fontSize: _fontSize },
                          { value: "ComplianceID", width: 100, background: color, fontSize: _fontSize },
                          { value: "Compliance", background: color, fontSize: _fontSize },
                          { value: "Performer", width: 75, background: color, fontSize: _fontSize },
                          { value: "Reviewer", width: 75, background: color, fontSize: _fontSize },
                          { value: "Start Date[dd/MM/yyyy]", width: 75, background: color},
                        ]
                    }];


        var grid = $('#gridComplianceAssign').data().kendoGrid;
        var gridData = grid.dataSource.data();

        debugger;
        for (var i = 0; i < gridData.length; i++) {
            if (gridData[i].IsComplianceSelect == true) {
                //items.lst.push(gridData[i]);
                rows.push({
                    cells: [
                      { value: EntityId, borderBottom: { color: "#ff0000", size: 3 } },
                      { value: EntityName, hAlign: "left", borderBottom: { color: "#ff0000", size: 3 } },
                      { value: gridData[i].ComplianceId, hAlign: "left", borderBottom: { color: "#ff0000", size: 3 } },
                      { value: gridData[i].Description, hAlign: "left", borderRight: _borderRight, borderBottom: _borderBottom },
                      { value: '', hAlign: "left", borderRight: _borderRight, borderBottom: _borderBottom },
                      { value: '', hAlign: "left", borderRight: _borderRight, borderBottom: _borderBottom },
                      { format: "@@" }
                    ]});
            }
        }


        var workbook = new kendo.ooxml.Workbook({
            sheets: [
              {
                  // The column settings (width).
                  columns: [
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true }
                  ],
                  // Th title of the sheet.
                  title: "Compliance Assignment",
                  // The rows of the sheet.
                      rows: rows
                    //// The second row (data).
                    //{
                    //    cells: [
                    //      { value: "Around the Horn" },
                    //      { value: "Thomas Hardy" }
                    //    ]
                    //},
                    //// The third row (data).
                    //{
                    //    cells: [
                    //      { value: "B's Beverages" },
                    //      { value: "Victoria Ashworth" }
                    //    ]
                  //}
                  //]

              }
            ]
        });

        kendo.saveAs({
            dataURI: workbook.toDataURL(),
            fileName: "ComplianceAssignment.xlsx"
        });
    }
</script>

<!-- Import Excel functions-->
<script>
    function trimChars(str, c) {
        var re = new RegExp("^[" + c + "]+|[" + c + "]+$", "g");
        return str.replace(re, "");
    }

    function escapeRegExp(string) {
        return string.replace(/[.*+?^${}()|[\]\\]/g, "\\$&");
    }

    function replaceAll(str, term, replacement) {
        return str.replace(new RegExp(escapeRegExp(term), 'g'), replacement);
    }
</script>

<!-- Radio button changed -->
<script>
    $("#divRadioParent").on("change", "input[name='Type']", function () {
        debugger;
        var data = this.value;
        if (data == "M") {
            window.location.href = "@Url.Action("Meeting", "ComplianceAssign")";
        }
        else if (data == "A") {
            window.location.href = "@Url.Action("Agenda", "ComplianceAssign")";
        }
        else if (data == "S") {
            window.location.href = "@Url.Action("Statutory", "ComplianceAssign")";
        }
        else if (data == "D") {
            window.location.href = "@Url.Action("Director", "ComplianceAssign")";
        }
    });
</script>