﻿<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-5 imgavanti">
                <div class="form-group">
                    <img src="~/Images/avantil-logo.png" />
                </div>
            </div>
            <div class="col-md-7 bannermain">
                <div class="form-group imgbanner">
                    <img src="~/Images/BanneerText.png" />
                    <div class="">
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <strong> Sandeep Agrawal</strong><br />
                                <strong> Last Login: 8/11/2018</strong>


                            }
                            else
                            {
                                <b>Welcome Guest</b>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse topnavac">
        @*<div class="container">*@
        @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>*@
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="~/ProductMapping/ProductMappingStructure.aspx">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="~/Common/ComplianceDashboard.aspx">Dashboard <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdownMenuStyle">
                        <li><a href="~/Compliances/CannedReportsCA.aspx">Canned Reports</a></li>
                        <li><a href="~/Compliances/EventCannedReports.aspx">Event Reports</a></li>
                        <li><a href="~/Compliances/ComplianceCannedReports.aspx">Compliance Reports</a></li>
                        <li><a href="~/Account/ErrorLogPage.aspx">Log Reports</a></li>
                        <li><a href="~/Compliances/Check_List_Reports.aspx">CheckList Canned Reports</a></li>
                        <li><a href="~/Compliances/Completed_NotCompleted_ChecklistReports.aspx">CheckList Reports</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Users <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdownMenuStyle">
                        <li><a href="~/Users/UserList.aspx">Users</a></li>
                        <li><a href="~/Customers/CustomerList.aspx">My Companies</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Compliances <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdownMenuStyle">
                        <li><a href="~/Compliances/ComplianceList.aspx">Compliances</a></li>
                        <li><a href="~/Compliances/ActList.aspx">Acts</a></li>
                        <li><a href="~/Compliances/ComplianceCategoryList.aspx">Compliance Categories</a></li>
                        <li><a href="~/Compliances/ComplianceTypeList.aspx">Compliance Types</a></li>
                        <li><a href="~/Compliances/Assign_ComplianceNew.aspx">Compliance Assignment</a></li>
                        <li><a href="~/Compliances/IntermediateCompliance.aspx">Intermediate Assignment</a></li>
                        <li><a href="~/Compliances/Assign_Compliance_Activate.aspx">Activate Assignment</a></li>
                        <li><a href="~/Compliances/Assign_CheckListNew.aspx">Assign CheckList</a></li>
                        <li><a href="~/Compliances/IntermediateChkList.aspx">Compliance Assignment Report</a></li>
                        <li><a href="~/Compliances/Assign_CheckList_Activate.aspx">Compliance Status Report</a></li>
                        <li><a href="~/ComplianceDocument/ComplianceDocumentListCA.aspx">Compliance Documents</a></li>
                        <li><a href="~/Users/UserRemindersCA.aspx">Remainders</a></li>
                        <li><a href="~/Compliances/AssignEntitiesToManagement.aspx">Entities Assignments</a></li>
                        <li><a href="~/Compliances/ReviseCompliancesCA.aspx">Revise Compliances</a></li>
                        <li><a href="~/Compliances/ApproveCompliances.aspx">Approve Compliances</a></li>
                        <li><a href="~/Compliances/CompliaceListPerfor_Rev.aspx">ComplianceList</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Internal Compliances <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdownMenuStyle">
                        <li><a href="#">Compliance Type</a></li>
                        <li><a href="#">Compliance Category</a></li>
                        <li><a href="#">Compliances</a></li>                       
                        <li><a href="#">Compliance Assignment</a></li>
                        <li><a href="#">Assign Compliance</a></li>
                        <li><a href="#">Intermediate Compliance</a></li>
                        <li><a href="#">Activate Compliance</a></li>
                        <li><a href="#">Assign CheckList</a></li>
                        <li><a href="#">Intermediate CheckList</a></li>
                        <li><a href="#">Activate CheckList</a></li>
                        <li><a href="#">Upload Assignment</a></li>
                        <li><a href="#">Compliance Documents</a></li>
                        <li><a href="#">Compliance Status Report</a></li>
                        <li><a href="#">Remainders</a></li>
                        <li><a href="#">Entities Assignments</a></li>
                        <li><a href="#">Compliance Reports</a></li>
                        <li><a href="#">Canned Reports</a></li>
                        <li><a href="#">Edit Compliance Schedule</a></li>
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Events<span class="caret"></span> </a>
                    <ul class="dropdown-menu dropdownMenuStyle">
                        <li><a href="~/Event/EventComplianceList.aspx">Compliance</a></li>
                        <li><a href="~/Event/EventList.aspx">Event</a></li>
                        <li><a href="~/Event/AssignEvents.aspx">Event Assignments</a></li>
                        <li><a href="~/Event/Assign_EventCompliance.aspx">Compliance Assignments</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Data <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdownMenuStyle">
                        <li><a href="#">Upload Internal Data</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Task<span class="caret"></span> </a>
                    <ul class="dropdown-menu dropdownMenuStyle">
                        <li><a name="~/Account/ChangePassword.aspx" ></a></li>Task Details
                        </ul>
</li>
                <li>
                    <a href="~/Compliances/frmPerformanceSummary.aspx">Performance Summary </a>
                </li>
                <li>
                    <a href="~/Account/ChangePassword.aspx">Change Password </a>
                </li>
                <li>
                    <a href="#">[Log Out] </a>
                </li>
            </ul>
        </div>
        
    </div>

</div>

