﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMPublicListedSherholders
<style>
    .mt-2
    {
        margin-top:2%;
    }
</style>

<script>
    $(document).ready(function () {
        $("#DIVBenposExcel").kendoTooltip({ content: "Sample Document For BenPos" });
    });
    function DownloadBenposDocument()
    {
        window.location.href = "@Url.Action("DownloadSampleFormateforBanpos", "ShareholdingMaster")";
    }
</script>


@if (ViewBag.SuccessMessage != null)
{
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <lable>@ViewBag.SuccessMessage</lable>
        </div>
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <lable>@ViewBag.Error</lable>
        </div>
    </div>
}
@if (ViewBag.ErrorMessage != null)
            {
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @foreach (var item in ViewBag.ErrorMessage)
            {
                <lable>@item.</lable><br />
            }
        </div>
    </div>
}
<div id="DivListedShares">
    @using (Ajax.BeginForm("UploadPrivatepublicShare", "ShareholdingMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivListedShares" }, new { id = "frmUpdateDetailsListedShareholdingCompany", enctype = "multipart/form-data" }))
            {

        @Html.HiddenFor(m => m.EntityId)

        <div class="col-md-2 colpadding0">
            <span style="color:red">*</span><label class="control-label">BenPos Date</label>
            @(Html.Kendo().DatePicker().Name("Allowtment_Date")
            .Max(DateTime.Today).Format("dd/MM/yyyy").Enable(true).ParseFormats(new[] { "dd/MM/yyyy" }).Culture("en-GB")
            .HtmlAttributes(new { style = "width: 100%", @Id = "dpallotment_Date", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);" }))

            @Html.ValidationMessageFor(model => model.Allowtment_Date, "", new { @class = "text-danger" })
        </div>

                <div class="col-md-4 colpadding0">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <span style="color:red">*</span><label class="control-label">Select File</label>
                        <input type="file" name="File" multiple="multiple" style="color:black;margin-top: 3%;" />
                        @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                    </div>
                </div>

                    <div class="col-md-2 mt-2 colpadding0">
                        <button type="submit" class="k-primary k-button k-grid-update k-button-icontext">Upload</button>
                    </div>
                    <div class="col-md-2 pull-right" id="DIVBenposExcel">
                        <img src="/Images/Excel _icon.png" class="theexcelexport cursur" onclick="DownloadBenposDocument()">
                    </div>
    }
</div>


