﻿@model BM_ManegmentServices.VM.VMShareholding

@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Partner :: Master";
}

<script>

    function onRowBound(e) {
        GetICons();

        var grid = $("#gridKendo").data("kendoGrid");
        getGridborder(grid);
    }

   

    function getTheSubstringofDesi(value, length) {
        debugger;
        if (value != null && value != "") {
            if (value.length > length)
                return kendo.toString(value.substring(0, length)) + "...";
            else return kendo.toString(value);
        }
        else {
            return kendo.toString("");
        }
    }

  
</script>

<script>
    function EditPartner(e)
    {
        debugger;
        var direction = "";

        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $("#wnddirDOI").kendoWindow({
            title: "Details of Interest",
        });
        if (dataItem.designationId > 0 && dataItem.designationId == 13)
        {
            direction = "bodycorporate?DirectorId=" + dataItem.DirectorId + "&IntrestId=" + dataItem.partnerShersID;
            //direction = "@Html.ActionLink("bodycorporate", "Director_Master")";
        }
        else
        {
            direction = "DetailsofIntrest?DirectorId=" + dataItem.DirectorId + "&IntrestId=" + dataItem.partnerShersID;
            @*//@Html.ActionLink("DetailsofIntrest", "Director_Master", new { DirectorId = dataItem.DirectorId ,}, null)*@
        }


        var wnd = $("#wnddirDOI").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wnddirDOI").kendoWindow({
            title: "Details of Interest",
            actions: ["Close"],
            pinned: true,
            content: direction,
            width: "50%",
            height: "90%",

            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () {
                kendo.ui.progress(this.element, true);
               // $("#wndAddDirector").attr('style', "opacity:0.5; display:block;");
                $(this.element).closest(".k-window").css("position", "fixed");
                $(this.element).closest(".k-window").css("top", "45px");
            },
            close: function (e) {
                $(this.element).empty();
                //$("#wndAddDirector").attr('style', "opacity:''; display:block;");
                //$('#gridKendo2').data('kendoGrid').dataSource.read();
                //$('#gridKendo2').data('kendoGrid').refresh();
                //$('#KendoDirectorSecurityDetails').data('kendoGrid').dataSource.read();
                //$('#KendoDirectorSecurityDetails').data('kendoGrid').refresh();
            }
        }).data("kendoWindow");

        opts.width = "50%";
        opts.height = "90%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>
@(Html.Kendo().Window().Name("wnddirDOI").Title("Details of Interest").Visible(false).Modal(true))
<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="row col-md-12 colpadding0">
            <h4><b>@Model.EntityName</b></h4>
        </div>

        @*<div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-6 colpadding0">
                    <div class="input-group">
                        <input id='filterSearch' type="text" class="form-control" placeholder="Search by Folio Number/Member" autocomplete="off" />
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" style="height:36px">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearfillter" style="display:none">
                        <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
                    </button>
                </div>

                <div class="col-md-5 text-right">
                    <a class="btn btn-primary" href="/#" id="customCommand" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</a>
                </div>
            </div>
        </div>*@

        @(Html.Kendo().Tooltip()
      .For("#gridKendo")
      .Filter(".forTooltipscomsortdis")
      .ContentHandler("getRatingTooltip")
      .Position(TooltipPosition.Bottom)
      .AutoHide(true))




        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                @Html.AntiForgeryToken()

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.VMShareholding>()
                    .Name("gridKendo")
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.Member_Name).Title("Name").HtmlAttributes(new { @style = "width:30%" }).Filterable(ftb => ftb.Multi(true).Search(true));

                        //columns.Bound(o => o.Id).Filterable(false).HtmlAttributes(new { @style = "white-space: nowrap;" }); ;
                        columns.Bound(o => o.NatureofIntrest).Title("Nature of Interest").HtmlAttributes(new { @style = "width:10%" }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.Designation).ClientTemplate("<div  class=\"forTooltipscomsortdis\">#:getTheSubstringofDesi(data.Designation,20)#</div>").Title("Type").HtmlAttributes(new { @style = "width:10%" }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.PAN).Title("PAN").HtmlAttributes(new { @style = "width:10%" }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.DPIN).Title("DPIN").HtmlAttributes(new { @style = "width:10%" }).Filterable(ftb => ftb.Multi(true).Search(true));
                        // columns.Bound(o => o.EmailId).Title("Email").HtmlAttributes(new { @style = "white-space: nowrap;width:20%" }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.Tot_SharesHeld).Title("Contribution obligation").HtmlAttributes(new { @style = "width:10%" }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.perofHolding).Title("Holding(%)").HtmlAttributes(new { @style = "width:10%" }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Command(command =>
                        {
                            command.Custom("Edit").Click("EditPartner").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                            // command.Custom("Delete").Click("DeleteShareholding").HtmlAttributes(new { @class = "k-grid-delete hoverCircle" });
                        }).Title("Action").HtmlAttributes(new { @style = "width:10%" });
                    })
                    .EnableCustomBinding(true)
                    .Events(e => e.DataBound("onRowBound"))
                    .Navigatable()
                    .Pageable(pageable => pageable
                        .Refresh(false)
                        .PageSizes(true)
                        .ButtonCount(5))
                        .Filterable()
                        .Sortable()
                        .Reorderable(reorderable => reorderable.Columns(true))
                        .Resizable(resizable => resizable.Columns(true))
                        .ColumnMenu()
                        .DataSource(dataSource => dataSource
                        .WebApi()
                        //.Ajax()
                        .PageSize(20)
                        //.ServerOperation(false)
                        .Model(model =>
                        {
                            model.Id(o => o.Id);
                            //model.Field(o => o.DIN);
                            //model.Field(o => o.DSC_ExpiryDate);
                        })
                    .Read(read => read.Url("/api/ShareholdingMasterAPI/GetPartnerSharesList").Data("getEntityId").Type(HttpVerbs.Get))
                    .Events(events => events.Sync("sync_handler"))).HtmlAttributes(new { @style = "width:100%" }))
            </div>
        </div>

        <div class="row colpadding0 mt30 hidden">
            <div class="col-md-12 colpadding0">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("GetEntityDtls", "EntityMaster")';return false;">Back</button>
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Window()
    .Name("popforsharholder")
    .Title("Add - ShareHolding")
    .Visible(false)
    .Modal(true)
    //.Draggable(true)
    .Scrollable(true)
    @*.Events(e => e.Open("adjustSize"))
    .Events(e => e.Refresh("OnRefresh")))*@
    )

<div id="wndDelete">
    <h5>Are you sure you want to delete this data?</h5>
    <div class="text-center">
        <button id="yes" class="btn btn-primary">Yes</button>
        <button id="no" class="btn btn-primary">No</button>
    </div>
</div>

@(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Edit"))

@(Html.Kendo().Tooltip()
        .For("#gridKendo")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Delete"))

<script>
    var wndDelete;
    $(document).ready(function () {
        wndDelete = $("#wndDelete").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");

        var breadCrumbData = [
            {
                displayText: "Entity",
                navigateUrl: "/BM_Management/EntityMaster/GetEntityDtls",
            }, {
                displayText: "Shareholding",
                navigateUrl: "#",
            },
        ];

        setBreadCrumb(breadCrumbData);
    });

    function DeleteShareholding(e) {
        debugger;
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        wndDelete.center().open();
        $("#yes").click(function () {
            Delete(id)
            grid.removeRow(row);
            wndDelete.close();
        });

        $("#no").click(function () {
            wndDelete.close();
        });
    }

    function Delete(id) {
        $.ajax({
            url: "/api/ShareholdingMasterAPI/DeleteShareHolding?Id=" + id,
            method: "DELETE",
            success: function () {
                alert("Deleted Successfully");
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
            }
        });
    }

    function sync_handler(e) {
        this.read();
    }

  

   

    function Onshareholdingsuccess() {
        var wnd = $("#popforsharholder").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
        $('#Equity').prop('disabled', false);
        $('#mytab a:last').show();
    }

    function OnRefreshe(){
        var wnd = $("#popforsharholder").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function getEntityId() {
        return {
            EntityId: "@Model.EntityID"
        };
    }

    $(document).ready(function () {

        $("#dpbecomingmember_Date").removeAttr("data-val-date");
        $("#dpDOB_minor").removeAttr("data-val-date");
        $("#dpdeclaration_Date_under89").removeAttr("data-val-date");
        $("#dpCessation_Membership_Date").removeAttr("data-val-date");
        $("#dpNomination_Date_Receipt").removeAttr("data-val-date");

        if ($("#dpbecomingmember_Date").val() == "01/01/0001") {
            $("#DateOfBdpbecomingmember_Dateirth").val('');
        }

        if ($("#dpDOB_minor").val() == "01/01/0001") {
            $("#dpDOB_minor").val('');
        }

        if ($("#dpdeclaration_Date_under89").val() == "01/01/0001") {
            $("#dpdeclaration_Date_under89").val('');
        }

        if ($("#dpCessation_Membership_Date").val() == "01/01/0001") {
            $("#dpCessation_Membership_Date").val('');
        }

        if ($("#dpNomination_Date_Receipt").val() == "01/01/0001") {
            $("#dpNomination_Date_Receipt").val('');
        }
    });

    $(document).on("change", "input[name='IsMemberMinnor']", function () {

        var mimeType = document.getElementById("txtGuardian_Name");
        var mimeTypes = document.getElementById("dpDOB_minor");
        if (this.value == "True") {
            mimeType.setAttribute("required", "required");
            mimeTypes.setAttribute("required", "required");
            document.getElementById('MemberinMinor').style.display = 'block';
            $("#spanGardianName").text("*");
            $("#spanDOB").text("*");
        }
        else {
            mimeType.removeAttribute("required");
            mimeTypes.removeAttribute("required");
            document.getElementById('MemberinMinor').style.display = 'none';
            $("#spanGardianName").text("");
            $("#spanDOB").text("");
        }
    });

    $(document).on("change", "input[name='IsDirector']", function () {

        var MemberType = document.getElementById("DIVMember");
        var DirectorType = document.getElementById("DIVDirector");
        if (this.value == "True") {
            //mimeType.setAttribute("required", "required");
            //mimeTypes.setAttribute("required", "required");
            document.getElementById("DIVMember").style.display = 'none';
            document.getElementById("DIVDirector").style.display = 'block';
            //$("#spanGardianName").text("*");
            //$("#spanDOB").text("*");
        }
        else {
            //mimeType.removeAttribute("required");
            //mimeTypes.removeAttribute("required");
            document.getElementById("DIVMember").style.display = 'block';
            document.getElementById("DIVDirector").style.display = 'none';
            //$("#spanGardianName").text("");
            //$("#spanDOB").text("");
        }
    });
</script>

<script>

    function filterChange(e) {
        debugger;
        var filter = { logic: 'and', filters: [] };

        //var t = $('#filter');
        //if (t.val() != "") {
        //    filter.filters.push({ logic: "or", field: "Follio_No", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "Member_Name", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "EmailId", operator: "contains", value: t.val() });
        //    filter.filters.push({ logic: "or", field: "Tot_SharesHeld", operator: "contains", value: t.val() });
        //}

        var txtSearch = $('#filterSearch');
        if (txtSearch.val() != "") {
            var splittedData = txtSearch.val().trim().split(",");

            for (var i = 0; i < splittedData.length; i++) {
                if (splittedData[i].trim() != "") {
                    filter.filters.push({ logic: "or", field: "Follio_No", operator: "contains", value: t.val() });
                    filter.filters.push({ logic: "or", field: "Member_Name", operator: "contains", value: t.val() });
                    filter.filters.push({ logic: "or", field: "EmailId", operator: "contains", value: t.val() });
                    filter.filters.push({ logic: "or", field: "Tot_SharesHeld", operator: "contains", value: t.val() });
                    filter.filters.push({ logic: "or", field: "perofTotShareHolding", operator: "contains", value: t.val() });
                }
            }
        }

        var grid = $("#gridKendo").data("kendoGrid");
        grid.dataSource.filter(filter);

        if (filter != null) {
            $("#clearfillter").show();
        } else {
            $("#clearfillter").hide();
        }
    }

    function clearfilter(e) {
        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");
        }

        $('#clearfillter').css('display', 'none');

        $("#gridKendo").data("kendoGrid").dataSource.filter({});
    }
</script>

<script>
    function InputToUpper(obj) {
        if (obj.value != "") {
            obj.value = obj.value.toUpperCase();
        }
    }

    function BindAutoComplete() {
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'Follio_No'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'Member_Name'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'EmailId'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'Tot_SharesHeld'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo', 'perofTotShareHolding'));

        if (autoCompleteData != null && autoCompleteData != undefined) {
            $("#filterSearch").kendoAutoComplete({
                dataSource: autoCompleteData,
                filter: "contains",
                placeholder: "Search by Folio Number/Member",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        filterChange();
    }

    function getRatingTooltip(e) 
    {
        var dataItem = $("#gridKendo").data("kendoGrid").dataItem(e.target.closest("tr"));
        var content = dataItem.Designation;
        return content;
    }
</script>