﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.MeetingFormsVM

<script>
    function getDataForFormList() {
        return { meetingId: "@Model.MeetingId", meetingAgendaMappingId: "@Model.MeetingAgendaMappingId", complianceId :"@Model.ComplianceId" };
    }

    function onRowBound() {

        var grid = $("#gridMeetingForms").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");

            if (gridData[i].IsEForm == true) {
                $(currenRow).find(".k-grid-V").addClass("k-state-disabled");
            }
        }

        GetICons();
    }

    function ViewMeetingForm(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        if (dataItem.IsEForm == false) {
            $.ajax({

                'url': "@Url.Action("PreviewFormFormat", "MeetingForm")?FormMappingId=" + dataItem.MeetingFormMappingId + "&meetingAgendaMappingId=" + dataItem.MeetingAgendaMappingId,
            'type': 'GET',

            'success': function (data) {
                //alert('Data: ' + data);
                $("#wndMeetingFormPreview").attr("style", "min-height:100px;");

                $("#wndMeetingFormPreview").kendoWindow({
                    title: "Meeting Form Preview",
                    modal: true
                });

                var wnd = $("#wndMeetingFormPreview").data("kendoWindow");
                var opts = wnd.options;
                
                var editor = $("#MeetingFormEditor").data("kendoEditor");
                editor.body.contentEditable = false;
                editor.value("<div style='user-select:none;'>" + data + "</div>");

                opts.width = "95%";
                opts.height = "550";
                wnd.setOptions(opts);
                wnd.center();
                wnd.open()
            },
            'error': function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
        }
    }

    function DownloadMeetingForm(e){
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.IsEForm == true) {
            //window.location = "/api/FormServiceAPI/GenerateForm?meetingFormMappingId=" + dataItem.MeetingFormMappingId;
            window.open("/api/FormServiceAPI/GenerateForm?meetingFormMappingId=" + dataItem.MeetingFormMappingId + "&meetingId=" + dataItem.MeetingId, '_blank');
        }
        else {
            window.location = "@Url.Action("DownloadFormFormate", "MeetingForm")?FormMappingId=" + dataItem.MeetingFormMappingId + "&meetingAgendaMappingId=" + dataItem.MeetingAgendaMappingId
        }
    }

    function DownloadMeetingEForm(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "/api/FormServiceAPI/GenerateForm?meetingFormMappingId=" + dataItem.MeetingFormMappingId;
    }
</script>

<div>
    @(Html.Kendo().Tooltip()
            .For("#gridMeetingForms")
            .Filter("td:nth-child(1)")
            .ContentHandler("toolTipContent_gridNew")
            .Position(TooltipPosition.Top)
            //.Events(e => e.Show("PositionTooltip"))
            .AutoHide(true) )

    @(Html.Kendo().Tooltip()
            .For("#gridMeetingForms")
            .Filter("td:nth-child(2)")
            .ContentHandler("toolTipContent_gridNew")
            .Position(TooltipPosition.Top)
            //.Events(e => e.Show("PositionTooltip"))
            .AutoHide(true) )

    @(Html.Kendo().Tooltip()
        .For("#gridMeetingForms")
        .Filter(".k-grid-view")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Preview")
    )

    @(Html.Kendo().Tooltip()
        .For("#gridMeetingForms")
        .Filter(".k-grid-download")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Download")
    )
</div>
<div style="max-height:480px;min-height:350px;overflow-x:hidden;overflow-y:auto;">
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.FormsVM>()
                    .Name("gridMeetingForms")

                    .Columns(columns =>
                    {
                        columns.Bound(o => o.MeetingFormMappingId).Visible(false);
                        columns.Bound(o => o.FormName).Title("Name").Width("40%");
                        columns.Bound(o => o.EventMessage).Title("Details").Width("45%");

                        columns.Command(commnd =>
                        {
                            commnd.Custom("View").Click("ViewMeetingForm").HtmlAttributes(new { @class = "k-grid-view" });
                            commnd.Custom("Download").Click("DownloadMeetingForm").HtmlAttributes(new { @class = "k-grid-download" });
                        }).Title("Action").Width("15%");
                    })
                    .HtmlAttributes(new { style = "height:450px;" })
                    .Events(e => e.DataBound("onRowBound"))
                    .Scrollable()
                    .DataSource(dataSource => dataSource
                    .WebApi()
                    .Sort(sort => sort.Add("FormName").Ascending())
                    .ServerOperation(false)
                    .Model(model =>
                    {
                        model.Id(o => o.MeetingFormMappingId);
                        model.Field(p => p.MeetingId).Editable(false);
                        model.Field(p => p.MeetingAgendaMappingId).Editable(false);
                        model.Field(p => p.IsEForm).Editable(false);
                    })
                .Read(read => read.Url("/api/FormServiceAPI/GetMeetingFormList").Data("getDataForFormList").Type(HttpVerbs.Get))
                ))
        </div>
    </div>
</div>