﻿@using Kendo.Mvc.UI
@model BM_ManegmentServices.VM.MeetingAttendance_VM
<script>
    function DownloadAttendenceDoc(meetingID){      
        window.location = '/BM_Management/MainMeeting/DownloadAttendence?MeetingId=' + meetingID;
    }
</script>
<div class="row colpadding0">
    <div class="col-md-12 colpadding0 text-right">
        <span class="">
            <img src="~/Areas/BM_Management/img/Download.png" onclick="DownloadAttendenceDoc(@Model.MeetingId)" />
            @*<img src="~/Images/regulatorydownload.png" style="cursor:pointer"  onclick="DownloadAttendenceDoc(@Model.MeetingId)"/>*@
        </span>
    </div>
</div>

<div class="container" style="height:450px!important;overflow-x:hidden">
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            @*Header*@
            @*<div class="row colpadding0">
                <div class="col-md-12 colpadding0" style="text-align:center">
                    <p style="background-color:yellow;font-family:'Times New Roman';font-size:17px">On the letterhead of the Company</p>
                </div>
            </div>*@
            @*Header*@

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" style="text-align:center">
                    <p style="font-family:Calibri; font-size:17px">ATTENDANCE REGISTER</p>
                </div>
            </div>
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" style="text-align:center">
                    <p style="font-family:Calibri; font-size:17px"><b>@Model.startstopeDateVM.EntityName</b></p>
                </div>
            </div>
            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" style="text-align:center">
                    <p style="font-family:Calibri; font-size:17px"><b>@Model.startstopeDateVM.Meetingno/@Model.startstopeDateVM.FYText - @Model.startstopeDateVM.MeetingType</b></p>
                    @*<p style="font-family:Calibri; font-size:17px"><b>@Model.startstopeDateVM.MeetingType Meeting No_ @Model.startstopeDateVM.MeetingSrNo</b></p>*@
                </div>
            </div>

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" style="text-align:center">
                    <p style="font-family:Calibri; font-size:17px">HELD AT @Model.startstopeDateVM.Venu ON @Model.startstopeDateVM.MeetingStartDate AT @Model.startstopeDateVM.MeetingDueTime</p>
                </div>
            </div>

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0" style="text-align:justify">
                    <table style="border:1px solid black" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="font-family:Calibri; font-size:17px" class="col-md-1">
                                    <b>Sr. No.</b>
                                </th>
                                <th style="font-family:Calibri; font-size:17px" class="col-md-6">
                                    <b>NAME OF DIRECTOR</b>
                                </th>
                                <th style="font-family:Calibri; font-size:17px" class="col-md-5">
                                    <b>PRESENT / LEAVE OF ABSENCE</b>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int count = 0;
                                foreach (var item in @Model.AttendenceDetails)
                                {
                                    count = count + 1;
                                    <tr>
                                        <td>
                                            @count
                                        </td>
                                        <td>
                                            @item.Participant.ToUpper()
                                        </td>
                                        <td>
                                            @item.Attendence
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row colpadding0">
                <div class="col-md-12 colpadding0">
                    <p style="font-family:Calibri; font-size:17px">Authenticated By:  <b>@Model.startstopeDateVM.ChairmanoftheMeeting</b> (Chairman of the Meeting) on <b> @(String.Format("{0:MMM dd,yyyy}", Model.startstopeDateVM.StartDate))</b> </p>
                </div>
            </div>

            <div class="row colpadding0">
                <div class="col-md-12">
                    <p style="font-family:Calibri; font-size:17px">Name:</p>
                    <p style="font-family:Calibri; font-size:17px">Signature:</p>
                    <p style="font-family:Calibri; font-size:17px">Place:</p>
                    <p style="font-family:Calibri; font-size:17px">Date:</p>
                </div>
            </div>

        </div>
    </div>
</div>


