﻿
@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.ChairpersonElection

<script>
    function OnOpenElectChairman() {
        var wnd = $("#PopupMeetingChairmanelection").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }
    function OnRefreshElectChairman() {
        var wnd = $("#PopupMeetingChairmanelection").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }
    function OnSuccess() {
        //alert(3);
    }
    function OnFailure() {
        //alert(4);
    }
</script>

<div id="divElectCharmanforBM" style="max-height:200px;overflow-y:auto;overflow-x:hidden">

    @using (Ajax.BeginForm("ElectChairman", "MainMeeting", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divElectCharmanforBM", OnBegin = "OnOpenElectChairman", OnComplete = "OnRefreshElectChairman", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "frmelectnewChairmanforBM" }))
    {

        <div class="row colpadding0">
            @if (Model.Success)
            {
                <div class="col-md-12 colpadding0">

                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row colpadding0">
            @if (Model.Error)
            {
                <div class="col-md-12 colpadding0">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.Message)))
                        {
                            <lable>@Model.Message</lable>
                        }
                    </div>
                </div>
            }
        </div>

        @Html.HiddenFor(m => m.MeetingParticipantId)
        @Html.HiddenFor(m => m.MeetingId)
        <div class="row colpadding0" style="overflow-x:hidden">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().DropDownListFor(m => m.DirectorId)
                        .DataTextField("DirectorName")
                        .DataValueField("DirectorId")
                        .OptionLabel("Elect for Chairman")
                        .Filter("contains")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/MainMeeting/GetParticipantByMeeting?MeetingId=" + Model.MeetingId).Type(HttpVerbs.Get);
                            })
                            .ServerFiltering(false);
                        })
                         .HtmlAttributes(new { style = "width: 99%", autocomplete = "off" })
                )
                <div class="k-edit-buttons k-state-default" style="background:!important;background:none;width:100%;text-align:center;margin-top:5%">
                    <button type="button" id="btnSave_MeetingChirman" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
                    <button type="button" id="btnClose_MeetingChirman" class="k-primary k-button k-grid-update k-button-icontext">Close</button>
                </div>
            </div>
        </div>
    }
</div>

<script>
    var validator1 = $("#frmelectnewChairmanforBM").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $("#btnSave_MeetingChirman").click(function () {

        $('form#frmelectnewChairmanforBM').submit();
    })
    $("#btnClose_MeetingChirman").click(function () {

        var wnd = $("#PopupMeetingChairmanelection").data("kendoWindow");
        wnd.close();

        $('#gridMeetingAttendance').data('kendoGrid').dataSource.read();
        $('#gridMeetingAttendance').data('kendoGrid').refresh();
    })
</script>

