﻿@model IEnumerable<BM_ManegmentServices.VM.AgendaListforCTC>
@using Kendo.Mvc.UI;

@(Html.Kendo().Window().Name("wndMeetingCTC").Title("CTC").Visible(false).Modal(true).Actions(a => {a.Close(); }).Draggable().Scrollable(true))
@(Html.Kendo().Window().Name("wndMeetingCTCFormate").Title("Download").Visible(false).Modal(true).Actions(a => { a.Close(); }).Draggable())

<script type="text/javascript">
    function openCTCPriview(MeetingId,AgendaID){

        $("#wndMeetingCTC").attr("style", "min-height:100px;");

        var direction = "@Url.Action("OpenCTC", "MainMeeting")?MeetingId=" + MeetingId + "&AgendaId=" + AgendaID;

        var wnd = $("#wndMeetingCTC").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndMeetingCTC").kendoWindow({
            //pinned: true,
            content: direction,
            width: "80%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                //$('#DivCTCList').load('@Url.Action("OpenApproveAgendaList", "MainMeeting")?MeetingId='+MeetingId);
            }
        }).data("kendoWindow");
        opts.width = "80%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function openCTCDownload(e, MeetingId, AgendaId){
        e.preventDefault;
        window.location = '/BM_Management/MainMeeting/DownloadCTC?MeetingId=' + MeetingId+"&AgendaId="+AgendaId;
    }

    function downloadinpdf(e, MeetingId, AgendaId) {
        e.preventDefault;
        window.location = '/BM_Management/MainMeeting/DownloadCTCpdf?MeetingId=' + MeetingId + "&AgendaId=" + AgendaId;
    }
</script>


@{
    int i = 1;
}
@if (Model != null)
{
    <div id="DivCTCList">
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <table id="tblagendaSummary" class="table table-hover" style="width:100%;overflow:hidden">
                    <thead>
                        <tr>
                            <th scope="col" class="col-md-1">
                                Sr
                            </th>
                            <th scope="col" class="col-md-9">
                                Agenda
                            </th>

                            <th scope="col" class="col-md-2">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var items in Model)
                        {
                            <tr>
                                <th class="col-md-1"> @i </th>
                                <th class="col-md-9"> @Html.Raw(items.AgendaName) </th>

                                <th class="col-md-2">
                                    <a id="btnPriview@(i)" style="border-radius:25px;min-width:10px;" onclick="openCTCPriview(@items.MeetingId,@items.AgendaId)"><img src="~/Areas/BM_Management/img/View.png" /></a>
                                    <a id="btnDownloadword@(i)" style="border-radius:25px;min-width:10px;margin-left:10%" onclick="openCTCDownload(this,@items.MeetingId,@items.AgendaId)" @(items.DirectorId == null ? "disabled='disabled'" : "")><img src="~/Images/WordDoc.png" height="15" width="12" /></a>
                                    <a id="btnDownloadpdf@(i)" style="border-radius:25px;min-width:10px;margin-left:10%" onclick="downloadinpdf(this,@items.MeetingId,@items.AgendaId)" @(items.DirectorId == null ? "disabled='disabled'" : "")><img src="~/Images/pdf-files.png" height="15" width="12" /></a>
                                </th>
                            </tr>

                            ++i;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
<style>
    .k-grid-edit {
        border-radius: 25px;
        height: 33px;
        width: 35px;
        padding: 5px 0px 0px 0px;
        overflow: hidden;
    }

    .k-grid-content {
        overflow: hidden;
    }
    /*#tblagendaSummary .k-grid, .k-grid *   { border: 0 !important; }*/
</style>

@{int j = 1; }

@foreach (var items in Model)
{
    <script>

        $(document).ready(function () {
            $("#btnPriview@(j)").kendoTooltip({
                content: "Preview CTC",
                position: "bottom"
            });

            $("#btnDownloadword@(j)").kendoTooltip({
                content: "Download CTC in Word",
                position: "bottom"
            });

            $("#btnDownloadpdf@(j)").kendoTooltip({
                content: "Download CTC in PDF",
                position: "bottom"
            });
        });
    </script>
    ++j;
}


