﻿@using Kendo.Mvc.UI
@model BM_ManegmentServices.VM.MeetingAttendance_VM

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        @if (Model.Error)
        {
            <div class="alert alert-danger" style="width: 914px;
    margin-left: 14%;
    padding: 18px 18px 14px 18px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@Model.Message</strong>
            </div>
        }   @if (Model.Success)
            {
            <div class="aalert alert-success" style="width: 914px;
    margin-left: 14%;
      padding: 18px 18px 14px 18px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@Model.Message</strong>
            </div>
        }
    </div>
</div>