﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaVoting

<script>
    function savevotingResult()
    {
        var grid = $("#gridAgendaVoting").data("kendoGrid");
        var divgridAgendaVotingMsg = $("#divgridAgendaVotingMsg");
        divgridAgendaVotingMsg[0].innerHTML = "";
        debugger;
        var gridData = grid.dataSource.data();
        var flag = false;
        for (var i = 0; i < gridData.length; i++) {
            if ((gridData[i].AgendaVotingResponse == 'D' || gridData[i].AgendaVotingResponse == 'AB') && (gridData[i].Remark == '' || gridData[i].Remark == null)) {
                flag = true;
                break;
            }
        }

        if (flag == false) {
            grid.saveChanges();
        } else {
            divgridAgendaVotingMsg[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-danger'> <lable>Please enter remark.</lable></div></div></div>";
        }
    }
    function RowDataBound(e) {
        
        var grid = $("#gridAgendaVoting").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            if (row.Castingvote == "C") {
                $('tr[data-uid="' + row.uid + '"] ').css("background-color", "rgba(88, 110, 189, 0.44)");
                $('td').each(function () { $(this).addClass('white') });
            }
            $.each(data, function (i, row) {

                $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 2px 6px 0 #bdc3c7");

            })
        })
    }
</script>


@*"<label class='container1' for='rdbAttendancepresent#=data.uid#'>Present<input id='rdbAttendancepresent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendance(this);' #=Attendance = ='P' ? 'checked=checked'
    '' # #=AttendendenceId>0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='P' class='k-radio'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" + "<label class='container1' for='rdbabsent#=data.uid#'>Leave of Absence<input id='rdbabsent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendance(this);' #=Attendance = ='A' ? 'checked=checked'

                                                                                                                                                                                                                                                                      '' # #=AttendendenceId>0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='A' class='k-radio'><span class='checkmark1'></span></label>*@
<div id="DIVVoting" class="mt30">
    @if (Model.Castingvote == "C")
    {
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            <div class="alert alert-success" role="alert">
                CASTING VOTE need to be given by Chairman
            </div>

        </div>
    </div>
    }
    <div id="divgridAgendaVotingMsg"></div>
    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaVoting>()
.Name("gridAgendaVoting")
.Columns(columns =>
{
    columns.Bound(p => p.Castingvote).Hidden(true);
    columns.Bound(p => p.ParticipantName).HeaderTemplate("Participant").ClientGroupHeaderTemplate("Participant : #= value #").HtmlAttributes(new { @style = "width:20%" }); ;
    columns.Bound(c => c.AgendaVotingResponse).ClientTemplate(
    "<label class='container1' for='rdbApproved#=data.uid#'>Approved<input id='rdbApproved#=data.uid#' name='#=data.uid#' onclick='setDataItemforMeeting(this);' #= AgendaVotingResponse == 'A' ? 'checked=checked' : '' #  #= VoingResponseId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='A'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;"+
    "<label class='container1' for='rdbDisapprove#=data.uid#'>Disapprove<input id ='rdbDisapprove#=data.uid#' name = '#=data.uid#' onclick = 'setDataItemforMeeting(this);' #= AgendaVotingResponse == 'D' ? 'checked=checked' : '' #  #= VoingResponseId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='D'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
    "<label class='container1' for='rdbDiffered#=data.uid#'>Defer<input id = 'rdbDiffered#=data.uid#' name='#=data.uid#' onclick='setDataItemforMeeting(this);' #= AgendaVotingResponse== 'DIF' ? 'checked=checked' : '' #  #= VoingResponseId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='DIF'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
    "<label class='container1' for='rdbAbstain#=data.uid#'>Abstain<input id = 'rdbAbstain#=data.uid#' name='#=data.uid#' onclick='setDataItemforMeeting(this);' #= AgendaVotingResponse== 'AB' ? 'checked=checked' : '' #  #= VoingResponseId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='AB'><span class='checkmark1'></span></label>").HtmlAttributes(new { @style = "width:40%" });
    columns.Bound(c => c.Remark).ClientTemplate("<input id = 'rdbRemark#=data.uid#'  onchange='setDataItemforRemark(this);' #= Remark #   style='width:100%' name='rdbRemark#=data.uid#' class='k-input k-textbox txt-voting-remark' type='textbox' value='#=Remark !=null?Remark:''#'>").Width("20%");
})
.Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
.DataSource(dataSource => dataSource
.Ajax()
.Batch(true)
.Events(e => e.RequestEnd("vottingRequestend"))
.ServerOperation(false)
.Read(read => read.Action("MeetingVotingAgendaResponse", "MainMeeting", new { MeetingID = Model.MeetingId, AgendaId = Model.AgendaId, MappingId = Model.MeetingAgendaMappingId }).Type(HttpVerbs.Get))
.Update(update => update.Action("UpdateMeetingAgendaResponse", "MainMeeting"))
.Create(update => update.Action("UpdateMeetingAgendaResponse", "MainMeeting"))
            .Model(model =>
            {
                model.Id(p => p.VoingResponseId);
                model.Field(p => p.ParticipentId).Editable(false);
                model.Field(p => p.MeetingId).Editable(false);
                model.Field(p => p.MeetingAgendaMappingId).Editable(false);
                model.Field(p => p.AgendaId).Editable(false);
                model.Field(p => p.AgendaVotingResponse).Editable(false);
                model.Field(p => p.Agenda).Editable(false);
                model.Field(p => p.Remark).Editable(false);
                model.Field(p => p.ParticipantName).Editable(false);
            })
            )
            .Events(e => e.DataBound("RowDataBound"))
            )
        </div>
    </div>

    <div class="row col-md-12 colpadding0 mt30 text-center">
        <button type="submit" id="saveNotting" class="btn btn-primary" onclick="savevotingResult()">Save</button>
    </div>
</div>
