﻿@using Kendo.Mvc.UI
@model BM_ManegmentServices.VM.MeetingAttendance_VM

<style>
    .sizeofquorum {
        height: 49px;
        border-radius: 25px;
        text-align: center;
    }
</style>
<style>
    .rect {
        border-radius: 20px;
        height: 34px;
        width: 54%;
    }
</style>
<script>
    $(document).ready(function () {
        $("#btnAttendencePrev").kendoTooltip({
            position: "top",

            autoHide: true,
            content: function () {
                return "Attendance Register";
            },

        });
    });
</script>

<script>
    function dataBound(e) {

        var grid = $("#gridMeetingAttendance").data("kendoGrid");
        grid.thead.css("background-color", "green")
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 2px 6px 0 #bdc3c7");
        })
    };

    function dataBoundAuditor(e) {

        var grid = $("#gridMeetingAttendanceForAuditor").data("kendoGrid");
        if (grid != null && grid != undefined) {
            grid.thead.css("background-color", "green")
            var data = grid.dataSource.data();
            $.each(data, function (i, row) {
                $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 2px 6px 0 #bdc3c7");
            });
        }
    };

    function savetotalAgmMemberpresent() {

        var TotalMemberPresentInAgm = $("#txtTotalMemberPresentForAgm").val();
        var TotalProxyPresentInAgm = $("#txtTotalProxyPresentForAgm").val();
        var TotalMemberInAgm = $("#txtTotalMemberForAgm").val();

        if (TotalProxyPresentInAgm == "") {
            TotalProxyPresentInAgm = "0";
        }

        if (TotalMemberInAgm == "") {
            TotalMemberInAgm = "0";
        }

        let checkTotalvalue = parseInt(TotalProxyPresentInAgm) + parseInt(TotalMemberPresentInAgm);

        if (checkTotalvalue >0 && parseInt(TotalMemberInAgm) >= checkTotalvalue) {
            $("#divmessagesformember").hide();

            //debugger;
            //var TotalMemberProxy = $("#txtTotalMemberProxy").val();
            //var TotalValidProxy = $("#txtTotalValidProxy").val();
            //var TotalShareHeldByProxy = $("#txtTotalShareHeldByProxy").val();
            //var FaceValueOfEnquityShare = $("#txtFaceValueOfEnquityShare").val();
            //var PercentageOfIssuedCapital = $("#txtPercentageOfIssuedCapital").val();

            var MeetingAttendance_VM = {
                MeetingId: '@Model.MeetingId', TotalMemberPresentForAgm: TotalMemberPresentInAgm, TotalproxyPresentForAgm: TotalProxyPresentInAgm, TotalMemberForAgm: TotalMemberInAgm
                //    TotalMemberProxy: TotalMemberProxy, TotalValidProxy: TotalValidProxy, TotalShareHeldByProxy: TotalShareHeldByProxy, FaceValueOfEnquityShare: FaceValueOfEnquityShare,
                //    PercentageOfIssuedCapital: PercentageOfIssuedCapital
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("TotalMemberPresentInAgm", "MainMeeting")',
                data: MeetingAttendance_VM,
                dataType: "json",
                cache: false,
                success: function (data) {

                    location.reload();
                }
            });
        }
        else {
            $("#divmessagesformember").show();
        }
    };


</script>

<script>
    function DownloadGMAttendenceDoc(meetingID) {
        window.location = '/BM_Management/MainMeeting/DownloadAttendence?MeetingId=' + meetingID;
    }
</script>

@if (@com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "HDCS" || @com.VirtuosoITech.ComplianceManagement.Portal.Common.AuthenticationHelper.Role == "CS")
{
    if (Model.IsAttendenceDone)
    {
        <div class="row colpadding0">
            <div class="col-md-7 colpadding0">
                @if (Model.Success)
                {
                    <div class="alert alert-success">
                        <lable class="">@Model.Message</lable>
                    </div>
                }
                else if (Model.Error)
                {
                    <div class="alert alert-danger">
                        <lable class="">@Model.Message</lable>
                    </div>
                }
            </div>
            @if (Model.startstopeDateVM.MeetingTypeId == 10)
            {

                <div id="DivVideoConfrence" class="col-md-2 colpadding0  " >
                    @if (Model.startstopeDateVM.IsVideoMeeting && Model.startstopeDateVM.Startvideourl != null && Model.Success)
                    {
                        @*<button type="button" id="btnstartVidCon" class="btn btn-primary">Start Video conferencing</button>*@
                        <a href="@Model.startstopeDateVM.Startvideourl" target="_blank"><input type="button" value="Start Video conferencing" class="btn btn-primary"></a>
                    }
                </div>
                
                <div class="col-md-3 colpadding0" style="text-align:right;">
                    <button type="button" id="btnCommitteeMatrix" class="btn btn-primary" onclick="viewCommitteeMatrix()">Committee Matrix</button>
                    <button type="button" id="btnAttendencePrev" class="btn btn-primary" onclick="btnAttendencePrev(@Model.MeetingId)">Attendance</button>
                </div>

            }
            else if (Model.startstopeDateVM.MeetingTypeId == 11 || Model.startstopeDateVM.MeetingTypeId == 12)
            {
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0 text-right">
                        <span class="">
                            <img id="imgDownloadGMAttendance" src="~/Areas/BM_Management/img/Download.png" onclick="DownloadGMAttendenceDoc(@Model.MeetingId)" />
                        </span>
                    </div>
                </div>

                @(Html.Kendo().Tooltip()
                .For("#imgDownloadGMAttendance")
                .Position(TooltipPosition.Top)
                .AutoHide(true)
                .Content("Download Attendance")
                )
            }
        </div>
    }
}
<div id="divGridMeetingAttendanceMsg"></div>

<div id="DIVAttendenceMeeting">

    @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAttendance_VM>()
                        .Name("gridMeetingAttendance")
                        .Columns(columns =>
                        {
                            @*columns.Template(@<text></text>).ClientTemplate("#= renderNumber(data) #").Title("Sr.No.").HtmlAttributes(new { @style = "width:5%" }); ;*@
                            columns.Bound(c => c.Director_Id).Title("Participant").ClientTemplate(
                                @"<div class='customer-photo'
                             style='background-image: url(#= GetImage(data.Director_Id,data.ImagePath) #);'></div><div class='customer-name'>#: MeetingParticipant_Name #</div>").Filterable(ftb => ftb.Multi(true).Search(true)).Width("20%");
                            //columns.Bound(c => c.Director_Id).Title("Participant").ClientTemplate(@"").HtmlAttributes(new { @style = "width:5%" });
                            //columns.Bound(p => p.MeetingParticipant_Name).Title("Name").HtmlAttributes(new { @style = "width:15%" });
                            columns.Bound(p => p.Designation).Title("Designation").Width("20%");
                            columns.Bound(c => c.Attendance).ClientTemplate("<label class='container1' for='rdbAttendancepresent#=data.uid#'>Present<input id = 'rdbAttendancepresent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendance(this);' #= Attendance== 'P' ? 'checked=checked' : '' #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='P' class='k-radio'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                                                                            "<label class='container1' for='rdbpresentVC#=data.uid#'>Present(VC/OAVM)<input id = 'rdbpresentVC#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendance(this);' #= Attendance== 'VC' ? 'checked=checked' : '' #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='VC' class='k-radio'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                                                                            "<label class='container1' for='rdbabsent#=data.uid#'>Leave of Absence<input id = 'rdbabsent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendance(this);' #= Attendance== 'A' ? 'checked=checked' : '' #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='A' class='k-radio'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                           "&nbsp; &nbsp;").Width("35%");
                            columns.Bound(c => c.Remark).ClientTemplate("<input id = 'rdbRemark'  onchange='setDataItemforRemark(this);' #= Remark #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='width:100%' class='k-input k-textbox txt-remark #= data.Attendance== 'P' ? 'hidden' : '' #' type='textbox' value='#=Remark !=null?Remark:''#'>").Width("20%");
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                        .Events(e => e.DataBound("dataBound"))
                              .DataSource(dataSource => dataSource
                        .Ajax()
                        .Events(e => e.RequestEnd("attendenceRequestend"))
                        .Batch(true)
                        .ServerOperation(false)
                        .Read(read => read.Action("GetMeetingAttendance", "MainMeeting", new { MeetingID = Model.MeetingId }).Type(HttpVerbs.Get))
                        .Update(update => update.Action("UpdateAttendenceResponse", "MainMeeting"))
                        .Create(update => update.Action("UpdateAttendenceResponse", "MainMeeting"))
                        .Model(model =>
                        {
                            model.Id(p => p.MeetingId);
                            model.Field(p => p.MeetingParticipant_Name).Editable(false);
                            model.Field(p => p.Attendance).Editable(false);
                            model.Field(p => p.Director_Id).Editable(false);
                            model.Field(p => p.Remark).Editable(false);
                            model.Field(p => p.Designation).Editable(false);
                        })
            ))

    @if (Model.startstopeDateVM.MeetingTypeId == 11)
    {
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                <h4><b>Auditor</b></h4>
            </div>
        </div>
        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAttendance_VM>()
                        .Name("gridMeetingAttendanceForAuditor")
                        .Columns(columns =>
                        {
                            // columns.Bound(c => c.AuditorId).Title("Participant")
                            //.ClientTemplate(@"<div class='customer-photo'
                            //              style='background-image: url(#= GetImage(data.Director_Id,data.ImagePath) #);'></div>").HtmlAttributes(new { @style = "width:5%" });
                            columns.Bound(p => p.MeetingParticipant_Name).Title("Name").HtmlAttributes(new { @style = "width:15%" });
                            columns.Bound(p => p.Designation).Title("Designation").HtmlAttributes(new { @style = "width:15%" });
                            columns.Bound(c => c.PartnerName).ClientTemplate("<input id = 'rdbPartnerName'  onchange='setDataItemforAttendanceAuditor(this);' #= PartnerName #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='width:100%' class='k-input k-textbox' type='textbox' value='#=PartnerName !=null?PartnerName:''#'>").HtmlAttributes(new { @style = "width:30%" });

                            columns.Bound(c => c.Attendance).ClientTemplate("<label class='container1' for='rdbAttendancepresent#=data.uid#'>Present<input id = 'rdbAttendancepresent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendanceAGMResponses(this);' #= Attendance== 'P' ? 'checked=checked' : '' #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='P' class='k-radio'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                                                                            "<label class='container1' for='rdbabsent#=data.uid#'>Not Present <input id = 'rdbabsent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendanceAGMResponses(this);' #= Attendance== 'A' ? 'checked=checked' : '' #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='A' class='k-radio'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                           "&nbsp; &nbsp;").HtmlAttributes(new { @style = "width:30%" });
                            //columns.Bound(c => c.Remark).ClientTemplate("<input id = 'rdbRemark'  onchange='setDataItemforRemark(this);' #= Remark #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='width:100%' class='k-input k-textbox' type='textbox' value='#=Remark !=null?Remark:''#'>").HtmlAttributes(new { @style = "width:30%" });
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                        .Events(e => e.DataBound("dataBoundAuditor"))
                              .DataSource(dataSource => dataSource
                        .Ajax()
                        .Events(e => e.RequestEnd("attendenceRequestend"))
                        .Batch(true)
                        .ServerOperation(false)
                        .Read(read => read.Action("GetAuditorAttendance", "MainMeeting", new { MeetingID = Model.MeetingId }).Type(HttpVerbs.Get))
                        .Update(update => update.Action("UpdateAttendenceResponseForAuditor", "MainMeeting"))
                        .Create(update => update.Action("UpdateAttendenceResponseForAuditor", "MainMeeting"))
                        .Model(model =>
                        {
                            model.Id(p => p.MeetingId);
                            model.Field(p => p.MeetingParticipant_Name).Editable(false);
                            model.Field(p => p.Attendance).Editable(false);
                            model.Field(p => p.AuditorId).Editable(false);
                            model.Field(p => p.Remark).Editable(false);
                            model.Field(p => p.Designation).Editable(false);
                        })
                        ))
            </div>
        </div>
    }

    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            <h4><b>Invitee</b></h4>
        </div>
    </div>
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAttendance_VM>()
                        .Name("gridMeetingAttendanceForInvitee")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.MeetingParticipant_Name).Title("Name").Width("41%");
                            columns.Bound(p => p.Designation).Title("Designation").HtmlAttributes(new { @style = "width:15%" }).Hidden(true);
                            columns.Bound(c => c.Attendance).ClientTemplate("<label class='container1' for='rdbAttendancepresent#=data.uid#'>Present<input id = 'rdbAttendancepresent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendanceInvitee(this);' #= Attendance== 'P' ? 'checked=checked' : '' #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='P' class='k-radio'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                                                                            "<label class='container1' for='rdbabsent#=data.uid#'>Not Present<input id = 'rdbabsent#=data.uid#' name='#=data.uid#' onclick='setDataItemforAttendanceInvitee(this);' #= Attendance== 'A' ? 'checked=checked' : '' #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='margin-left:0.5em;' type='radio' value='A' class='k-radio'><span class='checkmark1'></span></label>" + "&nbsp; &nbsp;" +
                           "&nbsp; &nbsp;").HtmlAttributes(new { @style = "width:30%" });
                            columns.Bound(c => c.Remark).ClientTemplate("<input id = 'rdbRemark'  onchange='setDataItemRemarkforAttendanceInvitee(this);' #= Remark #  #= AttendendenceId >0 ? 'disabled=disabled' : ''# style='width:100%' class='k-input k-textbox' type='textbox' value='#=Remark !=null?Remark:''#'>").Width("30%");
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                        .Events(e => e.DataBound("dataBoundAuditor"))
                              .DataSource(dataSource => dataSource
                        .Ajax()
                        .Events(e => e.RequestEnd("attendenceRequestend"))
                        .Batch(true)
                        .ServerOperation(false)
                        .Read(read => read.Action("GetInviteeAttendance", "MainMeeting", new { MeetingID = Model.MeetingId }).Type(HttpVerbs.Get))
                        .Update(update => update.Action("UpdateAttendenceResponseforInvitee", "MainMeeting"))
                        .Create(update => update.Action("UpdateAttendenceResponseforInvitee", "MainMeeting"))
                        .Model(model =>
                        {
                            model.Id(p => p.MeetingId);
                            model.Field(p => p.MeetingParticipant_Name).Editable(false);
                            model.Field(p => p.Attendance).Editable(false);
                            model.Field(p => p.AuditorId).Editable(false);
                            model.Field(p => p.Remark).Editable(false);
                            model.Field(p => p.Designation).Editable(false);
                        })
                        ))
        </div>
    </div>

    @if (Model.startstopeDateVM.MeetingTypeId == 11 || Model.startstopeDateVM.MeetingTypeId == 12)
    {
        <div class="row colpadding0 mt30" style="border-bottom:2px solid #ccc;border-left:2px solid #ccc;border-right:2px solid #ccc;border-top:2px solid #ccc;height: 62px;">
            <div class="col-md-12 colpadding0" style="margin-top:1%;margin-left:1%">
                <div class="col-md-2 colpadding0"><b style="color:black">Total Member:</b></div>
                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().TextBoxFor(m => m.startstopeDateVM.TotalMemberForAgm).HtmlAttributes(new { @style = "width:80%", @onchange = "savetotalAgmMemberpresent()", @Id = "txtTotalMemberForAgm" }))
                </div>
                <div class="col-md-2 colpadding0"><b style="color:black">Total Member Present:</b></div>
                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().TextBoxFor(m => m.startstopeDateVM.TotalMemberPresentForAgm).HtmlAttributes(new { @style = "width:80%", @onchange = "savetotalAgmMemberpresent()", @Id = "txtTotalMemberPresentForAgm" }))
                </div>

                <div class="col-md-2 colpadding0"><b style="color:black">Total Proxy Present:</b></div>
                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().TextBoxFor(m => m.startstopeDateVM.TotalProxyPresentforAgm).HtmlAttributes(new { @style = "width:80%", @onchange = "savetotalAgmMemberpresent()", @Id = "txtTotalProxyPresentForAgm" }))
                </div>
            </div>
        </div>
    }


    <div class="k-edit-buttons k-state-default mt30" style="background:!important;background:none;width:100%;text-align:right">
        <button type="button" id="btnSave_MeetingAttendance" class="k-primary k-button k-grid-update k-button-icontext">Save</button>&nbsp;
        @if (Model.IsAttendenceDone)
        {
            <button type="button" id="btnNextMeetingAttendence" onclick="openAgendaTab()" class="k-primary k-button k-grid-update k-button-icontext" @((Model.Success != true) ? "disabled" : "")>Next</button>
        }
    </div>
</div>