﻿
@using Kendo.Mvc.UI;
@model long
<link href="~/Content/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/Content/OwlCarousel/font-awesome.min.css" rel="stylesheet" />
<script src="~/Content/OwlCarousel/owl.carousel.min.js"></script>
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
@*<script src="~/Content/Gallery/js/jquery.min.js"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>*@
<style>
    .main-content {
        position: relative;
    }

    .owl-theme .custom-nav {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
    }

    .owl-prev, .owl-next {
        position: absolute;
        height: 100px;
        color: inherit;
        background: none;
        border: none;
        z-index: 100;
    }

    i {
        font-size: 2.5rem;
        color: #cecece;
    }


    .owl-prev {
        left: 0;
    }

    .owl-next {
        right: 0;
    }

    .link-black {
        margin: 0px;
    }

    .link-black {
        color: rgb(0, 0, 0);
        position: relative;
        margin: 0px 10px 0px 0px;
    }

    .link-black {
        margin: 0px;
    }

    .link-black {
        color: rgb(0, 0, 0);
        position: relative;
        margin: 0px 10px 0px 0px;
    }

    .box.focusable:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: #ccc 1px solid;
        background-color: #fff;
        transition: all .4s ease 0s;
        -webkit-transition: all .4s ease 0s;
        -moz-transition: all .4s ease 0s;
    }

    .box.focusable:hover {
        box-shadow: none;
        background-color: rgb(255, 255, 255);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        transition: all 0.4s ease 0s;
    }

    .thumbnail:hover {
        background-color: #ccc !important;
    }

    .thumbnail:hover {
        background-color: rgb(204, 204, 204) !important;
    }

    .thumb-set {
        background-color: rgb(131, 204, 252);
    }

    .thumbnail {
        /*cursor: pointer;
        max-width: 200px;
        min-width: 150px;
        height: 120px;
        padding-top: 0;
        padding-bottom: 0;
        top: 0;*/
        cursor: pointer;
        max-width: 200px;
        min-width: 120px;
        height: 110px;
        padding-top: 0px;
        padding-bottom: 0px;
        top: 0px;
    }

    .box {
        border: 1px solid transparent;
        padding: 10px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 7px 20px 0 rgba(210,210,210,.5);
    }

    .thumb-set {
        background-color: rgb(131, 204, 252);
    }

    .box {
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(210, 210, 210, 0.5) 0px 7px 20px 0px;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        border-image: initial;
        padding: 10px;
        border-radius: 5px;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }

    user agent stylesheet :focus {
        outline: -webkit-focus-ring-color auto 1px;
    }

    user agent stylesheet div {
        display: block;
    }

    .owl-carousel .owl-stage-outer {
        position: absolute;
        overflow: hidden;
        -webkit-transform: translate3d(0,0,0);
        /*background-color: #0000008a;*/
    }

    .owl-stage {
        transform: translate3d(-1008px, 0px, 0px);
        transition: all 0.25s ease 0s;
        width: 100%;
        padding-left: 7px;
        padding-right: 9px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .owl-theme .owl-nav [class*=owl-] {
        color: #FFF;
        font-size: 39px;
        margin: 5px;
        padding: 4px 7px;
        background: #3330;
        display: inline-block;
        cursor: pointer;
        border-radius: 0px;
        width: 38px;
        height: 59px;
        opacity: 0.6;
    }

    .p-1 {
        padding: 0.25rem !important;
    }

    .h-auto {
        height: auto !important;
    }

    .overflow-hidden {
        overflow: hidden !important;
    }

    .custom-file {
        position: relative;
        display: inline-block;
        width: 100%;
        height: calc((1.5em + 0.75rem) + 2px);
        margin-bottom: 0px;
    }
</style>
@*css for Approval*@
<style>
    .Approval {
        /*width: 100%;
    margin: 15px auto;
    position: relative;*/
        display: block;
    }

        .Approval input[type="checkbox"] {
            width: auto;
            opacity: 0.00000001;
            position: absolute;
            left: 0;
            margin-left: -20px;
        }

        .Approval label:before {
            content: '';
            position: absolute;
            left: -7px;
            top: 16px;
            margin: 4px;
            width: 26px;
            height: 27px;
            transition: transform 0.28s ease;
            border-radius: 3px;
            border: 2px solid #7bbe72;
            background-color: #7bbe72;
        }

        .Approval label:after {
            content: '';
            display: block;
            width: 18px;
            height: 8px;
            border-bottom: 2px solid #ffffff;
            border-left: 2px solid #ffffff;
            -webkit-transform: rotate(-45deg) scale(0);
            -moz-transform: rotate(-45deg) scale(0);
            -ms-transform: rotate(-45deg) scale(0);
            transform: rotate(-45deg) scale(0);
            position: absolute;
            top: 26px;
            left: 1px;
        }

        .Approval input[type="checkbox"]:checked ~ label::before {
            color: #7bbe72;
        }

        .Approval input[type="checkbox"]:checked ~ label::after {
            -webkit-transform: rotate(-45deg) scale(1);
            -moz-transform: rotate(-45deg) scale(1);
            -ms-transform: rotate(-45deg) scale(1);
            transform: rotate(-45deg) scale(1);
        }

        .Approval label {
            font-weight: normal;
            cursor: pointer;
            position: absolute;
            bottom: 124px;
            left: 82%;
        }

            .Approval label span {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

        .Approval input[type="checkbox"]:focus + label::before {
            outline: 0;
        }
</style>
@*css for disApproval*@
<style>
    .disApproval {
        /*width: 100%;
    margin: 15px auto;
    position: relative;*/
        display: block;
    }

        .disApproval input[type="checkbox"] {
            width: auto;
            opacity: 0.00000001;
            position: absolute;
            left: 0;
            margin-left: -20px;
        }

        .disApproval label:before {
            content: '';
            position: absolute;
            left: -11px;
            top: 16px;
            margin: 4px;
            width: 30px;
            height: 30px;
            transition: transform 0.28s ease;
            border-radius: 3px;
            border: 2px solid #FF7473;
            background-color: #FF7473;
        }


        .disApproval label:after {
            content: "X";
            color: #fff;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            position: absolute;
            top: 26px;
            left: 5px;
        }

        .disApproval input[type="checkbox"]:checked ~ label::before {
            color: #7bbe72;
        }

        .disApproval input[type="checkbox"]:checked ~ label::after {
            -webkit-transform: rotate(-45deg) scale(1);
            -moz-transform: rotate(-45deg) scale(1);
            -ms-transform: rotate(-45deg) scale(1);
            transform: rotate(180deg) scale(1);
        }

        .disApproval label {
            font-weight: normal;
            cursor: pointer;
            position: absolute;
            bottom: 124px;
            left: 82%;
        }

            .disApproval label span {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

        .disApproval input[type="checkbox"]:focus + label::before {
            outline: 0;
        }
</style>
@*css for Differ*@
<style>
    .Differ {
        /*width: 100%;
    margin: 15px auto;
    position: relative;*/
        display: block;
    }

        .Differ input[type="checkbox"] {
            width: auto;
            opacity: 0.00000001;
            position: absolute;
            left: 0;
            margin-left: -20px;
        }

        .Differ label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px;
            width: 30px;
            height: 30px;
            transition: transform 0.28s ease;
            border-radius: 3px;
            border: 2px solid #FFC952;
            background-color: #FFC952;
        }



        .Differ label:after {
            /*content: '';
            display: block;
            width: 18px;
            height: 8px;
            border-bottom: 2px solid #ffffff;
            border-left: 2px solid #ffffff;
            -webkit-transform: rotate(-45deg) scale(0);
            -moz-transform: rotate(-45deg) scale(0);
            -ms-transform: rotate(-45deg) scale(0);
            transform: rotate(-45deg) scale(0);
            position: absolute;
            top: 12px;
            left: 10px;*/
            content: '';
            display: block;
            width: 18px;
            height: 8px;
            border-bottom: 2px solid #ffffff;
            border-left: 2px solid #ffffff;
            -webkit-transform: rotate(-45deg) scale(0);
            -moz-transform: rotate(-45deg) scale(0);
            -ms-transform: rotate(-45deg) scale(0);
            transform: rotate(-45deg) scale(0);
            position: absolute;
            top: 52px;
            left: 1px;
        }

        .Differ input[type="checkbox"]:checked ~ label::before {
            color: #7bbe72;
        }

        .Differ input[type="checkbox"]:checked ~ label::after {
            -webkit-transform: rotate(-45deg) scale(1);
            -moz-transform: rotate(-45deg) scale(1);
            -ms-transform: rotate(-45deg) scale(1);
            transform: rotate(-45deg) scale(1);
        }

        .Differ label {
            font-weight: normal;
            cursor: pointer;
            position: absolute;
            bottom: 124px;
            left: 82%;
        }

            .Differ label span {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

        .Differ input[type="checkbox"]:focus + label::before {
            outline: 0;
        }
</style>
@*css for Abstain*@
<style>
    .Abstain {
        /*width: 100%;
    margin: 15px auto;
    position: relative;*/
        display: block;
    }

        .Abstain input[type="checkbox"] {
            width: auto;
            opacity: 0.00000001;
            position: absolute;
            left: 0;
            margin-left: -20px;
        }

        .Abstain label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px;
            width: 30px;
            height: 30px;
            transition: transform 0.28s ease;
            border-radius: 3px;
            border: 2px solid #ccc;
            background-color: #ccc;
        }

        .Abstain label:after {
            content: '';
            display: block;
            width: 18px;
            height: 8px;
            border-bottom: 2px solid #ffffff;
            border-left: 2px solid #ffffff;
            -webkit-transform: rotate(-45deg) scale(0);
            -moz-transform: rotate(-45deg) scale(0);
            -ms-transform: rotate(-45deg) scale(0);
            transform: rotate(-45deg) scale(0);
            position: absolute;
            top: 12px;
            left: 10px;
        }

        .Abstain input[type="checkbox"]:checked ~ label::before {
            color: #7bbe72;
        }

        .Abstain input[type="checkbox"]:checked ~ label::after {
            -webkit-transform: rotate(-45deg) scale(1);
            -moz-transform: rotate(-45deg) scale(1);
            -ms-transform: rotate(-45deg) scale(1);
            transform: rotate(-45deg) scale(1);
        }

        .Abstain label {
            font-weight: normal;
            cursor: pointer;
            position: absolute;
            bottom: 124px;
            left: 82%;
        }

            .Abstain label span {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

        .Abstain input[type="checkbox"]:focus + label::before {
            outline: 0;
        }
</style>

@*css for NoResponse*@
<style>
    .NoResponse {
        /*width: 100%;
    margin: 15px auto;
    position: relative;*/
        display: block;
    }

        .NoResponse input[type="checkbox"] {
            width: auto;
            opacity: 0.00000001;
            position: absolute;
            left: 0;
            margin-left: -20px;
        }

        .NoResponse label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px;
            width: 30px;
            height: 30px;
            transition: transform 0.28s ease;
            border-radius: 3px;
            border: 2px solid #008080;
            background-color: #008080;
        }

        .NoResponse label:after {
            content: '';
            display: block;
            width: 18px;
            height: 8px;
            border-bottom: 2px solid #ffffff;
            border-left: 2px solid #ffffff;
            -webkit-transform: rotate(-45deg) scale(0);
            -moz-transform: rotate(-45deg) scale(0);
            -ms-transform: rotate(-45deg) scale(0);
            transform: rotate(-45deg) scale(0);
            position: absolute;
            top: 12px;
            left: 10px;
        }

        .NoResponse input[type="checkbox"]:checked ~ label::before {
            color: #7bbe72;
        }

        .NoResponse input[type="checkbox"]:checked ~ label::after {
            -webkit-transform: rotate(-45deg) scale(1);
            -moz-transform: rotate(-45deg) scale(1);
            -ms-transform: rotate(-45deg) scale(1);
            transform: rotate(-45deg) scale(1);
        }

        .NoResponse label {
            font-weight: normal;
            cursor: pointer;
            position: absolute;
            bottom: 124px;
            left: 82%;
        }

            .NoResponse label span {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

        .NoResponse input[type="checkbox"]:focus + label::before {
            outline: 0;
        }
</style>


<style>
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        /*cursor: pointer;*/
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: elements;
        -ms-user-select: text;
        user-select: text;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    .k-window-title {
        color: dimgrey;
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 10px;
        left: 0;
        height: 16px;
        width: 17px;
        background-color: white;
        border: solid 2px #1976d2;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #fff;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 5px;
        top: 0px;
        width: 6px;
        height: 14px;
        border: solid #1976d2;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>

<style>
    #btnSharedNotes .badge {
        position: absolute;
        top: -16px;
        right: -15px;
        width: 41%;
        height: 31px;
        padding: 10px 13px;
        border-radius: 50%;
        background-color: #eeeeee;
        color: #6c6c6c;
    }
</style>


@*<script>
        $(document).ready(function () {
            $("#btnPrevMeetingAttendence").kendoTooltip({
                content: "Back to Attendence",
                position: top,
            });
        });
    </script>*@

<div class="row colpadding0">
    <div class="col-md-12 colpadding0" style="text-align:right;">
        <button type="button" id="btnCommitteeMatrix" class="k-primary k-button k-grid-update k-button-icontext" onclick="viewCommitteeMatrix()">Committee Matrix</button>
        <button type="button" id="btnPrevMeetingAttendence" onclick="openAttendenceTab()" class="k-primary k-button k-grid-update k-button-icontext">Back</button>
    </div>
</div>

<div style="height:100vh">
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">

            @if (ViewBag.CountSharedNotedUserwise > 0)
            {
                <button type="button" id="btnSharedNotes" class="k-button k-grid-update k-button-icontext" style="position: fixed; bottom:29%; left: 95%;" onclick="OpenSharedNotes(@Model)"><span class="badge">@ViewBag.CountSharedNotedUserwise</span>Shared</button>
            }
            <div id="DIVloadAgendaMainContaint">

            </div>
        </div>
    </div>
</div>

<section style="width: 93%; position: fixed; bottom: -0.5%; background-color: rgba(51, 51, 51, 0.72); visibility: visible;left:6%">

    <div class="custom-file h-auto p-1 overflow-hidden" style="min-height:125px;" id="carouselWrapper">
        <div class="main-content">
            <div class="owl-carousel owl-theme">
                @{
                    int i = 0;
                }

                @if (ViewBag.DetailsOfAgenda_Grid != null)
                {
                    foreach (var item in ViewBag.DetailsOfAgenda_Grid)
                    {
                        i++;
                        <div class="item">
                            <div id="@item.AgendaId">
                                <div class="box focusable thumbnail thumb-set" id="@("box"+i)" onclick="LoadMainContaint(@item.AgendaId,@item.MeetingAgendaMappingID,this)">

                                    <div style="display: flex; justify-content: space-between;">
                                        <p class="text-black-50-thumb" style="font-weight:bold!important;">@item.AgendaSrNo</p>
                                        @*<p class="text-black-50-thumb" style="font-weight:bold!important;">@item.AgendaPart</p>*@
                                    </div>
                                    
                                    <div style="min-height:20px;">
                                        <a class="link-black">
                                            <h5 style="overflow: hidden;text-overflow: ellipsis;">
                                                @if (@item.MeetingAgenda != null)
                                                {
                                                    //@Html.Raw(@item.MeetingAgenda).ToString().Substring(0, 10)
                                                    @Html.Raw(@item.MeetingAgenda)
                                                }
                                                else
                                                {
                                                    @Html.Raw(@item.MeetingAgenda)
                                                }
                                            </h5>
                                        </a>
                                    </div>
                                    <div class="NoResponse" id="@("Responsecheckbox"+i)" style="display:none">
                                        <input type="checkbox" id="@("checkbox2"+i)" disabled="disabled" checked="checked">
                                        <label for="@("checkbox2"+i)"><span></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="custom-nav owl-nav"></div>
                </div>
            </div>
        </div>
    </div>
</section>


@(Html.Kendo().Window()
        .Name("PopupMeetingVoting")
              .Draggable(false)
        .Animation(animation => animation
        .Open(open => open.SlideIn(SlideDirection.Left).Duration(500))
        .Close(close => close.SlideIn(SlideDirection.Left).Duration(500).Reverse(true))
    )
        .Modal(true)
        .Visible(false)
        .Resizable()
        .Title("Voting Paper")
        .Actions(actions => actions.Close())
)

@(Html.Kendo().Window()
        .Name("PopupMeetingNoting")
              .Draggable(false)
        .Animation(animation => animation
        .Open(open => open.SlideIn(SlideDirection.Left).Duration(500))
        .Close(close => close.SlideIn(SlideDirection.Left).Duration(500).Reverse(true))
    )
        .Modal(true)
        .Visible(false)
        .Resizable()
        .Title("Noting Paper")
        .Actions(actions => actions.Close())
)
@(Html.Kendo().Window()
        .Name("PopupMeetingTask")
              .Draggable(false)
        .Animation(animation => animation
        .Open(open => open.SlideIn(SlideDirection.Left).Duration(500))
        .Close(close => close.SlideIn(SlideDirection.Left).Duration(500).Reverse(true))
    )
        .Modal(true)
        .Visible(false)
        .Resizable()
        .Title("Task")
        .Actions(actions => actions.Close())
)

@(Html.Kendo().Window()
        .Name("PopupMeetingNotes")
              .Draggable(false)
        .Animation(animation => animation
        .Open(open => open.SlideIn(SlideDirection.Left).Duration(500))
        .Close(close => close.SlideIn(SlideDirection.Left).Duration(500).Reverse(true))
    )
        .Modal(true)
        .Visible(false)
        .Resizable()
        .Title("Notes")
        .Actions(actions => actions.Close())
)
@(Html.Kendo().Window()
        .Name("PopupMeetingSharedNotes")
              .Draggable(false)
        .Animation(animation => animation
        .Open(open => open.SlideIn(SlideDirection.Left).Duration(500))
        .Close(close => close.SlideIn(SlideDirection.Left).Duration(500).Reverse(true))
    )
        .Modal(true)
        .Visible(false)
        .Resizable()
        .Title("Notes")
        .Actions(actions => actions.Close())
)

@(Html.Kendo().Window()
        .Name("PopupMeetingAddNotes")
              .Draggable(false)
        .Animation(animation => animation
        .Open(open => open.SlideIn(SlideDirection.Left).Duration(500))
        .Close(close => close.SlideIn(SlideDirection.Left).Duration(500).Reverse(true))
    )
        .Modal(true)
        .Visible(false)
        .Resizable()
        .Title("Add")
        .Actions(actions => actions.Close())
)

@(Html.Kendo().Window()
        .Name("PopupMeetingResolution")
              .Draggable(true)
//.Animation(animation => animation.
//.Open(open => open.SlideIn(SlideDirection.Left).Duration(500))
//.Close(close => close.SlideIn(SlideDirection.Left).Duration(500).Reverse(true))

        .Modal(true)
        .Visible(false)
        .Resizable()
        .Title("Edit")
        .Actions(actions => actions.Close()
                           )
)

@{
    int j = 0;
}

@if (ViewBag.DetailsOfAgenda_Grid != null)
{
    foreach (var items in ViewBag.DetailsOfAgenda_Grid)
    {
        j++;
        <script>
            $(document).ready(function () {
                $("#" + "@items.AgendaId").kendoTooltip({
                    content: "@items.ResultRemark" == "" ? "No Discussion" : "@items.ResultRemark",
                    position: "top"
                });
            });
        </script>
        if (items.Result == "A")
        {
            <script>                
                $("#" + "@("Responsecheckbox"+j)").show();
                $("#" + "@("Responsecheckbox"+j)").removeClass("NoResponse");
                $("#" + "@("Responsecheckbox"+j)").addClass("Approval");
            </script>
        }
        else if (items.Result == "N")
        {
            <script>
                
                $("#" + "@("Responsecheckbox"+j)").show();
                $("#" + "@("Responsecheckbox"+j)").removeClass("NoResponse");
                $("#" + "@("Responsecheckbox"+j)").addClass("Approval");
            </script>
        }
        else if (items.Result == "D")
        {
            <script>
                
                $("#" + "@("Responsecheckbox"+j)").show();
                $("#" + "@("Responsecheckbox"+j)").removeClass("NoResponse");
                $("#" + "@("Responsecheckbox"+j)").addClass("disApproval");
            </script>
        }
        else if (items.ResultRemark == "")
        {
            <script>
                
                $("#" + "@("Responsecheckbox"+j)").hide();
            </script>
        }

    }
}

<style>
    #gridKendoNotes .k-header {
        /* width: 1423px; */
        height: 24px;
        background-color: #1fd9e1;
        color: white;
    }

    #gridKendoSharedNotes .k-header {
        /* width: 1423px; */
        height: 24px;
        background-color: #1fd9e1;
        color: white;
    }

    #gridKendoSharedNotes tr {
        height: 48px;
    }

    #btnnotingvotin {
        vertical-align: middle;
    }

    #btnnotingvotin {
        padding: 0px 0px 0px 0px;
        text-align: center;
        width: 6%;
        height: 52px;
        z-index: 15;
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform-origin: bottom right;
        position: fixed;
        right: 0px;
        border-color: #3b76bb;
        background-color: #3b76bb;
    }

    #btnnotingvotin {
        color: #fff;
        display: inline-block;
        line-height: 40px;
    }

    #btnnoting {
        vertical-align: middle;
    }

    #btnnoting {
        padding: 0px 0px 0px 0px;
        text-align: center;
        width: 6%;
        height: 52px;
        z-index: 15;
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform-origin: bottom right;
        position: fixed;
        right: 0px;
        border-color: #3b76bb;
        background-color: #3b76bb;
    }

    #btnnoting {
        color: #fff;
        display: inline-block;
        line-height: 40px;
    }

    #btnTask {
        vertical-align: middle;
    }

    #btnTask {
        padding: 0px 0px 0px 0px;
        text-align: center;
        width: 6%;
        height: 52px;
        z-index: 15;
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform-origin: bottom right;
        position: fixed;
        right: 0px;
        border-color: #3b76bb;
        background-color: #3b76bb;
    }

    #btnTask {
        color: #fff;
        display: inline-block;
        line-height: 40px;
    }

    #btnSharedNotes {
        vertical-align: middle;
    }

    #btnSharedNotes {
        padding: 0px 0px 0px 0px;
        text-align: center;
        width: 6%;
        height: 52px;
        z-index: 15;
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform-origin: bottom right;
        position: fixed;
        right: 0px;
        border-color: #3b76bb;
        background-color: #3b76bb;
    }

    #btnSharedNotes {
        color: #fff;
        display: inline-block;
        line-height: 40px;
    }

    #btnNotes {
        vertical-align: middle;
    }

    #btnNotes {
        padding: 0px 0px 0px 0px;
        text-align: center;
        width: 6%;
        height: 52px;
        z-index: 15;
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform-origin: bottom right;
        position: fixed;
        right: 0px;
        border-color: #3b76bb;
        background-color: #3b76bb;
    }

    #btnNotes {
        color: #fff;
        display: inline-block;
        line-height: 40px;
    }
</style>

<script>
    function openVotingPaper(meetingId, AgendaId, mappingId) {
        animateDiv(meetingId, AgendaId, mappingId);
    }
    function animateDiv(meetingId, AgendaId, mappingId) {
        direction = "@Url.Action("OpenVoting", "MainMeeting")" + "?MeetingId=" + meetingId + "&AgendaId=" + AgendaId + "&MappingId=" + mappingId;
        var wnd = $("#PopupMeetingVoting").data("kendoWindow");
        var opts = wnd.options;
        wnd = $("#PopupMeetingVoting").kendoWindow({
            content: direction,
            visible: false,
            modal: true,
            close: function (e) {
                $(this.element).empty();

                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                $(this.element).closest(".k-window").css("top", "20%");
                $(this.element).closest(".k-window").css("left", "20%");
                //$(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "80%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.open();
    }

    function openNotingPaper(meetingId, AgendaId, mappingId) {
        animateNotingDiv(meetingId, AgendaId, mappingId);
    }
    function animateNotingDiv(meetingId, AgendaId, mappingId) {
        direction = "@Url.Action("OpenNoting", "MainMeeting")" + "?MeetingId=" + meetingId + "&AgendaId=" + AgendaId + "&MappingId=" + mappingId;
        var wnd = $("#PopupMeetingNoting").data("kendoWindow");
        var opts = wnd.options;
        wnd = $("#PopupMeetingNoting").kendoWindow({
            content: direction,
            visible: false,
            modal: true,
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                $(this.element).closest(".k-window").css("top", "25%");
                $(this.element).closest(".k-window").css("left", "50%");
                //$(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "50%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.open();
    }

    function openMeetingTask(meetingId, AgendaId, EntityId) {
        
        animateTaskDiv(meetingId, AgendaId, EntityId);
    }
    function animateTaskDiv(meetingId, AgendaId, EntityId) {
        direction = "@Url.Action("AddEditTask", "Task")" + "?Id=" + 0 + "&MeetingId=" + meetingId + "&EntityId=" + EntityId + "&AgendaId=" + AgendaId;
        //direction = "AddEditTask"?Id=" + dataItem.Id + "&MeetingId=" + 0 + "&EntityId=" + 0 + "&AgendaId=" + 0;
        var wnd = $("#PopupMeetingTask").data("kendoWindow");
        var opts = wnd.options;
        wnd = $("#PopupMeetingTask").kendoWindow({
            content: direction,
            visible: false,
            modal: true,
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                $(this.element).closest(".k-window").css("top", "10%");
                $(this.element).closest(".k-window").css("left", "20%");
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "80%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.open();
    }

    function adjustSize() {
        // if ($(window).width() < 500 || $(window).height() < 400) {
        //   this.maximize();
        // }
    }

    function OnOpenTask(e) {
        var wnd = $("#PopupMeetingTask").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }


    function OnRefreshTask() {
        var wnd = $("#PopupMeetingTask").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function openWindow(e) {
        e.preventDefault();
        
        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.FileId;
        wnddeletetask.center().open();
        $("#yes").click(function () {
            DeleteFile(id)
            grid.removeRow(row);
            wnddeletetask.close();
        });

        $("#no").click(function () {
            wnddeletetask.close();
        });
    }
    function DeleteFile(id) {
        $.ajax({
            url: "/api/TaskAPI/DeleteFileData?FileId=" + id,
            method: "DELETE",
            success: function () {
                alert("Deleted Successfully");
                $('#gridKendo').data('kendoGrid').dataSource.read();
                $('#gridKendo').data('kendoGrid').refresh();
            }
        });
    }

    function DownloadTaskFile(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "@Url.Action("TaskFileDownload1", "Task")?Id=" + dataItem.FileId;
    }
    function ViewTaskFile(e) {

    }
    function openMeetingNotes(meetingId, AgendaId) {
        animateNotesDiv(meetingId, AgendaId);
    }
    function animateNotesDiv(meetingId, AgendaId) {
        direction = "@Url.Action("MyNotes", "Notes")" + "?MeetingId=" + meetingId + "&AgendaId=" + AgendaId;
        var wnd = $("#PopupMeetingNotes").data("kendoWindow");
        var opts = wnd.options;
        wnd = $("#PopupMeetingNotes").kendoWindow({
            content: direction,
            visible: false,
            modal: true,
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                $(this.element).closest(".k-window").css("top", "25%");
                $(this.element).closest(".k-window").css("left", "50%");
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "50%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.open();
    }
    function AddNotes(meetingId, AgendaId) {
        
        direction = "@Url.Action("AddNotes", "Notes")" + "?Id=" + 0 + "&MeetingId=" + meetingId + "&AgendaId=" + AgendaId + "&NotesTitle=" + "";
        var wnd = $("#wndAgendaNotes").data("kendoWindow");
        var opts = wnd.options;
        wnd = $("#wndAgendaNotes").kendoWindow({
            content: direction,
            visible: false,
            modal: true,
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                $(this.element).closest(".k-window").css("top", "25%");
                $(this.element).closest(".k-window").css("left", "50%");
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "50%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.open();
    }

    function EditNotes(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        direction = "@Url.Action("AddNotes", "Notes")" + "?Id=" + dataItem.Id + "&MeetingId=" + dataItem.MeetingId + "&AgendaId=" + dataItem.AgendaId + "&NotesTitle=" + dataItem.Title;
        var wnd = $("#wndAgendaNotes").data("kendoWindow");
        var opts = wnd.options;
        wnd = $("#wndAgendaNotes").kendoWindow({
            content: direction,
            visible: false,
            modal: true,
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                $(this.element).closest(".k-window").css("top", "25%");
                $(this.element).closest(".k-window").css("left", "50%");
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "50%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.open();
    }
    function OpenSharedNotes(MeetingId) {
        direction = "@Url.Action("SharedNotesList", "Notes")" + "?MeetingId=" + MeetingId;
        var wnd = $("#PopupMeetingSharedNotes").data("kendoWindow");
        var opts = wnd.options;
        wnd = $("#PopupMeetingSharedNotes").kendoWindow({
            content: direction,
            visible: false,
            modal: true,
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            },
            open: function (e) {
                $(this.element).closest(".k-window").css("top", "25%");
                $(this.element).closest(".k-window").css("left", "30%");
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");
        opts.width = "70%";
        wnd.setOptions(opts);
        wnd.refresh(direction);
        wnd.open();
    }

    function OpenResolutionView(MeetingId, MeetingAgendaMappingId) {
        debugger;
        $("#PopupMeetingResolution").attr("style", "min-height:100px;");

        var direction = "@Url.Action("EditResolution", "MainMeeting")?meetingId=" + MeetingId + "&meetingAgendaMappingId=" + MeetingAgendaMappingId;

        var wnd = $("#PopupMeetingResolution").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#PopupMeetingResolution").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "70%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");
        opts.width = "70%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>


<script>
    $(document).ready(function () {
        $("#btnSharedNotes").kendoTooltip({
            content: "Shared Noted",
            position: "top"
        });
    });
</script>