﻿
@using Kendo.Mvc.UI;

@model BM_ManegmentServices.VM.Director_MasterVM

<style>

    .tab .nav-tabs li a {
    display: block;
    padding: 10px 20px;
    margin: 0 5px 1px 0;
    background: #ffffff;
    border: none;
    border-radius: 0;
    z-index: 2;
    position: relative;
    transition: all 0.3s ease 0s;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 139.69%;
    text-align: justify;
    color: #767676;
}
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #ffffff;
}
</style>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">

                <li role="presentation" id="mytababout" class="active"><a href="#Section1about" aria-controls="home" role="tab" data-toggle="tab">About</a></li>
                <li role="presentation" id="mytabdirectorship"><a href="#Sectiondirectorship" aria-controls="profile" role="tab" data-toggle="tab">Directorship</a></li>
                <li role="presentation" id="mytabcommitee"><a href="#Sectioncommitee" aria-controls="messages" role="tab" data-toggle="tab">Committee Positions</a></li>
                
            </ul>

            <div class="tab-content tabs">
                <div role="tabpanel" class="tab-pane fade in active" id="Section1about">
                    @Html.Partial("_DirectorProfileDetails", Model)
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Sectiondirectorship">
                    @Html.Partial("_DirectorshipDetails", Model)
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Sectioncommitee">
                    @Html.Partial("_DirectorCommiteeDetails", Model)
                </div>
              
            </div>
        </div>
    </div>
</div>

