﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_MasterVM


<script>
    function onRowBoundcommitee()
    {
        var grid = $("#gridKendocommitee").data("kendoGrid");
        getGridborder(grid);
    }
</script>

<div class="row colpadding0 mt30">
   
    <div class="col-md-12 colpadding0 mt30">
        @(Html.Kendo().Grid<BM_ManegmentServices.VM.CommitteeMasterVM>()
            .Name("gridKendocommitee")
            .Columns(columns =>
            {
                columns.Bound(o => o.EntityName).Title("Entity").Width("25%");
                columns.Bound(o => o.CommitteeName).Title("Committee").Width("25%");
                columns.Bound(o => o.Designation_Name).Title("Position").Width("15%");
                columns.Bound(o => o.AppointmentFrom).ClientTemplate("#= AppointmentFrom == null ? '' : kendo.toString(AppointmentFrom, \"dd-MMM-yyyy\")#").Title("Date of Appointment").Width("12.5%");
                columns.Bound(o => o.AppointmentTo).ClientTemplate("#= AppointmentTo == null ? '' : kendo.toString(AppointmentTo, \"dd-MMM-yyyy\")#").Title("Date of Cessation").Width("12.5%");
                //columns.Bound(o => o.Committee_Type_Name).Title("Committee Type").HtmlAttributes(new { @style = "width:20%" });
            })
            .Editable(editable =>
            {
                editable.Mode(GridEditMode.PopUp).TemplateName("_AddEditDetailofIntrest").Window(w => w.Title("Add/Edit").Width(620));
                //editable.DisplayDeleteConfirmation("Are you sure you want to delete record?");
            })
              .Events(e => e.DataBound("onRowBoundcommitee"))
            .Pageable(pageable => pageable
            .PageSizes(true)
            .ButtonCount(5))
         
            .DataSource(dataSource => dataSource
            .WebApi()
            .PageSize(5)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.Id);
                model.Field(o => o.Director_Id).DefaultValue(Model.ID);
                model.Field(o => o.PositionId);
            })
            .Read(read => read.Url("/api/CommitteeMasterNewAPIController/GetCommitteeDtls?DirectorId=" + Model.ID).Type(HttpVerbs.Get))))
    </div>
</div>