﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_MasterVM

<script>
    function onRowBounddirector()
    {
        var grid = $("#gridKendodirectorship").data("kendoGrid");
        getGridborder(grid);
    }
</script>
<div class="row mt30">
   
    <div class="row colpadding0 mt30">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.DetailsOfInterest>()
            .Name("gridKendodirectorship")
            .Columns(columns =>
            {
                columns.Bound(o => o.Director_ID).Visible(false);
                columns.Bound(o => o.EntityName).Title("Name of the Company").Width("40%");
                columns.Bound(o => o.CIN).Title("CIN").Width("20%");
                columns.Bound(o => o.IfDirectorName).ClientTemplate("#:data.DirectorDesignationName# #=getDirectorTypeOfMembershipName(data.IfDirectorName)#").Title("Designation").Width("20%").Filterable(ftb => ftb.Multi(true).Search(true));
                columns.Bound(o => o.DateofAppointment).Title("Date of Appointment").Format("{0:dd-MMM-yyyy}").Width("20%").HtmlAttributes(new { @style = "text-align: center;" });
                //columns.Bound(o => o.Arosed).Title("Date of Appointment").Format("{0:dd-MMM-yyyy}").Width("20%").HtmlAttributes(new { @style = "text-align: center;" });
            })
            .Editable(editable =>
            {
                editable.Mode(GridEditMode.PopUp).TemplateName("_AddEditDetailofIntrest").Window(w => w.Title("Add/Edit").Width(620));
                editable.DisplayDeleteConfirmation("Are you sure you want to delete record?");
            })
               .Events(e => e.DataBound("onRowBounddirector"))
            .Pageable(pageable => pageable
            .PageSizes(true)
            .ButtonCount(5))
            .DataSource(dataSource => dataSource
            .WebApi()
            .PageSize(5)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.Id);
                model.Field(o => o.Director_ID).DefaultValue(Model.ID);
                model.Field(o => o.Entity_Id);
                model.Field(o => o.TypeOfEntity);
                model.Field(o => o.NatureOfInterest);
                model.Field(o => o.IfDirector);
                model.Field(o => o.IfInterestThroughRelatives);
                model.Field(o => o.PercentagesOfShareHolding);
                model.Field(o => o.Arosed);
                model.Field(o => o.IfRelatives);
            })
            .Read(read => read.Url("/api/DirectorMasterAPI/GetDetailsofIntrest?DirectorId=" + Model.ID).Type(HttpVerbs.Get))))
        </div>
    </div>

</div>