﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Director_MasterVM


@Html.AntiForgeryToken()
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.ViewName)
<style>
    .director-photo {
        display: inline-block;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
        line-height: 221%;
    }

    .picdiv {
        z-index: 1;
        position: relative;
    }
</style>

<script>

    $(document).ready(function () {
      
            if("@Model.FirstName"!=null && "@Model.FirstName"!="")
            {
                FetchDirectorName('@Model.FirstName', '@Model.LastName')
            }
        
        $("#panelbarEditDirector").kendoPanelBar({
            expandMode: "single"
        });
    });

    function FetchDirectorName(first, last) {
        if (first != "" && first != null) {
            Colors = [
              "#42A5F5",
              "#008391",
              "#846600",
             "#CC0060",
             "#330099", ];
            var result1 = Colors[Math.floor(Math.random() * Colors.length)];
            var firstName = first;
            var lastName = last;
            var intials = firstName.charAt(0) + lastName.charAt(0);
            $(".textdirector").text(intials);
            $(".textdirector").css("background-color", result1)
            $(".textdirector").css("color", "white")
            $(".textdirector").css("text-align", "center")
        }
    }

    function filterPermentState()
    {
        return {
            stateId: $("#ddlPermenant_StateId").val()
               };
    }

    function filterPresentState()
    {
        return {
            stateId: $("#ddlPresent_StateId").val()
               };
    }

    function getDirectorTypeOfMembershipName(e)
    {
        return e == null ? '' : '( ' + e + ' )';
    }

</script>
<div class="row colpadding0" style="height:400px!important;overflow-x:hidden">
    <div class="col-md-12 colpadding0">
<div class="row picdiv">
    <div class="col-md-12 colpadding0 column">
        <div class="col-md-3" style="text-align:center;margin-top:1%">

            @if (Model.Photo_Doc_Name != null)
            {
                <img class="director-photo" src="@Url.Content(String.Format("/Areas/BM_Management/Documents/Director/" + Model.ID + "/" + Model.Photo_Doc_Name))" />
            }
            else
            {
                <span class='director-photo textdirector' onload="FetchDirectorName(@Model.FirstName,@Model.LastName)" style="font-size: 46px;line-height: 266%;"></span>
            }
        </div>
    </div>
    <div class="col-md-12 column">
        <div class="table-responsive">
            <table class="table" style="width:70%">
                <thead>
                    <tr>
                        <td class="col-md-3 control-label">Name</td>
                        <td class="col-md-9">@Model.FirstName @Model.MiddleName @Model.LastName</td>
                    </tr>
                    <tr>
                        <td class="col-md-3 control-label">DIN</td>
                        <td class="col-md-9">@Model.DIN</td>
                    </tr>
                    <tr>
                        <td class="col-md-3 control-label">Email</td>
                        <td class="col-md-9">@Model.EmailId</td>
                    </tr>
                    <tr>
                        <td class="col-md-3 control-label">Mobile</td>
                        <td class="col-md-9">@Model.MobileNo</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                @(Html.Raw(Model.Profiledetails))
            </div>
        </div>
</div>
</div>