﻿@using Kendo.Mvc.UI;


<script>
   
    function DownloadLicencedata(e)
    {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        window.location.href = "@Url.Action("DownloadHistoricalData", "EntityMaster")?Id=" + id;
    }
    function ViewLicencedata(e)
    {
        debugger;
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.Id;
        @*window.location.href = "@Url.Action("ViewRecords", "CompanyProfile")?Id=" + id;*@
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewHistoricalData", "EntityMaster")',
            data: {Id:id},
            dataType: "json",
            cache: false,
            success: function (data) {

                var direction="@Url.Content("~/docviewer.aspx")" + "?docurl=" + data ;

                $("#wndDocViewer").attr("style", "min-height:100px;");

                var wnd = $("#wndDocViewer").data("kendoWindow");
                var opts = wnd.options;

                wnd = $("#wndDocViewer").kendoWindow({
                    actions: ["Close"],
                    content: direction,
                    visible: false,
                    modal: true,
                    iFrame :true,
                    refresh: function () { this.center(); },
                    open: function () { onOpenWindow("wndDocViewer") },
                    close: function (e) {
                        $(this.element).empty();
                        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    }
                }).data("kendoWindow");

                opts.width = "95%";
                wnd.setOptions(opts);
                wnd.center();
                wnd.open();

                $('#wndDocViewer').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');
            }
        });
    }
    function DeleteLicencedata()
    {

    }
</script>
@(Html.Kendo().Window().Name("wndDocViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))
<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Grid<BM_ManegmentServices.Data.BM_SP_GetEntityDocuments_Result>()
                    .Name("LicenceandregisKendoGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(o => o.DocumentID).Visible(false);
                        columns.Bound(o => o.Id).Visible(false);
                        columns.Bound(o => o.Description).Width("40%").Title("License/Register").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        //columns.Bound(o => o.DocumentName).Title("Document Name").Width("20%").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.License_RegNumber).Width("10%").Title("Number").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.BMDate_LastRenew).Format("{0:dd-MMM-yyyy}").Width("10%").Title("Last Renew Date").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));
                        columns.Bound(o => o.GMDate_UpcomingRenew).Format("{0:dd-MMM-yyyy}").Width("10%").Title("Upcoming Renew Date").HtmlAttributes(new { }).Filterable(ftb => ftb.Multi(true).Search(true));

                        columns.Command(commnd =>
                        {
                            commnd.Custom("Download").Click("DownloadLicencedata").HtmlAttributes(new { @class = "k-grid-download" });
                            commnd.Custom("View").Click("ViewLicencedata").HtmlAttributes(new { @class = "k-grid-view" });
                            //commnd.Custom("Delete").Click("DeleteLicencedata").HtmlAttributes(new { @class = "k-grid-delete" });
                        }).Title("Action").Width("5%").HeaderHtmlAttributes(new { style = "text-align:center; border-width: 0px 0px 0px 0px;" }).HtmlAttributes(new { style = "text-align: center;" });

                    }).EnableCustomBinding(true)
        .Events(e => e.DataBound("onRowBound"))
        .Navigatable()
        .Pageable(pageable => pageable
        .Refresh(false)
        .PageSizes(true)
        .ButtonCount(5))
        .Filterable()
        .Sortable()
        .Reorderable(reorderable => reorderable.Columns(true))
        .Resizable(resizable => resizable.Columns(true))
        .ColumnMenu(col => col.Columns(false))
        .DataSource(
                dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(o => o.DocumentID);
                })
                .Read(read => read.Action("GetEntityDocuments", "EntityMaster").Data("additionalLicence").Type(HttpVerbs.Get))
                ).HtmlAttributes(new { @style = "width:100%" })
        )
    </div>
</div>
