﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

@{
    ViewBag.Title = "Entities :: My Dashboard";
}
<script>
    $(document).ready(function () {

        var breadCrumbData = [
            {
                displayText: "My Dashboard",
                navigateUrl: "/BM_Management/Dashboard/Dashboard",
            }, {
                displayText: "Entities",
                navigateUrl: "#",
            },
        ];

        setBreadCrumb(breadCrumbData);
    });


    function opendirectordetails(ID) {

        $("#wndDirectorview").kendoWindow({
            title:"Director Details",
            modal: true
        });

        $("#wndDirectorview").attr("style", "min-height:100px;");
        var direction = "DirectorsDetails?Id=" + ID;
        var wnd = $("#wndDirectorview").data("kendoWindow");
        var opts = wnd.options;
        // if (!wnd) {
        wnd = $("#wndDirectorview").kendoWindow({
            title: "Director Details",
            actions: ["Close"],
            content: direction,
            width: "70%",
            visible: false,
            modal: true,
            actions: [
                        "Pin",
                        "Minimize",
                        "Maximize",
                        "Close"
            ],
            refresh: function () { this.center(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
				kendo.ui.progress(wnd.element, false);
                $('#gridKendo').data('kendoGrid').dataSource.read();

            },
            open: function () {


                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
                kendo.ui.progress(wnd.element, true);
            }
        }).data("kendoWindow");
        // }

        opts.width = "70%";
        wnd.setOptions(opts);
        //wnd.refresh(direction);
        wnd.center();
        wnd.open();
    }

</script>
<style>
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        background-color: #f8f9fa;
    }

    .tab .nav-tabs li a {
        background: #f8f9fa;
    }



    .tab .nav-tabs li a {
        display: block;
        padding: 10px 20px;
        margin: 0 5px 1px 0;
        background: #f8f9fa;
        border: none;
        border-radius: 0;
        z-index: 2;
        position: relative;
        transition: all 0.3s ease 0s;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 139.69%;
        text-align: justify;
        color: #767676;
    }
</style>

<style>
    .btn-primary {
        color: #fff;
        background-color: #4890d7;
        border-color: #4890d7;
        width: 95%;
    }
</style>
<script>
    $(document).ready(function () {

        //OnentityChange();
    });

    function GetLoggedinUserDetails(){
        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        return { custID : customerID, userID : loggedInUserID  }
    }
</script>
<div class="row master-Headre">
    <div class="col-md-12 vertical-center">
        <div class="col-md-3 colpadding0">
            @(Html.Kendo().DropDownList().Name("EntityID")
            .DataTextField("EntityName")
            .DataValueField("Id")
            .OptionLabel("Select Entity/Company")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Url("/api/EntityMasterAPI/DirectorAssignedEntities").Data("GetLoggedinUserDetails").Type(HttpVerbs.Get);
                })
                .ServerFiltering(true);
            })
            //.Events(e => e.Change("entity_Change"))
            .HtmlAttributes(new { style = "width: 100%", @onchange = "OnentityChange()" })
            )
        </div>
    </div>
</div>

@(Html.Kendo().Window().Name("wndDirectorview").Visible(false).Modal(true).Pinned(true))

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" id="mytab1" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Master</a></li>
                <li role="presentation" id="mytab2"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Management</a></li>
                <li role="presentation" id="mytab3"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Committee</a></li>
                <li role="presentation" id="mytab4"><a href="#Section4" aria-controls="messages1" role="tab" data-toggle="tab">Shareholding</a></li>
                <li role="presentation" id="mytab5"><a href="#Section5" aria-controls="messages2" role="tab" data-toggle="tab">Documents</a></li>
                <li role="presentation" id="mytab6"><a href="#Section6" aria-controls="messages3" role="tab" data-toggle="tab">Group</a></li>
            </ul>
            
            <div class="tab-content tabs">
                <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                    @Html.Partial("_EntityBasicDetails")
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section2">
                    @Html.Partial("_ManagamentDetails")
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section3">
                    @Html.Partial("_CommitteeDetails")
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section4">
                    @Html.Partial("_ShareholdingDetails")
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section5">
                    @Html.Partial("_CompanyDocuments")
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section6">
                    @Html.Partial("_Group")
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row colpadding0 mt30" style="height:430px">
        <div class="col-md-12 colpadding0">
            <div id="DIVmanegment">
                @Html.Partial("_ManagamentDetails")
            </div>
        </div>
    </div>*@


<script>
    function getEntityValue() {

        
        var EntityId = $("#EntityID").data("kendoDropDownList").value();
        var CustomerId=@AuthenticationHelper.CustomerID;
        return {
            EntityId: EntityId,
            CustomerId:CustomerId,

        }
    }


    function getEntityValue1() {

        
        var EntityID = $("#EntityID").data("kendoDropDownList").value();
        var CustomerId=@AuthenticationHelper.CustomerID;
        return {
            EntityID: EntityID,
            CustomerID:CustomerId,

        }
    }


    function additionalIncorporate() {
        var EntityID = $("#EntityID").data("kendoDropDownList").value();
        return {
            EntityId: EntityID,
            Doctype:"M"
        };
    }

    function additionalLicence() {
        var EntityID = $("#EntityID").data("kendoDropDownList").value();
        return {
            EntityId: EntityID,
            Doctype:"LR"
        };
    }

    function additionalDatapolices() {
        var EntityID = $("#EntityID").data("kendoDropDownList").value();
        return {
            EntityId: EntityID,
            Doctype:"PO"
        };
    }

    function additionalAnnual() {
        var EntityID = $("#EntityID").data("kendoDropDownList").value();
        return {
            EntityId: EntityID,
            Doctype:"AR"
        };
    }

    function OnentityChange() {
        
        var listView = $("#Entitylistview").data("kendoListView");
        // refreshes the ListView
        listView.dataSource.read();
        var listView = $("#Managmentlistview").data("kendoListView");
        // refreshes the ListView
        listView.dataSource.read();
        var listView = $("#ShareHoldinglistview").data("kendoListView");
        // refreshes the ListView
        listView.dataSource.read();
        var grid = $("#KendoGridEntitySubType").data("kendoGrid");
        grid.dataSource.read();
        var grid1 = $("#gridcommity").data("kendoGrid");
        grid1.dataSource.read();
        var grid2 = $("#AnnualKendoGrid").data("kendoGrid");
        grid2.dataSource.read();
        var grid3 = $("#IncorporateKendoGrid").data("kendoGrid");
        grid3.dataSource.read();
        var grid4 = $("#LicenceandregisKendoGrid").data("kendoGrid");
        grid4.dataSource.read();
        var grid5 = $("#PlicesgridKendo").data("kendoGrid");
        grid5.dataSource.read();
    }
</script>
