﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMCapitalData

<style>
    .NoDrop {
        cursor: no-drop;
    }

    th{
        text-align:center;
    }
</style>
<div class="bgColor">
    <div class="row col-md-12 mt30 content-box">
        <div class="row">
            @if (Model.Message)
            {
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                {
                            <label>@Model.SuccessErrorMsg</label>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row">
            @if (Model.errorMessage)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        @if (!(string.IsNullOrEmpty(@Model.SuccessErrorMsg)))
                        {
                            <label>@Model.SuccessErrorMsg</label>
                        }
                    </div>

                </div>
            }
        </div>

        <div id="divfrmUpdateEquietyshares1">
            @using (Ajax.BeginForm("ADDEquiety", "CapitalMaster", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", UpdateTargetId = "divfrmUpdateEquietyshares1" }, new { id = "frmEquity" }))
            {
                @Html.AntiForgeryToken();
                <div id="divfrmUpdateEquietyshares">
                    <div>
                        @{
                            int i = -1;
                        }
                        <div class="row colpadding0">

                            @Html.HiddenFor(m => m.Id, new { @value = @Model.Id, @Id = "txtprefrence" })

                            <div class="col-md-12 colpadding0 table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="head-label">Particulars</label>
                                            </th>
                                            <th>
                                                <label class="head-label">Authorised Capital </label>
                                            </th>
                                            <th>
                                                <label class="head-label">Issued Capital</label>
                                            </th>
                                            <th>
                                                <label class="head-label">Subscribed Capital</label>
                                            </th>
                                            <th>
                                                <label class="head-label">Paid Up Capital</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><label class="control-label">Total Number of Equity Shares</label></td>
                                            <td>
                                                @(Html.Kendo().TextBoxFor(m => m.TnAuthorisedCapital).HtmlAttributes(new { @readonly = "readonly", @class = "NoDrop text-right",  @style = "width:100%", @type = "number", min = "0" }))
                                            </td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.TnIssuedCapital).HtmlAttributes(new { @readonly = "readonly", @class = "NoDrop text-right",  @style = "width:100%", @type = "number", min = "0" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.TnSubscribedCapital).HtmlAttributes(new { @readonly = "readonly", @class = "NoDrop text-right",  @style = "width:100%", @type = "number", min = "0" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.TnPaidupCapital).HtmlAttributes(new { @readonly = "readonly", @class = "NoDrop text-right",  @style = "width:100%", @type = "number", min = "0" }))</td>
                                        </tr>
                                        <tr>

                                            <td><label class="control-label">Total amount of Equity Shares</label></td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.TaAuthorisedCapital).HtmlAttributes(new { @readonly = "readonly", @class = "NoDrop text-right",  @style = "width:100%", @type = "number", min = "0" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.TaIssuedCapital).HtmlAttributes(new { @readonly = "readonly", @class = "NoDrop text-right",  @style = "width:100%", @type = "number", min = "0" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.TaSubscribedCapital).HtmlAttributes(new { @readonly = "readonly", @class = "NoDrop text-right",  @style = "width:100%", @type = "number", min = "0" }))</td>
                                            <td>@(Html.Kendo().TextBoxFor(m => m.TaPaidupCapital).HtmlAttributes(new { @readonly = "readonly", @class = "NoDrop text-right",  @style = "width:100%", @type = "number", min = "0" }))</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="row colpadding0">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-6">
                                    <span></span> <div class="col-md-5 colpadding0"><label class="control-label">Number of Class of Share</label></div>
                                    <div class="col-md-4 colpadding0">
                                        @(Html.Kendo().TextBoxFor(m => m.count).HtmlAttributes(new { @Id = "tblClassShares", @class = "text-center", @onchange = "onchangeevent();", @value = @Model.shares.Count,  @style = "width:30%", @max = 2 })
                                        //.Spin("spin")
                                        )
                                    </div>
                                    <input type="text" value="@Model.shares.Count" id="txthidenforeque" hidden="hidden" />
                                    @*<input id="btnAdd" type="submit" value="ADD" />*@
                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model.shares)
                {
                    i++;
                            @Html.HiddenFor(m => m.shares[i].Equ_sharesID)


                            <div class="row colpadding0" id="DIVEquityShareCapital">
                                <div class="col-md-12 colpadding0 table-responsive">
                                    <table class="table" id="tblEquityShareCapital_@i">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="head-label">Class of Shares</label>
                                                </th>
                                                <th><label class="head-label">Authorised Capital</label></th>
                                                <th><label class="head-label">Issued Capital</label></th>
                                                <th><label class="head-label">Subscribed Capital</label></th>
                                                <th><label class="head-label">Paid up Capital</label></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="col-md-3">
                                                    @(Html.Kendo().DropDownListFor(m => m.shares[i].sharesID)

.DataTextField("Text")
.DataValueField("Value")
.HtmlAttributes(new { style = "width: 100%" })
.BindTo(new List<SelectListItem>()
{
              new SelectListItem() {
                Text = "Equity Shares with voting rights", Value ="1"
              },
              new SelectListItem() {
                Text = "Equity shares with differential voting rights", Value ="2"
              },

}))
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">Number of Equity Shares</label>
                                                </td>
                                                <td>@(Html.Kendo().TextBoxFor(m => m.shares[i].AuthorisedCapital1).HtmlAttributes(new { @Id = "txtAuthorisedCapitalEqu", @class = "text-right", @onchange = "onchangeeventAddAuthorized(this,0);",  @style = "width:100%", @type = "number", min = "0"}))</td>
                                                <td>@(Html.Kendo().TextBoxFor(m => m.shares[i].IssuedCapital1).HtmlAttributes(new { @Id = "txtIssuedCapital1Equ", @class = "text-right", @onchange = "onchangeeventAddAuthorized(this,1);", @style = "width:100%", @type = "number", min = "0" }))</td>
                                                <td>@(Html.Kendo().TextBoxFor(m => m.shares[i].SubscribedCapital1).HtmlAttributes(new { @Id = "txtSubscribedCapital1Equ", @class = "text-right", @onchange = "onchangeeventAddAuthorized(this,2);",  @style = "width:100%", @type = "number", min = "0" }))</td>
                                                <td>@(Html.Kendo().TextBoxFor(m => m.shares[i].PaidupCapital1).HtmlAttributes(new { @Id = "txtPaidupCapital1Equ", @class = "text-right", @onchange = "onchangeeventAddAuthorized(this,3);",  @style = "width:100%", @type = "number", min = "0" }))</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="control-label">Nominal Value per Share (in INR)</label>
                                                </td>
                                                <td>@(Html.Kendo().TextBoxFor(m => m.shares[i].AuthorisedCapital2).HtmlAttributes(new { @Id = "txtAuthorisedCapital2", @class = "text-right", @onchange = "onchangeeventAddAuthorized(this,0);",  @style = "width:100%", @type = "number", min = "0" }))</td>
                                                <td>@(Html.Kendo().TextBoxFor(m => m.shares[i].IssuedCapital2).HtmlAttributes(new { @Id = "txtIssuedCapital2", @class = "text-right", @onchange = "onchangeeventAddAuthorized(this,1);",  @readonly = "readonly", @style = "width:100%", @type = "number", min = "0" }))</td>
                                                <td>@(Html.Kendo().TextBoxFor(m => m.shares[i].SubscribedCapital2).HtmlAttributes(new { @Id = "txtSubscribedCapital2", @class = "text-right", @onchange = "onchangeeventAddAuthorized(this,2);",  @readonly = "readonly", @style = "width:100%", @type = "number", min = "0" }))</td>
                                                <td>@(Html.Kendo().TextBoxFor(m => m.shares[i].PaidupCapital2).HtmlAttributes(new { @Id = "txtPaidupCapital2", @class = "text-right", @onchange = "onchangeeventAddAuthorized(this,3);",  @readonly = "readonly", @style = "width:100%", @type = "number", min = "0" }))</td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <label class="control-label">Total amount of Equity Shares (in INR)</label>
                                                </td>
                                                <td>@(Html.Kendo().TextBoxFor(m => m.shares[i].AuthorisedCapital3).HtmlAttributes(new { @Id = "txtAuthorisedCapital3", @readonly = "readonly", @class = "NoDrop text-right",  @style = "width:100%", @type = "number", min = "0" }))</td>
                                                <td>@(Html.Kendo().TextBoxFor(m => m.shares[i].IssuedCapital3).HtmlAttributes(new { @Id = "txtIssuedCapital3", @readonly = "readonly", @class = "NoDrop text-right",  @style = "width:100%", @type = "number", min = "0" }))</td>
                                                <td>@(Html.Kendo().TextBoxFor(m => m.shares[i].SubscribedCapital3).HtmlAttributes(new { @Id = "txtSubscribedCapital3", @readonly = "readonly", @class = "NoDrop text-right",  @style = "width:100%", @type = "number", min = "0" }))</td>
                                                <td>@(Html.Kendo().TextBoxFor(m => m.shares[i].PaidupCapital3).HtmlAttributes(new { @Id = "txtPaidupCapital3",@readonly = "readonly", @class = "NoDrop text-right",  @style = "width:100%", @type = "number", min = "0" }))</td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>

                            </div>
                        }
                    </div>
                </div>


                @*<div class="k-edit-buttons k-state-default" style="background:!important;background:none;">
                        <button type="button" id="btnequity" class="k-primary k-button k-grid-update k-button-icontext" value="Save" name="submitButton" onclick="saveEquityCapital();"><span class=""></span>Save</button>

                    </div>*@

                            <div class="row colpadding0 mt30">
                                <div class="col-md-12 colpadding0" style="text-align:center">
                                    <button type="submit" id="btnequity" class="btn btn-primary" value="Save" name="submitButton" onclick="saveEquityCapital();"><span class=""></span>Save</button>
                                </div>
                            </div>

                            }


        </div>
    </div>
</div>
<script>
    function saveEquityCapital(e)
    {
        
        $("#frmEquity").attr(
                        "action",
                        "@Url.Action("ADDEquiety", "CapitalMaster", new { submitButton = "Save" })"
                    ).submit();
        updatepaidupcapital();

    }

    var validator = $("#frmEquity").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
</script>

<script type="text/javascript">

    function OnSuccess(data) {
        
        $("#Prefrence").prop('disabled', false);
        $('#Prefrence a[href="#csharptab"]').tab('show');
        
        var countvalue=parseInt($("#tblClassShares").val());
        if(countvalue>1)
        {
            var dropdownlist = $("#shares_0__sharesID").data("kendoDropDownList");

            dropdownlist.value("1");
            dropdownlist.trigger("change");
            dropdownlist.enable(false);
            var dropdownlist2 = $("#shares_1__sharesID").data("kendoDropDownList");
            dropdownlist2.value("2");
            dropdownlist2.trigger("change");
            dropdownlist2.enable(false);
        }
        else
        {
            var dropdownlist = $("#shares_0__sharesID").data("kendoDropDownList");
            dropdownlist.enable(true);
        }

    }
    $(document).ready(function ()
    {

        if(@Model.Id>0)
        {
            //$("#txtAuthorisedCapitalEqu").attr("readonly", true);
            //$("#txtIssuedCapital1Equ").attr("readonly", true);
            //$("#txtSubscribedCapital1Equ").attr("readonly", true);
            //$("#txtPaidupCapital1Equ").attr("readonly", true);
            //$("#txtAuthorisedCapital2").attr("readonly", true);
            //$("#txtIssuedCapital2").attr("readonly", true);
            //$("#txtSubscribedCapital2").attr("readonly", true);
            //$("#txtPaidupCapital2").attr("readonly", true);
            //$("#txtAuthorisedCapital2").attr("readonly", true);
            //$("#txtIssuedCapital2").attr("readonly", true);
            //$("#txtSubscribedCapital2").attr("readonly", true);
            //$("#txtPaidupCapital2").attr("readonly", true);
            //$("#btnequity").kendoButton({
            //    enable: false
            //});
        }
    })
</script>


