﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VMllpCapital

<script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<link href="~/NewCSS/Kendouicss.css" rel="stylesheet" />
<style>
        .field-validation-error {
            color: #ff0000;
        }

        .k-current-page {
            display: none;
        }

        html .k-upload-empty {
            border-width: 1px;
        }

        .k-edit-form-container {
            position: relative;
            width: 900px;
        }

        .k-grid-edit {
            height: 32px;
            width: 33px;
            padding: 6px 0px 10px 0;
            /*white-space: nowrap;*/
            overflow: hidden;
            /*border-radius: 20px;*/
        }

        .k-grid-delete {
            height: 32px;
            width: 33px;
            padding: 5px 0px 10px 0;
            overflow: hidden;
        }

        .fieldlist {
            margin: 0 0 -2em;
            padding: 0;
        }

            .fieldlist li {
                list-style: none;
                padding-bottom: 2em;
            }

            .fieldlist label {
                display: block;
                padding-bottom: 1em;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 12px;
                color: #444;
            }

        .mt30 {
            margin-top: 18px;
        }

        .k-grid-add {
            float: right;
            /*background-color: #1fd9e1;*/
            /*color: white;*/
        }
        /*.k-add
    {
        background-image:url("'../../../../Images/Add_new_icon.png'")
    }*/
        .k-edit-buttons {
            /*//width: 1280px;*/
            text-align: center;
        }

        label {
            color: black;
        }

        .ml-mr {
            margin-left: 2%;
        }

        fieldset {
            display: block;
            margin-inline-start: 2px;
            margin-inline-end: 2px;
            padding-block-start: 0.35em;
            padding-inline-start: 0.75em;
            padding-inline-end: 0.75em;
            padding-block-end: 0.625em;
            min-inline-size: min-content;
            border-width: 1px;
            border-style: groove;
            border-color: rgba(128, 128, 128, 0.56);
            border-radius: 11px;
            /*border-color: threedface;
    border-image: initial;*/
        }
</style>
<script>


        function onRowBound(e) {

            //    $(".k-grid-Edit").find("span").addClass("k-icon k-edit");
            //    $(".k-grid-delete").find("span").addClass("k-icon k-delete");
        }

</script>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        @Html.Partial("_PartialViewLLpCapital", Model)
    </div>
</div>
