﻿@using Kendo.Mvc.UI;
@model  BM_ManegmentServices.VM.NewCompliances_VM

<div class="row colpadding0" style="overflow:hidden">
    <div class="col-md-12 colpadding0">
        <div class="row colpadding0">
            <div class="col-md-12">
                <div class="col-md-3">
                    <span style="color:red"></span><lable class="control-label"></lable>
                </div>
                <div class="col-md-7 colpadding0">
                    <label class='container1'>
                        Non-Secreterial
                        <input id='IsNoncomorSEBI' name='IsNoncomorSEBI' type='radio' value='NonCompliance' checked='checked'>
                        <span class='checkmark1'></span>
                    </label>
                    <label class='container1'>
                        SEBI
                        <input id='IsNoncomorSEBI' name='IsNoncomorSEBI' type='radio' value='SEBI'>
                        <span class='checkmark1'></span>
                    </label>
                    @*@(Html.Kendo().RadioButtonFor(m => m.IsShorter).Label("Shorter Notice").Checked(true).Value("true").HtmlAttributes(new { @Id = "IsShorter" })) &nbsp; &nbsp;
                        @(Html.Kendo().RadioButtonFor(m => m.IsShorter).Label("Regular Notice").Value("false").HtmlAttributes(new { @Id = "IsShorter" }))*@
                    @*@Html.ValidationMessageFor(model => model.IsShorter, "", new { @class = "text-danger" })*@
                </div>
            </div>
        </div>

        <div class="row mt30 colpadding0">
            <div class="col-md-12">
                <div class="col-md-3">
                    <span style="color:red"></span><lable class="control-label">&nbsp;Compliance ID</lable>
                </div>
                <div class="col-md-7 colpadding0">
                    @Html.Kendo().TextBoxFor(model => model.ComplianceNumber).HtmlAttributes(new { style = "width: 95%;" })

                </div>
            </div>

        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div class="text-center">
                    <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>