﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.AgendaMasterVM

@using (Ajax.BeginForm("EditAgenda", "AgendaMaster", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfAgendaNew", OnBegin = "OnOpen", OnComplete = "OnRefresh" }, new { id = "frmAddEditAgendaNew" }))
{
    <style>
        .contextmenu {
            margin: 0;
            position: absolute;
            *display: inline;
            *zoom: 1;
            min-width: 100px;
            background-color: #fff;
            padding: 2px 0;
            border-radius: 4px;
            box-shadow: 1px 2px 30px #ddd;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -khtml-user-select: none;
            user-select: none;
        }

        * {
            margin: 0;
            padding: 0;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
        }

        user agent stylesheet div {
            display: block;
        }

        body {
            font-family: 'Roboto';
        }

        user agent stylesheet html {
            color: -internal-root-color;
        }

        contextmenu-visible {
            display: inline-block;
        }

        .k-panelbar  {
            margin-top: 10px;
        }
    </style>

    <script>

        function onSelect(e) {
            //
            console.log("selection change");

            //var editor = $("#AgendaFormat").data('kendoEditor');
            // var selection = editor.getSelection();
            // console.log(selection.toString());
        }

    </script>

    <div id="frmAddEditAgenda">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (Model.Message != null)
        {
            if (Model.Message.Success)
            {
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0" id="DivsuccessI">
                        <div class="alert alert-success alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            <lable id="lblsuccessI">@Model.Message.Message</lable>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row colpadding0">
                    <div class="col-md-12 colpadding0" id="DiverrorI">
                        <div class="alert alert-danger alert-dismissible">
                            <button class="close" type="button" onclick="hideAlert();">×</button>
                            <lable id="lblerrormsgI">@Model.Message.Message</lable>
                        </div>
                    </div>
                </div>
            }
        }
        <div>
            @(Html.Kendo().Tooltip()
        .For("#btnEditTemplate_")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Customize Template Fields for Agenda Item")
        .Width(300)
            )
        </div>

        @(Html.HiddenFor(m => m.BM_AgendaMasterId))
        @(Html.HiddenFor(m => m.ShowDefaultAgendaCtrl))

        <div class="demo-section k-content">
            <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_EditAgendaDetails" data-role="panelbar" tabindex="0" role="menu">
                <li class="k-item k-state-default k-first k-state-highlight k-state-active" aria-expanded="true" role="menuitem">
                    <span class="k-link k-header k-state-selected" id="spanAgendaDetails">Details<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>

                    <div id="step1Content" style="display: block;margin-left: 1%;margin-right: 1%;margin-top:1%;margin-bottom:1%">
                        <div class="row form-group">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-1 colpadding0 required">
                                    <label class="control-label">Part</label>
                                    @Html.EditorFor(m => m.PartId)
                                </div>

                                <div class="col-md-11 colpadding0 required">
                                    <label class="control-label">Agenda Item</label>
                                    @(Html.TextBoxFor(m => m.AgendaHeading, new { @class = "k-textbox", style = "width: 97%;", autocomplete = "off" }))
                                </div>                                
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12 colpadding0">
                                <div class="col-md-2 colpadding0">
                                    <span style="color:red">*</span><label class="control-label">Applicable to (Entity Type)</label>
                                    @(Html.Kendo().MultiSelectFor(model => model.lstEntity)
                                            .DataValueField("EntityTypeId")
                                            .DataTextField("EntityTypeName")
                                            .Events(e => e.Change("onChange_lstEntity"))
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Url("/api/EntityMasterAPI/EntityTypeVMDropdownForMeeting").Type(HttpVerbs.Get);
                                                })
                                                .ServerFiltering(false);
                                            })
                                            .HtmlAttributes(new { style = "width: 95%;", @class = "hidden" })
                                    )

                                    @Html.EditorFor(m => m.EntityType)
                                </div>

                                <div class="col-md-2 colpadding0 required">
                                    <label class="control-label">Applicable to (Meeting)</label>
                                    @Html.EditorFor(m => m.MeetingTypeId)
                                </div>

                                @if (Model.ShowDefaultAgendaCtrl == true)
                                {
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Frequency</label>
                                        @Html.EditorFor(m => m.FrequencyId)
                                    </div>

                                    <div class="col-md-2 colpadding0">
                                        <span style="color:red">*</span><label class="control-label">Default Agenda</label>
                                        @Html.Kendo().DropDownListFor(model => model.DefaultAgendaFor).BindTo(new SelectList(new List<object> {
                                                    new {id="",text="NA"},
                                                    new {id="Q",text="Quorum"},
                                                    new {id="C",text="Chairperson"},
                                                    new {id="MI",text="Confirmation of Minutes"},
                                                    new {id="CM",text="Committee's Confirmation of Minutes"},
                                                    new {id="GM",text="Notice for calling of AGM"},
                                                    new {id="EG",text="Notice for calling of EGM"},
                                                    new {id="CI",text="Note on Circular"},
                                                    new {id="CF",text="Audited Consolidated Financial Statements"}
                                                }, "id", "text")).HtmlAttributes(new { style = "width: 95%" })
                                    </div>

                                    <div class="col-md-3 colpadding0">
                                        <label class="control-label">UI Form</label>
                                        @Html.EditorFor(m => m.UIFormID)
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-2 colpadding0">
                                        <label class="control-label">Frequency</label>
                                        @Html.Kendo().DropDownListFor(model => model.FrequencyId).BindTo(new SelectList(new List<object> {
                                                                new {id="2",text="Event Base"}
                                                            }, "id", "text")).HtmlAttributes(new { style = "width: 95%" })
                                    </div>
                                }

                                <div class="col-md-1 colpadding0">
                                    <div style="margin-top:20px;">
                                        <a id="btnEditTemplate_" class="k-button k-button-icontext k-grid-Edit k-grid-edit hoverCircle" style="border-radius:25px;" href="#" onclick="CreateTemplate(@Model.BM_AgendaMasterId)"><span class="k-icon k-edit"></span>Edit</a>
                                    </div>
                                </div>                           
                            </div>
                        </div>

                        <div id="divAgenda_" class="row form-group">
                            <div id="divStages" class="col-md-2 colpadding0">
                                <span style="color:red"></span><label class="control-label">Stages</label><br />
                                @(Html.Kendo().RadioButtonFor(model => model.IsMultiStageAgenda).Label("Single").Value(false))
                                @(Html.Kendo().RadioButtonFor(model => model.IsMultiStageAgenda).Label("Multiple").Value(true))
                                @Html.ValidationMessageFor(model => model.IsMultiStageAgenda, "", new { @class = "text-danger" })
                            </div>

                            @if (Model.MeetingTypeId == 11 || Model.MeetingTypeId == 12)
                            {
                                <div id="divPostal" class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Postal Ballot Required?</label><br />
                                        @(Html.Kendo().RadioButtonFor(model => model.IsPostBallotRequired).Label("Yes").Value(true))
                                        @(Html.Kendo().RadioButtonFor(model => model.IsPostBallotRequired).Label("No").Value(false))
                                        @Html.ValidationMessageFor(model => model.IsPostBallotRequired, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-12 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Business</label><br />
                                        @(Html.Kendo().RadioButtonFor(model => model.IsOrdinaryBusiness).Label("Ordinary").Value(true))
                                        @(Html.Kendo().RadioButtonFor(model => model.IsOrdinaryBusiness).Label("Special").Value(false))
                                        @Html.ValidationMessageFor(model => model.IsOrdinaryBusiness, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2 colpadding0">
                                    <div class="col-md-12 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Resolution</label><br />
                                        @(Html.Kendo().RadioButtonFor(model => model.IsSpecialResolution).Label("Ordinary").Value(false))
                                        @(Html.Kendo().RadioButtonFor(model => model.IsSpecialResolution).Label("Special").Value(true))
                                        @Html.ValidationMessageFor(model => model.IsSpecialResolution, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="divCir" class="col-md-2 colpadding0">
                                    <div class="col-md-1 colpadding0"></div>
                                    <div class="col-md-11 colpadding0">
                                        <span style="color:red"></span><label class="control-label">Can Passed by Circular?</label><br />
                                        @(Html.Kendo().RadioButtonFor(model => model.CanPassedByCircularResolution).Label("Yes").Value(true))
                                        @(Html.Kendo().RadioButtonFor(model => model.CanPassedByCircularResolution).Label("No").Value(false))
                                        @Html.ValidationMessageFor(model => model.CanPassedByCircularResolution, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }

                            <div class="col-md-2 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red"></span><label class="control-label">Voting/Noting</label><br />
                                    @(Html.Kendo().RadioButtonFor(model => model.IsVoting).Label("Voting").Value(true))
                                    @(Html.Kendo().RadioButtonFor(model => model.IsVoting).Label("Noting").Value(false))
                                    @Html.ValidationMessageFor(model => model.IsVoting, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-2 colpadding0">
                                <div class="col-md-1 colpadding0"></div>
                                <div class="col-md-11 colpadding0">
                                    <span style="color:red"></span><label class="control-label">Can Multiple</label><br />
                                    @(Html.Kendo().RadioButtonFor(model => model.CanMultiple).Label("Yes").Value(true))
                                    @(Html.Kendo().RadioButtonFor(model => model.CanMultiple).Label("No").Value(false))
                                    @Html.ValidationMessageFor(model => model.CanMultiple, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
            </ul>

            <ul class="k-widget k-panelbar k-reset k-header" id="panelbar_EditAgendaFormats" data-role="panelbar" tabindex="0" role="menu">
                <li class="k-item" aria-expanded="true" role="menuitem">
                    <span class="k-link k-header" id="spanAgendaFormat">Format<span class="k-icon k-i-arrow-60-down k-panelbar-expand"></span></span>
                    <div id="step1Content2" style="display: block;margin-left: 1%;margin-right: 1%;margin-top:1%;margin-bottom:1%">

                        <div id="divAgenda1_" class="">
                            <div class="">

                                <div style="margin-right:1%;">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" id="mytab1" href="#tabAgendaTemplate">Agenda Template</a></li>
                                        <li><a data-toggle="tab" id="mytab2" href="#tabResolutionTemplate">Resolution Template</a></li>
                                        <li><a data-toggle="tab" id="mytab3" href="#tabMinutesTemplate">Minutes Template</a></li>
                                        <li><a data-toggle="tab" id="mytabSEBIFormat" href="#tabSEBITemplate">SEBI Intimation/Disclosure Template</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="tabAgendaTemplate" class="tab-pane fade in active">

                                            <div class="row form-group">
                                                <div class="col-md-12 colpadding0">
                                                    <div class="col-md-12 colpadding0">
                                                        <span style="color:red"></span><label class="control-label">Heading</label>
                                                        @(Html.TextAreaFor(m => m.Agenda, new { @class = "k-textbox", @Id = "Agenda", style = "width: 100%; height:50px;", autocomplete = "off" }))
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-12 colpadding0">
                                                    <label class="control-label">Text</label>

                                                    @(Html.Kendo().EditorFor(m => m.AgendaFormat)
                                            .HtmlAttributes(new { style = "height:240px" })
                                            .Encode(false)
                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                            .Tools(tools => tools
                                            .Clear().Formatting()
                                            .FontName(fonts => fonts
                                                .Add("Andale Mono", "Andale Mono")
                                                .Add("Arial", "Arial")
                                                .Add("Arial Black", "Arial Black")
                                                .Add("Book Antiqua", "Book Antiqua")
                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                .Add("Courier New", "Courier New")
                                                .Add("Georgia", "Georgia")
                                            )
                                            .FontSize(size => size
                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                            .Bold().Italic().Underline().Strikethrough()
                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                            .SubScript().SuperScript()
                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                            .TableEditing()
                                            .CleanFormatting()
                                            .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolAgendaFormat' style='width:200px;'><option value=''>none</option></select>"))
                                            .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='btn btn-primary'  onclick='insertEditorTemplateField(\"AgendaFormat\", \"templateToolAgendaFormat\");'>"))
                                            ))
                                                </div>
                                            </div>
                                        </div>

                                        <div id="tabResolutionTemplate" class="tab-pane fade">
                                            <div class="row form-group">
                                                <div class="col-md-12 colpadding0">
                                                    <label class="control-label">Heading</label>
                                                    @(Html.TextAreaFor(m => m.ResolutionFormatHeading, new { @class = "k-textbox", @Id = "ResolutionFormatHeading", style = "width: 100%; height:50px;", autocomplete = "off" }))
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-12 colpadding0">
                                                    <label class="control-label">Text</label>
                                                    @(Html.Kendo().EditorFor(m => m.ResolutionFormat)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                    .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolResolutionFormat' style='width:200px;'><option value=''>none</option></select>"))
                                                    .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='btn btn-primary'  onclick='insertEditorTemplateField(\"ResolutionFormat\", \"templateToolResolutionFormat\");'>"))
                                                ))
                                                </div>
                                            </div>
                                        </div>

                                        <div id="tabMinutesTemplate" class="tab-pane fade">
                                            <div class="row form-group">
                                                <div class="col-md-12 colpadding0">
                                                    <label class="control-label">Heading</label>
                                                    @(Html.TextAreaFor(m => m.MinutesFormatHeading, new { @class = "k-textbox", @Id = "MinutesFormatHeading", style = "width: 100%; height:50px;", autocomplete = "off" }))
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-12 colpadding0">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a data-toggle="tab" id="mytabM1" href="#tabMiniteTemplate1">Approve/Recommended</a></li>
                                                        <li><a data-toggle="tab" id="mytabM2" href="#tabMiniteTemplate2">Disapprove/Not Recommended</a></li>
                                                        <li><a data-toggle="tab" id="mytabM3" href="#tabMiniteTemplate3">Defer</a></li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div id="tabMiniteTemplate1" class="tab-pane fade in active">
                                                            @(Html.Kendo().EditorFor(m => m.MinutesFormat)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                    .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolMinutesFormat' style='width:200px;'><option value=''>none</option></select>"))
                                                    .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='btn btn-primary'  onclick='insertEditorTemplateField(\"MinutesFormat\", \"templateToolMinutesFormat\");'>"))
                                                ))

                                                        </div>

                                                        <div id="tabMiniteTemplate2" class="tab-pane fade">
                                                            @(Html.Kendo().EditorFor(m => m.MinutesDisApproveFormat)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                    .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateTooMinutesDisApproveFormat' style='width:200px;'><option value=''>none</option></select>"))
                                                    .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='btn btn-primary'  onclick='insertEditorTemplateField(\"MinutesDisApproveFormat\", \"templateTooMinutesDisApproveFormat\");'>"))
                                                ))
                                                        </div>

                                                        <div id="tabMiniteTemplate3" class="tab-pane fade">
                                                            @(Html.Kendo().EditorFor(m => m.MinutesDifferFormat)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                    .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolMinutesDifferFormat' style='width:200px;'><option value=''>none</option></select>"))
                                                    .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='btn btn-primary'  onclick='insertEditorTemplateField(\"MinutesDifferFormat\", \"templateToolMinutesDifferFormat\");'>"))
                                                ))
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div id="tabSEBITemplate" class="tab-pane fade">

                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a data-toggle="tab" id="mytabS1" href="#tabSEBITemplate1">Intimation</a></li>
                                                        <li><a data-toggle="tab" id="mytabS2" href="#tabSEBITemplate2">Disclosure</a></li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div id="tabSEBITemplate1" class="tab-pane fade in active">
                                                            @(Html.Kendo().EditorFor(m => m.SEBI_IntimationFormat)
                                                            .HtmlAttributes(new { style = "height:240px" })
                                                            .Encode(false)
                                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                            .Tools(tools => tools
                                                            .Clear().Formatting()
                                                            .FontName(fonts => fonts
                                                                .Add("Andale Mono", "Andale Mono")
                                                                .Add("Arial", "Arial")
                                                                .Add("Arial Black", "Arial Black")
                                                                .Add("Book Antiqua", "Book Antiqua")
                                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                                .Add("Courier New", "Courier New")
                                                                .Add("Georgia", "Georgia")
                                                            )
                                                            .FontSize(size => size
                                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                            .Bold().Italic().Underline().Strikethrough()
                                                            .SubScript().SuperScript()
                                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                            .TableEditing()
                                                            .CleanFormatting()
                                                            .CustomTemplate(ct => ct.Template("<label for='templateToolSEBI_IntimationFormat' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolSEBI_IntimationFormat' style='width:200px;'><option value=''>none</option></select>"))
                                                            .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='btn btn-primary'  onclick='insertEditorTemplateField(\"SEBI_IntimationFormat\", \"templateToolSEBI_IntimationFormat\");'>"))
                                                            ))
                                                        </div>

                                                        <div id="tabSEBITemplate2" class="tab-pane fade">
                                                            @(Html.Kendo().EditorFor(m => m.SEBI_DisclosureFormat)
                                                            .HtmlAttributes(new { style = "height:240px" })
                                                            .Encode(false)
                                                            .Events(e => e.Paste("onPasteRemoveTag"))
                                                            //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                            .Tools(tools => tools
                                                            .Clear().Formatting()
                                                            .FontName(fonts => fonts
                                                                .Add("Andale Mono", "Andale Mono")
                                                                .Add("Arial", "Arial")
                                                                .Add("Arial Black", "Arial Black")
                                                                .Add("Book Antiqua", "Book Antiqua")
                                                                .Add("Bookman Old Style", "Bookman Old Style")
                                                                .Add("Comic Sans MS", "Comic Sans MS")
                                                                .Add("Courier New", "Courier New")
                                                                .Add("Georgia", "Georgia")
                                                            )
                                                            .FontSize(size => size
                                                            .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                            .Bold().Italic().Underline().Strikethrough()
                                                            .SubScript().SuperScript()
                                                            .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                            .TableEditing()
                                                            .CleanFormatting()
                                                            .CustomTemplate(ct => ct.Template("<label for='templateToolSEBI_DisclosureFormat' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolSEBI_DisclosureFormat' style='width:200px;'><option value=''>none</option></select>"))
                                                            .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='btn btn-primary'  onclick='insertEditorTemplateField(\"SEBI_DisclosureFormat\", \"templateToolSEBI_DisclosureFormat\");'>"))
                                                            ))
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <div class="row mt30 colpadding0">
            <div class="col-md-12 colpadding0">
                <div class="text-center">
                    <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>

        <div class="contextmenu contextmenu-visible" id="menu" style="left: 667px; top: 190px;display:none;">
            <ul>
                <li class="menu-line">
                    <div>
                        <div class="k-window-titlebar k-header" style="margin-top: -32.92px;">&nbsp;<span class="k-window-title">Template Fields</span><div class="k-window-actions"><a role="button" href="#" class="k-window-action k-link" onclick="hideContextMenu()"><span role="presentation" class="k-icon k-i-close">Close</span></a></div></div>
                        <div style="visibility: visible; display: block;" data-role="window" class="k-window-content k-content" role="dialog" tabindex="0">
                            <fieldset class="col" style="margin-right:5px;">
                                <legend class="amp-mb5"><label style="font-size:17px"></label></legend>

                                <div><select id='templateToolParent' style='width:300px;'><option value=''>none</option></select></div>
                                <div>
                                    &nbsp;
                                </div>
                                <div class="text-center">
                                    <button id="btninsertTemplateField" type="button" class="btn btn-primary" onclick='insertTemplateField("Agenda", "templateToolParent");'>Insert</button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <script>


        $(document).ready(function () {

            var validator1 = $("#frmAddEditAgendaNew").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

            //$("#panelbarEditAgenda").kendoPanelBar({
            //    expandMode: "single"
            //});

            $('[id^="panelbar"]').kendoPanelBar({
                expandMode: "single",
                collapse: cancelExpandCollapse,
            });

            
            if ('@Model.BM_AgendaMasterId' > 0) {
                var dropdownlist = $("#MeetingTypeId").data("kendoDropDownList")
                //dropdownlist.enable(false);
                dropdownlist.readonly();
            }

            if ('@Model.IsMultiStageAgenda' == "True" || '@Model.IsMultiStageAgenda' == "true") {
                IsMultistage(true);
            }
            else {
                IsMultistage(false);
            }
        });

        $(document).on("change", "input[name='IsSubAgenda']", function () {
            if (this.value == "true" || this.value == "True") {
                IsSubAgenda(true);
            }
            else {
                IsSubAgenda(false);
            }
        });

        $(document).on("change", "input[name='IsMultiStageAgenda']", function () {
            if (this.value == "true" || this.value == "True") {
                IsMultistage(true);
            }
            else {
                IsMultistage(false);
            }
        });

        function IsSubAgenda(v) {
            if (v == true) {
                //$("#divStages").addClass('hidden');
                // IsMultistage(false);
            } else {
                //$("#divStages").removeClass('hidden');
            }
        }

        function IsMultistage(v) {
            if (v == true) {
                //$("#divSubAgenda_").removeClass('hidden');
                //$("#divSubAgendaCmd_").removeClass('hidden');
                //$("#divAgenda_").addClass('hidden');
                //$("#divAgenda1_").addClass('hidden');
            }
            else {
                //$("#divSubAgenda_").addClass('hidden');
                //$("#divSubAgendaCmd_").addClass('hidden');
                //$("#divAgenda_").removeClass('hidden');
                //$("#divAgenda1_").removeClass('hidden');
            }
        }

        $("#btnclose2").click(function (e) {
            $("#wndAdd").data("kendoWindow").close();
        });
    </script>

    <script>

        function CreateTemplate(e) {
            $("#wndAddTemplate").attr("style", "min-height:100px;");

            $("#wndAddTemplate").kendoWindow({
                title: "Template Fields",
                modal: true
            });

            //var direction = "GetAgenda?id=0";
            var direction = "../Template/Editing_Custom?AgendaMasterId=" + e;
            var wnd = $("#wndAddTemplate").data("kendoWindow");
            var opts = wnd.options;

            //kendo.ui.progress(wnd.element, true);
            // first click of the button - will automatically fetch the contentUrl
            wnd = $("#wndAddTemplate").kendoWindow({
                title: "Template",
                actions: ["Close"],
                content: direction,
                width: "95%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () {
                    //OnOpen();
                    OnOpenTemplate();
                },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");

                    //templateToolsParentLoad('templateToolParent');
                    //templateToolsParentLoad('templateToolAgendaFormat');
                }
            }).data("kendoWindow");
            // }
            opts.width = "95%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();

        }

        function ComplianceMapping1(e) {
            $("#wndAddTemplate").attr("style", "min-height:100px;");

            $("#wndAddTemplate").kendoWindow({
                title: "Compliance Mapping",
                modal: true
            });

            //var direction = "GetAgenda?id=0";
            var direction = "../AgendaMasterCompliances/Editing_Compliances?AgendaMasterId=" + e;
            var wnd = $("#wndAddTemplate").data("kendoWindow");
            var opts = wnd.options;

            //kendo.ui.progress(wnd.element, true);
            // first click of the button - will automatically fetch the contentUrl
            wnd = $("#wndAddTemplate").kendoWindow({
                title: "Template",
                actions: ["Close"],
                content: direction,
                width: "95%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); },
                open: function () {
                    //OnOpen();
                    OnOpenTemplate();
                },
                close: function (e) {
                    $(this.element).empty();
                    $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                }
            }).data("kendoWindow");
            // }
            opts.width = "95%";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();

        }

    </script>

    <script>
        //Script for Generate Context Menu

        $(document).ready(function () {
            
            //var editor = $("#AgendaFormat").data("kendoEditor");
            //var b = editor.body;
            //b.oncontextmenu = function (e) {
            //    e.preventDefault();
            //    $("#hndCurrentCtrl").val("AgendaFormat");
            //    $("#hndIsEditor").val("1");
            //    
            //    showContextMenu(e.pageX, e.pageY, 10);
            //}

            showHideSEBIFormat();

            templateFontName('tabAgendaTemplate');
            templateFontName('tabResolutionTemplate');
            templateFontName('tabMiniteTemplate1');
            templateFontName('tabMiniteTemplate2');
            templateFontName('tabMiniteTemplate3');

            templateFontName('tabSEBITemplate1');
            templateFontName('tabSEBITemplate2');



            loadTemplateMasterDropDownParent();
        });

        function loadTemplateMasterDropDownParent() {

            templateToolsParentLoad('templateToolParent');
            templateToolsParentLoad('templateToolAgendaFormat');
            templateToolsParentLoad('templateToolResolutionFormat');
            templateToolsParentLoad('templateToolMinutesFormat');
            templateToolsParentLoad('templateTooMinutesDisApproveFormat');
            templateToolsParentLoad('templateToolMinutesDifferFormat');

            templateToolsParentLoad('templateToolSEBI_IntimationFormat');
            templateToolsParentLoad('templateToolSEBI_DisclosureFormat');
        }

        function templateFontName(e) {

            var cb = $("#" + e + " select.k-fontName").data("kendoComboBox");
            cb.setOptions({
                template: "<span style='font-family: #: text #'>#: text #</span>"
            });
            cb.list.width(200);
        }

        function showContextMenu(x, y, cursorPosition) {
            
            if (cursorPosition > 0) {
                $("#hndCursorlocation").val(cursorPosition);
            }
            else {
                $("#hndCursorlocation").val(0);
            }
            var wnd = $("#wndAdd").data("kendoWindow");
            var position = wnd.options.position;
            $("#menu").css("position", "absolute");
            $("#menu").css("display", "block");

            $("#menu").css("left", x - position.left - 15);
            if ($("#hndIsEditor").val() == "0") {
                $("#menu").css("top", y - position.top + 15);
            }
            else {
                $("#menu").css("top", y + 310);
            }
        }

        function hideContextMenu() {
            $("#menu").css("display", "none");
        }

        $("#Agenda").contextmenu(function (e) {
            e.preventDefault();
            $("#hndCurrentCtrl").val("Agenda");
            $("#hndIsEditor").val("0");
            var cursorPosition = $('#Agenda').prop("selectionStart");
            showContextMenu(e.pageX, e.pageY, cursorPosition);
        });

        $("#ResolutionFormatHeading").contextmenu(function (e) {
            e.preventDefault();
            $("#hndCurrentCtrl").val("ResolutionFormatHeading");
            $("#hndIsEditor").val("0");
            var cursorPosition = $('#ResolutionFormatHeading').prop("selectionStart");
            showContextMenu(e.pageX, e.pageY, cursorPosition);
        });

        $("#MinutesFormatHeading").contextmenu(function (e) {
            e.preventDefault();
            $("#hndCurrentCtrl").val("MinutesFormatHeading");
            $("#hndIsEditor").val("0");
            var cursorPosition = $('#MinutesFormatHeading').prop("selectionStart");
            showContextMenu(e.pageX, e.pageY, cursorPosition);
        });

        function templateToolsParentLoad(e) {
            $("#" + e).kendoDropDownList({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Url.Action("EditingCustom_Read", "Template", new { AgendaMasterId = Model.BM_AgendaMasterId })",
                            dataType: "json",
                            type: 'GET'
                        }
                    },
                    schema: {
                        data: "Data",
                        type: "json"
                    },
                    serverFiltering: false
                },
                dataTextField: "TemplateName",
                dataValueField: "TemplateName",
                value: 0,
                index: 0,
                change: function (e) {
                }
            });
        }

        function insertTemplateField(o, ddl) {
            var curPosition = $("#hndCursorlocation").val();
            o = $("#hndCurrentCtrl").val();

            var ddltemplateToolParent = $("#" + ddl).data("kendoDropDownList");
            var ddlval = " {{" + ddltemplateToolParent.value() + "}} ";

            if ($("#hndIsEditor").val() == "0") {
                var txtAgenda = $("#" + o);
                var val = txtAgenda.val();

                if (curPosition <= txtAgenda.val().length) {
                    txtAgenda.val(val.substr(0, curPosition) + ddlval + val.substr(curPosition));

                    $("#hndCursorlocation").val((parseInt(curPosition) + ddlval.length));
                }
                else {
                    txtAgenda.val(txtAgenda.val() + ddlval);
                }
            }
            else {
                var editor = $("#" + o).data("kendoEditor");
                var ddltemplateToolParent = $("#" + ddl).data("kendoDropDownList");

                var ddlval = " {{" + ddltemplateToolParent.value() + "}} ";

                editor.exec("inserthtml", { value: ddlval });
            }

        }

        function insertEditorTemplateField(o, ddl) {

            var ddltemplateToolParent = $("#" + ddl).data("kendoDropDownList");
            var val = ddltemplateToolParent.value();
            if (val != "") {
                //$("#" + o).data("kendoEditor").body.innerHTML += " {{" + val + "}}";
                $("#" + o).data("kendoEditor").exec("inserthtml", { value: "{{" + val + "}} " });
            }
        }
    </script>

}