﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.StandardAgendaFormates_SubVM
<div id="divDetailsOfPreCommitteeAgendaItem" style="overflow-y:auto;overflow-x:hidden">
    @using (Ajax.BeginForm("EditPreCommitteeStandardAgendaFormate", "AgendaMaster", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divDetailsOfPreCommitteeAgendaItem", OnBegin = "OnOpenPreCommittee", OnComplete = "OnRefreshPreCommittee", InsertionMode = InsertionMode.ReplaceWith }, new { id = "frmUpdateDetailsofPreCommitteeAgendaItem" }))
    {
        <div>
            @(Html.Kendo().Tooltip()
            .For("#btnEditTemplateSub_")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Content("Customize Template Fields for Agenda Item")
            .Width(300)
            )

            @(Html.Kendo().Tooltip()
            .For("#tblDetailsOfSubAgendaNew")
            .Filter(".k-grid-edit")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Content("Edit")
            .Width(120)
            )

            @(Html.Kendo().Tooltip()
            .For("#tblDetailsOfSubAgendaNew")
            .Filter(".k-grid-c")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Content("Compliance")
            .Width(120)
            )

            @(Html.Kendo().Tooltip()
            .For("#tblDetailsOfSubAgendaNew")
            .Filter("td:nth-child(2)")
            .ContentHandler("toolTipContent_gridSubAgenda")
            .Position(TooltipPosition.Top)
            .Width(300)
            .AutoHide(true) )

            @(Html.Kendo().Tooltip()
            .For("#tblDetailsOfSubAgendaNew")
            .Filter("td:nth-child(3)")
            .ContentHandler("toolTipContent_gridSubAgenda")
            .Position(TooltipPosition.Top)
            .Width(150)
            .AutoHide(true) )

            @(Html.Kendo().Tooltip()
            .For("#tblDetailsOfSubAgendaNew")
            .Filter("td:nth-child(4)")
            .ContentHandler("toolTipContent_gridSubAgenda")
            .Position(TooltipPosition.Top)
            .Width(100)
            .AutoHide(true) )


            @(Html.Kendo().Tooltip()
            .For("#btnAddNewSubAgendaItem")
            .Position(TooltipPosition.Top)
            .AutoHide(true)
            .Width(160)
            )

        </div>

        if (Model.Message != null)
        {
            if (Model.Success)
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DivsuccessI_sub">
                        <div style="margin-left:2%; margin-right:2%;">
                            <div class="alert alert-success alert-dismissible">
                                <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                                <lable id="lblsuccessI_sub">@Model.Message</lable>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12 colpadding0" id="DiverrorI_sub">
                        <div style="margin-left:2%; margin-right:2%;">
                            <div class="alert alert-danger alert-dismissible">
                                <button class="close" type="button" onclick="hideAlert_Sub();">×</button>
                                <lable id="lblerrormsgI_sub">@Model.Message</lable>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        <div id="divSubAgendaEditor">
            @Html.HiddenFor(m => m.AgendaMasterIdSub)
            @Html.HiddenFor(m => m.StandardAgendaMasterIdSub)

            <div class="row form-group">
                <div class="col-md-12 colpadding0">
                    <div class="tab" role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a data-toggle="tab" id="mytab1_sub" href="#tabAgendaTemplate_sub">Agenda Template</a></li>
                            <li><a data-toggle="tab" id="mytab2_sub" href="#tabResolutionTemplate_sub">Resolution Template</a></li>
                            <li><a data-toggle="tab" id="mytab3_sub" href="#tabMinutesTemplate_sub">Minutes Template</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="tabAgendaTemplate_sub" class="tab-pane fade in active">

                                <div class="row form-group">
                                    <div class="col-md-12 colpadding0">
                                            <span style="color:red"></span><label class="control-label">Heading</label>
                                            @(Html.TextAreaFor(m => m.AgendaItemTextSub, new { @class = "k-textbox", @Id = "AgendaItemTextSub", style = "width: 98%; height:50px;", autocomplete = "off" }))
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12 colpadding0">
                                        <label class="control-label">Text</label>
                                        @(Html.Kendo().EditorFor(m => m.AgendaFormatSub)
                                                   .HtmlAttributes(new { style = "height:240px" })
                                                   .Encode(false)
                                                   .Events(e => e.Paste("onPasteRemoveTag"))
                                                   //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                   .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                    .CustomTemplate(ct => ct.Template("<label for='templateToolAgendaFormatSub' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolAgendaFormatSub' style='width:200px;'><option value=''>none</option></select>"))
                                                    .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"AgendaFormatSub\", \"templateToolAgendaFormatSub\");'>"))
                                                    )
                                        )
                                    </div>
                                </div>

                            </div>

                            <div id="tabResolutionTemplate_sub" class="tab-pane fade">
                                <div class="row form-group">
                                    <div class="col-md-12 colpadding0">
                                        <label class="control-label">Heading</label>
                                        @(Html.TextAreaFor(m => m.ResolutionFormatHeadingSub, new { @class = "k-textbox", @Id = "ResolutionFormatHeadingSub", style = "width: 98%; height:50px;", autocomplete = "off" }))
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12 colpadding0">
                                        <label class="control-label">Text</label>
                                        @(Html.Kendo().EditorFor(m => m.ResolutionFormatSub)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                    .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolResolutionFormatSub' style='width:200px;'><option value=''>none</option></select>"))
                                                    .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"ResolutionFormatSub\", \"templateToolResolutionFormatSub\");'>"))
                                                ))
                                    </div>
                                </div>
                            </div>

                            <div id="tabMinutesTemplate_sub" class="tab-pane fade">

                                <div class="row form-group">
                                    <div class="col-md-12 colpadding0">
                                        <label class="control-label">Heading</label>
                                        @(Html.TextAreaFor(m => m.MinutesFormatHeadingSub, new { @class = "k-textbox", @Id = "MinutesFormatHeadingSub", style = "width: 98%; height:50px;", autocomplete = "off" }))
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12 colpadding0">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" id="mytabM1_" href="#tabMiniteTemplate1_">Approve/Recommended</a></li>
                                            <li><a data-toggle="tab" id="mytabM2_" href="#tabMiniteTemplate2_">Disapprove/Not Recommended</a></li>
                                            <li><a data-toggle="tab" id="mytabM3_" href="#tabMiniteTemplate3_">Defer</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="tabMiniteTemplate1_" class="tab-pane fade in active">
                                                @(Html.Kendo().EditorFor(m => m.MinutesFormatSub)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                    .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolMinutesFormatSub' style='width:200px;'><option value=''>none</option></select>"))
                                                    .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"MinutesFormatSub\", \"templateToolMinutesFormatSub\");'>"))
                                                ))

                                            </div>

                                            <div id="tabMiniteTemplate2_" class="tab-pane fade">
                                                @(Html.Kendo().EditorFor(m => m.MinutesDisApproveFormatSub)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                    .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateTooMinutesDisApproveFormatSub' style='width:200px;'><option value=''>none</option></select>"))
                                                    .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"MinutesDisApproveFormatSub\", \"templateTooMinutesDisApproveFormatSub\");'>"))
                                                ))
                                            </div>

                                            <div id="tabMiniteTemplate3_" class="tab-pane fade">
                                                @(Html.Kendo().EditorFor(m => m.MinutesDifferFormatSub)
                                                    .HtmlAttributes(new { style = "height:240px" })
                                                    .Encode(false)
                                                    .Events(e => e.Paste("onPasteRemoveTag"))
                                                    //.Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                    .Tools(tools => tools
                                                    .Clear().Formatting()
                                                    .FontName(fonts => fonts
                                                        .Add("Andale Mono", "Andale Mono")
                                                        .Add("Arial", "Arial")
                                                        .Add("Arial Black", "Arial Black")
                                                        .Add("Book Antiqua", "Book Antiqua")
                                                        .Add("Bookman Old Style", "Bookman Old Style")
                                                        .Add("Comic Sans MS", "Comic Sans MS")
                                                        .Add("Courier New", "Courier New")
                                                        .Add("Georgia", "Georgia")
                                                    )
                                                    .FontSize(size => size
                                                    .Add("6", "6").Add("7", "7").Add("8", "8").Add("9", "9").Add("10", "10").Add("11", "11").Add("12", "12").Add("13", "13").Add("14", "14").Add("16", "16").Add("18", "18").Add("20", "20").Add("22", "22"))
                                                    .Bold().Italic().Underline().Strikethrough()
                                                    .SubScript().SuperScript()
                                                    .InsertUnorderedList().InsertOrderedList().Indent().Outdent()
                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                    .TableEditing()
                                                    .CleanFormatting()
                                                    .CustomTemplate(ct => ct.Template("<label for='templateTool' style='vertical-align:middle;'>Template Fields:</label> <select id='templateToolMinutesDifferFormatSub' style='width:200px;'><option value=''>none</option></select>"))
                                                    .CustomTemplate(ct => ct.Template("<input type='button' value='Insert' class='k-primary k-button'  onclick='insertEditorTemplateField(\"MinutesDifferFormatSub\", \"templateToolMinutesDifferFormatSub\");'>"))
                                                ))
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div id="divSubAgendaEditorCmd" class="text-center" style="background:!important;background:none;width:100%;">
                    <button type="submit" value="Save" class="k-primary k-button k-grid-update k-button-icontext">Save</button>
            </div>

            <div class="contextmenu contextmenu-visible" id="menuSub" style="left: 667px; top: 190px;display:none;">
                <ul>
                    <li class="menu-line">
                        <div>
                            <div class="k-window-titlebar k-header" style="margin-top: -32.92px;">&nbsp;<span class="k-window-title">Template Fields</span><div class="k-window-actions"><a role="button" href="#" class="k-window-action k-link" onclick="hideContextMenuSub()"><span role="presentation" class="k-icon k-i-close">Close</span></a></div></div>
                            <div style="visibility: visible; display: block;" data-role="window" class="k-window-content k-content" role="dialog" tabindex="0">

                                <div><select id='templateToolChild' style='width:250px;'><option value=''>none</option></select></div>
                                <div>
                                    &nbsp;
                                </div>
                                <div class="text-center" style="background:!important;background:none;width:100%;">
                                    <button type="button" class="k-primary k-button" onclick='insertTemplateField("SubAgenda", "templateToolChild");'>Insert</button>
                                    <button type="button" class="k-primary k-button" onclick="hideContextMenuSub()">Close</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <script>
                $(document).ready(function () {
                    var validator1 = $("#frmUpdateDetailsofPreCommitteeAgendaItem").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");
                    loadTemplateToolSub();
                });

                function loadTemplateToolSub() {
                    templateToolsSubLoad('templateToolChild');
                    templateToolsSubLoad('templateToolAgendaFormatSub');
                    templateToolsSubLoad('templateToolResolutionFormatSub');
                    templateToolsSubLoad('templateToolMinutesFormatSub');
                    templateToolsSubLoad('templateTooMinutesDisApproveFormatSub');
                    templateToolsSubLoad('templateToolMinutesDifferFormatSub');
                }

            function templateToolsSubLoad(e) {
                
                $("#"+e).kendoDropDownList({
                    dataSource: {
                        transport: {
                            read: {
                                url: "@Url.Action("EditingCustom_Read", "Template", new { AgendaMasterId = Model.AgendaMasterIdSub })",
                                dataType: "json",
                                type: 'GET'
                            }
                        },
                        schema: {
                            data: "Data",
                            type: "json"
                        },
                        serverFiltering: false
                    },
                    dataTextField: "TemplateName",
                    dataValueField: "TemplateName",
                    value: 0,
                    index: 0,
                    change: function (e) {
                    }
                });
            }

            function hideContextMenuSub() {
                $("#menuSub").css("display", "none");
            }

            function showContextMenuSub(x, y, cursorPosition) {
                if (cursorPosition > 0) {
                    $("#hndCursorlocation").val(cursorPosition);
                }
                else {
                    $("#hndCursorlocation").val(0);
                }
                
                var wnd = $("#wndAdd").data("kendoWindow");
                var position = wnd.options.position;
                $("#menuSub").css("position", "absolute");
                $("#menuSub").css("display", "block");

                $("#menuSub").css("left", x - position.left - 135);
                if ($("#hndIsEditor").val() == "0") {
                    $("#menuSub").css("top", y - position.top - 35);
                }
                else {
                    $("#menuSub").css("top", y + 310);
                }
            }

                $("#AgendaItemTextSub").contextmenu(function (e) {
                e.preventDefault();
                $("#hndCurrentCtrl").val("AgendaItemTextSub");
                $("#hndIsEditor").val("0");
                var cursorPosition = $('#AgendaItemTextSub').prop("selectionStart");
                showContextMenuSub(e.pageX, e.pageY, cursorPosition);
            });

            $("#ResolutionFormatHeadingSub").contextmenu(function (e) {
                e.preventDefault();
                $("#hndCurrentCtrl").val("ResolutionFormatHeadingSub");
                $("#hndIsEditor").val("0");
                var cursorPosition = $('#ResolutionFormatHeadingSub').prop("selectionStart");
                showContextMenuSub(e.pageX, e.pageY, cursorPosition);
            });

            $("#MinutesFormatHeadingSub").contextmenu(function (e) {
                e.preventDefault();
                $("#hndCurrentCtrl").val("MinutesFormatHeadingSub");
                $("#hndIsEditor").val("0");
                var cursorPosition = $('#MinutesFormatHeadingSub').prop("selectionStart");
                showContextMenuSub(e.pageX, e.pageY, cursorPosition);
            });
            </script>
    }
</div>
