﻿@using Kendo.Mvc.UI;
@model long
<!-- Script for Kendo Grid-->
<script type="text/javascript">
    function toolTipContent_gridNew(e) {
        return e.target.context.innerText;
    }
</script>

<!-- Script for Show PopUp window-->
<script>

    function GetDataParentIDForPreCommittee()
    {
        return {
            ParentId: "@Model",
        }
    }

    function filterSubAgenda() {
        return {
            MeetingTypeId: $("#MeetingTypeIDSub").val()
        };
    }

    $(document).ready(function () {
        $("#customPreCommittee").click(function (e) {
            e.preventDefault();
            createPreCommittee();
        });
    });

    function editPreCommitteeStandardAgenda(e) {
            e.preventDefault();
            
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

            $("#wndgridPreCommittee").kendoWindow({
                title: dataItem.SubAgendaHeading,
                modal: true
            });

            var direction = "@Url.Action("GetPreCommitteeStandardAgendaFormate", "AgendaMaster")" + "?agendaMasterId=@Model&id=" + dataItem.BM_SubAgendaMasterId;
            showPreCommitteeFormates(direction);
        }

    function showPreCommitteeFormates(direction) {
        $("#wndgridPreCommittee").attr("style", "min-height:100px;");

        var wnd = $("#wndgridPreCommittee").data("kendoWindow");

        

        var opts = wnd.options;

        wnd = $("#wndgridPreCommittee").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "75%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { OnOpenPreCommittee(); },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                // $('#gridNewAgendaCompliance').data('kendoGrid').dataSource.read();
            }
        }).data("kendoWindow");

        opts.width = "75%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function OnOpenPreCommittee(e) {
            var wnd = $("#wndgridPreCommittee").data("kendoWindow");
            kendo.ui.progress(wnd.element, true);
        //$(".k-overlay").attr('style', "opacity:0.5; display:block;");
            wnd.modal = true;
        }

     function OnRefreshPreCommittee() {
            var wnd = $("#wndgridPreCommittee").data("kendoWindow");
            kendo.ui.progress(wnd.element, false);
            wnd.modal = true;
            //$(".k-overlay").attr('style', "opacity:0.5; display:block;");
        }

</script>

<div>
    @(Html.Kendo().Tooltip()
        .For("#gridPreCommittee")
        .Filter(".k-grid-add")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Add - Agenda Item")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridPreCommittee")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Delete")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridPreCommittee")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Edit")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridPreCommittee")
        .Filter(".k-grid-i")
        .Position(TooltipPosition.Top)
        .AutoHide(true)
        .Content("Info")
        .Width(120)
    )

    @(Html.Kendo().Tooltip()
        .For("#gridPreCommittee")
        .Filter("td:nth-child(1)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(200)
        .AutoHide(true) )

    @(Html.Kendo().Tooltip()
        .For("#gridPreCommittee")
        .Filter("td:nth-child(2)")
        .ContentHandler("toolTipContent_gridNew")
        .Position(TooltipPosition.Top)
        .Width(300)
        .AutoHide(true) )

</div>

<div style="margin-left:2%; margin-right:2%;">
    <div class="row colpadding0">
        <div class="col-md-12 colpadding0">
            @(Html.Kendo().Window().Name("wndgridPreCommittee").Title("Pre Committee Agenda Item").Visible(false).Modal(true).Draggable(true).Scrollable(true))

            @(Html.Kendo().Grid<BM_ManegmentServices.VM.SubAgendaMasterVM>()
    .Name("gridPreCommittee")
    .Columns(columns =>
    {
        columns.Bound(p => p.MeetingTypeNameSub).HeaderTemplate("Meeting").HtmlAttributes(new { title = "#= MeetingTypeNameSub #" }).Sortable(false).Width("22%");
        columns.Bound(p => p.SubAgenda).HeaderTemplate("Agenda Item").HtmlAttributes(new { title = "#= SubAgenda #" }).Sortable(false).Width("65%");
        columns.Command(command =>
        {
            command.Custom("Edit").Click("editPreCommitteeStandardAgenda").HtmlAttributes(new { @class = "k-grid-edit" });
            command.Custom("i").Click("showAgendaInfoSub").HtmlAttributes(new { @class = "k-grid-info" });
        }).Title("Action");
    })
    .EnableCustomBinding(true)
    //.ToolBar(
    //toolbar => toolbar.Custom().Text("New").HtmlAttributes(new { id = "customPreCommittee", @class = "k-grid-add", title = "Create New" })
    //)
    .Events(e => e.DataBound("onRowBoundSubForCust"))
    .Navigatable()
    .Pageable(pageable => pageable
    .Refresh(true)
    .PageSizes(true)
    .ButtonCount(5))
    .Filterable()
    .Sortable()
    //.HtmlAttributes(new { style = "height:510px;" })
    .Reorderable(reorderable => reorderable.Columns(true))
    .Resizable(resizable => resizable.Columns(true))
    .ColumnMenu()
    .DataSource(dataSource => dataSource
    .WebApi()
    .PageSize(5)
    .ServerOperation(false)
    .Model(model =>
    {
        model.Id(p => p.BM_SubAgendaMasterId);
        model.Field(p => p.BM_AgendaMasterId).Editable(false).DefaultValue(Model);
        model.Field(p => p.SubHasInfo);
        model.Field(p => p.SubAgendaInfomative);
    })
        .Read(read => read.Url("/api/AgendaMasterAPI/GetAllPreCommittee").Data("GetDataParentIDForPreCommittee").Type(HttpVerbs.Get))
    ))
        </div>
    </div>
</div>
