﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

@{
    ViewBag.Title = "Agenda Status";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

<style>
    .k-grid table {
        table-layout: fixed;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        var breadCrumbData = [
            {
                displayText: "Masters",
                navigateUrl: "#",
            }, {
                displayText: "Agenda Status",
                navigateUrl: "#",
            }
        ];
        setBreadCrumb(breadCrumbData);
    });

    function error_handler(e) {

    }

</script>

<!-- Script for Generate Grid SrNo -->
<script>

    function onRowBound(e) {
        var grid = $("#gridKendo2").data("kendoGrid");
        var gridData = grid.dataSource.view();

        GetICons();

        $("#gridKendo2 tr.k-alt").removeClass("k-alt");
    }

    function error_handlerT(e) {
        debugger;
        console.log(e);
    }
</script>

<script>
    function clearAgendaDetails() {
        var _txtNameOfOther1 = $("#Agenda");
        var _txtCIN1 = $("#txtCIN");
        var _txtPAN1 = $("#txtPAN");
        var _Arosed1 = $("#Arosed");
        var _PercentagesOfShareHolding1 = $("#PercentagesOfShareHolding");

        _txtNameOfOther1.val('');
        _txtCIN1.val('');
        _txtPAN1.val('');
        _Arosed1.val('');
        _PercentagesOfShareHolding1.val('');

        var ddlNatureOfInterest = $("#NatureOfInterest").data("kendoDropDownList");
        var ddlIfDirector = $("#IfDirector").data("kendoDropDownList");
        var ddlIfRelatives = $("#IfRelatives").data("kendoMultiSelect");

        ddlNatureOfInterest.select(0);
        ddlIfDirector.select(0);
        ddlIfRelatives.value([]);

    }

    function trimChars(str, c) {
        var re = new RegExp("^[" + c + "]+|[" + c + "]+$", "g");
        return str.replace(re, "");
    }

    function iterate(object) {
        var str = "";
        if (object !== null && object.length > 0) {
            for (var x = 0; x < object.length; x++) {
                str += object[x].EntityTypeName + ", ";
            }
        } else {
            str += "";
        }
        return trimChars(str, ", ");
    }

    function iterateMeeting(object) {
        var str = "";
        if (object !== null && object.length > 0) {
            for (var x = 0; x < object.length; x++) {
                str += object[x].MeetingTypeName + ", ";
            }
        } else {
            str += "";
        }
        return trimChars(str, ", ");
    }

    function iterateComplianceId(object) {
        var str = "";
        if (object !== null && object.length > 0) {
            for (var x = 0; x < object.length; x++) {
                str += object[x].ComplianceId + ", ";
            }
        } else {
            str += "";
        }
        return trimChars(str, ", ");
    }

    function onChange_lstEntity(e) {

        var ddllstEntity = $("#lstEntity").data("kendoMultiSelect");
        var d = ddllstEntity.value();
        if ($.inArray(0, d) >= 0) {
            ddllstEntity.value([0]);
        }
    }

    function onChange_lstMeetingType(e) {

        var ddllstMeetingType = $("#lstMeetingType").data("kendoMultiSelect");
        var d = ddllstMeetingType.value();
        if ($.inArray(0, d) >= 0) {
            ddllstMeetingType.value([0]);
        }
    }

    function onChange_lstCompliance(e) {

        var ddllstCompliance = $("#lstCompliance").data("kendoMultiSelect");
        var selectedValues = ddllstCompliance.value();

        //var selectedValues = values.split(",");
        if (selectedValues.length > 0) {
            var multiSelectData = ddllstCompliance.dataSource.data();

            var str_table = "<table id='divPreCompliancestable'> <tr><th>Id</th> <th>Compliance</th> <th>Action</th></tr>";
            for (var i = 0; i < selectedValues.length; i++) {

                var numberValue = selectedValues[i];

                for (var j = 0; j < multiSelectData.length; j++) {

                    if (multiSelectData[j].ComplianceId == numberValue) {
                        str_table += "<tr> <td>" + multiSelectData[j].ComplianceId + "</td> <td>" + multiSelectData[j].Description + "</td>" +
                            "<td>" +
                            "<button type='button' onclick='deletePreCompliance(" + multiSelectData[j].ComplianceId + ")' class='k-button k-button-icontext k-grid-delete' style='min-width:25px;'><span class='k-icon k-delete'></span></button>" +
                            "</td></tr>";
                        break;

                    }
                }
            }

            str_table += "</html>";
            $("#divPreCompliances11").html(str_table);

            $("#divPreCompliancestable").kendoGrid({
                sortable: false,
                scrollable: false
            });
        } else {
            $("#divPreCompliances11").html('');
        }
    }

    function deletePreCompliance(v) {
        var ddllstCompliance = $("#lstCompliance").data("kendoMultiSelect");

        var selectedValues = ddllstCompliance.value();
        var newValues = selectedValues;
        for (var i = 0; i < selectedValues.length; i++) {
            if (v == selectedValues[i]) {
                break;
            }
        }

        newValues = $.grep(newValues, function (value) {
            return value != v;
        });

        ddllstCompliance.value(newValues);

        ddllstCompliance.trigger("change");
    }

    function onChange_lstPostCompliance(e) {

        var ddllstCompliance = $("#ddlPostCompliance").data("kendoMultiSelect");
        var selectedValues = ddllstCompliance.value();

        //var selectedValues = values.split(",");
        if (selectedValues.length > 0) {
            var multiSelectData = ddllstCompliance.dataSource.data();

            var str_table = "<table id='divPostCompliancestable'> <tr><th>Id</th> <th>Compliance</th> <th>Action</th></tr>";
            for (var i = 0; i < selectedValues.length; i++) {

                var numberValue = selectedValues[i];

                for (var j = 0; j < multiSelectData.length; j++) {

                    if (multiSelectData[j].ComplianceId == numberValue) {
                        str_table += "<tr> <td>" + multiSelectData[j].ComplianceId + "</td> <td>" + multiSelectData[j].Description + "</td>" +
                            "<td>" +
                            "<button type='button' onclick='deletePostCompliance(" + multiSelectData[j].ComplianceId + ")' class='k-button k-button-icontext k-grid-delete' style='min-width:25px;'><span class='k-icon k-delete'></span></button>" +
                            "</td></tr>";
                        break;
                    }
                }
            }

            str_table += "</html>";
            $("#divPostCompliances").html(str_table);

            $("#divPostCompliancestable").kendoGrid({
                sortable: false,
                scrollable: false
            });
        } else {
            $("#divPostCompliances").html('');
        }
    }

    function deletePostCompliance(v) {
        var ddllstCompliance = $("#ddlPostCompliance").data("kendoMultiSelect");

        var selectedValues = ddllstCompliance.value();
        var newValues = selectedValues;
        for (var i = 0; i < selectedValues.length; i++) {
            if (v == selectedValues[i]) {

                break;
            }
        }

        newValues = $.grep(newValues, function (value) {
            return value != v;
        });

        ddllstCompliance.value(newValues);
        ddllstCompliance.trigger("change");
    }



    function filterParentId() {
        return {
            ParentId: 3 //$("#hndParentId").val()
        };
    }

    $('#expand').click(function (e) {
        var grid = $("#grid").data("kendoGrid");
        $(".k-master-row").each(function (index) {
            grid.expandRow(this);
        });
    })

    $('#collapse').click(function (e) {
        var grid = $("#grid").data("kendoGrid");
        $(".k-master-row").each(function (index) {
            grid.collapseRow(this);
        });
    });

    function filterChange() {

        debugger;
        var filter = { logic: 'and', filters: [] };

        var ddlEntityType = $("#ddlEntityTypeFilter").data("kendoDropDownList");
        var d = ddlEntityType.value();

        var ddlMeetingType = $("#ddlMeetingTypeFilter").data("kendoDropDownList");
        var m = ddlMeetingType.value();

        var ddlStagesFilter = $("#ddlStagesFilter").data("kendoDropDownList");
        var s = ddlStagesFilter.value();

        var ddlDoctypeFilter = $("#ddlDoctype").data("kendoDropDownList");
        var doc = ddlDoctypeFilter.value();

        if (d > 0) {
            filter.filters.push({ logic: "and", field: "EntityType", operator: "eq", value: parseInt(d) });
        }

        if (doc != null && doc != "") {
            filter.filters.push({ logic: "and", field: "DocumentType.TypeName", operator: "eq", value: doc });
        }

        if (m > 0) {
            filter.filters.push({ logic: "and", field: "MeetingTypeId", operator: "eq", value: parseInt(m) });
        }

        if (s != "") {
            if (s == "0") {
                filter.filters.push({ logic: "and", field: "IsMultiStageAgenda", operator: "eq", value: false });
            } else {
                filter.filters.push({ logic: "and", field: "IsMultiStageAgenda", operator: "eq", value: true });
            }
        }

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "AgendaHeading", operator: "contains", value: t.val() });
        }

        if (filter.filters.length > 0) {
            $("#clearFilter").show();
        }
        else {
            $("#clearFilter").hide();
        }

        grid = $("#gridKendo2").data("kendoGrid");
        grid.dataSource.filter(filter);
    }

</script>

<!-- Meeting Type-->
<script>
    function getMeetingTypeNew(d) {
        var m = d.MeetingTypeName;
        if (d.MeetingTypeId == 11 || d.MeetingTypeId == 12) {
            if (d.IsOrdinaryBusiness == true) {
                m = "AGM";
            } else {
                m = "AGM/EGM";
            }
        }
        return m;
    }

    function getDataForMeetingTypes() {
        return { showAll: false };
    }


    $(function () {
        debugger;
        $('#gridKendo2').on('click', '.chkbx', function () {
            debugger;
            var checked = $(this).is(':checked');
            var grid = $('#gridKendo2').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));
            dataItem.set('IsLive', checked);

        })
    })

    function checkAll(ele) {
        debugger;
        var state = $(ele).is(':checked');
        var grid = $('#gridKendo2').data().kendoGrid;
        $.each(grid.dataSource.view(), function () {
            if (this['IsLive'] != state)
                this.dirty = true;
            this['IsLive'] = state;
            if ($(ele).is(':checked')) {
                arr.push(state);
            }
            else {
                var removeItem =
                    arr = jQuery.grep(arr, function (value) {
                        return value != state;
                    });
            }
        });
        grid.refresh();
    }
    function saveAgendaDetails() {
        debugger;
        var grid = $("#gridKendo2").data("kendoGrid");
        grid.saveChanges();
    }

    function Request_EndT(e) {
        debugger;
        if (e.type == "create" || e.type == "update") {
            //if (e.response.Errors == null) {
            var divgridNewMessage = $("#divgridNewMessage");
            divgridNewMessage[0].innerHTML = "<div class='row'><div class='col-md-12 colpadding0'><div class='alert alert-success alert-dismissible fade in'> <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> <lable>Save successfully.</lable></div></div></div>";
            //}

            var grid = $("#gridKendo2").data("kendoGrid");
            grid.dataSource.read();
        }

    }
</script>

<div class="row Dashboard-white-widget">
    <div>
        @(Html.Kendo().Tooltip()
        .For("#customCommand1")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Add - Agenda Item")
        .Events(e => e.Show("PositionTooltip")))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-edit")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Edit")
        .Events(e => e.Show("PositionTooltip")))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-compliance")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Agenda-Compliance Mapping")
        .Events(e => e.Show("PositionTooltip")))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-delete")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Delete")
        .Events(e => e.Show("PositionTooltip")))
        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".k-grid-info")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Info")
        .Events(e => e.Show("PositionTooltip")))
        @*@(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter("td:nth-child(1)")
        .Position(TooltipPosition.Bottom)
        .Width(150)
        .AutoHide(true))

        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter("td:nth-child(2)")
        .Position(TooltipPosition.Bottom)
        .Width(150)
        .AutoHide(true) )*@

        @*@(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter("td:nth-child(3)")
        .Position(TooltipPosition.Bottom)
        .ContentHandler("toolTipContent_gridNew")
        //.Width(120)
        .AutoHide(true) )*@

        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter("td:nth-child(4)")
        .Position(TooltipPosition.Bottom)
        //.Width(450)
        .AutoHide(true) )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter(".fill-template-fields")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Agenda Formats Pending")
        .Events(e => e.Show("PositionTooltip"))
        )
        @(Html.Kendo().Tooltip()
        .For("#gridKendo2")
        .Filter("td:nth-child(7)")
        .Position(TooltipPosition.Bottom)
        //.Width(450)
        .AutoHide(true) 
        )
    </div>

    <div class="dashboard">
        <input type="hidden" id="hndParentId" value="0" />
        <input type="hidden" id="hndEntityType" />
        <input type="hidden" id="hndEntityTypeNew" />
        <input type="hidden" id="hndCursorlocation" />
        <input type="hidden" id="hndCurrentCtrl" />
        <input type="hidden" id="hndIsEditor" />

        @(Html.Kendo().Window()
            .Name("wndAdd")
            .Title("Template")
            .Visible(false)
            .Modal(true)
            .Draggable(false)
            .Scrollable(false))
        @(Html.Kendo().Window()
            .Name("wndAgendaInfo")
            .Title("Information")
            .Visible(false)
            .Modal(true)
            .Content(@<text>
                <div style="user-select:none;">
                    @(Html.Kendo().Editor().Name("editor").HtmlAttributes(new { style = "height:530px;user-select:none;", aria_label = "editor" }).Resizable(resizable => resizable.Content(true).Toolbar(false)).Tools(t => t.Clear()))
                </div>
            </text>)
            .Draggable(true)
            .Scrollable(true))
        @(Html.Kendo().Window()
            .Name("wndAddTemplate")
            .Title("Template Fields")
            .Visible(false)
            .Modal(true)
            .Draggable(true)
            .Scrollable(true))
        @(Html.Kendo().Window()
            .Name("wndSubAgendaMapping1")
            .Title("Sub Agenda")
            .Visible(false)
            .Modal(true)
            .Draggable(true)
            .Scrollable(true))

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().DropDownList()
                                .Name("ddlDoctype")
                                .Events(e => e.Change("filterChange"))
                                .BindTo(new SelectList(new List<object> {
                                            new {id="0",text="Document Status-All"},
                                            new {id="All",text="All"},
                                            new {id="Partial",text="Partial"},
                                            new {id="None",text="None"},
                                             new {id="No Document",text="No Document"}
                               }, "id", "text")).HtmlAttributes(new { @class = "form-control", style = "width:95%;" }))
                </div>

                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().DropDownList()
                                .Name("ddlEntityTypeFilter")
                                .ValuePrimitive(true)
                                .DataValueField("EntityTypeId")
                                .DataTextField("EntityTypeName")
                                .OptionLabel("Entity Type-All")
                                .Events(e => e.Change("filterChange"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/EntityMasterAPI/EntityTypeVMDropdownForMeeting").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { @class = "form-control", style = "width:95%;" })
                    )

                </div>

                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().DropDownList()
                                .Name("ddlMeetingTypeFilter")
                                .ValuePrimitive(true)
                                .DataValueField("Id")
                                .DataTextField("MeetingTypeName")
                                .OptionLabel("Meeting Type-All")
                                .Events(e => e.Change("filterChange"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Url("/api/CommitteeCompAPI/GetMeetingTypeForAgendaMaster").Data("getDataForMeetingTypes").Type(HttpVerbs.Get);
                                    })
                                    .ServerFiltering(false);
                                }).HtmlAttributes(new { style = "width:95%;" })
                    )
                </div>

                <div class="col-md-1 colpadding0">
                    @(Html.Kendo().DropDownList()
                                .Name("ddlStagesFilter")
                                .Events(e => e.Change("filterChange"))
                                .BindTo(new SelectList(new List<object> {
                                            new {id="",text="Stage"},
                                            new {id="0",text="Single"},
                                            new {id="1",text="Multiple"}
                               }, "id", "text")).HtmlAttributes(new { style = "width: 100%" })
                    )
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <input id='filter' type="text" class="form-control" placeholder="Search Agenda" autocomplete="off" onchange="filterChange()" style="height: 31px">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" style="height:31px">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearFilter" style="display:none">
                        <img src="~/Areas/BM_Management/img/Vector.png" />Clear
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="divgridNewMessage">

                </div>
            </div>

        </div>
        <div class="row col-md-12 colpadding0 mt30">
            @(Html.Kendo().Grid<BM_ManegmentServices.VM.AgendaMasterVM>()
    .Name("gridKendo2")
    .Columns(columns =>
    {
        columns.Template(@<text></text>).Title("Live").ClientTemplate("<input type='checkbox' #= IsLive ? checked='checked':'' # class='chkbx' />").Width("5%").HtmlAttributes(new { @style = "width:5%" }).HeaderHtmlAttributes(new { @style = "width:5%" });
        columns.Bound(p => p.DocumentType).EditorTemplateName("DocumentType").ClientTemplate("#=DocumentType.TypeName#").Title("Document Status").Width("8%").HtmlAttributes(new { @class = "editableFiled" });
        columns.Bound(o => o.BM_AgendaMasterId).HtmlAttributes(new { style = "text-align:left;" }).Title("AgendaID").Width("5%").Filterable(ftb => ftb.Multi(true).Search(true));
        columns.Bound(o => o.EntityTypeName).Title("Entity Type").HtmlAttributes(new { title = "#= EntityTypeName #" }).Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
        columns.Bound(o => o.MeetingTypeName).Title("Meeting").ClientTemplate("#=getMeetingTypeNew(data)#").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
        columns.Bound(o => o.AgendaHeading).Title("Agenda Item").HtmlAttributes(new { title = "#= AgendaHeading #" }).Width("30%").Filterable(ftb => ftb.Multi(true).Search(true));//.Width(560);
        //columns.Bound(o => o.IsMultiStageAgenda).Title("Stage").ClientTemplate("#: IsMultiStageAgenda == true ? 'Multistage' : 'Single' #").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
        //.Title("Action").Width("10%").HeaderHtmlAttributes(new { style = "text-align:center;" }).HtmlAttributes(new { @class = "text-center" });
    }).HtmlAttributes(new { style = "height:525px;" })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
   .Navigatable()
   .Pageable(pageable => pageable
            .PageSizes(true)
            //.Refresh(false)
            .ButtonCount(5))
   .Resizable(e => e.Columns(true))
    .Events(ev => ev.DataBound("onRowBound"))
     .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .ServerOperation(false)
        .Events(events => events.Error("error_handlerT")
           .RequestEnd("Request_EndT"))
        //// .Events(e => e.Change("onChange"))
        .Model(model =>
        {
            model.Id(o => o.BM_AgendaMasterId);
            model.Field(o => o.Customer_Id);
            model.Field(o => o.MeetingTypeId);
            model.Field(o => o.BM_AgendaMasterId).Editable(false);
            model.Field(o => o.EntityTypeName).Editable(false);
            model.Field(o => o.MeetingTypeName).Editable(false);
            model.Field(o => o.IsMultiStageAgenda).Editable(false);
            model.Field(o => o.AgendaHeading).Editable(false);
            //model.Field(o => o.Agenda);
            //model.Field(o => o.EntityType);
            //model.Field(o => o.MeetingTypeId);
            //model.Field(o => o.PartId);
            //model.Field(o => o.IsMultiStageAgenda).DefaultValue(true);
            //model.Field(o => o.Parent_Id);
            //model.Field(o => o.IsApproved);
            //model.Field(o => o.HasInfo);
            //model.Field(o => o.AgendaInfomative);
            //model.Field(o => o.LastUpdatedOn);
            model.Field(p => p.DocumentType).DefaultValue(
                new BM_ManegmentServices.VM.DocumentTypeViewdata() { Type = "ALL", TypeName = "ALL" });
            //ViewData["defaultDocumentType"] as BM_ManegmentServices.VM.DocumentTypeViewdata);

        })
     //.PageSize(1000)
     .Read(read => read.Url("/api/AgendaMasterAPI/GetAgendadetails").Type(HttpVerbs.Get))
       // .Read(read=>read.Action("GetAgendaDetails", "AgendaMaster"))
       .Create(create => create.Action("CreateAgendaDetails", "AgendaMaster").Type(HttpVerbs.Post))
       .Update(update => update.Action("CreateAgendaDetails", "AgendaMaster").Type(HttpVerbs.Post))
       //.Destroy(destroy => destroy.Action("DeleteComplianceAgendaMapping", "AgendaMasterCompliances"))

       ).HtmlAttributes(new { style = "width:100%" }))
        </div>


        @if (AuthenticationHelper.Role == "CSIMP")
        {
            <div class="row colpadding0 mt30">
                <div class="col-md-12 colpadding0" style="text-align:center">
                    <button type="button" id="btnSaveAgendadetails" class="btn btn-primary" onclick="saveAgendaDetails()">Save</button>
                    <button type="button" id="btncloseSaveAgendadetails" class="btn btn-primary">Close</button>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    function onClick() {
        var editorContents = $('#str').data('kendoEditor').encodedValue();

        $.post('@Url.Action("ExportNew1", "AgendaMaster")', {
            str: editorContents
        },
            function (e) {
                alert('Editor saved on server!');
            }
        );
    }

    function toolTipContent_gridSubAgenda(e) {
        return e.target.context.innerText;
    }

    //For Mapping Compliance
    function EditComplianceMapping(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.MeetingTypeId != null) {
            ComplianceMapping(dataItem.BM_AgendaMasterId);
        }
    }

    function EditComplianceMappingSub(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.MeetingTypeIdSub != null) {
            ComplianceMapping(dataItem.BM_SubAgendaMasterId);
        }
    }

    function showAgendaInfoSub(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        if (dataItem.SubHasInfo == true) {

            $("#wndAgendaInfo").attr("style", "min-height:100px;");

            $("#wndAgendaInfo").kendoWindow({
                title: "Agenda Item Information",
                modal: true
            });

            var wnd = $("#wndAgendaInfo").data("kendoWindow");
            var opts = wnd.options;

            var editor = $("#editor").data("kendoEditor");
            editor.body.contentEditable = false;
            editor.value("<div style='user-select:none;'>" + dataItem.SubAgendaInfomative + "</div>");

            opts.width = "95%";
            opts.height = "550";
            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        }
    }

    function OnOpenTemplate(e) {
        var wnd = $("#wndAddTemplate").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    function OnRefreshTemplate() {
        var wnd = $("#wndAddTemplate").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function ComplianceMapping(e) {
        //$("#wndAddTemplate").attr("style", "min-height:100px;");

        $("#wndAddTemplate").kendoWindow({
            title: "Compliance Mapping",
            modal: true
        });

        var direction = "@Url.Action("Editing_Compliances", "AgendaMasterCompliances")" + "?AgendaMasterId=" + e;
        var wnd = $("#wndAddTemplate").data("kendoWindow");
        var opts = wnd.options;

        //kendo.ui.progress(wnd.element, true);
        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAddTemplate").kendoWindow({
            title: "Template",
            actions: [
                     "Pin",
                      "Close"
            ],
            content: direction,
            width: "99%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function (e) {
                $("html, body").css("overflow", "hidden");
                OnOpenTemplate();
            },
            close: function (e) {
                $("html, body").css("overflow", "");
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");

            }
        }).data("kendoWindow");
        // }
        opts.width = "99%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }
</script>

<!-- SEBI Format-->
<script>
    function showHideGMOptions() {
        var ddlMeetingTypeId = $("#MeetingTypeId").data("kendoDropDownList");
        var MeetingTypeId = ddlMeetingTypeId.value();
        if (MeetingTypeId == "11" || MeetingTypeId == "12") {
            $("#divPostal").removeClass("hidden");
            $("#divBusiness").removeClass("hidden");
            $("#divResolution").removeClass("hidden");

            $("#divCir").addClass("hidden");
        }
        else {
            $("#divPostal").addClass("hidden");
            $("#divBusiness").addClass("hidden");
            $("#divResolution").addClass("hidden");

            $("#divCir").removeClass("hidden");
        }
        showHideSEBIFormat();
    }

    function showHideSEBIFormat() {
        var ddlEntityType = $("#EntityType").data("kendoDropDownList");
        var entityTypeId = ddlEntityType.value();


        if (entityTypeId == "9" || entityTypeId == "10") {

            var ddlMeetingTypeId = $("#MeetingTypeId").data("kendoDropDownList");
            var MeetingTypeId = ddlMeetingTypeId.value();

            if (MeetingTypeId == "10" || MeetingTypeId == "11" || MeetingTypeId == "12") {
                $("#mytabSEBIFormat").removeClass("hidden");
            }
            else {
                $("#mytabSEBIFormat").addClass("hidden");
            }
        }
        else {
            $("#mytabSEBIFormat").addClass("hidden");
        }
    }

    function BindAutoComplete() {
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridKendo2', 'AgendaHeading'));

        if (autoCompleteData != null && autoCompleteData != undefined) {
            $("#filter").kendoAutoComplete({
                dataSource: autoCompleteData,
                filter: "contains",
                placeholder: "Search Agenda",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        filterChange();
    }

    function clearfilter(e) {

        var ddlEntityType = $("#ddlEntityTypeFilter").data("kendoDropDownList");
        if (ddlEntityType != null && ddlEntityType != undefined) {
            ddlEntityType.value("");
        }

        var ddlMeetingType = $("#ddlMeetingTypeFilter").data("kendoDropDownList");
        if (ddlMeetingType != null && ddlMeetingType != undefined) {
            ddlMeetingType.value("");
        }

        var ddlStagesFilter = $("#ddlStagesFilter").data("kendoDropDownList");
        if (ddlStagesFilter != null && ddlStagesFilter != undefined) {
            ddlStagesFilter.value("");
        }

        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");
        }

        $('#clearFilter').css('display', 'none');

        $("#gridKendo2").data("kendoGrid").dataSource.filter({});
    }
</script>
<script>
    function onPasteRemoveTag(e) {
        e.html = e.html.replace(/<\/?img[^>]*>/g, "");
    }
</script>
