﻿
@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

@using BM_ManegmentServices;

@model BM_ManegmentServices.VM.VM_HistoricalMeetings

<script>
    function FilterTypefy() {
        var EntityID = $('#EntityId').val();

        return {
            EntityID: EntityID
        }
    }

    function CheckSelectionofMeetingType() {
        debugger;
        var multiselect = $("#MeetingTypeId").data("kendoMultiSelect");
        var meetingNo = $("#MeetingNo").val();
        var item = multiselect.value();

        if (item.length > 1 || meetingNo > 1) {
            $("#dpMeetingDate").data("kendoDatePicker").readonly();
            $("#dpMeetingDate").data("kendoDatePicker").enable(false);
            $("#dpMeetingDate").val('');

            $("#MeetingSRNo").val('');
            $("#MeetingSRNo").attr("disabled", "disabled");
            $("#MeetingSRNo").css("cursor", "no-drop");
            $("#dpMeetingDate").css("cursor", "no-drop");
            //$("#MeetingNo").val('');
            //$("#MeetingNo").attr('readonly', 'true');
        }
        else {
            $("#dpMeetingDate").data("kendoDatePicker").enable(true);

            $("#MeetingSRNo").removeAttr('disabled');
            $("#MeetingSRNo").css("cursor", "");
            $("#dpMeetingDate").css("cursor", "");
            //$("#MeetingNo").removeAttr('readonly');
        }
    }

    function Checkchange(obj) {
        debugger;
        var multiselect = $("#MeetingTypeId").data("kendoMultiSelect");
        var item = multiselect.value();
        var meetingnumber = obj.value;
        if (meetingnumber > 1 || item.length > 1) {
            $("#dpMeetingDate").data("kendoDatePicker").readonly();
            $("#dpMeetingDate").data("kendoDatePicker").enable(false);
            $("#dpMeetingDate").val('');

            $("#MeetingSRNo").val('');
            $("#MeetingSRNo").attr("disabled", "disabled");
            $("#MeetingSRNo").css("cursor", "no-drop");
            $("#dpMeetingDate").css("cursor", "no-drop");
        }
        else {
            $("#dpMeetingDate").data("kendoDatePicker").enable(true);

            $("#MeetingSRNo").removeAttr('disabled');
            $("#MeetingSRNo").css("cursor", "");
            $("#dpMeetingDate").css("cursor", "");
        }
    }

    function begin() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }
    function Complite() {
        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
    }
</script>


<div id="divDetailsOfMeetingCreate">
    <div id="divHistoricalMeetingCreate" style="overflow-y:hidden;overflow-x:hidden;">
        @using (Ajax.BeginForm("CreateHistoricalMeeting", "MeetingHistoricalData", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divHistoricalMeetingCreate", OnBegin = "begin", OnComplete = "Complite" }, new { id = "frmAddHistoricalMeetingNew", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.ID)
            <div class="col-md-12">

                @if (Model.Success)
                {
                    <div class="row colpadding0">
                        <div class="col-md-12 colpadding0" id="DivsuccessI">
                            <div class="alert alert-success alert-dismissible">
                                <button class="close" type="button" onclick="hideAlert();">×</button>
                                <lable id="lblsuccessI">@Html.Raw(Model.Message)</lable>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Error)
                {
                    <div class="row">
                        <div class="col-md-12 colpadding0" id="DiverrorI">
                            <div class="alert alert-danger alert-dismissible">
                                <button class="close" type="button" onclick="hideAlert();">×</button>
                                <lable id="lblerrormsgI">@Html.Raw(Model.Message)</lable>
                            </div>
                        </div>
                    </div>
                }

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <lable class="control-label">Select Type</lable><span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 colpadding0">
                            <label class='container1'>Meeting @Html.RadioButtonFor(model => model.Circular_Meeting, "M", new { @checked = "checked" })<span class='checkmark1'></span></label>
                            <label class='container1'>Circular @Html.RadioButtonFor(model => model.Circular_Meeting, "C")<span class='checkmark1'></span></label>
                            <label class='container1'>Other @Html.RadioButtonFor(model => model.Circular_Meeting, "O")<span class='checkmark1'></span></label>
                            @*@(Html.Kendo().RadioButtonFor(m => m.Type).Label("Meeting").Checked(true).Value("M").HtmlAttributes(new { @Id = "Type" })) &nbsp; &nbsp;
                                @(Html.Kendo().RadioButtonFor(m => m.Type).Label("Circular").Value("C").HtmlAttributes(new { @Id = "Type" }))
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <lable class="control-label">Entity</lable><span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().DropDownListFor(model => model.EntityId)
                                 .DataValueField("Id")
                                 .DataTextField("EntityName")
                                 .OptionLabel("Select")
                                 .DataSource(source =>
                                 {
                                     source.Read(read =>
                                     {
                                         if (AuthenticationHelper.Role == SecretarialConst.Roles.DRCTR || AuthenticationHelper.Role == SecretarialConst.Roles.SMNGT)
                                             read.Url("/api/EntityMasterAPI/DirectorAssignedEntities").Data("GetLoggedinUserDetails").Type(HttpVerbs.Get);
                                         else
                                             read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);

                                         //read.Url("/api/EntityMasterAPI/GetAllEntityMasterForMeetingNew").Type(HttpVerbs.Get);
                                     }).ServerFiltering(false);
                                 }).HtmlAttributes(new { style = "width: 95%;" }))

                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span></span><lable class="control-label">Meeting Type</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().MultiSelectFor(m => m.MeetingTypeId)
                            .TagMode(TagMode.Single)
                             .DataValueField("Id")
                             .DataTextField("MeetingTypeName")
                             .ItemTemplate("<input type='checkbox' name='cb' value='#:data.MeetingTypeName#' /> #:data.MeetingTypeName#")
                             .DataSource(source =>
                             {
                                 source.Read(read =>
                                 {
                                     read.Url("/api/CommitteeCompAPI/GetMeetingTypeByCustomer").Type(HttpVerbs.Get);
                                     //read.Url("/api/DirectorMeetings/GetMeeting").Type(HttpVerbs.Get);
                                     //read.Url("/api/MeetingAPI/GetMeetingType").Data("FilterType").Type(HttpVerbs.Get);
                                 }).ServerFiltering(true);
                             }).HtmlAttributes(new { style = "width: 95%;", onchange = "CheckSelectionofMeetingType()" }))
                        </div>
                    </div>
                </div>

                <div id="divFY" class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span></span><lable class="control-label">Financial Year</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().DropDownListFor(model => model.FYID)
                             .DataValueField("FYID")
                             .DataTextField("FYText")
                             .OptionLabel("Select")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {

                                    read.Url("/api/ConfigurationMasterAPI/GetFYListByEntityIDForHistorical").Data("FilterTypefy").Type(HttpVerbs.Get);
                                })
                                .ServerFiltering(true);
                            })
                            .Enable(false)
                              .AutoBind(false)
                              .CascadeFrom("EntityId")
                             .HtmlAttributes(new { style = "width: 35%;" }))
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red"></span><lable class="control-label">&nbsp;Number of Meeting</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().TextBoxFor(m => m.MeetingNo).HtmlAttributes(new { style = "width: 20%;", @onchange = "Checkchange(this)", type = "number" })
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red"></span><lable class="control-label">&nbsp;Date</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @(Html.Kendo().DatePicker()
                .Name("MeetingDate")
                .Max(DateTime.Today).Format("dd/MM/yyyy")
                .ParseFormats(new[] { "dd/MM/yyyy" })
                .Culture("en-GB")
                .HtmlAttributes(new { style = "width:35%", @Id = "dpMeetingDate", placeholder = "DD/MM/YYYY", autocomplete = "off", onchange = "checkDate(this);", })
                            )
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <span style="color:red"></span><lable class="control-label">&nbsp;Sr.No</lable>
                        </div>
                        <div class="col-md-7 colpadding0">
                            @Html.Kendo().TextBoxFor(m => m.MeetingSRNo).HtmlAttributes(new { style = "width: 20%;", type = "number" })
                        </div>
                    </div>
                </div>



                <div class="row colpadding0 mt30">
                    <div class="col-md-12 colpadding0">
                        <div class="text-center">
                            <button type="Submit" id="command_name" name="command_name" value="save" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

<script>
    var validator1 = $("#frmAddHistoricalMeetingNew").kendoValidator({ errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>' }).data("kendoValidator");

    $(document).ready(function () {
        $('input[id="Circular_Meeting"]').each(function () {
            $(this).bind("click", function () {
                // rbType_Changed($(this).val());
            });
        });

        var rbTypeValue = $("input[name='Circular_Meeting']:checked").val();
        var entityID = $("#EntityId").val();

        if (entityID != 0 && entityID != null && entityID != undefined) {
            debugger;
            // BindMeetingTypeDropDown(rbTypeValue, entityID);
            //  BindFinancialYear_DropDown(entityID);
        }

        $("#dpMeetingDate").removeAttr("data-val-date");

        if ($("#dpMeetingDate").val() == "01/01/0001") {
            $("#dpMeetingDate").val('');
        }
    });

    function checkDate(e) {
        if (moment(e.value, "DD/MM/YYYY").isValid() == false) {
            e.value = '';
        }
    }

    $(document).on("change", "input[name='Circular_Meeting']", function () {
        debugger;
        var ddlEntityId = $("#EntityId").data("kendoDropDownList");
        if (ddlEntityId != null && ddlEntityId != undefined) {
            ddlEntityId.value("");
            ddlEntityId.refresh();
        }

        var ddlFYID = $("#FYID").data("kendoDropDownList");
        if (ddlFYID != null && ddlFYID != undefined) {
            ddlFYID.value("");
            ddlFYID.refresh();
        }

        var multiselectMeetingTypeId = $("#MeetingTypeId").data("kendoMultiSelect");
        if (multiselectMeetingTypeId != null && multiselectMeetingTypeId != undefined) {
            multiselectMeetingTypeId.value("");
            multiselectMeetingTypeId.refresh();

            if (this.value == "O") {
                $("#dpMeetingDate").data("kendoDatePicker").readonly();
                $("#dpMeetingDate").data("kendoDatePicker").enable(false);

                $("#MeetingSRNo").val('');
                $("#MeetingSRNo").attr('readonly', 'true');
                $("#MeetingSRNo").css("cursor", "no-drop");

                $("#MeetingNo").val('');
                $("#MeetingNo").attr('readonly', 'true');
                $("#MeetingNo").css("cursor", "no-drop");

                multiselectMeetingTypeId.readonly(true);
                multiselectMeetingTypeId.enable(false);
            }
            else {
                $("#dpMeetingDate").data("kendoDatePicker").enable(true);

                $("#MeetingSRNo").removeAttr('readonly');
                $("#MeetingNo").removeAttr('readonly');
                $("#MeetingNo").css("cursor", "");
                $("#MeetingSRNo").css("cursor", "");

                multiselectMeetingTypeId.readonly(false);
                multiselectMeetingTypeId.enable(true);
            }
        }
    });
</script>