﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.VM_HistoricalMeetings


<script>
   
    function DownloadHistoricalData(e)
    {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.FileId;
        window.location.href = "@Url.Action("DownloadHistoricalData", "HistoricalData")?Id=" + id;
    }
    function ViewHistoricalData(e)
    {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.FileId;
        @*window.location.href = "@Url.Action("ViewRecords", "CompanyProfile")?Id=" + id;*@
        $.ajax({
            type: "POST",
            url: '@Url.Action("ViewHistoricalData", "HistoricalData")',
            data: {Id:id},
            dataType: "json",
            cache: false,
            success: function (data) {
              
            
                var direction="@Url.Content("~/docviewer.aspx")" + "?docurl=" + data ;


                $("#wndDocViewer").attr("style", "min-height:100px;");

                var wnd = $("#wndDocViewer").data("kendoWindow");
                var opts = wnd.options;

                wnd = $("#wndDocViewer").kendoWindow({
                    actions: ["Close"],
                    content: direction,
                    visible: false,
                    modal: true,
                    iFrame :true,
                    refresh: function () { this.center(); },
                    open: function () { onOpenWindow("wndDocViewer") },
                    close: function (e) {
                        $(this.element).empty();
                        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                    }
                }).data("kendoWindow");

                opts.width = "95%";
                wnd.setOptions(opts);
                wnd.center();
                wnd.open();


                $('#wndDocViewer').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');


            }
        });
    }
    function onRowBound()
    {
        var grid = $("#gridKendo").data("kendoGrid");
        var gridData = grid.dataSource.view();


        GetICons();
        getGridborder(grid);
    }
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
    function DeleteFile(id) {
        $.ajax({
            //url: "/api/HistoricalDataAPI/DeleteHistoricalData?ID=" + id,
            url: "@Url.Action("DeleteHistoricalFile", "HistoricalData")?ID=" + id,
            method: "DELETE",
        success: function (data) {
            //alert("Deleted Successfully");
            $('#gridKendo').data('kendoGrid').dataSource.read();
            $('#gridKendo').data('kendoGrid').refresh();
        }
    });
    }
    function DeleteHisFile(e)
    {
        debugger;
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.FileId;
        wnd.center().open();
        $("#yes").click(function () {
            DeleteFile(id)
            grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
</script>
@(Html.Kendo().Window().Name("wndDocViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))


        
        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">
                <div >

                    @*@(Html.Kendo().Upload()
                .Name("files")
                .Async(a => a
                    .Save("Chunk_Upload_Save", "Upload")
                    .Remove("Chunk_Upload_Remove", "Upload")
                    .AutoUpload(false)
                    .ChunkSize(1100)
                )
                .DropZone(".dropZoneElement")
                .Validation(validation =>
                {
                    //validation.AllowedExtensions(Model.files);
                    //if (@Model.IsLimited)
                    //{
                    //    validation.MaxFileSize(3145728);
                    //}
                })
                    )*@
                    <input type="file" name="files" id="files1" />
                    <div class="dropZoneElement">Drag and drop file here</div>
                </div>
            </div>
        </div>

        <div class="row colpadding0">
            <div class="col-md-12 colpadding0">
                @(Html.Kendo().Grid<BM_ManegmentServices.Data.BM_SP_GetHistoricalFileData_Result>()
.Name("gridKendo")
.Columns(columns =>
{
    columns.Bound(o => o.FileId).Visible(false);
    columns.Bound(o => o.UploadedType).Title("Type").HtmlAttributes(new { @style = "width:10%" });
    columns.Bound(o => o.FileName).Title("File Name").HtmlAttributes(new { @style = "width:10%" });
    columns.Bound(o => o.Uploadedby).Title("Uploaded by").HtmlAttributes(new { @style = "width:10%" });

    columns.Command(command =>
    {
        //command.Custom("Edit").Click("CreateNew").HtmlAttributes(new { @class = "k-grid-edit" });
        command.Custom("Download").Click("DownloadHistoricalData").HtmlAttributes(new { @class = "k-grid-download" });
        command.Custom("View").Click("ViewHistoricalData").HtmlAttributes(new { @class = "k-grid-view" });
        command.Custom("Delete").Click("DeleteHisFile").HtmlAttributes(new { @class = "k-grid-delete" });
    })
    .Title("Action").HtmlAttributes(new { @style = "width:10%" });
})
.EnableCustomBinding(true)

.Events(e => e.DataBound("onRowBound"))

.Pageable(pageable => pageable
//.Refresh(true)
.PageSizes(true)
.ButtonCount(5))
.Filterable()
.Sortable()
.Reorderable(reorderable => reorderable.Columns(true))
.Resizable(resizable => resizable.Columns(true))
.ColumnMenu()
.DataSource(dataSource => dataSource
.WebApi()
.PageSize(5)
.ServerOperation(false)
  .Model(model =>
  {
      model.Id(o => o.FileId);
  })
.Read(read => read.Action("GetHistoricalFileData", "HistoricalData").Data("FilterFiledata"))
                       ))
                </div>
            </div>

<script>
    $(document).on("change", "input[name='status']", function () {
    
        $('#gridKendo').data('kendoGrid').dataSource.read();

        $('#gridKendo').data('kendoGrid').refresh();
    })
</script>
           