﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.Compliance.VM_MeetingCamplianceMapping

<ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Compliance List</a></li>
    <li class="disabled"><a href="#tab2" data-toggle="tab">Meeting Compliance Mapping</a></li>

</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        @Html.Partial("_ComplianceListForMeetingMapping",Model)

    </div>
    <div class="tab-pane" id="tab2">
        @Html.Partial("_MeetingComplianceMappingDetails", Model)
        <a class="btn btn-primary btnPrevious col-md-1" style="float:right; margin-top:4%">Previous</a>

    </div>
</div>

<script>
    @*$(document).ready(function () {
        
        if("@Model.New"=="True")
        {
            $('.nav-tabs li:first-child a').tab('show');
        }
        else if("@Model.New"=="False")
        {
            $('.nav-tabs li:eq(1) a').tab('show');
        }

    });*@

    $('.btnPrevious').click(function () {
        $('.nav-tabs > .active').prev('li').find('a').trigger('click');
    });
</script>
<script>
    $(document).ready(function () {
    $("#tabs > li").click(function () {
        if ($(this).hasClass("disabled"))
            return false;
    });
    })
</script>

