﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.EditCust_VM

@{
    ViewBag.Title = "Customer Configuration";
}

<script>
    var initialLoad = true;
    function onRowBound(e) {

        var grid = $("#gridcust").data("kendoGrid");

        GetICons();
        getGridborder(grid);

    }

</script>


<div class="row Dashboard-white-widget">
    <div class="dashboard">
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-10 colpadding0">
                    <input id='filter' placeholder="Search by CustomerID/Name" class='k-textbox' style="width: 52%" autocomplete="off" />
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()" id="clearFilter" style="position: fixed;display:none">
                        <img src="~/Areas/BM_Management/img/Vector.png" />Clear
                    </button>
                </div>

                <div class="col-md-1 colpadding0 text-right">
                    <button class="btn btn-primary" id="CreateNewCustomer" title="Add New"><span class="AddNewspan1"><i class="fa fa-plus"></i></span>New</button>

                </div>


            </div>
        </div>

        <div class="row colpadding0 mt30">
            <div class="col-md-12 colpadding0">

                @(Html.Kendo().Grid<BM_ManegmentServices.VM.EditCust_VM>()
                .Name("gridcust")
               .Columns(columns =>
               {
               columns.Bound(o => o.ID).Visible(false);
               columns.Bound(o => o.CustomerID).Title("CustomerID").Width("5%").Sortable(true).Visible(false);
               columns.Bound(o => o.Name).Title("Customer").Width("20%").Sortable(true).HtmlAttributes(new { })
                    .ClientTemplate(@"<div style='float:left;'>#= getImage(data)#</div><div class='customer-name'>#: Name #</div>").Filterable(ftb => ftb.Multi(true).Search(true));
               columns.Bound(o => o.SentMailtoDirector).Title("Sent Mail to Director").Width("10%").ClientTemplate("#= SentMailtoDirector ? 'Yes' : 'No' #");
               columns.Bound(o => o.VideoConferencingApplicable).Title("Video Conferencing Applicable").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
               columns.Bound(o => o.VideoConferencingProviderName).Title("Video Conferencing Provider").Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
                //columns.Bound(o => o.DefaultVirtualMeeting).Title("Default Virtual Meeting").Width("10%").ClientTemplate("#= DefaultVirtualMeeting ? 'Yes' : 'No' #");
                //columns.Bound(o => o.IsVirtualMeeting).Title("Is Virtual Meeting").Width("10%").ClientTemplate("#= IsVirtualMeeting ? 'Yes' : 'No' #");
                columns.Command(command =>
                {
                command.Custom("Edit").Click("EditNewCust").HtmlAttributes(new { @class = "k-grid-edit hoverCircle" });
                command.Custom("delete").Click("DeleteCust").HtmlAttributes(new { @class = "k-grid-delete hoverCircle" });
                }).Title("Action").Width("10%");
                })
                .EnableCustomBinding(true)
                .Sortable()
                .Events(e => e.DataBound("onRowBound"))
                .Navigatable()
                .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(10)
                .ServerOperation(false)
                .Model(model =>
                {
                model.Id(o => o.ID);
                })
                .Read(read => read.Url("/api/EditCustomers/GetCustomer").Type(HttpVerbs.Get))))
            </div>
        </div>
    </div>
</div>

<div id="modalWindow">
    <h5>Are you sure?</h5>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>

@(Html.Kendo().Window()
    .Name("wndAdd")
    .Visible(false)
    .Modal(true))
@(Html.Kendo().Tooltip()
        .For("#gridcust")
        .Filter(".k-grid-Edit")
        .ContentHandler("toolTipContent")
        .Position(TooltipPosition.Top)
        .Width(30)
        .AutoHide(true) )
@(Html.Kendo().Tooltip()
        .For("#gridcust")
        .Filter(".k-grid-delete")
        .ContentHandler("toolTipContentforDelete")
        .Position(TooltipPosition.Top)
        .Width(45)
        .AutoHide(true) )

<script>

    function toolTipContent(e) {

        return e.target.context.innerText;
    }

    function toolTipContent(e) {


        return "Edit";
    }

    function toolTipContentforDelete(e) {

        return "Delete";
    }
</script>
<script>

    function getImage(data) {

        var Colors = {};
        var html;
        if (data.ID > 0 && data.Photo_Doc_Name != null) {
            html = "<img class='customer-photo' src='/Areas/BM_Management/Documents/Director/" + data.ID + "/" + data.Photo_Doc_Name + "'/>";
        } else {
            Colors = [
                "#42A5F5",
                "#008391",
                "#846600",
                "#CC0060",
                "#330099",];
            var result;
            var count = 0;
            //for (var prop in Colors)
            //    if (Math.random() < 1 / ++count) {
            //        result = prop;
            result = Colors[Math.floor(Math.random() * Colors.length)];
            var entityName = data.Name;
            var intials = entityName.charAt(0)

            html = "<span class='customer-photo textimage' style='text-align: center;color:white;background-color:" + result + "'><b>" + intials + "</b></span>"

            //}
        }
        return html;
    }
</script>
@*<script>

        $("#CreateNewCustomer").click(function (e) {
            e.preventDefault();

            var id = "target_iframe";

            var dialog = $("<div><iframe class='k-content-frame' name='" + id + "'></div>").kendoWindow({
                width: "400px",
                title: "Edit Customer",
                close: function () { this.destroy() },
                iframe: true
            });

            dialog.data("kendoWindow").center().open();

            $("<form />", {
                action: "/Areas_Secretarial/EditCustomer.aspx",
                method: "post",
                target: id
            })
                .hide().appendTo("body")
                // add any data
                .append("<input name='foo' />").find("[name=foo]").val("bar").end()
                .submit().remove();
        });



    </script>*@

<div id="divMyCustomers">
    <iframe id="IframeMyCustomers" src="about:blank" frameborder="0" height="610" width="800" loading="eager"></iframe>
</div>

<script>

    $("#CreateNewCustomer").click(function (e) {
        e.preventDefault();
        EditNewCust(e);
    });

    function EditNewCust(e) {
        e.preventDefault();
        //$("#wndAdd").attr("style", "min-height:100px;");

        $("#wndAdd").kendoWindow({
            title: "EditCustomer",
            modal: true,
        });

        //if (e.currentTarget.innerText != "New") {
        //    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //    var direction = "/Areas_Secretarial/EditCustomer.aspx?Id=" + dataItem.CustomerID;
        //    var wnd = $("#wndAdd").data("kendoWindow");
        //    var opts = wnd.options;
        //}
        //else {
        //    var direction = "/Areas_Secretarial/EditCustomer.aspx?Id=" + 0;
        //    var wnd = $("#wndAdd").data("kendoWindow");
        //    var opts = wnd.options;
        //}

        if (e.currentTarget.innerText != "New") {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

            $('#divMyCustomers').show();
            $('#IframeMyCustomers').attr('src', "@Url.Content("~/Areas_Secretarial/EditConfigurationCustomerWise.aspx")?Id=" + dataItem.CustomerID);
        }
        else {
            $('#divMyCustomers').show();
            $('#IframeMyCustomers').attr('src', "@Url.Content("~/Areas_Secretarial/EditConfigurationCustomerWise.aspx")");
        }
        var myWindowAdv = $("#divMyCustomers");

        var wnd = myWindowAdv.kendoWindow({
            pinned: true,
            width: "50%",
            height:"77%",

            title: "Add/Edit Customer Configuration",
            visible: false,
            modal: true,
            actions: ["Close"],

            refresh: function () { this.center(); OnRefresh(); },

            close: onClose,
            open: function (e) {
                OnOpen();
                $(this.element).closest(".k-window").css("position", "fixed")
                $(".k-overlay").attr('style', "opacity:0.5; display:block;");
            }
        }).data("kendoWindow");

        wnd.center();
        wnd.open();

        function onClose() {
            $(".k-overlay").attr('style', "opacity:0.5; display:none;");
        }

        function OnRefresh() {

            var wndcomplience = $("#divMyCustomers").data("kendoWindow");
            kendo.ui.progress(wndcomplience.element, false);
        }

        //kendo.ui.progress(wnd.element, true);
        // first click of the button - will automatically fetch the contentUrl
        wnd = $("#wndAdd").kendoWindow({
            // title: "Template",
            actions: ["Close"],
            //content: direction,
            width: "40%",
            height: "40%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () {
                //OnOpen();
                OnOpen();
            },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
                $('#gridcust').data('kendoGrid').dataSource.read();
                $('#gridcust').data('kendoGrid').refresh();

            }
        }).data("kendoWindow");
        // }
        //opts.width = "40%";
        //opts.height = "50%";
        //wnd.setOptions(opts);
        //wnd.center();
        //wnd.refresh(direction);
        //wnd.open();

    }

    function OnOpen(e) {

        var wnd = $("#wndAdd").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }

    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");

        var breadCrumbData = [
            {
                displayText: "Customer Configuration",
                navigateUrl: "#",
            }
        ];
        setBreadCrumb(breadCrumbData);
    });

     function deleteuserassignment(Id) {
        $.ajax({
            url: "/api/EditCustomers/DeleteCustomers?Id=" + Id,
            method: "DELETE",
            success: function () {
                alert("Selected Record Deleted Successfully");
                $('#gridcust').data('kendoGrid').dataSource.read();
                $('#gridcust').data('kendoGrid').refresh();
            }
        });
    }

    function DeleteCust(e) {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var Id = dataItem.ID;

        wnd.center().open();
        $("#yes").click(function () {
            deleteuserassignment(Id)
            grid.removeRow(row);
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
</script>
<!-- Filter Script-->
<script>
    function filterChange() {
        var filter = { logic: 'or', filters: [] };

        var t = $('#filter');
        if (t.val() != "") {
            filter.filters.push({ logic: "or", field: "CustomerID", operator: "contains", value: t.val() });

            filter.filters.push({ logic: "or", field: "Name", operator: "contains", value: t.val() });
        }

        if (filter != null) {
            $("#clearFilter").show();
        }
        else {
            $("#clearFilter").hide();
        }

        grid = $("#gridcust").data("kendoGrid");
        grid.dataSource.filter(filter);
    }

    function clearfilter(e) {

        var txtStartPeriod = $("#filter").val();

        if (txtStartPeriod != null && txtStartPeriod != undefined) {
            $("#filter").val("");
        }

        $('#clearFilter').css('display', 'none');

        $("#gridcust").data("kendoGrid").dataSource.filter({});
    }
</script>

<script>
    $('#filter').on('input', function (e) {
        filterChange();
    });
</script>




