﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

@{
    ViewBag.Title = "Upcoming Meetings";
}
<script>
    function GetLoggedinUserDetails(){
        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        return { custID : customerID, userID : loggedInUserID  }
    }

    function checkDates() {

        var startDate = $("#startDate").data("kendoDatePicker");
        var endDate = $("#endDate").data("kendoDatePicker");
        if (startDate.value() != '' && endDate.value() != '') {
            if (Date.parse(startDate.value()) > Date.parse(endDate.value())) {

                endDate.value(startDate.value());
            }
        }
    }

    //filter
    function ApplyFilter() {

        var gridListFilter = { logic: "and", filters: [] };

        var selectedEntitties = $("#ddlEndityDetails").data("kendoMultiSelect").value();
        var selectedMeeting = $("#Meetingtype").data("kendoMultiSelect").value();
        var fromDate = $("#startDate").data("kendoDatePicker").value();
        var ToDate = $("#endDate").data("kendoDatePicker").value();


        if ($.trim(selectedEntitties).length > 0) {
            var entityFilter = { logic: "or", filters: [] };

            //gridListFilter.logic = "or";   // a different logic 'or' can be selected
            $.each(selectedEntitties, function (i, v) {
                entityFilter.filters.push({ field: "EntityId", operator: "eq", value: v });
            });
            gridListFilter.filters.push(entityFilter);

        }

        if ($.trim(selectedMeeting).length > 0) {
            var MeetingFilter = { logic: "or", filters: [] };

            //gridListFilter.logic = "or";   // a different logic 'or' can be selected
            $.each(selectedMeeting, function (i, v) {
                MeetingFilter.filters.push({ field: "MeetingTypeId", operator: "eq", value: v });
            });
            gridListFilter.filters.push(MeetingFilter);

        }
        if ((fromDate != null || fromDate != undefined) && (ToDate != null || ToDate != undefined)) {
            var datefilter = { logic: "and", filters: [] };
            //gridListFilter.logic = "and";   // a different logic 'or' can be selected
            var startOfFilterDate = new Date(fromDate.getFullYear(), fromDate.getMonth(), fromDate.getDate());
            var endOfFilterDate = new Date(ToDate.getFullYear(), ToDate.getMonth(), ToDate.getDate());

            datefilter.filters.push({ field: "MeetingDate", operator: "gte", value: startOfFilterDate });
            datefilter.filters.push({ field: "MeetingDate", operator: "lte", value: endOfFilterDate });
            gridListFilter.filters.push(datefilter);
        }

        if (gridListFilter.filters.length > 0) {
            $('#clearfillter').css('display', 'block');
            var gridDataSource = $("#upcommingMeeting").data("kendoGrid").dataSource;
            gridDataSource.filter(gridListFilter);

        }

    }


    //function AddCompliance(e) {
    //    debugger;
    //    //EditCompliance();
    //    window.location.herf=
    //}

    function viewcalenderevent(e) {
        debugger;
        location.href = '@Url.Content("https://calendar.google.com/calendar")';
    }
    function OnOpen(e) {

        var wndcomplience = $("#divMyCompliances").data("kendoWindow");
        //kendo.ui.progress(wndcomplience.element, true);
        $(".k-overlay").attr('style', "opacity:0.5; display:block;");
    }
    function onClose() {
        $(".k-overlay").attr('style', "opacity:0.5; display:none;");
    }

    function OnRefresh() {

        var wndcomplience = $("#divMyCompliances").data("kendoWindow");
        //kendo.ui.progress(wndcomplience.element, false);
    }
</script>
<script>

    var notification = $("#staticNotification").kendoNotification({
        position: {
            top: 0,
            right: 200,
            pinning: true,
            button: false,
            hideOnClick: false,
            autoHideAfter: 3500
        }
    }).data("kendoNotification");

    $(document).ready(function () {
        var breadCrumbData = [
            {
                displayText: "My Meetings",
                navigateUrl: "#",
            },
            {
                displayText: "Upcoming",
                navigateUrl: "#",
            },
        ];

        setBreadCrumb(breadCrumbData);
    });

    function groupbuttonindex(item) {

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var gridData = grid.dataSource.view();
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        var uid=dataItem.uid;
        if (item.innerText == "No")
        {
            var btnNoId=item.id;
            dataItem.RSPV = "No";
            dataItem.dirty = true;
            var textboxID =   $(item).find("rdbRemark"+uid);
            $("#" + textboxID.selector).css("display", "block");
            $("#" + textboxID.selector).css("width", "90%");

            var btnyes= $(item).find("gropbtnyes"+uid);
            var btnmaybe= $(item).find("gropbtnmaybe"+uid);

            $("#" + btnyes.selector).css("background-color", "#e9e9e9");
            $("#" + btnyes.selector).css("color", "#2e2e2e");
            $("#" + btnyes.selector).css("color", "#2e2e2e;");

            $("#" + btnmaybe.selector).css("background-color", "#e9e9e9");
            $("#" + btnmaybe.selector).css("color", "#2e2e2e;");
            $("#" + btnmaybe.selector).css("color", "#2e2e2e");

            $("#" + btnNoId).css("background-color", "#ffdcda");

            $("#" + btnNoId).css("color","#b03830");

        }
        if(item.innerText == "Yes")
        {
            dataItem.RSPV = "Yes";

            var btnyesId = item.id;
            $("#" + btnyesId).css("background-color", "#d7fccd");
            $("#" + btnyesId).css("color", "#259987");
            $("#" + btnyesId).css("border-color", "#c5c5c5");
            var btnno= $(item).find("gropbtnno"+uid);
            var btnmaybe= $(item).find("gropbtnmaybe"+uid);

            $("#" + btnno.selector).css("background-color", "#e9e9e9");
            $("#" + btnno.selector).css("border-color", "#c5c5c5;");
            $("#" + btnno.selector).css("color", "#2e2e2e");

            $("#" + btnmaybe.selector).css("background-color", "#e9e9e9");
            $("#" + btnmaybe.selector).css("border-color", "#c5c5c5;");
            $("#" + btnmaybe.selector).css("color", "#2e2e2e");

            var textboxID =   $(item).find("rdbRemark"+uid);
            $("#" + textboxID.selector).css("display", "none");
            $("#" + textboxID.selector).val("");
            dataItem.ReasonforRSPV="";
            dataItem.dirty = true;
        }
        if(item.innerText == "Maybe")
        {

            var btnyesId = item.id;
            dataItem.RSPV = "Maybe";
            dataItem.dirty = true;
            var textboxID =   $(item).find("rdbRemark"+uid);
            $("#" + textboxID.selector).css("display", "block");
            $("#" + textboxID.selector).css("width", "90%");

            var btnMaybeId = item.id;
            $("#" + btnMaybeId).css("background-color", "#ffefc7");
            $("#" + btnMaybeId).css("border-color", "#6363cf");
            $("#" + btnMaybeId).css("color", "#cf8224");
            var btnno= $(item).find("gropbtnno"+uid);
            var btnyes= $(item).find("gropbtnyes"+uid);

            $("#" + btnno.selector).css("background-color", "#e9e9e9");
            $("#" + btnno.selector).css("color", "#2e2e2e");
            $("#" + btnno.selector).css("border-color", "#c5c5c5;");

            $("#" + btnyes.selector).css("background-color", "#e9e9e9");
            $("#" + btnyes.selector).css("color", "#2e2e2e");
            $("#" + btnyes.selector).css("border-color", "#c5c5c5;");


        }
    }


    function saveupcomingMeetings(item) {
        var grid = $("#upcommingMeeting").data("kendoGrid");
        kendo.ui.progress(grid.element, true);
        var notification = $("#staticNotification").kendoNotification({
            position: {
                top: 50,
                right: 600,
                pinning: true,
                button: false,
                hideOnClick: false,
                autoHideAfter: 3500
            }
        }).data("kendoNotification");

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        if ((dataItem.RSPV == "No" && (dataItem.ReasonforRSPV != null || dataItem.ReasonforRSPV !="")) || (dataItem.RSPV == "Maybe" && (dataItem.ReasonforRSPV != null || dataItem.ReasonforRSPV !="")) || (dataItem.RSPV == "Yes" && (dataItem.ReasonforRSPV == null || dataItem.ReasonforRSPV ==""))) {
            var MeetingListVM = { MeetingID: dataItem.MeetingID, participantId: dataItem.participantId, ReasonforRSPV: dataItem.ReasonforRSPV, RSPV: dataItem.RSPV }
            $.ajax({
                type: "POST",
                url: '@Url.Action("updateUpcommingresponse", "DirectorMeetings")',
                data: MeetingListVM,
                dataType: "json",
                cache: false,
                success: function (data) {
                    notification.show("Saved Successfully", "success");
                    kendo.ui.progress(grid.element, false);
                }
            });
        }
        else {
            kendo.ui.progress(grid.element, false);
            notification.show("Please enter reason", "warning");
        }
    }


    function showMinutesOfMeeting(item) {

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);

        //var direction = "@Url.Action("AgendaView", "MyMeetings")" + "?MeetingId=" + dataItem.MeetingID + "&ParticipantId=" + dataItem.participantId;
        var direction = "@Url.Content("~/Areas_Secretarial/AgendaDocumentViewer.aspx")" + "?meetingId=" + dataItem.MeetingID + "&ParticipantId=" + dataItem.participantId;
        $("#wndMOMPreview").attr("style", "min-height:480px;");

        //$("#wndMOMPreview").attr("style", "min-height:100px;");

        var wnd = $("#wndMOMPreview").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndMOMPreview").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "85%",
            visible: false,
            modal: true,
            iFrame: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");
        opts.width = "85%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }


    function showAgendaDocumentsNew(mappingId) {
        $("#wndAgendaDocument").kendoWindow({
            //  title: "Agenda It - " + dataItem.AgendaItemHeading,
            modal: true
        });

        var direction = "@Url.Action("AgendaDocuments", "Meetings")" + "?MeetingAgendaMappingID=" + mappingId;

        $("#wndAgendaDocument").attr("style", "min-height:100px;");

        var wnd = $("#wndAgendaDocument").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAgendaDocument").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "55%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                GetICons();
            }
        }).data("kendoWindow");

        opts.width = "55%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    $(function () {

        $("#select-period").kendoButtonGroup({
            select: function (e) {
                kendoConsole.log("selected index:" + e.indices);
            },
            index: 0
        });
    });

    $(function () {

        $(".select-period").kendoButtonGroup({
            select: function (e) {

            },
            index: 0
        });
    });

    function checkcalender(item) {

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        window.location.href = '@Url.Action("Createcalenderresponse", "DirectorMeetings")?Id=' + dataItem.id;

    }
</script>
<style>
    .btn-primary[disabled],
    .btn-primary[disabled].active,
    .btn-primary[disabled]:active,
    .btn-primary[disabled]:focus, .btn-primary[disabled]:hover {
        background-color: #d5d5d5;
        border-color: #d5d5d5;
        cursor: not-allowed !important;
    }

    .norecords {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .k-grid table {
        table-layout: fixed;
    }

    .k-button {
        height: 36px;
        border-radius: 4px;
        border: solid 1px #dadada;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #666;
        background-color: transparent;
    }


        .k-button.k-state-hover, .k-button:hover {
            color: #2e2e2e;
            border-color: #b6b6b6;
            background-color: #bcb4b0;
            background-image: url(textures/highlight.png);
            background-image: none,linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,0) 100%);
        }

    .k-grid td {
        line-height: 2.5em;
        white-space: inherit;
    }
</style>

<style>
    .calendar-box {
        width: 44px;
        margin: 0px auto;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 5px;
    }

    .calendar-month-text {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }

    .calendar-date-text {
        padding: 5px 0px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        border: solid 1.1px #008bcf;
        border: solid 1.1px #ade3fe;
        background-color: #e4f6ff;
        color: #008bcf;
        border-bottom-left-radius: 4.5px;
        border-bottom-right-radius: 4.5px;
        border: solid 1.1px #ade3fe;
        background-color: #e4f6ff;
        line-height: 1 !important;
    }

    .calendar-Header {
        border-radius: 8px;
        background-color: #ffffff;
    }

    .calendar-date-time {
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
    }

    .k-grid tr {
        box-sizing: border-box;
        box-shadow: rgb(221, 221, 221) 0px 1px 0px 0px;
    }

    .k-grid td {
        border-style: none;
    }

    .btn-yes, .btn-yes:hover {
        color: #259987;
        background-color: #d7fccd;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
    }

    .btn-no, .btn-no:hover {
        color: #b03830;
        background-color: #ffdcda;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
    }

    .btn-maybe, .btn-maybe:hover {
        color: #cf8224;
        background-color: #ffefc7;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
    }

    #upcommingMeeting .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }

    .k-grid tbody .k-button {
        border-radius: 4px;
    }

    label {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #646464;
    }
</style>

<script>
    function JoinMeetings(item) {

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        $.ajax({
            type: "POST",
            url: '@Url.Action("MarkAttendence", "DirectorMeetings")',
            data: { MeetingId: dataItem.MeetingID, ParticipantId: dataItem.participantId },
            dataType: "json",
            cache: false,
            success: function (data) {
                window.location.href = "@Url.Action("MeetingsDetails", "MainMeeting")?MeetingId=" + dataItem.MeetingID;
            }
        });
    }

    function clearfilter(e) {

        var entityfilter = $('#ddlEndityDetails').data("kendoMultiSelect").value();
        var meetingfilter = $('#Meetingtype').data("kendoMultiSelect").value();
        var fromdate = $("#startDate").data("kendoDatePicker").value();
        var Todate = $("#endDate").data("kendoDatePicker").value();


        if ((entityfilter != null && entityfilter != undefined) || (meetingfilter != null && meetingfilter != undefined) || (Todate != null && Todate != undefined) || (fromdate != null && fromdate != undefined)) {
            var multiSelect = $('#ddlEndityDetails').data("kendoMultiSelect");
            multiSelect.value([]);
            var multiSelect = $('#Meetingtype').data("kendoMultiSelect");
            multiSelect.value([]);
            $("#startDate").data("kendoDatePicker").value(null);
            $("#endDate").data("kendoDatePicker").value(null);

        }
        $('#clearfillter').css('display', 'none');

        $("#upcommingMeeting").data("kendoGrid").dataSource.filter({});
    }

    function setDataItemforRemark(item) {

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var row = $(item).closest("tr");
        var dataItem = grid.dataItem(row);
        dataItem.ReasonforRSPV = $(item).val();
        dataItem.dirty = true;

    }

    function GetMeetingName(meetingType, SrNo,FY, IsAdjourned){
        var strMeetingName='';
        var strMeetingNo='';

        if(SrNo==1){
            strMeetingNo=SrNo+'st';
        }else if(SrNo==2){
            strMeetingNo=SrNo+'nd';
        }else if(SrNo==3){
            strMeetingNo=SrNo+'rd';
        }else {
            strMeetingNo=SrNo+'th';
        }
        FY = FY != null ? FY : "";
        strMeetingName = strMeetingNo + '/' + FY + ' ' + meetingType +( IsAdjourned == true ? ' (<i>Adjourned</i>)' :'');
        //strMeetingName = strMeetingNo + '/' + FY + ' ' + meetingType + ' Meeting';
        return strMeetingName;
    }

    function GetMeetingsDetails(data) {

        var str = "";

        var color = "#017fbe";

        var day = moment(data.MeetingDated).format('DD');

        if (data.IsShorter == true) {
            str += "<div style='margin:10px 10px;'>"+
               " <table cellpadding='0' cellspacing='0' style='width:100%;'>"+
                   " <tbody>"+
                    "<tr>"+
                   "<td style='text-align:center; width:50px;'>"+
                        "<table cellpadding='0' cellspacing='0' class='calendar-box'>"+
                           "<tbody>"+
                                "<tr>"+
                                    "<td style='background-color:#017fbe;color:#ffffff;font-size:15px;line-height:10px;border-radius:4px 4px 0px 0px;'>" + data.Month + "</td>"+
                               "</tr>"+
                               "<tr>"+
                "<td class='calendar-date-text'>" + data.Day + "</td>" +
                               "</tr>"+
                //"<tr>" +
                //"<td style='background-color:#017fbe;color:#ffffff;font-size:15px;line-height:10px;border-radius:0px 0px 4px 4px;'>" + data.YearName + "</td>" +
                //"</tr>" +
                           "</tbody>"+
                         "</table>"+
                     "</td>"+
                     "<td>"+
                        "<h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>" + GetMeetingName(data.MeetingTypeName, data.MeetingSrNo, data.FY, data.IsAdjourned)  + "<label style='font-style: italic'>&nbsp(Shorter Notice)<label></h1>"+
                        "<p style='line-height:1.4;margin-bottom: 0px;font-weight:bold;'>" + data.EntityName + "</p>"+
                         "<p style='line-height:1.4;'><img src='/Areas/BM_Management/img/map-pointer.svg' />&nbsp;&nbsp;" + data.MeetingVenue + "</p>"+
                     "</td>"+
                   "</tr>"+
                   "</tbody>"+
                   "</table>"+
                "</div>";
        }
        else {
            str += "<div style='margin:10px 10px;'>"+
                "<table cellpadding='0' cellspacing='0' style='width:100%;'>"+
                  "<tbody>"+
                    "<tr>"+
                "<td style='text-align:center; width:50px;'>"+
                "<table cellpadding='0' cellspacing='0' class='calendar-box'>"+
                "<tbody>"+
                "<tr>"+
                "<td style='background-color:#017fbe;color:#ffffff;font-size:15px;line-height:10px;border-radius:4px 4px 0px 0px;'>" + data.Month + "</td>"+
                "</tr>"+
                "<tr>"+
                "<td class='calendar-date-text'>" + data.Day + "</td>"+
                "</tr>" +
                //"<tr>" +
                //"<td style='background-color:#017fbe;color:#ffffff;font-size:15px;line-height:10px;border-radius:0px 0px 4px 4px;'>" + data.YearName + "</td>" +
                //"</tr>" +
                "</tbody>"+
                "</table>"+
                "</td>"+
                "<td>"+
                "<h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>" + GetMeetingName(data.MeetingTypeName, data.MeetingSrNo, data.FY, data.IsAdjourned)  +"</h1>"+
                "<p style='margin-bottom: 0px;font-weight:bold;'>" + data.EntityName + "</p>"+
                "<p style='line-height:1.4;'><img src='/Areas/BM_Management/img/map-pointer.svg' />&nbsp;&nbsp;" + data.MeetingVenue + "</p>"+
                "</td>"+
                "</tr>"+
                "</tbody>"+
                "</table>"+
                "</div>";

        }
        return str;
    }

    function GetMeetingDate(data) {

        var str = "";

        str = "<span class='calendar-date-time'><img src='/Areas/BM_Management/img/time.svg' />&nbsp;&nbsp;" + data.DayName + ", " + data.MeetingTime + "<span>";
        return str;
    }

    function GetMeetingsgroupbuttons() {
        var str1 = "<div id='example'><div class='demo-section k-content'><div class='select-period'><span>Yes</span><span>No</span><span>Maybe</span></div></div></div>"
        return str1;
    }

    var initialLoad = true;
    function onRowBound() {

        DisplayNoResultsFound( $("#upcommingMeeting"),'No Upcoming Meetings to Show!');

        var grid = $("#upcommingMeeting").data("kendoGrid");
        var gridData = grid.dataSource.view();
        var data = grid.dataSource.data();

        RemoveAlternateRowColor('upcommingMeeting');

        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 0px 0px #DDDDDD");
        })

        $(".groupbutton").kendoButtonGroup({

        });

        var lookupEntity = {};
        var lstEntities = [];

        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            if (gridData[i].RSPV != null) {
                var remarktextbox = "rdbRemark" + currentUid

                if (gridData[i].RSPV == "Yes") {
                    var yesbtn = "gropbtnyes" + currentUid;

                    $("#" + yesbtn).addClass('btn-yes');

                    //$("#" + yesbtn).css("background-color", "#10bc83");
                    //$("#" + yesbtn).css("border-color", "#10bc83");
                    //$("#" + yesbtn).css("color", "white");
                    $("#" + remarktextbox).css("display", "none")
                }
                else if (gridData[i].RSPV == "No") {
                    var Nobtn = "gropbtnno" + currentUid;

                    $("#" + Nobtn).addClass('btn-no');

                    //$("#" + Nobtn).css("background-color", "#d03d3d");
                    //$("#" + Nobtn).css("border-color", "#d03d3d");
                    //$("#" + Nobtn).css("color", "white");
                    $("#" + remarktextbox).css("display", "block");
                    $("#" + remarktextbox).css("width", "90%");
                }
                else if (gridData[i].RSPV == "Maybe") {
                    var maybebtn = "gropbtnmaybe" + currentUid;

                    $("#" + maybebtn).addClass('btn-maybe');

                    //$("#" + maybebtn).css("background-color", "#6363cf");
                    //$("#" + maybebtn).css("border-color", "#6363cf");
                    //$("#" + maybebtn).css("color", "white");
                    $("#" + remarktextbox).css("display", "block");
                    $("#" + remarktextbox).css("width", "90%")
                }
            }
            var joinMeetingbutn = "btnjoinmeeting" + currentUid;

            if (gridData[i].MeetingTypeName == 'AGM' || gridData[i].MeetingTypeName == 'EGM') {
                $("#" + joinMeetingbutn).prop('disabled', true);
            }
            else if (gridData[i].CanStartMeeting && (!(gridData[i].IsConcluded))) {
                $("#" + joinMeetingbutn).prop('disabled', false);
            }
            else {
                $("#" + joinMeetingbutn).prop('disabled', true);
            }

            var EntityId = gridData[i].EntityId;
            if (!(EntityId in lookupEntity)) {
                lookupEntity[EntityId] = 1;
                lstEntities.push({ "Id": gridData[i].EntityId, "Name": gridData[i].EntityName });
            }
        }

        if (initialLoad) {
            initialLoad = false;

            var dsEntity = new kendo.data.DataSource({
                data: lstEntities,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Name: { editable: false },
                        },
                        hasChildren: false
                    }
                },
            });

            var ddlEntity = $("#ddlEndityDetails").data("kendoMultiSelect");
            ddlEntity.setDataSource(dsEntity);
        }

    }
</script>

<div class="row master-Headre">
    <div class="col-md-12 vertical-center">
        <div class="col-md-3 colpadding0">
            @(Html.Kendo().MultiSelect()
                .Name("Entity")
                .DataTextField("Name")
                .DataValueField("Id")
                .TagMode(TagMode.Single)
                .Filter("contains")
                .Placeholder("Company - All")
                .AutoWidth(true)
                .ClearButton(false)
                .ItemTemplate("<input type='checkbox'/>  #:data.Name# ")
                .TagMode(TagMode.Single)
                //.DataSource(source =>
                //{
                //    source.Read(read =>
                //    {
                //        read.Url("/api/EntityMasterAPI/DirectorAssignedEntities").Data("GetLoggedinUserDetails").Type(HttpVerbs.Get);
                //        //read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                //    }).ServerFiltering(false);
                //})
                .HtmlAttributes(new { style = "width: 97%", @Id = "ddlEndityDetails", autocomplete = "off" }))
        </div>

        <div class="col-md-3 colpadding0">
            @(Html.Kendo().MultiSelect()
                .Name("Meeting")
                .DataTextField("MeetingTypeName")
                .DataValueField("Id")
                .TagMode(TagMode.Single)
                .Filter("contains")
                .Placeholder("Meeting Type-All")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Url("/api/CommitteeCompAPI/GetMeetingTypeByCustomer").Type(HttpVerbs.Get);
                        //read.Url("/api/DirectorMeetings/GetMeeting").Type(HttpVerbs.Get);                        
                    }).ServerFiltering(false);
                })
                    .HtmlAttributes(new { style = "width: 97%", @Id = "Meetingtype", autocomplete = "off" }))
        </div>

        <div class="col-md-3 colpadding0 hidden">
            <div class="col-md-6 colpadding0">
                <label for="Todate" class="control-label">From Date</label>
                @Html.Kendo().DatePicker().Name("startDate").Format("dd/MM/yyyy").HtmlAttributes(new { @onchange = "checkDates()" })
            </div>
            <div class="col-md-6 colpadding0">
                <label for="Todate" class="control-label">To Date</label>
                @Html.Kendo().DatePicker().Name("endDate").Format("dd/MM/yyyy").HtmlAttributes(new { @onchange = "checkDates()" })
            </div>
        </div>

        <div class="col-md-1 colpadding0">
            <button type="button" class="btn btn-primary" style="width: 70%;height: 31px;" onclick="ApplyFilter()">Apply</button>
        </div>

        <div class="col-md-1 colpadding0" id="clearfillter" style="display:none">
            <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()">
                <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
            </button>
        </div>
    </div>
</div>

<div class="row colpadding0">
    <div class="col-md-12 colpadding0">
        <span id="staticNotification"></span>
    </div>
</div>

@(Html.Kendo().Window().Name("wndMOMPreview").Title("Agenda").Visible(false).Modal(true).Draggable(true).Scrollable(true))
@(Html.Kendo().Window().Name("wndAgendaDocument").Title("Agenda Document").Visible(false).Modal(true).Draggable(false).Pinned(true))

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.Dashboard.MeetingListVM>()
        .Name("upcommingMeeting")
        .NoRecords()
        .Columns(columns =>
        {
            columns.Bound(c => c.RSPV).Visible(false);
            columns.Bound(c => c.EntityId).Visible(false);
            columns.Bound(c => c.MeetingTypeId).Visible(false);
            columns.Bound(c => c.EntityName).Title("").ClientTemplate("<div>#= GetMeetingsDetails(data)#</div>").Width("40%").Sortable(false).Filterable(false);
            columns.Bound(c => c.MeetingDate).Title("").ClientTemplate("<div>#= GetMeetingDate(data)#</div>").Width("20%").Sortable(false).Filterable(false);
            columns.Bound(c => c.MeetingID).Title("").Width("40%").ClientTemplate(
                "<div class='row colpadding0 text-right'>" +
                    "<div class='col-md-12 colpadding0'>" +
                    "<div class='col-md-4 colpadding0'>" +
                     "<Label>RSVP</Label>" +
                     " </div>" +
                     "<div class='col-md-8 colpadding0'>" +
                        "<div class='groupbutton' Id='select-period#=data.uid#' style='width: 90%;'>" +
                            "<span onclick='groupbuttonindex(this);' id='gropbtnyes#=data.uid#' style='width:40%' class='gbtnyes'>Yes</span>" +
                             "<span onclick='groupbuttonindex(this);' id='gropbtnno#=data.uid#' style='width:40%'>No</span>" +
                             "<span onclick='groupbuttonindex(this);' id='gropbtnmaybe#=data.uid#' style='width:40%'>Maybe</span>" +
                        " </div>" +
                     "</div>" +
                     " </div>" +
                 "</div>" +

                 "<div class='row colpadding0 mt10 text-right'>" +
                     "<div class='col-md-12 colpadding0'>" +
                     "<div class='col-md-4 colpadding0'>" +
                     " </div>" +
                     "<div class='col-md-8 colpadding0'>" +
                         "<input style='display:none; float:right' id='rdbRemark#=data.uid#' style='width:100%' class='k-input k-textbox' type='textbox' style='width: 90%;' value='#=ReasonforRSPV !=null?ReasonforRSPV:' '#' onchange='setDataItemforRemark(this);' #=ReasonforRSPV # placeholder='Reason' />" +
                    " </div>" +
                     " </div>" +
                 "</div>" +

                 "<div class='row colpadding0 mt10 text-right'>" +
                     "<div class='col-md-12 colpadding0'>" +
                     "<button type='button' id='saveppcom#=data.uid#' class='btn btn-primary' onclick='saveupcomingMeetings(this)'>Save</button>" +
                     " <button type='button' id='agendappcom#=data.uid#' class='btn btn-primary' onclick='showMinutesOfMeeting(this)'>Agenda</button>" +
                     "  <button type='button' id='btnjoinmeeting#=data.uid#' class='btn btn-primary' onclick='JoinMeetings(this)'>Join Meeting</button>" +
                     "&nbsp<button type='button' id='btnaddtocalender#=data.uid#' class='btn btn-primary hidden' onclick='checkcalender(this)'>Add to Calendar</button>" +

                    "</div>" +
                "</div>").Sortable(false).Filterable(false);
        })
        .Events(e => e.DataBound("onRowBound"))
            .DataSource(dataSource => dataSource
            .WebApi()
            .PageSize(10)
            .ServerOperation(false)
            .Model(model =>
            {
                model.Id(o => o.MeetingID);
            })
          .Read(read => read.Action("UpcommingMetting", "DirectorMeetings"))
                          ).HtmlAttributes(new { @style = "width:100%" })
        )
    </div>
</div>

