﻿@using Kendo.Mvc.UI;
@model BM_ManegmentServices.VM.CommitteeCompVM

<div id="example">
    <div id="window">
        <!-- this will be the content of the popup -->

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)


        <div class="container" >

            <div class="row mt30">
                <div class="col-md-6 colpadding0">
                    @(Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { @class = "form-control k-textbox", @Id = "Name", style = "width: 90%" }))

                </div>
            </div>

        </div>
    </div>

</div>
