﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

@model BM_ManegmentServices.VM.Compliance.MyCompliancesVM
@{
    ViewBag.Title = "My Compliances";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

@Html.AntiForgeryToken()

<style>
    #gridMyCompliances.k-grid tbody tr{
    height: 40px;
}
</style>

<!-- Filter Script-->
<script>
    function getFilters() {
        debugger;
        var filter = { logic: "and", filters: [] };

        var ddlRoleId = $("#RoleId").data("kendoDropDownList");
        var roleID = ddlRoleId.value();

        var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");
        var mappingType = ddlMappingType.value();

        var ddlStatusFilter = $("#StatusFilter").data("kendoDropDownList");
        var statusFilter = ddlStatusFilter.value();

        if (roleID > 0) {
            filter.filters.push({ field: "RoleID", operator: "eq", value: parseInt(roleID) });
        }

        if (mappingType > 0) {

            if (mappingType == 1) {
                var filterMapping = { logic: "or", filters: [] };

                filterMapping.filters.push({ field: "MappingType", operator: "eq", value: "M" });
                filterMapping.filters.push({ field: "MappingType", operator: "eq", value: "A" });

                filter.filters.push(filterMapping);
            } else if (mappingType == 2) {
                filter.filters.push({ field: "MappingType", operator: "eq", value: "S" });
            }
            else if(mappingType == 3) {
                filter.filters.push({ field: "MappingType", operator: "eq", value: "D" });
            }

            //var ddlMeetings = $("#ddlMeetings").data("kendoDropDownList");
            //var meetingID = ddlMeetings.value();
            //if (meetingID > 0) {
            //    filter.filters.push({ field: "MeetingID", operator: "eq", value: parseInt(meetingID) });
            //}

            var ddlMeetings = $("#ddlMeetings").data("kendoMultiSelect");
            var selectedValuesMeetings = ddlMeetings.value();

            var filterMeetings = { logic: 'or', filters: [] };
            if (selectedValuesMeetings.length > 0) {
                for (var i = 0; i < selectedValuesMeetings.length; i++) {
                    filterMeetings.filters.push({ field: "MeetingID", operator: "eq", value: parseInt(selectedValuesMeetings[i]) });
                }
                filter.filters.push(filterMeetings);
            }
        }

        if (statusFilter != "" && statusFilter != "All") {
            filter.filters.push({ field: "StatusName", operator: "eq", value: statusFilter });
        }

        var ddlEntityId = $("#ddlEntityId").data("kendoMultiSelect");
        var selectedValues = ddlEntityId.value();

        var filterEntity = { logic: 'or', filters: [] };
        if (selectedValues.length > 0) {
            for (var i = 0; i < selectedValues.length; i++) {
                filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedValues[i]) });
            }
            filter.filters.push(filterEntity);
        }

        var ddlDirector = $("#ddlDirector").data("kendoMultiSelect");
        var selectedValuesDirector = ddlDirector.value();

        var filterDirector = { logic: 'or', filters: [] };
        if (selectedValuesDirector.length > 0) {
            for (var i = 0; i < selectedValuesDirector.length; i++) {
                filterDirector.filters.push({ field: "DirectorId", operator: "eq", value: parseInt(selectedValuesDirector[i]) });
            }
            filter.filters.push(filterDirector);
        }

        return filter;
    }

    function filterChange() {
        var filter = getFilters();
        grid = $("#gridMyCompliances").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<script>
    function ongridMyCompliancesDataBound(e) {

        //filterChange();
        $("#gridMyCompliances").kendoTooltip({
            filter: "td:nth-child(1)", //this filter selects the second column's cells
            position: "top",
            width: 400,
            content: function (e) {
                
                var dataItem = $("#gridMyCompliances").data("kendoGrid").dataItem(e.target.closest("tr"));
                var content = dataItem.CompanyName;
                return content;
            }
        }).data("kendoTooltip");

        $("#gridMyCompliances").kendoTooltip({
            filter: "td:nth-child(2)", //this filter selects the second column's cells
            position: "top",
            width: 400,
            content: function (e) {
                
                var dataItem = $("#gridMyCompliances").data("kendoGrid").dataItem(e.target.closest("tr"));
                var content = dataItem.Description;
                return content;
            }
        }).data("kendoTooltip");

        var grid = $("#gridMyCompliances").data("kendoGrid");
        //grid.thead.css("background-color", "green")
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

            $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
            $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        });

        GetICons();
        //
    }

    function ddlRoleChanged() {
        filterChange();
    }

    function ddlEntityIdChanged() {
        ddlMappingTypeChanged();
        //filterChange();
    }

    function ddlDirectorChanged() {
        ddlMappingTypeChanged();
        // filterChange();
    }

    function ddlMappingTypeChanged() {
        var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");
        var selectedValues = ddlMappingType.value();
        if (selectedValues == "1") {
            //$("#ddlMeetings").data("kendoDropDownList").value("");
            $("#ddlMeetings").data("kendoMultiSelect").value("");
            //
            $("#divMeetingList").removeClass('hidden');

            fillMeetings();
        }
        else {
            $("#divMeetingList").addClass('hidden');
        }

        if (selectedValues == "3") {
            $("#ddlEntityId").data("kendoMultiSelect").value("");
            $("#divddlDirector").removeClass('hidden');
            $("#divddlEntityId").addClass('hidden');

        } else {
            $("#ddlDirector").data("kendoMultiSelect").value("");
            $("#divddlEntityId").removeClass('hidden');
            $("#divddlDirector").addClass('hidden');
        }

        filterChange();
    }

    function ddlStatusFilterChanged() {
        filterChange();
    }

    function LoadCompliance(id, s) {

        var divgridComplianceAssignMessage = $("#divGridParent");
        divgridComplianceAssignMessage[0].innerHTML = "<div id='gridMyCompliances'></div>";

        kendo.ui.progress($("#divGridParent"), true);

        var model = new Object();
        model.RoleId = id;
        model.StatusId = s;

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetMyCompliances_Director", "MyCompliances")",
            data: JSON.stringify(model),//"{RoleId:" + id + ", StatusId : 1}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                kendo.ui.progress($("#divGridParent"), false);
                fillGridMyCompliances(response.MyCompliances);
                fillGridMyCompliancesMeetings(response.Meetings);
                fillDirectorDropdown(response.Directors);
            },
            failure: function (response) {
                kendo.ui.progress($("#divGridParent"), false);
            },
            error: function (response) {
                kendo.ui.progress($("#divGridParent"), false);
            }
        });
    }

    function fillDirectorDropdown(d) {
        var ddlDirector = $("#ddlDirector").data("kendoMultiSelect");
        var dataSource = new kendo.data.DataSource({
            data: d
        });
        ddlDirector.setDataSource(dataSource);
    }

    function fillMeetings() {
        var grid = $("#gridMyCompliancesMeetings").data("kendoGrid");
        var meetingData = grid.dataSource;
        meetingData.filter({});

        var ddlRoleId = $("#RoleId").data("kendoDropDownList");
        var roleID = ddlRoleId.value();

        var ddlEntityId = $("#ddlEntityId").data("kendoMultiSelect");
        var selectedValues = ddlEntityId.value();

        var filter = { logic: "and", filters: [] };
        if (roleID > 0) {
            filter.filters.push({ field: "RoleID", operator: "eq", value: parseInt(roleID) });
        }

        var filterEntity = { logic: 'or', filters: [] };
        if (selectedValues.length > 0) {
            for (var i = 0; i < selectedValues.length; i++) {
                filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedValues[i]) });
            }
            filter.filters.push(filterEntity);
        }

        meetingData.filter(filter);

        //var ddlMeetings = $("#ddlMeetings").data("kendoDropDownList");
        //var dataSource = new kendo.data.DataSource({
        //    data: meetingData.view()
        //});

        var ddlMeetings = $("#ddlMeetings").data("kendoMultiSelect");
        var dataSource = new kendo.data.DataSource({
            data: meetingData.view()
        });
        
        ddlMeetings.setDataSource(dataSource);
    }

    function fillGridMyCompliances(d) {
        debugger;
        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            schema: {
                model: {
                    id: "ScheduleOnID",
                    fields: {
                        ScheduleOnID: { editable: false },
                        Description: { editable: false },
                        RoleID: { editable: false },
                        EntityId: { editable: false },
                        MeetingID: { editable: false },
                        MappingType: { editable: false },
                    }
                }
            },
            pageSize: 10
        });
        
        var filter = getFilters();
        if (filter.filters.length > 0) {
            ds.filter(filter);
        }

        $("#gridMyCompliances").kendoGrid({
            //toolbar: kendo.template($("#myTemplateCompliance").html()),
            pageable: {
                alwaysVisible: true,
                refresh: false,
                pageSizes: [5, 10, 20, 100]
            },
            dataBound: ongridMyCompliancesDataBound,
            columns: [
                        //{ field: "RoleID", title: "RoleID" },
                        { field: "CompanyName", title: "Company", width: "15%", },
                        { field: "ShortDescription", title: "Compliance", width: "25%", attributes: { title: "#:Description#", style: 'white-space: nowrap;' } },
                        //{ field: "Description", title: "Description", width: "300px;", attributes: { title: "#:Description#" } },                        
                        { field: "Frequency", title: "Frequency", width: "5%", attributes: { style: 'white-space: nowrap;' } },
                        { field: "Period", title: "Period", width: "10%", attributes: { style: 'white-space: nowrap;' } },
                        { field: "StatusName", title: "Status", width: "10%", attributes: { style: 'white-space: nowrap;' } },
                        { field: "ScheduleOn", title: "Due Date", width: "10%", template: "#= ScheduleOn == null ? '' : kendo.toString(kendo.parseDate(ScheduleOn), \"dd-MMM-yyyy\")#", attributes: { style: 'white-space: nowrap;' } },
                         {
                             title: "Action", lock: true, width: "5%;",
                             command:
                                 [
                                    { name: "edit", text: "", iconClass: ".k-icon k-i-pencil", className: "ob-download", click: showScheduleDetailsClick },
                                 ],
                         }
            ],
            editable: false,
            noRecords: true,

            //sortable: true,
            //filterable: true,
            dataSource: ds
        });
    }

    function fillGridMyCompliancesMeetings(d) {

        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            schema: {
                model: {
                    id: "MeetingID",
                    fields: {
                        MeetingTitle: { editable: false },
                        EntityId: { editable: false },
                        MeetingID: { editable: false },
                    }
                }
            },
            pageSize: 10
        });

        $("#gridMyCompliancesMeetings").kendoGrid({
            columns: [
                        { field: "EntityId" },
                        { field: "RoleID" },
                        { field: "MeetingID" },
                        { field: "MeetingTitle" }
            ],
            editable: false,
            dataSource: ds
        });
    }

</script>

<!--popup schedule details-->
<script>
    function showScheduleDetailsClick(e) {
        e.preventDefault();
    
        var dropdownlist = $("#RoleId").data("kendoDropDownList");
        var roleId = dropdownlist.value();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("ScheduleDetails","MyCompliances")" + "?id=" + dataItem.ScheduleOnID + " &entityID=" + dataItem.EntityId + "&roleID=" + dataItem.RoleID;

        $("#wndScheduleDetails").attr("style", "min-height:100px;");

        var wnd = $("#wndScheduleDetails").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndScheduleDetails").kendoWindow({
            actions: ["Close"],
            content: direction,
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { onOpenWindow("wndScheduleDetails") },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");

        opts.width = "85%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

        $('#wndScheduleDetails').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');
    }

    function GetLoggedinUserDetails(){
        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        return { custID : customerID, userID : loggedInUserID  }
    }
</script>

<div class="Dashboard-white-widget">
    <div class="dashboard">

        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-1 colpadding0">
                    @(Html.Kendo().DropDownList()
                .Name("RoleId")
                .BindTo(new SelectList(new List<object> {                            
                            new {id=3,text="Performer"},
                            new {id=4,text="Reviewer"},
                            new {id=-1,text="Role-All"},
                }, "id", "text"))
                .Events(e => e.Change("ddlRoleChanged"))
                .HtmlAttributes(new { style = "width: 95%;" })
                    )
                </div>

                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().DropDownList()
                    .Name("StatusFilter")
                    .BindTo(new SelectList(new List<object> {
                                new {id="All",text="Status-All"},
                                new {id="Upcoming",text="Upcoming"},
                                new {id="Overdue",text="Overdue"},
                                new {id="Pending For Review",text="Pending for Review"},
                                //new {id="Not Complied",text="Not Complied"},
                                //new {id="Approved",text="Approved"},
                                //new {id="Rejected",text="Rejected"},
                                new {id="Closed-Timely",text="Closed-Timely"},
                                new {id="Closed-Delayed",text="Closed-Delayed"},
                    }, "id", "text"))
                    .Events(e => e.Change("ddlStatusFilterChanged"))
                    .HtmlAttributes(new { style = "width: 95%;" })
                    )
                </div>

                <div class="col-md-1 colpadding0">
                    @(Html.Kendo().DropDownList()
                .Name("ddlMappingType")
                .BindTo(new SelectList(new List<object> {
                            new {id=0,text="Type-All"},
                            new {id=1,text="Meeting"},
                            new {id=2,text="Statutory"},
                            new {id=3,text="Director"}
                }, "id", "text"))
                .Events(e => e.Change("ddlMappingTypeChanged"))
                .HtmlAttributes(new { style = "width: 95%;" })
                    )
                </div>
                
                <div id="divddlEntityId" class="col-md-3 colpadding0">
                    @(Html.Kendo().MultiSelect().Name("ddlEntityId")
                  .DataTextField("EntityName")
                  .DataValueField("Id")
                  .Placeholder("Company-All")
                  .TagMode(TagMode.Single)
                  .Filter("contains")
                  .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Data("GetLoggedinUserDetails").Type(HttpVerbs.Get);
                      })
                      .ServerFiltering(false);
                  })
                  .Events(e => e.Change("ddlEntityIdChanged"))
                   .HtmlAttributes(new { style = "width: 95%; height: 32px;", @Id = "ddlEntityId", autocomplete = "off" })
                    )
                </div>

                <div id="divMeetingList" class="col-md-3 colpadding0 hidden">
                    @(Html.Kendo().MultiSelect()
                .Name("ddlMeetings")
                //.OptionLabel("Meetings")
                .DataTextField("MeetingTitle")
                .DataValueField("MeetingID")
                .Placeholder("Select Meeting")
                .TagMode(TagMode.Single)
                .Events(e => e.Change("ddlRoleChanged"))
                .HtmlAttributes(new { style = "width: 95%;" })
                    )

                    <div id="divGridParent11" class="hidden">
                        <div id="gridMyCompliancesMeetings"></div>
                    </div>
                </div>

                <div id="divddlDirector" class="col-md-3 colpadding0 hidden">
                    @(Html.Kendo().MultiSelect()
                .Name("ddlDirector")
                //.OptionLabel("Meetings")
                .DataTextField("CompanyName")
                .DataValueField("DirectorId")
                .Placeholder("Director")
                .TagMode(TagMode.Single)
                .Events(e => e.Change("ddlDirectorChanged"))
                .HtmlAttributes(new { style = "width: 95%;" })
                    )
                </div>
            </div>
        </div>

        <div class="row colpadding0 mt10">
            <div class="col-md-12 colpadding0">
                <div id="divGridParent" style="min-height:450px;">
                    <div id="gridMyCompliances"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Window().Name("wndScheduleDetails").Title("Compliance").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))
@(Html.Kendo().Window().Name("wndDocViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))

<script>
    $(document).ready(function () {
        
        var breadCrumbData = [
            {
                displayText: "My Workspace",
                navigateUrl: "#",
            },
            {
                displayText: "My Compliances",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);

        LoadCompliance('@Model.RoleId','@Model.StatusId');
    });
</script>