﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;

@model BM_ManegmentServices.VM.Compliance.MyCompliancesVM
@{
    ViewBag.Title = "My Compliances";
    Layout = "~/Areas/BM_Management/Views/Shared/BM_layout.cshtml";
}

@Html.AntiForgeryToken()

<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .myMultiSelect .k-multiselect-wrap {
        overflow: auto;
        max-height: 34px;
        height: 34px;
    }

    .myMultiSelect2 .k-multiselect-wrap {
        overflow: auto;
        max-height: 63px;
        height: 63px;
    }

    .order-id {
        display: inline-block;
        min-width: 60px;
    }

    .ap-grid-h300 {
        min-height: 120px;
        max-height: 120px;
        overflow-x: no-display;
        overflow-y: auto;
    }
</style>

<style>
    .field-validation-error {
        color: #ff0000;
    }

    .k-current-page {
        display: none;
    }

    html .k-upload-empty {
        border-width: 1px;
    }

    .k-edit-form-container {
        position: relative;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .k-grid-delete {
        height: 32px;
        width: 33px;
        padding: 5px 0px 10px 0;
        overflow: hidden;
    }

    .fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

        .fieldlist li {
            list-style: none;
            padding-bottom: 2em;
        }

        .fieldlist label {
            display: block;
            padding-bottom: 1em;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            color: #444;
        }

    .mt5 {
        margin-top: 5px;
    }

    .mt10 {
        margin-top: 10px;
    }

    .mt20 {
        margin-top: 14px;
    }

    .mt30 {
        margin-top: 18px;
    }

    .k-grid-add {
        float: right;
        /*background-color: #1fd9e1;*/
        /*color: white;*/
    }
    /*.k-add
    {
        background-image:url("'../../../../Images/Add_new_icon.png'")
    }*/
    .k-edit-buttons {
        height: 43px;
        text-align: center;
    }

    label {
        color: black;
    }

    .ml-mr {
        margin-left: 2%;
    }
</style>

<style>
    /*.k-dropdown .k-dropdown-wrap {
           height: 26px;
        }
        .k-dropdown-wrap .k-input {
            line-height: 22px;
        }
        .k-dropdown-wrap .k-icon {
            position: relative;
            top: -4px;
        }*/

    #gridMyCompliances.k-grid tbody tr {
        height: 40px;
    }

    #gridMyCompliances.k-grid td {
        white-space: nowrap;
    }

    /*#ddlEntityId_taglist li {
        display:none;
    }*/
</style>

<style>
    .k-multiselect-clearable .k-multiselect-wrap {
    padding-right: 0em;
}
</style>
<!-- Filter Script-->
<script>
    function getFilters() {
        debugger;
        var filter = { logic: "and", filters: [] };

        var ddlRoleId = $("#RoleId").data("kendoDropDownList");
        var roleID = ddlRoleId.value();

        var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");
        var mappingType = ddlMappingType.value();

        var ddlStatusFilter = $("#StatusFilter").data("kendoDropDownList");
        var statusFilter = ddlStatusFilter.value();

        if (roleID > 0) {
            filter.filters.push({ field: "RoleID", operator: "eq", value: parseInt(roleID) });
        }

        if (mappingType > 0) {

            if (mappingType == 1) {
                var filterMapping = { logic: "or", filters: [] };

                filterMapping.filters.push({ field: "MappingType", operator: "eq", value: "M" });
                filterMapping.filters.push({ field: "MappingType", operator: "eq", value: "A" });

                filter.filters.push(filterMapping);
            } else if (mappingType == 2) {
                filter.filters.push({ field: "MappingType", operator: "eq", value: "S" });
            }
            else if (mappingType == 3) {
                filter.filters.push({ field: "MappingType", operator: "eq", value: "D" });
            }


            //var ddlMeetings = $("#ddlMeetings").data("kendoDropDownList");
            //var meetingID = ddlMeetings.value();
            //if (meetingID > 0) {
            //    filter.filters.push({ field: "MeetingID", operator: "eq", value: parseInt(meetingID) });
            //}

            var ddlMeetings = $("#ddlMeetings").data("kendoMultiSelect");
            var selectedValuesMeetings = ddlMeetings.value();

            var filterMeetings = { logic: 'or', filters: [] };
            if (selectedValuesMeetings.length > 0) {
                for (var i = 0; i < selectedValuesMeetings.length; i++) {
                    filterMeetings.filters.push({ field: "MeetingID", operator: "eq", value: parseInt(selectedValuesMeetings[i]) });
                }
                filter.filters.push(filterMeetings);
            }
            //
        }

        if (statusFilter != "") {
            filter.filters.push({ field: "StatusName", operator: "eq", value: statusFilter });
        }

        var ddlEntityId = $("#ddlEntityId").data("kendoMultiSelect");
        var selectedValues = ddlEntityId.value();

        var filterEntity = { logic: 'or', filters: [] };
        if (selectedValues.length > 0) {
            for (var i = 0; i < selectedValues.length; i++) {
                filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedValues[i]) });
            }
            filter.filters.push(filterEntity);
        }



        var ddlDirector = $("#ddlDirector").data("kendoMultiSelect");
        var selectedValuesDirector = ddlDirector.value();

        var filterDirector = { logic: 'or', filters: [] };
        if (selectedValuesDirector.length > 0) {
            for (var i = 0; i < selectedValuesDirector.length; i++) {
                filterDirector.filters.push({ field: "DirectorId", operator: "eq", value: parseInt(selectedValuesDirector[i]) });
            }
            filter.filters.push(filterDirector);
        }

        //
        var txtSearch = $('#filterSearch');
        if (txtSearch.val() != "") {
            var splittedData = txtSearch.val().trim().split(",");
            debugger;
            var filterComp = { logic: 'or', filters: [] };
            for (var i = 0; i < splittedData.length; i++) {
                if (splittedData[i].trim() != "") {
                    filterComp.filters.push({ field: "CompanyName", operator: "contains", value: splittedData[i].trim() });
                    filterComp.filters.push({ field: "ShortDescription", operator: "contains", value: splittedData[i].trim() });
                }
            }
            if (filterComp.filters.length > 0) {
                filter.filters.push(filterComp);
            }
        }

        //if (filter != null) {
        //    $("#clearfillter").show();
        //}
        //else {
        //    $("#clearfillter").hide();
        //}
        //
        return filter;
    }

    function filterChange() {
        var filter = getFilters();
        grid = $("#gridMyCompliances").data("kendoGrid");
        grid.dataSource.filter(filter);

        //var filter = { logic: 'or', filters: [] };

        //var txtSearch = $('#filterSearch');
        //if (txtSearch.val() != "") {
        //    var splittedData = txtSearch.val().trim().split(",");

        //    for (var i = 0; i < splittedData.length; i++) {
        //        if (splittedData[i].trim() != "") {
        //            filter.filters.push({ logic: "or", field: "CompanyName", operator: "contains", value: splittedData[i].trim() });
        //            filter.filters.push({ logic: "or", field: "ShortDescription", operator: "contains", value: splittedData[i].trim() });
        //        }
        //    }
        //}

        //if (filter != null) {
        //    $("#clearfillter").show();
        //}
        //else {
        //    $("#clearfillter").hide();
        //}

        //var grid = $("#gridMyCompliances").data("kendoGrid");
        //grid.dataSource.filter(filter);

    }
</script>

<script>
    var initialLoad = true;
    function ongridMyCompliancesDataBound(e) {

        //filterChange();
        $("#gridMyCompliances").kendoTooltip({
            filter: "td:nth-child(2)", //this filter selects the second column's cells
            position: "top",
            width: 200
            //content: function (e) {
            //    var dataItem = $("#gridMyCompliances").data("kendoGrid").dataItem(e.target.closest("tr"));
            //    var content = dataItem.Text;
            //    return content;
            //}
        }).data("kendoTooltip");

        $("#gridMyCompliances").kendoTooltip({
            filter: "td:nth-child(3)", //this filter selects the second column's cells
            position: "top",
            width : 300
        }).data("kendoTooltip");

        //New UI

        //var grid = $("#gridMyCompliances").data("kendoGrid");
        //var data = grid.dataSource.data();
        //$.each(data, function (i, row) {
        //    $('tr[data-uid="' + row.uid + '"] ').removeClass("k-alt");

        //    $('tr[data-uid="' + row.uid + '"] ').css("box-sizing", "border-box");
        //    $('tr[data-uid="' + row.uid + '"] ').css("box-shadow", "0px 0px 1px 0 #DDDDDD");
        //})
        //

        GetICons();
        //getGridborder(grid);
        $("#gridMyCompliances tr.k-alt").removeClass("k-alt");

        if (initialLoad) {
            BindAutoComplete();
            initialLoad = false;
        }

    }

    function ddlRoleChanged() {
        filterChange();
    }

    function ddlEntityIdChanged() {
        ddlMappingTypeChanged();
        //filterChange();
    }

    function ddlDirectorChanged() {
        ddlMappingTypeChanged();
       // filterChange();
    }

    function ddlMappingTypeChanged() {
        var ddlMappingType = $("#ddlMappingType").data("kendoDropDownList");
        var selectedValues = ddlMappingType.value();
        if (selectedValues == "1") {
            //$("#ddlMeetings").data("kendoDropDownList").value("");
            $("#ddlMeetings").data("kendoMultiSelect").value("");
            //
            $("#divMeetingList").removeClass('hidden');

            fillMeetings();
        }
        else {
            $("#divMeetingList").addClass('hidden');
        }


        if (selectedValues == "3") {
            $("#ddlEntityId").data("kendoMultiSelect").value("");
            $("#divddlDirector").removeClass('hidden');
            $("#divddlEntityId").addClass('hidden');

        } else {
            $("#ddlDirector").data("kendoMultiSelect").value("");
            $("#divddlEntityId").removeClass('hidden');
            $("#divddlDirector").addClass('hidden');
        }

        filterChange();
    }

    function ddlStatusFilterChanged()
    {
        var ddlStatusFilter = $("#StatusFilter").data("kendoDropDownList");
        var statusFilter = ddlStatusFilter.value();
        var newStatusId = "1";
        if(statusFilter == "Closed-Delayed" || statusFilter == "Closed-Timely" ){
            newStatusId = "4";
        }

        var oldStatusId = $("#hdnLatestStatusId").val();
        if(oldStatusId != newStatusId){
            $("#hdnLatestStatusId").val(newStatusId);
            LoadCompliance('@Model.RoleId',newStatusId);
        }
        else{
            filterChange();
        }
    }

    function LoadCompliance(id,s) {

        var divgridComplianceAssignMessage = $("#divGridParent");
        divgridComplianceAssignMessage[0].innerHTML = "<div id='gridMyCompliances'></div>";

        kendo.ui.progress($("#divGridParent"), true);

        var model = new Object();
        model.RoleId = id;
        model.StatusId = s;

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetMyCompliances", "MyCompliances")",
            data: JSON.stringify(model),//"{RoleId:" + id + ", StatusId : 1}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                kendo.ui.progress($("#divGridParent"), false);
                fillGridMyCompliances(response.MyCompliances);
                fillGridMyCompliancesMeetings(response.Meetings);
                fillDirectorDropdown(response.Directors);
            },
            failure: function (response) {
                kendo.ui.progress($("#divGridParent"), false);
            },
            error: function (response) {
                kendo.ui.progress($("#divGridParent"), false);
            }
    });
    }

    function fillDirectorDropdown(d) {
        var ddlDirector = $("#ddlDirector").data("kendoMultiSelect");
        var dataSource = new kendo.data.DataSource({
            data: d
        });
        ddlDirector.setDataSource(dataSource);
    }

    function fillMeetings() {


        var grid = $("#gridMyCompliancesMeetings").data("kendoGrid");
        var meetingData = grid.dataSource;
        meetingData.filter({});

        var ddlRoleId = $("#RoleId").data("kendoDropDownList");
        var roleID = ddlRoleId.value();

        var ddlEntityId = $("#ddlEntityId").data("kendoMultiSelect");
        var selectedValues = ddlEntityId.value();

        var filter = { logic: "and", filters: [] };
        if (roleID > 0) {
            filter.filters.push({ field: "RoleID", operator: "eq", value: parseInt(roleID) });
        }

        var filterEntity = { logic: 'or', filters: [] };
        if (selectedValues.length > 0) {
            for (var i = 0; i < selectedValues.length; i++) {
                filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedValues[i]) });
            }
            filter.filters.push(filterEntity);
        }

        meetingData.filter(filter);

        //var ddlMeetings = $("#ddlMeetings").data("kendoDropDownList");
        //var dataSource = new kendo.data.DataSource({
        //    data: meetingData.view()
        //});

        var ddlMeetings = $("#ddlMeetings").data("kendoMultiSelect");
        var dataSource = new kendo.data.DataSource({
            data: meetingData.view()
        });
        //


        ddlMeetings.setDataSource(dataSource);
    }

    function fillGridMyCompliances(d) {
        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            schema: {
                model: {
                    id: "ScheduleOnID",
                    fields: {
                        ScheduleOnID: { editable: false },
                        Description: { editable: false },
                        RoleID: { editable: false },
                        EntityId: { editable: false },
                        MeetingID: { editable: false },
                        MappingType: { editable: false },
                    }
                }
            },
            pageSize: 10
        });

        var filter = getFilters();
        if (filter.filters.length > 0) {
            ds.filter(filter);
        }

        $("#gridMyCompliances").kendoGrid({
            //toolbar: kendo.template($("#myTemplateCompliance").html()),
            columnMenu: {
                columns: false,
            },
            filterable: true,
            sortable: true,
            scrollable: true,
            pageable: {
                pageSizes: true
            },
            //pageable: {
            //    alwaysVisible: false,
            //    pageSizes: [5, 10, 20, 100]
            //},
            dataBound: ongridMyCompliancesDataBound,
            columns: [
                        //{ field: "RoleID", title: "RoleID" },
                        { field: "CompanyName", title: "Company/Director", width: "20%;", attributes: { "class": "showTooltip", style: 'white-space: nowrap;' }, sortable: true, filterable: { extra: false, multi: true, search: true, } },
                        { field: "ShortDescription", title: "Compliance", width: "50%;", attributes: { title: "#:Description#" } },
                        //{ field: "Description", title: "Description", width: "33%;", attributes: { title: "#:Description#" } },
                        { field: "ScheduleOn", title: "Due Date", width: "12%;", template: "#= ScheduleOn == null ? '' : kendo.toString(kendo.parseDate(ScheduleOn), \"dd-MMM-yyyy\")#" },
                        //{
                        //    field: "ScheduleOn", title: 'Due Date',
                        //    type: "date",

                        //    template: "#= kendo.toString(kendo.parseDate(ScheduleOn, 'yyyy-MM-dd'), 'dd-MMM-yyyy') #",
                        //    filterable: {
                        //        extra: false,
                        //        operators: {
                        //            string: {
                        //                eq: "Is equal to",
                        //                neq: "Is not equal to",
                        //                contains: "Contains"
                        //            }
                        //        }
                        //    }
                        //},
                        { field: "StatusName", title: "Status", width: "8%;" },
                        { command: { name: "edit", text: "", imageClass: "hoverCircle", iconClass: "hoverCircle", click: showScheduleDetailsClick }, title: "Action" }
            ],
            editable: false,
            groupable: true,
            dataSource: ds
        });
    }

    function fillGridMyCompliancesMeetings(d) {

        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            schema: {
                model: {
                    id: "MeetingID",
                    fields: {
                        MeetingTitle: { editable: false },
                        EntityId: { editable: false },
                        MeetingID: { editable: false },
                    }
                }
            },
            pageSize: 10
        });

        $("#gridMyCompliancesMeetings").kendoGrid({
            columns: [
                        { field: "EntityId" },
                        { field: "RoleID" },
                        { field: "MeetingID" },
                        { field: "MeetingTitle" }
            ],
            editable: false,
            dataSource: ds
        });
    }

</script>

<!--popup schedule details-->
<script>
    function onComplianceStatusRequest() {
        var wnd = $("#wndScheduleDetails").data("kendoWindow");
        kendo.ui.progress(wnd.element, true);
    }

    function onComplianceStatusResponse() {
        var wnd = $("#wndScheduleDetails").data("kendoWindow");
        kendo.ui.progress(wnd.element, false);
    }

    function showScheduleDetailsClick(e) {
        e.preventDefault();


        var dropdownlist = $("#RoleId").data("kendoDropDownList");
        var roleId = dropdownlist.value();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("ScheduleDetails","MyCompliances")" + "?id=" + dataItem.ScheduleOnID + " &entityID=" + dataItem.EntityId + "&roleID=" + dataItem.RoleID;

        $("#wndScheduleDetails").attr("style", "min-height:100px;");

        var wnd = $("#wndScheduleDetails").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndScheduleDetails").kendoWindow({
            actions: ["Close"],
            content: direction,
            visible: false,
            modal: true,
            refresh: function () { this.center(); },
            open: function () { onOpenWindow("wndScheduleDetails") },
            close: function (e) {
                $(this.element).empty();
                $(".k-overlay").attr('style', "opacity:0.5; display:none;");
            }
        }).data("kendoWindow");

        opts.width = "85%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();

        $('#wndScheduleDetails').parent().find('.k-window-titlebar,.k-window-actions').css('backgroundColor', '#f7f7f7');
    }

    function GetLoggedinUserDetails() {

        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID = @AuthenticationHelper.CustomerID;
        var userRole = '@AuthenticationHelper.Role';

        return { custID: customerID, userID: loggedInUserID, userRole: userRole }
    }
</script>

<div class="Dashboard-white-widget">
    <div class="dashboard">
        <div class="row master-Headre">
            <div class="col-md-12 vertical-center">
                <div class="col-md-2 colpadding0">
                    <div class="col-md-6 colpadding0">
                        @(Html.Kendo().DropDownList()
                                                .Name("RoleId")
                                                .BindTo(new SelectList(new List<object> {
                                                new {id=3,text="Performer"},
                                                new {id=4,text="Reviewer"},
                                                }, "id", "text"))
                                                .Events(e => e.Change("ddlRoleChanged"))
                                                .HtmlAttributes(new { style = "width: 95%;" })
                        )
                    </div>

                    <div class="col-md-6 colpadding0">
                        @(Html.Kendo().DropDownList()
                                                .Name("ddlMappingType")
                                                .BindTo(new SelectList(new List<object> {
                                                new {id=0,text="All"},
                                                new {id=1,text="Meeting"},
                                                new {id=2,text="Statutory"},
                                                new {id=3,text="Director"}
                                                }, "id", "text"))
                                                .Events(e => e.Change("ddlMappingTypeChanged"))
                                                .HtmlAttributes(new { style = "width: 95%;" })
                        )
                    </div>
                </div>

                <div class="col-md-2 colpadding0">
                    @(Html.Kendo().DropDownList()
                                .Name("StatusFilter")
                                .BindTo(new SelectList(new List<object> {
                                new {id="",text="All"},
                                new {id="Upcoming",text="Upcoming"},
                                new {id="Overdue",text="Overdue"},
                                new {id="Pending For Review",text="Pending For Review"},
                                new {id="In Progress",text="In Progress"},
                                //new {id="Not Complied",text="Not Complied"},
                                //new {id="Approved",text="Approved"},
                                new {id="Closed-Delayed",text="Closed-Delayed"},
                                new {id="Closed-Timely",text="Closed-Timely"},
                                new {id="Rejected",text="Rejected"},
                                new {id="Not Applicable",text="Not Applicable"},

                                }, "id", "text"))
                                .Events(e => e.Change("ddlStatusFilterChanged"))
                                .HtmlAttributes(new { style = "width: 97%;" })
                    )
                </div>

                <div id="divddlEntityId" class="col-md-3 colpadding0">
                    @(Html.Kendo().MultiSelect().Name("ddlEntityId")
                                        .DataTextField("EntityName")
                                        .DataValueField("Id")
                                        .Placeholder("Company-All")
                                        .TagMode(TagMode.Single)
                                        .Filter("contains")
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Url("/api/EntityMasterAPI/GetEntitiesDropDown").Data("GetLoggedinUserDetails").Type(HttpVerbs.Get);
                                                //read.Url("/api/EntityMasterAPI/GetDropDownforEntity").Type(HttpVerbs.Get);
                                            })
                                            .ServerFiltering(false);
                                        })
                                        .Events(e => e.Change("ddlEntityIdChanged"))
                                        .HtmlAttributes(new { style = "width: 98%; height: 32px;", @Id = "ddlEntityId", autocomplete = "off" })
                    )
                </div>

                <div id="divddlDirector" class="col-md-3 colpadding0 hidden">
                    @(Html.Kendo().MultiSelect()
                                            .Name("ddlDirector")
                                            //.OptionLabel("Meetings")
                                            .DataTextField("CompanyName")
                                            .DataValueField("DirectorId")
                                            .Placeholder("Director")
                                            .TagMode(TagMode.Single)
                                            .Events(e => e.Change("ddlDirectorChanged"))
                                            .HtmlAttributes(new { style = "width: 98%; height: 32px;", autocomplete = "off" })
                    )
                </div>

                <div id="divMeetingList" class="col-md-2 colpadding0 hidden">
                    @(Html.Kendo().MultiSelect()
                                    .Name("ddlMeetings")
                                    //.OptionLabel("Meetings")
                                    .DataTextField("MeetingTitle")
                                    .DataValueField("MeetingID")
                                    .Placeholder("Meetings")
                                    .TagMode(TagMode.Single)
                                    .Events(e => e.Change("ddlRoleChanged"))
                                    .HtmlAttributes(new { style = "width: 98%; height: 32px;", autocomplete = "off" })
                    )

                    <div id="divGridParent11" class="hidden">
                        <div id="gridMyCompliancesMeetings"></div>
                    </div>
                </div>

                <div class="col-md-3 colpadding0">
                    <input id='filterSearch' type="text" style="width:98%" placeholder="Search by Compliance, Company" autocomplete="off" onchange="filterChange()">
                    @*<div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" style="height:36px">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>*@
                </div>

            </div>
        </div>

        <div class="row colpadding0 mt10">
            <div class="col-md-12 colpadding0">
                <div id="divGridParent" style="min-height:450px;">
                    <div id="gridMyCompliances"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("hdnLatestStatusId",Model.StatusId)
@(Html.Kendo().Window().Name("wndScheduleDetails").Title("Compliance").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))
@(Html.Kendo().Window().Name("wndDocViewer").Title("Viewer").Visible(false).Modal(true).Draggable(true).Pinned(true).Scrollable(true))

<script>
    $(document).ready(function () {

        var breadCrumbData = [
            {
                displayText: "My Workspace",
                navigateUrl: "#",
            },
            {
                displayText: "My Compliances",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);

        LoadCompliance('@Model.RoleId','@Model.StatusId');
    });

    function reloadMyComplianceData(){
        var newStatusId = $("#hdnLatestStatusId").val();
        LoadCompliance('@Model.RoleId',newStatusId);
    }
</script>
<script>

    function BindAutoComplete() {
        var autoCompleteData = [];
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridMyCompliances', 'CompanyName'));
        autoCompleteData = autoCompleteData.concat(GetGridColumnValues('gridMyCompliances', 'ShortDescription'));

        debugger;
        if (autoCompleteData != null && autoCompleteData != undefined) {

            var ds = new kendo.data.DataSource({
                data: autoCompleteData,
                serverFiltering: false,
            });

            $("#filterSearch").kendoAutoComplete({
                //dataSource: autoCompleteData,
                dataSource: {
                    data: autoCompleteData,
                    serverFiltering: false,
                },
                clearButton: false,
                filter: "contains",
                placeholder: "Search by Compliance, Company",
                separator: ", ",
                change: AutoComplete_onChange,
            });
        }
    }

    function AutoComplete_onChange() {
        debugger;
        filterChange();
    }

</script>