﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Concluded Meetings";

}

<style>
    /*#DraftMinutes .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }*/

    .mt-1 {
        margin-top: 1%;
    }

    .k-badge-rounded {
        border-radius: .25rem;
    }

    .k-badge {
        padding: .25em .4em;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        box-sizing: border-box;
        color: inherit;
        background-color: transparent;
        font-size: 100%;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .k-badge-error {
        border-color: #e16e6a;
        color: #fff;
        background-color: #e16e6a;
    }

    .k-badge-success {
        border-color: #5ecab9;
        color: #fff;
        background-color: #5ecab9;
    }
</style>


<script type="text/javascript">
    function getConcludedMeetingsData(){
        var loggedInUserID = '@AuthenticationHelper.UserID';
        var customerID='@AuthenticationHelper.CustomerID';
        return { customerId: customerID, userId : loggedInUserID  }
    }

    function showMinutesOfMeetingNew(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //var direction = "@Url.Action("MOM", "MyMeetings")" + "?MeetingId=" + dataItem.MeetingID + "&DraftCirculationID=0";
        var meetingId = dataItem.MeetingID;
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetScheduleOnIDForMeetingEvent", "Meetings")",
            data: "{ 'meetingId' : " + dataItem.MeetingID + ", 'meetingEvent' : 'FinalizedMinutes'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger;
                if (response != null) {
                    if (response.result > 0) {
                        showMinutesOfMeetingUploaded(meetingId);
                    }
                    else {
                        showMinutesOfMeeting(meetingId);
                    }
                } else {
                    showMinutesOfMeeting(meetingId);
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    function showMinutesOfMeeting(metingId) {

        var direction = "@Url.Action("MOM", "MyMeetings")" + "?MeetingId=" + metingId + "&DraftCirculationID=0";

            $("#wndMOMPreview").attr("style", "min-height:100px;");

            var wnd = $("#wndMOMPreview").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndMOMPreview").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "85%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    $(this.element).empty();
                }
            }).data("kendoWindow");
            opts.width = "85%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
    }

    function showMinutesOfMeetingUploaded(metingId) {

        var direction = "@Url.Content("~/Areas_Secretarial/Doc_ViewerByScheduleOnId.aspx")" + "?meetingId=" + metingId +"&event=FinalizedMinutes" ;

            $("#wndMOMPreview").attr("style", "min-height:450px;");

            var wnd = $("#wndMOMPreview").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndMOMPreview").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "85%",
                visible: false,
                modal: true,
                iFrame: true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    $(this.element).empty();
                    $(".modal-backdrop").addClass('hidden');
                }
            }).data("kendoWindow");
            opts.width = "85%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
    }

    function showAgendaViewer(e) {

        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        //var direction = "@Url.Action("AgendaView", "MyMeetings")" + "?MeetingId=" + dataItem.MeetingID + "&ParticipantId=" + dataItem.participantId;
        var direction = "@Url.Content("~/Areas_Secretarial/AgendaDocumentViewer.aspx")" + "?meetingId=" + dataItem.MeetingID + "&ParticipantId=" + dataItem.participantId;
        $("#wndAgendaPreview").attr("style", "min-height:480px;");

        var wnd = $("#wndAgendaPreview").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAgendaPreview").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "85%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
            }
        }).data("kendoWindow");
        opts.width = "85%";

        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    function downloadMinutes(e) {
        debugger;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "@Url.Action("DownloadMinutesDocumnet", "Meetings")?MeetingId=" + dataItem.MeetingID;
    }
    function onRowBoundConcludeMeetings() {
        GetICons();
    }
</script>

<!-- Filter Script-->
<script>
    function getddlEntityFilterData(){
        var loggedInUserID = @AuthenticationHelper.UserID;
        var customerID=@AuthenticationHelper.CustomerID;

        return { custID : customerID, userID : loggedInUserID  }
    }

    function Getmyresponses(responses) {
        var str = "";
        debugger;
        if (responses != null || responses != "") {
            if (responses == "D") {
                str = "Disapprove";
            }
            else if (responses == "A") {
                str = "Approve";
            }
            else if (responses == "Atmeet") {
                str = "At Meeting";
            }
            else if (responses == "AB") {
                str = "Abstain";
            }
            else if (responses == "N") {
                str = "Noted";
            }

        }
        return str;
    }

    function filterChange() {

        var filter = { logic: 'and', filters: [] };

        var ddlEntityId = $("#ddlEntityFilter").data("kendoMultiSelect");
        var selectedValues = ddlEntityId.value();

        var filterEntity = { logic: 'or', filters: [] };
        if (selectedValues.length > 0) {
            for (var i = 0; i < selectedValues.length; i++) {
                filterEntity.filters.push({ field: "EntityId", operator: "eq", value: parseInt(selectedValues[i]) });
            }
            filter.filters.push(filterEntity);
        }

        //FY
        var ddlFY = $("#ddlFY").data("kendoDropDownTree");
        if(ddlFY!=null && ddlFY!=undefined){
            var selectedFYs = ddlFY._values;;

            var filterFY = { logic: 'or', filters: [] };
            if (selectedFYs.length > 0) {
                for (var i = 0; i < selectedFYs.length; i++) {
                    filterFY.filters.push({ field: "FY", operator: "eq", value: selectedFYs[i] });
                }
                filter.filters.push(filterFY);
            }
        }

        if (filter.filters.length > 0) {
            $('#clearfillter').css('display', 'block');
        }

        grid = $("#gridConcludeMeetings").data("kendoGrid");
        grid.dataSource.filter(filter);

    }

    function clearfilter(e) {
        var entityfilter = $('#ddlEntityFilter').data("kendoMultiSelect");
        entityfilter.value([]);

        var ddlFY = $("#ddlFY").data("kendoDropDownTree");
        if ((ddlFY != null && ddlFY != undefined)) {
            ddlFY.value([]);
        }
        $('#clearfillter').css('display', 'none');

        $("#gridConcludeMeetings").data("kendoGrid").dataSource.filter({});
    }

    function GetCircularDetails(data) {
        
        var str = "";

        var color = "#017fbe";

        var day = moment(data.MeetingDated).format('DD');

        str += "<div style='padding-bottom:4px;margin:10px 10px;'><table cellpadding='0' cellspacing='0' style='width:100%;table-layout:fixed;'><tbody><tr><td style='vertical-align:top;width:55px;text-align:center;'><table cellpadding='0' cellspacing='0' style='width:50px;margin:0px auto;border-radius:5px;'><tbody><tr><td style='background-color:#fff;color:black;font-size:15px;line-height:18px;border-radius:4px 4px 0px 0px;'>" + data.DayName + "</td></tr><tr><td style='background-color:#017fbe;border: 1px solid #eee;border-radius:2px;color:#ffffff;font-size:15px;line-height:18px;border-radius:4px 4px 0px 0px;'>" + data.Month + "</td></tr><tr><td style='color:#555555;font-size:20px;line-height:1;padding:5px 0px;background-color: #ffffff;border: 1px solid #eee;/* border-radius: 4px 4px 0px 0px; */'>" + data.Day + "</td></tr><tr><td style='background-color:#fff;color:black;font-size:15px;line-height:18px;border-radius:4px 4px 0px 0px;'></td></tr></tbody></table></td><td style='padding:0px 30px 0px 15px;vertical-align:top;'><h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>" + data.MeetingTitle + "</h1><p style='line-height:1.4;font-weight:bold;'>" + data.MeetingVenue + "</p><p style='line-height:1.4;margin-bottom: 0px;font-weight:bold;'>" + "" + "</p><p style='line-height:1.4;'></p></td></tr></tbody></table></div>";

        return str;
    }

    var initialLoad=true;
    function onRowBound() {
        GetICons();
        $("#gridConcludeMeetings tr.k-alt").removeClass("k-alt"); 
        
        if(initialLoad){
            fillFinancialYear();
            initialLoad=false;
        }
    }

    function fillFinancialYear() {
        
        // Gets the data source from the grid.
        var grid = $("#gridConcludeMeetings").data("kendoGrid");

        if(grid!=null && grid!=undefined){
            var meetingData = grid.dataSource;
            //meetingData.filter({});

            var dataFiltered = meetingData.dataFiltered();

            const result = [];
            const map = new Map();

            //var lookupEntity = {};
            //var lstEntities = [];

            $.each(dataFiltered, function(index, item){
                if(!map.has(item.FY)){
                    map.set(item.FY, true);    // set any value to Map
                    result.push({
                        FY: item.FY                      
                    });
                }

                //if (!(item.EntityId in lookupEntity)) {
                //    lookupEntity[item.EntityId] = 1;
                //    lstEntities.push({ "Id": item.EntityId, "EntityName": item.EntityName });
                //}

            });

            //BindEntityDropdown(lstEntities);
            BindFinancialYear(result);
        }
    }
    function BindEntityDropdown(d){
        var dsEntity = new kendo.data.DataSource({
            data: d,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        EntityName: { editable: false },
                    },
                    hasChildren: false
                }
            },
        });

        var ddlEntity = $("#ddlEntityFilter").data("kendoMultiSelect");
        ddlEntity.setDataSource(dsEntity);
    }

    function BindFinancialYear(dataSource) {  
        if ($('#ddlFY').data('kendoDropDownTree')) {
            $('#ddlFY').data('kendoDropDownTree').destroy();
            $('#divDDLFY').empty();
            $('#divDDLFY').append('<input id="ddlFY" data-placeholder="Financial Year" style="width: 95%;" />');
        }

        $("#ddlFY").kendoDropDownTree({
            placeholder: "Financial Year-All",
            filter: "contains",
            autoClose: true,
            tagMode: "single",
            checkboxes: true,
            checkAll: true,
            checkAllTemplate: "Select All",
            dataTextField: "FY",
            dataValueField: "FY",
            autoBind:false,
            //change: function (e) {
            //    ddlFY_SelectedIndexChanged();
            //},
            dataSource: dataSource
        });
    }

    function ddlFY_SelectedIndexChanged(){
        debugger;
        filterChange();
    }
</script>

<script type="text/x-kendo-template" id="present_template">
    <div>
        #if(Attendance == 'P' || Attendance == 'VC'){#
        <span class="k-badge k-badge-success k-badge-rounded">#:Present#</span>
        #}else{#
        <span class="k-badge k-badge-error k-badge-rounded">#:Present#</span>
        #}#
    </div>
</script>
<div>
    @(Html.Kendo().Tooltip()
                        .For("#gridConcludeMeetings")
                        .Filter(".k-grid-View")
                        .Position(TooltipPosition.Top)
                        .AutoHide(true)
                        .Content("Preview Agenda")
    )
    @(Html.Kendo().Tooltip()
                        .For("#gridConcludeMeetings")
                        .Filter(".k-grid-MI")
                        .Position(TooltipPosition.Top)
                        .AutoHide(true)
                        .Content("Preview Minutes")
    )
    @(Html.Kendo().Tooltip()
                        .For("#gridConcludeMeetings")
                        .Filter(".k-grid-download")
                        .Position(TooltipPosition.Top)
                        .AutoHide(true)
                        .Width(120)
                        .Content("Download Minutes")
    )
</div>

<div class="row master-Headre">
    <div class="col-md-12 vertical-center">
        <div class="col-md-4 colpadding0">
            @(Html.Kendo().MultiSelect()
            .Name("ddlEntityFilter")
            .ValuePrimitive(true)
            .DataValueField("Id")
            .DataTextField("EntityName")
            .Placeholder("Company - All")
            .TagMode(TagMode.Single)
            .Filter("contains")
            //.AutoBind(false)
            //.Events(e => e.Change("filterChange"))
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Url("/api/EntityMasterAPI/DirectorAssignedEntities").Data("getddlEntityFilterData").Type(HttpVerbs.Get);
                })
                .ServerFiltering(false);
            })
            .HtmlAttributes(new { style = "width: 95%;" }))
        </div>

        <div id="divDDLFY" class="col-md-2 colpadding0">
            <input id="ddlFY" class="form-control" data-placeholder="Financial Year" style="width: 95%;" />
        </div>

        <div class="col-md-1 colpadding0">
            <button type="button" class="btn btn-primary" onclick="filterChange()">Apply</button>
        </div>

        <div class="col-md-1 colpadding0" id="clearfillter" style="display:none">
            <button type="button" class="btn btn-default btn-sm ClearFilterbtn" onclick="clearfilter()">
                <img src="~/Areas/BM_Management/img/Vector.png" /> Clear Filter
            </button>
        </div>
    </div>
</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Window().Name("wndAgendaDocument").Title("Agenda Document").Visible(false).Modal(true).Draggable(false).Pinned(true))
        @(Html.Kendo().Window().Name("wndAgendaPreview").Title("Agenda").Visible(false).Modal(true).Draggable(false).Scrollable(true))
        @(Html.Kendo().Window().Name("wndMOMPreview").Title("Draft Resolution & Minutes").Visible(false).Modal(true).Draggable(false).Scrollable(true))

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.Dashboard.DraftMeetingListVM>()
                .Name("gridConcludeMeetings")
                .Columns(columns =>
                {
                    columns.Bound(p => p.AgendaID).Hidden(true);
                    columns.Bound(p => p.row_num).Hidden(true);
                    //columns.Bound(c => c.EntityName).Title("").ClientTemplate("<div>#= GetCircularDetails(data)#</div>").HtmlAttributes(new { style = "width:80%" }).Sortable(false).Filterable(false);
                    columns.Bound(p => p.EntityName).Title("Company").HtmlAttributes(new { title = "#= EntityName #" }).Sortable(true).Width("30%").Filterable(ftb => ftb.Multi(true).Search(true));
                    //columns.Bound(p => p.FY).Title("FY").HtmlAttributes(new { @style = "text-align:center" }).HeaderHtmlAttributes(new { @style = "text-align:center" }).Sortable(true).Width("10%").Filterable(ftb => ftb.Multi(true).Search(true));
                    //columns.Bound(p => p.MeetingTitle).HeaderTemplate("Meeting").HtmlAttributes(new { title = "#= MeetingTitle #" }).Sortable(true).Width("40%").Filterable(ftb => ftb.Multi(true).Search(true));
                    columns.Bound(p => p.MeetingTypeName).ClientTemplate("Meeting - #= MeetingTypeName # #=data.Quarter_ ==null ? '' : data.Quarter_ # #=getSrNo(data.MeetingSrNo)# - #=data.FY # #=data.IsAdjourned == true ? '(Adjourned)' :''#").HeaderTemplate("Meeting").HtmlAttributes(new { title = "" }).Sortable(true).Width("30%");
                    //columns.Bound(p => p.MeetingTypeName).ClientTemplate("#=data.MeetingTypeName# - #= MeetingTypeName # #=data.Quarter_ ==null ? '' : data.Quarter_ # [ #=data.MeetingSrNo# ] - #=data.FY_CY#").HeaderTemplate("Meeting").HtmlAttributes(new { title = "" }).Sortable(false).Width(270);
                    columns.Bound(p => p.MeetingDate).Title("Meeting Date").ClientTemplate("#= MeetingDate == null ? '' : kendo.toString(MeetingDate, \"MMM dd, yyyy\")#")
                    .HtmlAttributes(new { @style = "text-align:center" }).HeaderHtmlAttributes(new { @style = "text-align:center" }).Sortable(true).Width("10%");
                    columns.Bound(p => p.StartMeetingTime).Title("Start Time").HtmlAttributes(new { @style = "text-align:center" }).HeaderHtmlAttributes(new { @style = "text-align:center" }).Sortable(true).Width("5%").Filterable(ftb => ftb.Multi(true).Search(true));
                    columns.Bound(p => p.EndMeetingTime).Title("End Time").HtmlAttributes(new { @style = "text-align:center" }).HeaderHtmlAttributes(new { @style = "text-align:center" }).Sortable(true).Width("5%").Filterable(ftb => ftb.Multi(true).Search(true));
                    columns.Bound(p => p.Present).Title("Present").ClientTemplate("#if(Attendance == 'P' || Attendance == 'VC'){# <span class='k-badge k-badge-success k-badge-rounded'>#:Present#</span> #}else{# <span class='k-badge k-badge-error k-badge-rounded'>#:Present#</span>#}# ").HtmlAttributes(new { @style = "text-align:center" }).HeaderHtmlAttributes(new { @style = "text-align:center" });
                    //columns.Bound(p => p.MeetingVenue).HeaderTemplate("Stage").HtmlAttributes(new { title = "Draft" }).ClientTemplate("#=data.Stage#").Sortable(false).Width(100);
                    columns.Command(command =>
                    {
                        command.Custom("View").Click("showAgendaViewer").HtmlAttributes(new { @class = "k-grid-document" });
                        command.Custom("MI").Click("showMinutesOfMeetingNew").HtmlAttributes(new { @class = "k-grid-view" });
                        command.Custom("Download").Click("downloadMinutes").HtmlAttributes(new { @class = "k-grid-download" });
                        //command.Custom("D").HtmlAttributes(new { @class = "k-grid-d" });
                    }).Title("Action").Width("10%").HtmlAttributes(new { style = "text-align:center" }).HeaderHtmlAttributes(new { style = "text-align:center" });
                })
                .ClientDetailTemplateId("template")
                
                .EnableCustomBinding(true)
                .Events(e => e.DataBound("onRowBound"))
                .Events(e => e.DetailExpand("DetailsExpand"))
                .Navigatable()
                .Pageable(pageable => pageable
                .Refresh(false)
                .PageSizes(false)
                //.ButtonCount(5)
                )
                .Filterable()
                .Sortable()
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .ColumnMenu(col => col.Columns(false))
                .DataSource(dataSource => dataSource
                .WebApi()
                .PageSize(10)
                .ServerOperation(false)
                .Sort(sort => sort.Add("row_num").Descending())
                .Model(model =>
                {
                    model.Id(p => p.MeetingID);
                    model.Field(p => p.MeetingID).Editable(false);
                    model.Field(p => p.MeetingSrNo);
                    model.Field(p => p.row_num);
                })
                .Read(read => read.Url("/api/MyMeetings/ConcludedMeetings").Data("getConcludedMeetingsData"))))

        <script id="template" type="text/kendo-tmpl">

            @(Html.Kendo().Grid<BM_ManegmentServices.VM.MeetingAgendaSummary>()
                        .Name("grid_#=MeetingID#") // template expression, to be evaluated in the master context
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.AgendaResponse).Hidden(true);
                            columns.Bound(p => p.AgendaId).Hidden(true);
                            columns.Bound(p => p.MeetingAgendaMappingId).Hidden(true);
                            columns.Bound(p => p.AgendaFormate).ClientTemplate("\\#= data.AgendaFormate \\#").Title("Agenda").HtmlAttributes(new { @style = "width:60%" });
                            columns.Bound(p => p.AgendaResponse).ClientTemplate("\\#= Getmyresponses(data.AgendaResponse) \\#").Title("My Response").HtmlAttributes(new { @style = "width:20%;vertical-align:top;" });
                            columns.Bound(p => p.Result).Title("Overall Response").HtmlAttributes(new { @style = "width:20%;vertical-align:top;" });
                        })
                         .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Bottom))
                         .TableHtmlAttributes(new { @class = "Childgridtemplets" })
                         .DataSource(dataSource => dataSource
                            .Ajax()
                            .Batch(true)
                             .Model(model =>
                             {
                                 model.Id(o => o.AgendaId);
                                 model.Field(o => o.AgendaResponse).Editable(false);

                             })
                            .Read(read => read.Action("AgendaDetailswithvotingnoting", "DirectorMeetings", new { MeetingId = "#=MeetingID#" }))

                        )
                        // .Events(e => e.DataBound("ChildRowdatabound"))
                        .ToClientTemplate())


        </script>


        @(Html.Kendo().Tooltip()
        .For("#gridConcludeMeetings")
        .Filter(".k-grid-Agenda")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Agenda")
        .Events(e => e.Show("PositionTooltip")))

        @(Html.Kendo().Tooltip()
        .For("#gridConcludeMeetings")
        .Filter(".k-grid-Minutes")
        .Position(TooltipPosition.Bottom)
        .AutoHide(true)
        .Content("Minutes")
        .Events(e => e.Show("PositionTooltip")))
    </div>
</div>


<script>
    function DetailsExpand (e) {
        e.sender.tbody.find('.k-detail-row').each(function (idx, item) {
            if (item !== e.detailRow[0]) {
                debugger;
                e.sender.collapseRow($(item).prev());
            }
        })
    }


    function getSrNo(e) {
        return e == null ? '[ # ]' : '[ ' + e + ' ]';
    }

    $(document).ready(function () {
        //loadConcludedMeetings();
    });

    function loadConcludedMeetings() {
        //$('#btnApplyAgendaItem').addClass("hidden");
        kendo.ui.progress($("#gridConcludeMeetings"), true);
        $.ajax({
            type: "GET",
            url: "/api/MyMeetings/ConcludedMeetings",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
                kendo.ui.progress($("#gridConcludeMeetings"), false);
                fillGridConcludedMeetings(response);
            },
            failure: function (response) {
                kendo.ui.progress($("#gridConcludeMeetings"), false);
            },
            error: function (response) {
                kendo.ui.progress($("#gridConcludeMeetings"), false);
            }
        });
    }

    function fillGridConcludedMeetings(d) {
        
        var ds = new kendo.data.DataSource({
            data: d, //myJson.employees,
            pageSize: 10
        });

        var grid = $("#gridConcludeMeetings").kendoGrid({
            pageable: {
                alwaysVisible: true,
                pageSizes: [5, 10, 20, 100]
            },
            columns: [
                        { field: "MeetingTypeName", title: "Meeting", width: "150px;" },
                        { field: "MeetingDate", title: "Date", template: "#= MeetingDate == null ? '' : kendo.toString(kendo.parseDate(MeetingDate), \"dd-MMM-yyyy\")#" },
                        //{ field: "AgendaItem", title: "Agenda Item" },
                        //{ field: "IsAgendaSelect", title: "IsAgendaSelect", hidden: true },
                        { field: "MeetingTypeId", title: "MeetingTypeId", hidden: true }
            ],
            //dataSource: ds
            dataSource: {

                transport: {
                    read: {
                        url: "/api/MyMeetings/ConcludedMeetings",
                        dataType: "json",
                        type: 'GET'
                    }
                },
                schema: {
                    data: "Data",
                    type: "json"
                },
                serverFiltering: false,
                pageSize: 10,
            },
            editable: false,
            sortable: true,
            //filterable: true,
            groupable: false,
        });
    }
</script>

<script>

    function showAgendaDocumentsNew(mappingId) {
        $("#wndAgendaDocument").kendoWindow({
            //  title: "Agenda It - " + dataItem.AgendaItemHeading,
            modal: true
        });

        var direction = "@Url.Action("AgendaDocuments", "Meetings")" + "?MeetingAgendaMappingID=" + mappingId;

        $("#wndAgendaDocument").attr("style", "min-height:100px;");

        var wnd = $("#wndAgendaDocument").data("kendoWindow");
        var opts = wnd.options;

        wnd = $("#wndAgendaDocument").kendoWindow({
            actions: ["Close"],
            content: direction,
            width: "55%",
            visible: false,
            modal: true,
            refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
            open: function () { kendo.ui.progress(this.element, true); },
            close: function (e) {
                $(this.element).empty();
                GetICons();
            }
        }).data("kendoWindow");

        opts.width = "55%";
        wnd.setOptions(opts);
        wnd.center();
        wnd.open();
    }

    $(document).ready(function () {

        var breadCrumbData = [
            {
                displayText: "My Dashboard",
                navigateUrl: "/BM_Management/Dashboard/Dashboard",
            },
            {
                displayText: "Concluded Meetings",
                navigateUrl: "#",
            }

            //{
            //    displayText: "My Meetings",
            //    navigateUrl: "#",
            //},
            //{
            //    displayText: "Concluded Meetings",
            //    navigateUrl: "#",
            //}
        ];

        setBreadCrumb(breadCrumbData);
    });
</script>

