﻿@using Kendo.Mvc.UI;
@using com.VirtuosoITech.ComplianceManagement.Portal.Common;
@{
    ViewBag.Title = "Draft Minutes";
}

<style>
    /*#DraftMinutes .k-grid-header {
        height: 0;
        border-bottom-width: 0;
        display: none;
        overflow: hidden;
    }*/

    .calendar-date-text {
        padding: 5px 0px;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        border: solid 1.1px #008bcf;
        border: solid 1.1px #ade3fe;
        background-color: #e4f6ff;
        color: #008bcf;
        border-bottom-left-radius: 4.5px;
        border-bottom-right-radius: 4.5px;
        border: solid 1.1px #ade3fe;
        background-color: #e4f6ff;
        line-height: 1 !important;
    }

    .container .checkmarkava:after {
        left: 4px;
        top: 0px;
        width: 6px;
        height: 13px;
        border: solid #1976d2;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>

<!-- Draft Minutes Status-->
<style>
    .draft-status-label {
        color: #666;
    }
    .draft-status {
        text-align: center;
        /*margin-top: 2px;*/
        height: 21px;
        line-height: 1.6em;
        margin-left: 10px;
        margin-right: 10px;
        width: 20px;
    }
    .draft-status-received {
        background-color: #ffdcda;
        color: #b03830;
    }
    .draft-status-read {
        background-color: #ffefc7;
        color: #cf8224;
    }
    .draft-status-approved {
        background-color: #d7fccd;
        color: #259987;
    }
</style>

<script>
    function filterChange() {

        var filter = { logic: 'and', filters: [] };

        var ddlEntityType = $("#ddlEntityFilter").data("kendoDropDownList");
        var d = ddlEntityType.value();

        if (d > 0) {
            filter.filters.push({ logic: "and", field: "Entityt_Id", operator: "eq", value: parseInt(d) });
        }

        grid = $("#DraftMinutes").data("kendoGrid");
        grid.dataSource.filter(filter);
    }
</script>

<script>

    function GetMeetingsDetails(data) {
        
        var str = "";

        var color = "#017fbe";

        //var day = moment(data.MeetingDate).format('DD');
        //var DateOfDraftCirculation = moment(data.DateOfDraftCirculation).format('DD/MM/YYYY');
        //        str += "<div style='padding-bottom:4px;margin:10px 10px;'><table cellpadding='0' cellspacing='0' style='width:100%;table-layout:fixed;'><tbody><tr><td style='vertical-align:top;width:55px;text-align:center;'><table cellpadding='0' cellspacing='0' style='width:50px;margin:0px auto;border:1px solid rgb(224, 224, 224);border-radius:5px;'><tbody><tr><td style='background-color:#017fbe;color:#ffffff;font-size:14px;line-height:12px;border-radius:4px 4px 0px 0px;'>" + data.Month + "</td></tr><tr><td style='color:#555555;font-size:20px;line-height:1;padding:5px 0px;'>" + data.Day + "</td></tr></tbody></table></td><td style='padding:0px 30px 0px 15px;vertical-align:top;'><h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>" + data.MeetingTypeName + " Meeting</h1><p style='line-height:1.4;'></p><p style='line-height:1.4;margin-bottom: 0px;font-weight:bold;'>" + data.EntityName + "</p><p style='line-height:1.4;'></p></td></tr></tbody></table></div>";
        str = "<div style='padding-bottom:2px;margin:2px 2px;'>" +
            "<table cellpadding='0' cellspacing='0' style='width:100%;table-layout:fixed;'>" +
            "<tbody>" +
            "<tr>" +
            "<td style='vertical-align:top;width:55px;text-align:center;'>" +
            "<table cellpadding='0' cellspacing='0' style='width:50px;margin:0px auto;border:1px solid rgb(224, 224, 224);border-radius:5px;'>" +
            "<tbody>" +
            "<tr>" +
            "<td style='background-color:#017fbe;color:#ffffff;font-size:14px;line-height:12px;border-radius:4px 4px 0px 0px;'>" + data.Month + "</td>" +
            "</tr>" +
            "<tr>" +
            "<td class='calendar-date-text'>" + data.Day + "</td>" +
            "</tr>" +
            "</tbody>" +
            "</table>" +
            "</td>" +
            "<td style='padding:10px 10px 0px 10px;vertical-align:top;'>" +
            "<h1 style='cursor:pointer;font-size:16px;line-height:1.4;margin-top:0px;padding-bottom: 0px;margin-bottom: 0px;font-weight:bold;'>" + data.EntityName + "</h1>" +
            "<p style='line-height:1.4;font-weight:bold;'>" + data.MeetingTitle + "</p>"+
            "</td>" +
            "</tr>" +
            "</tbody>" +
            "</table>" +
            "</div>";
        return str;
    }

    function onRowBound() {
        GetICons();
    }
</script>

<script type="text/javascript">
    function showMinutesOfMeeting(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var direction = "@Url.Action("DraftMinutesView", "MyMeetings")" + "?MeetingId=" + dataItem.MeetingID + "&DraftCirculationID=" + dataItem.DraftCirculationID;

        //if (dataItem.IsMeetingCompleted == true) {

            $("#wndMOMPreview").attr("style", "min-height:100px;");

            var wnd = $("#wndMOMPreview").data("kendoWindow");
            var opts = wnd.options;

            wnd = $("#wndMOMPreview").kendoWindow({
                actions: ["Close"],
                content: direction,
                width: "85%",
                visible: false,
                modal: true,
                refresh: function () { this.center(); kendo.ui.progress(this.element, false); },
                open: function () { kendo.ui.progress(this.element, true); },
                close: function (e) {
                    
                   // var target = $('body .myComment');
                    //target.marker('destroy');
                    $(this.element).empty();
                    $('#DraftMinutes').data('kendoGrid').dataSource.read();
                }
            }).data("kendoWindow");
            opts.width = "85%";

            wnd.setOptions(opts);
            wnd.center();
            wnd.open();
        //}
    }
</script>

<script>
    function getUserDetails() {
         var loggedInUserID = '@AuthenticationHelper.UserID';
        var customerID = '@AuthenticationHelper.CustomerID';
        return {
            customerId: customerID, userId : loggedInUserID
        }
    }

    function GetDraftMinutesStatus(data) {
        
        var str = "";
        if (data.IsRead == false) {
            str = "<div class='draft-status draft-status-received'>&nbsp;</div>";
        }
        else if (data.IsApproved == true) {
            str = "<div class='draft-status draft-status-approved'>&nbsp;</div>";
        }
        else if (data.IsRead == true) {
            str = "<div class='draft-status draft-status-read'>&nbsp;</div>";
        }

        return str;
    }
</script>

<div class="row master-Headre">
    <div class="col-md-12 vertical-center">
        <div class="col-md-4 colpadding0">
            @(Html.Kendo().DropDownList()
                        .Name("ddlEntityFilter")
                        .ValuePrimitive(true)
                        .DataValueField("Id")
                        .DataTextField("EntityName")
                        .OptionLabel("Entity-All")
                        .Events(e => e.Change("filterChange"))
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Url("/api/EntityMasterAPI/GetDropDownEntityForMeeting").Type(HttpVerbs.Get);
                            })
                            .ServerFiltering(false);
                        }).HtmlAttributes(new { style = "width: 100%"}))
        </div>
        <div class="col-md-4 colpadding0">

        </div>
        <div class="col-md-4 colpadding0">
            <div class="col-md-4">
                <div class="col-md-4 colpadding0">
                    <div class='draft-status draft-status-received'></div>
                </div>
                <div class="col-md-8">
                    <span class="draft-status-label">Received</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4 colpadding0">
                    <div class='draft-status draft-status-read'></div>
                </div>
                <div class="col-md-8">
                    <span class="draft-status-label">Read</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4 colpadding0">
                    <div class='draft-status draft-status-approved'></div>
                </div>
                <div class="col-md-8">
                    <span class="draft-status-label">Approved</span>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row colpadding0 mt30">
    <div class="col-md-12 colpadding0">
        @(Html.Kendo().Window().Name("wndMOMPreview").Title("Draft Resolution & Minutes").Visible(false).Modal(true).Draggable(false).Scrollable(true))

        @(Html.Kendo().Grid<BM_ManegmentServices.VM.Dashboard.DraftMeetingListVM>()
        .Name("DraftMinutes")
        .Columns(columns =>
        {
            columns.Bound(c => c.EntityName).Title("")
            .ClientTemplate("<div>#= GetMeetingsDetails(data)#</div>").HtmlAttributes(new { style = "width:70%" }).Sortable(false).Filterable(false).Title("Meeting");
            columns.Bound(c => c.DateOfDraftCirculation).ClientTemplate("#= GetDraftMinutesStatus(data)#").Title("");
            //columns.Bound(c => c.DateOfDraftCirculation).Title("");
            columns.Bound(p => p.DateOfDraftCirculation).ClientTemplate("#= DateOfDraftCirculation == null ? '' : kendo.toString(DateOfDraftCirculation, \"dd-MMM-yyyy\")#").HeaderTemplate("Received Date").Sortable(false).Width("12%");
            columns.Bound(p => p.DueDateOfDraftCirculation).ClientTemplate("#= DueDateOfDraftCirculation == null ? '' : kendo.toString(DueDateOfDraftCirculation, \"dd-MMM-yyyy\")#").HeaderTemplate("Due Date").Sortable(false).Width("12%");
            columns.Command(command =>
            {
                //command.Custom("MI").Click("showMinutesOfMeeting").HtmlAttributes(new { @class = "k-grid-mom" });
                command.Custom("documents").Click("showMinutesOfMeeting").HtmlAttributes(new { @class = "hoverCircle" });
            }).Title("Action");
        })
        .Events(e => e.DataBound("onRowBound"))
        .DataSource(dataSource => dataSource
        .WebApi()
        .PageSize(10)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(o => o.MeetingID);
            model.Field(o => o.DraftCirculationID);
            model.Field(o => o.IsRead);
            model.Field(o => o.IsApproved);
        })
        .Read(read => read.Url("/api/MyMeetings/DraftMeetings").Data("getUserDetails"))
        ).HtmlAttributes(new { @style = "width:100%" }))
</div>
</div>

<script>
    $(document).ready(function () {

        var breadCrumbData = [
            {
                displayText: "My Meetings",
                navigateUrl: "#",
            },
            {
                displayText: "Draft Minutes",
                navigateUrl: "#",
            }
        ];

        setBreadCrumb(breadCrumbData);
    });
</script>