﻿@model BM_ManegmentServices.VM.VMOTP
@{
    Layout = null;
}

<style>
    #wrapper {
        font-family: Lato;
        font-size: 1.5rem;
        text-align: center;
        box-sizing: border-box;
        color: #333;
    }
    #dialog {
        border: solid 1px #ccc;
        margin: 10px auto;
        padding: 20px 30px;
        display: inline-block;
        box-shadow: 0 0 4px #ccc;
        background-color: #FAF8F8;
        overflow: hidden;
        position: relative;
        max-width: 450px;
    }
    h3 {
      margin: 0 0 10px;
      padding: 0;
      line-height: 1.25;
    }

    span {
      font-size: 90%;
    }

    #formOTP {
        max-width: 240px;
        margin: 25px auto 0;
    }
   
      button {
        margin:  30px 0 50px;
        width: 100%;
        padding: 6px;
        background-color: #25e2e2;
        border: none;
        text-transform: uppercase;
      }
  
    div {
      position: relative;
      z-index: 1;
    }

    img {
      position: absolute;
      bottom: -70px;
      right: -63px;
    }
 input[type="number"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="number"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
    </style>

<div class="cantainer">
    <div class="row">
        <div class="col-md-12 colpadding0">
            @Html.Partial("_PartialOtpforMeeting", Model);
        </div>
    </div>
</div>